Repository langchain-ai/langchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @baskaryan, @ccurme, @eyurtsev, @mdrxy

revert some changes introduced in e8f76e506f331408c53cc224a1c252376b59f008
  libs/partners/openai/langchain_openai/chat_models/base.py
Owners: @mdrxy

resolve griffe warnings
  libs/core/langchain_core/messages/utils.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/langchain/embeddings/cache.py
Owners: @eyurtsev

update standard tests
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Owners: @mdrxy

fix some unrelated docstrings in standard-tests
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Owners: none

Update libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Owners: none

fix(openai): fix tests on v1 branch (#33189)
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Owners: @mdrxy

chore(langchain_v1): use list[str] for modifyModelRequest (#33166)
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Owners: none

fail condition
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Owners: none

fix tests
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Owners: none

feat(langchain_v1): add `async` support for `create_agent` (#33175)
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/planning.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Owners: none

can jump to
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
Owners: none

Redirects
  docs/src/theme/NotFound/Content/index.js
  docs/vercel.json
Owners: none

fix
  docs/vercel.json
Owners: none

fix(docs): Redirects (#33190)
  docs/src/theme/NotFound/Content/index.js
  docs/vercel.json
Owners: none

can jump to
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
Owners: none

more testing
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_decorators.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
Owners: none

round 1
  libs/cli/langchain_cli/namespaces/migrate/.grit/patterns/langchain_to_core.json
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/load/mapping.py
  libs/core/langchain_core/prompts/__init__.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/pipeline.py
  libs/core/langchain_core/prompts/prompt.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/langchain_v1.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_imports.py
  libs/core/tests/unit_tests/prompts/test_pipeline_prompt.py
  libs/langchain/langchain/agents/openai_functions_agent/base.py
  libs/langchain/langchain/agents/openai_functions_multi_agent/base.py
  libs/langchain/langchain/callbacks/__init__.py
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/callbacks/tracers/__init__.py
  libs/langchain/langchain/callbacks/tracers/langchain_v1.py
  libs/langchain/langchain/prompts/__init__.py
  libs/langchain/langchain/prompts/pipeline.py
  libs/langchain/langchain/schema/callbacks/manager.py
  libs/langchain/langchain/schema/callbacks/tracers/langchain_v1.py
  libs/langchain/tests/unit_tests/callbacks/test_imports.py
  libs/langchain/tests/unit_tests/callbacks/test_manager.py
  libs/langchain/tests/unit_tests/prompts/test_imports.py
  libs/langchain/tests/unit_tests/prompts/test_pipeline.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/tools.py
Owners: @eyurtsev

rount 2
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/loading.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/tests/unit_tests/utils/test_imports.py
  libs/langchain/langchain/prompts/loading.py
  libs/langchain/langchain/utilities/loading.py
  libs/langchain/langchain/utils/loading.py
  libs/langchain/tests/unit_tests/prompts/test_loading.py
Owners: @eyurtsev

round 3
  libs/core/langchain_core/chat_history.py
  libs/core/tests/unit_tests/runnables/test_history.py
Owners: @eyurtsev

lint
  libs/langchain/langchain/agents/openai_functions_agent/agent_token_buffer_memory.py
  libs/partners/openai/tests/integration_tests/llms/test_base.py
Owners: @mdrxy

undo vertex
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/block_translators/google_vertexai.py
Owners: @eyurtsev

feat(core): genai standard content (#32987)
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/block_translators/__init__.py
  libs/core/langchain_core/messages/block_translators/google_genai.py
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/langchain/uv.lock
  libs/langchain_v1/uv.lock
  libs/text-splitters/uv.lock
Owners: @eyurtsev

init
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/block_translators/google_vertexai.py
Owners: @eyurtsev

fix locks/make filetype optional dep
  libs/cli/uv.lock
  libs/core/langchain_core/messages/block_translators/google_genai.py
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/uv.lock
  libs/partners/groq/uv.lock
  libs/partners/huggingface/uv.lock
  libs/partners/mistralai/uv.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
  libs/partners/xai/uv.lock
  libs/standard-tests/uv.lock
Owners: @eyurtsev, @mdrxy

fix(ollama): handle `ImageContentBlock`
  libs/partners/ollama/langchain_ollama/chat_models.py
Owners: @mdrxy

feat(langchain): use decorators for jumps instead (#33179)
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_decorators.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/uv.lock
Owners: none

bump lock
  libs/partners/ollama/uv.lock
Owners: @mdrxy

rename
  libs/langchain_v1/langchain/agents/middleware/call_tracking.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Owners: none

boom
  libs/langchain_v1/langchain/agents/middleware/call_tracking.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Owners: none

docs
  libs/langchain_v1/langchain/agents/middleware/call_tracking.py
Owners: none

call tracking
  libs/langchain_v1/langchain/agents/middleware/call_tracking.py
Owners: none

updates
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/tests/unit_tests/test_auth.py
Owners: @mdrxy

fix test
  libs/partners/ollama/tests/unit_tests/test_auth.py
Owners: @mdrxy

rfc
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
Owners: @mdrxy

feat(ollama): add basic auth support (#32328)
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/tests/unit_tests/test_auth.py
  libs/partners/ollama/uv.lock
Owners: @mdrxy

description generator
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Owners: none

first pass at pii middleware
  libs/langchain_v1/langchain/agents/middleware/README_PII_REDACTION.md
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/pii_redaction.py
  libs/langchain_v1/tests/unit_tests/agents/test_pii_redaction_middleware.py
Owners: none

initial port for llm tool selector
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/llm_tool_selector.py
  libs/langchain_v1/tests/unit_tests/agents/test_llm_tool_selector_middleware.py
  libs/langchain_v1/uv.lock
Owners: none

remove readme
  libs/langchain_v1/langchain/agents/middleware/README_PII_REDACTION.md
Owners: none

refactor(ollama): clean up tests
  libs/partners/ollama/langchain_ollama/__init__.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
  libs/partners/ollama/tests/integration_tests/test_llms.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/tests/unit_tests/test_embeddings.py
  libs/partners/ollama/tests/unit_tests/test_llms.py
Owners: @mdrxy

.github/CODEOWNERS:

/.github/   @baskaryan @ccurme @eyurtsev
/libs/core/ @eyurtsev
/libs/partners/ @mdrxy
/libs/packages.yml   @ccurme
