Repository langchain-ai/langchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @baskaryan, @ccurme, @eyurtsev, @mdrxy

release(ollama): 0.3.10
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Owners: @mdrxy

release(ollama): 0.3.10 (#33210)
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Owners: @mdrxy

chore(langchain): cleanup langchain_v1 ruff config
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/langchain/_internal/_prompts.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/agents/structured_output.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/langchain/embeddings/cache.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/scripts/check_imports.py
  libs/langchain_v1/tests/integration_tests/cache/fake_embeddings.py
  libs/langchain_v1/tests/integration_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/agents/any_str.py
  libs/langchain_v1/tests/unit_tests/agents/conftest.py
  libs/langchain_v1/tests/unit_tests/agents/messages.py
  libs/langchain_v1/tests/unit_tests/agents/model.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent_graph.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses.py
  libs/langchain_v1/tests/unit_tests/agents/test_responses_spec.py
  libs/langchain_v1/tests/unit_tests/agents/test_return_direct_spec.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_base.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_caching.py
  libs/langchain_v1/tests/unit_tests/stubs.py
  libs/langchain_v1/tests/unit_tests/test_dependencies.py
  libs/langchain_v1/tests/unit_tests/test_pytest_config.py
Owners: none

fix(langchain): improve and fix typing
  libs/langchain/langchain/agents/output_parsers/tools.py
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/langchain/chains/openai_functions/citation_fuzzy_match.py
  libs/langchain/langchain/retrievers/document_compressors/listwise_rerank.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/mock_servers/robot/server.py
  libs/langchain/tests/unit_tests/agents/test_agent_iterator.py
  libs/langchain/tests/unit_tests/agents/test_openai_assistant.py
  libs/langchain/tests/unit_tests/output_parsers/test_retry.py
  libs/langchain/tests/unit_tests/smith/evaluation/test_runner_utils.py
  libs/langchain/tests/unit_tests/utils/test_iter.py
  libs/langchain/uv.lock
Owners: none

docs(openai): use text property instead of method
  docs/docs/integrations/chat/openai.ipynb
Owners: none

bumps
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Owners: none

chore(infra): add `text-splitters` labeling
  .github/pr-file-labeler.yml
Owners: @baskaryan, @ccurme, @eyurtsev

docs(openai): use text property instead of method (#33211)
  docs/docs/integrations/chat/openai.ipynb
Owners: none

chore(infra): add `text-splitters` labeling (#33213)
  .github/pr-file-labeler.yml
Owners: @baskaryan, @ccurme, @eyurtsev

refactor(text-splitters): drop python 3.9 (#33212)
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Owners: none

release(text-splitters): 1.0.0a1
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Owners: none

style(infra): update release guidelines for IDE autogen
  .github/workflows/pr_lint.yml
Owners: @baskaryan, @ccurme, @eyurtsev

style(infra): update release guidelines for IDE autogen (#33215)
  .github/workflows/pr_lint.yml
Owners: @baskaryan, @ccurme, @eyurtsev

release(text-splitters): 1.0.0a1 (#33214)
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Owners: none

chore(infra): update integration test workflow
  .github/workflows/_integration_test.yml
  .github/workflows/integration_tests.yml
  docs/docs/contributing/how_to/integrations/from_template.mdx
Owners: @baskaryan, @ccurme, @eyurtsev

.github/CODEOWNERS:

/.github/   @baskaryan @ccurme @eyurtsev
/libs/core/ @eyurtsev
/libs/partners/ @mdrxy
/libs/packages.yml   @ccurme
