Repository langchain-ai/langchain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @baskaryan, @ccurme, @eyurtsev, @mdrxy

test(chat): add xfail regression tests for Hugging Face init_chat_model
  libs/langchain/tests/unit_tests/chat_models/test_init_chat_model_hf.py
Owners: none

test(huggingface): remove requires marker to avoid extended-tests install check
  libs/langchain/tests/unit_tests/chat_models/test_init_chat_model_hf.py
Owners: none

test(huggingface): ruff fixes; remove requires marker for extended tests
  libs/langchain/tests/unit_tests/chat_models/test_init_chat_model_hf.py
Owners: none

docs(huggingface): conform chat page to required headers
  docs/docs/integrations/chat/huggingface.mdx
Owners: none

tests(huggingface): fix docstring formatting to satisfy D205
  libs/langchain/tests/unit_tests/chat_models/test_init_chat_model_hf.py
Owners: none

docs(huggingface): add pipeline→wrap guide; note upcoming init_chat_model support
  docs/docs/integrations/chat/huggingface.mdx
Owners: none

refactor(ollama): clean up tests (#33198)
  libs/partners/ollama/langchain_ollama/__init__.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
  libs/partners/ollama/tests/integration_tests/test_llms.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/tests/unit_tests/test_embeddings.py
  libs/partners/ollama/tests/unit_tests/test_llms.py
Owners: @mdrxy

refactor(ollama): simplify options handling
  libs/partners/ollama/langchain_ollama/chat_models.py
Owners: @mdrxy

refactor(ollama): simplify options handling (#33199)
  libs/partners/ollama/langchain_ollama/chat_models.py
Owners: @mdrxy

test(huggingface): update monkeypatching to use setattr for module attributes
  libs/langchain/tests/unit_tests/chat_models/test_init_chat_model_hf.py
Owners: none

test(huggingface): add noqa comments for B010 linting issues in monkeypatching
  libs/langchain/tests/unit_tests/chat_models/test_init_chat_model_hf.py
Owners: none

fix: move import re to top-level to resolve PLC0415 linting error
  libs/partners/ollama/langchain_ollama/chat_models.py
Owners: @mdrxy

lock bump
  libs/partners/ollama/uv.lock
Owners: @mdrxy

release(ollama): 0.3.9
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Owners: @mdrxy

release(ollama): 0.3.9 (#33200)
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Owners: @mdrxy

cleanup
  libs/partners/ollama/langchain_ollama/chat_models.py
Owners: @mdrxy

release(core): 1.0.0a6
  libs/core/pyproject.toml
  libs/core/uv.lock
Owners: @eyurtsev

bump version.py
  libs/core/langchain_core/version.py
Owners: @eyurtsev

release(core): 1.0.0a6 (#33201)
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Owners: @eyurtsev

bump versions/lock
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Owners: @mdrxy

.
  libs/partners/ollama/README.md
Owners: @mdrxy

for now, don't use factory on reasoning additional kwarg extraction (don't want to inconsistently auto-gen ids)
  libs/core/langchain_core/messages/base.py
Owners: @eyurtsev

most logic
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/content.py
  libs/partners/ollama/langchain_ollama/_compat.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/pyproject.toml
Owners: @eyurtsev, @mdrxy

test content blocks integration
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
Owners: @mdrxy

done?
  libs/core/langchain_core/messages/block_translators/__init__.py
  libs/core/langchain_core/messages/block_translators/ollama.py
  libs/core/langchain_core/runnables/base.py
  libs/partners/ollama/README.md
  libs/partners/ollama/langchain_ollama/_compat.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
Owners: @eyurtsev, @mdrxy

feat(ollama): standard content (#33202)
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/block_translators/__init__.py
  libs/core/langchain_core/messages/block_translators/ollama.py
  libs/core/langchain_core/messages/content.py
  libs/core/langchain_core/runnables/base.py
  libs/partners/ollama/README.md
  libs/partners/ollama/langchain_ollama/_compat.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
  libs/partners/ollama/uv.lock
Owners: @eyurtsev, @mdrxy

fix(tools): improve type annotations for tool decorator
  libs/core/langchain_core/tools/convert.py
  libs/core/tests/unit_tests/test_tools.py
  uv.lock
Owners: @eyurtsev

fix(tools): clean up whitespace in tool decorator tests
  libs/core/tests/unit_tests/test_tools.py
Owners: @eyurtsev

x
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_responses_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Owners: @mdrxy

nit
  libs/partners/openai/langchain_openai/chat_models/base.py
Owners: @mdrxy

update langchain test
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Owners: none

update langchain_v1 test
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
Owners: none

update messages namespace
  libs/langchain_v1/langchain/messages/__init__.py
Owners: none

feat(langchain_v1): update messages namespace (#33207)
  libs/langchain_v1/langchain/messages/__init__.py
Owners: none

lint aaaa
  libs/core/langchain_core/language_models/chat_models.py
Owners: @eyurtsev

.
  libs/core/langchain_core/language_models/chat_models.py
Owners: @eyurtsev

fix(ollama): exclude `None` parameters from options dictionary
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Owners: @mdrxy

fix(ollama): exclude `None` parameters from options dictionary (#33208)
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Owners: @mdrxy

fix(ollama): exclude `None` parameters from options dictionary (#33208)
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Owners: @mdrxy

fix(ollama): exclude `None` parameters from options dictionary (#33208) (#33209)
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Owners: @mdrxy

.github/CODEOWNERS:

/.github/   @baskaryan @ccurme @eyurtsev
/libs/core/ @eyurtsev
/libs/partners/ @mdrxy
/libs/packages.yml   @ccurme
