Repository langchain-ai/langchain, pull requests merged in 2023-05, with the labels that each got.

#3846 bump version to 154
  pyproject.toml
Labels: release

#3534 Add SQLiteChatMessageHistory
  langchain/memory/chat_message_histories/__init__.py
  langchain/memory/chat_message_histories/sql.py
  tests/unit_tests/memory/chat_message_histories/test_sql.py
Labels: lgtm

#3639 Surface AgentExecutor kwargs for toolkits
  langchain/agents/agent_toolkits/json/base.py
  langchain/agents/agent_toolkits/openapi/base.py
  langchain/agents/agent_toolkits/openapi/planner.py
  langchain/agents/agent_toolkits/pandas/base.py
  langchain/agents/agent_toolkits/powerbi/base.py
  langchain/agents/agent_toolkits/powerbi/chat_base.py
  langchain/agents/agent_toolkits/python/base.py
  langchain/agents/agent_toolkits/sql/base.py
  langchain/agents/agent_toolkits/vectorstore/base.py
Labels: lgtm

#3721 correct the llm type of AzureOpenAI
  langchain/llms/openai.py
Labels: lgtm

#3669 Add minimal file system blob loader
  langchain/document_loaders/blob_loaders/__init__.py
  langchain/document_loaders/blob_loaders/file_system.py
  tests/unit_tests/document_loader/blob_loaders/test_filesystem_blob_loader.py
  tests/unit_tests/document_loader/blob_loaders/test_public_api.py
Labels: lgtm

#3926 feat: Add Spreedly Document Loader
  docs/modules/indexes/document_loaders/examples/spreedly.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/spreedly.py
  tests/integration_tests/document_loaders/test_spreedly.py
Labels: lgtm

#3882 make ARG POETRY_HOME available in multistage
  Dockerfile
Labels: lgtm

#3870 Fix documentation typos
  docs/modules/chains/examples/constitutional_chain.ipynb
  docs/modules/chains/examples/openapi.ipynb
  docs/modules/models/llms/examples/streaming_llm.ipynb
  docs/use_cases/agent_simulations.md
  docs/use_cases/autonomous_agents.md
Labels: lgtm

#3843 [Chroma] Add get function for collections
  langchain/vectorstores/chroma.py
Labels: lgtm

#3793 added support for blockwise sitemap indexing
  langchain/document_loaders/sitemap.py
  tests/integration_tests/document_loaders/test_sitemap.py
Labels: lgtm

#3792 Add firestore memory
  langchain/memory/chat_message_histories/__init__.py
  langchain/memory/chat_message_histories/firestore.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/memory/test_firestore.py
Labels: lgtm

#3780 Async Support for LLMChainExtractor (new)
  langchain/retrievers/document_compressors/chain_extract.py
Labels: lgtm

#3711 fix: OpenAIEmbeddings support for Azure OpenAI Service custom endpoints
  langchain/embeddings/openai.py
Labels: lgtm

#3943 bump version to 155
  pyproject.toml
Labels: release

#4003 fix import
  langchain/indexes/vectorstore.py
  pyproject.toml
Labels: release

#4018 bump ver
  pyproject.toml
Labels: release

#4026 Simplify HumanMessages in the quick start guide
  docs/getting_started/getting_started.md
  docs/modules/models/chat/getting_started.ipynb
Labels: lgtm

#4012 Update python_repl docs
  docs/modules/agents/tools/examples/python.ipynb
Labels: lgtm

#4004 feat: prune summary buffer
  langchain/memory/summary_buffer.py
Labels: lgtm

#3930 [FR] Add TomlLoader document loader
  docs/modules/indexes/document_loaders/examples/directory_loader.ipynb
  docs/modules/indexes/document_loaders/examples/example_data/fake_rule.toml
  docs/modules/indexes/document_loaders/examples/toml_loader.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/toml.py
Labels: lgtm

#4132 Fix #4129: Update sqlalchemy version
  langchain/sql_database.py
Labels: lgtm

#4130 fix: #4128 missing run_manager parameter
  langchain/agents/agent.py
Labels: lgtm

#4183 bump version to 159
  pyproject.toml
Labels: release

#4121 feat: Allow users to pass additional arguments to the WebDriver
  langchain/document_loaders/url_selenium.py
Labels: lgtm

#3959 Update obsidian.py
  langchain/document_loaders/obsidian.py
Labels: lgtm

#3971 Update qdrant interface
  langchain/vectorstores/qdrant.py
  tests/integration_tests/vectorstores/test_qdrant.py
Labels: lgtm

#4205 bump version to 160
  pyproject.toml
Labels: release

#4141 added `Wikipedia` document loader
  docs/modules/agents/tools/examples/wikipedia.ipynb
  docs/modules/indexes/document_loaders/examples/wikipedia.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/wikipedia.py
  langchain/tools/wikipedia/tool.py
  langchain/utilities/arxiv.py
  langchain/utilities/wikipedia.py
  tests/integration_tests/utilities/test_wikipedia_api.py
Labels: lgtm

#4239 bump ver to 161
  pyproject.toml
Labels: release

#4346 bump ver 162
  pyproject.toml
Labels: release

#4454 Release 0.0.164
  pyproject.toml
Labels: release

#4486 release 165
  pyproject.toml
Labels: release

#4359 Harrison/new search
  docs/modules/indexes/retrievers/examples/vectorstore-retriever.ipynb
  langchain/vectorstores/base.py
Labels: lgtm

#4375 parameterized distance metrics; lint; format; tests
  langchain/vectorstores/redis.py
  tests/integration_tests/vectorstores/test_redis.py
Labels: lgtm

#4518 fix typos in the prompts of LLMSummarizationCheckerChain
  langchain/chains/llm_summarization_checker/prompts/revise_summary.txt
Labels: lgtm

#4585 update __init__.py for Anyscale
  langchain/llms/__init__.py
Labels: lgtm

#4586 Improve error messages formatting in doc loaders
  langchain/document_loaders/confluence.py
  langchain/document_loaders/googledrive.py
  langchain/document_loaders/image_captions.py
  langchain/document_loaders/onedrive.py
  langchain/document_loaders/pdf.py
  langchain/document_loaders/s3_file.py
  langchain/document_loaders/web_base.py
  langchain/document_loaders/youtube.py
Labels: lgtm

#4578 added documentation on retrieving a PG vectorstore
  docs/modules/indexes/vectorstores/examples/pgvector.ipynb
Labels: lgtm

#4576 Provide get current date function dialect for other DBs
  langchain/chains/sql_database/prompt.py
Labels: lgtm

#4589 Release 167
  pyproject.toml
Labels: release

#4593 docs: fix pdf docs hierarchy and formatting
  docs/modules/indexes/document_loaders/examples/pdf.ipynb
Labels: lgtm

#4101 remove quotes from sql database prompts (caused syntax error)
  langchain/chains/sql_database/prompt.py
Labels: lgtm

#3636 feat: Improvements to SQLDatabaseChain for better local model support (query checker and few shot examples)
  docs/modules/chains/examples/sqlite.ipynb
  langchain/chains/sql_database/base.py
  langchain/chains/sql_database/prompt.py
Labels: close

#3954 fix #3709 PydanticOutputParser fail when completion contains newline
  langchain/output_parsers/pydantic.py
  tests/unit_tests/output_parsers/test_pydantic_parser.py
Labels: needs test

#3946 ChatOpenAI basepath support
  langchain/chat_models/openai.py
Labels: lgtm

#4133 Add Metaphor Search to utilities and tools
  docs/modules/agents/tools/examples/metaphor_search.ipynb
  langchain/agents/load_tools.py
  langchain/tools/__init__.py
  langchain/tools/metaphor_search/__init__.py
  langchain/tools/metaphor_search/tool.py
  langchain/utilities/__init__.py
  langchain/utilities/metaphor_search.py
  tests/unit_tests/tools/test_public_api.py
Labels: lgtm

#4213 Allow custom base Zapier prompt
  langchain/tools/zapier/tool.py
  tests/unit_tests/tools/test_zapier.py
Labels: needs test

#4648 Harrison/headers for openai
  langchain/embeddings/openai.py
Labels: lgtm

#4646 Harrison/json new line
  langchain/output_parsers/pydantic.py
  tests/unit_tests/output_parsers/test_pydantic_parser.py
Labels: lgtm

#4645 Harrison/azure content filter
  langchain/chat_models/azure_openai.py
Labels: lgtm

#4675 bump version to 169
  pyproject.toml
Labels: release

#4185 Add RELLM experimental LLM decoding
  docs/modules/models/llms/integrations/jsonformer_experimental.ipynb
  docs/modules/models/llms/integrations/rellm_experimental.ipynb
  langchain/experimental/llms/__init__.py
  langchain/experimental/llms/jsonformer_decoder.py
  langchain/experimental/llms/rellm_decoder.py
Labels: lgtm

#4237 chore: make request timeout configurable in NotionDBLoader
  docs/modules/indexes/document_loaders/examples/notiondb.ipynb
  langchain/document_loaders/notiondb.py
Labels: lgtm

#4685 Harrison/typing of return
  langchain/vectorstores/base.py
  langchain/vectorstores/redis.py
Labels: lgtm

#4686 Harrison/json loader fix
  langchain/document_loaders/json_loader.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/document_loader/test_json_loader.py
Labels: lgtm

#4292 add the existing OpenWeatherMap tool to the public api
  docs/ecosystem/openweathermap.md
  docs/modules/agents/tools/examples/openweathermap.ipynb
  docs/modules/agents/tools/getting_started.md
  langchain/agents/load_tools.py
  langchain/tools/__init__.py
  langchain/tools/openweathermap/__init__.py
  langchain/tools/openweathermap/tool.py
  tests/unit_tests/tools/test_public_api.py
Labels: lgtm

#4342 Update gallery.rst with chatpdf opensource
  docs/gallery.rst
Labels: lgtm

#4704 Harrison/sitemap local
  docs/modules/indexes/document_loaders/examples/example_data/sitemap.xml
  docs/modules/indexes/document_loaders/examples/sitemap.ipynb
  langchain/document_loaders/sitemap.py
  tests/integration_tests/document_loaders/test_sitemap.py
  tests/integration_tests/examples/sitemap.xml
Labels: lgtm

#4733 bump version to 170
  pyproject.toml
Labels: release

#4734 docs: `Concepts`
  docs/getting_started/concepts.md
  docs/index.rst
Labels: lgtm

#4462 Add source field to metadata
  langchain/document_loaders/git.py
Labels: lgtm

#4442 Tweaks to the PowerBI toolkit and utility
  langchain/agents/agent_toolkits/powerbi/prompt.py
  langchain/tools/powerbi/prompt.py
  langchain/tools/powerbi/tool.py
  langchain/utilities/powerbi.py
Labels: lgtm

#4721 Add summarization task type for HuggingFace APIs
  langchain/llms/huggingface_endpoint.py
  langchain/llms/huggingface_hub.py
  langchain/llms/huggingface_pipeline.py
  langchain/llms/self_hosted_hugging_face.py
  tests/integration_tests/llms/test_huggingface_endpoint.py
  tests/integration_tests/llms/test_huggingface_hub.py
  tests/integration_tests/llms/test_huggingface_pipeline.py
  tests/integration_tests/llms/test_self_hosted_llm.py
Labels: lgtm

#4765 Harrison/wiki loader
  langchain/utilities/wikipedia.py
Labels: lgtm

#4764 Cassandra support for chat history (#4378)
  docs/modules/memory/examples/cassandra_chat_message_history.ipynb
  langchain/memory/__init__.py
  langchain/memory/chat_message_histories/__init__.py
  langchain/memory/chat_message_histories/cassandra.py
  pyproject.toml
  tests/integration_tests/memory/test_cassandra.py
Labels: lgtm

#4619 Remove unnecessary spaces from document object’s page_content of BiliBiliLoader
  docs/modules/indexes/document_loaders/examples/bilibili.ipynb
  langchain/document_loaders/bilibili.py
  tests/integration_tests/document_loaders/test_bilibili.py
Labels: lgtm

#4806 fix(document_loaders/telegram): fix pandas calls + add tests
  docs/modules/indexes/document_loaders/examples/telegram.ipynb
  langchain/document_loaders/telegram.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/document_loaders/test_telegram.py
  tests/unit_tests/document_loaders/__init__.py
  tests/unit_tests/document_loaders/blob_loaders/__init__.py
  tests/unit_tests/document_loaders/blob_loaders/test_filesystem_blob_loader.py
  tests/unit_tests/document_loaders/blob_loaders/test_public_api.py
  tests/unit_tests/document_loaders/blob_loaders/test_schema.py
  tests/unit_tests/document_loaders/loaders/__init__.py
  tests/unit_tests/document_loaders/loaders/vendors/__init__.py
  tests/unit_tests/document_loaders/loaders/vendors/test_data/docugami-example.xml
  tests/unit_tests/document_loaders/loaders/vendors/test_docugami.py
  tests/unit_tests/document_loaders/parsers/__init__.py
  tests/unit_tests/document_loaders/parsers/test_generic.py
  tests/unit_tests/document_loaders/parsers/test_pdf_parsers.py
  tests/unit_tests/document_loaders/parsers/test_public_api.py
  tests/unit_tests/document_loaders/test_base.py
  tests/unit_tests/document_loaders/test_csv_loader.py
  tests/unit_tests/document_loaders/test_docs/csv/test_empty.csv
  tests/unit_tests/document_loaders/test_docs/csv/test_nominal.csv
  tests/unit_tests/document_loaders/test_docs/csv/test_one_col.csv
  tests/unit_tests/document_loaders/test_docs/csv/test_one_row.csv
  tests/unit_tests/document_loaders/test_docs/telegram.json
  tests/unit_tests/document_loaders/test_docs/telegram_channel.json
  tests/unit_tests/document_loaders/test_json_loader.py
  tests/unit_tests/document_loaders/test_telegram.py
  tests/unit_tests/document_loaders/test_web_base.py
  tests/unit_tests/document_loaders/test_youtube.py
Labels: maintainer-to-merge

#3333 Add Confluence Loader unit tests
  langchain/document_loaders/confluence.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/document_loaders/test_confluence.py
Labels: lgtm

#4795 Cleanup and added dependencies to make example executable
  docs/modules/agents/agents/examples/chat_conversation_agent.ipynb
Labels: agent

#4780 Fixed query checker for SQLDatabaseChain
  langchain/chains/sql_database/base.py
Labels: lgtm

#4778 Replaced `SQLDatabaseChain` deprecated direct initialisation with `from_llm` method
  docs/modules/agents/agents/examples/mrkl.ipynb
  docs/modules/agents/agents/examples/mrkl_chat.ipynb
  docs/use_cases/evaluation/sql_qa_benchmarking_chinook.ipynb
  langchain/chains/loading.py
  langchain/chains/sql_database/base.py
Labels: lgtm

#4713 Add from_file method to message prompt template
  langchain/prompts/chat.py
  tests/unit_tests/prompts/test_chat.py
Labels: lgtm

#4709 changed cohere.py to update the default model of embedding
  langchain/embeddings/cohere.py
Labels: lgtm

#4636 [Fix][GenerativeAgent] Get the memory importance score from regex matched group
  langchain/experimental/generative_agents/memory.py
Labels: lgtm

#4601 Added cleaning up the downloaded PDF files
  langchain/utilities/arxiv.py
Labels: lgtm

#4845 Remove unnecessary comment
  tests/integration_tests/retrievers/test_weaviate_hybrid_search.py
Labels: lgtm

#4864 bump 172
  pyproject.toml
Labels: release

#4857 Fix TypeError in Vectorstore Redis class methods
  langchain/vectorstores/redis.py
Labels: lgtm

#4868 Remove unused variables in Milvus vectorstore
  langchain/vectorstores/milvus.py
Labels: lgtm

#4430 docs `retriever` improvements
  docs/additional_resources/gallery.rst
  docs/ecosystem.rst
  docs/modules/indexes/document_loaders/examples/example_data/fake-content.html
  docs/modules/indexes/retrievers/examples/chatgpt-plugin.ipynb
  docs/modules/indexes/retrievers/examples/chroma_self_query.ipynb
  docs/modules/indexes/retrievers/examples/cohere-reranker.ipynb
  docs/modules/indexes/retrievers/examples/contextual-compression.ipynb
  docs/modules/indexes/retrievers/examples/databerry.ipynb
  docs/modules/indexes/retrievers/examples/elastic_search_bm25.ipynb
  docs/modules/indexes/retrievers/examples/knn.ipynb
  docs/modules/indexes/retrievers/examples/metal.ipynb
  docs/modules/indexes/retrievers/examples/pinecone_hybrid_search.ipynb
  docs/modules/indexes/retrievers/examples/self_query.ipynb
  docs/modules/indexes/retrievers/examples/svm.ipynb
  docs/modules/indexes/retrievers/examples/tf_idf.ipynb
  docs/modules/indexes/retrievers/examples/time_weighted_vectorstore.ipynb
  docs/modules/indexes/retrievers/examples/vectorstore.ipynb
  docs/modules/indexes/retrievers/examples/vespa.ipynb
  docs/modules/indexes/retrievers/examples/vespa_retriever.ipynb
  docs/modules/indexes/retrievers/examples/weaviate-hybrid.ipynb
  docs/modules/indexes/vectorstores/examples/elasticsearch.ipynb
  docs/modules/indexes/vectorstores/examples/pinecone.ipynb
  docs/modules/models/llms/integrations/cohere.ipynb
  langchain/document_loaders/base.py
  langchain/retrievers/time_weighted_retriever.py
Labels: lgtm

#2361 ConversationalChatAgent: Allow customizing `TEMPLATE_TOOL_RESPONSE`
  langchain/agents/conversational_chat/base.py
Labels: lgtm

#4414 [GoogleSerperAPIWrapper] fix bug in result parsing(_parse_results)
  langchain/utilities/google_serper.py
  tests/integration_tests/utilities/test_googleserper_api.py
Labels: lgtm

#4902 Harrison/serper api bug
  langchain/utilities/google_serper.py
  tests/integration_tests/utilities/test_googleserper_api.py
Labels: lgtm

#4903 Harrison/faiss norm
  langchain/vectorstores/faiss.py
Labels: lgtm

#4910 bump version to 173
  docs/index.rst
  docs/modules/agents/agent_executors/examples/handle_parsing_errors.ipynb
  pyproject.toml
Labels: release

#4860 Fix bilibili
  docs/modules/indexes/document_loaders/examples/bilibili.ipynb
  langchain/document_loaders/bilibili.py
Labels: lgtm

#4542 Add human message as input variable to chat agent prompt creation
  langchain/agents/chat/base.py
  langchain/agents/chat/prompt.py
Labels: lgtm

#4914 Harrison/spell executor
  docs/modules/agents/plan_and_execute.ipynb
  langchain/experimental/plan_and_execute/agent_executor.py
Labels: lgtm

#4956 Add Spark SQL support (#4602)
  docs/modules/agents/toolkits/examples/spark_sql.ipynb
  langchain/agents/__init__.py
  langchain/agents/agent_toolkits/__init__.py
  langchain/agents/agent_toolkits/spark_sql/__init__.py
  langchain/agents/agent_toolkits/spark_sql/base.py
  langchain/agents/agent_toolkits/spark_sql/prompt.py
  langchain/agents/agent_toolkits/spark_sql/toolkit.py
  langchain/tools/spark_sql/__init__.py
  langchain/tools/spark_sql/prompt.py
  langchain/tools/spark_sql/tool.py
  langchain/utilities/__init__.py
  langchain/utilities/spark_sql.py
  tests/unit_tests/agents/test_public_api.py
Labels: lgtm

#4961 Fixed assumptions misspelling
  docs/modules/chains/examples/llm_summarization_checker.ipynb
Labels: lgtm, maintainer-to-merge

#4988 bump v0.0.174
  pyproject.toml
Labels: release

#4558 Add async search with relevance score
  langchain/vectorstores/base.py
Labels: lgtm

#4971 Update python.py
  langchain/utilities/python.py
Labels: lgtm

#4920 PGVector logger message level
  langchain/vectorstores/pgvector.py
Labels: lgtm

#4577 feature/4493 Improve Evernote Document Loader
  docs/modules/indexes/document_loaders/examples/evernote.ipynb
  docs/modules/indexes/document_loaders/examples/example_data/testing.enex
  langchain/document_loaders/evernote.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/document_loaders/sample_documents/__init__.py
  tests/unit_tests/document_loaders/sample_documents/empty_export.enex
  tests/unit_tests/document_loaders/sample_documents/sample_notebook.enex
  tests/unit_tests/document_loaders/sample_documents/sample_notebook_2.enex
  tests/unit_tests/document_loaders/sample_documents/sample_notebook_emptynote.enex
  tests/unit_tests/document_loaders/sample_documents/sample_notebook_missingcontenttag.enex
  tests/unit_tests/document_loaders/sample_documents/sample_notebook_missingmetadata.enex
  tests/unit_tests/document_loaders/sample_documents/sample_notebook_with_media.enex
  tests/unit_tests/document_loaders/test_evernote_loader.py
Labels: enhancement, lgtm

#4984 Fix graphql tool
  langchain/utilities/graphql.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/utilities/test_graphql.py
  tests/unit_tests/utilities/test_graphql.py
Labels: bug

#4964 docs: Big Mendable Improvements
  docs/_static/css/custom.css
  docs/_static/js/mendablesearch.js
Labels: documentation

#4804 Add self query translator for weaviate vectorstore
  docs/modules/indexes/retrievers/examples/weaviate_self_query.ipynb
  langchain/retrievers/self_query/base.py
  langchain/retrievers/self_query/weaviate.py
Labels: lgtm, needs documentation

#4892 Check for single prompt in __call__ method of the BaseLLM class
  langchain/llms/base.py
Labels: lgtm

#4987 fix prompt saving
  docs/modules/prompts/prompt_templates/examples/prompt_serialization.ipynb
  docs/modules/prompts/prompt_templates/examples/prompt_with_output_parser.json
  langchain/prompts/loading.py
  tests/unit_tests/prompts/test_loading.py
Labels: bug

#5041 bump v175
  pyproject.toml
Labels: release

#5029 Fix annoying typo in docs
  docs/modules/agents/tools/examples/python.ipynb
Labels: lgtm

#5038 DOC: Misspelling in agents.rst documentation
  docs/modules/agents.rst
Labels: lgtm

#4907 Add Psychic document loader
  docs/ecosystem/psychic.md
  docs/modules/indexes/document_loaders/examples/psychic.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/psychic.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/document_loaders/test_psychic.py
Labels: lgtm, maintainer-to-merge

#5064 bump to 176
  pyproject.toml
Labels: release

#4969 preserve language in conversation retrieval
  langchain/chains/conversational_retrieval/prompts.py
Labels: lgtm

#4949 docs: `Deployments` page moved into `Ecosystem/`
  docs/ecosystem/deployments.md
  docs/index.rst
  docs/integrations.rst
  docs/reference.rst
Labels: documentation

#4881 Add Cypher query language generating chain
  docs/modules/chains/index_examples/graph_cypher_qa.ipynb
  langchain/chains/__init__.py
  langchain/chains/graph_qa/cypher.py
  langchain/chains/graph_qa/prompts.py
  langchain/graphs/__init__.py
  langchain/graphs/neo4j_graph.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/chains/test_graph_database.py
Labels: enhancement

#5095 Bump 177
  pyproject.toml
Labels: release

#5015 fix: revert docarray explicit transitive dependencies and use extras instead
  poetry.lock
  pyproject.toml
Labels: lgtm

#5014 Improving Resilience of MRKL Agent
  langchain/agents/agent.py
  langchain/agents/mrkl/output_parser.py
  langchain/schema.py
  tests/unit_tests/agents/test_mrkl.py
Labels: lgtm

#5098 Improve pinecone hybrid search retriever adding metadata support
  docs/modules/indexes/retrievers/examples/pinecone_hybrid_search.ipynb
  langchain/retrievers/pinecone_hybrid_search.py
Labels: lgtm

#5058 Add the usage of SSL certificates for Elasticsearch and user password authentication
  langchain/vectorstores/elastic_vector_search.py
  tests/integration_tests/vectorstores/test_elasticsearch.py
Labels: lgtm

#5059 add get_top_k_cosine_similarity method to get max top k score and index
  langchain/math_utils.py
  tests/unit_tests/test_math_utils.py
Labels: lgtm

#5090 PowerBI major refinement in working of tool and tweaks in the rest
  langchain/agents/agent_toolkits/powerbi/prompt.py
  langchain/agents/agent_toolkits/powerbi/toolkit.py
  langchain/tools/__init__.py
  langchain/tools/powerbi/prompt.py
  langchain/tools/powerbi/tool.py
  langchain/utilities/powerbi.py
  tests/unit_tests/tools/test_public_api.py
Labels: lgtm

#4933 fix: add_texts method of Weaviate vector store creats wrong embeddings
  langchain/vectorstores/weaviate.py
Labels: lgtm

#5101 Fixed import error for AutoGPT e.g. from langchain.experimental.auton…
  langchain/experimental/autonomous_agents/__init__.py
Labels: lgtm

#5036 Add Mastodon toots loader
  docs/modules/indexes/document_loaders/examples/mastodon.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/mastodon.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/document_loaders/test_mastodon.py
  tests/unit_tests/test_bash.py
Labels: enhancement, lgtm

#4993 Add OpenLM LLM multi-provider
  docs/modules/models/llms/integrations/openlm.ipynb
  langchain/llms/__init__.py
  langchain/llms/openlm.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/llms/test_openlm.py
Labels: maintainer-to-merge, needs documentation

#5085 Fixes issue #5072 - adds additional support to Weaviate
  langchain/vectorstores/weaviate.py
  tests/integration_tests/vectorstores/test_weaviate.py
Labels: lgtm, maintainer-to-merge

#5111 Improve effeciency of TextSplitter.split_documents, iterate once
  langchain/text_splitter.py
  tests/unit_tests/test_text_splitter.py
Labels: lgtm

#4906 WhyLabs callback
  docs/integrations/whylabs_profiling.ipynb
  langchain/callbacks/__init__.py
  langchain/callbacks/whylabs_callback.py
  poetry.lock
  pyproject.toml
Labels: enhancement

#5012 Add AzureCognitiveServicesToolkit to call Azure Cognitive Services API
  docs/modules/agents/toolkits/examples/azure_cognitive_services.ipynb
  langchain/agents/agent_toolkits/__init__.py
  langchain/agents/agent_toolkits/azure_cognitive_services/__init__.py
  langchain/agents/agent_toolkits/azure_cognitive_services/toolkit.py
  langchain/tools/__init__.py
  langchain/tools/azure_cognitive_services/__init__.py
  langchain/tools/azure_cognitive_services/form_recognizer.py
  langchain/tools/azure_cognitive_services/image_analysis.py
  langchain/tools/azure_cognitive_services/speech2text.py
  langchain/tools/azure_cognitive_services/text2speech.py
  langchain/tools/azure_cognitive_services/utils.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/tools/test_public_api.py
Labels: enhancement, lgtm

#5130 bump 178
  pyproject.toml
Labels: release

#5127 solving #2887
  langchain/callbacks/openai_info.py
  langchain/llms/openai.py
Labels: lgtm, maintainer-to-merge

#5143 Improve PlanningOutputParser whitespace handling
  langchain/experimental/plan_and_execute/planners/chat_planner.py
Labels: lgtm

#3401 Add ElasticsearchEmbeddings class for generating embeddings using Elasticsearch models
  docs/modules/models/text_embedding/examples/elasticsearch.ipynb
  langchain/embeddings/__init__.py
  langchain/embeddings/elasticsearch.py
  tests/integration_tests/embeddings/test_elasticsearch.py
Labels: lgtm

#5056 Adding Weather Loader
  docs/modules/indexes/document_loaders.rst
  docs/modules/indexes/document_loaders/examples/weather.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/weather.py
  langchain/utilities/openweathermap.py
Labels: enhancement, lgtm, maintainer-to-merge

#4665 add modelscope embedding class
  docs/ecosystem/modelscope.md
  docs/modules/models/text_embedding/examples/modelscope_hub.ipynb
  langchain/embeddings/__init__.py
  langchain/embeddings/modelscope_hub.py
  tests/integration_tests/embeddings/test_modelscope_hub.py
Labels: enhancement

#4867 Add async versions of predict() and predict_messages()
  langchain/base_language.py
  langchain/chat_models/base.py
  langchain/llms/base.py
Labels: lgtm

#5151 Docs: updated getting_started.md
  docs/modules/prompts/prompt_templates/getting_started.md
Labels: lgtm

#1674 Add Typesense vector store
  docs/modules/indexes/vectorstores/examples/typesense.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/typesense.py
Labels: lgtm

#5069 Vectara
  docs/integrations/vectara.md
  docs/integrations/vectara/vectara_chat.ipynb
  docs/integrations/vectara/vectara_text_generation.ipynb
  docs/modules/indexes/vectorstores/examples/vectara.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/vectara.py
  tests/integration_tests/vectorstores/test_vectara.py
Labels: enhancement, lgtm

#4996 Beam
  docs/integrations/beam.md
  docs/modules/models/llms/integrations/beam.ipynb
  langchain/llms/__init__.py
  langchain/llms/beam.py
  tests/integration_tests/llms/test_beam.py
Labels: enhancement, lgtm

#5200 bump 179
  pyproject.toml
Labels: release

#5156 Harrison/modelscope
  docs/ecosystem/modelscope.md
  docs/modules/models/text_embedding/examples/modelscope_hub.ipynb
  langchain/embeddings/__init__.py
  langchain/embeddings/modelscope_hub.py
  tests/integration_tests/embeddings/test_modelscope_hub.py
Labels: enhancement, lgtm

#5201 Improve weaviate vectorstore docs
  docs/modules/indexes/vectorstores/examples/weaviate.ipynb
  langchain/vectorstores/weaviate.py
Labels: lgtm

#5162 add a Iugu loader
  docs/modules/indexes/document_loaders.rst
  docs/modules/indexes/document_loaders/examples/iugu.ipynb
  langchain/document_loaders/iugu.py
Labels: enhancement, lgtm, doc loader

#5153 Add Joplin document loader
  docs/modules/indexes/document_loaders.rst
  docs/modules/indexes/document_loaders/examples/joplin.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/joplin.py
  tests/integration_tests/document_loaders/test_joplin.py
Labels: enhancement, doc loader

#5049 Harrison/vertex
  docs/modules/models/chat/integrations/google_vertex_ai_palm.ipynb
  docs/modules/models/llms/integrations/google_vertex_ai_palm.ipynb
  docs/modules/models/text_embedding/examples/google_vertex_ai_palm.ipynb
  langchain/chat_models/__init__.py
  langchain/chat_models/vertexai.py
  langchain/embeddings/__init__.py
  langchain/embeddings/vertexai.py
  langchain/llms/__init__.py
  langchain/llms/vertexai.py
  langchain/utilities/vertexai.py
  tests/integration_tests/chat_models/test_vertexai.py
  tests/integration_tests/embeddings/test_vertexai.py
  tests/integration_tests/llms/test_vertexai.py
Labels: enhancement, needs documentation

#5190 Allow to specify ID when adding to the FAISS vectorstore.
  langchain/vectorstores/faiss.py
Labels: lgtm

#5248 bump 180
  pyproject.toml
Labels: release

#5246 Added the option of specifying a proxy for the OpenAI API
  docs/modules/models/llms/integrations/openai.ipynb
  docs/modules/models/text_embedding/examples/openai.ipynb
  langchain/chat_models/azure_openai.py
  langchain/chat_models/openai.py
  langchain/embeddings/openai.py
  langchain/llms/openai.py
Labels: lgtm

#5250 Docs link custom agent page in getting started
  docs/modules/agents/getting_started.ipynb
Labels: lgtm

#5267 Zep sdk version
  docs/modules/indexes/retrievers/examples/zep_memorystore.ipynb
  docs/modules/memory/examples/zep_memory.ipynb
  poetry.lock
  pyproject.toml
  tests/unit_tests/memory/chat_message_histories/test_zep.py
Labels: lgtm

#5218 Add C Transformers for GGML Models
  docs/integrations/ctransformers.md
  docs/modules/models/llms/integrations/ctransformers.ipynb
  langchain/llms/__init__.py
  langchain/llms/ctransformers.py
  tests/integration_tests/llms/test_ctransformers.py
Labels: enhancement, llms, lgtm

#4088 Add visible_only and strict_mode options to ClickTool
  langchain/tools/playwright/click.py
Labels: lgtm

#5009 Add Multi-CSV/DF support in CSV and DataFrame Toolkits
  docs/modules/agents/toolkits/examples/csv.ipynb
  docs/modules/agents/toolkits/examples/pandas.ipynb
  docs/modules/agents/toolkits/examples/titanic_age_fillna.csv
  langchain/agents/agent_toolkits/csv/base.py
  langchain/agents/agent_toolkits/pandas/base.py
  langchain/agents/agent_toolkits/pandas/prompt.py
  tests/integration_tests/agent/test_csv_agent.py
  tests/integration_tests/agent/test_pandas_agent.py
Labels: enhancement, lgtm

#5268 Added pipline args to `HuggingFacePipeline.from_model_id`
  langchain/llms/huggingface_pipeline.py
Labels: lgtm

#5261 Support bigquery dialect - SQL
  langchain/sql_database.py
Labels: lgtm
