Repository langchain-ai/langchain, pull requests merged in 2023-08, with the labels that each got.

#8116 add tests to redis vectorstore
  libs/langchain/tests/integration_tests/vectorstores/test_redis.py
Labels: area: vector store, auto:improvement

#8417 Bug Fix - #8415
  libs/langchain/langchain/cache.py
Labels: auto:bug

#8531 Updated docs on Vertex AI going GA
  docs/extras/integrations/chat/google_vertex_ai_palm.ipynb
  docs/extras/integrations/llms/google_vertex_ai_palm.ipynb
  docs/extras/integrations/text_embedding/google_vertex_ai_palm.ipynb
Labels: area: embeddings, auto:documentation

#8537 updates some spelling mistakes
  docs/extras/modules/model_io/prompts/prompt_templates/connecting_to_a_feature_store.ipynb
  docs/snippets/get_started/quickstart/llm_chain.mdx
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
Labels: lgtm, auto:documentation

#8551 AzureSearch Vector Store: Moving the usage of additional_fields into context of it's definition (bug fix from python error)
  libs/langchain/langchain/vectorstores/azuresearch.py
Labels: lgtm, area: vector store, auto:bug

#7512 Add ConcurrentLoader
  docs/extras/integrations/document_loaders/concurrent.ipynb
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_loaders/concurrent.py
  libs/langchain/tests/integration_tests/document_loaders/parsers/test_language.py
Labels: lgtm, auto:improvement

#7525 fix: openapi controller prompt, when bot is unable to resolve an api …
  libs/langchain/langchain/agents/agent_toolkits/openapi/planner_prompt.py
Labels: lgtm, auto:bug

#7573 Fixed bug7445 where a duplicate restuld_id is added to the vectorstore.
  docs/extras/use_cases/agents/baby_agi.ipynb
  docs/extras/use_cases/agents/baby_agi_with_agent.ipynb
Labels: auto:bug, auto:documentation

#7533 Fast load conversationsummarymemory from existing summary
  docs/snippets/modules/memory/types/summary.mdx
Labels: lgtm, auto:improvement, auto:documentation

#7541 Update combined.py
  libs/langchain/langchain/memory/combined.py
Labels: lgtm, auto:bug

#7596 fix logging debug error with textloader when autodetect_encoding=True
  libs/langchain/langchain/document_loaders/text.py
Labels: auto:bug

#8557 Fix combining runnable sequences
  libs/langchain/langchain/schema/runnable.py
  libs/langchain/tests/unit_tests/schema/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/schema/test_runnable.py
Labels: auto:bug

#8553 Rm RunTypeEnum
  libs/langchain/langchain/callbacks/tracers/base.py
  libs/langchain/langchain/callbacks/tracers/langchain.py
  libs/langchain/langchain/callbacks/tracers/schemas.py
  libs/langchain/langchain/callbacks/tracers/wandb.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/langchain/smith/evaluation/string_run_evaluator.py
  libs/langchain/tests/unit_tests/callbacks/tracers/test_langchain_v1.py
Labels: auto:refactor

#8552 add example for memory
  docs/extras/guides/expression_language/cookbook.ipynb
Labels: area: memory, auto:documentation

#8571 bump 249
  libs/langchain/pyproject.toml
Labels: release

#8488 Add new run types for Runnables
  libs/langchain/langchain/callbacks/tracers/base.py
  libs/langchain/langchain/schema/output_parser.py
  libs/langchain/langchain/schema/prompt_template.py
  libs/langchain/langchain/schema/runnable.py
  libs/langchain/tests/unit_tests/schema/__snapshots__/test_runnable.ambr
Labels: auto:improvement

#8574 fix apparent spelling inconsistencies
  libs/langchain/langchain/agents/agent_toolkits/csv/base.py
  libs/langchain/langchain/agents/agent_toolkits/pandas/base.py
  libs/langchain/langchain/agents/agent_toolkits/spark/base.py
  libs/langchain/langchain/document_loaders/blob_loaders/youtube_audio.py
  libs/langchain/langchain/document_loaders/directory.py
  libs/langchain/langchain/document_loaders/evernote.py
  libs/langchain/langchain/document_loaders/geodataframe.py
  libs/langchain/langchain/document_loaders/parsers/audio.py
  libs/langchain/langchain/document_loaders/parsers/grobid.py
  libs/langchain/langchain/document_loaders/parsers/html/bs4.py
  libs/langchain/langchain/document_loaders/parsers/language/code_segmenter.py
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/document_loaders/reddit.py
  libs/langchain/langchain/document_loaders/tencent_cos_directory.py
  libs/langchain/langchain/document_loaders/tencent_cos_file.py
  libs/langchain/langchain/document_loaders/url.py
  libs/langchain/langchain/document_loaders/url_playwright.py
  libs/langchain/langchain/document_loaders/web_base.py
  libs/langchain/langchain/document_transformers/embeddings_redundant_filter.py
  libs/langchain/langchain/document_transformers/html2text.py
  libs/langchain/langchain/memory/chat_message_histories/cassandra.py
  libs/langchain/langchain/memory/chat_message_histories/zep.py
  libs/langchain/langchain/retrievers/document_compressors/chain_filter.py
  libs/langchain/langchain/retrievers/document_compressors/cohere_rerank.py
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
  libs/langchain/langchain/tools/gmail/utils.py
  libs/langchain/langchain/tools/playwright/base.py
  libs/langchain/langchain/tools/playwright/extract_hyperlinks.py
  libs/langchain/langchain/tools/steamship_image_generation/utils.py
  libs/langchain/langchain/vectorstores/docarray/base.py
Labels: auto:nit

#8262 Docstrings: Module descriptions
  libs/langchain/langchain/agents/__init__.py
  libs/langchain/langchain/cache.py
  libs/langchain/langchain/callbacks/__init__.py
  libs/langchain/langchain/chains/__init__.py
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/docstore/__init__.py
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_transformers/__init__.py
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/env.py
  libs/langchain/langchain/evaluation/__init__.py
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/indexes/__init__.py
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/load/__init__.py
  libs/langchain/langchain/memory/__init__.py
  libs/langchain/langchain/output_parsers/__init__.py
  libs/langchain/langchain/prompts/__init__.py
  libs/langchain/langchain/retrievers/__init__.py
  libs/langchain/langchain/schema/__init__.py
  libs/langchain/langchain/smith/__init__.py
  libs/langchain/langchain/text_splitter.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/utilities/__init__.py
  libs/langchain/langchain/utils/__init__.py
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
Labels: auto:documentation

#8267 Bug fix: feature/issue-7804-chroma-client_settings-bug
  libs/langchain/langchain/vectorstores/chroma.py
Labels: lgtm, area: vector store, auto:bug

#8559 Harrison/loader bug
  libs/langchain/langchain/document_loaders/text.py
Labels: lgtm, area: doc loader, auto:bug

#8587 Callback handler for Amazon SageMaker Experiments
  docs/extras/integrations/providers/sagemaker_tracking.ipynb
  libs/langchain/langchain/callbacks/__init__.py
  libs/langchain/langchain/callbacks/sagemaker_callback.py
Labels: lgtm, auto:enhancement

#8591 updated to use new llm_util query
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/graphs/memgraph_graph.py
  libs/langchain/langchain/graphs/neo4j_graph.py
Labels: lgtm, auto:enhancement

#8595 mv
  docs/docs_skeleton/vercel.json
  docs/extras/integrations/providers/wandb_tracing.ipynb
Labels: lgtm, auto:documentation

#8596 docs: update `unstructured` install instructions
  docs/extras/integrations/document_loaders/unstructured_file.ipynb
  docs/extras/integrations/providers/unstructured.mdx
Labels: auto:documentation

#8497 Add StreamlitChatMessageHistory
  docs/extras/integrations/memory/streamlit_chat_message_history.ipynb
  libs/langchain/langchain/memory/__init__.py
  libs/langchain/langchain/memory/chat_message_histories/__init__.py
  libs/langchain/langchain/memory/chat_message_histories/streamlit.py
  libs/langchain/tests/unit_tests/memory/chat_message_histories/test_streamlit.py
Labels: area: memory, lgtm, auto:enhancement

#8600 [OpenSearch] : Fix AOSS Initialization
  libs/langchain/langchain/vectorstores/opensearch_vector_search.py
Labels: area: vector store, auto:bug

#8601 Add firestore_client param to FirestoreChatMessageHistory if caller already has one; also lets them specify GCP project, etc.
  libs/langchain/langchain/memory/chat_message_histories/firestore.py
Labels: area: memory, lgtm, auto:improvement

#8604 normalized openai embeddings embed_query
  libs/langchain/langchain/embeddings/openai.py
  libs/langchain/tests/integration_tests/embeddings/test_openai.py
Labels: area: embeddings, auto:improvement

#8322 Fireworks integration
  docs/extras/integrations/llms/Fireworks.ipynb
  docs/extras/integrations/providers/fireworks.md
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/fireworks.py
  libs/langchain/tests/integration_tests/llms/test_fireworks.py
Labels: auto:enhancement

#8617 cast to string when measuring token length
  libs/langchain/langchain/chat_models/openai.py
Labels: auto:nit

#8609 [Opensearch] : Fix the service validation in http_auth
  libs/langchain/langchain/vectorstores/opensearch_vector_search.py
Labels: area: vector store, auto:bug

#7591 Add local support for audio models (PR #7329)
  docs/extras/integrations/document_loaders/youtube_audio.ipynb
  libs/langchain/langchain/document_loaders/parsers/audio.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: lgtm, auto:improvement

#8632 bump 250
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#8489 Re-add __add__ functionality for messages (revert #8245)
  libs/langchain/langchain/schema/messages.py
Labels: auto:bug

#8634 Refactor Qdrant integration
  libs/langchain/langchain/vectorstores/mongodb_atlas.py
  libs/langchain/langchain/vectorstores/qdrant.py
  libs/langchain/tests/integration_tests/vectorstores/qdrant/async_api/test_add_texts.py
  libs/langchain/tests/integration_tests/vectorstores/qdrant/async_api/test_from_texts.py
  libs/langchain/tests/integration_tests/vectorstores/qdrant/test_add_texts.py
  libs/langchain/tests/integration_tests/vectorstores/qdrant/test_embedding_interface.py
  libs/langchain/tests/integration_tests/vectorstores/qdrant/test_from_texts.py
Labels: area: vector store, auto:refactor

#8642 `MLflow` examples
  docs/extras/integrations/providers/mlflow_ai_gateway.mdx
  docs/extras/integrations/providers/mlflow_tracking.ipynb
Labels: auto:documentation

#8519 🐛 Docs Fixes [2 one-liners, examples broken]
  docs/snippets/modules/chains/popular/summarize.mdx
  libs/langchain/langchain/chains/combine_documents/refine.py
Labels: auto:documentation

#8376 Add summarization use-case
  docs/docs_skeleton/docs/use_cases/summarization/summarize.mdx
  docs/docs_skeleton/static/img/summarization_use_case_1.png
  docs/docs_skeleton/static/img/summarization_use_case_2.png
  docs/extras/integrations/vectorstores/opensearch.ipynb
  docs/extras/use_cases/summarization.ipynb
  docs/extras/use_cases/summarization/index.mdx
  docs/snippets/modules/chains/popular/summarize.mdx
Labels: auto:documentation

#8641 Enterprise support form wording
  README.md
  libs/langchain/README.md
Labels: auto:documentation

#8654 docs: fix some grammar
  docs/docs_skeleton/docs/modules/agents/agent_types/index.mdx
  docs/docs_skeleton/docs/modules/agents/agent_types/openai_functions_agent.mdx
Labels: lgtm, auto:documentation

#8652 fix enum error message
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: auto:bug

#8655 Use call directly for chain
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: auto:improvement

#8653 Use salt instead of datetime
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: auto:improvement

#8628 add missing RemoteLangChainRetriever _get_relevant_documents test
  libs/langchain/tests/unit_tests/retrievers/test_remote_retriever.py
Labels: lgtm, auto:improvement

#8647 Newspaper
  docs/extras/integrations/document_loaders/news.ipynb
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_loaders/news.py
  libs/langchain/tests/integration_tests/document_loaders/test_news.py
Labels: lgtm, area: doc loader, auto:enhancement

#8639 Harrison/conversational retrieval agent
  docs/extras/use_cases/question_answering/how_to/conversational_retrieval_agents.ipynb
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/conversational_retrieval/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/conversational_retrieval/openai_functions.py
  libs/langchain/langchain/agents/agent_toolkits/conversational_retrieval/tool.py
  libs/langchain/langchain/agents/openai_functions_agent/agent_token_buffer_memory.py
Labels: area: agent, auto:enhancement

#8663 Minor formatting and additional figure for summarization use case
  docs/docs_skeleton/static/img/summarization_use_case_3.png
  docs/extras/use_cases/summarization.ipynb
Labels: auto:documentation

#8657 Minor typo fix
  libs/langchain/langchain/evaluation/agents/trajectory_eval_chain.py
Labels: area: agent, auto:nit

#8690 bump 251
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#8689 updated interface jupyter notebook explanations
  docs/extras/guides/expression_language/interface.ipynb
Labels: lgtm, auto:documentation

#8702 lint
  libs/langchain/langchain/smith/evaluation/string_run_evaluator.py
Labels: auto:nit

#8713 relax deps for yaml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:nit

#8712 added minimum expected version of SDK to the error description
  libs/langchain/langchain/chat_models/vertexai.py
  libs/langchain/langchain/utilities/vertexai.py
Labels: auto:improvement

#8706 Deterministic Fake Embedding Model
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/fake.py
  libs/langchain/tests/unit_tests/embeddings/test_deterministic_embedding.py
Labels: lgtm, area: embeddings, auto:improvement

#8669 add model_revison parameter to ModelScopeEmbeddings
  libs/langchain/langchain/embeddings/modelscope_hub.py
Labels: lgtm, area: embeddings, auto:improvement

#8694 RSS Feed / OPML loader
  docs/extras/integrations/document_loaders/example_data/sample_rss_feeds.opml
  docs/extras/integrations/document_loaders/rss.ipynb
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_loaders/rss.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/document_loaders/test_rss.py
  libs/langchain/tests/integration_tests/examples/sample_rss_feeds.opml
  libs/langchain/tests/unit_tests/document_loaders/test_rss.py
  poetry.lock
Labels: lgtm, area: doc loader, auto:enhancement

#8659 Fix Async Retry Event Handling
  libs/langchain/langchain/llms/base.py
  libs/langchain/tests/integration_tests/llms/test_openai.py
  libs/langchain/tests/unit_tests/callbacks/fake_callback_handler.py
  libs/langchain/tests/unit_tests/llms/test_openai.py
Labels: auto:bug

#8582 fix RecursiveUrlLoader
  libs/langchain/langchain/document_loaders/recursive_url_loader.py
Labels: area: doc loader, auto:bug

#7914 add serializer methods
  libs/langchain/langchain/vectorstores/faiss.py
Labels: lgtm, area: vector store, auto:improvement

#7853 propagate RetrievalQA chain callbacks through its own LLMChain and StuffDocumentsChain
  libs/langchain/langchain/chains/retrieval_qa/base.py
Labels: auto:improvement

#7565 propagate callbacks through load_summarize_chain
  libs/langchain/langchain/chains/summarize/__init__.py
Labels: auto:improvement

#7832 Add client params to aleph alpha (llm and embedding)
  docs/extras/integrations/text_embedding/aleph_alpha.ipynb
  libs/langchain/langchain/embeddings/aleph_alpha.py
  libs/langchain/langchain/llms/aleph_alpha.py
Labels: lgtm, area: embeddings, auto:improvement

#8699 Updates to Vectara documentation
  docs/extras/integrations/vectorstores/vectara.ipynb
Labels: lgtm, maintainer-to-merge, area: vector store, auto:documentation

#8622 Fix Issue #6650: Enable Azure Active Directory token-based auth access for AzureChatOpenAI
  libs/langchain/langchain/chat_models/azure_openai.py
Labels: lgtm, auto:improvement

#7933 Add regex control over separators in character text splitter
  docs/snippets/modules/data_connection/document_transformers/text_splitters/character_text_splitter.mdx
  docs/snippets/modules/data_connection/document_transformers/text_splitters/recursive_text_splitter.mdx
  libs/langchain/langchain/text_splitter.py
  libs/langchain/tests/unit_tests/test_text_splitter.py
Labels: auto:improvement

#8034 Provides access to a Document page_content formatter in the AmazonKendraRetriever
  libs/langchain/langchain/retrievers/kendra.py
Labels: auto:improvement

#8735 Harrison/aleph alpha
  docs/extras/integrations/text_embedding/aleph_alpha.ipynb
  libs/langchain/langchain/embeddings/aleph_alpha.py
  libs/langchain/langchain/llms/aleph_alpha.py
Labels: lgtm, area: embeddings, auto:improvement

#8026 Retriever that can re-phase user inputs
  docs/extras/integrations/retrievers/re_phrase.ipynb
  libs/langchain/langchain/retrievers/__init__.py
  libs/langchain/langchain/retrievers/re_phraser.py
Labels: lgtm, auto:enhancement

#7950 Reduce generation of temporary objects
  libs/langchain/langchain/embeddings/openai.py
Labels: lgtm, area: embeddings, auto:nit

#8085 Issue 8081 Fix query results size bug. Other bug: pass vector_field param.
  libs/langchain/langchain/vectorstores/opensearch_vector_search.py
Labels: lgtm, area: vector store, auto:bug

#8740 typo: ignored to ignore
  libs/langchain/langchain/tools/base.py
Labels: lgtm, auto:nit

#8086 Issue #8089 Improve painless script scoring with params.query_value.
  libs/langchain/langchain/vectorstores/opensearch_vector_search.py
Labels: lgtm, area: vector store, auto:improvement

#8112 add save and load tfidf vectorizer and docs for TFIDFRetriever
  docs/extras/integrations/retrievers/tf_idf.ipynb
  libs/langchain/langchain/retrievers/tfidf.py
  libs/langchain/tests/unit_tests/retrievers/test_tfidf.py
Labels: lgtm, area: vector store, auto:improvement

#8113 add filter to sklearn vector store functions
  docs/extras/integrations/vectorstores/sklearn.ipynb
  libs/langchain/langchain/vectorstores/sklearn.py
  libs/langchain/tests/unit_tests/vectorstores/test_sklearn.py
Labels: lgtm, area: vector store, auto:improvement

#7915 Fix load map reduce documents chain
  libs/langchain/langchain/chains/loading.py
Labels: area: doc loader, auto:improvement

#8251 Add ScaNN support in vectorstore.
  docs/extras/integrations/vectorstores/scann.ipynb
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/scann.py
  libs/langchain/tests/integration_tests/vectorstores/test_scann.py
Labels: area: vector store, auto:enhancement

#7626 add `load()` deserializer function that bypasses need for json serialization
  libs/langchain/langchain/load/load.py
  libs/langchain/langchain/smith/evaluation/string_run_evaluator.py
  libs/langchain/tests/unit_tests/load/test_load.py
Labels: auto:improvement

#8727 support for arbitrary kwargs for llamacpp
  libs/langchain/langchain/llms/llamacpp.py
  libs/langchain/langchain/llms/openai.py
  libs/langchain/langchain/utils/utils.py
  libs/langchain/tests/integration_tests/llms/test_llamacpp.py
  libs/langchain/tests/unit_tests/llms/test_openai.py
Labels: auto:improvement

#8554 Chatbots use case
  docs/docs_skeleton/static/img/chat_use_case.png
  docs/docs_skeleton/static/img/chat_use_case_2.png
  docs/extras/use_cases/chatbots.ipynb
  docs/extras/use_cases/chatbots/index.mdx
  docs/extras/use_cases/chatbots/voice_assistant.ipynb
Labels: lgtm, auto:documentation

#8760 Revert "add filter to sklearn vector store functions (#8113)"
  docs/extras/integrations/vectorstores/sklearn.ipynb
  libs/langchain/langchain/vectorstores/sklearn.py
  libs/langchain/tests/unit_tests/vectorstores/test_sklearn.py
Labels: area: vector store, auto:improvement

#8759 bump 252
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#8761 update rss doc
  docs/extras/integrations/document_loaders/rss.ipynb
Labels: area: doc loader, auto:documentation

#8765 Updates fireworks
  docs/extras/integrations/llms/Fireworks.ipynb
  docs/extras/integrations/providers/fireworks.md
  libs/langchain/langchain/llms/fireworks.py
  libs/langchain/tests/integration_tests/llms/test_fireworks.py
Labels: auto:documentation

#8769 add documentation for serializer function
  docs/extras/integrations/vectorstores/faiss.ipynb
Labels: lgtm, area: vector store, auto:documentation

#8744 Update get_started.mdx
  docs/snippets/modules/data_connection/retrievers/self_query/get_started.mdx
Labels: auto:documentation

#8709 (issue #5163) Append reminder to nest multi-prompt router prompt output in JSON markdown code block, resolving JSON parsing error.
  libs/langchain/langchain/chains/router/multi_prompt_prompt.py
Labels: auto:bug

#8723 fix makefile help
  Makefile
  libs/langchain/Makefile
Labels: auto:nit

#8661 Amazon Textract as document loader
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/document_loaders/pdf.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/document_loaders/test_pdf.py
  libs/langchain/tests/integration_tests/examples/multi-page-forms-sample-2-page.pdf
Labels: area: doc loader, auto:improvement

#8646 Add templates
  docs/api_reference/conf.py
  docs/api_reference/create_api_rst.py
  docs/api_reference/requirements.txt
  docs/api_reference/templates/class.rst
  docs/api_reference/templates/enum.rst
  docs/api_reference/templates/pydantic.rst
  docs/api_reference/templates/typeddict.rst
Labels: auto:documentation

#8543 Bagatur/runnable with fallbacks
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/schema/runnable.py
  libs/langchain/tests/unit_tests/schema/test_runnable.py
Labels: auto:improvement

#8738 docs: llamacpp minor fixes
  docs/extras/integrations/llms/llamacpp.ipynb
Labels: auto:documentation

#8381 Update documentation for prompts
  docs/docs_skeleton/docs/modules/model_io/prompts/index.mdx
  docs/docs_skeleton/docs/modules/model_io/prompts/prompt_templates/index.mdx
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
Labels: auto:documentation

#8774 Extend the StreamlitChatMessageHistory docs with a fuller example and…
  docs/extras/integrations/callbacks/streamlit.md
  docs/extras/integrations/memory/streamlit_chat_message_history.ipynb
Labels: area: memory, auto:documentation

#8773 rm sklearn links
  docs/api_reference/themes/scikit-learn-modern/layout.html
  docs/api_reference/themes/scikit-learn-modern/nav.html
Labels: auto:documentation

#8165 fix:get bilibili subtitles
  libs/langchain/langchain/document_loaders/bilibili.py
Labels: lgtm, area: doc loader, auto:bug

#8698 Support evaluating runnables and arbitrary functions
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/tests/integration_tests/smith/evaluation/test_runner_utils.py
Labels: auto:improvement

#8781 Same Project for Eval Runs
  libs/langchain/langchain/callbacks/tracers/evaluation.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: auto:improvement

#8465 Refactor for extraction docs
  docs/docs_skeleton/static/img/extraction.png
  docs/docs_skeleton/static/img/extraction_trace_function.png
  docs/docs_skeleton/static/img/extraction_trace_function_2.png
  docs/docs_skeleton/static/img/extraction_trace_joke.png
  docs/extras/use_cases/extraction.ipynb
  docs/extras/use_cases/extraction/index.mdx
  docs/extras/use_cases/extraction/openai_extraction.ipynb
Labels: auto:documentation

#8404 Bagatur/nuclia
  docs/extras/integrations/document_loaders/nuclia.ipynb
  docs/extras/integrations/document_transformers/nuclia_transformer.ipynb
  docs/extras/integrations/tools/nuclia.ipynb
  libs/langchain/langchain/document_loaders/nuclia.py
  libs/langchain/langchain/document_transformers/__init__.py
  libs/langchain/langchain/document_transformers/nuclia_text_transform.py
  libs/langchain/langchain/tools/nuclia/__init__.py
  libs/langchain/langchain/tools/nuclia/tool.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/document_loaders/test_nuclia.py
  libs/langchain/tests/integration_tests/test_nuclia_transformer.py
  libs/langchain/tests/integration_tests/tools/nuclia/__init__.py
  libs/langchain/tests/integration_tests/tools/nuclia/test_nuclia.py
Labels: lgtm, area: doc loader, auto:enhancement

#8798 bump 253
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#8805 added the embeddings part
  docs/extras/integrations/vectorstores/faiss.ipynb
Labels: area: embeddings, auto:documentation

#8796 feat: expose Kendra result item id and document id as document metadata
  libs/langchain/langchain/retrievers/kendra.py
Labels: auto:improvement

#8784 Update links on QA Use Case docs
  docs/extras/use_cases/question_answering/index.mdx
Labels: auto:documentation

#8767 Improving the text of the invalid tool to list the available tools.
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/tools.py
  libs/langchain/tests/unit_tests/agents/test_agent.py
Labels: area: agent, auto:improvement

#8832 Revert "Bagatur/nuclia (#8404)"
  docs/extras/integrations/document_loaders/nuclia.ipynb
  docs/extras/integrations/document_transformers/nuclia_transformer.ipynb
  docs/extras/integrations/tools/nuclia.ipynb
  libs/langchain/langchain/document_loaders/nuclia.py
  libs/langchain/langchain/document_transformers/__init__.py
  libs/langchain/langchain/document_transformers/nuclia_text_transform.py
  libs/langchain/langchain/tools/nuclia/__init__.py
  libs/langchain/langchain/tools/nuclia/tool.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/document_loaders/test_nuclia.py
  libs/langchain/tests/integration_tests/test_nuclia_transformer.py
  libs/langchain/tests/integration_tests/tools/nuclia/__init__.py
  libs/langchain/tests/integration_tests/tools/nuclia/test_nuclia.py
Labels: area: doc loader, auto:refactor

#8833 Bagatur/revert revert nuclia
  docs/extras/integrations/document_loaders/nuclia.ipynb
  docs/extras/integrations/document_transformers/nuclia_transformer.ipynb
  docs/extras/integrations/tools/nuclia.ipynb
  libs/langchain/langchain/document_loaders/nuclia.py
  libs/langchain/langchain/document_transformers/__init__.py
  libs/langchain/langchain/document_transformers/nuclia_text_transform.py
  libs/langchain/langchain/tools/nuclia/__init__.py
  libs/langchain/langchain/tools/nuclia/tool.py
  libs/langchain/tests/integration_tests/document_loaders/test_nuclia.py
  libs/langchain/tests/integration_tests/test_nuclia_transformer.py
  libs/langchain/tests/integration_tests/tools/nuclia/__init__.py
  libs/langchain/tests/integration_tests/tools/nuclia/test_nuclia.py
Labels: area: doc loader, auto:enhancement

#8834 bump 254
  libs/langchain/pyproject.toml
Labels: auto:nit

#8814 Add missing tests for evaluation
  libs/langchain/langchain/evaluation/string_distance/base.py
  libs/langchain/tests/unit_tests/evaluation/string_distance/test_base.py
  libs/langchain/tests/unit_tests/evaluation/test_loading.py
Labels: auto:improvement

#8812 fix exception inconsistencies
  libs/langchain/langchain/document_loaders/obs_directory.py
  libs/langchain/langchain/document_loaders/obs_file.py
  libs/langchain/langchain/document_loaders/parsers/audio.py
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/embeddings/openai.py
  libs/langchain/langchain/evaluation/string_distance/base.py
  libs/langchain/langchain/memory/chat_message_histories/cosmos_db.py
  libs/langchain/langchain/prompts/example_selector/ngram_overlap.py
Labels: area: doc loader, auto:bug

#8839 fix exception inconsistencies (#8812)
  libs/langchain/langchain/document_loaders/obs_directory.py
  libs/langchain/langchain/document_loaders/obs_file.py
  libs/langchain/langchain/document_loaders/parsers/audio.py
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/embeddings/openai.py
  libs/langchain/langchain/evaluation/string_distance/base.py
  libs/langchain/langchain/memory/chat_message_histories/cosmos_db.py
  libs/langchain/langchain/prompts/example_selector/ngram_overlap.py
Labels: area: doc loader, auto:bug

#8837 Add Dist Metrics for String Distance Evaluation
  libs/langchain/langchain/evaluation/string_distance/base.py
  libs/langchain/tests/unit_tests/evaluation/string_distance/test_base.py
  libs/langchain/tests/unit_tests/evaluation/test_loading.py
Labels: auto:improvement

#8807 Fix docs for Rockset
  docs/extras/integrations/vectorstores/rockset.ipynb
Labels: lgtm, area: vector store, auto:documentation

#8787 #8786 Fixed: Callback handler disconnect in between
  libs/langchain/langchain/chains/question_answering/__init__.py
Labels: lgtm, auto:bug

#7617 Fix issue #7616
  libs/langchain/langchain/chains/openai_functions/base.py
Labels: lgtm, auto:bug

#8830 add example of memory and returning retrieved docs
  docs/extras/guides/expression_language/cookbook.ipynb
Labels: area: memory, auto:documentation

#8811 Fix typo in long_context_reorder.ipynb
  docs/extras/modules/data_connection/document_transformers/post_retrieval/long_context_reorder.ipynb
Labels: auto:documentation

#8808 docs: Improvements on Mendable Search
  docs/docs_skeleton/package-lock.json
  docs/docs_skeleton/package.json
Labels: auto:documentation

#8803 Convenient filter pass to as_retriver() for vectorstores
  docs/snippets/modules/chains/popular/vector_db_qa.mdx
  docs/snippets/modules/chains/popular/vector_db_qa_with_sources.mdx
  libs/langchain/langchain/vectorstores/base.py
Labels: area: vector store, auto:improvement

#8135 Feature faiss delete
  docs/extras/integrations/vectorstores/faiss.ipynb
  libs/langchain/langchain/docstore/base.py
  libs/langchain/langchain/docstore/in_memory.py
  libs/langchain/langchain/vectorstores/faiss.py
Labels: lgtm, area: vector store, auto:improvement

#8502 Async Recursive URL loader
  docs/extras/integrations/document_loaders/recursive_url_loader.ipynb
  libs/langchain/langchain/document_loaders/recursive_url_loader.py
Labels: area: doc loader, auto:improvement

#8840 Harrison/as retriever docstring
  docs/snippets/modules/chains/popular/vector_db_qa.mdx
  docs/snippets/modules/chains/popular/vector_db_qa_with_sources.mdx
  libs/langchain/langchain/vectorstores/base.py
Labels: area: vector store, auto:documentation

#8771 Fix invalid escape sequence warnings
  libs/langchain/langchain/text_splitter.py
  libs/langchain/tests/unit_tests/test_text_splitter.py
Labels: lgtm, auto:bug

#8750 MultiOn client toolkit update 2.0
  docs/extras/integrations/toolkits/multion.ipynb
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/multion/base.py
  libs/langchain/langchain/agents/agent_toolkits/multion/toolkit.py
  libs/langchain/langchain/tools/multion/__init__.py
  libs/langchain/langchain/tools/multion/create_session.py
  libs/langchain/langchain/tools/multion/tool.py
  libs/langchain/langchain/tools/multion/update_session.py
  libs/langchain/langchain/utilities/multion.py
Labels: area: agent, auto:improvement

#8288 fix: overwrite stream for ChatOpenAI in runtime
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/chat_models/promptlayer_openai.py
Labels: auto:bug

#8865 bump 255
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#8806 feat(llms): add support for vLLM
  docs/extras/integrations/llms/vllm.ipynb
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/vllm.py
Labels: lgtm, area: embeddings, auto:enhancement

#8831 Added chat history to codey models
  libs/langchain/langchain/chat_models/vertexai.py
  libs/langchain/tests/integration_tests/chat_models/test_vertexai.py
Labels: lgtm, auto:improvement

#8822 Add support for Xata as a vector store
  docs/extras/integrations/vectorstores/xata.ipynb
  libs/langchain/langchain/vectorstores/xata.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/vectorstores/test_xata.py
Labels: area: vector store, auto:enhancement

#8870 bump 256
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#8841 Add concurrency support for run_on_dataset
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: auto:improvement

#8856 Fix/abstract add message
  libs/langchain/langchain/schema/memory.py
Labels: area: memory, auto:nit

#8848 Add BGE embeddings support
  docs/extras/integrations/text_embedding/bge_huggingface.ipynb
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/huggingface.py
Labels: lgtm, area: embeddings, auto:enhancement

#8859 fix evaluation parse test
  libs/langchain/langchain/evaluation/comparison/eval_chain.py
  libs/langchain/langchain/evaluation/criteria/eval_chain.py
  libs/langchain/tests/unit_tests/evaluation/comparison/test_eval_chain.py
  libs/langchain/tests/unit_tests/evaluation/criteria/test_eval_chain.py
Labels: auto:bug

#8758 JsonOutputFunctionParser: Fix mutation in place bug
  libs/langchain/langchain/output_parsers/openai_functions.py
  libs/langchain/tests/unit_tests/output_parsers/test_openai_functions.py
Labels: auto:bug

#8862 Add flush=True to stream examples
  docs/extras/guides/expression_language/interface.ipynb
Labels: auto:documentation

#8878 Fix colab link for extraction ntbk
  docs/extras/use_cases/extraction.ipynb
Labels: auto:documentation

#8876 Introduce Nebula LLM to LangChain
  docs/extras/integrations/llms/symblai_nebula.ipynb
  docs/extras/integrations/providers/symblai_nebula.mdx
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/symblai_nebula.py
  libs/langchain/tests/integration_tests/llms/test_symblai_nebula.py
Labels: lgtm, auto:enhancement

#8793 Add new parameter forced_decoder_ids to OpenAIWhisperParserLocal + small bug fix
  libs/langchain/langchain/document_loaders/parsers/audio.py
Labels: lgtm, area: doc loader, auto:improvement

#8770 Create ChatAnyscale
  docs/extras/integrations/chat/anyscale.ipynb
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/chat_models/anyscale.py
Labels: auto:enhancement

#8882 Fixes typo in documentation
  docs/extras/integrations/tools/google_search.ipynb
Labels: lgtm, auto:documentation

#8776 Async RetryOutputParser, RetryWithErrorOutputParser and OutputFixingParser
  libs/langchain/langchain/output_parsers/fix.py
  libs/langchain/langchain/output_parsers/retry.py
Labels: auto:improvement

#8886 update metaphor docs
  docs/extras/integrations/tools/metaphor_search.ipynb
  docs/snippets/modules/agents/get_started.mdx
Labels: area: doc loader, auto:documentation

#8753 when encountering error during fetch return "" in web_base.py
  libs/langchain/langchain/document_loaders/blackboard.py
  libs/langchain/langchain/document_loaders/gitbook.py
  libs/langchain/langchain/document_loaders/sitemap.py
  libs/langchain/langchain/document_loaders/web_base.py
Labels: lgtm, area: doc loader, auto:bug

#8888 Fix metaphor install command in guide
  docs/extras/integrations/tools/metaphor_search.ipynb
Labels: auto:documentation

#8682 Make json output parser handle newlines inside markdown code blocks
  libs/langchain/langchain/output_parsers/json.py
  libs/langchain/tests/unit_tests/output_parsers/test_json.py
Labels: auto:improvement

#8890 Change default Metaphor search example to use prompt optimizer
  docs/extras/integrations/tools/metaphor_search.ipynb
Labels: auto:documentation

#8868 Allow to specify a custom loader for GcsFileLoader
  docs/extras/integrations/document_loaders/google_cloud_storage_file.ipynb
  libs/langchain/langchain/document_loaders/gcs_directory.py
  libs/langchain/langchain/document_loaders/gcs_file.py
Labels: lgtm, area: doc loader, auto:improvement

#8835 Add: USearch Vector Store
  docs/extras/integrations/vectorstores/usearch.ipynb
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/usearch.py
  libs/langchain/tests/integration_tests/vectorstores/test_usearch.py
Labels: lgtm, area: vector store, auto:enhancement

#8829 Adds Ollama as an LLM
  docs/extras/integrations/llms/ollama.ipynb
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/ollama.py
Labels: auto:enhancement

#8903 bump 257
  libs/langchain/pyproject.toml
Labels: release, auto:nit
