Repository langchain-ai/langchain, pull requests merged in 2023-06, with the labels that each got.

#5501 Fix wrong class instantiation in docs MMR example
  docs/modules/prompts/example_selectors/examples/mmr.ipynb
Labels: lgtm

#5478 make BaseEntityStore inherit from BaseModel
  langchain/memory/entity.py
Labels: lgtm

#4521 feat(integrations): Add WandbTracer
  docs/integrations/agent_with_wandb_tracing.ipynb
  docs/integrations/wandb_tracking.ipynb
  langchain/callbacks/__init__.py
  langchain/callbacks/manager.py
  langchain/callbacks/tracers/__init__.py
  langchain/callbacks/tracers/wandb.py
  langchain/callbacks/wandb_callback.py
  langchain/utils.py
  langchain/vectorstores/sklearn.py
  tests/integration_tests/callbacks/test_wandb_tracer.py
Labels: enhancement, lgtm, callbacks

#5533 add maxcompute
  docs/modules/indexes/document_loaders/examples/alibaba_cloud_maxcompute.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/max_compute.py
  langchain/utilities/max_compute.py
  tests/integration_tests/document_loaders/test_max_compute.py
Labels: enhancement, doc loader

#5568 bump 188
  pyproject.toml
Labels: release

#5574 Fix bedrock auth validation
  langchain/embeddings/bedrock.py
Labels: lgtm

#5206 Fix SQLAlchemy truncating text when it is too big
  langchain/sql_database.py
  tests/unit_tests/test_sql_database.py
Labels: lgtm, maintainer-to-merge

#5602 docs(integration): update colab and external links in WandbTracing docs
  docs/integrations/wandb_tracking.ipynb
Labels: lgtm

#5629 Fix bedrock llm boto3 client instantiation
  langchain/llms/bedrock.py
Labels: bug, lgtm

#5636 fix import issue
  langchain/document_loaders/__init__.py
Labels: lgtm

#4844 - Pubmed integration
  langchain/agents/load_tools.py
  langchain/retrievers/__init__.py
  langchain/retrievers/pupmed.py
  langchain/tools/pubmed/__init__.py
  langchain/tools/pubmed/tool.py
  langchain/utilities/__init__.py
  langchain/utilities/pupmed.py
  tests/integration_tests/retrievers/test_pupmed.py
  tests/integration_tests/utilities/test_pupmed.py
Labels: enhancement, maintainer-to-merge, needs documentation

#4970 Update azure_openai_example.ipynb
  docs/modules/models/llms/integrations/azure_openai_example.ipynb
Labels: lgtm

#4979 Fixed multi input prompt for MapReduceChain
  docs/modules/chains/index_examples/summarize.ipynb
  langchain/chains/mapreduce.py
Labels: needs documentation

#5383 Update confluence.py to return spaces between elements
  langchain/document_loaders/confluence.py
Labels: lgtm, maintainer-to-merge

#5385 Implements support for Personal Access Token Authentication in the ConfluenceLoader
  docs/modules/indexes/document_loaders/examples/confluence.ipynb
  langchain/document_loaders/confluence.py
Labels: lgtm, maintainer-to-merge

#5120 Update neo4j_graph.py
  langchain/chains/graph_qa/cypher.py
  langchain/graphs/neo4j_graph.py
Labels: lgtm

#5332 refactor: BaseStringMessagePromptTemplate from_template method
  langchain/prompts/chat.py
Labels: lgtm

#5479 Update youtube.py - Fix metadata validation error in YoutubeLoader
  langchain/document_loaders/youtube.py
Labels: lgtm

#5547 Improve Error Messaging for APOC Procedure Failure in Neo4jGraph
  langchain/graphs/neo4j_graph.py
Labels: lgtm

#5655 Support similarity_score_threshold retrieval with Chroma
  langchain/vectorstores/chroma.py
Labels: lgtm

#5179 refactor: extract token text splitter function
  docs/modules/indexes/text_splitters/examples/sentence_transformer_token_splitter.ipynb
  langchain/text_splitter.py
  tests/integration_tests/test_text_splitter.py
Labels: lgtm, maintainer-to-merge

#5676 sqlalchemy MovedIn20Warning declarative_base DEPRICATION fix
  langchain/memory/chat_message_histories/sql.py
  langchain/vectorstores/analyticdb.py
Labels: lgtm

#5673 top_k and top_p transposed in vertexai
  langchain/llms/vertexai.py
  tests/integration_tests/chat_models/test_vertexai.py
Labels: lgtm

#5704 bump version to 190
  pyproject.toml
Labels: release

#4047 docs: Added Deploying LLMs into production + a new ecosystem
  docs/additional_resources/deploy_llms.rst
  docs/ecosystem/deployments.md
  docs/ecosystem/ray_serve.ipynb
  docs/index.rst
Labels: lgtm

#5172 Adding support to save multiple memories at a time. Cuts save time by …
  langchain/experimental/generative_agents/memory.py
Labels: lgtm

#5541 Cypher search: Check if generated Cypher is provided in backticks
  langchain/chains/graph_qa/cypher.py
  langchain/chains/graph_qa/prompts.py
  tests/unit_tests/chains/test_graph_qa.py
Labels: lgtm

#5742 Zep Hybrid Search
  langchain/memory/chat_message_histories/zep.py
  langchain/retrievers/zep.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/retrievers/test_zep.py
Labels: lgtm

#5731 Error in documentation: Chroma constructor
  langchain/vectorstores/chroma.py
Labels: lgtm

#5650 Integrate Clickhouse as Vector Store
  docs/integrations/clickhouse.md
  docs/modules/indexes/vectorstores/examples/clickhouse.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/clickhouse.py
  tests/integration_tests/vectorstores/test_clickhouse.py
Labels: enhancement, lgtm

#5749 Add class attribute "return_generated_question" to class "BaseConversationalRetrievalChain"
  langchain/chains/conversational_retrieval/base.py
Labels: lgtm

#5719 use tenacity to retry in cohere llm as it is done for openai llms
  langchain/llms/cohere.py
Labels: lgtm

#5692 feat: make YoutubeLoader support multi language transcript
  docs/modules/indexes/document_loaders/examples/youtube_transcript.ipynb
  langchain/document_loaders/youtube.py
Labels: lgtm

#5661 Add aviary support
  docs/modules/models/llms/integrations/aviary.ipynb
  langchain/llms/__init__.py
  langchain/llms/aviary.py
  tests/integration_tests/llms/test_aviary.py
Labels: enhancement, llms

#5757 cohere retries
  langchain/llms/cohere.py
Labels: lgtm

#5728 Strips whitespace and \n from loc before filtering urls from sitemap
  langchain/document_loaders/sitemap.py
Labels: lgtm

#5625 fix markdown text splitter horizontal lines
  langchain/text_splitter.py
  tests/unit_tests/test_text_splitter.py
Labels: lgtm

#5703 feat: Support for `Tigris` Vector Database for vector search
  docs/modules/indexes/vectorstores/examples/tigris.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/tigris.py
  poetry.lock
  pyproject.toml
Labels: lgtm

#5613 Scores are explained in vectorestore docs
  docs/modules/indexes/vectorstores/examples/chroma.ipynb
  docs/modules/indexes/vectorstores/examples/docarray_hnsw.ipynb
  docs/modules/indexes/vectorstores/examples/docarray_in_memory.ipynb
  docs/modules/indexes/vectorstores/examples/faiss.ipynb
  docs/modules/indexes/vectorstores/examples/myscale.ipynb
  docs/modules/indexes/vectorstores/examples/qdrant.ipynb
  docs/modules/indexes/vectorstores/examples/supabase.ipynb
  docs/modules/indexes/vectorstores/examples/vectara.ipynb
  docs/modules/indexes/vectorstores/examples/weaviate.ipynb
  langchain/vectorstores/chroma.py
  langchain/vectorstores/docarray/base.py
  langchain/vectorstores/faiss.py
  langchain/vectorstores/myscale.py
  langchain/vectorstores/qdrant.py
  langchain/vectorstores/weaviate.py
Labels: lgtm

#5802 Add UTF-8 json ouput support while langchain.debug is set to True.
  langchain/callbacks/tracers/stdout.py
Labels: lgtm

#5805 add doc about reusing MongoDBAtlasVectorSearch
  docs/modules/indexes/vectorstores/examples/mongodb_atlas_vector_search.ipynb
Labels: lgtm

#5806 Update adding_memory.ipynb
  docs/modules/memory/examples/adding_memory.ipynb
Labels: lgtm

#5838 bump version to 193
  pyproject.toml
Labels: release

#5715 feat: issue-5712 add sleep tool
  docs/modules/agents/tools/getting_started.md
  langchain/agents/load_tools.py
  langchain/tools/sleep/__init__.py
  langchain/tools/sleep/tool.py
Labels: lgtm

#5847 Add how to use a custom scraping function with the sitemap loader.
  docs/modules/indexes/document_loaders/examples/sitemap.ipynb
Labels: lgtm, maintainer-to-merge

#5832 Update microsoft loader example with docx2txt dependency
  docs/modules/indexes/document_loaders/examples/microsoft_word.ipynb
Labels: agent, maintainer-to-merge

#5781 qdrant vector store - search with relevancy scores
  langchain/vectorstores/qdrant.py
  tests/integration_tests/vectorstores/test_qdrant.py
Labels: lgtm

#5855 Update to Getting Started docs page for Memory
  docs/modules/memory/getting_started.ipynb
Labels: lgtm

#5793 Fix exporting GCP Vertex Matching Engine from vectorstores
  langchain/vectorstores/__init__.py
Labels: lgtm

#5641 Add knn and query search field options to ElasticKnnSearch
  langchain/vectorstores/elastic_vector_search.py
Labels: lgtm

#5157 Fauna Loader
  docs/modules/indexes/document_loaders/examples/fauna.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/fauna.py
  pyproject.toml
  tests/integration_tests/document_loaders/test_fauna.py
Labels: enhancement, doc loader

#5693 Fix serialization issue with W&B
  langchain/callbacks/tracers/wandb.py
Labels: lgtm

#5619 Added SingleStoreDB Vector Store
  docs/modules/indexes/vectorstores/examples/singlestoredb.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/base.py
  langchain/vectorstores/singlestoredb.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/vectorstores/test_singlestoredb.py
Labels: enhancement, lgtm, vector store

#5575 Refactor and update databricks integration page
  docs/integrations/databricks.md
  docs/integrations/databricks/databricks.ipynb
  docs/modules/models/llms/integrations/databricks.ipynb
  docs/modules/models/llms/integrations/huggingface_hub.ipynb
Labels: lgtm

#5818 Implement saving and loading of RetrievalQA chain
  langchain/chains/loading.py
  langchain/chains/retrieval_qa/base.py
  tests/integration_tests/chains/test_retrieval_qa.py
Labels: lgtm

#5864 Harrison/fauna loader
  docs/modules/indexes/document_loaders/examples/fauna.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/fauna.py
  tests/integration_tests/document_loaders/test_fauna.py
Labels: lgtm

#5494 feat: support NebulaGraph DB, add NebulaGraphQAChain
  docs/modules/chains/examples/graph_nebula_qa.ipynb
  langchain/chains/__init__.py
  langchain/chains/graph_qa/nebulagraph.py
  langchain/chains/graph_qa/prompts.py
  langchain/graphs/__init__.py
  langchain/graphs/nebula_graph.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/graphs/test_nebulagraph.py
Labels: lgtm

#5866 bump version to 194
  poetry.lock
  pyproject.toml
Labels: release

#5891 Fix the issue where the parameters passed to VertexAI ignored #5889
  langchain/llms/vertexai.py
  langchain/utilities/vertexai.py
Labels: lgtm

#5949 bump ver to 195
  pyproject.toml
Labels: release

#5988 bump version to 196
  pyproject.toml
Labels: release

#5991 Fixed typo missing "use"
  docs/modules/indexes/retrievers/examples/vectorstore.ipynb
Labels: lgtm, maintainer-to-merge

#5955 feat: Add `UnstructuredXMLLoader` for `.xml` files
  docs/modules/indexes/document_loaders/examples/example_data/factbook.xml
  docs/modules/indexes/document_loaders/examples/xml.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/xml.py
  tests/integration_tests/document_loaders/test_xml.py
  tests/integration_tests/examples/factbook.xml
Labels: lgtm

#5950 Update to Vectara integration
  docs/integrations/vectara.md
  docs/integrations/vectara/vectara_chat.ipynb
  docs/integrations/vectara/vectara_text_generation.ipynb
  docs/modules/indexes/vectorstores/examples/vectara.ipynb
  docs/modules/indexes/vectorstores/examples/weaviate.ipynb
  langchain/vectorstores/vectara.py
  tests/integration_tests/vectorstores/test_vectara.py
Labels: lgtm

#5939 fix: use model token limit not tokenizer ditto
  langchain/text_splitter.py
Labels: lgtm

#5823 add ocr_languages param for ConfluenceLoader.load()
  langchain/document_loaders/confluence.py
Labels: lgtm

#5993 Harrison/arxiv fix
  langchain/tools/arxiv/tool.py
Labels: lgtm

#6007 bump version to 197
  pyproject.toml
Labels: release

#5976 Add embaas embeddings api endpoints
  docs/modules/models/text_embedding/examples/embaas.ipynb
  langchain/embeddings/__init__.py
  langchain/embeddings/embaas.py
  tests/integration_tests/embeddings/test_embaas.py
Labels: lgtm, maintainer-to-merge

#5878 fix: TypeError when loading confluence pages by cql
  langchain/document_loaders/confluence.py
Labels: lgtm

#5146 Add Azure Cognitive Search as vector store
  docs/modules/indexes/vectorstores/examples/azuresearch.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/azuresearch.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/vectorstores/test_azuresearch.py
Labels: enhancement, vector store

#6010 Harrison/embaas
  docs/modules/models/text_embedding/examples/embaas.ipynb
  langchain/embeddings/__init__.py
  langchain/embeddings/embaas.py
  tests/integration_tests/embeddings/test_embaas.py
Labels: lgtm

#5727 Add Hologres data warehouse as vectorstore
  docs/modules/indexes/vectorstores/examples/hologres.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/hologres.py
  tests/integration_tests/vectorstores/test_hologres.py
Labels: enhancement, lgtm, vector store

#5733 nc/load
  langchain/base_language.py
  langchain/callbacks/manager.py
  langchain/callbacks/tracers/base.py
  langchain/callbacks/tracers/schemas.py
  langchain/chains/base.py
  langchain/chains/llm.py
  langchain/chat_models/base.py
  langchain/chat_models/openai.py
  langchain/llms/base.py
  langchain/llms/openai.py
  langchain/load/__init__.py
  langchain/load/dump.py
  langchain/load/load.py
  langchain/load/serializable.py
  langchain/prompts/base.py
  langchain/prompts/chat.py
  langchain/prompts/few_shot.py
  langchain/prompts/prompt.py
  langchain/schema.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/callbacks/tracers/test_base_tracer.py
  tests/unit_tests/callbacks/tracers/test_langchain_v1.py
  tests/unit_tests/load/__snapshots__/test_dump.ambr
  tests/unit_tests/load/test_dump.py
  tests/unit_tests/load/test_load.py
  tests/unit_tests/test_dependencies.py
Labels: lgtm

#6012 Harrison/hologres
  docs/modules/indexes/vectorstores/examples/hologres.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/hologres.py
  tests/integration_tests/vectorstores/test_hologres.py
Labels: lgtm

#6022 Update MongoDB Atlas support docs
  docs/modules/indexes/vectorstores/examples/mongodb_atlas_vector_search.ipynb
Labels: lgtm

#5929 add dashscope text embedding
  docs/modules/models/text_embedding/examples/dashscope.ipynb
  langchain/embeddings/__init__.py
  langchain/embeddings/dashscope.py
  tests/integration_tests/embeddings/test_dashscope.py
Labels: lgtm

#6011 Harrison/cognitive search
  docs/modules/indexes/vectorstores/examples/azuresearch.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/azuresearch.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/vectorstores/test_azuresearch.py
Labels: lgtm

#6102 bump version to 199
  pyproject.toml
Labels: release

#6130 bump ver to 200
  docs/modules/agents/agents/examples/openai_functions_agent.ipynb
  langchain/callbacks/stdout.py
  pyproject.toml
Labels: release

#6163 typo: 'following following' to 'following'
  docs/modules/chains/index_examples/summarize.ipynb
Labels: lgtm

#5922 feat: add content_format param to ConfluenceLoader.load()
  langchain/document_loaders/confluence.py
Labels: lgtm

#6203 Fix typo `pandocs` to `pandoc`
  docs/modules/indexes/document_loaders/examples/epub.ipynb
Labels: lgtm

#5920 Fix: change the chatgpt plugin retriever metadata format
  langchain/retrievers/chatgpt_plugin_retriever.py
Labels: lgtm

#6262 bump to 202
  pyproject.toml
Labels: release

#6283 Fixes #6282
  langchain/chains/llm_requests.py
Labels: lgtm

#6263 Harrison/deeplake new features
  docs/.local_build.sh
  docs/extras/modules/data_connection/vectorstores/integrations/deeplake.ipynb
  langchain/vectorstores/deeplake.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/vectorstores/test_deeplake.py
Labels: lgtm

#6332 fix links to prompt templates and example selectors
  docs/docs_skeleton/docs/modules/model_io/prompts/index.mdx
Labels: lgtm

#6031 DocArray as a Retriever
  docs/extras/modules/data_connection/retrievers/integrations/docarray_retriever.ipynb
  langchain/retrievers/__init__.py
  langchain/retrievers/docarray.py
  tests/integration_tests/retrievers/docarray/__init__.py
  tests/integration_tests/retrievers/docarray/fixtures.py
  tests/integration_tests/retrievers/docarray/test_backends.py
Labels: lgtm

#6040 make modelname_to_contextsize as a staticmethod
  langchain/llms/openai.py
Labels: lgtm

#5997 Add oobabooga/text-generation-webui support as a llm
  docs/modules/models/llms/integrations/textgen.ipynb
  langchain/llms/__init__.py
  langchain/llms/textgen.py
Labels: enhancement, lgtm

#6005 Raise an exception in MRKL if no tool is provided.
  langchain/agents/mrkl/base.py
  tests/unit_tests/agents/test_serialization.py
Labels: lgtm

#6035 Allow GoogleDrive to authenticate via application default credentials on Cloud Run/GCE etc without service key
  langchain/document_loaders/googledrive.py
Labels: lgtm

#6043 qdrant: search by vector
  langchain/vectorstores/qdrant.py
  tests/integration_tests/vectorstores/test_qdrant.py
Labels: lgtm

#6070 Allow FAISS score_threshold
  langchain/retrievers/contextual_compression.py
  langchain/vectorstores/base.py
  langchain/vectorstores/faiss.py
Labels: lgtm

#6340 Harrison/error zero tools
  langchain/agents/mrkl/base.py
  tests/unit_tests/agents/test_serialization.py
Labels: lgtm

#6341 Harrison/faiss score
  langchain/retrievers/contextual_compression.py
  langchain/vectorstores/base.py
  langchain/vectorstores/faiss.py
Labels: lgtm

#6221 Custom Anthropic API URL
  langchain/llms/anthropic.py
Labels: lgtm

#6107 update web_base.py to have verify option
  langchain/document_loaders/web_base.py
Labels: lgtm

#6349 Harrison/mmr support for opensearch
  docs/extras/modules/data_connection/vectorstores/integrations/opensearch.ipynb
  langchain/vectorstores/opensearch_vector_search.py
Labels: lgtm

#6375 Harrison/gdrive enhancements
  docs/extras/modules/data_connection/document_loaders/integrations/google_drive.ipynb
  langchain/document_loaders/googledrive.py
Labels: lgtm

#6376 Harrison/myscale self query
  docs/extras/modules/data_connection/retrievers/how_to/self_query/myscale_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/how_to/self_query/qdrant_self_query.ipynb
  docs/extras/modules/data_connection/vectorstores/integrations/myscale.ipynb
  langchain/chains/query_constructor/ir.py
  langchain/chains/query_constructor/parser.py
  langchain/chains/query_constructor/prompt.py
  langchain/retrievers/self_query/base.py
  langchain/retrievers/self_query/myscale.py
  tests/integration_tests/vectorstores/test_mongodb_atlas.py
  tests/unit_tests/retrievers/self_query/test_myscale.py
Labels: lgtm

#6387 Harrison/metaphor search fix
  docs/extras/modules/agents/tools/integrations/metaphor_search.ipynb
  langchain/tools/metaphor_search/tool.py
  langchain/utilities/metaphor_search.py
Labels: lgtm

#6388 Harrison/zep mem
  docs/extras/modules/data_connection/retrievers/integrations/zep_memorystore.ipynb
  docs/extras/modules/memory/integrations/zep_memory.ipynb
Labels: lgtm

#6389 Harrison/functions docs improvements
  docs/extras/modules/agents/agent_types/openai_functions_agent.ipynb
Labels: lgtm

#6383 [hotfix] Deep Lake fails on newer version due to hardcode
  docs/extras/use_cases/code/index.mdx
  docs/extras/use_cases/code/twitter-the-algorithm-analysis-deeplake.ipynb
  langchain/vectorstores/deeplake.py
Labels: lgtm

#6123 Fix typo in the CAI critique prompt
  langchain/chains/constitutional_ai/prompts.py
Labels: lgtm

#6132 Correct AzureSearch Vector Store not applying search_kwargs when searching
  langchain/vectorstores/azuresearch.py
Labels: lgtm

#6141 Fixed an unhandled error that was raised when DynamoDB did not have any chat history.
  langchain/memory/chat_message_histories/dynamodb.py
Labels: lgtm

#6146 Removed handling for non-existent error in chromadb library
  langchain/vectorstores/chroma.py
Labels: lgtm

#6159 VectorStore Typesense refactored example code and modified k value
  langchain/vectorstores/typesense.py
Labels: lgtm

#6235 Fix LLM types so that they can be loaded from config dicts
  langchain/llms/aleph_alpha.py
  langchain/llms/bananadev.py
  langchain/llms/huggingface_text_gen_inference.py
  langchain/llms/llamacpp.py
  langchain/llms/mosaicml.py
  langchain/llms/rwkv.py
Labels: lgtm

#6239 add max_context_size property in BaseOpenAI
  langchain/llms/openai.py
Labels: lgtm

#6246 Add markdown to specify important arguments
  docs/extras/modules/data_connection/document_loaders/integrations/url.ipynb
Labels: lgtm

#6248 Update web_base.ipynb for guiding purposes
  docs/extras/modules/data_connection/document_loaders/integrations/web_base.ipynb
Labels: lgtm

#6258 Iterate through filtered file types instead of all listed files
  langchain/document_loaders/googledrive.py
Labels: lgtm

#6277 Fixes typo in Vectara.similarity_search
  langchain/vectorstores/vectara.py
Labels: lgtm

#6297 - Fix pass system_message argument in new feature openai_functions_agent
  langchain/agents/openai_functions_agent/base.py
Labels: lgtm

#6287 Added gpt-3.5-turbo 0613 16k and 16k-0613 pricing
  langchain/callbacks/openai_info.py
Labels: openai-pricing

#6392 rm pandas from arize
  langchain/callbacks/arize_callback.py
Labels: lgtm

#6391 Harrison/typesense fix
  langchain/vectorstores/typesense.py
Labels: lgtm

#6390 Harrison/chroma fix
  langchain/vectorstores/chroma.py
  pyproject.toml
Labels: lgtm

#6256 Update web_base.py _fetch() method For SiteMapLoader
  langchain/document_loaders/web_base.py
Labels: lgtm

#6410 bump version to 205
  pyproject.toml
Labels: release

#6450 Remove extra word in the introduction documentation
  docs/docs_skeleton/docs/get_started/introduction.mdx
Labels: lgtm

#6442 Remove backticks without clear purpose from docs
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
Labels: lgtm

#6429 Fix Custom LLM Agent example
  docs/snippets/modules/agents/how_to/custom_llm_agent.mdx
Labels: lgtm

#6425 Update introduction.mdx
  docs/docs_skeleton/docs/get_started/introduction.mdx
Labels: lgtm

#6299 docs `retrievers` fixes
  docs/extras/modules/data_connection/retrievers/how_to/self_query/chroma_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/how_to/self_query/qdrant_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/how_to/self_query/weaviate_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/integrations/merger_retriever.ipynb
  docs/extras/modules/data_connection/retrievers/integrations/pubmed.ipynb
Labels: lgtm

#6186 Fixed a link typo /-/route -> /-/routes. and change endpoint format
  docs/extras/modules/model_io/models/llms/integrations/anyscale.ipynb
  langchain/llms/anyscale.py
Labels: lgtm

#5543 Incorrect argument count handling
  langchain/tools/base.py
  tests/unit_tests/agents/test_tools.py
  tests/unit_tests/tools/test_base.py
Labels: lgtm

#5579 Add a "paged" mode for unstructured to include page number in metadata
  docs/extras/modules/data_connection/document_loaders/integrations/unstructured_file.ipynb
  langchain/document_loaders/unstructured.py
  tests/integration_tests/document_loaders/test_pdf.py
Labels: lgtm

#6456 Fix for #6431 - chatprompt template with partial variables giing validation error
  langchain/prompts/chat.py
  tests/unit_tests/prompts/test_chat.py
Labels: lgtm

#6275 Improve error message
  langchain/agents/openai_functions_agent/base.py
Labels: lgtm

#6464 Harrison/unstructured page number
  docs/extras/modules/data_connection/document_loaders/integrations/unstructured_file.ipynb
  langchain/document_loaders/unstructured.py
  tests/integration_tests/document_loaders/test_pdf.py
Labels: lgtm

#6409 feat: use latest duckduckgo_search API to call
  langchain/utilities/duckduckgo_search.py
  poetry.lock
  pyproject.toml
Labels: lgtm

#6396 fix: llm caching for replicate
  langchain/llms/replicate.py
Labels: lgtm

#6386 Update serpapi.py Support baidu list type answer_box
  langchain/utilities/serpapi.py
Labels: lgtm

#6381 fix neo4j schema query
  langchain/graphs/neo4j_graph.py
  tests/integration_tests/chains/test_graph_database.py
Labels: lgtm

#6465 bump version to 206
  pyproject.toml
Labels: release

#6382 add FunctionMessage support to `_convert_dict_to_message()` in OpenAI chat model
  langchain/chat_models/openai.py
  tests/unit_tests/chat_models/test_openai.py
Labels: lgtm

#6488 release 207
  pyproject.toml
Labels: release

#6496 Documentation Fix: Correct the example code output in the prompt templates doc
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
Labels: lgtm

#6492 Fixed: 'readible' -> readable
  langchain/agents/agent_toolkits/powerbi/prompt.py
Labels: lgtm

#6479 Fix typo in docstring of format_tool_to_openai_function
  langchain/tools/convert_to_openai.py
Labels: lgtm

#6474 typo(llamacpp.ipynb): 'condiser' -> 'consider'
  docs/extras/modules/model_io/models/llms/integrations/llamacpp.ipynb
Labels: lgtm

#6454 Add KuzuQAChain
  docs/extras/modules/chains/additional/graph_kuzu_qa.ipynb
  langchain/chains/__init__.py
  langchain/chains/graph_qa/kuzu.py
  langchain/chains/graph_qa/prompts.py
  langchain/graphs/__init__.py
  langchain/graphs/kuzu_graph.py
  poetry.lock
  tests/integration_tests/test_kuzu.py
Labels: enhancement, lgtm

#6354 Be able to use Codey models on Vertex AI
  docs/extras/modules/model_io/models/chat/integrations/google_vertex_ai_palm.ipynb
  docs/extras/modules/model_io/models/llms/integrations/google_vertex_ai_palm.ipynb
  langchain/chat_models/vertexai.py
  langchain/llms/vertexai.py
  langchain/utilities/vertexai.py
Labels: enhancement, lgtm

#6507 Add async support for HuggingFaceTextGenInference
  langchain/llms/huggingface_text_gen_inference.py
Labels: lgtm

#6495 Feat: Add a prompt template parameter to qa with structure chains
  docs/extras/modules/chains/additional/openai_functions_retrieval_qa.ipynb
  langchain/chains/openai_functions/qa_with_structure.py
Labels: lgtm
