Repository langchain-ai/langchain, pull requests merged in 2023-07, with the labels that each got.

#6988 Fix: Correct typo
  docs/snippets/modules/model_io/prompts/prompt_templates/prompt_composition.mdx
Labels: lgtm, auto:nit, auto:documentation

#6985 Fix typo in quickstart.mdx
  docs/docs_skeleton/docs/get_started/quickstart.mdx
Labels: lgtm, auto:nit, auto:documentation

#6977 feat: enable `UnstructuredEmailLoader` to process attachments
  docs/extras/modules/data_connection/document_loaders/integrations/email.ipynb
  docs/extras/modules/data_connection/document_loaders/integrations/example_data/fake-email-attachment.eml
  langchain/document_loaders/email.py
  tests/integration_tests/document_loaders/test_email.py
  tests/integration_tests/examples/fake-email-attachment.eml
Labels: auto:enhancement, auto:documentation

#7017 Second Attempt - Add concurrent insertion of vector rows in the Cassandra Vector Store
  docs/extras/ecosystem/integrations/cassandra.mdx
  docs/extras/modules/data_connection/vectorstores/integrations/cassandra.ipynb
  langchain/vectorstores/cassandra.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/vectorstores/test_cassandra.py
Labels: auto:improvement, auto:documentation

#7031 Log Errors in Evaluator Callback
  langchain/callbacks/tracers/evaluation.py
Labels: auto:improvement

#7030 Accept no 'reasoning' response in qa evaluator
  langchain/evaluation/qa/eval_chain.py
Labels: auto:improvement

#7028 Fix docs
  langchain/agents/openai_functions_multi_agent/base.py
Labels: auto:nit

#7023 Fix typo
  docs/docs_skeleton/docs/get_started/quickstart.mdx
  langchain/document_loaders/url.py
Labels: auto:documentation

#7014 Support params on GoogleSearchApiWrapper (#6810)
  langchain/utilities/google_search.py
  tests/integration_tests/utilities/test_googlesearch_api.py
Labels: lgtm, auto:improvement

#7045 Polish reference docs
  docs/docs_skeleton/docs/modules/data_connection/vectorstores/index.mdx
  docs/extras/guides/evaluation/openapi_eval.ipynb
  docs/snippets/modules/data_connection/text_embedding/get_started.mdx
  docs/snippets/modules/data_connection/vectorstores/get_started.mdx
Labels: auto:documentation

#7013 Rm retriever kwargs
  docs/snippets/modules/data_connection/retrievers/how_to/custom_retriever.mdx
  langchain/retrievers/arxiv.py
  langchain/retrievers/azure_cognitive_search.py
  langchain/retrievers/chatgpt_plugin_retriever.py
  langchain/retrievers/databerry.py
  langchain/retrievers/docarray.py
  langchain/retrievers/elastic_search_bm25.py
  langchain/retrievers/kendra.py
  langchain/retrievers/knn.py
  langchain/retrievers/llama_index.py
  langchain/retrievers/merger_retriever.py
  langchain/retrievers/metal.py
  langchain/retrievers/multi_query.py
  langchain/retrievers/pinecone_hybrid_search.py
  langchain/retrievers/pubmed.py
  langchain/retrievers/remote_retriever.py
  langchain/retrievers/self_query/base.py
  langchain/retrievers/svm.py
  langchain/retrievers/tfidf.py
  langchain/retrievers/time_weighted_retriever.py
  langchain/retrievers/vespa_retriever.py
  langchain/retrievers/weaviate_hybrid_search.py
  langchain/retrievers/wikipedia.py
  langchain/retrievers/zep.py
  langchain/schema/retriever.py
  langchain/vectorstores/azuresearch.py
  langchain/vectorstores/base.py
  langchain/vectorstores/redis.py
  langchain/vectorstores/singlestoredb.py
  tests/integration_tests/chains/test_retrieval_qa.py
  tests/integration_tests/retrievers/test_contextual_compression.py
  tests/unit_tests/retrievers/test_base.py
Labels: auto:refactor

#7047 bump 221
  pyproject.toml
Labels: release

#6847 docstrings `document_loaders` 1
  docs/extras/ecosystem/integrations/airtable.md
  docs/extras/modules/data_connection/document_loaders/integrations/airtable.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/acreom.py
  langchain/document_loaders/airbyte_json.py
  langchain/document_loaders/airtable.py
  langchain/document_loaders/apify_dataset.py
  langchain/document_loaders/arxiv.py
  langchain/document_loaders/azlyrics.py
  langchain/document_loaders/azure_blob_storage_container.py
  langchain/document_loaders/azure_blob_storage_file.py
  langchain/document_loaders/base.py
  langchain/document_loaders/bibtex.py
  langchain/document_loaders/bigquery.py
  langchain/document_loaders/bilibili.py
  langchain/document_loaders/blackboard.py
  langchain/document_loaders/blockchain.py
  langchain/document_loaders/chatgpt.py
  langchain/experimental/client/tracing_datasets.ipynb
Labels: documentation

#6506 Vectara upd2
  docs/extras/ecosystem/integrations/vectara/index.mdx
  docs/extras/modules/data_connection/vectorstores/integrations/vectara.ipynb
  langchain/vectorstores/vectara.py
  tests/integration_tests/vectorstores/test_vectara.py
Labels: vector store

#6913 Add JSON Lines support to JSONLoader
  docs/docs_skeleton/docs/modules/data_connection/document_loaders/how_to/json.mdx
  docs/extras/modules/data_connection/document_loaders/integrations/example_data/facebook_chat_messages.jsonl
  docs/snippets/modules/data_connection/document_loaders/how_to/json.mdx
  langchain/document_loaders/json_loader.py
  tests/unit_tests/document_loaders/test_json_loader.py
Labels: doc loader

#6989 added `Brave Search` document_loader
  docs/extras/ecosystem/integrations/brave_search.mdx
  docs/extras/modules/agents/tools/integrations/brave_search.ipynb
  docs/extras/modules/data_connection/document_loaders/integrations/brave_search.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/brave_search.py
  langchain/utilities/brave_search.py
Labels: auto:enhancement, auto:improvement, auto:documentation

#6995 move base prompt to schema
  langchain/__init__.py
  langchain/agents/agent.py
  langchain/agents/agent_toolkits/openapi/planner.py
  langchain/agents/agent_toolkits/pandas/base.py
  langchain/agents/chat/base.py
  langchain/agents/conversational_chat/base.py
  langchain/agents/openai_functions_agent/base.py
  langchain/agents/openai_functions_multi_agent/base.py
  langchain/agents/react/base.py
  langchain/agents/self_ask_with_search/base.py
  langchain/agents/structured_chat/base.py
  langchain/callbacks/tracers/evaluation.py
  langchain/chains/api/base.py
  langchain/chains/combine_documents/base.py
  langchain/chains/combine_documents/refine.py
  langchain/chains/combine_documents/stuff.py
  langchain/chains/constitutional_ai/base.py
  langchain/chains/conversation/base.py
  langchain/chains/conversational_retrieval/base.py
  langchain/chains/flare/base.py
  langchain/chains/graph_qa/base.py
  langchain/chains/graph_qa/cypher.py
  langchain/chains/graph_qa/kuzu.py
  langchain/chains/graph_qa/nebulagraph.py
  langchain/chains/llm.py
  langchain/chains/llm_bash/base.py
  langchain/chains/llm_math/base.py
  langchain/chains/mapreduce.py
  langchain/chains/openai_functions/openapi.py
  langchain/chains/pal/base.py
  langchain/chains/prompt_selector.py
  langchain/chains/qa_generation/base.py
  langchain/chains/qa_with_sources/base.py
  langchain/chains/qa_with_sources/loading.py
  langchain/chains/query_constructor/base.py
  langchain/chains/question_answering/__init__.py
  langchain/chains/router/llm_router.py
  langchain/chains/sql_database/base.py
  langchain/chains/summarize/__init__.py
  langchain/evaluation/criteria/eval_chain.py
  langchain/evaluation/qa/eval_chain.py
  langchain/evaluation/run_evaluators/implementations.py
  langchain/memory/entity.py
  langchain/memory/kg.py
  langchain/memory/summary.py
  langchain/output_parsers/fix.py
  langchain/output_parsers/retry.py
  langchain/prompts/__init__.py
  langchain/prompts/base.py
  langchain/prompts/chat.py
  langchain/prompts/loading.py
  langchain/prompts/pipeline.py
  langchain/retrievers/document_compressors/chain_filter.py
  langchain/schema/__init__.py
  langchain/schema/prompt_template.py
Labels: auto:refactor

#7055 Fix typo in google_places_api.py
  langchain/utilities/google_places_api.py
Labels: auto:nit

#7050 Fix sample in FAISS section
  docs/extras/modules/data_connection/vectorstores/integrations/faiss.ipynb
Labels: auto:documentation

#7012 openapi chain nit
  langchain/chains/openai_functions/openapi.py
Labels: auto:nit

#7005 Update get_started.mdx
  docs/snippets/modules/model_io/models/chat/get_started.mdx
Labels: lgtm, auto:bug, auto:documentation

#7006 Remove duplicate mongodb integration doc
  docs/extras/modules/data_connection/vectorstores/integrations/mongodb_atlas_vector_search.ipynb
Labels: lgtm, auto:documentation

#6967 Add SpacyEmbeddings class
  docs/extras/modules/data_connection/text_embedding/integrations/spacy_embedding.ipynb
  langchain/embeddings/__init__.py
  langchain/embeddings/spacy_embeddings.py
Labels: needs documentation, embeddings, auto:enhancement

#7086 bump 222
  pyproject.toml
Labels: release, auto:nit

#7085 Remove `None` default value for FAISS relevance_score_fn
  langchain/vectorstores/faiss.py
  tests/integration_tests/vectorstores/test_faiss.py
Labels: auto:improvement

#7073 Add tags to all callback handler methods
  langchain/callbacks/base.py
  langchain/callbacks/manager.py
Labels: auto:improvement

#7095 update pr tmpl
  .github/PULL_REQUEST_TEMPLATE.md
Labels: auto:nit

#7092 Add Metal support to llama.cpp doc
  docs/extras/modules/model_io/models/llms/integrations/llamacpp.ipynb
Labels: auto:documentation

#7090 Add events to tracer runs
  langchain/callbacks/tracers/base.py
  langchain/callbacks/tracers/langchain.py
  tests/unit_tests/callbacks/tracers/test_base_tracer.py
Labels: auto:improvement

#7097 fix retriever signatures
  langchain/retrievers/llama_index.py
  langchain/retrievers/self_query/base.py
  langchain/vectorstores/base.py
  langchain/vectorstores/redis.py
  langchain/vectorstores/singlestoredb.py
Labels: auto:improvement

#7107 Accept no 'reasoning' response in qa evaluator
  langchain/evaluation/qa/eval_chain.py
Labels: auto:bug

#7105 Log errors
  langchain/callbacks/tracers/evaluation.py
Labels: auto:bug

#7109 Update sdk version
  poetry.lock
  pyproject.toml
Labels: auto:improvement

#7102 Minor updates to notebook for MultiQueryRetriever
  docs/extras/modules/data_connection/retrievers/how_to/MultiQueryRetriever.ipynb
Labels: auto:improvement, auto:documentation

#7110 [Document fix] Fix an expired link qa_benchmarking_pg.ipynb
  docs/extras/guides/evaluation/qa_benchmarking_pg.ipynb
Labels: lgtm, auto:documentation

#7099 Align cassio versions between examples for Cassandra integration
  docs/extras/modules/memory/integrations/cassandra_chat_message_history.ipynb
Labels: auto:nit, auto:documentation

#7093 Fix GPT4All bug w/ "n_ctx" param
  docs/extras/modules/model_io/models/llms/integrations/gpt4all.ipynb
  langchain/llms/gpt4all.py
Labels: auto:bug, auto:improvement

#7128 Improve Bing Search example
  docs/extras/modules/agents/tools/integrations/bing_search.ipynb
Labels: auto:documentation

#7132 Add HugeGraphQAChain to support gremlin generating chain
  docs/extras/modules/chains/additional/graph_hugegraph_qa.ipynb
  langchain/chains/__init__.py
  langchain/chains/graph_qa/hugegraph.py
  langchain/chains/graph_qa/prompts.py
  langchain/graphs/__init__.py
  langchain/graphs/hugegraph.py
  poetry.lock
  tests/integration_tests/graphs/__init__.py
  tests/integration_tests/graphs/test_hugegraph.py
Labels: lgtm, auto:enhancement, auto:documentation

#6994 Harrison/docs combine document chain
  langchain/chains/__init__.py
  langchain/chains/combine_documents/base.py
  langchain/chains/combine_documents/map_reduce.py
  langchain/chains/combine_documents/map_rerank.py
  langchain/chains/combine_documents/reduce.py
  langchain/chains/combine_documents/refine.py
  langchain/chains/combine_documents/stuff.py
  langchain/chains/loading.py
  langchain/chains/mapreduce.py
  langchain/chains/qa_with_sources/base.py
  langchain/chains/qa_with_sources/loading.py
  langchain/chains/question_answering/__init__.py
  langchain/chains/summarize/__init__.py
  langchain/schema/__init__.py
  langchain/schema/prompt_template.py
  tests/unit_tests/chains/test_combine_documents.py
  tests/unit_tests/test_dependencies.py
Labels: auto:improvement, auto:documentation

#7155 bump 223
  pyproject.toml
Labels: release, auto:nit

#7160 add docstring for in memory class
  langchain/memory/chat_message_histories/in_memory.py
Labels: lgtm, auto:documentation

#7149 docs: update Jina ecosystem
  docs/extras/ecosystem/integrations/jina.mdx
  docs/extras/guides/deployments/index.mdx
  docs/extras/guides/deployments/template_repos.mdx
Labels: auto:documentation

#7147 cleaned Arthur tracking demo notebook
  docs/extras/ecosystem/integrations/arthur_tracking.ipynb
Labels: auto:improvement, auto:documentation

#7162 improve docstring of doc formatting
  langchain/schema/prompt_template.py
Labels: auto:improvement

#7164 LlamaCppEmbeddings not under langchain.llms
  langchain/llms/llamacpp.py
Labels: auto:bug, auto:documentation

#7142 feat(SingleStoreVectorStore): change connection attributes in the database connection
  langchain/vectorstores/singlestoredb.py
Labels: auto:improvement

#7138 Remove duplicate lines
  langchain/agents/openai_functions_agent/base.py
  langchain/agents/openai_functions_multi_agent/base.py
Labels: auto:nit

#7125 feat: implement python repl tool arun
  langchain/tools/python/tool.py
Labels: auto:enhancement

#7080 Harrison/conv retrieval docs
  langchain/chains/conversational_retrieval/base.py
Labels: auto:improvement

#7167 fix AmazonAPIGateway _identifying_params
  langchain/llms/amazon_api_gateway.py
Labels: auto:bug

#7198 fix weird bold issues in docs
  langchain/schema/prompt_template.py
Labels: auto:bug

#7201 propogate token max
  langchain/chains/combine_documents/map_reduce.py
  langchain/chains/combine_documents/reduce.py
Labels: auto:improvement

#7203 bump version to 224
  pyproject.toml
Labels: auto:nit

#6893 Add pg_hnsw vectorstore integration
  docs/extras/modules/data_connection/vectorstores/integrations/pgembedding.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/pgembedding.py
Labels: enhancement, needs documentation

#7205 add tqdm to embeddings
  langchain/embeddings/openai.py
Labels: auto:improvement

#7204 add token max parameter
  langchain/chains/combine_documents/map_reduce.py
  langchain/chains/combine_documents/reduce.py
  langchain/chains/qa_with_sources/loading.py
  langchain/chains/question_answering/__init__.py
  langchain/chains/summarize/__init__.py
Labels: auto:improvement

#7194 fix: missing parameter in POST/PUT/PATCH HTTP requests
  langchain/requests.py
Labels: auto:bug

#7176 fix: rename the invalid function name of GoogleSerperResults Tool for OpenAIFunctionCall
  langchain/tools/google_serper/tool.py
Labels: auto:bug

#7202 Update in_memory.py to fix "TypeError: keywords must be strings"
  langchain/docstore/in_memory.py
Labels: lgtm, auto:bug

#7165 Support for SPARQL
  docs/extras/modules/chains/additional/graph_sparql_qa.ipynb
  langchain/chains/__init__.py
  langchain/chains/graph_qa/prompts.py
  langchain/chains/graph_qa/sparql.py
  langchain/graphs/__init__.py
  langchain/graphs/rdf_graph.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/chains/test_graph_database_sparql.py
Labels: auto:enhancement, auto:documentation

#7159 Replace stop clause with shorter, pythonic alternative
  langchain/llms/huggingface_pipeline.py
Labels: lgtm, auto:nit

#7074 Add serialized object to retriever start callback
  langchain/callbacks/base.py
  langchain/callbacks/manager.py
  langchain/callbacks/tracers/base.py
  langchain/retrievers/azure_cognitive_search.py
  langchain/retrievers/chatgpt_plugin_retriever.py
  langchain/retrievers/contextual_compression.py
  langchain/retrievers/databerry.py
  langchain/retrievers/docarray.py
  langchain/retrievers/elastic_search_bm25.py
  langchain/retrievers/kendra.py
  langchain/retrievers/knn.py
  langchain/retrievers/llama_index.py
  langchain/retrievers/merger_retriever.py
  langchain/retrievers/metal.py
  langchain/retrievers/milvus.py
  langchain/retrievers/multi_query.py
  langchain/retrievers/pinecone_hybrid_search.py
  langchain/retrievers/remote_retriever.py
  langchain/retrievers/svm.py
  langchain/retrievers/tfidf.py
  langchain/retrievers/time_weighted_retriever.py
  langchain/retrievers/vespa_retriever.py
  langchain/retrievers/weaviate_hybrid_search.py
  langchain/retrievers/zep.py
  langchain/retrievers/zilliz.py
  langchain/schema/retriever.py
  langchain/utilities/arxiv.py
  langchain/utilities/pupmed.py
  langchain/utilities/wikipedia.py
  tests/integration_tests/retrievers/test_merger_retriever.py
  tests/unit_tests/callbacks/test_callback_manager.py
  tests/unit_tests/retrievers/test_base.py
Labels: auto:improvement

#7134 Added documentation for add_texts function for Pinecone integration
  docs/extras/modules/data_connection/vectorstores/integrations/pinecone.ipynb
Labels: lgtm, auto:documentation

#7089 Add integration with DataForSEO SERP API
  docs/extras/ecosystem/integrations/dataforseo.mdx
  docs/extras/modules/agents/tools/integrations/dataforseo.ipynb
  langchain/agents/load_tools.py
  langchain/tools/dataforseo_api_search/__init__.py
  langchain/tools/dataforseo_api_search/tool.py
  langchain/utilities/dataforseo_api_search.py
  tests/integration_tests/utilities/test_dataforseo_api.py
Labels: area: agent, auto:enhancement, auto:documentation

#7213 Remove extra base model
  langchain/vectorstores/azuresearch.py
  langchain/vectorstores/base.py
  langchain/vectorstores/redis.py
Labels: lgtm, auto:improvement

#7169 fix: Chroma filter symbols not supporting LIKE and CONTAIN
  langchain/retrievers/self_query/chroma.py
Labels: lgtm, auto:bug

#7161 Jinja2 validation changed to issue warnings rather than issuing exceptions.
  langchain/prompts/base.py
  tests/unit_tests/prompts/test_few_shot.py
  tests/unit_tests/prompts/test_prompt.py
Labels: lgtm, auto:improvement

#7133 Fix steamship import error
  langchain/tools/steamship_image_generation/tool.py
Labels: lgtm, auto:bug

#7096 add trulens integration
  docs/extras/ecosystem/integrations/trulens.mdx
Labels: lgtm, auto:enhancement, auto:documentation

#7120 support adding custom metadata to runs
  langchain/callbacks/base.py
  langchain/callbacks/manager.py
  langchain/callbacks/tracers/base.py
  langchain/callbacks/tracers/langchain.py
  langchain/chains/base.py
  langchain/chat_models/base.py
  langchain/evaluation/agents/trajectory_eval_chain.py
  langchain/llms/base.py
  langchain/schema/retriever.py
  langchain/tools/base.py
  tests/integration_tests/callbacks/test_langchain_tracer.py
Labels: auto:improvement

#7083 Mark some output parsers as serializable (cross-checked w/ JS)
  langchain/output_parsers/combining.py
  langchain/output_parsers/fix.py
  langchain/output_parsers/list.py
  langchain/output_parsers/regex.py
Labels: auto:improvement

#7070 Retryable exception for empty OpenAI embedding.
  langchain/embeddings/openai.py
Labels: lgtm, auto:bug

#7046 Fixed Office365 tool __init__.py files, tests, and get_tools() function
  langchain/agents/agent_toolkits/__init__.py
  langchain/agents/agent_toolkits/office365/toolkit.py
  langchain/tools/__init__.py
  tests/unit_tests/tools/test_public_api.py
  tests/unit_tests/tools/test_signatures.py
Labels: auto:improvement

#7000 Create arize_llm_observability.ipynb
  docs/extras/ecosystem/integrations/arize_llm_observability.ipynb
Labels: auto:documentation

#6992 Replace JIRA Arbitrary Code Execution vulnerability with finer grain API wrapper
  langchain/tools/jira/prompt.py
  langchain/utilities/jira.py
  tests/integration_tests/utilities/test_jira_api.py
Labels: auto:improvement

#6987 Handle kwargs in FAISS.load_local()
  langchain/vectorstores/faiss.py
Labels: auto:improvement

#7170 Implement delete interface of vector store on AnalyticDB
  langchain/vectorstores/analyticdb.py
  tests/integration_tests/vectorstores/test_analyticdb.py
Labels: auto:improvement

#7214 Harrison/dataforseo
  docs/extras/ecosystem/integrations/dataforseo.mdx
  docs/extras/modules/agents/tools/integrations/dataforseo.ipynb
  langchain/agents/load_tools.py
  langchain/tools/dataforseo_api_search/__init__.py
  langchain/tools/dataforseo_api_search/tool.py
  langchain/utilities/dataforseo_api_search.py
  tests/integration_tests/utilities/test_dataforseo_api.py
Labels: lgtm, auto:enhancement, auto:documentation

#7185 optimize pgvector `add_texts`
  langchain/vectorstores/pgvector.py
Labels: auto:improvement

#6976 Enable InMemoryDocstore to be constructed without providing a dict
  langchain/docstore/in_memory.py
  tests/unit_tests/docstore/test_inmemory.py
Labels: auto:improvement

#7212 Update scenexplain.py to use new API endpoint
  langchain/utilities/scenexplain.py
Labels: lgtm, auto:bug

#7222 docs: update docs strings for base unstructured loaders
  langchain/document_loaders/unstructured.py
Labels: auto:documentation

#7216 Update milvus and zilliz docstring
  langchain/vectorstores/milvus.py
  langchain/vectorstores/zilliz.py
Labels: auto:documentation

#7068 Adding Marqo to vectorstore ecosystem
  docs/extras/ecosystem/integrations/marqo.md
  docs/extras/modules/data_connection/vectorstores/integrations/marqo.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/marqo.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/vectorstores/test_marqo.py
Labels: lgtm, area: vector store, auto:enhancement, auto:documentation

#6882 Document loader for Cube Semantic Layer
  docs/extras/modules/data_connection/document_loaders/integrations/cube_semantic.ipynb
  langchain/document_loaders/__init__.py
  langchain/document_loaders/cube_semantic.py
  tests/unit_tests/document_loaders/test_cube_semantic.py
Labels: enhancement, needs documentation, area: doc loader

#7228 Harrison/scene xplain
  langchain/utilities/scenexplain.py
Labels: lgtm, auto:nit

#7206 Send evaluator logs to new session
  langchain/callbacks/tracers/evaluation.py
  langchain/client/runner_utils.py
Labels: auto:improvement

#7207 Add tags support for langchaintracer
  langchain/callbacks/manager.py
  langchain/callbacks/tracers/langchain.py
Labels: auto:improvement

#7235 Skip evaluation of unfinished runs
  langchain/callbacks/tracers/evaluation.py
Labels: auto:improvement

#7236 Update Hugging Face Hub notebook
  docs/extras/modules/model_io/models/llms/integrations/huggingface_hub.ipynb
Labels: auto:bug, auto:documentation

#7069 Add concurrency to GitbookLoader
  langchain/document_loaders/gitbook.py
Labels: lgtm, auto:improvement

#7081 Harrison/parameter
  langchain/chains/conversational_retrieval/base.py
Labels: lgtm, auto:improvement

#7237 Harrison/update anthropic
  docs/extras/modules/model_io/models/chat/integrations/anthropic.ipynb
  langchain/chat_models/anthropic.py
  langchain/llms/anthropic.py
  poetry.lock
  pyproject.toml
Labels: lgtm, auto:improvement, auto:documentation

#7241 Add missing token_max in reduce.py acombine_docs
  langchain/chains/combine_documents/reduce.py
Labels: lgtm, auto:bug

#7245 fix conversational retrieval docs
  langchain/chains/conversational_retrieval/base.py
Labels: auto:nit

#7247 Make tqdm for OpenAIEmbeddings optional
  langchain/embeddings/openai.py
Labels: auto:improvement, auto:documentation

#7115 Add better warnings when ref or inputs are passed but not used
  langchain/evaluation/comparison/eval_chain.py
  langchain/evaluation/criteria/eval_chain.py
  langchain/evaluation/qa/eval_chain.py
  langchain/evaluation/schema.py
  tests/unit_tests/evaluation/comparison/test_eval_chain.py
  tests/unit_tests/evaluation/criteria/test_eval_chain.py
Labels: auto:improvement

#7256 Add HumanInputChatModel
  docs/extras/modules/model_io/models/chat/how_to/human_input_chat_model.ipynb
  langchain/chat_models/__init__.py
  langchain/chat_models/human.py
Labels: auto:enhancement, auto:documentation

#7257 Update supabase match_docs ddl and notebook to use expected id type
  docs/extras/modules/data_connection/vectorstores/integrations/supabase.ipynb
  langchain/vectorstores/supabase.py
Labels: auto:improvement, auto:documentation

#7274 Use correct Language for html_splitter
  docs/snippets/modules/data_connection/document_transformers/text_splitters/code_splitter.mdx
Labels: auto:bug, auto:documentation

#7267 FLARE Example notebook: switch to named arg to pass pydantic validation
  docs/extras/modules/chains/additional/flare.ipynb
Labels: auto:nit, auto:documentation

#7033 Add Better Errors for Comparison Chain
  langchain/evaluation/agents/trajectory_eval_chain.py
  langchain/evaluation/comparison/eval_chain.py
  langchain/evaluation/criteria/eval_chain.py
  langchain/evaluation/qa/eval_chain.py
  langchain/evaluation/schema.py
  tests/unit_tests/evaluation/agents/test_eval_chain.py
  tests/unit_tests/evaluation/comparison/test_eval_chain.py
  tests/unit_tests/evaluation/criteria/test_eval_chain.py
  tests/unit_tests/evaluation/qa/test_eval_chain.py
Labels: auto:improvement

#7219 Added retries for Vertex LLM
  langchain/llms/base.py
  langchain/llms/openai.py
  langchain/llms/vertexai.py
Labels: auto:improvement

#7218 added template repo for CI/CD deployment on Google Cloud Run
  docs/extras/guides/deployments/template_repos.mdx
Labels: lgtm, auto:enhancement, auto:documentation

#7143 PowerBI updates
  langchain/agents/agent_toolkits/powerbi/base.py
  langchain/agents/agent_toolkits/powerbi/chat_base.py
  langchain/agents/agent_toolkits/powerbi/prompt.py
  langchain/agents/agent_toolkits/powerbi/toolkit.py
  langchain/tools/powerbi/prompt.py
  langchain/tools/powerbi/tool.py
  langchain/utilities/powerbi.py
Labels: auto:improvement

#6964 Improve the alibaba cloud opensearch vector store documentation
  docs/extras/modules/data_connection/vectorstores/integrations/alibabacloud_opensearch.ipynb
Labels: auto:documentation

#7248 Re-use Trajectory Evaluator
  langchain/evaluation/agents/trajectory_eval_chain.py
  langchain/evaluation/run_evaluators/implementations.py
  tests/unit_tests/output_parsers/test_base_output_parser.py
Labels: auto:improvement

#7264 Remove whitespace in filename
  langchain/tools/office365/__init__.py
Labels: lgtm, auto:nit

#7266 refactor BedrockEmbeddings class
  langchain/embeddings/bedrock.py
Labels: lgtm, auto:refactor

#7261 docs: Fixed typos in Amazon Kendra Retriever documentation
  docs/extras/modules/data_connection/retrievers/integrations/amazon_kendra_retriever.ipynb
Labels: lgtm, auto:documentation

#7230 docs: tutorials update
  docs/docs_skeleton/docs/get_started/tutorials.mdx
Labels: auto:documentation

#6366 Modified PromptLayerChatOpenAI class to support function call
  langchain/chat_models/promptlayer_openai.py
Labels: lgtm

#7292 updated `huggingface_hub` examples
  docs/extras/modules/model_io/models/llms/integrations/huggingface_hub.ipynb
Labels: auto:improvement, auto:documentation

#7296 handle missing finish_reason
  langchain/llms/openai.py
Labels: auto:bug

#7297 rm side nav
  docs/api_reference/themes/scikit-learn-modern/nav.html
Labels: auto:nit, auto:documentation

#7122 Add Agent Trajectory Interface
  langchain/evaluation/__init__.py
  langchain/evaluation/agents/trajectory_eval_chain.py
  langchain/evaluation/schema.py
Labels: auto:improvement

#7240 Add function call params to invocation params
  langchain/chat_models/azure_openai.py
  langchain/chat_models/base.py
  langchain/chat_models/openai.py
Labels: auto:improvement

#7300 Fix secrets serialisation for ChatAnthropic
  langchain/chat_models/anthropic.py
  langchain/llms/anthropic.py
Labels: auto:improvement

#7293 Update docs for whylabs (langkit) callback handler
  langchain/callbacks/whylabs_callback.py
Labels: lgtm, auto:documentation

#7195 Fixed the confluence loader ".csv" files loading issue
  langchain/document_loaders/confluence.py
Labels: lgtm, auto:bug

#7178 Fix: Recognize `List` at `from_function`
  langchain/tools/base.py
  tests/unit_tests/tools/test_base.py
Labels: lgtm, auto:bug

#7306 Solving anthropic packaging version issue
  langchain/llms/anthropic.py
Labels: auto:bug

#7312 Refac package version check
  langchain/chains/query_constructor/parser.py
  langchain/llms/anthropic.py
  langchain/utils.py
  tests/unit_tests/test_utils.py
Labels: auto:refactor

#7316 docs : add cnosdb to Ecosystem Integrations
  docs/extras/ecosystem/integrations/cnosdb.mdx
  langchain/sql_database.py
Labels: lgtm, auto:enhancement, auto:documentation

#7318 Corrected a typo in elasticsearch.ipynb
  docs/extras/modules/data_connection/text_embedding/integrations/elasticsearch.ipynb
Labels: lgtm, auto:nit, auto:documentation

#7271 Added number_of_head_rows to pandas agent parameters
  langchain/agents/agent_toolkits/pandas/base.py
Labels: auto:improvement

#7250 Rename prompt_template => _DEFAULT_GRAPH_QA_TEMPLATE and PROMPT => GRAPH_QA_PROMPT to make consistent with the rest of the files
  langchain/chains/graph_qa/base.py
  langchain/chains/graph_qa/prompts.py
Labels: lgtm, auto:nit

#7196 add preset ability to textgen llm
  langchain/llms/textgen.py
Labels: lgtm, auto:improvement

#7173 docstrings top level update
  langchain/base_language.py
  langchain/callbacks/comet_ml_callback.py
  langchain/callbacks/flyte_callback.py
  langchain/callbacks/infino_callback.py
  langchain/callbacks/streamlit/mutable_expander.py
  langchain/callbacks/streamlit/streamlit_callback_handler.py
  langchain/callbacks/tracers/langchain.py
  langchain/chains/query_constructor/base.py
  langchain/client/__init__.py
  langchain/document_loaders/parsers/language/code_segmenter.py
  langchain/document_loaders/parsers/language/javascript.py
  langchain/document_loaders/parsers/language/python.py
  langchain/evaluation/loading.py
  langchain/llms/openllm.py
  langchain/llms/vertexai.py
  langchain/load/load.py
  langchain/retrievers/kendra.py
  langchain/retrievers/weaviate_hybrid_search.py
  langchain/text_splitter.py
  langchain/tools/playwright/utils.py
  langchain/utilities/openapi.py
  langchain/utils.py
  langchain/vectorstores/vectara.py
Labels: auto:documentation

#7114 Add base Chain docstrings
  langchain/chains/base.py
Labels: auto:documentation

#6990 Pack of small fixes and refactorings that don't affect functionality
  langchain/agents/agent_toolkits/base.py
  langchain/agents/agent_toolkits/csv/base.py
  langchain/agents/agent_toolkits/office365/__init__.py
  langchain/agents/agent_toolkits/openapi/toolkit.py
  langchain/agents/agent_toolkits/powerbi/base.py
  langchain/agents/agent_toolkits/powerbi/chat_base.py
  langchain/agents/chat/output_parser.py
  langchain/agents/self_ask_with_search/base.py
  langchain/callbacks/file.py
  langchain/callbacks/stdout.py
  langchain/callbacks/streaming_stdout_final_only.py
Labels: auto:nit, auto:refactor

#7330 Output parser redirect
  docs/docs_skeleton/vercel.json
Labels: auto:documentation

#7270 Generic OpenAI fn chain
  docs/extras/modules/chains/popular/openai_functions.ipynb
  langchain/chains/openai_functions/__init__.py
  langchain/chains/openai_functions/base.py
  langchain/output_parsers/openai_functions.py
Labels: auto:enhancement, auto:documentation

#7352 openai fn update nb
  docs/extras/modules/chains/popular/openai_functions.ipynb
  langchain/chains/openai_functions/base.py
Labels: auto:improvement, auto:documentation

#7354 bump 227
  pyproject.toml
Labels: release, auto:nit

#7087 Update chroma.py: Persist directory from client_settings if provided there
  langchain/vectorstores/chroma.py
Labels: auto:bug

#7355 change embedding to None
  langchain/vectorstores/pgvector.py
Labels: auto:nit

#7357 Explicitly list requires_reference in function
  langchain/evaluation/criteria/eval_chain.py
  langchain/evaluation/run_evaluators/implementations.py
Labels: auto:improvement

#7360 docs: `dependents` update 4
  docs/extras/ecosystem/dependents.mdx
Labels: auto:documentation

#7015 The Fellowship of the Vectors: New Embeddings Filter using clustering.
  docs/extras/modules/data_connection/retrievers/integrations/merger_retriever.ipynb
  langchain/document_transformers.py
  tests/integration_tests/test_document_transformers.py
Labels: auto:enhancement, auto:documentation

#7362 Unset Cache in Tests
  tests/unit_tests/test_cache.py
Labels: auto:bug

#7359 update extension name
  langchain/vectorstores/pgembedding.py
Labels: auto:improvement

#7344 Add context to an output parsing error on Pydantic schema to improve exception handling
  langchain/output_parsers/pydantic.py
Labels: lgtm, auto:improvement

#7301 Add support for filters and namespaces in similarity search in Pinecone similarity_score_threshold
  langchain/vectorstores/pinecone.py
Labels: lgtm, auto:improvement

#7281 Allow passing api key into OpenAIWhisperParser
  langchain/document_loaders/parsers/audio.py
Labels: auto:improvement

#7253 Add verbose parameter for llamacpp
  langchain/llms/llamacpp.py
Labels: lgtm, auto:improvement

#7151 Add a callback handler for Context (https://getcontext.ai)
  docs/extras/modules/callbacks/integrations/context.ipynb
  langchain/callbacks/__init__.py
  langchain/callbacks/context_callback.py
Labels: lgtm, auto:enhancement, auto:documentation

#7051 Fix for KeyError in MlflowCallbackHandler
  langchain/callbacks/mlflow_callback.py
Labels: lgtm, auto:improvement

#7370 Harrison/add to imports
  docs/extras/modules/data_connection/vectorstores/integrations/pgvector.ipynb
  langchain/vectorstores/__init__.py
  langchain/vectorstores/_pgvector_data_models.py
  langchain/vectorstores/pgvector.py
Labels: auto:improvement, auto:documentation
