Repository langchain-ai/langchain, pull requests merged in 2023-10, with the labels that each got.

#11245 minor fix: remove redundant code from OpenAIFunctionsAgent
  libs/langchain/langchain/agents/openai_functions_agent/base.py
Labels: area: agent, lgtm, auto:nit

#11259 rename repo namespace to langchain-ai
  .devcontainer/README.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CITATION.cff
  README.md
  docs/docs_skeleton/docs/get_started/introduction.mdx
  docs/docs_skeleton/docusaurus.config.js
  docs/extras/additional_resources/dependents.mdx
  docs/extras/integrations/document_loaders/git.ipynb
  docs/extras/integrations/document_loaders/github.ipynb
  docs/extras/integrations/document_loaders/readthedocs_documentation.ipynb
  docs/extras/integrations/llms/modal.ipynb
  docs/extras/integrations/providers/vectara/vectara_chat.ipynb
  docs/extras/integrations/providers/vectara/vectara_text_generation.ipynb
  docs/extras/modules/model_io/prompts/prompt_templates/formats.mdx
  docs/extras/use_cases/code_understanding.ipynb
  docs/extras/use_cases/more/agents/agent_simulations/multiagent_bidding.ipynb
  docs/extras/use_cases/more/agents/agents/sales_agent_with_context.ipynb
  docs/extras/use_cases/more/code_writing/cpal.ipynb
  docs/extras/use_cases/question_answering/how_to/local_retrieval_qa.ipynb
  docs/snippets/modules/data_connection/retrievers/get_started.mdx
  docs/snippets/modules/model_io/models/llms/how_to/streaming_llm.mdx
  libs/experimental/langchain_experimental/cpal/README.md
  libs/experimental/langchain_experimental/pal_chain/__init__.py
  libs/experimental/langchain_experimental/prompts/load.py
  libs/experimental/tests/integration_tests/chains/test_cpal.py
  libs/langchain/README.md
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/examples/example.mht
Labels: lgtm, auto:refactor

#11256 Fix typo in docstring
  libs/langchain/langchain/agents/agent.py
Labels: area: agent, lgtm, auto:nit

#11241 Update quickstart.mdx to add backtick after `ChatMessages`
  docs/docs_skeleton/docs/get_started/quickstart.mdx
Labels: lgtm, auto:documentation

#11283 Remove extra spaces
  docs/extras/modules/agents/agent_types/chat_conversation_agent.ipynb
  docs/extras/modules/agents/agent_types/openai_functions_agent.ipynb
  docs/extras/use_cases/more/agents/autonomous_agents/plan_and_execute.mdx
  docs/snippets/modules/agents/how_to/custom_llm_agent.mdx
  docs/snippets/modules/agents/how_to/custom_llm_chat_agent.mdx
  docs/snippets/modules/agents/how_to/mrkl.mdx
  docs/snippets/modules/agents/how_to/mrkl_chat.mdx
Labels: lgtm, area: doc loader, auto:documentation

#10927 Add base docker image and ci script for building and pushing
  .github/workflows/_release_docker.yml
  .github/workflows/langchain_release_docker.yml
  docker/Dockerfile.base
Labels: auto:enhancement

#11289 bump 306
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: auto:nit

#11293 Small changes to runnable docs
  docs/extras/expression_language/interface.ipynb
Labels: auto:documentation

#11279 Create new RunnableSerializable base class in preparation for configurable runnables
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/llms/fake.py
  libs/langchain/langchain/schema/language_model.py
  libs/langchain/langchain/schema/output_parser.py
  libs/langchain/langchain/schema/prompt_template.py
  libs/langchain/langchain/schema/retriever.py
  libs/langchain/langchain/schema/runnable/__init__.py
  libs/langchain/langchain/schema/runnable/_locals.py
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/branch.py
  libs/langchain/langchain/schema/runnable/fallbacks.py
  libs/langchain/langchain/schema/runnable/passthrough.py
  libs/langchain/langchain/schema/runnable/router.py
  libs/langchain/langchain/tools/base.py
  libs/langchain/langchain/tools/spark_sql/tool.py
  libs/langchain/langchain/tools/sql_database/tool.py
  libs/langchain/langchain/tools/vectorstore/tool.py
Labels: auto:refactor, area: models

#11296 Add Google GitHub Action creds file to gitignore.
  .gitignore
Labels: auto:nit

#11133 Add pending deprecation warning
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/_api/__init__.py
  libs/langchain/langchain/_api/deprecation.py
  libs/langchain/langchain/chains/llm_symbolic_math/__init__.py
  libs/langchain/tests/unit_tests/_api/test_deprecation.py
Labels: auto:improvement

#11194 Bedrock scheduled tests
  .github/workflows/scheduled_test.yml
  libs/langchain/tests/integration_tests/chat_models/test_bedrock.py
Labels: auto:improvement, area: models

#11294 Fix closing bracket in length-based selector snippet
  docs/snippets/modules/model_io/prompts/example_selectors/length_based.mdx
Labels: lgtm, auto:documentation

#11270 Fix line break in docs imports
  docs/snippets/modules/agents/how_to/mrkl.mdx
Labels: lgtm, auto:documentation

#11282 Add .configurable_fields() and .configurable_alternatives() to expose fields of a Runnable to be configured at runtime
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/branch.py
  libs/langchain/langchain/schema/runnable/config.py
  libs/langchain/langchain/schema/runnable/configurable.py
  libs/langchain/langchain/schema/runnable/fallbacks.py
  libs/langchain/langchain/schema/runnable/passthrough.py
  libs/langchain/langchain/schema/runnable/router.py
  libs/langchain/langchain/schema/runnable/utils.py
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#11121 Make Google PaLM classes serialisable
  libs/langchain/langchain/chat_models/google_palm.py
  libs/langchain/langchain/llms/google_palm.py
Labels: auto:improvement, area: models

#10484 Mark Vertex AI classes as serialisable
  libs/langchain/langchain/chat_models/vertexai.py
  libs/langchain/langchain/llms/vertexai.py
Labels: lgtm, auto:improvement, area: models

#11314 Adds Tavily Search API retriever
  docs/extras/integrations/retrievers/tavily.ipynb
  libs/langchain/langchain/retrievers/__init__.py
  libs/langchain/langchain/retrievers/tavily_search_api.py
Labels: lgtm, auto:enhancement, area: models

#11318 Update clarifai.mdx
  docs/extras/integrations/providers/clarifai.mdx
Labels: auto:documentation

#11324 Pass kwargs in runnable retry
  libs/langchain/langchain/schema/runnable/retry.py
Labels: auto:improvement

#11269 Consolidate run collector. Add link helper
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/callbacks/tracers/langchain.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:improvement

#11336 update sec doc
  docs/extras/integrations/retrievers/sec_filings.ipynb
Labels: auto:documentation

#11315 Add prompt hub support for Mistral w/ Ollama
  docs/extras/integrations/llms/ollama.ipynb
Labels: auto:documentation, area: models

#11340 Fix typo in agent_structured.ipynb
  docs/extras/modules/agents/how_to/agent_structured.ipynb
Labels: area: agent, auto:documentation

#11346 fix get_tool_return
  libs/langchain/langchain/agents/agent.py
Labels: area: agent, auto:bug

#11237 make llm imports optional
  libs/langchain/langchain/chains/flare/base.py
  libs/langchain/langchain/embeddings/self_hosted.py
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/loading.py
  libs/langchain/langchain/llms/promptlayer_openai.py
  libs/langchain/tests/unit_tests/chains/test_llm.py
  libs/langchain/tests/unit_tests/llms/test_imports.py
  libs/langchain/tests/unit_tests/llms/test_loading.py
Labels: auto:improvement, area: models

#8597 Add memory to sql chain
  docs/snippets/modules/chains/popular/sqlite.mdx
  libs/experimental/langchain_experimental/sql/base.py
  libs/experimental/tests/unit_tests/test_sql.py
Labels: area: memory, lgtm, auto:enhancement

#11353 Improve type hints and interface for SQL execution functionality.
  libs/langchain/langchain/utilities/sql_database.py
Labels: auto:improvement

#11349 Make a copy of external data instead of mutating another object's attributes.
  libs/experimental/langchain_experimental/comprehend_moderation/base_moderation.py
Labels: auto:bug

#10504 `fallback` definition
  docs/extras/guides/fallbacks.ipynb
Labels: lgtm, auto:documentation

#11338 Use term keyword according to the official python doc glossary
  docs/docs_skeleton/docs/get_started/quickstart.mdx
  docs/snippets/modules/agents/get_started.mdx
  libs/langchain/langchain/agents/initialize.py
  libs/langchain/langchain/agents/loading.py
  libs/langchain/langchain/chat_models/azureml_endpoint.py
  libs/langchain/langchain/embeddings/bedrock.py
  libs/langchain/langchain/embeddings/huggingface.py
  libs/langchain/langchain/embeddings/huggingface_hub.py
  libs/langchain/langchain/embeddings/sagemaker_endpoint.py
  libs/langchain/langchain/embeddings/self_hosted_hugging_face.py
  libs/langchain/langchain/llms/amazon_api_gateway.py
  libs/langchain/langchain/llms/anyscale.py
  libs/langchain/langchain/llms/azureml_endpoint.py
  libs/langchain/langchain/llms/bedrock.py
  libs/langchain/langchain/llms/chatglm.py
  libs/langchain/langchain/llms/deepsparse.py
  libs/langchain/langchain/llms/gradient_ai.py
  libs/langchain/langchain/llms/huggingface_endpoint.py
  libs/langchain/langchain/llms/huggingface_hub.py
  libs/langchain/langchain/llms/huggingface_pipeline.py
  libs/langchain/langchain/llms/mosaicml.py
  libs/langchain/langchain/llms/octoai_endpoint.py
  libs/langchain/langchain/llms/openllm.py
  libs/langchain/langchain/llms/sagemaker_endpoint.py
  libs/langchain/langchain/llms/self_hosted.py
  libs/langchain/langchain/llms/self_hosted_hugging_face.py
  libs/langchain/langchain/llms/xinference.py
  libs/langchain/langchain/retrievers/kendra.py
  libs/langchain/tests/unit_tests/test_formatting.py
Labels: lgtm, area: doc loader, auto:documentation

#11362 add getattr case for llms.type_to_cls_dict
  libs/langchain/langchain/llms/__init__.py
Labels: auto:improvement, area: models

#11366 Updates to Vectara Implementation
  docs/extras/integrations/providers/vectara/index.mdx
  libs/langchain/langchain/vectorstores/vectara.py
Labels: lgtm, area: vector store, auto:documentation

#11364 chore: add kotlin code splitter
  docs/snippets/modules/data_connection/document_transformers/text_splitters/code_splitter.mdx
  libs/langchain/langchain/text_splitter.py
  libs/langchain/tests/unit_tests/test_text_splitter.py
Labels: lgtm, auto:improvement

#11344 Upgrade CI workflows to poetry 1.6.1.
  .github/CONTRIBUTING.md
  .github/workflows/_lint.yml
  .github/workflows/_pydantic_compatibility.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/langchain_ci.yml
  .github/workflows/langchain_experimental_ci.yml
  .github/workflows/scheduled_test.yml
Labels: lgtm, auto:nit

#11367 add default for async
  libs/langchain/langchain/chat_models/base.py
Labels: auto:improvement, area: models

#11292 Fix documents for RetrievalQAWithSourcesChain
  docs/snippets/modules/chains/popular/vector_db_qa_with_sources.mdx
Labels: lgtm, auto:documentation

#11216 Add 'device' to GPT4All
  libs/langchain/langchain/llms/gpt4all.py
Labels: lgtm, auto:improvement, area: models

#11322 Fixed exception type in py files
  libs/langchain/langchain/chains/llm_requests.py
  libs/langchain/langchain/embeddings/baidu_qianfan_endpoint.py
  libs/langchain/langchain/llms/huggingface_endpoint.py
  libs/langchain/langchain/llms/petals.py
  libs/langchain/langchain/retrievers/pinecone_hybrid_search.py
  libs/langchain/langchain/retrievers/zep.py
  libs/langchain/langchain/utilities/apify.py
  libs/langchain/langchain/vectorstores/marqo.py
Labels: auto:refactor, area: models

#11298 Docs: improve similarity search examples
  docs/snippets/modules/model_io/prompts/example_selectors/similarity.mdx
Labels: lgtm, area: doc loader, auto:documentation

#11251 Clarifai integration doc improvements
  docs/extras/integrations/providers/clarifai.mdx
  docs/extras/integrations/vectorstores/clarifai.ipynb
Labels: lgtm, area: doc loader, auto:documentation

#11368 Wfh/eval max concurrency
  libs/langchain/langchain/callbacks/tracers/evaluation.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: auto:improvement

#11332 In ProgressBarCallback update the progress counter also when runs fin…
  libs/langchain/langchain/smith/evaluation/progress.py
Labels: auto:bug

#11356 Use parameterized queries to select SQL schemas.
  libs/langchain/langchain/utilities/sql_database.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:improvement

#11039 add HTMLHeaderTextSplitter
  docs/extras/modules/data_connection/document_transformers/text_splitters/HTML_header_metadata.ipynb
  docs/extras/modules/data_connection/document_transformers/text_splitters/markdown_header_metadata.ipynb
  libs/langchain/langchain/document_transformers/xsl/html_chunks_with_headers.xslt
  libs/langchain/langchain/text_splitter.py
Labels: lgtm, area: doc loader, auto:enhancement

#11380 bump 307
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: auto:nit

#11378 GitHubIssuesLoader Custom API URL Support
  libs/langchain/langchain/document_loaders/github.py
  libs/langchain/tests/unit_tests/document_loaders/test_github.py
Labels: lgtm, area: doc loader, auto:improvement

#11278 Fixed import typo
  docs/extras/modules/agents/agent_types/react_docstore.ipynb
Labels: area: agent, lgtm, auto:documentation

#11290 Trigger Docker release workflow after new langchain release is made.
  .github/workflows/langchain_release.yml
  .github/workflows/langchain_release_docker.yml
Labels: auto:enhancement

#11335 Add explanations to GoogleDriveLoader how to avoid errors
  docs/extras/integrations/document_loaders/google_drive.ipynb
Labels: lgtm, area: doc loader, auto:documentation

#11301 Anthropic system message fix
  libs/langchain/langchain/chat_models/anthropic.py
  libs/langchain/langchain/llms/bedrock.py
  libs/langchain/tests/unit_tests/chat_models/test_anthropic.py
Labels: auto:bug, area: models

#11350 Use an enum for configurable_alternatives to make the generated json schema nicer
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/configurable.py
  libs/langchain/langchain/schema/runnable/fallbacks.py
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#11297 Revert "Rm additional file check for scheduled tests (#11192)"
  .github/workflows/scheduled_test.yml
Labels: auto:nit

#11141 add default async
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/langchain/llms/base.py
  libs/langchain/langchain/schema/document.py
  libs/langchain/langchain/schema/embeddings.py
  libs/langchain/langchain/schema/retriever.py
  libs/langchain/langchain/schema/vectorstore.py
  libs/langchain/langchain/text_splitter.py
  libs/langchain/langchain/tools/base.py
Labels: auto:improvement, area: models

#11381 Add _type to json functions output parser
  libs/langchain/langchain/output_parsers/openai_functions.py
Labels: auto:improvement

#11377 a better error description when GCP project is not set
  libs/langchain/langchain/document_loaders/bigquery.py
Labels: area: doc loader, auto:improvement

#11383 bump 308
  libs/langchain/pyproject.toml
Labels: auto:nit

#11078 Add optional Cypher validation tool
  docs/extras/use_cases/more/graph/graph_cypher_qa.ipynb
  libs/langchain/langchain/chains/graph_qa/cypher.py
  libs/langchain/langchain/chains/graph_qa/cypher_utils.py
  libs/langchain/tests/unit_tests/chains/test_graph_qa.py
  libs/langchain/tests/unit_tests/data/cypher_corrector.csv
Labels: auto:improvement, area: models

#11385 Add optional input_types to prompt template
  libs/langchain/langchain/prompts/chat.py
  libs/langchain/langchain/schema/prompt_template.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/schema/runnable/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement, area: models

#11329 Add Vespa vector store
  docs/extras/integrations/vectorstores/vespa.ipynb
  libs/langchain/langchain/retrievers/vespa_retriever.py
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/vespa.py
Labels: area: vector store, auto:enhancement

#11391 Improve output of Runnable.astream_log()
  libs/langchain/langchain/callbacks/tracers/log_stream.py
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#11395 mv LCEL up in docs
  docs/docs_skeleton/sidebars.js
Labels: auto:documentation

#11390 Make langchain compatible with SQLAlchemy<1.4.0
  libs/langchain/langchain/vectorstores/pgembedding.py
  libs/langchain/langchain/vectorstores/pgvector.py
Labels: lgtm, area: vector store, auto:improvement

#7837 Add CLI command to create a new project
  libs/langchain/langchain/cli/__init__.py
  libs/langchain/langchain/cli/cli.py
  libs/langchain/langchain/cli/create_repo/__init__.py
  libs/langchain/langchain/cli/create_repo/base.py
  libs/langchain/langchain/cli/create_repo/pypi_name.py
  libs/langchain/langchain/cli/create_repo/templates/pip/.github/CONTRIBUTING.md
  libs/langchain/langchain/cli/create_repo/templates/pip/Dockerfile
  libs/langchain/langchain/cli/create_repo/templates/pip/Makefile
  libs/langchain/langchain/cli/create_repo/templates/pip/pyproject.toml
  libs/langchain/langchain/cli/create_repo/templates/poetry/.github/CONTRIBUTING.md
  libs/langchain/langchain/cli/create_repo/templates/poetry/.github/actions/poetry_setup/action.yml
  libs/langchain/langchain/cli/create_repo/templates/poetry/.github/workflows/lint.yml
  libs/langchain/langchain/cli/create_repo/templates/poetry/.github/workflows/release.yml
  libs/langchain/langchain/cli/create_repo/templates/poetry/.github/workflows/test.yml
  libs/langchain/langchain/cli/create_repo/templates/poetry/Dockerfile
  libs/langchain/langchain/cli/create_repo/templates/poetry/Makefile
  libs/langchain/langchain/cli/create_repo/templates/poetry/README.md
  libs/langchain/langchain/cli/create_repo/templates/poetry/poetry.toml
  libs/langchain/langchain/cli/create_repo/templates/poetry/pyproject.toml
  libs/langchain/langchain/cli/create_repo/templates/repo/.gitignore
  libs/langchain/langchain/cli/create_repo/templates/repo/LICENSE
  libs/langchain/langchain/cli/create_repo/templates/repo/README.md
  libs/langchain/langchain/cli/create_repo/templates/repo/____project_name_identifier/__init__.py
  libs/langchain/langchain/cli/create_repo/templates/repo/____project_name_identifier/chain.py
  libs/langchain/langchain/cli/create_repo/templates/repo/____project_name_identifier/server.py
  libs/langchain/langchain/cli/create_repo/templates/repo/tests/__init__.py
  libs/langchain/langchain/cli/create_repo/templates/repo/tests/test_chain.py
  libs/langchain/langchain/cli/create_repo/user_info.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:enhancement

#11404 CLI: Readme update
  libs/langchain/langchain/cli/create_repo/templates/poetry/README.md
  libs/langchain/langchain/cli/create_repo/templates/repo/README.md
Labels: auto:documentation

#11312 merge pages into `google` and `AWS` pages
  docs/extras/integrations/platforms/aws.mdx
  docs/extras/integrations/platforms/google.mdx
  docs/extras/integrations/providers/aws_dynamodb.mdx
  docs/extras/integrations/providers/google_document_ai.mdx
  docs/extras/integrations/providers/scann.mdx
Labels: lgtm, auto:documentation, integration: aws

#11402 Fix typing imports in extraction usecase
  docs/extras/use_cases/extraction.ipynb
Labels: lgtm, auto:documentation

#11412 Normalize Option in Scoring Chain
  docs/extras/guides/evaluation/string/scoring_eval_chain.ipynb
  docs/extras/guides/langsmith/walkthrough.ipynb
  libs/langchain/langchain/evaluation/__init__.py
  libs/langchain/langchain/evaluation/scoring/eval_chain.py
  libs/langchain/langchain/evaluation/scoring/prompt.py
  libs/langchain/langchain/smith/evaluation/config.py
Labels: auto:improvement

#11355 Tweak type hints to match dependency's behavior.
  libs/experimental/langchain_experimental/sql/vector_sql.py
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: area: vector store, auto:nit

#11403 Rm bedrock anthropic error
  libs/langchain/langchain/llms/bedrock.py
  libs/langchain/tests/unit_tests/llms/test_bedrock.py
Labels: auto:improvement, area: models

#11428 Nc/5oct/runnable release
  docs/extras/expression_language/interface.ipynb
  libs/langchain/langchain/callbacks/tracers/base.py
  libs/langchain/langchain/callbacks/tracers/log_stream.py
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/passthrough.py
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#11436 Fix .dict() for agent/chain
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/load/serializable.py
  libs/langchain/langchain/schema/runnable/__init__.py
  libs/langchain/langchain/schema/runnable/configurable.py
Labels: area: agent, auto:improvement

#11415 Remove overridden async not implemented method on embeddings filters and add default async implementation for document compressors
  libs/langchain/langchain/document_transformers/embeddings_redundant_filter.py
  libs/langchain/langchain/retrievers/document_compressors/base.py
  libs/langchain/langchain/retrievers/document_compressors/chain_filter.py
  libs/langchain/langchain/retrievers/document_compressors/cohere_rerank.py
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
Labels: area: embeddings, auto:nit

#11420 Upgrade langchain dependencies.
  libs/langchain/poetry.lock
Labels: auto:nit

#11406 Add docker compose to CLI
  libs/langchain/langchain/cli/create_repo/templates/repo/.env
  libs/langchain/langchain/cli/create_repo/templates/repo/README.md
  libs/langchain/langchain/cli/create_repo/templates/repo/docker-compose.yml
Labels: auto:enhancement

#11431 Update aws.mdx
  docs/extras/integrations/platforms/aws.mdx
Labels: auto:documentation, integration: aws

#11360 added interactive login for azure cognitive search vector store
  libs/langchain/langchain/vectorstores/azuresearch.py
Labels: lgtm, area: vector store, auto:improvement

#11389 Add cohere /chat integration
  docs/extras/integrations/chat/cohere.ipynb
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/chat_models/cohere.py
  libs/langchain/langchain/llms/cohere.py
Labels: lgtm, auto:enhancement, area: models

#11443 bump 309
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: auto:nit

#11300 Start deprecation of LLMBashChain
  libs/langchain/langchain/chains/llm_bash/base.py
Labels: auto:improvement, area: models

#11137 Update agent type docs
  libs/langchain/langchain/agents/agent_types.py
Labels: area: agent, auto:documentation

#11393 make vectorstores optional
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/tests/unit_tests/vectorstores/test_imports.py
Labels: lgtm, area: vector store, auto:improvement

#10540 Add language detection example
  docs/extras/guides/privacy/presidio_data_anonymization/multi_language.ipynb
Labels: auto:enhancement

#11446 Remove str() from RunnableConfigurableAlternatives
  libs/langchain/langchain/schema/output_parser.py
  libs/langchain/langchain/schema/prompt_template.py
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/configurable.py
  libs/langchain/langchain/schema/runnable/passthrough.py
Labels: auto:nit

#10522 Additional Weaviate Filter Comparators
  libs/langchain/langchain/retrievers/self_query/weaviate.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_weaviate.py
Labels: auto:improvement

#10513 fix: Update Google Cloud Enterprise Search to Vertex AI Search
  docs/api_reference/guide_imports.json
  docs/docs_skeleton/vercel.json
  docs/extras/integrations/platforms/google.mdx
  docs/extras/integrations/retrievers/google_cloud_enterprise_search.ipynb
  docs/extras/integrations/retrievers/google_vertex_ai_search.ipynb
  docs/extras/use_cases/question_answering/how_to/code/code-analysis-deeplake.ipynb
  libs/langchain/langchain/retrievers/__init__.py
  libs/langchain/langchain/retrievers/google_cloud_enterprise_search.py
  libs/langchain/langchain/retrievers/google_vertex_ai_search.py
  libs/langchain/tests/integration_tests/retrievers/test_google_cloud_enterprise_search.py
  libs/langchain/tests/integration_tests/retrievers/test_google_vertex_ai_search.py
Labels: auto:documentation

#11129 Add SymbolicMathChain to experiment in preparation for deprecation
  libs/experimental/langchain_experimental/llm_symbolic_math/__init__.py
  libs/experimental/langchain_experimental/llm_symbolic_math/base.py
  libs/experimental/langchain_experimental/llm_symbolic_math/prompt.py
  libs/experimental/tests/unit_tests/test_llm_symbolic_math.py
Labels: auto:refactor, area: models

#10535 Added Streaming Capability to SageMaker LLMs
  libs/langchain/langchain/llms/sagemaker_endpoint.py
Labels: lgtm, auto:enhancement, area: models, integration: aws

#10495 Update pdf.py comment for PyPDFLoader
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/document_loaders/pdf.py
Labels: lgtm, area: doc loader, auto:nit

#10501 Instance anonymization
  docs/extras/guides/privacy/presidio_data_anonymization/index.ipynb
  docs/extras/guides/privacy/presidio_data_anonymization/reversible.ipynb
  libs/experimental/langchain_experimental/data_anonymizer/deanonymizer_mapping.py
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
  libs/experimental/tests/unit_tests/test_data_anonymizer.py
  libs/experimental/tests/unit_tests/test_reversible_data_anonymizer.py
Labels: area: memory, lgtm, auto:improvement

#11444 Update langchain_release.yml
  .github/workflows/langchain_release.yml
Labels: auto:nit

#10571 Feature/csharp text splitter doc
  docs/extras/integrations/vectorstores/vespa.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/opensearch_self_query.ipynb
  docs/snippets/modules/data_connection/document_transformers/text_splitters/code_splitter.mdx
Labels: lgtm, auto:documentation

#11421 Update bageldb.py
  libs/langchain/langchain/vectorstores/bageldb.py
Labels: area: vector store, auto:improvement

#11424 integration test for DocAI parser
  libs/langchain/tests/integration_tests/document_loaders/parsers/test_docai.py
Labels: area: doc loader, auto:improvement

#11434 Fix PyMuPDFLoader kwargs
  libs/langchain/langchain/document_loaders/pdf.py
Labels: lgtm, area: doc loader, auto:bug

#11304 add youdotcom retriever skeleton
  docs/extras/integrations/retrievers/you-retriever.ipynb
  libs/langchain/langchain/retrievers/you.py
  libs/langchain/tests/integration_tests/retrievers/test_you.py
  libs/langchain/tests/unit_tests/retrievers/test_you.py
Labels: auto:enhancement

#11445 fix api docs build
  .readthedocs.yaml
  docs/api_reference/Makefile
Labels: auto:documentation

#11453 Fix a Typo in Documentation
  docs/extras/use_cases/more/agents/agents.ipynb
Labels: auto:documentation

#10615 ArcGISLoader: Limit number of results in query
  libs/langchain/langchain/document_loaders/arcgis_loader.py
Labels: area: doc loader, auto:bug

#10430 Update output_parser.py
  libs/langchain/langchain/agents/mrkl/output_parser.py
  libs/langchain/tests/unit_tests/agents/test_mrkl_output_parser.py
Labels: area: agent, auto:improvement

#10662 Add ClickUp Toolkit
  docs/extras/integrations/toolkits/clickup.ipynb
  libs/langchain/langchain/agents/agent_toolkits/clickup/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/clickup/toolkit.py
  libs/langchain/langchain/tools/clickup/__init__.py
  libs/langchain/langchain/tools/clickup/prompt.py
  libs/langchain/langchain/tools/clickup/tool.py
  libs/langchain/langchain/utilities/clickup.py
  libs/langchain/tests/integration_tests/.env.example
  libs/langchain/tests/integration_tests/utilities/test_clickup.py
Labels: area: agent, lgtm, auto:enhancement

#10408 fix(cache): use dumps for RedisCache
  libs/langchain/langchain/cache.py
  libs/langchain/tests/integration_tests/cache/test_redis_cache.py
Labels: auto:bug

#11452 Improve CLI ux
  libs/langchain/langchain/cli/cli.py
  libs/langchain/langchain/cli/create_repo/base.py
Labels: auto:improvement

#11454 "source" argument in constructor of Vectara
  libs/langchain/langchain/vectorstores/vectara.py
Labels: lgtm, area: vector store, auto:improvement

#11456 docstrings `callbacks`
  libs/langchain/langchain/callbacks/base.py
  libs/langchain/langchain/callbacks/labelstudio_callback.py
  libs/langchain/langchain/callbacks/llmonitor_callback.py
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/callbacks/tracers/log_stream.py
Labels: lgtm, auto:documentation

#10319 added ContentFormatter escape special characters for message content
  libs/langchain/langchain/chat_models/azureml_endpoint.py
Labels: auto:improvement, area: models

#10242 RL Chain with VowpalWabbit
  libs/experimental/tests/unit_tests/rl_chain/test_pick_best_chain_call.py
  libs/experimental/tests/unit_tests/rl_chain/test_pick_best_text_embedder.py
  libs/experimental/tests/unit_tests/rl_chain/test_rl_chain_base_embedder.py
  libs/experimental/tests/unit_tests/rl_chain/test_utils.py
Labels: auto:enhancement, area: models

#10303 add in, nin for pinecone
  libs/langchain/langchain/chains/query_constructor/ir.py
  libs/langchain/langchain/retrievers/self_query/pinecone.py
  libs/langchain/pyproject.toml
  pyproject.toml
Labels: lgtm, area: vector store, auto:improvement, integration: pinecone

#10262 Fix bug in MarkdownHeaderTextSplitter for codeblock
  libs/langchain/langchain/text_splitter.py
  libs/langchain/tests/unit_tests/test_text_splitter.py
Labels: needs test, auto:bug

#10653 Add feature for extracting images from pdf and recognizing text from images.
  docs/snippets/modules/data_connection/document_loaders/how_to/pdf.mdx
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/document_loaders/pdf.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/document_loaders/parsers/test_pdf_parsers.py
Labels: lgtm, area: doc loader, auto:enhancement

#10175 Add async support to SelfQueryRetriever
  libs/langchain/langchain/chains/query_constructor/base.py
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_base.py
Labels: auto:improvement

#10245 Extract abstracts from Pubmed articles, even if they have no extra label
  libs/langchain/langchain/utilities/pubmed.py
  libs/langchain/tests/integration_tests/utilities/test_pubmed.py
Labels: lgtm, area: doc loader, auto:improvement

#10279 fix llm_inputs duplication problem in intermediate_steps in SQLDatabaseChain
  libs/experimental/langchain_experimental/sql/base.py
Labels: auto:bug, area: models

#10726 Add async sql record manager and async indexing API
  libs/langchain/langchain/indexes/__init__.py
  libs/langchain/langchain/indexes/_api.py
  libs/langchain/langchain/indexes/_sql_record_manager.py
  libs/langchain/langchain/indexes/base.py
  libs/langchain/langchain/schema/vectorstore.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/indexes/test_api.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
  libs/langchain/tests/unit_tests/indexes/test_sql_record_manager.py
Labels: auto:enhancement

#11486 bump 310
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: auto:nit

#11491 Fix Open in Colab link for ClearML docs 2
  docs/docs_skeleton/docs/integrations/providers/clearml_tracking.ipynb
Labels: lgtm, auto:documentation

#11411 feat: add markdown list parser
  libs/langchain/langchain/output_parsers/__init__.py
  libs/langchain/langchain/output_parsers/list.py
  libs/langchain/tests/unit_tests/output_parsers/test_list_parser.py
Labels: lgtm, auto:enhancement

#11494 Rename some last hwchase17/langchain links
  libs/langchain/README.md
  libs/langchain/tests/integration_tests/document_loaders/test_github.py
Labels: area: doc loader, auto:documentation

#11495 raise openapi import error
  libs/langchain/langchain/chains/openai_functions/openapi.py
Labels: auto:bug

#11388 docs: `integrations/retrievers` cleanup
  docs/docs_skeleton/docs/integrations/retrievers/docarray_retriever.ipynb
  docs/docs_skeleton/docs/integrations/retrievers/google_drive.ipynb
  docs/docs_skeleton/docs/integrations/retrievers/re_phrase.ipynb
  docs/docs_skeleton/docs/integrations/retrievers/sec_filings.ipynb
  docs/docs_skeleton/vercel.json
Labels: lgtm, auto:documentation

#11499 Fetch up-to-date attributes for env-pulled kwargs during serialisation of OpenAI classes
  libs/langchain/langchain/chat_models/azure_openai.py
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/llms/openai.py
  libs/langchain/tests/unit_tests/chat_models/test_azureopenai.py
Labels: auto:improvement, area: models

#11458 Add LangSmith Run Chat Loader
  docs/docs_skeleton/docs/integrations/chat_loaders/example_data/langsmith_chat_dataset.json
  docs/docs_skeleton/docs/integrations/chat_loaders/langsmith_dataset.ipynb
  docs/docs_skeleton/docs/integrations/chat_loaders/langsmith_llm_runs.ipynb
  libs/langchain/langchain/chat_loaders/langsmith.py
  libs/langchain/langchain/schema/chat.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:enhancement, area: models

#11516 Add documentation to Runnable
  libs/langchain/langchain/schema/runnable/base.py
Labels: auto:documentation

#11487 Rename RunnableMap to RunnableParallel
  docs/docs_skeleton/docs/expression_language/cookbook/memory.ipynb
  docs/docs_skeleton/docs/expression_language/cookbook/prompt_llm_parser.ipynb
  docs/docs_skeleton/docs/expression_language/cookbook/retrieval.ipynb
  docs/docs_skeleton/docs/expression_language/cookbook/sql_db.ipynb
  docs/docs_skeleton/docs/expression_language/how_to/map.ipynb
  docs/docs_skeleton/docs/expression_language/interface.ipynb
  docs/docs_skeleton/docs/integrations/chat/fireworks.ipynb
  docs/docs_skeleton/docs/integrations/llms/opaqueprompts.ipynb
  libs/langchain/langchain/chains/sql_database/query.py
  libs/langchain/langchain/schema/runnable/__init__.py
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/passthrough.py
  libs/langchain/tests/integration_tests/llms/test_opaqueprompts.py
  libs/langchain/tests/unit_tests/schema/runnable/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:refactor, area: models

#11327 Added autodetect_encoding option to csvLoader
  libs/langchain/langchain/document_loaders/csv_loader.py
  libs/langchain/tests/unit_tests/document_loaders/test_detect_encoding.py
  libs/langchain/tests/unit_tests/examples/example-non-utf8.csv
  libs/langchain/tests/unit_tests/examples/example-utf8.csv
Labels: area: doc loader, auto:improvement

#11504 QoL improvements to query constructor
  libs/langchain/langchain/chains/query_constructor/base.py
  libs/langchain/langchain/chains/query_constructor/parser.py
  libs/langchain/langchain/chains/query_constructor/prompt.py
  libs/langchain/langchain/retrievers/self_query/base.py
Labels: auto:improvement

#11555 bump 311
  libs/langchain/pyproject.toml
Labels: auto:nit

#11556 Update Dockerfile.base
  docker/Dockerfile.base
Labels: auto:nit

#11562 redirect langsmith guides
  docs/extras/guides/langsmith/README.md
Labels: auto:documentation

#11535 Fix: Missing DuckDuckGo package version
  libs/langchain/poetry.lock
Labels: auto:bug

#11557 Better deanonymizer matching strategy
  docs/docs_skeleton/docs/guides/privacy/presidio_data_anonymization/reversible.ipynb
  libs/experimental/langchain_experimental/data_anonymizer/base.py
  libs/experimental/langchain_experimental/data_anonymizer/deanonymizer_matching_strategies.py
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
  libs/experimental/tests/unit_tests/test_data_anonymizer.py
Labels: auto:improvement

#11558 Support all presidio entities
  libs/experimental/langchain_experimental/data_anonymizer/faker_presidio_mapping.py
Labels: auto:improvement

#11559 Reset deanonymizer mapping
  libs/experimental/langchain_experimental/data_anonymizer/base.py
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
Labels: auto:improvement

#11521 RunnableLambda: Add in code docs
  libs/langchain/langchain/schema/runnable/base.py
Labels: auto:documentation

#11552 RunnablePassthrough: In code documentation
  libs/langchain/langchain/schema/runnable/passthrough.py
Labels: auto:documentation

#11550 Module documentation for langchain runnables
  libs/langchain/langchain/schema/runnable/__init__.py
Labels: auto:documentation

#11563 [LLMonitor Callback Handler]: Add error handling
  libs/langchain/langchain/callbacks/llmonitor_callback.py
Labels: auto:improvement

#11570 Add Azure Redis example
  docs/docs_skeleton/docs/integrations/vectorstores/redis.ipynb
Labels: auto:documentation, integration: redis

#11573 LangChain cli fix a few bugs
  libs/langchain/langchain/cli/cli.py
  libs/langchain/langchain/cli/create_repo/base.py
Labels: lgtm, auto:bug

#11567 feat: add momento vector index as a vector store provider
  docs/docs_skeleton/docs/integrations/memory/momento_chat_message_history.ipynb
  docs/docs_skeleton/docs/integrations/providers/momento.mdx
  docs/docs_skeleton/docs/integrations/vectorstores/momento_vector_index.ipynb
  libs/langchain/langchain/cache.py
  libs/langchain/langchain/memory/chat_message_histories/momento.py
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/momento_vector_index.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/cache/test_momento_cache.py
  libs/langchain/tests/integration_tests/memory/test_momento.py
  libs/langchain/tests/integration_tests/vectorstores/test_momento_vector_index.py
Labels: area: vector store, auto:enhancement

#11536 fix comments in output format
  libs/langchain/langchain/agents/conversational_chat/prompt.py
Labels: area: agent, auto:bug

#11576 Add option to specify metadata columns in CSV loader
  libs/langchain/langchain/document_loaders/csv_loader.py
Labels: lgtm, area: doc loader, auto:improvement

#11530 fix wording of query_sql_database_tool_description
  libs/langchain/langchain/agents/agent_toolkits/sql/toolkit.py
Labels: area: agent, lgtm, auto:nit

#11523 Docs: Fix broken line breaks in snippets
  docs/docs_skeleton/docs/integrations/providers/predictionguard.mdx
  docs/docs_skeleton/docs/integrations/providers/shaleprotocol.md
  docs/snippets/modules/agents/how_to/custom_llm_agent.mdx
  docs/snippets/modules/chains/foundational/llm_chain.mdx
Labels: auto:documentation

#11518 implemented add files method in LLMRails
  libs/langchain/langchain/vectorstores/llm_rails.py
Labels: lgtm, area: vector store, auto:improvement

#11583 Fix CohereRerank configuration
  libs/langchain/langchain/retrievers/document_compressors/cohere_rerank.py
Labels: auto:bug

#11603 Fix mutation bugs in callback manager configure
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/tests/unit_tests/callbacks/test_callback_manager.py
Labels: auto:bug

#11613 Add version to langchain_experimental
  libs/experimental/langchain_experimental/__init__.py
Labels: auto:improvement

#11615 Deprecate LLMSymbolicMath from langchain core
  libs/langchain/langchain/chains/llm_symbolic_math/__init__.py
  libs/langchain/langchain/chains/llm_symbolic_math/base.py
  libs/langchain/langchain/chains/llm_symbolic_math/prompt.py
  libs/langchain/tests/unit_tests/chains/test_llm_symbolic_math.py
Labels: auto:refactor, area: models

#11614 Docs to use LLMSymbolicMath and LLMBash + utilities from experimental
  docs/docs_skeleton/docs/use_cases/more/code_writing/llm_bash.ipynb
  docs/docs_skeleton/docs/use_cases/more/code_writing/llm_symbolic_math.ipynb
Labels: auto:documentation, area: models
