Repository langchain-ai/langchain, pull requests merged in 2023-11, with the labels that each got.

#12684 Add RAG input types
  templates/chat-bot-feedback/chat_bot_feedback/chain.py
  templates/rag-matching-engine/rag_matching_engine/chain.py
  templates/rag-pinecone-multi-query/rag_pinecone_multi_query/chain.py
  templates/rag-pinecone-rerank/rag_pinecone_rerank/chain.py
  templates/rag-pinecone/rag_pinecone/chain.py
  templates/rag-semi-structured/rag_semi_structured/chain.py
  templates/rag-supabase/rag_supabase/chain.py
  templates/rag-weaviate/rag_weaviate/chain.py
Labels: lgtm, auto:improvement, area: models, integration: pinecone

#12682 fix elastic rag template in playground
  templates/chat-bot-feedback/chat_bot_feedback/chain.py
  templates/rag-elasticsearch/README.md
  templates/rag-elasticsearch/rag_elasticsearch/chain.py
Labels: auto:bug, integration: elasticsearch

#12671 Use separate jobs for building and publishing test releases.
  .github/workflows/_release.yml
  .github/workflows/_test_release.yml
Labels: auto:improvement

#12668 Only publish to test PyPI from the `_test_release.yml` workflow.
  .github/workflows/_release.yml
Labels: auto:improvement

#12594 Remove `black` caching config from CI lint workflow.
  .github/workflows/_lint.yml
Labels: auto:nit

#12691 Fix typo highlighted by `ruff` autoformatter.
  libs/langchain/langchain/tools/e2b_data_analysis/unparse.py
Labels: auto:nit

#12406 Mask API key for Anyscale LLM
  libs/langchain/langchain/chat_models/anyscale.py
  libs/langchain/langchain/llms/anyscale.py
  libs/langchain/tests/unit_tests/llms/test_anyscale.py
Labels: lgtm, auto:improvement, area: models

#12711 Weaviate - Fix schema existence check
  libs/langchain/langchain/vectorstores/weaviate.py
Labels: lgtm, area: vector store, auto:bug

#12277 feat: Add page metadata on PDFMinerLoader
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/document_loaders/pdf.py
  libs/langchain/tests/integration_tests/document_loaders/test_pdf.py
Labels: lgtm, area: doc loader, auto:improvement

#12092 PyPDFLoader use url in metadata source if file is a web path
  libs/langchain/langchain/document_loaders/pdf.py
Labels: lgtm, area: doc loader, auto:improvement

#12716 dash not underscore
  libs/cli/langchain_cli/namespaces/template.py
Labels: auto:nit

#12722 bump 328, exp 37
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: auto:nit

#12660 use http.client instead of urllib3
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
  libs/cli/tests/test_events.py
Labels: auto:refactor

#12729 Update template index w/ Timescale
  templates/docs/INDEX.md
Labels: auto:documentation

#12736 template updates
  templates/extraction-openai-functions/LICENSE
  templates/rag-chroma-private/LICENSE
  templates/rag-conversation/LICENSE
  templates/rag-elasticsearch/LICENSE
  templates/rag-semi-structured/LICENSE
  templates/rag-timescale-hybrid-search-time/poetry.lock
  templates/rag-timescale-hybrid-search-time/pyproject.toml
Labels: auto:nit

#12733 Use jinja2 sandboxing by default
  libs/langchain/langchain/prompts/base.py
  libs/langchain/langchain/prompts/prompt.py
  libs/langchain/tests/unit_tests/prompts/test_prompt.py
Labels: auto:improvement

#12746 Demo Server, Fix Timescale
  libs/cli/langchain_cli/dev_scripts.py
  templates/rag-timescale-hybrid-search-time/poetry.lock
  templates/rag-timescale-hybrid-search-time/pyproject.toml
Labels: auto:improvement

#12747 APIChain add restrictions to domains (CVE-2023-32786)
  docs/docs/use_cases/apis.ipynb
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/tests/unit_tests/chains/test_api.py
Labels: auto:improvement

#12715 Update google_vertex_ai_palm.ipynb
  docs/docs/integrations/llms/google_vertex_ai_palm.ipynb
Labels: lgtm, auto:documentation

#12751 Fixes 'Nonetype' not iterable for ObsidianLoader
  libs/langchain/langchain/document_loaders/obsidian.py
Labels: lgtm, area: doc loader, auto:bug

#12365 Semantic search within postgreSQL using pgvector
  cookbook/README.md
  cookbook/retrieval_in_sql.ipynb
Labels: lgtm, area: vector store, auto:documentation

#11864 Update llama.cpp integration
  docs/docs/integrations/llms/llamacpp.ipynb
Labels: auto:documentation, area: models

#12364 Update chat prompt structure in LLaMA SQL cookbook
  cookbook/LLaMA2_sql_chat.ipynb
Labels: auto:improvement, area: models

#12756 Fixes to the docs for timescale vector template
  templates/docs/INDEX.md
  templates/rag-timescale-hybrid-search-time/README.md
Labels: auto:documentation

#12778 bump 329
  libs/langchain/pyproject.toml
Labels: auto:nit

#12787 CLI 0.0.12
  libs/cli/langchain_cli/cli.py
  libs/cli/pyproject.toml
Labels: auto:nit

#12784 Fix on_llm_new_token(chunk=) for some chat models
  libs/langchain/langchain/chat_models/fireworks.py
  libs/langchain/langchain/chat_models/konko.py
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/chat_models/tongyi.py
Labels: auto:bug, area: models

#12796 CLI 0.0.13, Configurable Template Demo
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/pyproject.toml
Labels: auto:improvement

#12785 Fix AddableDict raising exception when used with non-addable values
  libs/langchain/langchain/schema/runnable/utils.py
Labels: auto:bug

#12800 Add input types to cypher templates
  templates/neo4j-cypher-ft/neo4j_cypher_ft/chain.py
  templates/neo4j-cypher/neo4j_cypher/chain.py
Labels: auto:improvement, template

#12791 Update llamacpp.ipynb
  docs/docs/integrations/llms/llamacpp.ipynb
Labels: auto:documentation

#12516 Fixed broken link in Quickstart page
  docs/docs/get_started/quickstart.mdx
Labels: lgtm, auto:documentation

#12777 Fix broken links to use cases
  docs/docs/additional_resources/tutorials.mdx
Labels: lgtm, auto:documentation

#12774 Fixed a typo in templates/docs/CONTRIBUTING.md (delimeters =>delimiters)
  templates/docs/CONTRIBUTING.md
Labels: lgtm, auto:documentation

#12770 Use data from all Google search results in SerpApi.com wrapper
  libs/langchain/langchain/utilities/serpapi.py
Labels: lgtm, auto:improvement

#12764 zep: Update Zep docs and messaging
  docs/docs/integrations/memory/zep_memory.ipynb
  docs/docs/integrations/providers/zep.mdx
  docs/docs/integrations/retrievers/zep_memorystore.ipynb
  docs/docs/integrations/vectorstores/zep.ipynb
Labels: area: doc loader, auto:documentation

#12801 __getattr__ should rase AttributeError not ImportError on missing attributes
  libs/langchain/langchain/agents/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/csv/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/pandas/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/python/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/spark/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/xorbits/__init__.py
Labels: area: agent, auto:bug

#12731 enable the device_map parameter in huggingface pipeline
  libs/langchain/langchain/llms/huggingface_pipeline.py
  libs/langchain/tests/integration_tests/llms/test_huggingface_pipeline.py
Labels: auto:improvement, area: models

#12798 Automatically add configurable key to config_schema if config_specs i…
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/fallbacks.py
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#12804 fix imports
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/tests/unit_tests/vectorstores/test_public_api.py
Labels: area: vector store, auto:nit

#12806 add import tests to all modules
  libs/langchain/tests/unit_tests/_api/test_imports.py
  libs/langchain/tests/unit_tests/agents/test_imports.py
  libs/langchain/tests/unit_tests/callbacks/test_imports.py
  libs/langchain/tests/unit_tests/chains/test_imports.py
  libs/langchain/tests/unit_tests/chat_models/test_imports.py
  libs/langchain/tests/unit_tests/docstore/test_imports.py
  libs/langchain/tests/unit_tests/document_loaders/test_imports.py
  libs/langchain/tests/unit_tests/document_transformers/__init__.py
  libs/langchain/tests/unit_tests/document_transformers/test_imports.py
  libs/langchain/tests/unit_tests/embeddings/test_imports.py
  libs/langchain/tests/unit_tests/evaluation/test_imports.py
  libs/langchain/tests/unit_tests/graphs/test_imports.py
  libs/langchain/tests/unit_tests/indexes/__init__.py
  libs/langchain/tests/unit_tests/indexes/test_imports.py
  libs/langchain/tests/unit_tests/llms/test_imports.py
  libs/langchain/tests/unit_tests/load/__init__.py
  libs/langchain/tests/unit_tests/load/__snapshots__/test_dump.ambr
  libs/langchain/tests/unit_tests/load/test_dump.py
  libs/langchain/tests/unit_tests/load/test_imports.py
  libs/langchain/tests/unit_tests/memory/test_imports.py
  libs/langchain/tests/unit_tests/output_parsers/test_imports.py
  libs/langchain/tests/unit_tests/prompts/test_imports.py
  libs/langchain/tests/unit_tests/retrievers/test_imports.py
  libs/langchain/tests/unit_tests/schema/test_imports.py
  libs/langchain/tests/unit_tests/smith/test_imports.py
  libs/langchain/tests/unit_tests/storage/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/utilities/test_imports.py
  libs/langchain/tests/unit_tests/utils/test_imports.py
Labels: auto:improvement

#12686 Zep: Summary Search and Example
  docs/docs/integrations/retrievers/zep_memorystore.ipynb
  libs/langchain/langchain/retrievers/zep.py
Labels: area: memory, auto:documentation

#12690 zep: VectorStore: Use Native MMR
  docs/docs/integrations/vectorstores/zep.ipynb
  libs/langchain/langchain/vectorstores/zep.py
Labels: lgtm, area: vector store, auto:improvement

#12718 feat: Supprt pgvecto.rs as a VectorStore
  docs/docs/integrations/vectorstores/pgvecto_rs.ipynb
  libs/langchain/langchain/vectorstores/pgvecto_rs.py
Labels: lgtm, area: vector store, auto:enhancement

#12624 Add TileDB vectorstore implementation
  docs/docs/integrations/vectorstores/tiledb.ipynb
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/tiledb.py
  libs/langchain/tests/integration_tests/vectorstores/test_tiledb.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
Labels: lgtm, area: vector store, auto:enhancement

#12808 Adds missing `urllib.parse` for IDE warning of `PubMedAPIWrapper`
  libs/langchain/langchain/utilities/pubmed.py
Labels: auto:nit

#12713 Correct number of elements in config list in `batch()` and `abatch()` of `BaseLLM`
  libs/langchain/langchain/llms/base.py
  libs/langchain/tests/unit_tests/llms/test_base.py
Labels: lgtm, auto:bug, area: models

#12811 Bagatur/tiledb
  docs/docs/integrations/vectorstores/tiledb.ipynb
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/tiledb.py
  libs/langchain/tests/integration_tests/vectorstores/test_tiledb.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
  libs/langchain/tests/unit_tests/vectorstores/test_public_api.py
Labels: lgtm, area: vector store, auto:enhancement

#12805 Add template for rag-singlestoredb
  templates/rag-singlestoredb/LICENSE
  templates/rag-singlestoredb/README.md
  templates/rag-singlestoredb/poetry.lock
  templates/rag-singlestoredb/pyproject.toml
  templates/rag-singlestoredb/rag_singlestoredb.ipynb
  templates/rag-singlestoredb/rag_singlestoredb/__init__.py
  templates/rag-singlestoredb/rag_singlestoredb/chain.py
  templates/rag-singlestoredb/tests/__init__.py
Labels: lgtm, area: vector store, auto:enhancement, template

#12809 Update template index
  templates/docs/INDEX.md
Labels: auto:documentation, template

#12810 migrate
  cookbook/myscale_vector_sql.ipynb
Labels: auto:documentation

#12757 feat: add a rag template for momento vector index
  templates/rag-momento-vector-index/LICENSE
  templates/rag-momento-vector-index/README.md
  templates/rag-momento-vector-index/poetry.lock
  templates/rag-momento-vector-index/pyproject.toml
  templates/rag-momento-vector-index/rag_momento_vector_index/__init__.py
  templates/rag-momento-vector-index/rag_momento_vector_index/chain.py
  templates/rag-momento-vector-index/rag_momento_vector_index/ingest.py
  templates/rag-momento-vector-index/tests/__init__.py
Labels: area: vector store, auto:enhancement, template

#12696 Keep also original query - multi_query.py
  libs/langchain/langchain/retrievers/multi_query.py
Labels: lgtm, auto:improvement

#12226 updated `integrations/providers/google`
  docs/docs/integrations/chat/google_vertex_ai_palm.ipynb
  docs/docs/integrations/llms/google_vertex_ai_palm.ipynb
  docs/docs/integrations/platforms/google.mdx
Labels: lgtm, auto:documentation

#12386 Update quickstart.mdx
  docs/docs/get_started/quickstart.mdx
Labels: lgtm, auto:documentation

#12816 Add Dataset Page to printout
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: auto:nit

#12814 Autopopulate module name in cli init
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/package_template/package_template/__init__.py
Labels: auto:improvement

#12807 Disable trace_on_chain_group auto-tracing
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/tests/unit_tests/callbacks/test_callback_manager.py
Labels: auto:improvement

#12838 update mongo template
  templates/rag-mongo/README.md
  templates/rag-mongo/_images/cluster.png
  templates/rag-mongo/_images/collections.png
  templates/rag-mongo/_images/connect.png
  templates/rag-mongo/_images/create.png
  templates/rag-mongo/_images/driver.png
  templates/rag-mongo/_images/json.png
  templates/rag-mongo/_images/json_editor.png
  templates/rag-mongo/_images/search-indexes.png
  templates/rag-mongo/_images/uri.png
  templates/rag-mongo/ingest.py
  templates/rag-mongo/rag_mongo/chain.py
Labels: auto:improvement

#12849 Remove admin prefix/suffix from docs for anthropic
  docs/docs/integrations/platforms/anthropic.mdx
Labels: auto:documentation

#12845 CLI 0.0.14, Uvicorn update and no more [serve]
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Labels: auto:improvement

#12851 Confirm sys.path includes current dir for app serve
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/pyproject.toml
Labels: auto:improvement

#12847 Update readmes with new cli install
  libs/cli/langchain_cli/package_template/README.md
  libs/cli/langchain_cli/project_template/README.md
  templates/README.md
  templates/anthropic-iterative-search/README.md
  templates/cassandra-entomology-rag/README.md
  templates/cassandra-synonym-caching/README.md
  templates/csv-agent/README.md
  templates/docs/CONTRIBUTING.md
  templates/docs/LAUNCHING_PACKAGE.md
  templates/elastic-query-generator/README.md
  templates/extraction-anthropic-functions/README.md
  templates/extraction-openai-functions/README.md
  templates/guardrails-output-parser/README.md
  templates/hybrid-search-weaviate/README.md
  templates/hyde/README.md
  templates/llama2-functions/README.md
  templates/neo4j-cypher-ft/README.md
  templates/neo4j-cypher/README.md
  templates/neo4j-generation/README.md
  templates/neo4j-parent/README.md
  templates/openai-functions-agent/README.md
  templates/pirate-speak/README.md
  templates/plate-chain/README.md
  templates/rag-aws-bedrock/README.md
  templates/rag-aws-kendra/README.md
  templates/rag-chroma-private/README.md
  templates/rag-chroma/README.md
  templates/rag-codellama-fireworks/README.md
  templates/rag-conversation/README.md
  templates/rag-elasticsearch/README.md
  templates/rag-fusion/README.md
  templates/rag-matching-engine/README.md
  templates/rag-momento-vector-index/README.md
  templates/rag-mongo/README.md
  templates/rag-pinecone-multi-query/README.md
  templates/rag-pinecone-rerank/README.md
  templates/rag-pinecone/README.md
  templates/rag-redis/README.md
  templates/rag-semi-structured/README.md
  templates/rag-singlestoredb/README.md
  templates/rag-supabase/README.md
  templates/rag-timescale-hybrid-search-time/README.md
  templates/rag-weaviate/README.md
  templates/rewrite-retrieve-read/README.md
  templates/self-query-supabase/README.md
  templates/solo-performance-prompting-agent/README.md
  templates/sql-llama2/README.md
  templates/sql-llamacpp/README.md
  templates/sql-ollama/README.md
  templates/stepback-qa-prompting/README.md
  templates/summarize-anthropic/README.md
  templates/xml-agent/README.md
Labels: auto:documentation

#12794 Neo4j Advanced RAG template
  templates/neo4j-advanced-rag/README.md
  templates/neo4j-advanced-rag/dune.txt
  templates/neo4j-advanced-rag/ingest.py
  templates/neo4j-advanced-rag/main.py
  templates/neo4j-advanced-rag/neo4j_advanced_rag/__init__.py
  templates/neo4j-advanced-rag/neo4j_advanced_rag/chain.py
  templates/neo4j-advanced-rag/neo4j_advanced_rag/retrievers.py
  templates/neo4j-advanced-rag/poetry.lock
  templates/neo4j-advanced-rag/pyproject.toml
  templates/neo4j-advanced-rag/tests/__init__.py
Labels: lgtm, auto:enhancement, template

#12754 Open Clip multimodal embeddings
  docs/docs/integrations/text_embedding/open_clip.ipynb
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/open_clip.py
  libs/langchain/tests/unit_tests/embeddings/test_imports.py
Labels: lgtm, area: embeddings, auto:enhancement

#12762 zep/rag conversation zep template
  templates/rag-conversation-zep/LICENSE
  templates/rag-conversation-zep/README.md
  templates/rag-conversation-zep/ingest.py
  templates/rag-conversation-zep/poetry.lock
  templates/rag-conversation-zep/pyproject.toml
  templates/rag-conversation-zep/rag_conversation_zep/__init__.py
  templates/rag-conversation-zep/rag_conversation_zep/chain.py
  templates/rag-conversation-zep/tests/__init__.py
Labels: lgtm, auto:enhancement, area: models, template

#12795 Add template for self-query-qdrant
  templates/self-query-qdrant/.gitignore
  templates/self-query-qdrant/README.md
  templates/self-query-qdrant/poetry.lock
  templates/self-query-qdrant/pyproject.toml
  templates/self-query-qdrant/self_query_qdrant/__init__.py
  templates/self-query-qdrant/self_query_qdrant/chain.py
  templates/self-query-qdrant/self_query_qdrant/defaults.py
  templates/self-query-qdrant/self_query_qdrant/helper.py
  templates/self-query-qdrant/self_query_qdrant/prompts.py
Labels: lgtm, area: vector store, auto:enhancement, template

#12839 coockbook: Fix typo in wikibase_agent.ipynb
  cookbook/wikibase_agent.ipynb
Labels: auto:documentation

#12828 fix bes vector store search
  libs/langchain/langchain/vectorstores/baiducloud_vector_search.py
Labels: area: vector store, auto:bug

#12827 template: use dashes instead of underscores for neo4j-cypher package and path in readme
  templates/neo4j-cypher/README.md
Labels: auto:documentation

#12887 mongo parent document retrieval
  templates/mongo-parent-document-retrieval/LICENSE
  templates/mongo-parent-document-retrieval/README.md
  templates/mongo-parent-document-retrieval/ingest.py
  templates/mongo-parent-document-retrieval/mongo_parent_document_retrieval/__init__.py
  templates/mongo-parent-document-retrieval/mongo_parent_document_retrieval/chain.py
  templates/mongo-parent-document-retrieval/pyproject.toml
  templates/mongo-parent-document-retrieval/tests/__init__.py
Labels: auto:enhancement

#12890 Fix configurable for non-hashable options
  libs/langchain/langchain/schema/agent.py
  libs/langchain/langchain/schema/runnable/utils.py
Labels: auto:bug

#12918 use keys not items
  libs/langchain/langchain/schema/runnable/utils.py
Labels: auto:nit

#12914 cli template gitignores
  libs/cli/langchain_cli/package_template/.gitignore
  libs/cli/langchain_cli/project_template/.gitignore
Labels: auto:nit

#12878 Update csv.ipynb description
  docs/docs/integrations/toolkits/csv.ipynb
Labels: lgtm, auto:documentation

#12898 Harrison/docs smith serve
  docs/.local_build.sh
  docs/docs/get_started/introduction.mdx
  docs/docs/get_started/quickstart.mdx
  docs/docs/langsmith/img/log_traces.png
  docs/docs/langsmith/img/test_results.png
  docs/docs/langsmith/index.md
  docs/docs/langsmith/walkthrough.ipynb
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/static/img/langchain_stack.jpg
  docs/vercel_build.sh
Labels: auto:documentation

#12687 Add possibility to pass on_artifacts for a specific conversation
  libs/langchain/langchain/tools/e2b_data_analysis/tool.py
Labels: auto:improvement

#12937 Fix return metadata when searching for DingoDB
  docs/docs/integrations/vectorstores/dingo.ipynb
  libs/langchain/langchain/vectorstores/dingo.py
Labels: area: vector store, auto:improvement

#12934 Fix normalizing the cosine distance in Qdrant
  libs/langchain/langchain/vectorstores/qdrant.py
Labels: area: vector store, auto:bug

#12930 Fix typo in e2b_data_analysis.ipynb
  docs/docs/integrations/tools/e2b_data_analysis.ipynb
Labels: auto:documentation

#12908 docs: update hf pipeline docs
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
Labels: auto:documentation

#12924 fix baiducloud directory loader import file loader
  libs/langchain/langchain/document_loaders/baiducloud_bos_directory.py
Labels: area: doc loader, auto:bug

#12928 add baidu cloud vectorsearch document
  docs/api_reference/guide_imports.json
  docs/docs/integrations/vectorstores/baiducloud_vector_search.ipynb
Labels: area: vector store, auto:documentation

#12929 fix regex pattern of structured output parser
  libs/langchain/langchain/agents/structured_chat/output_parser.py
  libs/langchain/tests/unit_tests/agents/test_structured_chat.py
Labels: area: agent, auto:bug

#12906 Remove useless line of code from sql.ipynb
  docs/docs/use_cases/qa_structured/sql.ipynb
Labels: auto:documentation

#12941 fix guides link
  docs/docs/get_started/introduction.mdx
Labels: auto:documentation

#12935 feat: acquire advisory lock before creating extension in pgvector
  libs/langchain/langchain/vectorstores/pgvector.py
Labels: lgtm, area: vector store, auto:improvement

#12896 Add SecretStr for Symbl.ai Nebula API
  libs/langchain/langchain/llms/symblai_nebula.py
  libs/langchain/tests/unit_tests/llms/test_symblai_nebula.py
Labels: auto:improvement, area: models

#12940 Add support of Cohere Embed v3
  libs/langchain/langchain/embeddings/cohere.py
Labels: area: embeddings, auto:improvement

#12948 Bagatur/oai v1 scratch
  libs/langchain/langchain/chat_models/azure_openai.py
  libs/langchain/langchain/chat_models/konko.py
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/tests/unit_tests/chat_models/test_azureopenai.py
Labels: auto:improvement, area: models

#12960 Record system fingerprint chat openai
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/tests/integration_tests/chat_models/test_openai.py
Labels: auto:improvement, area: models

#12961 add oai v1 cookbook
  cookbook/README.md
  cookbook/openai_v1_cookbook.ipynb
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
  docs/docs/integrations/text_embedding/open_clip.ipynb
  docs/docs/integrations/vectorstores/baiducloud_vector_search.ipynb
  docs/docs/integrations/vectorstores/dingo.ipynb
Labels: auto:documentation

#11320 update schema
  cookbook/openai_v1_cookbook.ipynb
  libs/langchain/langchain/agents/openai_functions_multi_agent/base.py
  libs/langchain/langchain/agents/output_parsers/openai_functions.py
  libs/langchain/langchain/callbacks/infino_callback.py
  libs/langchain/langchain/chat_loaders/utils.py
  libs/langchain/langchain/chat_models/anthropic.py
  libs/langchain/langchain/chat_models/azureml_endpoint.py
  libs/langchain/langchain/chat_models/baidu_qianfan_endpoint.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/langchain/chat_models/google_palm.py
  libs/langchain/langchain/chat_models/human.py
  libs/langchain/langchain/chat_models/minimax.py
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/chat_models/pai_eas_endpoint.py
  libs/langchain/langchain/chat_models/vertexai.py
  libs/langchain/langchain/chat_models/yandex.py
  libs/langchain/langchain/schema/messages.py
  libs/langchain/tests/integration_tests/chat_models/test_fireworks.py
  libs/langchain/tests/integration_tests/smith/evaluation/test_runner_utils.py
  libs/langchain/tests/unit_tests/schema/runnable/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#12963 bump 331rc0
  libs/langchain/pyproject.toml
Labels: auto:nit

#12964 fix max_tokens
  cookbook/openai_v1_cookbook.ipynb
  libs/langchain/langchain/chat_models/openai.py
Labels: auto:bug, area: models

#12965 bump 331rc1
  libs/langchain/pyproject.toml
Labels: auto:nit

#12969 oai v1 embeddings
  libs/langchain/langchain/embeddings/openai.py
  libs/langchain/tests/integration_tests/embeddings/test_openai.py
Labels: area: embeddings, auto:improvement

#12897 add ingest for mongo
  templates/rag-mongo/README.md
  templates/rag-mongo/rag_mongo/chain.py
Labels: auto:improvement

#12869 Fix for rag-supabase readme
  templates/rag-supabase/README.md
Labels: lgtm

#13006 bump 331rc2
  libs/langchain/pyproject.toml
Labels: auto:nit

#12946 Multi modal RAG + QA Cookbooks
  cookbook/Multi_modal_RAG.ipynb
  cookbook/multi_modal_QA.ipynb
Labels: auto:documentation, area: models

#12927 Neo4j conversation cypher template
  templates/neo4j-cypher-memory/README.md
  templates/neo4j-cypher-memory/ingest.py
  templates/neo4j-cypher-memory/main.py
  templates/neo4j-cypher-memory/neo4j_cypher_memory/__init__.py
  templates/neo4j-cypher-memory/neo4j_cypher_memory/chain.py
  templates/neo4j-cypher-memory/poetry.lock
  templates/neo4j-cypher-memory/pyproject.toml
  templates/neo4j-cypher-memory/tests/__init__.py
Labels: area: memory, lgtm, auto:enhancement, template

#12945 cli pyproject updating
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/project_template/pyproject.toml
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/langchain_cli/utils/pyproject.py
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Labels: auto:improvement

#13010 Bagatur/oai assistant
  cookbook/openai_v1_cookbook.ipynb
  libs/experimental/langchain_experimental/openai_assistant/__init__.py
  libs/experimental/langchain_experimental/openai_assistant/base.py
Labels: auto:enhancement, area: models

#13016 bump exp 38
  libs/experimental/pyproject.toml
Labels: auto:nit

#11722 Add `Memorize` tool
  docs/docs/integrations/tools/memorize.ipynb
  libs/langchain/langchain/agents/load_tools.py
  libs/langchain/langchain/tools/memorize/__init__.py
  libs/langchain/langchain/tools/memorize/tool.py
Labels: needs documentation, auto:enhancement, area: models

#13021 update stack diagram
  cookbook/openai_v1_cookbook.ipynb
  docs/docs/get_started/introduction.mdx
  docs/static/img/langchain_stack.jpg
  docs/static/img/langchain_stack.png
Labels: auto:documentation

#12993 Add neo4j vector memory template
  templates/neo4j-vector-memory/README.md
  templates/neo4j-vector-memory/dune.txt
  templates/neo4j-vector-memory/ingest.py
  templates/neo4j-vector-memory/main.py
  templates/neo4j-vector-memory/neo4j_vector_memory/__init__.py
  templates/neo4j-vector-memory/neo4j_vector_memory/chain.py
  templates/neo4j-vector-memory/neo4j_vector_memory/history.py
  templates/neo4j-vector-memory/poetry.lock
  templates/neo4j-vector-memory/pyproject.toml
  templates/neo4j-vector-memory/tests/__init__.py
Labels: area: memory, auto:enhancement, template

#12966 Add "Astra DB" vector store integration
  docs/docs/integrations/providers/astradb.mdx
  docs/docs/integrations/providers/cassandra.mdx
  docs/docs/integrations/vectorstores/astradb.ipynb
  docs/docs/integrations/vectorstores/cassandra.ipynb
  docs/docs/modules/data_connection/indexing.ipynb
  docs/vercel.json
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/astradb.py
  libs/langchain/tests/integration_tests/vectorstores/test_astradb.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
  libs/langchain/tests/unit_tests/vectorstores/test_public_api.py
  templates/cassandra-entomology-rag/README.md
  templates/cassandra-synonym-caching/README.md
  templates/rag-astradb/.env.template
  templates/rag-astradb/README.md
  templates/rag-astradb/astradb_entomology_rag/__init__.py
  templates/rag-astradb/astradb_entomology_rag/populate_vector_store.py
  templates/rag-astradb/main.py
  templates/rag-astradb/poetry.lock
  templates/rag-astradb/pyproject.toml
  templates/rag-astradb/sources.txt
Labels: lgtm, area: vector store, auto:enhancement, template

#13029 Update Deps in Experimental
  libs/experimental/poetry.lock
Labels: auto:nit

#13030 template versions again
  templates/guardrails-output-parser/poetry.lock
  templates/guardrails-output-parser/pyproject.toml
  templates/rag-elasticsearch/poetry.lock
  templates/rag-elasticsearch/pyproject.toml
  templates/rag-redis/poetry.lock
  templates/rag-redis/pyproject.toml
Labels: lgtm, auto:nit, integration: redis

#13031 Upgrade docs postcss
  docs/package-lock.json
Labels: auto:documentation

#13040 redirect ls walkthrough
  docs/docs/langsmith/walkthrough.ipynb
  docs/vercel.json
Labels: auto:documentation

#13038 Fleet context
  docs/docs/integrations/retrievers/fleet_context.ipynb
Labels: lgtm, auto:documentation

#13034 cli updates, 0.0.16
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/pyproject.toml
Labels: auto:improvement

#13074 Add RunnableRetry Documentation
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/retry.py
Labels: auto:documentation

#13042 Add Proper Import Error
  libs/langchain/langchain/document_loaders/parsers/pdf.py
Labels: area: doc loader, auto:bug, integration: aws

#13039 Azure OpenAI Embeddings
  libs/langchain/langchain/chat_models/azure_openai.py
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/azure_openai.py
  libs/langchain/langchain/embeddings/openai.py
  libs/langchain/langchain/utils/openai.py
  libs/langchain/tests/integration_tests/embeddings/test_azure_openai.py
  libs/langchain/tests/unit_tests/embeddings/test_imports.py
Labels: area: embeddings, auto:enhancement

#13085 Don't pass EF to chroma
  libs/langchain/langchain/vectorstores/chroma.py
Labels: lgtm, area: vector store, auto:bug, integration: chroma

#13091 update azure embedding docs
  docs/docs/integrations/text_embedding/azureopenai.ipynb
  libs/langchain/langchain/embeddings/azure_openai.py
  libs/langchain/langchain/embeddings/openai.py
Labels: area: embeddings, auto:documentation

#13093 update more azure docs
  cookbook/openai_v1_cookbook.ipynb
  docs/docs/integrations/chat/azure_chat_openai.ipynb
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/text_embedding/azureopenai.ipynb
  libs/langchain/langchain/chat_models/azure_openai.py
Labels: auto:documentation, area: models

#13100 Get project from langchain sdk
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/callbacks/tracers/evaluation.py
  libs/langchain/langchain/callbacks/tracers/langchain.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/callbacks/tracers/test_langchain.py
Labels: auto:improvement

#12489 Adds embeddings filter option to return scores in state
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
  libs/langchain/tests/integration_tests/retrievers/document_compressors/test_embeddings_filter.py
Labels: area: embeddings, auto:improvement

#13020 feat: Vertex AI Search - Add Snippet Retrieval for Non-Advanced Website Data Stores
  libs/langchain/langchain/retrievers/google_vertex_ai_search.py
Labels: lgtm, auto:enhancement

#13118 (Astra DB/Cassandra) Minor clarification about dependencies in the demo notebook
  docs/docs/integrations/vectorstores/astradb.ipynb
Labels: area: vector store, auto:documentation

#12552 Add message to documents
  libs/langchain/langchain/chat_models/cohere.py
  libs/langchain/langchain/retrievers/cohere_rag_retriever.py
Labels: lgtm, area: doc loader, auto:improvement

#13131 bump 333
  libs/langchain/pyproject.toml
Labels: auto:nit

#13135 update oai cookbooks
  cookbook/extraction_openai_tools.ipynb
  cookbook/openai_v1_cookbook.ipynb
Labels: auto:documentation, area: models

#13140 Multimodal rag traces
  cookbook/Multi_modal_RAG.ipynb
Labels: auto:documentation

#13139 Bagatur/docs smith context
  cookbook/Multi_modal_RAG.ipynb
  cookbook/extraction_openai_tools.ipynb
  cookbook/multi_modal_QA.ipynb
  cookbook/openai_v1_cookbook.ipynb
  docs/docs/get_started/installation.mdx
  docs/docs/get_started/introduction.mdx
  docs/docs/get_started/quickstart.mdx
  docs/docs/integrations/retrievers/fleet_context.ipynb
  docs/docs/integrations/text_embedding/azureopenai.ipynb
  docs/docs/integrations/tools/memorize.ipynb
  docs/docs/integrations/vectorstores/astradb.ipynb
  docs/docs/modules/agents/agent_types/openai_tools.ipynb
  docs/docs/modules/model_io/models/chat/index.ipynb
  docs/docs/modules/model_io/models/chat/llm_chain.mdx
  docs/docs/modules/model_io/models/chat/streaming.ipynb
  docs/docs/modules/model_io/models/chat/streaming.mdx
  docs/vercel.json
  libs/experimental/langchain_experimental/openai_assistant/base.py
Labels: auto:documentation, area: models

#13144 fix langsmith links
  docs/docs/guides/debugging.md
  docs/docs/langsmith/index.md
  docs/docs/langsmith/walkthrough.ipynb
Labels: auto:documentation

#13142 Docs: combine LCEL index and why
  docs/docs/expression_language/index.mdx
  docs/docs/expression_language/why.mdx
  docs/vercel.json
Labels: auto:documentation

#13141 update modules sidebar
  docs/docs/get_started/introduction.mdx
  docs/docs/modules/index.mdx
  docs/docs/modules/model_io/models/chat/index.ipynb
  docs/docs/modules/model_io/models/index.mdx
  docs/docs/modules/model_io/models/llms/index.ipynb
  docs/sidebars.js
Labels: auto:documentation, area: models

#13147 update oai tool agent doc
  docs/docs/modules/agents/agent_types/openai_tools.ipynb
Labels: area: agent, auto:documentation

#13153 Pirate Speak Configurable Template
  templates/pirate-speak-configurable/.gitignore
  templates/pirate-speak-configurable/LICENSE
  templates/pirate-speak-configurable/README.md
  templates/pirate-speak-configurable/pirate_speak_configurable/__init__.py
  templates/pirate-speak-configurable/pirate_speak_configurable/chain.py
  templates/pirate-speak-configurable/poetry.lock
  templates/pirate-speak-configurable/pyproject.toml
  templates/pirate-speak-configurable/tests/__init__.py
Labels: auto:enhancement

#13154 OpenAI remove httpx typing
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/embeddings/openai.py
  libs/langchain/tests/integration_tests/chat_models/test_openai.py
Labels: auto:improvement, area: models

#13150 Bagatur/docs serve context
  docs/docs/get_started/introduction.mdx
  docs/docusaurus.config.js
Labels: auto:documentation

#13099 Fix langchain.llms OpenAI completion doesn't work due to v1 client update
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/llms/openai.py
  libs/langchain/langchain/utils/openai.py
  libs/langchain/tests/integration_tests/llms/test_openai.py
Labels: lgtm, auto:bug, area: models

#13155 LCEL nits
  docs/docs/expression_language/how_to/configure.ipynb
  docs/docs/expression_language/how_to/functions.ipynb
  docs/docs/expression_language/how_to/generators.ipynb
  docs/docs/expression_language/how_to/map.ipynb
  docs/docs/expression_language/how_to/routing.ipynb
  docs/docs/expression_language/interface.ipynb
Labels: auto:documentation

#13015 fix: Updates to formatting in Google Drive Retriever docs
  docs/docs/integrations/retrievers/google_drive.ipynb
Labels: auto:documentation

#12976 fix baiducloud_vector_search document typo
  docs/docs/integrations/vectorstores/baiducloud_vector_search.ipynb
Labels: lgtm, area: vector store, auto:documentation

#13158 fix module sidebar
  docs/docs/modules/agents/index.mdx
  docs/docs/modules/callbacks/index.mdx
  docs/docs/modules/chains/index.ipynb
  docs/docs/modules/data_connection/index.mdx
  docs/docs/modules/memory/index.mdx
  docs/docs/modules/model_io/index.mdx
  docs/sidebars.js
Labels: area: doc loader, auto:documentation

#13157 Clean up Fireworks provider documentation
  docs/docs/integrations/providers/fireworks.md
Labels: auto:documentation

#12688 Add basic critique revise template
  templates/basic-critique-revise/LICENSE
  templates/basic-critique-revise/README.md
  templates/basic-critique-revise/basic_critique_revise/__init__.py
  templates/basic-critique-revise/basic_critique_revise/chain.py
  templates/basic-critique-revise/poetry.lock
  templates/basic-critique-revise/pyproject.toml
  templates/basic-critique-revise/tests/__init__.py
Labels: lgtm, auto:documentation, template

#13160 Update model i/o
  cookbook/fake_llm.ipynb
  cookbook/human_input_chat_model.ipynb
  cookbook/human_input_llm.ipynb
  docs/docs/integrations/callbacks/trubrics.ipynb
  docs/docs/integrations/llms/replicate.ipynb
  docs/docs/integrations/providers/minimax.mdx
  docs/docs/integrations/providers/motherduck.mdx
  docs/docs/integrations/retrievers/google_drive.ipynb
  docs/docs/integrations/vectorstores/baiducloud_vector_search.ipynb
  docs/docs/modules/model_io/chat/chat_model_caching.mdx
  docs/docs/modules/model_io/chat/index.ipynb
  docs/docs/modules/model_io/chat/prompts.mdx
  docs/docs/modules/model_io/chat/streaming.ipynb
  docs/docs/modules/model_io/chat/token_usage_tracking.ipynb
  docs/docs/modules/model_io/index.mdx
  docs/docs/modules/model_io/llms/async_llm.ipynb
  docs/docs/modules/model_io/llms/custom_llm.ipynb
  docs/docs/modules/model_io/llms/index.ipynb
  docs/docs/modules/model_io/llms/llm_caching.mdx
  docs/docs/modules/model_io/llms/llm_serialization.ipynb
  docs/docs/modules/model_io/llms/streaming_llm.ipynb
  docs/docs/modules/model_io/llms/token_usage_tracking.ipynb
  docs/docs/modules/model_io/models/index.mdx
  docs/docs/modules/model_io/models/llms/async_llm.ipynb
  docs/docs/modules/model_io/models/llms/llm.json
  docs/docs/modules/model_io/models/llms/llm.yaml
  docs/docs/modules/model_io/models/llms/llm_serialization.ipynb
  docs/docs/modules/model_io/models/llms/streaming_llm.mdx
  docs/docs/modules/model_io/output_parsers/index.ipynb
  docs/docs/use_cases/chatbots.ipynb
  docs/docs/use_cases/question_answering/index.ipynb
  docs/scripts/model_feat_table.py
  docs/vercel.json
Labels: auto:documentation, area: models

#13165 improve duck duck go tool
  libs/langchain/langchain/tools/ddg_search/tool.py
Labels: auto:improvement

#13167 Bagatur/update agent docs
  docs/docs/modules/agents/index.ipynb
  docs/docs/modules/agents/index.mdx
  docs/docs/modules/agents/tools/toolkits.mdx
  docs/vercel.json
Labels: area: agent, auto:documentation

#13174 Add serve to quickstart
  docs/docs/get_started/quickstart.mdx
Labels: auto:documentation

#13152 template readme's in docs
  .gitignore
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
  docs/docusaurus.config.js
  docs/scripts/copy_templates.py
  docs/sidebars.js
  docs/vercel_build.sh
Labels: auto:documentation

#12880 Update return type for Runnable.__or__
  libs/langchain/langchain/schema/runnable/base.py
Labels: auto:improvement
