Repository langchain-ai/langchain, pull requests merged in 2023-12, with the labels that each got.

#13330 Adds OllamaFunctions wrapper
  docs/docs/integrations/chat/ollama.ipynb
  docs/docs/integrations/chat/ollama_functions.ipynb
  libs/experimental/langchain_experimental/llms/ollama_functions.py
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
  libs/experimental/tests/integration_tests/llms/test_ollama_functions.py
  libs/langchain/langchain/llms/ollama.py
Labels: lgtm, auto:enhancement, area: models, size:XL

#14093 Update metaphor_search.ipynb
  docs/docs/integrations/tools/metaphor_search.ipynb
Labels: lgtm, auto:documentation, size:XL

#14096 local docs build <5s
  docs/.local_build.sh
  docs/vercel_build.sh
Labels: lgtm, auto:documentation, size:XS

#14126 Improve indexing performance for Postgres (remote database) for refresh
  libs/langchain/langchain/indexes/_api.py
Labels: lgtm, auto:improvement, size:S

#14102 docs[patch]: Update facebook.ipynb
  docs/docs/integrations/chat_loaders/facebook.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:M

#14092 Template for Ollama + Multi-query retriever
  templates/rag-ollama-multi-query/LICENSE
  templates/rag-ollama-multi-query/README.md
  templates/rag-ollama-multi-query/poetry.lock
  templates/rag-ollama-multi-query/pyproject.toml
  templates/rag-ollama-multi-query/rag_ollama_multi_query.ipynb
  templates/rag-ollama-multi-query/rag_ollama_multi_query/__init__.py
  templates/rag-ollama-multi-query/rag_ollama_multi_query/chain.py
  templates/rag-ollama-multi-query/tests/__init__.py
Labels: auto:enhancement, area: models, size:XXL

#12544 Add IBM watsonx.ai as a new LLM provider (WatsonxLLM)
  docs/docs/integrations/llms/watsonxllm.ipynb
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/watsonxllm.py
  libs/langchain/tests/integration_tests/llms/test_watsonxllm.py
  libs/langchain/tests/unit_tests/llms/test_watsonxllm.py
Labels: auto:enhancement, area: models, size:XL

#14133 Harrison/ibm
  docs/docs/integrations/llms/watsonxllm.ipynb
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/watsonxllm.py
  libs/langchain/tests/integration_tests/llms/test_watsonxllm.py
  libs/langchain/tests/unit_tests/llms/test_imports.py
  libs/langchain/tests/unit_tests/llms/test_watsonxllm.py
Labels: auto:enhancement, area: models, size:XL

#14121 fix: set maxsplit when parse python function docstring
  libs/langchain/langchain/chains/openai_functions/base.py
Labels: lgtm, auto:bug, size:XS

#14110 fix: use async_embed_with_retry in _aget_len_safe_embeddings
  libs/langchain/langchain/embeddings/openai.py
Labels: lgtm, area: embeddings, auto:bug, size:XS

#14051 docs[patch]: Add mermaid JS theme dependency to docusaurus
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: lgtm, auto:documentation, size:XXL

#14061 docs(ernie): add deprecated note for ErnieChatBot
  docs/docs/integrations/chat/ernie.ipynb
  libs/langchain/langchain/chat_models/ernie.py
Labels: auto:documentation, area: models, size:S

#14137 add contribs
  README.md
Labels: needs: documentation, auto:documentation, size:XS

#14025 Update text_splitter.py
  libs/langchain/tests/unit_tests/test_text_splitter.py
Labels: auto:bug, size:M

#14045 docs[patch]: Add getting started section to LCEL doc
  docs/docs/expression_language/cookbook/index.mdx
  docs/docs/expression_language/get_started.ipynb
  docs/docs/expression_language/how_to/index.mdx
  docs/docs/expression_language/interface.ipynb
Labels: lgtm, auto:documentation, size:L

#14138 Fix minor typos (casing)
  docs/docs/get_started/quickstart.mdx
Labels: lgtm, auto:documentation, size:XS

#14142 Change RunnableMap to RunnableParallel for consistency
  docs/docs/expression_language/cookbook/multiple_chains.ipynb
  docs/docs/expression_language/cookbook/prompt_llm_parser.ipynb
  docs/docs/expression_language/cookbook/retrieval.ipynb
  docs/docs/expression_language/how_to/map.ipynb
  docs/docs/expression_language/how_to/message_history.ipynb
  docs/docs/guides/privacy/presidio_data_anonymization/qa_privacy_protection.ipynb
  docs/docs/use_cases/question_answering/index.ipynb
  templates/anthropic-iterative-search/anthropic_iterative_search/retriever_agent.py
  templates/rag-conversation-zep/rag_conversation_zep/chain.py
  templates/rag-conversation/rag_conversation/chain.py
  templates/rag-elasticsearch/rag_elasticsearch/chain.py
  templates/rag-google-cloud-sensitive-data-protection/rag_google_cloud_sensitive_data_protection/chain.py
  templates/rag-timescale-conversation/rag_timescale_conversation/chain.py
Labels: lgtm, needs: documentation, auto:refactor, area: models, size:M

#14152 docs[patch]: docs local build
  docs/.local_build.sh
Labels: needs: documentation, auto:documentation, size:XS

#14154 fix broken api docs links
  docs/docs/expression_language/how_to/functions.ipynb
  docs/docs/expression_language/interface.ipynb
  docs/docs/modules/data_connection/retrievers/multi_vector.ipynb
  docs/docs/modules/memory/adding_memory.ipynb
  docs/docs/modules/model_io/prompts/prompt_templates/few_shot_examples_chat.ipynb
Labels: lgtm, needs documentation, auto:documentation, size:S

#14004 Improve file system blob loader and generic loader
  libs/langchain/langchain/document_loaders/blob_loaders/file_system.py
  libs/langchain/langchain/document_loaders/concurrent.py
  libs/langchain/langchain/document_loaders/generic.py
  libs/langchain/tests/unit_tests/document_loaders/test_generic_loader.py
Labels: area: doc loader, auto:improvement, size:L

#10827 Title：fixed a bug that was causing the streaming transfer to not work…
  libs/langchain/langchain/llms/tongyi.py
  tests/integration_tests/llms/test_tongyi.py
Labels: auto:bug, area: models, size:L

#14143 Added missing `py.typed` to `langchain_core`
  libs/core/langchain_core/py.typed
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/prompt.py
  libs/experimental/langchain_experimental/chat_models/llm_wrapper.py
  libs/experimental/langchain_experimental/comprehend_moderation/base_moderation.py
  libs/experimental/langchain_experimental/llms/anthropic_functions.py
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/chat_models/volcengine_maas.py
  libs/langchain/langchain/llms/forefrontai.py
  libs/langchain/langchain/llms/vertexai.py
Labels: auto:nit, size:M

#13404 add azure ai data document loader
  docs/docs/integrations/document_loaders/azure_ai_data.ipynb
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_loaders/azure_ai_data.py
  libs/langchain/tests/unit_tests/document_loaders/test_imports.py
Labels: area: doc loader, auto:enhancement, size:L

#14058 fix: Running SQLDatabaseChain adds prefix "SQLQuery:\n"
  libs/experimental/langchain_experimental/sql/base.py
Labels: lgtm, auto:bug, size:XS

#14139 `BaseTracer` helper method for `Run` lookup
  libs/core/langchain_core/tracers/base.py
Labels: lgtm, auto:improvement, size:M

#14182 core[patch]: Release 0.0.9
  libs/core/pyproject.toml
Labels: auto:nit, size:XS

#14163 Update docs to use new usage in openai>1.0.0
  docs/docs/integrations/chat_loaders/imessage.ipynb
  docs/docs/integrations/chat_loaders/langsmith_dataset.ipynb
  docs/docs/integrations/chat_loaders/langsmith_llm_runs.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:L

#14078 Fix: (issue #14066) DOC: Summarization output broken
  docs/docs/use_cases/summarization.ipynb
Labels: lgtm, auto:documentation, area: models, size:XS

#14060 fix(vectorstores): incorrect import for mongodb atlas DriverInfo
  libs/langchain/langchain/vectorstores/mongodb_atlas.py
Labels: lgtm, area: vector store, auto:bug, size:XS

#14012 Added Slacktoolkit
  docs/docs/integrations/toolkits/slack.ipynb
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/slack/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/slack/toolkit.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/tools/slack/__init__.py
  libs/langchain/langchain/tools/slack/base.py
  libs/langchain/langchain/tools/slack/get_channel.py
  libs/langchain/langchain/tools/slack/get_message.py
  libs/langchain/langchain/tools/slack/schedule_message.py
  libs/langchain/langchain/tools/slack/send_message.py
  libs/langchain/langchain/tools/slack/utils.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
  libs/langchain/tests/unit_tests/tools/test_signatures.py
Labels: area: agent, lgtm, auto:enhancement, size:L

#13949 Fix Mathpix PDF loader integration
  libs/langchain/langchain/document_loaders/pdf.py
Labels: lgtm, area: doc loader, auto:bug, size:S

#13831 docs: `Hugging Face` platform page
  docs/docs/integrations/platforms/huggingface.mdx
  docs/docs/integrations/providers/huggingface.mdx
  docs/vercel.json
Labels: lgtm, auto:documentation, size:L

#14200 delete stray test
  tests/integration_tests/llms/test_tongyi.py
Labels: auto:nit, size:M

#13884 Extend OpenAIEmbeddings class to support non-`tiktoken` based embeddings
  libs/langchain/langchain/embeddings/openai.py
Labels: lgtm, area: embeddings, auto:improvement, size:L

#13780 AstraDB VectorStore: implement pre_delete_collection
  libs/langchain/langchain/vectorstores/astradb.py
  libs/langchain/tests/integration_tests/vectorstores/test_astradb.py
Labels: lgtm, area: vector store, auto:improvement, size:L

#14193 Mask API key for Arcee LLM
  libs/langchain/langchain/llms/arcee.py
  libs/langchain/langchain/retrievers/arcee.py
  libs/langchain/langchain/utilities/arcee.py
  libs/langchain/tests/integration_tests/llms/test_arcee.py
Labels: lgtm, auto:improvement, area: models, size:M

#14183 Pass kwargs to chat fireworks
  libs/langchain/langchain/chat_models/fireworks.py
Labels: lgtm, auto:improvement, area: models, size:XS

#14160 docs `AWS` platform page update
  docs/docs/guides/safety/amazon_comprehend_chain.ipynb
  docs/docs/integrations/chat/bedrock.ipynb
  docs/docs/integrations/document_loaders/amazon_textract.ipynb
  docs/docs/integrations/document_loaders/pdf-amazonTextractPDFLoader.ipynb
  docs/docs/integrations/llms/amazon_api_gateway.ipynb
  docs/docs/integrations/llms/bedrock.ipynb
  docs/docs/integrations/platforms/aws.mdx
  docs/docs/integrations/retrievers/amazon_kendra_retriever.ipynb
  docs/docs/integrations/retrievers/bedrock.ipynb
  docs/docs/integrations/text_embedding/bedrock.ipynb
  docs/docs/integrations/tools/awslambda.ipynb
  docs/docs/integrations/vectorstores/opensearch.ipynb
  docs/vercel.json
Labels: lgtm, auto:documentation, integration: aws, size:XXL

#14011 Update MLflow and Databricks docs
  docs/docs/integrations/llms/databricks.ipynb
  docs/docs/integrations/providers/databricks.md
  docs/docs/integrations/providers/mlflow.mdx
  docs/docs/integrations/providers/mlflow_ai_gateway.mdx
Labels: auto:documentation, size:L

#12704 Cerebrium model_api_request deprecation
  libs/langchain/langchain/llms/cerebriumai.py
Labels: lgtm, auto:improvement, area: models, size:M

#14228 Clarifying descriptions in `GuardrailsOutputParser`
  libs/langchain/langchain/output_parsers/rail_parser.py
Labels: lgtm, auto:improvement, size:XS

#14224 Adds `llm_chain_kwargs` to `BaseRetrievalQA.from_llm`
  libs/langchain/langchain/chains/retrieval_qa/base.py
Labels: lgtm, auto:improvement, area: models, size:XS

#14236 Fixed OpenAIFunctionsAgent not returning when receiving AgentFinish
  libs/langchain/langchain/agents/openai_functions_agent/base.py
Labels: area: agent, lgtm, auto:bug, size:XS

#14215 fixed: ModuleNotFoundError: No module named 'clarifai.auth'
  libs/langchain/langchain/embeddings/clarifai.py
  libs/langchain/langchain/llms/clarifai.py
Labels: lgtm, auto:bug, area: models, size:XS

#14242 Harrison/embass
  docs/docs/integrations/document_loaders/embaas.ipynb
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_loaders/embaas.py
  libs/langchain/tests/integration_tests/document_loaders/test_embaas.py
  libs/langchain/tests/unit_tests/document_loaders/test_imports.py
Labels: area: doc loader, auto:nit, size:L

#14211 Shorten wget commands
  docs/docs/integrations/toolkits/openapi.ipynb
Labels: lgtm, auto:documentation, size:XS

#14165 Closed #14159
  docs/docs/use_cases/tagging.ipynb
Labels: lgtm, auto:documentation, size:M

#14125 Support of custom hugging face inference endpoints url
  libs/langchain/langchain/embeddings/huggingface.py
Labels: lgtm, area: embeddings, auto:improvement, size:XS

#14068 Add input_type override
  docs/docs/integrations/text_embedding/cohere.ipynb
  libs/langchain/langchain/embeddings/cohere.py
Labels: area: embeddings, auto:improvement, size:L

#14008 Add: Steam API tool
  docs/docs/integrations/toolkits/steam.ipynb
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/steam/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/steam/toolkit.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/tools/steam/__init__.py
  libs/langchain/langchain/tools/steam/prompt.py
  libs/langchain/langchain/tools/steam/tool.py
  libs/langchain/langchain/utilities/__init__.py
  libs/langchain/langchain/utilities/steam.py
  libs/langchain/tests/integration_tests/utilities/test_steam_api.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
  libs/langchain/tests/unit_tests/utilities/test_imports.py
Labels: area: agent, auto:enhancement, size:L

#13966 Add doc for the development of core and experimental sections
  .github/CONTRIBUTING.md
Labels: lgtm, auto:documentation, size:S

#13979 Add Couchbase document loader
  docs/docs/integrations/document_loaders/couchbase.ipynb
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_loaders/couchbase.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/document_loaders/test_couchbase.py
  libs/langchain/tests/unit_tests/document_loaders/test_couchbase.py
  libs/langchain/tests/unit_tests/document_loaders/test_imports.py
Labels: area: doc loader, auto:enhancement, size:L

#13732 Add Nasa tool
  docs/docs/integrations/toolkits/nasa.ipynb
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/nasa/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/nasa/toolkit.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/tools/nasa/__init__.py
  libs/langchain/langchain/tools/nasa/prompt.py
  libs/langchain/langchain/tools/nasa/tool.py
  libs/langchain/langchain/utilities/__init__.py
  libs/langchain/langchain/utilities/nasa.py
  libs/langchain/tests/integration_tests/utilities/test_nasa.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
  libs/langchain/tests/unit_tests/utilities/test_imports.py
Labels: area: agent, auto:enhancement, size:L

#13888 Fixes error loading Obsidian templates
  libs/langchain/langchain/document_loaders/obsidian.py
  libs/langchain/tests/unit_tests/document_loaders/sample_documents/obsidian/template_var_frontmatter.md
  libs/langchain/tests/unit_tests/document_loaders/test_obsidian.py
Labels: lgtm, area: doc loader, auto:bug, size:M

#13695 Support Azure gov cloud in Azure Cognitive Search retriever
  libs/langchain/langchain/retrievers/azure_cognitive_search.py
Labels: auto:improvement, size:S

#14245 Harrison/nasa tool
  docs/docs/integrations/toolkits/nasa.ipynb
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/nasa/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/nasa/toolkit.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/tools/nasa/__init__.py
  libs/langchain/langchain/tools/nasa/prompt.py
  libs/langchain/langchain/tools/nasa/tool.py
  libs/langchain/langchain/utilities/__init__.py
  libs/langchain/langchain/utilities/nasa.py
  libs/langchain/tests/integration_tests/utilities/test_nasa.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
  libs/langchain/tests/unit_tests/utilities/test_imports.py
Labels: area: agent, auto:enhancement, size:L

#14201 Prefer byte store interface for Upstash BaseStore to match other Redis
  libs/langchain/langchain/storage/upstash_redis.py
  libs/langchain/tests/integration_tests/storage/test_upstash_redis.py
Labels: lgtm, auto:improvement, integration: redis, size:M

#14230 Fix `config` arg detection for wrapped lambdarunnable
  libs/core/langchain_core/runnables/base.py
Labels: lgtm, auto:bug, size:XS

#14181 docs: moved `vectorstore` notebook file
  docs/docs/modules/agents/how_to/vectorstore.ipynb
  docs/vercel.json
Labels: area: doc loader, auto:documentation, size:XS

#9424 core[patch]: add response kwarg to `on_llm_error`
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/tests/unit_tests/fake/callbacks.py
  libs/core/tests/unit_tests/fake/chat_model.py
  libs/core/tests/unit_tests/fake/llm.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/llms/test_base.py
Labels: lgtm, auto:bug, area: models, size:L

#9027 Adding new Github functions for reading pull requests
  docs/docs/integrations/toolkits/github.ipynb
  libs/langchain/langchain/agents/agent_toolkits/github/toolkit.py
  libs/langchain/langchain/tools/github/prompt.py
  libs/langchain/langchain/tools/github/tool.py
  libs/langchain/langchain/utilities/github.py
Labels: area: agent, lgtm, auto:improvement, size:XXL

#14251 docs[patch]: fix columns
  docs/docs/expression_language/why.ipynb
Labels: auto:documentation, size:XS

#13679 Embaas - added backoff retries for network requests
  libs/langchain/langchain/embeddings/embaas.py
Labels: lgtm, area: embeddings, auto:improvement, size:S

#13669 Fix SearchApi integration
  docs/docs/integrations/platforms/google.mdx
  docs/docs/modules/agents/how_to/async_agent.ipynb
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/agents/self_ask_with_search/base.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/tests/integration_tests/chains/test_self_ask_with_search.py
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
Labels: area: agent, auto:bug, size:M

#13660 Fix Sagemaker Endpoint documentation
  docs/docs/integrations/llms/sagemaker.ipynb
Labels: lgtm, area: doc loader, auto:documentation, integration: aws, size:XS

#14252 Harrison/searchapi
  docs/docs/integrations/platforms/google.mdx
  docs/docs/modules/agents/how_to/async_agent.ipynb
  libs/langchain/langchain/agents/self_ask_with_search/base.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/tests/integration_tests/chains/test_self_ask_with_search.py
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
Labels: area: agent, lgtm, auto:improvement

#13661 Add CometTracer
  libs/langchain/langchain/callbacks/tracers/comet.py
  libs/langchain/tests/unit_tests/callbacks/tracers/test_comet.py
Labels: lgtm, auto:enhancement, size:L

#13670 Bugfix duckduckgo_search news search
  docs/docs/integrations/tools/ddg.ipynb
  libs/langchain/langchain/tools/ddg_search/tool.py
  libs/langchain/langchain/utilities/duckduckgo_search.py
  libs/langchain/tests/integration_tests/utilities/test_duckduckdgo_search_api.py
Labels: lgtm, auto:bug, size:L

#13619 feat: implement max marginal relevance for momento vector index
  libs/langchain/langchain/vectorstores/momento_vector_index.py
  libs/langchain/poetry.lock
  libs/langchain/tests/integration_tests/vectorstores/test_momento_vector_index.py
Labels: lgtm, area: vector store, auto:enhancement, size:L

#13616 BookendAI Embeddings
  docs/docs/integrations/text_embedding/bookend.ipynb
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/bookend.py
  libs/langchain/tests/integration_tests/embeddings/test_bookend.py
Labels: lgtm, area: embeddings, auto:enhancement, size:L

#14256 fake consistent embeddings cleanup
  libs/langchain/tests/integration_tests/vectorstores/fake_embeddings.py
Labels: area: vector store, auto:nit, size:XS

#14254 docs[patch]: search experiment
  docs/.local_build.sh
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/src/css/custom.css
  docs/src/theme/SearchBar.js
Labels: auto:documentation, size:M

#14259 fix comet tracer
  libs/langchain/tests/unit_tests/callbacks/tracers/test_comet.py
Labels: auto:bug, size:XS

#14220 add(feat): Text Embeddings by Cloudflare Workers AI
  docs/docs/integrations/text_embedding/cloudflare_workersai.ipynb
  libs/langchain/langchain/embeddings/cloudflare_workersai.py
  libs/langchain/tests/integration_tests/embeddings/test_cloudflare_workersai.py
Labels: lgtm, area: embeddings, auto:enhancement, size:L

#14258 Harrison/bookend ai
  docs/docs/integrations/text_embedding/bookend.ipynb
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/bookend.py
  libs/langchain/tests/integration_tests/embeddings/test_bookend.py
  libs/langchain/tests/unit_tests/embeddings/test_imports.py
Labels: area: embeddings, auto:enhancement, size:L

#13573 Update geodataframe.py
  libs/langchain/langchain/document_loaders/geodataframe.py
Labels: lgtm, area: doc loader, auto:improvement

#13328 Add missing doc key to metadata field in AzureSearch Vectorstore
  libs/langchain/langchain/vectorstores/azuresearch.py
Labels: lgtm, area: vector store, auto:bug, size:M

#13209 Delegate to from_template
  libs/core/langchain_core/prompts/prompt.py
Labels: lgtm, auto:improvement

#14264 docs[patch]: chat model page names
  docs/docs/integrations/chat/anthropic.ipynb
  docs/docs/integrations/chat/anyscale.ipynb
  docs/docs/integrations/chat/azure_chat_openai.ipynb
  docs/docs/integrations/chat/azureml_chat_endpoint.ipynb
  docs/docs/integrations/chat/baichuan.ipynb
  docs/docs/integrations/chat/baidu_qianfan_endpoint.ipynb
  docs/docs/integrations/chat/bedrock.ipynb
  docs/docs/integrations/chat/cohere.ipynb
  docs/docs/integrations/chat/ernie.ipynb
  docs/docs/integrations/chat/everlyai.ipynb
  docs/docs/integrations/chat/fireworks.ipynb
  docs/docs/integrations/chat/google_vertex_ai_palm.ipynb
  docs/docs/integrations/chat/hunyuan.ipynb
  docs/docs/integrations/chat/konko.ipynb
  docs/docs/integrations/chat/litellm.ipynb
  docs/docs/integrations/chat/llama2_chat.ipynb
  docs/docs/integrations/chat/llama_api.ipynb
  docs/docs/integrations/chat/minimax.ipynb
  docs/docs/integrations/chat/ollama.ipynb
  docs/docs/integrations/chat/ollama_functions.ipynb
  docs/docs/integrations/chat/openai.ipynb
  docs/docs/integrations/chat/pai_eas_chat_endpoint.ipynb
  docs/docs/integrations/chat/promptlayer_chatopenai.ipynb
  docs/docs/integrations/chat/tongyi.ipynb
  docs/docs/integrations/chat/vllm.ipynb
  docs/docs/integrations/chat/volcengine_maas.ipynb
  docs/docs/integrations/chat/yandex.ipynb
Labels: auto:documentation, area: models, size:L

#14266 Harrison/delegate from template
  libs/core/langchain_core/prompts/prompt.py
Labels: auto:improvement, size:S

#13576 openapi/planner.py: Deal with json in markdown output cases
  libs/langchain/langchain/agents/agent_toolkits/openapi/planner.py
Labels: lgtm, auto:improvement, area: models, size:S

#13557 migrate openai audio api
  libs/langchain/langchain/document_loaders/parsers/audio.py
Labels: lgtm, area: doc loader, auto:improvement, size:S

#13538 update OpenAI function agents' llm validation
  libs/langchain/langchain/agents/agent_toolkits/conversational_retrieval/openai_functions.py
  libs/langchain/langchain/agents/openai_functions_agent/base.py
  libs/langchain/langchain/agents/openai_functions_multi_agent/base.py
Labels: lgtm, auto:improvement, area: models, size:S

#13472 Update azuresearch.py following recent change from azure-search-documents library
  docs/docs/integrations/vectorstores/azuresearch.ipynb
  libs/langchain/langchain/vectorstores/azuresearch.py
Labels: lgtm, area: vector store, auto:bug, size:L

#13175 Pprados/lite google drive
  docs/docs/integrations/document_loaders/google_drive.ipynb
Labels: lgtm, area: doc loader, auto:documentation

#13658 adapt Jina Embeddings to new Jina AI Embedding API
  docs/docs/integrations/providers/jina.mdx
  docs/docs/integrations/text_embedding/jina.ipynb
  libs/langchain/langchain/embeddings/jina.py
Labels: area: embeddings, auto:improvement, size:L

#13146 Added ability to pass arguments to the Playwright browser
  libs/langchain/langchain/tools/playwright/utils.py
Labels: lgtm, auto:improvement, size:S

#13203 Fix #11737 issue (extra_tools option of create_pandas_dataframe_agent is not working)
  libs/experimental/langchain_experimental/agents/agent_toolkits/pandas/base.py
Labels: area: agent, lgtm, auto:bug, size:M

#14300 Fix rag google cloud vertex ai template
  templates/rag-google-cloud-vertexai-search/rag_google_cloud_vertexai_search/__init__.py
Labels: lgtm, auto:bug, size:XS

#14303 core[patch]: Release 0.0.10
  libs/core/pyproject.toml
Labels: auto:nit, size:XS

#14307 langchain[patch]: Release 0.0.346
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:nit, size:XS

#14304 hide api key: arcee
  libs/langchain/langchain/llms/arcee.py
  libs/langchain/langchain/retrievers/arcee.py
  libs/langchain/langchain/utilities/arcee.py
  libs/langchain/tests/integration_tests/llms/test_arcee.py
Labels: auto:improvement, area: models, size:L

#14310 experimental[patch]: Release 0.0.44
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: auto:nit, size:XS

#14315 docs: `integrations/providers/` update
  docs/docs/integrations/callbacks/argilla.ipynb
  docs/docs/integrations/callbacks/context.ipynb
  docs/docs/integrations/callbacks/infino.ipynb
  docs/docs/integrations/callbacks/labelstudio.ipynb
  docs/docs/integrations/callbacks/llmonitor.md
  docs/docs/integrations/callbacks/promptlayer.ipynb
  docs/docs/integrations/callbacks/sagemaker_tracking.ipynb
  docs/docs/integrations/callbacks/trubrics.ipynb
  docs/docs/integrations/providers/context.mdx
  docs/docs/integrations/providers/labelstudio.mdx
  docs/docs/integrations/providers/llmonitor.mdx
  docs/docs/integrations/providers/streamlit.mdx
  docs/docs/integrations/providers/trubrics.mdx
Labels: lgtm, auto:documentation, size:L

#14314 Fixing empty input variable crashing `PromptTemplate` validations
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Labels: lgtm, auto:bug, area: models, size:S

#14311 Adding `BaseChatMessageHistory.__str__`
  libs/core/langchain_core/chat_history.py
  libs/core/tests/unit_tests/runnables/test_history.py
Labels: area: memory, lgtm, auto:improvement, size:S

#14162 Add metadata to blob
  libs/langchain/langchain/document_loaders/blob_loaders/schema.py
  libs/langchain/tests/unit_tests/document_loaders/blob_loaders/test_schema.py
Labels: lgtm, area: doc loader, auto:improvement, size:M

#14319 Update OpenCLIP docs
  docs/docs/integrations/text_embedding/open_clip.ipynb
Labels: area: embeddings, auto:documentation, size:XS

#14309 Mask API key for Minimax LLM
  libs/langchain/langchain/llms/minimax.py
  libs/langchain/tests/unit_tests/llms/test_minimax.py
Labels: lgtm, auto:improvement, area: models, size:M

#14308 Allow not enforcing function usage when a single function is passed to openai function executable
  libs/langchain/langchain/chains/openai_functions/base.py
Labels: lgtm, auto:improvement, area: models, size:S

#14305 Add support for CORS options for AzureSearch
  libs/langchain/langchain/vectorstores/azuresearch.py
Labels: lgtm, area: vector store, auto:improvement, size:XS

#14294 Update docs
  docs/docs/expression_language/how_to/configure.ipynb
  docs/docs/expression_language/how_to/fallbacks.ipynb
  docs/docs/expression_language/how_to/functions.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:S

#14299 Add custom async generator example
  docs/docs/expression_language/how_to/generators.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:M

#14255 docs[patch] Add how-to doc for RunnablePassthrough and nav modifications
  docs/docs/expression_language/how_to/functions.ipynb
  docs/docs/expression_language/how_to/map.ipynb
  docs/docs/expression_language/how_to/passthrough.ipynb
  docs/docs/expression_language/how_to/routing.ipynb
Labels: lgtm, auto:documentation, size:L

#14296 Fixes issue-14295: Correctly pass along the kwargs
  libs/langchain/langchain/vectorstores/opensearch_vector_search.py
Labels: lgtm, area: vector store, auto:bug, size:XS

#14288 feat(embeddings): text-embeddings-inference
  docs/docs/integrations/text_embedding/text_embeddings_inference.ipynb
  libs/langchain/langchain/embeddings/huggingface_hub.py
Labels: lgtm, area: embeddings, auto:improvement, auto:documentation, size:L

#14282 added get_num_tokens to GooglePalm
  libs/langchain/langchain/llms/google_palm.py
  libs/langchain/langchain/llms/vertexai.py
  libs/langchain/langchain/utilities/vertexai.py
  libs/langchain/tests/integration_tests/llms/test_google_palm.py
Labels: lgtm, auto:improvement, area: models, size:L

#14275 feat: 1. Add system parameters, 2. Align with the QianfanChatEndpoint for function calling
  libs/langchain/langchain/chat_models/ernie.py
  libs/langchain/langchain/output_parsers/ernie_functions.py
Labels: lgtm, auto:enhancement, area: models, size:M

#14222 feat: Increased compatibility with new and old versions for dalle
  libs/langchain/langchain/utilities/dalle_image_generator.py
Labels: lgtm, auto:improvement, area: models, size:L

#14205 Adds "NIN" metadata filter for pgvector to all checking for set absence
  libs/langchain/langchain/vectorstores/pgvector.py
  libs/langchain/tests/integration_tests/vectorstores/test_pgvector.py
Labels: area: vector store, auto:improvement, size:M

#13052 Fixed a typo in smart_llm prompt
  libs/experimental/langchain_experimental/smart_llm/base.py
Labels: lgtm, auto:nit, area: models

#14221 Feature: GitLab url from ENV
  docs/docs/integrations/toolkits/gitlab.ipynb
  libs/langchain/langchain/utilities/gitlab.py
Labels: auto:improvement, size:S

#13712 info sql tool remove whitespaces in table names
  libs/langchain/langchain/tools/sql_database/tool.py
Labels: lgtm, auto:improvement, size:XS

#13671 Updated integration with Clarifai python SDK functions
  docs/docs/integrations/llms/clarifai.ipynb
  docs/docs/integrations/text_embedding/clarifai.ipynb
  docs/docs/integrations/vectorstores/clarifai.ipynb
  libs/langchain/langchain/embeddings/clarifai.py
  libs/langchain/langchain/llms/clarifai.py
  libs/langchain/langchain/vectorstores/clarifai.py
Labels: lgtm, area: embeddings, auto:improvement, size:XL

#13138 OpenAIEmbeddings: retry_min_seconds/retry_max_seconds parameters
  libs/langchain/langchain/embeddings/openai.py
Labels: lgtm, area: embeddings, auto:improvement, size:M

#13002 Amadeus toolkit minor update
  docs/docs/integrations/toolkits/amadeus.ipynb
  libs/langchain/langchain/agents/agent_toolkits/amadeus/toolkit.py
  libs/langchain/langchain/tools/amadeus/flight_search.py
  libs/langchain/langchain/tools/amadeus/utils.py
Labels: area: agent, lgtm, auto:improvement

#13013 Demonstrate use of get_buffer_string
  docs/docs/expression_language/cookbook/retrieval.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:L

#14336 Fix typo in lcel example for rerank in doc
  docs/docs/modules/chains/document/map_rerank.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:XS

#14334 Exclude `max_tokens` from request if it's None
  libs/langchain/langchain/chat_models/mlflow.py
  libs/langchain/langchain/llms/databricks.py
  libs/langchain/langchain/llms/mlflow.py
Labels: lgtm, auto:bug, area: models, size:S

#14322 feat(add): LLM integration of Cloudflare Workers AI
  docs/docs/integrations/llms/cloudflare_workersai.ipynb
  libs/langchain/langchain/llms/cloudflare_workersai.py
  libs/langchain/tests/integration_tests/llms/test_cloudflare_workersai.py
Labels: lgtm, auto:enhancement, area: models, size:L

#13001 Qdrant metadata payload keys
  libs/langchain/langchain/vectorstores/qdrant.py
Labels: lgtm, area: vector store, auto:improvement

#14262 Update doc-string in RunnableWithMessageHistory
  libs/core/langchain_core/runnables/history.py
Labels: auto:documentation, size:XS

#14349 docs[patch]: Fix broken link 'tip' in docs
  docs/docs/expression_language/cookbook/prompt_size.ipynb
  docs/docs/expression_language/how_to/message_history.ipynb
  docs/docs/modules/agents/agent_types/openai_assistants.ipynb
  docs/docs/modules/chains/foundational/llm_chain.ipynb
  docs/docs/modules/chains/foundational/sequential_chains.ipynb
  docs/docs/modules/chains/foundational/transformation.ipynb
  docs/docs/modules/data_connection/retrievers/index.ipynb
  docs/docs/modules/data_connection/retrievers/self_query.ipynb
  docs/docs/modules/model_io/chat/index.ipynb
  docs/docs/modules/model_io/llms/index.ipynb
  docs/docs/use_cases/question_answering/index.ipynb
Labels: size:M

#14312 core[patch], langchain[patch]: ByteStore
  docs/.local_build.sh
  docs/docs/integrations/providers/redis.mdx
  docs/docs/integrations/stores/file_system.ipynb
  docs/docs/integrations/stores/in_memory.ipynb
  docs/docs/integrations/stores/index.mdx
  docs/docs/integrations/stores/redis.ipynb
  docs/docs/integrations/stores/upstash_redis.ipynb
  docs/docs/modules/data_connection/text_embedding/caching_embeddings.ipynb
  docs/sidebars.js
  libs/core/langchain_core/stores.py
  libs/langchain/langchain/embeddings/cache.py
  libs/langchain/langchain/retrievers/multi_vector.py
  libs/langchain/langchain/storage/__init__.py
  libs/langchain/langchain/storage/_lc_store.py
  libs/langchain/langchain/storage/file_system.py
  libs/langchain/langchain/storage/in_memory.py
  libs/langchain/langchain/storage/redis.py
  libs/langchain/langchain/storage/upstash_redis.py
  libs/langchain/tests/unit_tests/storage/test_imports.py
Labels: area: memory, lgtm, area: vector store, auto:improvement, auto:documentation, integration: redis, size:XL

#14306 ci matrix
  .github/scripts/check_diff.py
  .github/workflows/_all_ci.yml
  .github/workflows/check_diffs.yml
  .github/workflows/langchain_cli_ci.yml
  .github/workflows/langchain_core_ci.yml
  .github/workflows/langchain_experimental_ci.yml
Labels: auto:refactor, size:L

#14354 langchain[patch]: import nits
  libs/langchain/langchain/llms/watsonxllm.py
  libs/langchain/tests/integration_tests/chat_models/test_volcengine_maas.py
  libs/langchain/tests/integration_tests/llms/test_volcengine_maas.py
Labels: auto:nit, area: models, size:S

#14362 MongoDB agent fixes
  .github/workflows/_compile_integration_test.yml
  docs/docs/integrations/toolkits/mongo_database.ipynb
  docs/docs/integrations/toolkits/sql_database.ipynb
  libs/experimental/langchain_experimental/agents/agent_toolkits/__init__.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/mongo/__init__.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/mongo/base.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/mongo/prompt.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/mongo/toolkit.py
  libs/experimental/langchain_experimental/tools/__init__.py
  libs/experimental/langchain_experimental/tools/mongo_database/__init__.py
  libs/experimental/langchain_experimental/tools/mongo_database/prompt.py
  libs/experimental/langchain_experimental/tools/mongo_database/tool.py
  libs/experimental/langchain_experimental/utilities/__init__.py
  libs/experimental/langchain_experimental/utilities/mongo_database.py
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
  libs/experimental/tests/integration_tests/agents/test_mongo.py
  libs/experimental/tests/integration_tests/utilities/test_mongo_database.py
  libs/langchain/langchain/agents/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/utilities/__init__.py
  libs/langchain/poetry.lock
  libs/langchain/tests/unit_tests/agents/test_imports.py
  libs/langchain/tests/unit_tests/agents/test_public_api.py
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
  libs/langchain/tests/unit_tests/utilities/test_imports.py
  poetry.lock
Labels: area: agent, auto:improvement, size:L

#14367 core[patch]: Release 0.0.11
  libs/core/pyproject.toml
Labels: auto:nit, size:XS

#14368 langchain[patch]: Release 0.0.347
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:nit, size:XS

#14369 langchain[patch]: fix ChatVertexAI streaming
  docs/docs/integrations/chat/google_vertex_ai_palm.ipynb
  libs/langchain/langchain/chat_models/vertexai.py
  libs/langchain/tests/integration_tests/chat_models/test_vertexai.py
Labels: auto:bug, area: models, size:L

#13587 API Reference building script update
  .gitignore
  docs/api_reference/create_api_rst.py
Labels: lgtm, auto:documentation, size:L

#14415 core[patch]: Release 0.0.12
  libs/core/pyproject.toml
Labels: auto:nit, size:XS

#14417 langchain[patch]: Release 0.0.348
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:nit, size:XS

#14418 experimental[patch]: Release 0.0.45
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: auto:nit, size:XS

#14366 docs: notebook linting
  cookbook/multi_modal_output_agent.ipynb
  cookbook/qianfan_baidu_elasticesearch_RAG.ipynb
  cookbook/retrieval_in_sql.ipynb
  cookbook/wikibase_agent.ipynb
  docs/docs/expression_language/how_to/fallbacks.ipynb
  docs/docs/guides/fallbacks.ipynb
  docs/docs/integrations/chat/google_vertex_ai_palm.ipynb
  docs/docs/integrations/chat/promptlayer_chatopenai.ipynb
  docs/docs/integrations/chat_loaders/imessage.ipynb
  docs/docs/integrations/document_loaders/arcgis.ipynb
  docs/docs/integrations/document_loaders/datadog_logs.ipynb
  docs/docs/integrations/document_loaders/etherscan.ipynb
  docs/docs/integrations/document_loaders/larksuite.ipynb
  docs/docs/integrations/document_loaders/tensorflow_datasets.ipynb
  docs/docs/integrations/llms/anyscale.ipynb
  docs/docs/integrations/llms/bittensor.ipynb
  docs/docs/integrations/llms/databricks.ipynb
  docs/docs/integrations/llms/llm_caching.ipynb
  docs/docs/integrations/llms/runhouse.ipynb
  docs/docs/integrations/retrievers/Activeloop DeepMemory+LangChain.ipynb
  docs/docs/integrations/text_embedding/elasticsearch.ipynb
  docs/docs/integrations/text_embedding/embaas.ipynb
  docs/docs/integrations/text_embedding/localai.ipynb
  docs/docs/integrations/text_embedding/openai.ipynb
  docs/docs/integrations/tools/dalle_image_generator.ipynb
  docs/docs/integrations/tools/google_search.ipynb
  docs/docs/integrations/tools/gradio_tools.ipynb
  docs/docs/integrations/vectorstores/awadb.ipynb
  docs/docs/integrations/vectorstores/baiducloud_vector_search.ipynb
  docs/docs/integrations/vectorstores/mongodb_atlas.ipynb
  docs/docs/integrations/vectorstores/nucliadb.ipynb
  docs/docs/integrations/vectorstores/opensearch.ipynb
  docs/docs/modules/agents/agent_types/chat_conversation_agent.ipynb
  docs/docs/modules/chains/how_to/call_methods.ipynb
  docs/docs/modules/data_connection/retrievers/ensemble.ipynb
  docs/docs/modules/data_connection/retrievers/multi_vector.ipynb
  docs/docs/modules/data_connection/retrievers/parent_document_retriever.ipynb
  pyproject.toml
Labels: lgtm, area: doc loader, auto:documentation, size:L

#14416 docs `promptlayer` pages update
  docs/docs/integrations/callbacks/promptlayer.ipynb
  docs/docs/integrations/providers/promptlayer.mdx
Labels: lgtm, auto:documentation, area: models, size:M

#14430 fix imports from core
  libs/langchain/langchain/agents/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/csv/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/pandas/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/python/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/spark/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/xorbits/__init__.py
Labels: area: agent, auto:improvement, size:L

#14428 Fix scheduled testing
  .github/workflows/scheduled_test.yml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/chat_models/test_azure_openai.py
  libs/langchain/tests/integration_tests/chat_models/test_fireworks.py
  libs/langchain/tests/integration_tests/chat_models/test_openai.py
  libs/langchain/tests/integration_tests/embeddings/test_azure_openai.py
  libs/langchain/tests/integration_tests/llms/test_azure_openai.py
  libs/langchain/tests/integration_tests/llms/test_fireworks.py
Labels: auto:improvement, area: models, size:M

#14459 langchain[patch]: fix scheduled testing ci variables
  .github/workflows/scheduled_test.yml
Labels: auto:bug, size:XS

#14460 langchain[patch]: fix scheduled testing ci dep install
  .github/workflows/scheduled_test.yml
Labels: auto:nit, size:XS

#14462 langchain[patch]: xfail unstable vertex test
  libs/langchain/tests/integration_tests/chat_models/test_vertexai.py
Labels: auto:bug, area: models, size:XS

#14461 docs `Dependents` updated statistics
  docs/docs/additional_resources/dependents.mdx
Labels: area: doc loader, auto:documentation, size:XL

#14414 core[patch], langchain[patch], experimental[patch]: import CI
  .github/workflows/_all_ci.yml
  .github/workflows/_dependencies.yml
  libs/core/Makefile
  libs/core/scripts/lint_imports.sh
  libs/experimental/Makefile
  libs/experimental/langchain_experimental/data_anonymizer/deanonymizer_mapping.py
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
  libs/langchain/Makefile
  libs/langchain/langchain/utilities/github.py
  libs/langchain/langchain/vectorstores/_pgvector_data_models.py
  libs/langchain/langchain/vectorstores/pgvector.py
  libs/langchain/scripts/lint_imports.sh
Labels: auto:improvement, size:L

#14425 Update mongodb_atlas docs for GA
  docs/docs/integrations/vectorstores/mongodb_atlas.ipynb
Labels: lgtm, area: vector store, auto:documentation, size:M

#14469 infra: add langchain-community release workflow
  .github/workflows/langchain_community_release.yml
Labels: auto:enhancement, size:S

#14426 docs `networkx`update
  docs/docs/use_cases/graph/graph_networkx_qa.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:S

#14466 SmartLLMChain Output Key Customization
  libs/experimental/langchain_experimental/smart_llm/base.py
Labels: lgtm, auto:improvement, area: models, size:XS

#14473 Update README and vectorstore path for multi-modal template
  templates/rag-chroma-multi-modal/README.md
  templates/rag-chroma-multi-modal/rag_chroma_multi_modal/chain.py
Labels: area: vector store, auto:documentation, size:XS

#14471 docs cleanup
  docs/docs/guides/evaluation/string/json.ipynb
  docs/docs/guides/evaluation/string/string_distance.ipynb
  docs/docs/integrations/platforms/huggingface.mdx
  docs/docs/integrations/providers/dataforseo.mdx
  docs/docs/integrations/tools/dataforseo.ipynb
Labels: lgtm, auto:documentation, size:M

#14474 langchain[patch], docs[patch]: use byte store in multivectorretriever
  docs/docs/modules/data_connection/retrievers/multi_vector.ipynb
  libs/langchain/langchain/retrievers/multi_vector.py
Labels: area: vector store, auto:improvement, size:M
