Repository langchain-ai/langchain, pull requests merged in 2023-09, with the labels that each got.

#9916 fix (parsers/json): do not escape double quotes if already escaped
  libs/langchain/langchain/output_parsers/json.py
  libs/langchain/tests/unit_tests/output_parsers/test_json.py
Labels: auto:bug

#10076 fix typo in web_research.py
  libs/langchain/langchain/retrievers/web_research.py
Labels: auto:nit

#9694 Add .with_config() method to Runnables, Add run_id, run_name to RunnableConfig
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/llms/base.py
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/config.py
  libs/langchain/langchain/schema/runnable/router.py
  libs/langchain/tests/unit_tests/schema/runnable/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#9711 Nc/runnables retry
  libs/langchain/langchain/llms/base.py
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/retry.py
  libs/langchain/langchain/schema/runnable/router.py
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#9864 Add root run wrapping call to RunnableEach()
  libs/langchain/langchain/schema/runnable/base.py
Labels: auto:improvement

#10073 Mv LCEL docs up a level
  docs/docs_skeleton/docs/expression_language/index.mdx
  docs/docs_skeleton/docs/get_started/introduction.mdx
  docs/docs_skeleton/docs/guides/expression_language/index.mdx
  docs/docs_skeleton/sidebars.js
  docs/docs_skeleton/vercel.json
  docs/extras/additional_resources/dependents.mdx
  docs/extras/expression_language/cookbook.ipynb
  docs/extras/expression_language/interface.ipynb
Labels: auto:documentation

#9764 Add EdenAI Tools
  docs/extras/integrations/tools/edenai_tools.ipynb
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/tools/edenai/__init__.py
  libs/langchain/langchain/tools/edenai/audio_speech_to_text.py
  libs/langchain/langchain/tools/edenai/audio_text_to_speech.py
  libs/langchain/langchain/tools/edenai/edenai_base_tool.py
  libs/langchain/langchain/tools/edenai/image_explicitcontent.py
  libs/langchain/langchain/tools/edenai/image_objectdetection.py
  libs/langchain/langchain/tools/edenai/ocr_identityparser.py
  libs/langchain/langchain/tools/edenai/ocr_invoiceparser.py
  libs/langchain/langchain/tools/edenai/text_moderation.py
  libs/langchain/tests/integration_tests/tools/edenai/__init__.py
  libs/langchain/tests/integration_tests/tools/edenai/test_audio_speech_to_text.py
  libs/langchain/tests/integration_tests/tools/edenai/test_audio_text_to_speech.py
  libs/langchain/tests/integration_tests/tools/edenai/test_image_explicitcontent.py
  libs/langchain/tests/integration_tests/tools/edenai/test_image_objectdetection.py
  libs/langchain/tests/integration_tests/tools/edenai/test_ocr_identityparser.py
  libs/langchain/tests/integration_tests/tools/edenai/test_ocr_invoiceparser.py
  libs/langchain/tests/integration_tests/tools/edenai/test_text_moderation.py
  libs/langchain/tests/unit_tests/tools/eden_ai/__init__.py
  libs/langchain/tests/unit_tests/tools/eden_ai/test_tools.py
  libs/langchain/tests/unit_tests/tools/test_public_api.py
Labels: area: embeddings, auto:enhancement

#10047 Add sqlite-vss as a vector database
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/langchain/vectorstores/sqlitevss.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/vectorstores/test_sqlitevss.py
Labels: area: vector store, auto:enhancement

#10071 add repr for not serializable
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/load/serializable.py
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/tests/unit_tests/load/__snapshots__/test_dump.ambr
  libs/langchain/tests/unit_tests/schema/runnable/__snapshots__/test_runnable.ambr
Labels: auto:improvement

#9753 Nc/runnables seqmap tags
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/tests/unit_tests/schema/runnable/__snapshots__/test_runnable.ambr
Labels: auto:improvement, area: models

#10103 index rename delete_mode -> cleanup
  docs/extras/modules/data_connection/indexing.ipynb
  libs/langchain/langchain/indexes/_api.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
Labels: auto:improvement

#10097 Temporarily remove language selection
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
Labels: auto:improvement

#8963 EdenAI LLM update. Add models name option
  docs/extras/integrations/llms/edenai.ipynb
  docs/extras/integrations/text_embedding/edenai.ipynb
  libs/langchain/langchain/embeddings/edenai.py
  libs/langchain/langchain/llms/edenai.py
  libs/langchain/tests/integration_tests/llms/test_edenai.py
Labels: lgtm, auto:improvement, area: models

#9724 feat(llms): add missing params to huggingface text-generation
  libs/langchain/langchain/llms/huggingface_text_gen_inference.py
Labels: auto:improvement, area: models

#8017 feat: add bedrock claude chat
  docs/extras/integrations/chat/bedrock.ipynb
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/chat_models/anthropic.py
  libs/langchain/langchain/chat_models/bedrock.py
  libs/langchain/langchain/llms/bedrock.py
  libs/langchain/tests/integration_tests/chat_models/test_anthropic.py
Labels: auto:enhancement

#10066 docs: agents & callbacks fixes
  docs/docs_skeleton/docs/modules/agents/agent_types/index.mdx
  docs/docs_skeleton/docs/modules/agents/agent_types/plan_and_execute.mdx
  docs/docs_skeleton/docs/modules/agents/how_to/custom_llm_agent.mdx
  docs/docs_skeleton/docs/modules/agents/how_to/custom_llm_chat_agent.mdx
  docs/extras/modules/agents/agent_types/openai_multi_functions_agent.ipynb
  docs/extras/modules/agents/agent_types/self_ask_with_search.ipynb
  docs/extras/modules/agents/how_to/add_memory_openai_functions.ipynb
  docs/extras/modules/agents/how_to/agent_iter.ipynb
  docs/extras/modules/agents/how_to/agent_vectorstore.ipynb
  docs/extras/modules/agents/how_to/async_agent.ipynb
  docs/extras/modules/agents/how_to/custom-functions-with-openai-functions-agent.ipynb
  docs/extras/modules/agents/how_to/custom_agent_with_tool_retrieval.ipynb
  docs/extras/modules/agents/how_to/custom_mrkl_agent.ipynb
  docs/extras/modules/agents/how_to/custom_multi_action_agent.ipynb
  docs/extras/modules/agents/how_to/handle_parsing_errors.ipynb
  docs/extras/modules/agents/how_to/intermediate_steps.ipynb
  docs/extras/modules/agents/how_to/max_iterations.ipynb
  docs/extras/modules/agents/how_to/max_time_limit.ipynb
  docs/extras/modules/agents/how_to/sharedmemory_for_tools.ipynb
  docs/extras/modules/agents/how_to/streaming_stdout_final_only.ipynb
  docs/extras/modules/agents/how_to/use_toolkits_with_openai_functions.ipynb
  docs/extras/modules/agents/tools/custom_tools.ipynb
  docs/extras/modules/agents/tools/human_approval.ipynb
  docs/extras/modules/agents/tools/multi_input_tool.ipynb
  docs/extras/modules/callbacks/async_callbacks.ipynb
  docs/extras/modules/callbacks/tags.mdx
  docs/snippets/modules/agents/agent_types/openai_functions_agent.mdx
  docs/snippets/modules/agents/agent_types/plan_and_execute.mdx
  docs/snippets/modules/agents/agent_types/structured_chat.mdx
  docs/snippets/modules/agents/get_started.mdx
  docs/snippets/modules/agents/how_to/custom_llm_agent.mdx
  docs/snippets/modules/agents/how_to/custom_llm_chat_agent.mdx
  docs/snippets/modules/callbacks/get_started.mdx
Labels: area: agent, auto:documentation

#10000 docs: `google-drive-tool` example fix
  docs/extras/integrations/tools/google_drive.ipynb
Labels: auto:documentation

#9958 docs: `youtube_search` tool example update
  docs/extras/integrations/tools/youtube.ipynb
Labels: auto:documentation

#10109 Update redirects meta tags
  docs/api_reference/templates/redirects.html
Labels: auto:documentation

#10110 rm base64 images from docs
  docs/extras/integrations/callbacks/infino.ipynb
  docs/extras/integrations/document_loaders/geopandas.ipynb
  docs/extras/integrations/document_loaders/image_captions.ipynb
  docs/extras/integrations/llms/edenai.ipynb
  docs/extras/integrations/llms/replicate.ipynb
  docs/extras/integrations/providers/wandb_tracing.ipynb
  docs/extras/integrations/tools/gradio_tools.ipynb
  docs/extras/use_cases/more/agents/agents/multi_modal_output_agent.ipynb
  docs/extras/use_cases/more/agents/multi_modal/_image_agent_files/output_10_1.png
  docs/extras/use_cases/more/agents/multi_modal/_multi_modal_output_agent_files/output_10_1.png
  docs/extras/use_cases/more/agents/multi_modal/_multi_modal_output_agent_files/output_15_1.png
  docs/extras/use_cases/more/agents/multi_modal/image_agent.ipynb
  docs/extras/use_cases/more/agents/multi_modal/multi_modal_output_agent.ipynb
Labels: area: doc loader, auto:documentation

#9277 📖 docs: fixed `integration/llms` navbar
  docs/docs_skeleton/vercel.json
  docs/extras/integrations/llms/amazon_api_gateway.ipynb
  docs/extras/integrations/llms/azure_ml.ipynb
  docs/extras/integrations/llms/azure_openai.ipynb
  docs/extras/integrations/llms/cerebriumai.ipynb
  docs/extras/integrations/llms/deepinfra.ipynb
  docs/extras/integrations/llms/fireworks.ipynb
  docs/extras/integrations/llms/forefrontai.ipynb
  docs/extras/integrations/llms/gooseai.ipynb
  docs/extras/integrations/llms/octoai.ipynb
  docs/extras/integrations/llms/petals.ipynb
  docs/extras/integrations/llms/pipelineai.ipynb
  docs/extras/integrations/llms/titan_takeoff.ipynb
Labels: auto:documentation

#9367 added support for inference from Model Garden
  docs/extras/integrations/llms/google_vertex_ai_palm.ipynb
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/vertexai.py
  libs/langchain/tests/integration_tests/llms/test_vertexai.py
Labels: needs documentation, auto:improvement, area: models

#9978 Add where filter in weaviate similarity search with score
  libs/langchain/langchain/vectorstores/weaviate.py
Labels: area: vector store, auto:improvement

#10115 rm sqlite3 import
  libs/langchain/langchain/vectorstores/sqlitevss.py
Labels: area: vector store, auto:nit

#10117 bump 280
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#10130 bump 13
  libs/experimental/pyproject.toml
Labels: release, auto:nit

#10141 Update chat_vector_db.mdx
  docs/docs_skeleton/docs/use_cases/question_answering/how_to/chat_vector_db.mdx
Labels: auto:documentation

#10142 Update index.mdx
  docs/docs_skeleton/docs/use_cases/web_scraping/index.mdx
Labels: lgtm, auto:documentation

#10151 Add FalkorDB to imports
  docs/api_reference/guide_imports.json
  docs/docs_skeleton/vercel.json
  docs/extras/use_cases/question_answering/how_to/code/code-analysis-deeplake.ipynb
Labels: auto:documentation

#10145 Update apis.ipynb
  docs/extras/use_cases/apis.ipynb
Labels: auto:documentation

#10144 Update openai_multi_functions_agent.ipynb
  docs/extras/modules/agents/agent_types/openai_multi_functions_agent.ipynb
Labels: area: agent, auto:documentation

#10138 make hub push public by default
  libs/langchain/langchain/hub.py
Labels: auto:improvement

#10152 fake messages list model
  libs/langchain/langchain/chat_models/fake.py
Labels: auto:improvement, area: models

#10092 HuggingGPT string inplace
  libs/experimental/langchain_experimental/autonomous_agents/hugginggpt/task_executor.py
Labels: auto:bug, area: models

#10153 Harrison/string inplace
  docs/docs_skeleton/docs/guides/safety/amazon_comprehend_chain.ipynb
  libs/experimental/langchain_experimental/autonomous_agents/hugginggpt/task_executor.py
  libs/experimental/langchain_experimental/comprehend_moderation/__init__.py
  libs/experimental/langchain_experimental/comprehend_moderation/amazon_comprehend_moderation.py
  libs/experimental/langchain_experimental/comprehend_moderation/base_moderation.py
  libs/experimental/langchain_experimental/comprehend_moderation/base_moderation_callbacks.py
  libs/experimental/langchain_experimental/comprehend_moderation/base_moderation_config.py
  libs/experimental/langchain_experimental/comprehend_moderation/base_moderation_enums.py
  libs/experimental/langchain_experimental/comprehend_moderation/intent.py
  libs/experimental/langchain_experimental/comprehend_moderation/pii.py
  libs/experimental/langchain_experimental/comprehend_moderation/toxicity.py
Labels: lgtm

#10136 Add parser and loader for Azure document intelligence service.
  docs/extras/integrations/document_loaders/azure_document_intelligence.ipynb
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/document_loaders/pdf.py
Labels: lgtm, area: doc loader, auto:enhancement

#10069 Add example of running Q&A over structured data using the `Airbyte` loaders and `pandas`
  docs/extras/integrations/toolkits/airbyte_structured_qa.ipynb
Labels: area: doc loader, auto:documentation

#10014 `Yahoo Finance News` tool
  docs/extras/integrations/tools/yahoo_finance_news.ipynb
  libs/langchain/langchain/tools/yahoo_finance_news.py
  libs/langchain/tests/integration_tests/tools/test_yahoo_finance_news.py
Labels: auto:enhancement

#10006 Add ne comparator
  libs/langchain/langchain/chains/query_constructor/ir.py
  libs/langchain/langchain/retrievers/self_query/chroma.py
  libs/langchain/langchain/retrievers/self_query/deeplake.py
  libs/langchain/langchain/retrievers/self_query/pinecone.py
Labels: area: vector store, auto:improvement

#10001 docs(text_splitter): update document of character splitter with tiktoken
  docs/extras/modules/data_connection/document_transformers/text_splitters/split_by_token.ipynb
Labels: auto:documentation

#10091 Takeoff baseurl support
  docs/extras/integrations/llms/titan_takeoff.ipynb
  libs/langchain/langchain/llms/titan_takeoff.py
Labels: lgtm, auto:improvement, area: models

#9986 TextGen is missing async methods.
  libs/langchain/langchain/llms/textgen.py
Labels: auto:improvement, area: models

#9946 Sort by most recent chatIDs
  libs/langchain/langchain/chat_loaders/imessage.py
Labels: auto:improvement, area: models

#9944 Fix json parsing error of MULTI_PROMPT_ROUTER_TEMPLATE
  libs/langchain/langchain/chains/router/multi_prompt_prompt.py
Labels: auto:bug

#9955 Update __init__.py
  libs/experimental/langchain_experimental/sql/__init__.py
Labels: lgtm, auto:improvement

#9896 Extend DynamoDBChatMessageHistory to support composite keys
  docs/extras/integrations/memory/dynamodb_chat_message_history.ipynb
  libs/langchain/langchain/memory/chat_message_histories/dynamodb.py
Labels: area: memory, auto:improvement

#9906 time_weighted_retriever: use a timestamp if needed
  libs/langchain/langchain/retrievers/time_weighted_retriever.py
Labels: lgtm, area: vector store, auto:improvement

#9895 docs: chains & memory fixes
  docs/docs_skeleton/docs/modules/chains/document/index.mdx
  docs/docs_skeleton/docs/modules/chains/document/refine.mdx
  docs/docs_skeleton/docs/modules/chains/foundational/llm_chain.mdx
  docs/docs_skeleton/docs/modules/chains/foundational/sequential_chains.mdx
  docs/docs_skeleton/docs/modules/chains/index.mdx
  docs/docs_skeleton/docs/modules/memory/chat_messages/index.mdx
  docs/docs_skeleton/docs/modules/memory/types/buffer_window.mdx
  docs/docs_skeleton/docs/modules/memory/types/entity_summary_memory.mdx
  docs/docs_skeleton/docs/modules/memory/types/index.mdx
  docs/docs_skeleton/docs/modules/memory/types/vectorstore_retriever_memory.mdx
  docs/extras/modules/chains/foundational/router.ipynb
  docs/extras/modules/chains/foundational/transformation.ipynb
  docs/extras/modules/chains/how_to/openai_functions.ipynb
  docs/extras/modules/chains/how_to/serialization.ipynb
  docs/extras/modules/memory/adding_memory.ipynb
  docs/extras/modules/memory/agent_with_memory.ipynb
  docs/extras/modules/memory/agent_with_memory_in_db.ipynb
  docs/extras/modules/memory/conversational_customization.ipynb
  docs/extras/modules/memory/custom_memory.ipynb
  docs/extras/modules/memory/types/kg.ipynb
  docs/extras/modules/memory/types/summary_buffer.ipynb
  docs/extras/modules/memory/types/token_buffer.ipynb
  docs/snippets/modules/chains/foundational/llm_chain.mdx
  docs/snippets/modules/chains/foundational/sequential_chains.mdx
  docs/snippets/modules/memory/get_started.mdx
  docs/snippets/modules/memory/types/buffer.mdx
  docs/snippets/modules/memory/types/summary.mdx
  docs/snippets/modules/memory/types/vectorstore_retriever_memory.mdx
Labels: area: memory, auto:documentation

#9914 fix (Html2TextTransformer): allow configuration of html2text
  libs/langchain/langchain/document_transformers/html2text.py
Labels: lgtm, area: doc loader, auto:improvement

#9893 docs: fixed title in `Bittensor` example
  docs/extras/integrations/llms/bittensor.ipynb
Labels: auto:documentation

#9880 Fix: Nested Dicts Handling of Document Metadata
  libs/langchain/langchain/retrievers/multi_query.py
  libs/langchain/tests/unit_tests/retrievers/test_multi_query.py
Labels: area: vector store, auto:bug

#9866 LRU cache for import to avoid repetetive calls to huggingface
  libs/langchain/langchain/schema/language_model.py
Labels: auto:improvement, area: models

#9859 Pinecone upsert parallelization
  libs/langchain/langchain/vectorstores/pinecone.py
  libs/langchain/tests/integration_tests/vectorstores/test_pinecone.py
  pyproject.toml
Labels: area: vector store, auto:improvement

#10154 Harrison/hf lru
  libs/langchain/langchain/schema/language_model.py
Labels: lgtm, auto:improvement, area: models

#9887 adding new chain for logical fallacy removal from model output in chain
  docs/docs_skeleton/docs/guides/safety/index.mdx
  docs/docs_skeleton/docs/guides/safety/logical_fallacy_chain.mdx
  libs/experimental/langchain_experimental/fallacy_removal/__init__.py
  libs/experimental/langchain_experimental/fallacy_removal/base.py
  libs/experimental/langchain_experimental/fallacy_removal/fallacies.py
  libs/experimental/langchain_experimental/fallacy_removal/models.py
  libs/experimental/langchain_experimental/fallacy_removal/prompts.py
  libs/experimental/tests/unit_tests/test_logical_fallacy.py
Labels: lgtm, auto:enhancement, area: models

#9849 Extend SQLChatMessageHistory
  docs/extras/integrations/memory/sql_chat_message_history.ipynb
  libs/langchain/langchain/memory/chat_message_histories/sql.py
  libs/langchain/tests/unit_tests/memory/chat_message_histories/test_sql.py
Labels: area: memory, lgtm, auto:improvement

#9999 Google drive integration (lite)
  docs/extras/integrations/document_loaders/google_drive.ipynb
  docs/extras/integrations/retrievers/google_drive.ipynb
  docs/extras/integrations/toolkits/google_drive.ipynb
Labels: lgtm, area: doc loader, auto:enhancement

#9837 add numbered list parser
  libs/langchain/langchain/output_parsers/list.py
  libs/langchain/tests/unit_tests/output_parsers/test_list_parser.py
Labels: lgtm, auto:improvement

#9801 Adds dataview fields and tags to metadata #9800
  libs/langchain/langchain/document_loaders/obsidian.py
  libs/langchain/tests/unit_tests/document_loaders/sample_documents/obsidian/bad_frontmatter.md
  libs/langchain/tests/unit_tests/document_loaders/sample_documents/obsidian/frontmatter.md
  libs/langchain/tests/unit_tests/document_loaders/sample_documents/obsidian/no_frontmatter.md
  libs/langchain/tests/unit_tests/document_loaders/sample_documents/obsidian/no_metadata.md
  libs/langchain/tests/unit_tests/document_loaders/sample_documents/obsidian/tags_and_frontmatter.md
  libs/langchain/tests/unit_tests/document_loaders/test_obsidian.py
Labels: area: doc loader, auto:improvement

#9793 Bugfix/jsonloader metadata
  libs/langchain/langchain/document_loaders/json_loader.py
  libs/langchain/tests/unit_tests/document_loaders/test_json_loader.py
Labels: area: doc loader, auto:bug

#9828 Extraction Chain - Custom Prompt
  libs/langchain/langchain/chains/openai_functions/extraction.py
Labels: lgtm, auto:improvement

#9790 fix multipart email body retrieval
  libs/langchain/langchain/tools/gmail/get_message.py
  libs/langchain/langchain/tools/gmail/search.py
Labels: auto:bug

#10155 fix syntax
  .github/actions/poetry_setup/action.yml
Labels: lgtm, auto:nit

#9782 docs: Fix `CustomLLM` and `Question_answering` docs
  docs/extras/modules/model_io/models/llms/custom_llm.ipynb
  docs/extras/use_cases/question_answering/question_answering.ipynb
Labels: auto:documentation, area: models

#9785 Update json_loader.py: encoding bug
  libs/langchain/langchain/document_loaders/json_loader.py
Labels: lgtm, area: doc loader, auto:bug

#10156 Made some Grammatical error fixes
  docs/extras/guides/deployments/template_repos.mdx
  docs/extras/use_cases/more/agents/agent_simulations/index.mdx
Labels: auto:documentation

#10157 Enhance Google search tool SerpApi response
  docs/extras/integrations/tools/search_tools.ipynb
  libs/langchain/langchain/utilities/serpapi.py
Labels: auto:improvement

#9791 docs: misc retrievers fixes
  docs/docs_skeleton/docs/get_started/quickstart.mdx
  docs/docs_skeleton/docs/modules/data_connection/document_loaders/index.mdx
  docs/docs_skeleton/docs/modules/data_connection/document_transformers/text_splitters/character_text_splitter.mdx
  docs/docs_skeleton/docs/modules/data_connection/document_transformers/text_splitters/code_splitter.mdx
  docs/docs_skeleton/docs/modules/data_connection/document_transformers/text_splitters/recursive_text_splitter.mdx
  docs/docs_skeleton/docs/modules/data_connection/index.mdx
  docs/docs_skeleton/docs/modules/data_connection/retrievers/contextual_compression/index.mdx
  docs/docs_skeleton/docs/modules/data_connection/retrievers/index.mdx
  docs/docs_skeleton/docs/modules/data_connection/retrievers/vectorstore.mdx
  docs/docs_skeleton/docs/modules/data_connection/text_embedding/index.mdx
  docs/docs_skeleton/docs/modules/data_connection/vectorstores/index.mdx
  docs/extras/modules/data_connection/document_transformers/post_retrieval/long_context_reorder.ipynb
  docs/extras/modules/data_connection/document_transformers/text_splitters/markdown_header_metadata.ipynb
  docs/extras/modules/data_connection/document_transformers/text_splitters/split_by_token.ipynb
  docs/extras/modules/data_connection/indexing.ipynb
  docs/extras/modules/data_connection/retrievers/MultiQueryRetriever.ipynb
  docs/extras/modules/data_connection/retrievers/ensemble.ipynb
  docs/extras/modules/data_connection/retrievers/multi_vector.ipynb
  docs/extras/modules/data_connection/retrievers/parent_document_retriever.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/activeloop_deeplake_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/chroma_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/elasticsearch_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/myscale_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/pinecone.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/qdrant_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/weaviate_self_query.ipynb
  docs/extras/modules/data_connection/retrievers/web_research.ipynb
  docs/extras/modules/data_connection/text_embedding/caching_embeddings.ipynb
  docs/snippets/modules/data_connection/document_loaders/get_started.mdx
  docs/snippets/modules/data_connection/document_loaders/how_to/csv.mdx
  docs/snippets/modules/data_connection/document_loaders/how_to/file_directory.mdx
  docs/snippets/modules/data_connection/document_loaders/how_to/pdf.mdx
  docs/snippets/modules/data_connection/document_transformers/text_splitters/code_splitter.mdx
  docs/snippets/modules/data_connection/retrievers/get_started.mdx
  docs/snippets/modules/data_connection/retrievers/how_to/time_weighted_vectorstore.mdx
  docs/snippets/modules/data_connection/retrievers/how_to/vectorstore.mdx
  docs/snippets/modules/data_connection/retrievers/self_query/get_started.mdx
  docs/snippets/modules/data_connection/text_embedding/get_started.mdx
  docs/snippets/modules/data_connection/vectorstores/async.mdx
Labels: lgtm, auto:documentation

#9772 Cassandra support for LLM cache (exact-match and semantic)
  libs/langchain/langchain/cache.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/cache/test_cassandra.py
Labels: area: memory, lgtm, auto:enhancement

#9755 typo in locall llms fixed
  docs/extras/guides/local_llms.ipynb
Labels: area: doc loader, auto:documentation

#10158 Fixed query/instruction typoes
  libs/langchain/langchain/embeddings/deepinfra.py
  libs/langchain/langchain/embeddings/octoai_embeddings.py
Labels: area: embeddings, auto:nit

#9734 docs: misc modelIO fixes
  docs/docs_skeleton/docs/modules/model_io/models/chat/chat_model_caching.mdx
  docs/docs_skeleton/docs/modules/model_io/models/chat/index.mdx
  docs/docs_skeleton/docs/modules/model_io/models/chat/prompts.mdx
  docs/docs_skeleton/docs/modules/model_io/models/chat/streaming.mdx
  docs/docs_skeleton/docs/modules/model_io/models/index.mdx
  docs/extras/_templates/integration.mdx
  docs/extras/integrations/callbacks/context.ipynb
  docs/extras/integrations/providers/arangodb.mdx
  docs/extras/integrations/providers/datadog.mdx
  docs/extras/modules/model_io/models/chat/human_input_chat_model.ipynb
  docs/extras/modules/model_io/models/llms/custom_llm.ipynb
  docs/extras/modules/model_io/models/llms/fake_llm.ipynb
  docs/extras/modules/model_io/output_parsers/datetime.ipynb
  docs/extras/modules/model_io/output_parsers/enum.ipynb
  docs/extras/modules/model_io/output_parsers/pydantic.ipynb
  docs/extras/modules/model_io/output_parsers/retry.ipynb
  docs/extras/modules/model_io/prompts/example_selectors/custom_example_selector.md
  docs/extras/modules/model_io/prompts/example_selectors/mmr.ipynb
  docs/extras/modules/model_io/prompts/example_selectors/ngram_overlap.ipynb
  docs/extras/modules/model_io/prompts/prompt_templates/validate.mdx
  docs/snippets/modules/model_io/models/chat/get_started.mdx
  docs/snippets/modules/model_io/models/chat/how_to/prompts.mdx
  docs/snippets/modules/model_io/models/llms/get_started.mdx
  docs/snippets/modules/model_io/models/llms/how_to/llm_caching.mdx
  docs/snippets/modules/model_io/prompts/example_selectors/get_started.mdx
  docs/snippets/modules/model_io/prompts/example_selectors/length_based.mdx
  docs/snippets/modules/model_io/prompts/example_selectors/similarity.mdx
  docs/snippets/modules/model_io/prompts/prompt_templates/get_started.mdx
Labels: auto:documentation, area: models

#9683 Allow specifying arbitrary keyword arguments in `langchain.llms.VLLM`
  libs/langchain/langchain/llms/vllm.py
Labels: auto:improvement, area: models

#9742 feature: add verbosity to create_qa_with_sources_chain
  libs/langchain/langchain/chains/openai_functions/qa_with_structure.py
Labels: lgtm, auto:improvement

#9663 docs: `DeepLake` example
  docs/extras/integrations/vectorstores/activeloop_deeplake.ipynb
Labels: area: vector store, auto:documentation

#9684 Add dashvector self query retriever
  docs/extras/modules/data_connection/retrievers/self_query/dashvector.ipynb
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/self_query/dashvector.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/retrievers/self_query/test_dashvector.py
Labels: lgtm, area: vector store, auto:enhancement

#9547 docs: `MLflow API` and examples
  docs/extras/integrations/providers/mlflow_ai_gateway.mdx
Labels: auto:documentation

#9304 Add the possibility to configure boto3 in the S3 loaders
  docs/extras/integrations/document_loaders/aws_s3_directory.ipynb
  docs/extras/integrations/document_loaders/aws_s3_file.ipynb
  libs/langchain/langchain/document_loaders/s3_directory.py
  libs/langchain/langchain/document_loaders/s3_file.py
Labels: area: doc loader, auto:improvement

#10160 Fixed typo in bittensor.mdx
  docs/extras/integrations/providers/bittensor.mdx
Labels: lgtm, auto:documentation

#10163 Fixed typo in get_started.mdx
  docs/snippets/modules/memory/get_started.mdx
Labels: area: memory, auto:documentation

#10162 Implemented Milvus translator for self-querying
  docs/extras/modules/data_connection/retrievers/self_query/milvus_self_query.ipynb
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/self_query/milvus.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_milvus.py
Labels: lgtm, area: vector store, auto:enhancement

#10134 add additional model support to chatlitellm
  libs/langchain/langchain/chat_models/litellm.py
Labels: auto:improvement, area: models

#10133 FileSysteBlobLoader: Expand user path
  libs/langchain/langchain/document_loaders/blob_loaders/file_system.py
Labels: area: doc loader, auto:bug

#10139 feat(llms): add model_kwargs to hf tgi
  libs/langchain/langchain/llms/huggingface_text_gen_inference.py
Labels: auto:improvement, area: models

#10167 Fixed Import Error
  libs/langchain/langchain/vectorstores/weaviate.py
Labels: area: vector store, auto:improvement

#10165 Fix: the duplicate characters wrong results when using `pdfplumber loader`
  libs/langchain/langchain/document_loaders/parsers/pdf.py
  libs/langchain/langchain/document_loaders/pdf.py
  libs/langchain/tests/data.py
  libs/langchain/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/langchain/tests/integration_tests/examples/duplicate-chars.pdf
Labels: lgtm, area: doc loader, auto:bug

#10180 MyScale hot fix on type check
  libs/langchain/langchain/vectorstores/myscale.py
Labels: area: vector store, auto:bug

#10189 bump 281
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#10191 Fixed some grammatical typos in doc files
  docs/docs_skeleton/docs/modules/memory/types/buffer.mdx
  docs/extras/guides/debugging.md
  docs/extras/integrations/vectorstores/zep.ipynb
Labels: auto:documentation

#9754 Add 'download_dir' argument to VLLM
  libs/langchain/langchain/llms/vllm.py
Labels: lgtm, auto:improvement, area: models

#10196 OpenAIEmbeddings: Add optional an optional parameter to skip empty embeddings
  libs/langchain/langchain/embeddings/openai.py
Labels: area: embeddings, auto:improvement

#10198 Adding custom tools to SQL Agent
  docs/extras/use_cases/sql.ipynb
  libs/langchain/langchain/agents/agent_toolkits/sql/base.py
Labels: area: agent, lgtm, auto:improvement

#10193 Fix S3DirectoryLoader exception
  libs/langchain/langchain/document_loaders/s3_directory.py
Labels: area: doc loader, auto:bug

#10202 Better ls info
  docs/docs_skeleton/docs/guides/langsmith/index.md
Labels: auto:documentation

#10212 update(llms/TGI): Allow None as temperature value
  libs/langchain/langchain/llms/huggingface_text_gen_inference.py
Labels: auto:improvement, area: models

#10220 Fix usage of AsyncHtmlLoader with an already running event loop
  libs/langchain/langchain/document_loaders/async_html.py
Labels: area: doc loader, auto:bug

#10234 Temporarily disable step that seems to be transiently failing.
  .github/actions/poetry_setup/action.yml
Labels: auto:bug

#10233 bump 282
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#10239 Run CI when CI infra itself has changed.
  .github/workflows/langchain_ci.yml
  .github/workflows/langchain_experimental_ci.yml
Labels: auto:improvement

#10244 Re-enable poetry binary caching with fix and more logging.
  .github/actions/poetry_setup/action.yml
Labels: auto:improvement

#10250 Final poetry action fix: manually recreate softlinks broken by caching.
  .github/actions/poetry_setup/action.yml
Labels: auto:bug

#8521 Fix bug in SPARQL intent selection
  libs/langchain/langchain/chains/graph_qa/sparql.py
Labels: auto:bug

#10074 use case docs reorder
  docs/docs_skeleton/docs/use_cases/question_answering/_category_.yml
  docs/docs_skeleton/docs/use_cases/web_scraping/index.mdx
  docs/extras/use_cases/more/_category_.yml
  docs/extras/use_cases/more/code_writing/index.mdx
  docs/extras/use_cases/more/self_check/index.mdx
Labels: auto:documentation

#10273 Allow config propagation, Add default lambda name, Improve ergonomics of config passed in
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/config.py
  libs/langchain/langchain/schema/runnable/utils.py
  libs/langchain/tests/unit_tests/schema/runnable/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#10287 bump 283
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#10183 Update Banana.dev docs to latest correct usage
  docs/extras/integrations/llms/banana.ipynb
  docs/extras/integrations/providers/bananadev.mdx
  libs/langchain/langchain/llms/bananadev.py
Labels: lgtm, auto:documentation, area: models

#10289 Fix langchain lint on `master`.
  libs/langchain/langchain/schema/runnable/base.py
Labels: auto:nit

#10253 Deny creating files as a result of test runs.
  .github/workflows/_pydantic_compatibility.yml
  .github/workflows/_test.yml
  .github/workflows/langchain_ci.yml
  .github/workflows/langchain_experimental_ci.yml
  .github/workflows/scheduled_test.yml
  libs/langchain/langchain/chat_loaders/telegram.py
Labels: auto:nit

#10249 Install dev, lint, test, typing extra deps for linting steps.
  .github/workflows/_lint.yml
  libs/langchain/langchain/document_loaders/url_playwright.py
  libs/langchain/tests/integration_tests/document_loaders/test_url_playwright.py
Labels: area: doc loader, auto:nit

#9979 Diffbot Graph Transformer / Neo4j Graph document ingestion
  docs/extras/use_cases/more/graph/diffbot_graphtransformer.ipynb
  libs/experimental/langchain_experimental/graph_transformers/__init__.py
  libs/experimental/langchain_experimental/graph_transformers/diffbot.py
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
  libs/langchain/langchain/graphs/graph_document.py
  libs/langchain/langchain/graphs/neo4j_graph.py
Labels: lgtm, auto:enhancement

#10292 Add notebook example to use sqlite-vss as a vector store.
  docs/extras/integrations/vectorstores/sqlitevss.ipynb
Labels: area: vector store, auto:documentation

#10293 Update rwkv.py
  libs/langchain/langchain/llms/rwkv.py
Labels: lgtm, auto:improvement, area: models

#10290 Add LCEL cookbook examples
  docs/extras/expression_language/cookbook.ipynb
Labels: area: doc loader, auto:documentation

#10282 Doc: openai_functions_agent.mdx import
  docs/snippets/modules/agents/agent_types/openai_functions_agent.mdx
Labels: area: agent, auto:documentation

#10295 Strip text splits
  libs/langchain/langchain/text_splitter.py
Labels: lgtm, auto:improvement

#10280 Added Hugging face inference api to embed documents without locally d…
  docs/extras/integrations/text_embedding/huggingfacehub.ipynb
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/huggingface.py
Labels: lgtm, area: embeddings, auto:enhancement

#10260 Updated Additional Resources section of documentation
  docs/extras/additional_resources/youtube.mdx
Labels: auto:documentation

#10265 Don't hardcode PGVector distance strategies
  libs/langchain/langchain/vectorstores/pgvector.py
Labels: lgtm, area: vector store, auto:improvement

#10246 Update amazon_comprehend_chain.ipynb
  docs/extras/guides/safety/amazon_comprehend_chain.ipynb
Labels: auto:documentation

#10299 add use case nb position
  docs/docs_skeleton/docs/use_cases/web_scraping/index.mdx
  docs/extras/use_cases/apis.ipynb
  docs/extras/use_cases/chatbots.ipynb
  docs/extras/use_cases/code_understanding.ipynb
  docs/extras/use_cases/extraction.ipynb
  docs/extras/use_cases/more/_category_.yml
  docs/extras/use_cases/sql.ipynb
  docs/extras/use_cases/summarization.ipynb
  docs/extras/use_cases/tagging.ipynb
  docs/extras/use_cases/web_scraping.ipynb
Labels: auto:documentation

#10257 Bagatur/split sql
  docs/api_reference/guide_imports.json
  docs/docs_skeleton/docs/use_cases/question_answering/_category_.yml
  docs/docs_skeleton/vercel.json
  docs/extras/use_cases/more/agents/agents.ipynb
  docs/extras/use_cases/qa_structured/_category_.yml
  docs/extras/use_cases/qa_structured/integrations/_category_.yml
  docs/extras/use_cases/qa_structured/integrations/elasticsearch.ipynb
  docs/extras/use_cases/qa_structured/sql.ipynb
Labels: auto:documentation

#10248 Fix SQL search_path for Trino query engine
  libs/langchain/langchain/utilities/sql_database.py
Labels: lgtm, auto:bug

#10236 Implement NucliaDB vector store
  docs/extras/integrations/document_transformers/nuclia_transformer.ipynb
  docs/extras/integrations/vectorstores/nucliadb_vectorstore.ipynb
  libs/langchain/langchain/vectorstores/nucliadb.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/vectorstores/test_nucliadb.py
Labels: area: vector store, auto:enhancement

#10301 Bagatur/nuclia vector
  docs/extras/integrations/document_transformers/nuclia_transformer.ipynb
  docs/extras/integrations/vectorstores/nucliadb_vectorstore.ipynb
  libs/langchain/langchain/vectorstores/nucliadb.py
  libs/langchain/poetry.lock
  libs/langchain/tests/integration_tests/vectorstores/test_nucliadb.py
Labels: lgtm, area: vector store, auto:enhancement

#10177 Resolve: VectorSearch enabled SQLChain?
  docs/extras/modules/data_connection/retrievers/sql_database/myscale_vector_sql.ipynb
  libs/experimental/langchain_experimental/retrievers/vector_sql_database.py
  libs/experimental/langchain_experimental/sql/prompt.py
  libs/experimental/langchain_experimental/sql/vector_sql.py
  libs/experimental/poetry.lock
  libs/langchain/langchain/utilities/sql_database.py
Labels: area: vector store, auto:enhancement

#10305 Bagatur/myscale vector sql
  docs/extras/use_cases/qa_structured/integrations/myscale_vector_sql.ipynb
  libs/experimental/langchain_experimental/retrievers/vector_sql_database.py
  libs/experimental/langchain_experimental/sql/prompt.py
  libs/experimental/langchain_experimental/sql/vector_sql.py
  libs/experimental/poetry.lock
  libs/langchain/langchain/utilities/sql_database.py
Labels: lgtm, area: vector store, auto:enhancement

#10093 Data deanonymization
  docs/extras/guides/privacy/presidio_data_anonymization.ipynb
  docs/extras/guides/privacy/presidio_reversible_anonymization.ipynb
  libs/experimental/langchain_experimental/data_anonymizer/__init__.py
  libs/experimental/langchain_experimental/data_anonymizer/base.py
  libs/experimental/langchain_experimental/data_anonymizer/deanonymizer_mapping.py
  libs/experimental/langchain_experimental/data_anonymizer/deanonymizer_matching_strategies.py
  libs/experimental/langchain_experimental/data_anonymizer/faker_presidio_mapping.py
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
  libs/experimental/tests/unit_tests/test_reversible_data_anonymizer.py
Labels: auto:enhancement

#10320 Fixed link to colab notebook
  docs/extras/guides/privacy/presidio_reversible_anonymization.ipynb
Labels: auto:documentation

#10330 bump 284
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#10331 nuclia nb nit
  docs/extras/integrations/vectorstores/nucliadb.ipynb
Labels: area: doc loader, auto:nit

#10335 supabase embedding usage fix
  libs/langchain/langchain/vectorstores/supabase.py
Labels: lgtm, area: vector store, auto:bug

#10332 Adding Self-querying for Vectara
  docs/extras/integrations/providers/vectara/index.mdx
  docs/extras/integrations/vectorstores/vectara.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/vectara_self_query.ipynb
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/self_query/vectara.py
  libs/langchain/langchain/vectorstores/vectara.py
  libs/langchain/tests/integration_tests/document_loaders/test_polars_dataframe.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_vectara.py
Labels: area: vector store, auto:enhancement

#10327 Multilingual anonymization
  docs/extras/guides/privacy/01_presidio_data_anonymization.ipynb
  docs/extras/guides/privacy/02_presidio_reversible_anonymization.ipynb
  docs/extras/guides/privacy/03_presidio_multi_language_anonymization.ipynb
  docs/extras/guides/privacy/presidio_reversible_anonymization.ipynb
  libs/experimental/langchain_experimental/data_anonymizer/base.py
  libs/experimental/langchain_experimental/data_anonymizer/faker_presidio_mapping.py
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
Labels: auto:enhancement

#10342 split lcel cookbook
  docs/extras/expression_language/cookbook.ipynb
  docs/extras/expression_language/cookbook/code_writing.ipynb
  docs/extras/expression_language/cookbook/index.mdx
  docs/extras/expression_language/cookbook/memory.ipynb
  docs/extras/expression_language/cookbook/moderation.ipynb
  docs/extras/expression_language/cookbook/multiple_chains.ipynb
  docs/extras/expression_language/cookbook/prompt_llm_parser.ipynb
  docs/extras/expression_language/cookbook/retrieval.ipynb
  docs/extras/expression_language/cookbook/sql_db.ipynb
  docs/extras/expression_language/cookbook/tools.ipynb
  docs/extras/expression_language/how_to/_category_.yml
  docs/extras/expression_language/how_to/functions.ipynb
  docs/extras/expression_language/interface.ipynb
Labels: area: doc loader, auto:documentation

#10344 Fix colab link(missing graph in url) and comment to match the code fo…
  docs/extras/use_cases/more/graph/diffbot_graphtransformer.ipynb
Labels: area: doc loader, auto:documentation

#10326 Enhancement: add parameter boto3_session for AWS DynamoDB cross account use cases
  libs/langchain/langchain/memory/chat_message_histories/dynamodb.py
Labels: area: memory, lgtm, auto:enhancement

#10304 Supabase vector self querying retriever
  docs/extras/integrations/vectorstores/supabase.ipynb
  docs/extras/modules/data_connection/retrievers/self_query/supabase_self_query.ipynb
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/self_query/supabase.py
  libs/langchain/langchain/vectorstores/supabase.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_supabase.py
Labels: area: vector store, auto:enhancement, integration: supabase

#10346 Bagatur/multilingual anon
  docs/extras/guides/privacy/presidio_data_anonymization/index.ipynb
  docs/extras/guides/privacy/presidio_data_anonymization/multi_language.ipynb
  docs/extras/guides/privacy/presidio_data_anonymization/reversible.ipynb
  libs/experimental/langchain_experimental/data_anonymizer/base.py
  libs/experimental/langchain_experimental/data_anonymizer/faker_presidio_mapping.py
  libs/experimental/langchain_experimental/data_anonymizer/presidio.py
Labels: auto:documentation

#10307 docstrings: `chat_loaders`
  libs/langchain/langchain/chat_loaders/__init__.py
  libs/langchain/langchain/chat_loaders/base.py
  libs/langchain/langchain/chat_loaders/facebook_messenger.py
  libs/langchain/langchain/chat_loaders/gmail.py
  libs/langchain/langchain/chat_loaders/imessage.py
  libs/langchain/langchain/chat_loaders/slack.py
  libs/langchain/langchain/chat_loaders/telegram.py
  libs/langchain/langchain/chat_loaders/whatsapp.py
Labels: auto:documentation

#10302 docs `integrations/embeddings` consistency
  docs/docs_skeleton/vercel.json
  docs/extras/integrations/providers/awadb.md
  docs/extras/integrations/providers/modelscope.mdx
  docs/extras/integrations/providers/nlpcloud.mdx
  docs/extras/integrations/providers/spacy.mdx
  docs/extras/integrations/text_embedding/awadb.ipynb
  docs/extras/integrations/text_embedding/bedrock.ipynb
  docs/extras/integrations/text_embedding/bge_huggingface.ipynb
  docs/extras/integrations/text_embedding/google_vertex_ai_palm.ipynb
  docs/extras/integrations/text_embedding/modelscope_hub.ipynb
  docs/extras/integrations/text_embedding/mosaicml.ipynb
  docs/extras/integrations/text_embedding/nlp_cloud.ipynb
  docs/extras/integrations/text_embedding/sagemaker-endpoint.ipynb
  docs/extras/integrations/text_embedding/self-hosted.ipynb
  docs/extras/integrations/text_embedding/sentence_transformers.ipynb
  docs/extras/integrations/text_embedding/spacy_embedding.ipynb
Labels: area: embeddings, auto:documentation

#10300 Change StructuredTool's ainvoke to await
  libs/langchain/langchain/tools/base.py
Labels: auto:nit

#10203 Update tool.py
  libs/langchain/langchain/tools/sql_database/tool.py
Labels: lgtm, auto:bug

#10261 docs: `portkey` update
  docs/extras/integrations/providers/portkey/index.md
  docs/extras/integrations/providers/portkey/logging_tracing_portkey.ipynb
Labels: auto:documentation

#10258 docs: fix `tools/sqlite` page
  docs/docs_skeleton/vercel.json
  docs/extras/use_cases/sql/sql.ipynb
  docs/extras/use_cases/sql/sqlite.mdx
Labels: auto:documentation

#10348 Add progress bar + runner fixes
  libs/langchain/langchain/callbacks/tracers/evaluation.py
  libs/langchain/langchain/callbacks/tracers/langchain.py
  libs/langchain/langchain/smith/evaluation/name_generation.py
  libs/langchain/langchain/smith/evaluation/progress.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/langchain/smith/evaluation/string_run_evaluator.py
  libs/langchain/tests/integration_tests/smith/evaluation/test_runner_utils.py
  libs/langchain/tests/unit_tests/smith/evaluation/test_runner_utils.py
Labels: auto:improvement

#10373 bump 285
  libs/experimental/pyproject.toml
  libs/langchain/pyproject.toml
Labels: release, auto:nit

#10371 add missing verb
  docs/docs_skeleton/docs/modules/model_io/output_parsers/index.mdx
Labels: auto:documentation

#10376 Support multiple errors
  libs/langchain/langchain/schema/runnable/base.py
  libs/langchain/langchain/schema/runnable/retry.py
  libs/langchain/tests/unit_tests/schema/runnable/test_runnable.py
Labels: auto:improvement

#10367 VertexAI now allows to tune codey models
  libs/langchain/langchain/llms/vertexai.py
Labels: lgtm, auto:improvement, area: models

#10380 Bagatur/add konko chat model
  docs/extras/integrations/chat/konko.ipynb
  docs/extras/integrations/providers/konko.mdx
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/chat_models/konko.py
  libs/langchain/tests/integration_tests/chat_models/test_konko.py
Labels: lgtm, auto:enhancement, area: models
