Repository langchain-ai/langchain, pull requests merged in 2024-02, with the labels that each got.

#16853 nomic: init pkg
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  cookbook/nomic_embeddings.ipynb
  docs/docs/integrations/providers/nomic.ipynb
  docs/docs/integrations/text_embedding/nomic.ipynb
  libs/partners/nomic/.gitignore
  libs/partners/nomic/LICENSE
  libs/partners/nomic/Makefile
  libs/partners/nomic/README.md
  libs/partners/nomic/langchain_nomic/__init__.py
  libs/partners/nomic/langchain_nomic/embeddings.py
  libs/partners/nomic/langchain_nomic/py.typed
  libs/partners/nomic/poetry.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/scripts/check_imports.py
  libs/partners/nomic/scripts/check_pydantic.sh
  libs/partners/nomic/scripts/lint_imports.sh
  libs/partners/nomic/tests/__init__.py
  libs/partners/nomic/tests/integration_tests/__init__.py
  libs/partners/nomic/tests/integration_tests/test_compile.py
  libs/partners/nomic/tests/integration_tests/test_embeddings.py
  libs/partners/nomic/tests/unit_tests/__init__.py
  libs/partners/nomic/tests/unit_tests/test_embeddings.py
  libs/partners/nomic/tests/unit_tests/test_imports.py
Labels: area: embeddings, auto:enhancement, size:XL, partner

#16870 core[patch]: Release 0.1.18
  libs/core/pyproject.toml
Labels: size:XS, auto:release

#16871 commmunity[patch]: Release 0.0.17
  libs/community/pyproject.toml
Labels: size:XS, auto:release

#16881 langchain[patch]: Release 0.1.5
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: area: langserve, size:XS, auto:release

#16882 infra: bump langchain min test reqs
  libs/langchain/_test_minimum_requirements.txt
Labels: size:XS

#16884 infra: bump exp min test reqs
  libs/experimental/_test_minimum_requirements.txt
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: auto:nit, size:XS

#16889 docs: fix docstring examples
  libs/experimental/langchain_experimental/agents/agent_toolkits/csv/base.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/pandas/base.py
Labels: area: agent, auto:documentation, size:M

#16878 langchain[patch]: Add async methods to MultiVectorRetriever
  libs/langchain/langchain/retrievers/multi_vector.py
  libs/langchain/tests/unit_tests/retrievers/test_multi_vector.py
Labels: lgtm, auto:improvement, integration: elasticsearch, size:M, area: retriever

#16769 docs: Indicated Guardrails for Amazon Bedrock preview status
  docs/docs/integrations/llms/bedrock.ipynb
Labels: lgtm, auto:documentation, integration: aws, size:XS

#16779 Factorize AstraDB components constructors
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/chat_message_histories/astradb.py
  libs/community/langchain_community/document_loaders/astradb.py
  libs/community/langchain_community/storage/astradb.py
  libs/community/langchain_community/utilities/astradb.py
Labels: lgtm, area: doc loader, auto:refactor, size:L

#12769 support LIKE comparator (full text match) in Qdrant
  libs/langchain/langchain/retrievers/self_query/qdrant.py
Labels: area: vector store, auto:improvement, size:XS

#16890 infra: ci naming
  .github/workflows/_all_ci.yml
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_dependencies.yml
  .github/workflows/_lint.yml
  .github/workflows/_test.yml
  .github/workflows/check_diffs.yml
  .github/workflows/codespell.yml
  .github/workflows/doc_lint.yml
  .github/workflows/templates_ci.yml
Labels: auto:improvement, size:M

#16858 Docs: Fixed grammatical mistake
  docs/docs/_templates/integration.mdx
  docs/docs/guides/deployments/index.mdx
Labels: lgtm, auto:documentation, size:XS

#16886 Minor update to Nomic cookbook
  cookbook/nomic_embedding_rag.ipynb
  cookbook/nomic_embeddings.ipynb
Labels: area: embeddings, auto:documentation, size:L

#16893 infra: ci naming 2
  .github/workflows/_all_ci.yml
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_dependencies.yml
  .github/workflows/_lint.yml
  .github/workflows/_test.yml
  .github/workflows/doc_lint.yml
Labels: auto:refactor, size:S

#16877 doc: fix typo in message_history.ipynb
  docs/docs/expression_language/how_to/message_history.ipynb
Labels: lgtm, auto:documentation, area: lcel, size:XS

#16912 community: revert SQL Stores
  docs/docs/integrations/stores/sql.ipynb
  libs/community/langchain_community/storage/__init__.py
  libs/community/langchain_community/storage/sql.py
  libs/community/tests/integration_tests/storage/test_sql.py
  libs/community/tests/unit_tests/storage/test_imports.py
  libs/community/tests/unit_tests/storage/test_sql.py
Labels: auto:refactor, size:XL

#16909 langchain_openai[patch]: Invoke callback prior to yielding token
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, auto:improvement, area: models, size:XS, partner, integration: openai

#16855 docs: fix broken links
  docs/docs/get_started/introduction.mdx
  docs/docs/modules/model_io/prompts/quick_start.ipynb
  docs/docs/use_cases/csv.ipynb
  docs/docs/use_cases/question_answering/quickstart.ipynb
  docs/docs/use_cases/summarization.ipynb
  templates/chat-bot-feedback/README.md
  templates/sql-pgvector/README.md
Labels: lgtm, auto:documentation, template, size:M

#16868 Fix loading of ImagePromptTemplate
  libs/core/langchain_core/load/mapping.py
  libs/core/langchain_core/prompts/image.py
  libs/core/tests/unit_tests/prompts/test_image.py
  libs/langchain/tests/unit_tests/load/test_serializable.py
Labels: size:L

#16888 core[patch]: Hide aliases when serializing
  libs/core/langchain_core/load/serializable.py
  libs/langchain/tests/unit_tests/load/test_dump.py
Labels: lgtm, area: doc loader, auto:bug, size:M

#16904 core[patch]: Remove deep copying of run prior to submitting it to LangChain Tracing
  libs/core/langchain_core/tracers/langchain.py
Labels: area: memory, lgtm, auto:improvement, size:M

#14007 core[minor]: add validation error handler to `BaseTool`
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, auto:improvement, size:L

#16844 Updated integration doc for aleph alpha
  docs/docs/integrations/llms/aleph_alpha.ipynb
Labels: lgtm, auto:documentation, size:M

#16918 core[patch]: fix chat prompt partial messages placeholder var
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/load/__snapshots__/test_dump.ambr
Labels: lgtm, auto:bug, area: models, size:M

#16921 core[patch]: Message content as positional arg
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/prompt_values.py
  libs/core/langchain_core/prompts/chat.py
Labels: lgtm, auto:improvement, area: models, size:S

#16854 core[patch]: doc init positional args
  libs/core/langchain_core/documents/base.py
  libs/langchain/langchain/retrievers/document_compressors/chain_extract.py
  libs/langchain/langchain/retrievers/ensemble.py
  libs/langchain/tests/unit_tests/indexes/test_hashed_document.py
Labels: area: doc loader, auto:improvement, size:S

#16950 community[docs]: add quantization to vllm and update API
  docs/docs/integrations/llms/vllm.ipynb
Labels: lgtm, auto:documentation, area: models, size:M

#16896 docs: BigQuery Vector Search went public review and updated docs
  docs/docs/integrations/platforms/google.mdx
  docs/docs/integrations/vectorstores/bigquery_vector_search.ipynb
Labels: auto:documentation, size:S, integration: google

#16892 core[patch]: Add doc-string to RunnableEach
  libs/core/langchain_core/runnables/base.py
Labels: lgtm, auto:documentation, size:M

#16954 core[patch]: handle some optional cases in tools
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: auto:improvement, size:L

#16963 infra: install integration deps for test linting
  .github/workflows/_lint.yml
  poetry.lock
  pyproject.toml
Labels: auto:nit, size:XS

#16966 Update README.md
  README.md
Labels: auto:documentation, size:XS

#16986 langchain_mistralai[patch]: Invoke callback prior to yielding token
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Labels: lgtm, auto:improvement, area: models, size:M, partner

#16964 openai[patch]: rm tiktoken model warning
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/llms/test_base.py
Labels: lgtm, area: embeddings, auto:improvement, size:M, partner, integration: openai

#16988 google-genai[patch]: fix new core typing
  libs/partners/google-genai/langchain_google_genai/chat_models.py
Labels: auto:bug, area: models, size:XS, partner, integration: google

#16920 community[patch]: Correct the calling to collection_name in qdrant
  libs/community/langchain_community/retrievers/qdrant_sparse_vector_retriever.py
  libs/community/langchain_community/vectorstores/qdrant.py
  libs/community/tests/integration_tests/vectorstores/qdrant/async_api/test_from_texts.py
  libs/community/tests/integration_tests/vectorstores/qdrant/async_api/test_max_marginal_relevance.py
  libs/community/tests/integration_tests/vectorstores/qdrant/async_api/test_similarity_search.py
  libs/community/tests/integration_tests/vectorstores/qdrant/common.py
  libs/community/tests/integration_tests/vectorstores/qdrant/test_add_texts.py
  libs/community/tests/integration_tests/vectorstores/qdrant/test_from_texts.py
  libs/community/tests/integration_tests/vectorstores/qdrant/test_max_marginal_relevance.py
  libs/community/tests/integration_tests/vectorstores/qdrant/test_similarity_search.py
Labels: auto:bug, size:L, integration: qdrant, area: retriever

#17007 docs: Update ollama examples with new community libraries
  docs/docs/integrations/providers/ollama.mdx
Labels: lgtm, auto:documentation, size:XS

#17016 langchain[patch]: fix openai lint
  libs/langchain/langchain/agents/openai_assistant/base.py
  libs/langchain/langchain/chains/moderation.py
Labels: area: agent, lgtm, auto:nit, size:XS, integration: openai

#17023 langchain_core: Fixed bug in dict to message conversion.
  libs/core/langchain_core/messages/__init__.py
Labels: lgtm, auto:bug, size:XS

#16728 Add async methods to BaseChatMessageHistory and BaseMemory
  libs/community/langchain_community/chat_message_histories/in_memory.py
  libs/core/langchain_core/chat_history.py
  libs/core/langchain_core/memory.py
  libs/core/tests/unit_tests/chat_history/test_chat_history.py
  libs/langchain/langchain/memory/buffer.py
  libs/langchain/langchain/memory/chat_memory.py
  libs/langchain/tests/unit_tests/chains/test_conversation.py
Labels: area: memory, lgtm, auto:improvement, size:L, pending-author-approval

#16997 Nvidia trt model name for stop_stream()
  libs/partners/nvidia-trt/langchain_nvidia_trt/llms.py
Labels: lgtm, auto:nit, area: models, size:XS, partner

#16899 core[patch]: Add langsmith to printed sys information
  libs/core/langchain_core/sys_info.py
Labels: lgtm, auto:improvement, size:XS

#16555 docs: exa contents
  docs/docs/integrations/tools/exa_search.ipynb
Labels: auto:documentation, size:XS

#17010 Shield callback methods from cancellation: Fix interrupted runs marked as pending forever
  libs/core/langchain_core/callbacks/manager.py
Labels: lgtm, auto:bug, size:M

#17017 Fix condition on custom root type in runnable history
  libs/core/langchain_core/runnables/history.py
Labels: auto:bug, size:XS

#16942 partners: [NVIDIA AI Endpoints] Support User-Agent metadata and minor fixes.
  docs/docs/integrations/chat/nvidia_ai_endpoints.ipynb
  libs/partners/nvidia-ai-endpoints/langchain_nvidia_ai_endpoints/_common.py
  libs/partners/nvidia-ai-endpoints/langchain_nvidia_ai_endpoints/chat_models.py
  libs/partners/nvidia-ai-endpoints/langchain_nvidia_ai_endpoints/embeddings.py
  libs/partners/nvidia-ai-endpoints/poetry.lock
  libs/partners/nvidia-ai-endpoints/pyproject.toml
Labels: lgtm, area: embeddings, auto:improvement, size:L, partner

#17058 community[patch]: callbacks mypy fixes
  libs/community/langchain_community/callbacks/aim_callback.py
  libs/community/langchain_community/callbacks/argilla_callback.py
  libs/community/langchain_community/callbacks/arthur_callback.py
  libs/community/langchain_community/callbacks/clearml_callback.py
  libs/community/langchain_community/callbacks/comet_ml_callback.py
  libs/community/langchain_community/callbacks/flyte_callback.py
  libs/community/langchain_community/callbacks/infino_callback.py
  libs/community/langchain_community/callbacks/mlflow_callback.py
  libs/community/langchain_community/callbacks/streamlit/__init__.py
  libs/community/langchain_community/callbacks/streamlit/mutable_expander.py
  libs/community/langchain_community/callbacks/tracers/wandb.py
  libs/community/langchain_community/callbacks/wandb_callback.py
Labels: auto:refactor, size:L

#17059 community[patch]: chat message history mypy fixes
  libs/community/langchain_community/chat_message_histories/elasticsearch.py
  libs/community/langchain_community/chat_message_histories/sql.py
  libs/community/langchain_community/chat_message_histories/tidb.py
Labels: auto:nit, integration: elasticsearch, size:S

#17061 community[patch]: chat model mypy fixes
  libs/community/langchain_community/chat_models/azureml_endpoint.py
  libs/community/langchain_community/chat_models/deepinfra.py
  libs/community/langchain_community/chat_models/edenai.py
  libs/community/langchain_community/chat_models/ernie.py
  libs/community/langchain_community/chat_models/gpt_router.py
  libs/community/langchain_community/chat_models/huggingface.py
  libs/community/langchain_community/chat_models/javelin_ai_gateway.py
  libs/community/langchain_community/chat_models/konko.py
  libs/community/langchain_community/chat_models/mlflow_ai_gateway.py
  libs/community/langchain_community/chat_models/ollama.py
  libs/community/langchain_community/chat_models/openai.py
  libs/community/langchain_community/chat_models/tongyi.py
  libs/community/langchain_community/chat_models/vertexai.py
  libs/community/langchain_community/chat_models/yandex.py
  libs/community/langchain_community/chat_models/zhipuai.py
  libs/community/langchain_community/llms/azureml_endpoint.py
  libs/community/langchain_community/llms/yandex.py
Labels: auto:improvement, area: models, size:L

#16335 Langchain: `json_chat` don't need stop sequenes
  libs/langchain/langchain/agents/json_chat/base.py
Labels: area: agent, lgtm, auto:nit, size:S

#17035 langchain: add partial parsing support to JsonOutputToolsParser
  libs/langchain/langchain/output_parsers/openai_tools.py
Labels: lgtm, auto:improvement, size:S, area: output parsers, integration: openai

#16800 Community: Allow adding ARNs as model_id to support Amazon Bedrock custom models
  docs/docs/integrations/llms/bedrock.ipynb
  libs/community/langchain_community/llms/bedrock.py
Labels: lgtm, auto:improvement, area: models, integration: aws, size:M

#16758 Community: Add Progress bar to HuggingFaceEmbeddings
  libs/community/langchain_community/embeddings/huggingface.py
Labels: lgtm, area: embeddings, auto:improvement, size:XS

#16891 Langchain Community: Fix the _call of HuggingFaceHub
  libs/community/langchain_community/llms/huggingface_hub.py
Labels: auto:bug, area: models, size:XS

#16687 Community: MLflow callback update
  libs/community/langchain_community/callbacks/mlflow_callback.py
Labels: lgtm, auto:improvement, size:M

#16998 docs: add 2 more tutorials to the list in youtube.mdx
  docs/docs/additional_resources/youtube.mdx
Labels: lgtm, auto:documentation, size:XS

#16956 Docs: Fix Copilot name
  docs/docs/use_cases/code_understanding.ipynb
Labels: lgtm, auto:documentation, size:XS

#16953 docs:Updating documentation for Konko provider
  docs/docs/integrations/chat/konko.ipynb
  docs/docs/integrations/llms/konko.ipynb
  docs/docs/integrations/providers/konko.mdx
Labels: lgtm, auto:documentation, size:L

#16931 fixing a minor grammatical mistake
  docs/docs/modules/model_io/output_parsers/index.mdx
Labels: lgtm, auto:documentation, size:XS, area: output parsers

#16859 docs: Fix typo in quickstart.ipynb
  docs/docs/use_cases/question_answering/quickstart.ipynb
Labels: lgtm, auto:documentation, size:XS

#16578 community:Breebs docs retriever
  docs/docs/integrations/providers/breebs.md
  docs/docs/integrations/retrievers/breebs.ipynb
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/langchain_community/retrievers/breebs.py
  libs/community/tests/integration_tests/retrievers/test_breebs.py
  libs/community/tests/unit_tests/retrievers/test_imports.py
Labels: lgtm, auto:documentation, size:L, area: retriever

#15772 add structured tools
  docs/docs/modules/agents/how_to/structured_tools.ipynb
Labels: area: agent, lgtm, auto:documentation, size:L

#17036 docs: update parse_partial_json source info
  libs/core/langchain_core/output_parsers/json.py
Labels: lgtm, auto:documentation, size:XS, area: output parsers

#17075 infra: fix breebs test lint
  libs/community/tests/integration_tests/retrievers/test_breebs.py
Labels: auto:nit, size:XS, area: retriever

#17065 docs: add youtube link
  docs/docusaurus.config.js
Labels: auto:documentation, size:XS

#17054 Add prompt metadata + tags
  libs/core/langchain_core/prompts/base.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Labels: lgtm, auto:improvement, area: models, size:M

#17062 langchain_experimental: Fixes issue #17060
  libs/experimental/langchain_experimental/text_splitter.py
Labels: lgtm, area: embeddings, auto:bug, size:XS

#17053 community: add integration_tests and coverage to MAKEFILE
  libs/community/Makefile
Labels: lgtm, auto:improvement, size:S

#17066 docs[patch]: Update streaming documentation
  docs/docs/expression_language/streaming.ipynb
Labels: lgtm, auto:documentation, area: lcel, size:L

#17055 core[patch]: Add astream events config test
  libs/core/tests/unit_tests/runnables/test_runnable_events.py
Labels: lgtm, auto:improvement, size:L

#16996 docs: fix typo in dspy.ipynb
  docs/docs/integrations/providers/dspy.ipynb
Labels: auto:documentation, size:XS

#17078 fixed import in `experimental`
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/memory.py
Labels: area: memory, lgtm, auto:improvement, size:XS

#16995 community: Fix error in `LlamaCpp` community LLM with Configurable Fields, 'grammar' custom type not available
  libs/community/langchain_community/llms/llamacpp.py
Labels: lgtm, auto:bug, area: models, size:XS

#17011 docs/docs/integrations/chat/mistralai.ipynb: update for version 0.1+
  docs/docs/integrations/chat/mistralai.ipynb
Labels: lgtm, auto:documentation, area: models, size:L

#16970 docs: update StreamlitCallbackHandler example
  docs/docs/integrations/callbacks/streamlit.md
Labels: lgtm, auto:documentation, size:S, integration: openai

#16958 docs: Link to Brave Website added
  docs/docs/integrations/tools/brave_search.ipynb
Labels: lgtm, auto:documentation, size:XS

#15966 community: Added new Utility runnables for NVIDIA Riva.
  libs/community/langchain_community/utilities/__init__.py
  libs/community/langchain_community/utilities/nvidia_riva.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/utilities/test_imports.py
  libs/community/tests/unit_tests/utilities/test_nvidia_riva_asr.py
  libs/community/tests/unit_tests/utilities/test_nvidia_riva_tts.py
Labels: lgtm, auto:enhancement, area: lcel, template, size:XXL

#16945 langchain: `output_parser.py` in conversation_chat is customizable
  libs/langchain/langchain/agents/conversational_chat/output_parser.py
Labels: lgtm, auto:improvement, size:XS, area: output parsers

#16916 docs: Fix typo in amadeus.ipynb
  docs/docs/integrations/toolkits/amadeus.ipynb
Labels: lgtm, auto:documentation, size:XS

#15305 new feature: add github file loader to load any github file content b…
  docs/docs/integrations/document_loaders/github.ipynb
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/github.py
  libs/community/tests/unit_tests/document_loaders/test_github.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
Labels: lgtm, area: doc loader, auto:enhancement, size:L

#17117 core[patch]: Release 0.1.19
  libs/core/pyproject.toml
Labels: size:XS, auto:release

#16991 Add SelfQueryRetriever support to PGVector
  docs/docs/integrations/retrievers/self_query/pgvector_self_query.ipynb
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/self_query/pgvector.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_pgvector.py
Labels: lgtm, needs documentation, auto:improvement, size:L, area: retriever

#17120 infra: add pinecone secret
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
Labels: area: vector store, auto:improvement, integration: pinecone, size:XS

#16936 nvidia-trt: propagate InferenceClientException to the caller.
  libs/partners/nvidia-trt/langchain_nvidia_trt/llms.py
Labels: lgtm, auto:bug, area: models, size:S, partner

#17122 infra: add integration deps to partner lint
  .github/workflows/_lint.yml
Labels: lgtm, auto:nit, size:XS

#17121 pinecone[patch]: integration test new namespace
  libs/partners/pinecone/tests/integration_tests/test_vectorstores.py
Labels: area: vector store, auto:improvement, integration: pinecone, size:XS, partner

#17125 nvidia-ai-endpoints[patch]: release 0.0.2
  libs/partners/nvidia-ai-endpoints/pyproject.toml
Labels: size:XS, partner, auto:release

#17126 infra: update to cache v4
  .github/actions/poetry_setup/action.yml
  .github/workflows/_lint.yml
Labels: auto:improvement, size:XS

#17129 community[patch]: Release 0.0.18
  libs/community/_test_minimum_requirements.txt
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, auto:release

#17130 API References sorted `Partner libs` menu
  docs/api_reference/conf.py
Labels: lgtm, auto:documentation, size:XS

#17127 docs: fix typo in ollama notebook
  docs/docs/integrations/llms/ollama.ipynb
Labels: lgtm, auto:documentation, size:XS

#17136 mistralai[patch]: 16k token batching logic embed
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/tests/integration_tests/test_embeddings.py
Labels: lgtm, area: embeddings, auto:improvement, size:M, partner

#17135 infra: read min versions
  .github/scripts/get_min_versions.py
  .github/workflows/_release.yml
  libs/community/_test_minimum_requirements.txt
  libs/experimental/_test_minimum_requirements.txt
  libs/langchain/_test_minimum_requirements.txt
Labels: auto:improvement, size:M

#17139 mistralai[patch]: release 0.0.4
  libs/partners/mistralai/pyproject.toml
Labels: size:XS, partner, auto:release

#17142 infra: fix release
  .github/workflows/_release.yml
Labels: size:XS, auto:release

#17143 docs: format
  docs/docs/integrations/chat/anthropic.ipynb
  docs/docs/integrations/chat/google_vertex_ai_palm.ipynb
  docs/docs/use_cases/csv.ipynb
  docs/docs/use_cases/sql/agents.ipynb
  docs/docs/use_cases/sql/query_checking.ipynb
Labels: auto:documentation, size:M, integration: google

#17146 infra: poetry run min versions
  .github/workflows/_release.yml
Labels: size:XS, auto:release

#17149 infra: poetry run min versions 2
  .github/workflows/_release.yml
Labels: size:XS, auto:release

#17150 infra: release min version debugging
  .github/workflows/_release.yml
Labels: size:XS, auto:release

#17152 infra: release min version debugging 2
  .github/workflows/_release.yml
Labels: area: langserve, size:XS, auto:release

#17132 docs: tutorials update
  docs/docs/additional_resources/tutorials.mdx
Labels: lgtm, auto:documentation, size:M

#17148 docs `integraions/providers` nav fix
  docs/docs/integrations/platforms/index.mdx
Labels: lgtm, auto:documentation, size:XS

#17151 docs `Integraions/Components` menu reordered
  docs/sidebars.js
Labels: lgtm, area: embeddings, auto:documentation, size:XS

#17187 Add trace_as_chain_group metadata
  libs/core/langchain_core/callbacks/manager.py
Labels: auto:improvement, integration: aws, size:S

#17186 allow optional newline in the action responses of JSON Agent parser
  libs/langchain/langchain/agents/output_parsers/react_json_single_input.py
Labels: lgtm, auto:improvement, size:XS, area: output parsers

#15146 Feat: support functions call for google-genai
  libs/partners/google-genai/langchain_google_genai/chat_models.py
  libs/partners/google-genai/poetry.lock
  libs/partners/google-genai/tests/integration_tests/test_function_call.py
Labels: lgtm, auto:enhancement, area: models, size:L, partner, integration: google

#16305 Use batched tracing in sdk
  libs/core/langchain_core/tracers/langchain.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: lgtm, auto:refactor, area: langserve, size:M

#17194 core[patch]: Release 0.1.20
  libs/core/pyproject.toml
Labels: size:XS, auto:release

#17195 infra: fix core release
  .github/workflows/_release.yml
Labels: size:XS, auto:release

#17197 infra: better conditional
  .github/workflows/_release.yml
Labels: auto:improvement, size:XS

#17192 Add neo4j semantic layer with ollama template
  templates/neo4j-semantic-ollama/README.md
  templates/neo4j-semantic-ollama/ingest.py
  templates/neo4j-semantic-ollama/main.py
  templates/neo4j-semantic-ollama/neo4j_semantic_ollama/__init__.py
  templates/neo4j-semantic-ollama/neo4j_semantic_ollama/agent.py
  templates/neo4j-semantic-ollama/neo4j_semantic_ollama/information_tool.py
  templates/neo4j-semantic-ollama/neo4j_semantic_ollama/memory_tool.py
  templates/neo4j-semantic-ollama/neo4j_semantic_ollama/recommendation_tool.py
  templates/neo4j-semantic-ollama/neo4j_semantic_ollama/smalltalk_tool.py
  templates/neo4j-semantic-ollama/neo4j_semantic_ollama/utils.py
  templates/neo4j-semantic-ollama/poetry.lock
  templates/neo4j-semantic-ollama/pyproject.toml
  templates/neo4j-semantic-ollama/static/workflow.png
  templates/neo4j-semantic-ollama/tests/__init__.py
Labels: area: agent, lgtm, auto:enhancement, template, size:XL

#17198 remove pg_essay.txt
  pg_essay.txt
Labels: lgtm, auto:nit, area: models, size:L, partner, integration: google

#17168 langchain: Standardize `output_parser.py` across all agent types for custom `FORMAT_INSTRUCTIONS`
  libs/langchain/langchain/agents/chat/output_parser.py
  libs/langchain/langchain/agents/conversational/output_parser.py
  libs/langchain/langchain/agents/conversational_chat/output_parser.py
  libs/langchain/langchain/agents/mrkl/output_parser.py
  libs/langchain/langchain/agents/structured_chat/output_parser.py
Labels: lgtm, auto:improvement, size:S, area: output parsers

#17200 core[patch], community[patch]: link extraction continue on failure
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
  libs/community/langchain_community/vectorstores/kdbai.py
  libs/core/langchain_core/utils/html.py
Labels: lgtm, area: doc loader, auto:improvement, size:M

#17202 core[patch]: Release 0.1.21
  libs/core/pyproject.toml
Labels: size:XS, auto:release

#17204 cli[patch]: copyright 2024 default
  libs/cli/langchain_cli/integration_template/LICENSE
  libs/cli/langchain_cli/package_template/LICENSE
  templates/retrieval-agent-fireworks/LICENSE
Labels: auto:nit, template, size:XS

#17207 community[patch]: Release 0.0.19
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: auto:nit, size:XS

#17205 Fix stream events/log with some kinds of non addable output
  libs/core/langchain_core/tracers/log_stream.py
Labels: lgtm, auto:bug, size:XS, area: output parsers

#17145 google-vertexai[patch]: serializable citation metadata, release 0.0.4
  libs/partners/google-vertexai/langchain_google_vertexai/_utils.py
  libs/partners/google-vertexai/pyproject.toml
  libs/partners/google-vertexai/tests/integration_tests/test_tools.py
  libs/partners/google-vertexai/tests/unit_tests/test_chat_models.py
Labels: area: doc loader, auto:improvement, size:S, partner, integration: google

#17213 google-genai[patch]: match function call interface
  libs/partners/google-genai/langchain_google_genai/_function_utils.py
  libs/partners/google-genai/langchain_google_genai/chat_models.py
  libs/partners/google-genai/tests/integration_tests/test_function_call.py
Labels: auto:improvement, area: models, size:L, partner, integration: google

#17215 google-genai[patch]: no error for FunctionMessage
  libs/partners/google-genai/langchain_google_genai/chat_models.py
Labels: auto:bug, area: models, size:XS, partner, integration: google

#17193 google-genai[patch]: release 0.0.7
  libs/partners/google-genai/pyproject.toml
Labels: size:XS, partner, auto:release, integration: google

#17214 docs: cleanup fleet integration
  docs/docs/integrations/retrievers/fleet_context.ipynb
Labels: auto:documentation, size:M, area: retriever

#17141 templates: add gemini functions agent
  templates/gemini-functions-agent/LICENSE
  templates/gemini-functions-agent/README.md
  templates/gemini-functions-agent/gemini_functions_agent/__init__.py
  templates/gemini-functions-agent/gemini_functions_agent/agent.py
  templates/gemini-functions-agent/main.py
  templates/gemini-functions-agent/poetry.lock
  templates/gemini-functions-agent/pyproject.toml
  templates/gemini-functions-agent/tests/__init__.py
Labels: area: agent, auto:enhancement, template, size:L, partner

#15817 langchain[minor], community[minor], core[minor]: Async Cache support and AsyncRedisCache
  docker/docker-compose.yml
  libs/community/langchain_community/cache.py
  libs/core/langchain_core/caches.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/langchain/langchain/cache.py
  libs/langchain/tests/integration_tests/cache/test_redis_cache.py
  libs/langchain/tests/unit_tests/test_cache.py
Labels: lgtm, auto:improvement, area: models, integration: redis, size:XL

#17124 community[patch]: Fix chat openai unit test
  libs/community/tests/unit_tests/chat_models/test_openai.py
  libs/community/tests/unit_tests/embeddings/test_openai.py
  libs/community/tests/unit_tests/llms/test_openai.py
Labels: lgtm, auto:bug, area: models, size:M, integration: openai

#17190 community[patch]: Better error propagation for neo4jgraph
  libs/community/langchain_community/graphs/neo4j_graph.py
Labels: lgtm, auto:improvement, size:S

#17191 community[minor]: SQLDatabase Add fetch mode `cursor`, query parameters, query by selectable, expose execution options, and documentation
  docs/docs/integrations/tools/sql_database.ipynb
  libs/community/langchain_community/tools/sql_database/tool.py
  libs/community/langchain_community/utilities/sql_database.py
  libs/experimental/langchain_experimental/sql/base.py
  libs/experimental/langchain_experimental/sql/vector_sql.py
  libs/langchain/tests/unit_tests/test_sql_database.py
Labels: auto:improvement, size:XL

#17216 community[patch]: octoai embeddings bug fix
  libs/community/langchain_community/embeddings/octoai_embeddings.py
Labels: lgtm, area: embeddings, auto:bug, size:XS

#17085 docs: add missing link to Quickstart
  docs/docs/modules/model_io/index.mdx
Labels: lgtm, auto:documentation, size:XS

#17218 docs: use PromptTemplate.from_template
  docs/docs/guides/safety/amazon_comprehend_chain.ipynb
  docs/docs/guides/safety/moderation.mdx
  docs/docs/integrations/llms/aleph_alpha.ipynb
  docs/docs/integrations/llms/alibabacloud_pai_eas_endpoint.ipynb
  docs/docs/integrations/llms/anyscale.ipynb
  docs/docs/integrations/llms/aphrodite.ipynb
  docs/docs/integrations/llms/banana.ipynb
  docs/docs/integrations/llms/bittensor.ipynb
  docs/docs/integrations/llms/cerebriumai.ipynb
  docs/docs/integrations/llms/chatglm.ipynb
  docs/docs/integrations/llms/clarifai.ipynb
  docs/docs/integrations/llms/cloudflare_workersai.ipynb
  docs/docs/integrations/llms/ctransformers.ipynb
  docs/docs/integrations/llms/ctranslate2.ipynb
  docs/docs/integrations/llms/deepinfra.ipynb
  docs/docs/integrations/llms/forefrontai.ipynb
  docs/docs/integrations/llms/gigachat.ipynb
  docs/docs/integrations/llms/gooseai.ipynb
  docs/docs/integrations/llms/gpt4all.ipynb
  docs/docs/integrations/llms/gradient.ipynb
  docs/docs/integrations/llms/huggingface_hub.ipynb
  docs/docs/integrations/llms/llamacpp.ipynb
  docs/docs/integrations/llms/manifest.ipynb
  docs/docs/integrations/llms/minimax.ipynb
  docs/docs/integrations/llms/modal.ipynb
  docs/docs/integrations/llms/mosaicml.ipynb
  docs/docs/integrations/llms/nlpcloud.ipynb
  docs/docs/integrations/llms/octoai.ipynb
  docs/docs/integrations/llms/openai.ipynb
  docs/docs/integrations/llms/openllm.ipynb
  docs/docs/integrations/llms/openlm.ipynb
  docs/docs/integrations/llms/petals.ipynb
  docs/docs/integrations/llms/pipelineai.ipynb
  docs/docs/integrations/llms/predictionguard.ipynb
  docs/docs/integrations/llms/runhouse.ipynb
  docs/docs/integrations/llms/stochasticai.ipynb
  docs/docs/integrations/llms/textgen.ipynb
  docs/docs/integrations/llms/titan_takeoff.ipynb
  docs/docs/integrations/llms/tongyi.ipynb
  docs/docs/integrations/llms/vllm.ipynb
  docs/docs/integrations/llms/writer.ipynb
  docs/docs/integrations/llms/xinference.ipynb
  docs/docs/integrations/llms/yandex.ipynb
  docs/docs/integrations/providers/predictionguard.mdx
  docs/docs/integrations/providers/ray_serve.ipynb
  docs/docs/integrations/providers/shaleprotocol.md
  docs/docs/integrations/text_embedding/clarifai.ipynb
  docs/docs/modules/model_io/prompts/partial.ipynb
Labels: auto:documentation, size:M, integration: openai

#16784 langchain_google_vertexai : added logic to override get_num_tokens_from_messages() for ChatVertexAI
  libs/partners/google-vertexai/langchain_google_vertexai/chat_models.py
  libs/partners/google-vertexai/langchain_google_vertexai/llms.py
  libs/partners/google-vertexai/tests/integration_tests/test_chat_models.py
  libs/partners/google-vertexai/tests/integration_tests/test_tools.py
Labels: lgtm, auto:improvement, area: models, size:M, partner, integration: google

#17258 google-vertexai[patch]: integration test fix, release 0.0.5
  libs/partners/google-vertexai/langchain_google_vertexai/_utils.py
  libs/partners/google-vertexai/poetry.lock
  libs/partners/google-vertexai/pyproject.toml
  libs/partners/google-vertexai/tests/integration_tests/test_tools.py
Labels: size:S, partner, auto:release, integration: google

#16647 partners/google-vertexai:fix _parse_response_candidate issue
  libs/partners/google-vertexai/langchain_google_vertexai/chat_models.py
  libs/partners/google-vertexai/tests/unit_tests/test_chat_models.py
Labels: lgtm, auto:bug, area: models, size:L, partner, integration: google

#16914 langchain[minor], core[minor]: add openai-json structured output runnable
  libs/core/langchain_core/output_parsers/json.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
  libs/langchain/langchain/chains/openai_functions/__init__.py
  libs/langchain/langchain/chains/openai_functions/base.py
  libs/langchain/langchain/chains/structured_output/__init__.py
  libs/langchain/langchain/chains/structured_output/base.py
  libs/langchain/langchain/output_parsers/pydantic.py
  libs/langchain/tests/unit_tests/output_parsers/test_pydantic_parser.py
Labels: auto:improvement, size:XL, area: output parsers, integration: openai

#17259 Documentation: Fix typo in github.ipynb
  docs/docs/integrations/document_loaders/github.ipynb
Labels: lgtm, auto:documentation, size:XS

#17244 Implement Unique ID Enforcement in FAISS
  libs/community/langchain_community/vectorstores/faiss.py
  libs/community/tests/unit_tests/vectorstores/test_faiss.py
Labels: lgtm, area: vector store, auto:improvement, size:S

#17239 langchain, community: Fixes in the Ontotext GraphDB Graph and QA Chain
  docs/docs/use_cases/graph/graph_ontotext_graphdb_qa.ipynb
  libs/community/langchain_community/graphs/ontotext_graphdb_graph.py
  libs/community/tests/integration_tests/graphs/test_ontotext_graphdb_graph.py
  libs/langchain/langchain/chains/graph_qa/ontotext_graphdb.py
  libs/langchain/tests/integration_tests/chains/test_ontotext_graphdb_qa.py
Labels: lgtm, auto:bug, size:L

#17178 community: Fix KeyError 'embedding' (MongoDBAtlasVectorSearch)
  libs/community/langchain_community/vectorstores/mongodb_atlas.py
Labels: lgtm, area: vector store, auto:bug, size:XS

#16752 community: Support SerDe transform functions in Databricks LLM
  libs/community/langchain_community/llms/databricks.py
  libs/community/tests/unit_tests/llms/test_databricks.py
Labels: lgtm, auto:improvement, area: models, size:M

#17092 langchain_google-genai[patch]: Invoke callback prior to yielding token
  libs/partners/google-genai/langchain_google_genai/chat_models.py
Labels: lgtm, auto:improvement, area: models, size:XS, partner, integration: google

#17252 Added LCEL for alibabacloud and anyscale
  docs/docs/integrations/llms/alibabacloud_pai_eas_endpoint.ipynb
  docs/docs/integrations/llms/anyscale.ipynb
Labels: lgtm, auto:documentation, area: lcel, size:S

#16933 langchain: Fix create_retriever_tool missing on_retriever_end Document content
  libs/langchain/langchain/tools/retriever.py
Labels: lgtm, auto:bug, size:XS, area: retriever

#17245 added parsing of function call / response
  libs/partners/google-genai/langchain_google_genai/chat_models.py
Labels: auto:improvement, area: models, size:L, partner, integration: google

#17163 langchain: Update quickstart.mdx - Fix 422 error in example with LangServe client code
  docs/docs/get_started/quickstart.mdx
Labels: lgtm, auto:bug, area: langserve, size:XS

#17144 langchain: adds recursive json splitter
  docs/docs/modules/data_connection/document_transformers/recursive_json_splitter.ipynb
  libs/langchain/langchain/text_splitter.py
  libs/langchain/tests/unit_tests/test_text_splitter.py
Labels: lgtm, area: doc loader, auto:improvement, size:L

#17014 community: Add you.com utility, update you retriever integration docs
  docs/docs/integrations/retrievers/you-retriever.ipynb
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/langchain_community/retrievers/you.py
  libs/community/langchain_community/utilities/__init__.py
  libs/community/langchain_community/utilities/you.py
  libs/community/tests/unit_tests/retrievers/test_imports.py
  libs/community/tests/unit_tests/retrievers/test_you.py
  libs/community/tests/unit_tests/utilities/test_imports.py
  libs/community/tests/unit_tests/utilities/test_you.py
Labels: lgtm, auto:improvement, size:XL, area: retriever

#17005 community: add runtime kwargs to HuggingFacePipeline
  libs/community/langchain_community/llms/huggingface_pipeline.py
  libs/community/tests/integration_tests/llms/test_huggingface_pipeline.py
Labels: lgtm, auto:improvement, area: models, size:S

#17263 [Langchain_core]: Added Docstring for RunnableConfigurableAlternatives
  libs/core/langchain_core/runnables/configurable.py
Labels: lgtm, auto:documentation, area: lcel, size:M
