Repository langchain-ai/langchain, pull requests merged in 2024-01, with the labels that each got.

#15381 community:qianfan endpoint support init params & remove useless params definietion
  libs/community/langchain_community/chat_models/baidu_qianfan_endpoint.py
  libs/community/langchain_community/embeddings/baidu_qianfan_endpoint.py
  libs/community/langchain_community/llms/baidu_qianfan_endpoint.py
  libs/community/tests/integration_tests/chat_models/test_qianfan_endpoint.py
  libs/community/tests/integration_tests/embeddings/test_qianfan_endpoint.py
  libs/community/tests/integration_tests/llms/test_qianfan_endpoint.py
Labels: area: embeddings, auto:improvement, size:M

#15378 Update Multi_modal_RAG.ipynb
  cookbook/Multi_modal_RAG.ipynb
Labels: area: doc loader, auto:documentation, size:XS

#15380 docs(ollama): Fix Documentation in `CallbackManager`, missing `])`
  docs/docs/integrations/llms/ollama.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:XS

#15349 [docs] update agent cookbook lcel
  docs/docs/expression_language/cookbook/agent.ipynb
Labels: auto:documentation, area: lcel, size:M

#15364 Docs: Fix spelling and grammar on Concepts page
  docs/docs/modules/model_io/concepts.mdx
Labels: area: doc loader, auto:documentation, size:XS

#15352 Langchain: Fix quickstart doc code not working
  docs/docs/get_started/quickstart.mdx
Labels: lgtm, area: doc loader, auto:documentation, size:S

#15260 Documentation: Update playwright documentation for langchain version >= 0.0.351
  docs/docs/integrations/toolkits/playwright.ipynb
Labels: area: doc loader, auto:documentation, size:S

#14919 fix(minor): added missing **kwargs parameter to chroma query function
  libs/community/langchain_community/vectorstores/chroma.py
Labels: lgtm, area: vector store, auto:improvement, integration: chroma, size:XS

#14010 feat: mask api_key for konko
  libs/community/langchain_community/chat_models/konko.py
  libs/community/tests/integration_tests/chat_models/test_konko.py
Labels: lgtm, auto:improvement, area: models, size:M

#15209 Add missing comment char "#" before Load in chain.py for the rag-pinecone-rerank template
  templates/rag-pinecone-rerank/rag_pinecone_rerank/chain.py
Labels: area: doc loader, auto:nit, integration: pinecone, template, size:XS

#15114 ci: upgrade actions
  .github/actions/poetry_setup/action.yml
  .github/workflows/check_diffs.yml
  .github/workflows/scheduled_test.yml
Labels: auto:improvement, size:XS

#15111 community:Lazy load wikipedia dump file
  libs/community/langchain_community/document_loaders/mediawikidump.py
Labels: area: doc loader, auto:refactor, size:M

#15106 docs: updated document for 'Return Source Documents' Functionality
  docs/docs/integrations/providers/vectara/vectara_chat.ipynb
Labels: area: doc loader, auto:documentation, size:S

#15104 fix: call correct stream method in ollama
  libs/community/langchain_community/llms/ollama.py
Labels: auto:bug, area: models, size:XS

#15124 Langchain: Fix typo in documentation
  docs/docs/expression_language/how_to/passthrough.ipynb
Labels: area: doc loader, auto:documentation, size:XS

#15379 Update LLaMA2_sql_chat.ipynb
  cookbook/LLaMA2_sql_chat.ipynb
Labels: auto:improvement, area: models, size:XS

#14693 Feat add volcano embedding
  docs/docs/integrations/text_embedding/volcengine.ipynb
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/volcengine.py
  libs/community/tests/integration_tests/embeddings/test_volcano.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
Labels: area: embeddings, auto:enhancement, size:L

#15105 community: Integration of New Chat Model Based on ChatGLM3 via ZhipuAI API
  docs/docs/integrations/chat/zhipuai.ipynb
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/zhipuai.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/chat_models/test_zhipuai.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
  libs/community/tests/unit_tests/chat_models/test_zhipuai.py
Labels: auto:enhancement, area: models, size:XL

#15101 Refactor: use SecretStr for GPTRouter chat-model
  libs/community/langchain_community/chat_models/gpt_router.py
  libs/community/tests/integration_tests/chat_models/test_gpt_router.py
Labels: auto:refactor, area: models, size:M

#15100 Refactor: use SecretStr for palm chat-model
  libs/community/langchain_community/chat_models/google_palm.py
Labels: auto:refactor, area: models, size:S

#15092 Refactor: use SecretStr for edenai embeddings
  libs/community/langchain_community/embeddings/edenai.py
  libs/community/tests/unit_tests/embeddings/test_edenai.py
Labels: area: embeddings, auto:refactor, size:M

#15091 Refactor: use SecretStr for embaas embeddings
  libs/community/langchain_community/embeddings/embaas.py
  libs/community/tests/unit_tests/embeddings/test_embaas.py
Labels: area: embeddings, auto:refactor, size:M

#15090 Refactor: use SecretStr for llm_rails embeddings
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/llm_rails.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
  libs/community/tests/unit_tests/embeddings/test_llm_rails.py
Labels: area: embeddings, auto:refactor, size:M

#15082 Update regex in output parser
  libs/langchain/langchain/agents/conversational/output_parser.py
  libs/langchain/tests/unit_tests/agents/output_parsers/test_convo_output_parser.py
Labels: area: agent, auto:improvement, size:M

#14852 Added more filtering options to pgvector vectorstore
  libs/community/langchain_community/vectorstores/pgvector.py
Labels: lgtm, area: vector store, auto:improvement, size:M

#14818 Restore self message sent before OSX 12 Monterey
  libs/community/langchain_community/chat_loaders/imessage.py
  libs/community/tests/unit_tests/chat_loaders/data/imessage_chat_upgrade_osx_11.db
  libs/community/tests/unit_tests/chat_loaders/test_imessage.py
Labels: area: doc loader, auto:improvement, size:M

#14771 docs `microsoft` pages sort order fix
  docs/docs/integrations/document_loaders/microsoft_excel.ipynb
  docs/docs/integrations/document_loaders/microsoft_onenote.ipynb
  docs/vercel.json
Labels: area: doc loader, auto:documentation, size:XS

#14747 Add AstraDB document loader
  libs/community/langchain_community/document_loaders/astradb.py
  libs/community/tests/integration_tests/document_loaders/test_astradb.py
Labels: area: doc loader, auto:enhancement, size:L

#14749 Added: docs Headers to Steam Tool notebook steps
  docs/docs/integrations/toolkits/steam.ipynb
Labels: area: doc loader, auto:documentation, size:S

#14689 python-lint
  templates/python-lint/.gitignore
  templates/python-lint/LICENSE
  templates/python-lint/README.md
  templates/python-lint/pyproject.toml
  templates/python-lint/python_lint/__init__.py
  templates/python-lint/python_lint/agent_executor.py
  templates/python-lint/tests/__init__.py
Labels: area: agent, auto:enhancement, template, size:L

#14745 Update _retrieve_ref inside json_schema.py to include an isdigit() check
  libs/core/langchain_core/utils/json_schema.py
  libs/core/tests/unit_tests/utils/test_json_schema.py
Labels: needs test, area: doc loader, auto:improvement, size:M

#14641 fix: syntax error in function docs
  libs/langchain/langchain/agents/openai_assistant/base.py
Labels: area: agent, auto:bug, size:XS

#14674 Enhancement on feature/yaml output parser
  docs/docs/modules/model_io/output_parsers/types/index.mdx
  docs/docs/modules/model_io/output_parsers/types/yaml.ipynb
  libs/langchain/langchain/output_parsers/format_instructions.py
  libs/langchain/langchain/output_parsers/yaml.py
  libs/langchain/tests/unit_tests/output_parsers/test_yaml_parser.py
Labels: auto:improvement, auto:documentation, area: models, size:L

#14662 Fixing the Issue with DashScopeEmbeddings Handling More than 25 Rows of Data
  libs/community/langchain_community/embeddings/dashscope.py
  libs/community/tests/integration_tests/embeddings/test_dashscope.py
Labels: area: embeddings, auto:bug, size:M

#14653 Fix for openai multi tools input format.
  libs/langchain/langchain/agents/openai_functions_multi_agent/base.py
Labels: area: agent, auto:improvement, size:XS

#14644 add api_base to _client_params (community version of #14393)
  libs/community/langchain_community/chat_models/litellm.py
Labels: auto:improvement, area: models, size:XS

#14638 GITLAB_URL should take default https://gitlab.com instead of error
  libs/community/langchain_community/utilities/gitlab.py
Labels: auto:bug, size:XS

#14598 WatsonxLLM updates/enhancements
  docs/docs/integrations/llms/watsonxllm.ipynb
  libs/community/langchain_community/llms/watsonxllm.py
Labels: auto:enhancement, auto:documentation, area: models, size:L

#15358 Langchain_community: Small Fix when loading facebook messages
  libs/community/langchain_community/chat_loaders/facebook_messenger.py
Labels: area: doc loader, auto:bug, size:XS

#15392 Update `gpt4all.mdx` doc
  docs/docs/integrations/providers/gpt4all.mdx
Labels: area: doc loader, auto:documentation, size:S

#15418 infra: remove path filter on check_diffs
  .github/workflows/check_diffs.yml
Labels: auto:nit, size:XS

#15351 Calculate trace_id and dotted_order client side
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/schemas.py
  libs/core/tests/unit_tests/callbacks/tracers/test_base_tracer.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: auto:improvement, area: langserve, size:M

#15419 docs: fix agents index links
  docs/docs/modules/agents/index.ipynb
Labels: area: agent, auto:documentation, size:M

#15421 docs: fix modelio index links
  docs/docs/modules/agents/index.ipynb
  docs/docs/modules/agents/quick_start.ipynb
  docs/docs/modules/model_io/chat/index.mdx
  docs/docs/modules/model_io/index.mdx
  docs/docs/modules/model_io/prompts/index.mdx
  docs/docs/modules/model_io/quick_start.mdx
Labels: auto:documentation, area: models, size:M

#15410 langchain[patch], experimental[patch]: replace langchain.schema imports
  cookbook/Multi_modal_RAG_google.ipynb
  docs/docs/integrations/chat/google_generative_ai.ipynb
  docs/docs/integrations/llms/google_vertex_ai_palm.ipynb
  docs/docs/integrations/providers/cohere.mdx
  docs/docs/integrations/providers/vectara/vectara_summary.ipynb
  docs/docs/integrations/retrievers/fleet_context.ipynb
  docs/docs/integrations/vectorstores/jaguar.ipynb
  libs/core/langchain_core/runnables/base.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/csv/base.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/pandas/base.py
  libs/experimental/langchain_experimental/agents/agent_toolkits/python/base.py
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/agent.py
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/memory.py
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/prompt.py
  libs/experimental/langchain_experimental/autonomous_agents/baby_agi/baby_agi.py
  libs/experimental/langchain_experimental/autonomous_agents/baby_agi/task_creation.py
  libs/experimental/langchain_experimental/autonomous_agents/baby_agi/task_execution.py
  libs/experimental/langchain_experimental/autonomous_agents/baby_agi/task_prioritization.py
  libs/experimental/langchain_experimental/fallacy_removal/base.py
  libs/experimental/langchain_experimental/generative_agents/generative_agent.py
  libs/experimental/langchain_experimental/generative_agents/memory.py
  libs/experimental/langchain_experimental/llm_bash/base.py
  libs/experimental/langchain_experimental/llms/anthropic_functions.py
  libs/experimental/langchain_experimental/llms/llamaapi.py
  libs/experimental/langchain_experimental/open_clip/open_clip.py
  libs/experimental/langchain_experimental/pal_chain/base.py
  libs/experimental/langchain_experimental/plan_and_execute/executors/agent_executor.py
  libs/experimental/langchain_experimental/plan_and_execute/planners/chat_planner.py
  libs/experimental/langchain_experimental/sql/base.py
  libs/experimental/langchain_experimental/sql/vector_sql.py
  libs/experimental/langchain_experimental/synthetic_data/__init__.py
  libs/experimental/langchain_experimental/tabular_synthetic_data/base.py
  libs/langchain/langchain/chains/ernie_functions/base.py
  libs/langchain/langchain/output_parsers/ernie_functions.py
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/agents/test_agent_async.py
  templates/bedrock-jcvd/bedrock_jcvd/chain.py
  templates/cohere-librarian/cohere_librarian/router.py
  templates/python-lint/python_lint/agent_executor.py
  templates/rag-chroma-multi-modal-multi-vector/ingest.py
  templates/rag-chroma-multi-modal-multi-vector/rag_chroma_multi_modal_multi_vector/chain.py
  templates/rag-multi-modal-mv-local/ingest.py
  templates/rag-multi-modal-mv-local/rag_multi_modal_mv_local/chain.py
  templates/sql-research-assistant/sql_research_assistant/chain.py
  templates/sql-research-assistant/sql_research_assistant/search/sql.py
  templates/sql-research-assistant/sql_research_assistant/search/web.py
  templates/sql-research-assistant/sql_research_assistant/writer.py
Labels: auto:refactor, area: models, size:M

#15334 Fetch runnable config from context var inside runnable lambda and runnable generator
  libs/core/langchain_core/runnables/__init__.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/tests/unit_tests/runnables/test_context.py
  libs/core/tests/unit_tests/runnables/test_imports.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: auto:improvement, area: langserve, size:XL

#15187 Use tz-aware utc datetimes in tracer
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/tests/unit_tests/callbacks/tracers/test_base_tracer.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: lgtm, auto:improvement, area: langserve, size:L

#15425 add get prompts method
  libs/core/langchain_core/runnables/base.py
Labels: lgtm, auto:improvement, area: models, size:S

#15432 refactor `utils`
  libs/community/langchain_community/utils/__init__.py
  libs/community/langchain_community/utils/ernie_functions.py
  libs/langchain/langchain/utils/ernie_functions.py
Labels: lgtm, auto:refactor, area: models, size:L

#15420 docs `Microsoft` platform page update
  docs/docs/integrations/document_loaders/azure_ai_data.ipynb
  docs/docs/integrations/document_loaders/azure_document_intelligence.ipynb
  docs/docs/integrations/platforms/microsoft.mdx
Labels: lgtm, area: doc loader, auto:documentation, size:M

#15428 added fix for key error: doc_id
  libs/langchain/langchain/retrievers/multi_vector.py
Labels: lgtm, area: vector store, auto:bug, size:XS

#15427 core:adds tests for partial_variables
  libs/core/tests/unit_tests/examples/simple_prompt.yaml
  libs/core/tests/unit_tests/prompts/test_loading.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Labels: lgtm, area: doc loader, auto:nit, size:M

#15389 Remove unused `_get_python_repl`
  libs/langchain/langchain/agents/load_tools.py
Labels: area: agent, lgtm, auto:nit, size:S

#15387 Fix: fix Bing Search empty result exception, fix #15384
  libs/community/langchain_community/utilities/bing_search.py
Labels: lgtm, auto:bug, area: langserve, size:XS

#15361 SQLDatabase drop the column names in the result.
  libs/community/langchain_community/utilities/sql_database.py
  libs/langchain/tests/unit_tests/test_sql_database.py
Labels: lgtm, auto:bug, area: langserve, size:S

#15196 Fixed minor type in self_query.ipynb
  docs/docs/modules/data_connection/retrievers/self_query.ipynb
Labels: lgtm, area: doc loader, auto:documentation, size:XS

#15151 community: Semanticscholar tool to search 200M+ scientific articles
  docs/docs/integrations/tools/semanticscholar.ipynb
  libs/community/langchain_community/tools/semanticscholar/__init__.py
  libs/community/langchain_community/tools/semanticscholar/tool.py
  libs/community/langchain_community/utilities/semanticscholar.py
Labels: area: agent, lgtm, auto:enhancement, size:L

#15102 Refactor: use SecretStr for tongyi chat-model
  libs/community/langchain_community/chat_models/tongyi.py
  libs/community/tests/integration_tests/chat_models/test_tongyi.py
Labels: lgtm, auto:refactor, area: models, size:S

#15080 Use args option in jaguar so it takes more options in similarity search
  libs/community/langchain_community/vectorstores/jaguar.py
Labels: lgtm, area: vector store, auto:improvement, size:S

#14829 feat: add Google BigQueryVectorSearch in vectorstore
  docs/docs/integrations/platforms/google.mdx
  docs/docs/integrations/vectorstores/bigquery_vector_search.ipynb
  libs/community/langchain_community/vectorstores/__init__.py
  libs/community/langchain_community/vectorstores/bigquery_vector_search.py
  libs/community/tests/integration_tests/vectorstores/test_bigquery_vector_search.py
Labels: lgtm, area: vector store, auto:enhancement, size:XXL

#15434 langchain[patch], docs: update agent toolkit imports
  cookbook/autogpt/marathon_times.ipynb
  cookbook/custom_agent_with_plugin_retrieval.ipynb
  cookbook/custom_agent_with_plugin_retrieval_using_plugnplai.ipynb
  cookbook/databricks_sql_db.ipynb
  docs/docs/integrations/platforms/google.mdx
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/providers/ainetwork.mdx
  docs/docs/integrations/providers/cnosdb.mdx
  docs/docs/integrations/toolkits/ainetwork.ipynb
  docs/docs/integrations/toolkits/amadeus.ipynb
  docs/docs/integrations/toolkits/azure_cognitive_services.ipynb
  docs/docs/integrations/toolkits/clickup.ipynb
  docs/docs/integrations/toolkits/github.ipynb
  docs/docs/integrations/toolkits/gitlab.ipynb
  docs/docs/integrations/toolkits/gmail.ipynb
  docs/docs/integrations/toolkits/jira.ipynb
  docs/docs/integrations/toolkits/json.ipynb
  docs/docs/integrations/toolkits/multion.ipynb
  docs/docs/integrations/toolkits/nasa.ipynb
  docs/docs/integrations/toolkits/office365.ipynb
  docs/docs/integrations/toolkits/openapi.ipynb
  docs/docs/integrations/toolkits/openapi_nla.ipynb
  docs/docs/integrations/toolkits/powerbi.ipynb
  docs/docs/integrations/toolkits/slack.ipynb
  docs/docs/integrations/toolkits/spark_sql.ipynb
  docs/docs/integrations/toolkits/sql_database.ipynb
  docs/docs/integrations/toolkits/steam.ipynb
  docs/docs/integrations/tools/filesystem.ipynb
  docs/docs/integrations/tools/zapier.ipynb
  docs/docs/use_cases/qa_structured/sql.ipynb
  libs/langchain/langchain/agents/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/file_management/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/playwright/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/vectorstore/toolkit.py
  libs/langchain/tests/integration_tests/agent/test_ainetwork_agent.py
  libs/langchain/tests/integration_tests/agent/test_powerbi_agent.py
  libs/langchain/tests/unit_tests/agents/test_sql.py
Labels: area: doc loader, auto:documentation, size:M

#15435 docs: together ai updates
  docs/docs/integrations/text_embedding/together.ipynb
Labels: area: embeddings, auto:documentation, size:XS

#14636 Milvus allows to store metadata as json field
  libs/community/langchain_community/vectorstores/milvus.py
Labels: lgtm, area: vector store, auto:improvement, size:M

#14817 Fix failing serpapi response processing for Google Maps API
  libs/community/langchain_community/utilities/serpapi.py
Labels: lgtm, auto:bug, size:XS

#14524 Add the collection_description parameter to Milvus
  libs/community/langchain_community/vectorstores/milvus.py
Labels: lgtm, area: vector store, auto:improvement, size:XS

#15079 core: update json output parser
  libs/core/langchain_core/output_parsers/json.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
Labels: lgtm, auto:improvement, area: langserve, size:M

#14435 Improvement: Allow passing parameters to the underlying es_client. Closes: #14403
  libs/community/langchain_community/vectorstores/elasticsearch.py
Labels: lgtm, area: vector store, auto:improvement, integration: elasticsearch, size:XS

#14604 adding vectorstore_kwarg attribute to search_similarity function
  libs/core/langchain_core/example_selectors/semantic_similarity.py
Labels: lgtm, area: vector store, auto:improvement, size:XS

#14398 Fix Bedrock broad error catching
  libs/community/langchain_community/llms/bedrock.py
Labels: lgtm, auto:bug, area: models, size:XS

#14405 update LanguageModelInput from List to Sequence
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
Labels: lgtm, auto:nit, area: models, size:XS

#14492 refactor: Qdrant async improvements
  libs/community/langchain_community/vectorstores/qdrant.py
Labels: lgtm, area: vector store, auto:refactor, size:L

#15446 [Improvement] Evals: Add git info
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:improvement, area: models, size:S

#15444 fixed a dependency duplicate
  libs/langchain/langchain/retrievers/self_query/base.py
Labels: lgtm, auto:nit, area: models, size:XS

#15450 cleanup getting started
  docs/docs/get_started/quickstart.mdx
Labels: area: doc loader, auto:documentation, size:S

#14787 feat: new integration `wasm_chat`
  docs/docs/integrations/chat/wasm_chat.ipynb
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/wasm_chat.py
  libs/community/tests/integration_tests/chat_models/test_wasm_chat.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
  libs/community/tests/unit_tests/chat_models/test_wasmchat.py
Labels: lgtm, auto:enhancement, area: models, size:L

#14433 Add option to preserve headers in MarkdownHeaderTextSplitter
  docs/docs/modules/data_connection/document_transformers/markdown_header_metadata.ipynb
  libs/langchain/langchain/text_splitter.py
  libs/langchain/tests/unit_tests/test_text_splitter.py
Labels: lgtm, area: doc loader, auto:improvement, size:L

#14386 Fix `llms.Mlflow` example
  libs/community/langchain_community/llms/mlflow.py
Labels: lgtm, auto:bug, area: models, size:XS

#15451 Patch: improve type hint
  libs/community/langchain_community/utilities/sql_database.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/prompt.py
Labels: lgtm, auto:improvement, area: models, size:S

#14385 Remove unused `Params`
  libs/community/langchain_community/llms/mlflow.py
Labels: auto:nit, area: models, size:S

#15480 core[patch]: Release 0.1.5
  libs/core/pyproject.toml
Labels: auto:nit, area: models, size:XS

#15485 infra: add minimum deps pre release check
  .github/workflows/_release.yml
  libs/community/_test_minimum_requirements.txt
  libs/experimental/_test_minimum_requirements.txt
  libs/langchain/_test_minimum_requirements.txt
Labels: auto:improvement, size:S

#15481 community[patch]: Release 0.0.8
  libs/community/pyproject.toml
Labels: auto:nit, size:XS

#15486 infra: fix min deps test
  .github/workflows/_release.yml
Labels: auto:nit, size:XS

#15488 community[patch]: bump core version >=0.1.5,<0.2
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: auto:nit, size:XS

#15490 infra: update community test min reqs
  libs/community/_test_minimum_requirements.txt
Labels: size:XS

#15482 langchain[patch]: Release 0.0.354
  libs/langchain/_test_minimum_requirements.txt
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:nit, size:XS

#15492 langchain[patch]: bump community >=0.0.8,<0.1
  libs/langchain/_test_minimum_requirements.txt
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:nit, area: models, size:XS

#15502 docs: contributor faq
  docs/docs/contributing/faq.mdx
Labels: auto:documentation, size:S

#15423 infra: fail check_diffs if too many files changed
  .github/scripts/check_diff.py
  .github/workflows/check_diffs.yml
Labels: auto:improvement, size:S

#15436 docs: broken link in contributor docs
  docs/docs/contributing/index.mdx
Labels: area: doc loader, auto:documentation, size:XS

#15509 docs: fix broken link
  docs/docs/get_started/introduction.mdx
Labels: auto:documentation, size:XS

#15430 add new chain howtos
  docs/docs/expression_language/how_to/decorator.ipynb
  docs/docs/expression_language/how_to/functions.ipynb
  docs/docs/expression_language/how_to/inspect.ipynb
Labels: area: doc loader, auto:documentation, size:L

#15546 Revert #15326
  libs/community/langchain_community/callbacks/tracers/__init__.py
  libs/community/tests/integration_tests/callbacks/test_langchain_tracer.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/langchain_v1.py
  libs/core/langchain_core/tracers/schemas.py
  libs/core/tests/unit_tests/callbacks/tracers/__init__.py
  libs/core/tests/unit_tests/tracers/test_base_tracer.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
  libs/core/tests/unit_tests/tracers/test_langchain_v1.py
  libs/core/tests/unit_tests/tracers/test_schemas.py
  libs/langchain/langchain/callbacks/__init__.py
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/callbacks/tracers/__init__.py
  libs/langchain/langchain/callbacks/tracers/langchain_v1.py
  libs/langchain/langchain/callbacks/tracers/schemas.py
  libs/langchain/langchain/schema/callbacks/manager.py
  libs/langchain/langchain/schema/callbacks/tracers/langchain_v1.py
  libs/langchain/langchain/schema/callbacks/tracers/schemas.py
  libs/langchain/tests/unit_tests/callbacks/test_imports.py
  libs/langchain/tests/unit_tests/callbacks/test_manager.py
Labels: auto:refactor, area: models, size:XXL

#15547 core[patch]: Release 0.1.6
  libs/core/pyproject.toml
Labels: auto:nit, size:XS

#15559 core[patch]: Further restrict recursive URL loader
  libs/core/langchain_core/utils/html.py
  libs/core/tests/unit_tests/utils/test_html.py
Labels: lgtm, area: doc loader, auto:bug, size:M

#15561 add ragatouille
  docs/docs/integrations/retrievers/ragatouille.ipynb
  docs/docs/modules/model_io/chat/chat_model_caching.ipynb
  docs/docs/modules/model_io/llms/llm_caching.ipynb
Labels: auto:documentation, size:XL

#15505 langchain[minor]: add warnings when importing integrations from langchain
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/callbacks/__init__.py
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/docstore/__init__.py
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/langchain/document_transformers/__init__.py
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/graphs/__init__.py
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/memory/chat_message_histories/__init__.py
  libs/langchain/langchain/retrievers/__init__.py
  libs/langchain/langchain/storage/__init__.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/utilities/__init__.py
  libs/langchain/langchain/utils/interactive_env.py
  libs/langchain/langchain/vectorstores/__init__.py
  libs/langchain/tests/unit_tests/__init__.py
  libs/langchain/tests/unit_tests/agents/agent_toolkits/__init__.py
  libs/langchain/tests/unit_tests/agents/agent_toolkits/test_imports.py
  libs/langchain/tests/unit_tests/agents/test_imports.py
  libs/langchain/tests/unit_tests/callbacks/test_imports.py
  libs/langchain/tests/unit_tests/chains/test_imports.py
  libs/langchain/tests/unit_tests/chat_models/test_imports.py
  libs/langchain/tests/unit_tests/docstore/test_imports.py
  libs/langchain/tests/unit_tests/document_loaders/test_imports.py
  libs/langchain/tests/unit_tests/document_transformers/test_imports.py
  libs/langchain/tests/unit_tests/embeddings/test_imports.py
  libs/langchain/tests/unit_tests/graphs/test_imports.py
  libs/langchain/tests/unit_tests/memory/chat_message_histories/__init__.py
  libs/langchain/tests/unit_tests/memory/chat_message_histories/test_imports.py
  libs/langchain/tests/unit_tests/memory/test_imports.py
  libs/langchain/tests/unit_tests/output_parsers/test_imports.py
  libs/langchain/tests/unit_tests/prompts/test_imports.py
  libs/langchain/tests/unit_tests/retrievers/test_imports.py
  libs/langchain/tests/unit_tests/smith/test_imports.py
  libs/langchain/tests/unit_tests/storage/test_imports.py
  libs/langchain/tests/unit_tests/tools/test_imports.py
  libs/langchain/tests/unit_tests/utilities/test_imports.py
  libs/langchain/tests/unit_tests/utils/test_imports.py
Labels: area: embeddings, auto:improvement, integration: aws, size:XXL

#15533 removed deprecated openai model
  docs/docs/integrations/text_embedding/openai.ipynb
Labels: lgtm, area: embeddings, auto:documentation, size:XS

#15447 Feat: support Milvus more params
  libs/community/langchain_community/vectorstores/milvus.py
Labels: lgtm, area: vector store, auto:improvement, size:M

#15565 Docs: Fix typos in question_answering
  docs/docs/use_cases/question_answering/index.ipynb
  docs/docs/use_cases/question_answering/quickstart.ipynb
Labels: lgtm, auto:documentation, size:XS

#15566 fix links
  docs/docs/guides/debugging.md
  docs/docs/guides/deployments/index.mdx
  docs/docs/guides/safety/hugging_face_prompt_injection.ipynb
  docs/docs/guides/safety/index.mdx
  docs/docs/integrations/callbacks/streamlit.md
  docs/docs/integrations/document_loaders/docugami.ipynb
  docs/docs/integrations/document_loaders/psychic.ipynb
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
  docs/docs/integrations/llms/llm_caching.ipynb
  docs/docs/integrations/platforms/aws.mdx
  docs/docs/integrations/platforms/google.mdx
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/platforms/openai.mdx
  docs/docs/integrations/providers/activeloop_deeplake.mdx
  docs/docs/integrations/providers/chroma.mdx
  docs/docs/integrations/providers/cohere.mdx
  docs/docs/integrations/providers/databricks.md
  docs/docs/integrations/providers/minimax.mdx
  docs/docs/integrations/providers/motherduck.mdx
  docs/docs/integrations/providers/portkey/logging_tracing_portkey.ipynb
  docs/docs/integrations/providers/reddit.mdx
  docs/docs/integrations/providers/spacy.mdx
  docs/docs/integrations/providers/vectara/index.mdx
  docs/docs/integrations/providers/zep.mdx
  docs/docs/integrations/retrievers/activeloop.ipynb
  docs/docs/integrations/toolkits/openapi_nla.ipynb
  docs/docs/integrations/tools/apify.ipynb
  docs/docs/integrations/vectorstores/alibabacloud_opensearch.ipynb
  docs/docs/integrations/vectorstores/google_vertex_ai_vector_search.ipynb
  docs/docs/integrations/vectorstores/redis.ipynb
  docs/docs/modules/agents/index.ipynb
  docs/docs/modules/memory/agent_with_memory.ipynb
  docs/docs/modules/memory/agent_with_memory_in_db.ipynb
  docs/docs/modules/model_io/prompts/quick_start.ipynb
  docs/docs/use_cases/code_understanding.ipynb
  docs/docs/use_cases/qa_structured/sql.ipynb
  docs/docs/use_cases/question_answering/index.ipynb
  docs/docs/use_cases/question_answering/quickstart.ipynb
Labels: lgtm, auto:documentation, integration: aws, size:XL

#15499 core[minor], langchain[minor]: deprecate Chain and BaseLanguageModel …
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/langchain/langchain/chains/base.py
Labels: auto:refactor, area: models, size:L

#15495 update chain docs
  docs/.local_build.sh
  docs/docs/modules/agents/index.ipynb
  docs/docs/modules/chains.ipynb
  docs/docs/modules/chains/document/index.mdx
  docs/docs/modules/chains/document/map_reduce.ipynb
  docs/docs/modules/chains/document/map_rerank.ipynb
  docs/docs/modules/chains/document/refine.ipynb
  docs/docs/modules/chains/document/stuff.ipynb
  docs/docs/modules/chains/foundational/index.mdx
  docs/docs/modules/chains/foundational/llm_chain.ipynb
  docs/docs/modules/chains/foundational/router.ipynb
  docs/docs/modules/chains/foundational/sequential_chains.ipynb
  docs/docs/modules/chains/foundational/transformation.ipynb
  docs/docs/modules/chains/how_to/async_chain.ipynb
  docs/docs/modules/chains/how_to/call_methods.ipynb
  docs/docs/modules/chains/how_to/custom_chain.ipynb
  docs/docs/modules/chains/how_to/index.mdx
  docs/docs/modules/chains/how_to/memory.mdx
  docs/docs/modules/chains/how_to/openai_functions.ipynb
  docs/docs/modules/chains/index.ipynb
  docs/sidebars.js
  docs/vercel.json
  libs/langchain/langchain/chains/__init__.py
  libs/langchain/tests/unit_tests/chains/test_imports.py
Labels: auto:documentation, size:XXL

#15558 langchain[patch]: deprecate old agent classes and methods
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/agent_types.py
  libs/langchain/langchain/agents/chat/base.py
  libs/langchain/langchain/agents/conversational/base.py
  libs/langchain/langchain/agents/conversational_chat/base.py
  libs/langchain/langchain/agents/initialize.py
  libs/langchain/langchain/agents/loading.py
  libs/langchain/langchain/agents/mrkl/base.py
  libs/langchain/langchain/agents/openai_functions_agent/base.py
  libs/langchain/langchain/agents/openai_functions_multi_agent/base.py
  libs/langchain/langchain/agents/react/base.py
  libs/langchain/langchain/agents/self_ask_with_search/base.py
  libs/langchain/langchain/agents/structured_chat/base.py
  libs/langchain/langchain/agents/xml/base.py
Labels: area: agent, lgtm, auto:refactor, size:M

#15507 update memory
  docs/docs/modules/memory/index.mdx
Labels: area: memory, auto:documentation, size:S

#15589 core[patch]: add beta decorator
  libs/core/langchain_core/_api/beta.py
  libs/core/tests/unit_tests/_api/test_beta.py
Labels: lgtm, auto:improvement, size:L

#15218 google-vertexai: added langchain_google_vertexai package
  libs/partners/google-vertexai/.gitignore
  libs/partners/google-vertexai/LICENSE
  libs/partners/google-vertexai/Makefile
  libs/partners/google-vertexai/README.md
  libs/partners/google-vertexai/langchain_google_vertexai/__init__.py
  libs/partners/google-vertexai/langchain_google_vertexai/_utils.py
  libs/partners/google-vertexai/langchain_google_vertexai/chat_models.py
  libs/partners/google-vertexai/langchain_google_vertexai/embeddings.py
  libs/partners/google-vertexai/langchain_google_vertexai/llms.py
  libs/partners/google-vertexai/langchain_google_vertexai/py.typed
  libs/partners/google-vertexai/poetry.lock
  libs/partners/google-vertexai/pyproject.toml
  libs/partners/google-vertexai/scripts/check_imports.py
  libs/partners/google-vertexai/scripts/check_pydantic.sh
  libs/partners/google-vertexai/scripts/lint_imports.sh
  libs/partners/google-vertexai/tests/__init__.py
  libs/partners/google-vertexai/tests/integration_tests/__init__.py
  libs/partners/google-vertexai/tests/integration_tests/test_chat_models.py
  libs/partners/google-vertexai/tests/integration_tests/test_compile.py
  libs/partners/google-vertexai/tests/integration_tests/test_embeddings.py
  libs/partners/google-vertexai/tests/integration_tests/test_llms.py
  libs/partners/google-vertexai/tests/unit_tests/__init__.py
  libs/partners/google-vertexai/tests/unit_tests/test_chat_models.py
  libs/partners/google-vertexai/tests/unit_tests/test_imports.py
Labels: lgtm, area: embeddings, auto:enhancement, size:XXL, partner

#15600 Fix chain docs redirects
  docs/vercel.json
Labels: auto:documentation, size:XS

#15603 core[patch], community[patch]: mark context, load as beta
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/chat_loaders/langsmith.py
  libs/core/langchain_core/__init__.py
  libs/core/langchain_core/_api/__init__.py
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/beta/runnables/context.py
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/tests/unit_tests/_api/test_beta_decorator.py
  libs/core/tests/unit_tests/_api/test_imports.py
Labels: area: agent, auto:refactor, integration: elasticsearch, size:M

#15609 infra: vertex integration test creds
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
Labels: auto:improvement, integration: aws, size:S

#15611 google-vertexai, openai: release candidate version
  libs/partners/google-vertexai/pyproject.toml
  libs/partners/openai/pyproject.toml
Labels: auto:nit, area: models, size:XS, partner

#15610 core[patch]: Release 0.1.7
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/pyproject.toml
Labels: auto:nit, size:M

#15613 google-vertexai: release 0.0.1
  libs/partners/google-vertexai/pyproject.toml
Labels: auto:nit, size:XS, partner

#15612 infra: title release action runs
  .github/workflows/_release.yml
Labels: auto:nit, size:XS

#15614 openai: core version, rc1
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: auto:nit, area: models, size:XS, partner

#15615 community[patch]: Release 0.0.9
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: auto:nit, size:XS

#15617 infra: community bump min core version
  libs/community/_test_minimum_requirements.txt
Labels: size:XS

#15608 core[patch]: deprecate v1 tracer
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/langchain_v1.py
  libs/core/langchain_core/tracers/schemas.py
Labels: lgtm, auto:refactor, size:S

#15618 openai[patch]: v0.0.2
  libs/partners/openai/pyproject.toml
Labels: auto:nit, area: models, size:XS, partner

#15562 docs: update cohere chat integration
  docs/docs/integrations/chat/cohere.ipynb
  docs/docs/integrations/llms/cohere.ipynb
  docs/docs/integrations/memory/sql_chat_message_history.ipynb
  docs/docs/integrations/retrievers/tavily.ipynb
  docs/docs/integrations/toolkits/gmail.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
  docs/docs/integrations/vectorstores/faiss.ipynb
  libs/community/langchain_community/chat_models/cohere.py
Labels: auto:documentation, size:XXL

#15619 langchain[minor]: Release 0.1.0
  libs/langchain/_test_minimum_requirements.txt
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: auto:nit, size:S

#15620 infra: fix langchain openai test dep
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
Labels: auto:nit, area: models, size:XS

#15621 community[patch]: fix deprecation warnings on openai subclasses
  libs/community/langchain_community/chat_models/anyscale.py
  libs/community/langchain_community/chat_models/everlyai.py
  libs/community/langchain_community/chat_models/promptlayer_openai.py
  libs/community/langchain_community/llms/promptlayer_openai.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
Labels: auto:improvement, area: models, size:M

#15483 experimental[patch]: Release 0.0.48
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: auto:nit, size:XS

#15637 move output parser table
  docs/docs/modules/model_io/output_parsers/index.mdx
  docs/docs/modules/model_io/output_parsers/types/index.mdx
Labels: auto:documentation, area: models, size:M

#15645 fix docs build
  docs/docs/get_started/quickstart.mdx
Labels: auto:documentation, size:XS

#15642 community: Replaced hardcoded "metadata" with FIELDS_METADATA variable in semantic_hybrid_search_with_score_and_rerank
  libs/community/langchain_community/vectorstores/azuresearch.py
Labels: lgtm, area: vector store, auto:bug, size:XS

#15631 community: Fixed bug of "system message check" in chat_models/tongyi.
  libs/community/langchain_community/chat_models/tongyi.py
Labels: auto:bug, area: models, size:XS

#15649 Update openai_tools.ipynb
  docs/docs/modules/agents/agent_types/openai_tools.ipynb
Labels: lgtm, auto:documentation, size:S

#15630 community: Provide more actionable errors in the MathPix PDF loader
  libs/community/langchain_community/document_loaders/pdf.py
Labels: lgtm, area: doc loader, auto:improvement, size:XS

#15629 community: Include PDF ID in MathPix metadata
  libs/community/langchain_community/document_loaders/pdf.py
Labels: lgtm, area: doc loader, auto:improvement, size:XS

#15627 community: Allow deleting by ID and collection in `pgvector`
  libs/community/langchain_community/vectorstores/pgvector.py
Labels: lgtm, area: vector store, auto:improvement, integration: supabase, size:S

#15569 Adding reading source for Curie model
  docs/docs/modules/model_io/output_parsers/types/pydantic.ipynb
Labels: lgtm, auto:documentation, area: models, size:XS

#15578 changed broken link for wandb tracing with agent
  docs/docs/integrations/providers/wandb_tracking.ipynb
Labels: lgtm, auto:documentation, size:XS

#15534 fix: Fix DEFAULT_API_KEY for ArgillaCallbackHandler
  libs/community/langchain_community/callbacks/argilla_callback.py
Labels: area: agent, lgtm, auto:bug, size:XS

#15529 community: Correct Input API Key Name in Notebook and Enhance Readability of Comments for ZhipuAI Chat Model
  docs/docs/integrations/chat/zhipuai.ipynb
  libs/community/langchain_community/chat_models/zhipuai.py
Labels: lgtm, auto:documentation, area: models, size:XL

#15519 Feat: add CHM file loader
  libs/community/langchain_community/document_loaders/chm.py
Labels: lgtm, area: doc loader, auto:enhancement, size:L

#15493 fix: Ollama import statements
  docs/docs/integrations/providers/ollama.mdx
Labels: lgtm, auto:documentation, size:XS

#15470 Docs: fix excel document loader typo
  libs/community/langchain_community/document_loaders/excel.py
Labels: lgtm, area: doc loader, auto:documentation, size:XS

#15568 community: fix: should flush after inserting data on milvus
  libs/community/langchain_community/vectorstores/milvus.py
Labels: lgtm, area: vector store, auto:bug, size:XS

#15658 update ragatouille integration
  docs/docs/integrations/retrievers/ragatouille.ipynb
  docs/docs/integrations/retrievers/tavily.ipynb
Labels: auto:documentation, size:L

#15661 Docs: Add missing import of 'ConfigurableField' in 'Full code comparison' example in LCEL
  docs/docs/expression_language/why.ipynb
Labels: lgtm, auto:documentation, area: lcel, size:XS

#15599 Populate streamed_output for all runs handled by atransform_stream_with_config
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: auto:improvement, area: models, size:L

#15641 Do not issue beta or deprecation warnings on internal calls
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/chat_loaders/langsmith.py
  libs/community/langchain_community/chat_models/anyscale.py
  libs/community/langchain_community/chat_models/everlyai.py
  libs/community/langchain_community/chat_models/promptlayer_openai.py
  libs/community/langchain_community/llms/promptlayer_openai.py
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/_api/internal.py
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/tracers/log_stream.py
Labels: auto:refactor, area: models, size:L

#15677 core[patch]: Release 0.1.8
  libs/core/pyproject.toml
Labels: auto:nit, size:XS

#15678 community[patch]: Release 0.0.10
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: auto:nit, size:XS

#15710 dont use docarray
  docs/docs/get_started/quickstart.mdx
  docs/docs/modules/agents/quick_start.ipynb
Labels: area: agent, auto:documentation, size:S

#15682 docs: add LangGraph
  docs/sidebars.js
  docs/vercel_build.sh
Labels: auto:documentation, size:XS

#15717 community[patch]: Support different Pinecone initializations depending on the version
  libs/community/langchain_community/vectorstores/pinecone.py
Labels: area: vector store, auto:improvement, integration: pinecone, size:M

#15716 bugfix/fix table in documentation for langchain-community
  docs/scripts/model_feat_table.py
Labels: auto:documentation, area: models, size:XS
