Repository langchain-ai/langchain, pull requests merged in 2024-10, with the labels that each got.

#26837 multiple: update docs urls to latest 2
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/document_loaders.ipynb
  libs/cli/langchain_cli/integration_template/docs/llms.ipynb
  libs/cli/langchain_cli/integration_template/docs/stores.ipynb
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
  libs/community/langchain_community/agent_toolkits/github/toolkit.py
  libs/community/langchain_community/agent_toolkits/gmail/toolkit.py
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
  libs/community/langchain_community/graph_vectorstores/extractors/html_link_extractor.py
  libs/community/langchain_community/retrievers/azure_ai_search.py
  libs/community/langchain_community/retrievers/milvus.py
  libs/community/langchain_community/retrievers/qdrant_sparse_vector_retriever.py
  libs/core/langchain_core/agents.py
  libs/core/langchain_core/language_models/__init__.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/langchain/langchain/_api/module_import.py
  libs/langchain/langchain/agents/agent_toolkits/vectorstore/base.py
  libs/langchain/langchain/chains/combine_documents/stuff.py
  libs/langchain/langchain/chains/conversation/base.py
  libs/langchain/langchain/chains/mapreduce.py
  libs/langchain/langchain/chains/openai_functions/qa_with_structure.py
  libs/langchain/langchain/chains/openai_functions/tagging.py
  libs/langchain/langchain/chains/qa_with_sources/base.py
  libs/langchain/langchain/chains/qa_with_sources/loading.py
  libs/langchain/langchain/chains/question_answering/chain.py
  libs/langchain/langchain/chains/retrieval_qa/base.py
  libs/partners/milvus/README.md
  libs/partners/mongodb/tests/integration_tests/test_chain_example.py
Labels: 🤖:docs, size:L, partner

#26923 unstructured: mv to external repo
  .github/workflows/_release.yml
  libs/partners/unstructured/.gitignore
  libs/partners/unstructured/LICENSE
  libs/partners/unstructured/Makefile
  libs/partners/unstructured/README.md
  libs/partners/unstructured/langchain_unstructured/__init__.py
  libs/partners/unstructured/langchain_unstructured/document_loaders.py
  libs/partners/unstructured/langchain_unstructured/py.typed
  libs/partners/unstructured/poetry.lock
  libs/partners/unstructured/pyproject.toml
  libs/partners/unstructured/scripts/check_imports.py
  libs/partners/unstructured/scripts/lint_imports.sh
  libs/partners/unstructured/tests/__init__.py
  libs/partners/unstructured/tests/integration_tests/__init__.py
  libs/partners/unstructured/tests/integration_tests/test_compile.py
  libs/partners/unstructured/tests/integration_tests/test_document_loaders.py
  libs/partners/unstructured/tests/unit_tests/__init__.py
  libs/partners/unstructured/tests/unit_tests/test_document_loaders.py
  libs/partners/unstructured/tests/unit_tests/test_imports.py
Labels: size:XXL, partner

#26920 milvus: mv to external repo
  libs/partners/milvus/.gitignore
  libs/partners/milvus/LICENSE
  libs/partners/milvus/Makefile
  libs/partners/milvus/README.md
  libs/partners/milvus/langchain_milvus/__init__.py
  libs/partners/milvus/langchain_milvus/py.typed
  libs/partners/milvus/langchain_milvus/retrievers/__init__.py
  libs/partners/milvus/langchain_milvus/retrievers/milvus_hybrid_search.py
  libs/partners/milvus/langchain_milvus/retrievers/zilliz_cloud_pipeline_retriever.py
  libs/partners/milvus/langchain_milvus/utils/__init__.py
  libs/partners/milvus/langchain_milvus/utils/sparse.py
  libs/partners/milvus/langchain_milvus/vectorstores/__init__.py
  libs/partners/milvus/langchain_milvus/vectorstores/milvus.py
  libs/partners/milvus/langchain_milvus/vectorstores/zilliz.py
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
  libs/partners/milvus/scripts/check_imports.py
  libs/partners/milvus/scripts/lint_imports.sh
  libs/partners/milvus/tests/__init__.py
  libs/partners/milvus/tests/integration_tests/__init__.py
  libs/partners/milvus/tests/integration_tests/retrievers/__init__.py
  libs/partners/milvus/tests/integration_tests/test_compile.py
  libs/partners/milvus/tests/integration_tests/utils.py
  libs/partners/milvus/tests/integration_tests/vectorstores/__init__.py
  libs/partners/milvus/tests/integration_tests/vectorstores/test_milvus.py
  libs/partners/milvus/tests/unit_tests/__init__.py
  libs/partners/milvus/tests/unit_tests/retrievers/__init__.py
  libs/partners/milvus/tests/unit_tests/test_imports.py
  libs/partners/milvus/tests/unit_tests/vectorstores/__init__.py
  libs/partners/milvus/tests/unit_tests/vectorstores/test_milvus.py
Labels: size:XXL, partner

#26764 Bug-Fix[Community] Fix `FastEmbedEmbeddings`
  libs/community/langchain_community/embeddings/fastembed.py
  libs/community/tests/integration_tests/embeddings/test_fastembed.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:S, community

#26733 community: deprecate community ollama integrations
  libs/community/langchain_community/chat_models/ollama.py
  libs/community/langchain_community/embeddings/ollama.py
  libs/community/langchain_community/llms/ollama.py
Labels: Ɑ: embeddings, size:S, community

#26951 docs: build new api docs
  docs/Makefile
  docs/package.json
  docs/vercel_build.sh
Labels: 🤖:docs, size:S

#26903 core[patch]: fix init of RunnableAssign
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, 🤖:bug, size:S, Ɑ: core

#27027 huggingface[patch]: make HuggingFaceEndpoint serializable
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
Labels: 🤖:nit, size:M, partner

#27031 huggingface[patch]: xfail test
  libs/partners/huggingface/tests/integration_tests/test_standard.py
Labels: size:XS, partner

#27032 Revert "huggingface[patch]: make HuggingFaceEndpoint serializable (#2…
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
Labels: size:M, partner

#27033 infra: fix api docs build checkout 2
  .github/workflows/api_doc_build.yml
Labels: size:S

#27045 core[patch]: Support injected tool args that are arbitrary types
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, size:S, Ɑ: core, langchain

#27046 core[patch]: Release 0.3.8
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#27057 docs[patch]: add long-term memory agent tutorial
  docs/docs/versions/migrating_memory/conversation_buffer_memory.ipynb
  docs/docs/versions/migrating_memory/index.mdx
  docs/docs/versions/migrating_memory/long_term_memory_agent.ipynb
Labels: size:S

#27062 community: chore warn deprecate the wandb callback handler
  libs/community/langchain_community/callbacks/wandb_callback.py
Labels: lgtm, 🤖:nit, size:S, community

#27076 community[patch]: Fix missing protected_namespaces
  libs/community/langchain_community/llms/azureml_endpoint.py
  libs/community/langchain_community/llms/bedrock.py
  libs/community/langchain_community/llms/minimax.py
  libs/community/langchain_community/llms/vertexai.py
  libs/community/langchain_community/llms/volcengine_maas.py
Labels: lgtm, 🤖:bug, size:S, community

#27082 docs: remove spaces in percent pip
  docs/docs/integrations/document_loaders/airbyte.ipynb
  docs/docs/integrations/document_loaders/browserbase.ipynb
  docs/docs/tutorials/local_rag.ipynb
  docs/docs/versions/migrating_chains/map_reduce_chain.ipynb
Labels: 🤖:docs, size:XS

#26844 partners docs: Documentation update for Document Parse
  docs/docs/integrations/document_loaders/upstage.ipynb
  docs/docs/integrations/providers/upstage.ipynb
Labels: 🤖:docs, size:S

#27072 core[patch]: add UsageMetadata details
  libs/core/langchain_core/messages/ai.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
Labels: lgtm, size:L, Ɑ: core

#27080 openai[patch]: add usage metadata details
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
Labels: lgtm, size:L, partner

#27086 core[patch]: exclude model cache from ser
  libs/core/langchain_core/language_models/base.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Labels: lgtm, 🤖:nit, size:M

#26924 core: fix batch race condition in FakeListChatModel
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Labels: lgtm, 🤖:bug, size:M, Ɑ: core

#26934 docs: Integrations NVIDIA llm documentation
  docs/docs/integrations/llms/nvidia_ai_endpoints.ipynb
Labels: lgtm, 🤖:docs, size:L

#26961 docs[patch]: update links w/ new langgraph API ref
  docs/scripts/generate_api_reference_links.py
Labels: lgtm, 🤖:docs, size:L

#27091 openai: fix None token detail
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:bug, size:S, partner

#27087 anthropic[patch]: add usage_metadata details
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_standard.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: lgtm, size:L, partner

#27110 core,integrations[minor]: Dont error on fields in model_kwargs
  libs/community/langchain_community/chat_models/snowflake.py
  libs/community/langchain_community/llms/anthropic.py
  libs/community/langchain_community/llms/llamacpp.py
  libs/community/langchain_community/llms/openai.py
  libs/community/tests/unit_tests/chat_models/test_anthropic.py
  libs/community/tests/unit_tests/llms/test_openai.py
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/utils.py
  libs/core/tests/unit_tests/utils/test_imports.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/llms.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/langchain_fireworks/llms.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/tests/unit_tests/llms/test_base.py
Labels: 🤖:nit, size:L, partner, community

#27012 box: Add citation support to langchain_box.retrievers.BoxRetriever when used with Box AI
  docs/docs/integrations/retrievers/box.ipynb
  libs/partners/box/langchain_box/retrievers/box.py
  libs/partners/box/langchain_box/utilities/box.py
  libs/partners/box/poetry.lock
  libs/partners/box/pyproject.toml
  libs/partners/box/tests/unit_tests/retrievers/test_box_retriever.py
Labels: 🤖:docs, size:L, partner, Ɑ: retriever

#27117 core[patch]: Release 0.3.9
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#27118 anthropic[patch]: Release 0.2.2
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner, 🤖:release

#27119 openai[patch]: Release 0.2.2
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release

#27120 fireworks[patch]: Release 0.2.1
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
Labels: size:S, partner, 🤖:release

#27115 infra: add nvidia and astradb back to api build
  .github/workflows/api_doc_build.yml
Labels: size:XS

#27125 anthropic[patch]: fix input_tokens when cached
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: 🤖:bug, size:M, partner

#27126 anthropic[patch]: Release 0.2.3
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner, 🤖:release

#27114 Added mapping to fix CI for #langchain-aws:227.
  libs/community/tests/unit_tests/load/test_serializable.py
  libs/core/langchain_core/load/mapping.py
Labels: lgtm, 🤖:bug, size:S

#27124 docs: update Google Spanner Vector Store documentation
  docs/docs/integrations/vectorstores/google_spanner.ipynb
Labels: lgtm, 🤖:docs, size:M

#27108 fix: Correct typo in 'PromptTemplate' documentation
  libs/core/langchain_core/runnables/base.py
Labels: lgtm, 🤖:nit, size:XS

#27056 community: sambastudio chat model
  docs/docs/integrations/chat/sambastudio.ipynb
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/sambanova.py
  libs/community/tests/integration_tests/chat_models/test_sambanova.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
Labels: lgtm, 🤖:docs, size:XXL, community

#26998 core: add **kwargs to index and aindex functions for custom vector_field support
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
Labels: lgtm, needs test, size:L, Ɑ: core

#27169 Update MIGRATE.md
  MIGRATE.md
Labels: 🤖:docs, size:M

#27149 docs: Grammar fix in concepts.mdx
  docs/docs/concepts.mdx
Labels: lgtm, 🤖:nit, size:XS, langchain

#26885 core: Fix `AsyncCallbackManager` to honor `run_inline` attribute and prevent context loss
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
Labels: lgtm, 🤖:bug, size:L, Ɑ: core

#26660 core: Improve support for id in VectorStore
  libs/community/langchain_community/vectorstores/usearch.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Labels: lgtm, Ɑ: vector store, size:L

#27171 docs: move concepts into a separate directory
  docs/docs/concepts/index.mdx
  docs/sidebars.js
Labels: 🤖:docs, size:S

#27099 Update README.md for Tutorial to Usecase url
  README.md
Labels: lgtm, 🤖:nit, size:XS

#27104 community: AzureSearch: fix reranking for empty lists
  libs/community/langchain_community/vectorstores/azuresearch.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS, community

#27174 core: update make format to fix all autofixable things
  libs/core/Makefile
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core

#26836 core: Add various ruff rules
  libs/core/langchain_core/embeddings/fake.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/utils/utils.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/chat_history/test_chat_history.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/llms/test_base.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/stubs.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/vectorstores/test_in_memory.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Labels: size:L, Ɑ: core

#27015 docs: `integrations` updates 17
  docs/docs/integrations/providers/baai.mdx
  docs/docs/integrations/providers/jina.mdx
  docs/docs/integrations/text_embedding/ipex_llm.ipynb
  docs/docs/integrations/text_embedding/ipex_llm_gpu.ipynb
  docs/docs/integrations/text_embedding/jina.ipynb
  docs/docs/integrations/tools/sql_database.ipynb
Labels: lgtm, 🤖:docs, size:L

#27022 👥 Update LangChain people data
  docs/data/people.yml
Labels: lgtm, 🤖:docs, size:XL

#27023 DOC:Changed /docs/integrations/tools/jira/
  docs/docs/integrations/tools/jira.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27029 Fixed typo in llibs/community/langchain_community/storage/sql.py
  libs/community/langchain_community/storage/sql.py
Labels: lgtm, 🤖:docs, size:XS, community

#27177 standard-tests: test that only one chunk sets input_tokens
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: 🤖:nit, size:S

#27041 docs: update passio_nutrition_ai.ipynb
  docs/docs/integrations/tools/passio_nutrition_ai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27042 docs: in chatbot tutorial, make docs consistent with code sample
  docs/docs/tutorials/chatbot.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27055 docs: `integrations/providers/microsoft` update
  docs/docs/integrations/platforms/microsoft.mdx
Labels: lgtm, 🤖:docs, size:M

#27054 docs: `integrations` updates 18
  docs/docs/integrations/providers/koboldai.mdx
  docs/docs/integrations/tools/jira.ipynb
  docs/docs/integrations/tools/json.ipynb
Labels: lgtm, 🤖:docs, size:L

#27202 community[patch]: fix structured_output in llamacpp integration
  libs/community/langchain_community/chat_models/llamacpp.py
  libs/community/tests/integration_tests/chat_models/test_llamacpp.py
Labels: 🤖:bug, size:S, community

#27203 core[patch]: utils for adding/subtracting usage metadata
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/utils/usage.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/tests/unit_tests/utils/test_usage.py
Labels: lgtm, size:L

#26767 langchain_chroma[patch]: updated example for get documents with where clause
  libs/partners/chroma/langchain_chroma/vectorstores.py
Labels: lgtm, Ɑ: vector store, size:XS, partner

#27189 docs: Update IBM `ChatWatsonx` documentation
  docs/docs/integrations/chat/ibm_watsonx.ipynb
Labels: lgtm, 🤖:docs, size:M

#27206 openai[patch]: default temp=1 for o1
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: lgtm, 🤖:nit, size:S, partner

#27209 core: release 0.3.10
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Labels: size:XS, 🤖:release

#27212 docs: minor fix sambastudio chat model docs
  docs/docs/integrations/chat/sambastudio.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27213 langchain: release 0.3.3
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#27190 Fix database connections for neo4j
  libs/community/langchain_community/graphs/neo4j_graph.py
  libs/community/langchain_community/vectorstores/neo4j_vector.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS, community

#26645 [community] Add timeout control and retry for UC tool execution
  docs/docs/integrations/tools/databricks.ipynb
  libs/community/langchain_community/tools/databricks/_execution.py
Labels: lgtm, size:M, community

#27214 community: release 0.3.2
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#27078 community: Cassandra Vector Store: extend metadata-related methods
  libs/community/langchain_community/vectorstores/cassandra.py
  libs/community/tests/integration_tests/vectorstores/test_cassandra.py
Labels: lgtm, Ɑ: vector store, size:L, community

#27201 core[patch],langchain[patch],community[patch]: Bump version dependency of tenacity to >=8.1.0,!=8.4.0,<10
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core, langchain

#27181 docs: fixed broken API reference link for StructuredTool.from_function
  docs/docs/how_to/custom_tools.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23522 Community: VectorStore Infinispan. Adding TLS and authentication
  libs/community/langchain_community/vectorstores/infinispanvs.py
  libs/community/tests/integration_tests/vectorstores/docker-compose/infinispan.sh
  libs/community/tests/integration_tests/vectorstores/docker-compose/infinispan/conf/groups.properties
  libs/community/tests/integration_tests/vectorstores/docker-compose/infinispan/conf/infinispan.xml
  libs/community/tests/integration_tests/vectorstores/docker-compose/infinispan/conf/users.properties
  libs/community/tests/integration_tests/vectorstores/docker-compose/infinispan/docker-compose.yaml
  libs/community/tests/integration_tests/vectorstores/test_infinispanvs.py
Labels: Ɑ: vector store, 🤖:improvement, size:L, community

#27229 core[patch]: Ignore ASYNC110 to upgrade to newest ruff version
  libs/core/langchain_core/rate_limiters.py
Labels: 🤖:nit, size:XS

#27243 Update chatbot.ipynb
  docs/docs/tutorials/chatbot.ipynb
Labels: lgtm, 🤖:docs, size:XS

#26041 fix: Problem with embeddings in new versions of clickhouse.
  libs/community/langchain_community/vectorstores/clickhouse.py
  libs/community/langchain_community/vectorstores/myscale.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:S, community

#27277 scaffold
  docs/docs/concepts/agents.mdx
  docs/docs/concepts/callbacks.mdx
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/embedding_models.mdx
  docs/docs/concepts/index.mdx
  docs/docs/concepts/lcel.mdx
  docs/docs/concepts/llms.mdx
  docs/docs/concepts/messages.mdx
  docs/docs/concepts/multimodality.mdx
  docs/docs/concepts/output_parsers.mdx
  docs/docs/concepts/prompts.mdx
  docs/docs/concepts/retrievers.mdx
  docs/docs/concepts/runnables.mdx
  docs/docs/concepts/streaming.mdx
  docs/docs/concepts/text_splitters.mdx
  docs/docs/concepts/vectorstores.mdx
Labels: size:XL

#27290 concepts docs: archictecture individual page
  docs/docs/concepts/architecture.mdx
  docs/docs/concepts/index.mdx
Labels: size:L

#27172 docs: add discussions with giscus
  docs/package.json
  docs/src/theme/DocItem/Paginator/index.js
  docs/src/theme/Feedback.js
  docs/yarn.lock
Labels: 🤖:docs, size:S

#27305 chroma: Deprecating versions 0.5.7 thru 0.5.12
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS

#27317 docs: Maybe there is a missing closing bracket.
  docs/docs/concepts.mdx
Labels: lgtm, 🤖:nit, size:XS, langchain

#26322 [community] [Bugfix] base_o365 document loader metadata needs to be JSON serializable
  libs/community/langchain_community/document_loaders/base_o365.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS, community

#27345 community: fixed KeyError: 'client'
  libs/community/langchain_community/llms/bedrock.py
Labels: lgtm, 🤖:bug, size:XS, community

#26548 Community: Updated Firecrawl Document Loader to v1
  docs/docs/integrations/document_loaders/firecrawl.ipynb
  libs/community/langchain_community/document_loaders/firecrawl.py
Labels: Ɑ: doc loader, 🤖:docs, size:L, community

#27083 community: Update OCI data science integration
  docs/docs/integrations/chat/oci_data_science.ipynb
  docs/docs/integrations/llms/oci_model_deployment_endpoint.ipynb
  docs/docs/integrations/providers/oci.mdx
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/oci_data_science.py
  libs/community/langchain_community/llms/__init__.py
  libs/community/langchain_community/llms/oci_data_science_model_deployment_endpoint.py
  libs/community/scripts/check_pydantic.sh
  libs/community/tests/unit_tests/chat_models/test_imports.py
  libs/community/tests/unit_tests/chat_models/test_oci_data_science.py
  libs/community/tests/unit_tests/chat_models/test_oci_model_deployment_endpoint.py
  libs/community/tests/unit_tests/llms/test_imports.py
  libs/community/tests/unit_tests/llms/test_oci_model_deployment_endpoint.py
Labels: lgtm, size:XXL, community

#27084 community: refactor Arxiv search logic
  libs/community/langchain_community/utilities/arxiv.py
Labels: lgtm, size:M, community

#27370 community: clear mypy syntax warning in openapi
  libs/community/langchain_community/agent_toolkits/openapi/planner.py
Labels: 🤖:nit, size:XS, community

#27094 docs: fix community pgvector deprecation warning formatting
  libs/community/langchain_community/vectorstores/pgvector.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:S, community

#27105 [Anthropic] Shallow Copy
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: lgtm, 🤖:nit, size:S, partner

#27200 multiple: rely on asyncio_mode auto in tests
  libs/community/tests/integration_tests/chat_models/test_litellm_router.py
  libs/community/tests/integration_tests/chat_models/test_qianfan_endpoint.py
  libs/community/tests/integration_tests/chat_models/test_yuan2.py
  libs/community/tests/integration_tests/indexes/test_document_manager.py
  libs/community/tests/integration_tests/llms/test_vertexai.py
  libs/community/tests/integration_tests/retrievers/test_contextual_compression.py
  libs/community/tests/integration_tests/storage/test_sql.py
  libs/community/tests/integration_tests/vectorstores/test_upstash.py
  libs/community/tests/unit_tests/embeddings/test_infinity_local.py
  libs/community/tests/unit_tests/llms/test_bedrock.py
  libs/community/tests/unit_tests/retrievers/test_you.py
  libs/community/tests/unit_tests/tools/test_you.py
  libs/community/tests/unit_tests/utilities/test_you.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/_api/test_beta_decorator.py
  libs/core/tests/unit_tests/_api/test_deprecation.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/azure-dynamic-sessions/pyproject.toml
  libs/partners/chroma/pyproject.toml
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/pyproject.toml
  libs/partners/mongodb/pyproject.toml
  libs/partners/nomic/pyproject.toml
  libs/partners/openai/pyproject.toml
  libs/partners/pinecone/pyproject.toml
  libs/partners/pinecone/tests/integration_tests/test_embeddings.py
  libs/partners/prompty/pyproject.toml
  libs/partners/qdrant/pyproject.toml
  libs/partners/voyageai/pyproject.toml
  libs/text-splitters/pyproject.toml
Labels: lgtm, 🤖:nit, size:L, partner, community

#27210 docs: `integrations` updates 20
  docs/docs/integrations/providers/konlpy.mdx
  docs/docs/integrations/providers/kuzu.mdx
  docs/docs/integrations/providers/llama_index.mdx
  docs/docs/integrations/providers/llamaedge.mdx
  docs/docs/integrations/providers/llamafile.mdx
Labels: 🤖:docs, size:L

#27238 community: sambastudio chat model integration minor fix
  libs/community/langchain_community/chat_models/sambanova.py
Labels: lgtm, size:S, community

#27374 infra: add databricks api build
  .github/workflows/api_doc_build.yml
Labels: size:XS

#27375 partners/couchbase: release 0.2.0 (attempt 2)
  libs/partners/couchbase/poetry.lock
  libs/partners/couchbase/pyproject.toml
Labels: size:XS, 🤖:release

#27367 community[patch]: Fix vLLM integration to filter SamplingParams
  libs/community/langchain_community/llms/vllm.py
Labels: lgtm, 🤖:bug, size:S, community

#27218 docs: `integrations google` update
  docs/docs/integrations/platforms/google.mdx
Labels: lgtm, 🤖:docs, size:S

#27330 community: Add support for clob datatype in oracle database
  libs/community/langchain_community/document_loaders/oracleadb_loader.py
Labels: lgtm, Ɑ: doc loader, size:XS, community

#27355 Add deprecation notice for Databricks integration in langchain-community
  libs/community/langchain_community/chat_models/databricks.py
  libs/community/langchain_community/embeddings/databricks.py
  libs/community/langchain_community/llms/databricks.py
  libs/community/langchain_community/vectorstores/databricks_vector_search.py
Labels: lgtm, Ɑ: vector store, size:S, community

#27358 docs: Update IBM `ChatWatsonx` documentation
  docs/docs/integrations/chat/ibm_watsonx.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27380 docs: `integrations` updates 21
  docs/docs/integrations/providers/byte_dance.mdx
  docs/docs/integrations/providers/localai.mdx
  docs/docs/integrations/providers/milvus.mdx
  docs/docs/integrations/providers/mongodb.mdx
  docs/docs/integrations/providers/mongodb_atlas.mdx
Labels: 🤖:docs, size:L

#27364 community[minor]: add proxy support to RecursiveUrlLoader
  docs/docs/security.md
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
Labels: lgtm, Ɑ: doc loader, size:S, community

#27263 core[patch]: add convert_to_openai_messages util
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_imports.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/langchain/langchain/chat_models/base.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: lgtm, size:XL

#27394 docs: Cosmetic documentation fix. Update `llm_chain.ipynb`.
  docs/docs/tutorials/llm_chain.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27399 monorepo: add script for updating notebook cassettes
  .github/workflows/run_notebooks.yml
  docs/cassettes/agent_executor_114ba50d.msgpack.zlib
  docs/cassettes/agent_executor_1f5932b6.msgpack.zlib
  docs/cassettes/agent_executor_3fa4780a.msgpack.zlib
  docs/cassettes/agent_executor_550e0c6e.msgpack.zlib
  docs/cassettes/agent_executor_688b465d.msgpack.zlib
  docs/cassettes/agent_executor_77c2f769.msgpack.zlib
  docs/cassettes/agent_executor_9c9ce713.msgpack.zlib
  docs/cassettes/agent_executor_ae627966.msgpack.zlib
  docs/cassettes/agent_executor_af83d3e3.msgpack.zlib
  docs/cassettes/agent_executor_b6a7e925.msgpack.zlib
  docs/cassettes/agent_executor_c4073e35.msgpack.zlib
  docs/cassettes/agent_executor_c96c960b.msgpack.zlib
  docs/cassettes/agent_executor_dae53ec6.msgpack.zlib
  docs/cassettes/agent_executor_e593bbf6.msgpack.zlib
  docs/cassettes/assign_5.msgpack.zlib
  docs/cassettes/binding_2b65beab-48bb-46ff-a5a4-ef8ac95a513c.msgpack.zlib
  docs/cassettes/binding_32e0484a-78c5-4570-a00b-20d597245a96.msgpack.zlib
  docs/cassettes/binding_f3fdf86d-155f-4587-b7cd-52d363970c1d.msgpack.zlib
  docs/scripts/prepare_notebooks_for_ci.py
  docs/scripts/update_cassettes.sh
  poetry.lock
  pyproject.toml
Labels: size:M

#27285 docs: platforms -> providers
  README.md
  docs/Makefile
  docs/api_reference/guide_imports.json
  docs/docs/how_to/convert_runnable_to_tool.ipynb
  docs/docs/how_to/installation.mdx
  docs/docs/integrations/providers/anthropic.mdx
  docs/docs/integrations/providers/aws.mdx
  docs/docs/integrations/providers/databricks.md
  docs/docs/integrations/providers/google.mdx
  docs/docs/integrations/providers/huggingface.mdx
  docs/docs/integrations/providers/microsoft.mdx
  docs/docs/integrations/providers/openai.mdx
  docs/docs/integrations/text_embedding/google_vertex_ai_palm.ipynb
  docs/docs/introduction.mdx
  docs/docs/versions/v0_2/overview.mdx
  docs/scripts/partner_pkg_table.py
  docs/sidebars.js
  docs/src/theme/NotFound/Content/index.js
  docs/vercel.json
Labels: lgtm, 🤖:docs, size:L

#27403 core[patch]: 0.3.11 release
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#27397 docs, core: error messaging [wip]
  docs/docs/troubleshooting/errors/INVALID_PROMPT_INPUT.mdx
  docs/docs/troubleshooting/errors/INVALID_TOOL_RESULTS.ipynb
  docs/docs/troubleshooting/errors/MESSAGE_COERCION_FAILURE.ipynb
  docs/docs/troubleshooting/errors/MODEL_AUTHENTICATION.mdx
  docs/docs/troubleshooting/errors/MODEL_NOT_FOUND.mdx
  docs/docs/troubleshooting/errors/MODEL_RATE_LIMIT.mdx
  docs/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE.ipynb
  docs/docs/troubleshooting/errors/index.mdx
  docs/docusaurus.config.js
  libs/core/langchain_core/exceptions.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/prompts/base.py
Labels: 🤖:docs, size:L

#27410 core: release 0.3.12
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#27428 infra: schedule triggers monorepo only by default
  .github/workflows/api_doc_build.yml
  .github/workflows/check-broken-links.yml
  .github/workflows/people.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Labels: size:S

#27425 infra: add ibm api build
  .github/workflows/api_doc_build.yml
Labels: size:S

#27431 docs: fix error reference header
  docs/docs/troubleshooting/errors/index.mdx
Labels: 🤖:docs, size:XS

#27437 docs: Update custom name for IBM
  docs/api_reference/create_api_rst.py
Labels: lgtm, 🤖:docs, size:XS

#27436 openai: audio modality, remove sockets from unit tests
  libs/partners/openai/.gitignore
  libs/partners/openai/Makefile
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/audio_input.wav
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/llms/test_base.py
  libs/partners/openai/tests/unit_tests/test_token_counts.py
Labels: size:L

#27457 partners/openai: release 0.2.3
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, 🤖:release

#27459 docs: openai audio docs
  docs/docs/integrations/chat/openai.ipynb
Labels: 🤖:docs, size:L

#27465 docs: langgraph error code redirects
  docs/vercel.json
Labels: 🤖:docs, size:XS

#27173 Docs: conceptual docs batch 1
  docs/docs/concepts/async.mdx
  docs/docs/concepts/callbacks.mdx
  docs/docs/concepts/chat_history.mdx
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/index.mdx
  docs/docs/concepts/langgraph.mdx
  docs/docs/concepts/langserve.md
  docs/docs/concepts/lcel.mdx
  docs/docs/concepts/llms.mdx
  docs/docs/concepts/messages.mdx
  docs/docs/concepts/multimodality.mdx
  docs/docs/concepts/runnables.mdx
  docs/docs/concepts/streaming.mdx
  docs/docs/concepts/structured_outputs.mdx
  docs/docs/concepts/tokens.mdx
  docs/docs/concepts/tool_calling.mdx
  docs/docs/concepts/tools.mdx
Labels: 🤖:docs, size:XXL

#27458 langchain: release 0.3.4
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: lgtm, size:XS, 🤖:release, langchain

#27468 azure-dynamic-sessions: migrate to repo
  libs/partners/azure-dynamic-sessions/.gitignore
  libs/partners/azure-dynamic-sessions/LICENSE
  libs/partners/azure-dynamic-sessions/Makefile
  libs/partners/azure-dynamic-sessions/README.md
  libs/partners/azure-dynamic-sessions/langchain_azure_dynamic_sessions/__init__.py
  libs/partners/azure-dynamic-sessions/langchain_azure_dynamic_sessions/py.typed
  libs/partners/azure-dynamic-sessions/langchain_azure_dynamic_sessions/tools/__init__.py
  libs/partners/azure-dynamic-sessions/langchain_azure_dynamic_sessions/tools/sessions.py
  libs/partners/azure-dynamic-sessions/poetry.lock
  libs/partners/azure-dynamic-sessions/pyproject.toml
  libs/partners/azure-dynamic-sessions/scripts/check_imports.py
  libs/partners/azure-dynamic-sessions/scripts/lint_imports.sh
  libs/partners/azure-dynamic-sessions/tests/__init__.py
  libs/partners/azure-dynamic-sessions/tests/integration_tests/__init__.py
  libs/partners/azure-dynamic-sessions/tests/integration_tests/data/testdata.txt
  libs/partners/azure-dynamic-sessions/tests/integration_tests/test_compile.py
  libs/partners/azure-dynamic-sessions/tests/integration_tests/test_end_to_end.py
  libs/partners/azure-dynamic-sessions/tests/unit_tests/__init__.py
  libs/partners/azure-dynamic-sessions/tests/unit_tests/test_imports.py
  libs/partners/azure-dynamic-sessions/tests/unit_tests/test_sessions_python_repl_tool.py
Labels: size:XL

#27467 mongodb: migrate to repo
  libs/partners/mongodb/.gitignore
  libs/partners/mongodb/LICENSE
  libs/partners/mongodb/Makefile
  libs/partners/mongodb/README.md
  libs/partners/mongodb/langchain_mongodb/__init__.py
  libs/partners/mongodb/langchain_mongodb/cache.py
  libs/partners/mongodb/langchain_mongodb/chat_message_histories.py
  libs/partners/mongodb/langchain_mongodb/index.py
  libs/partners/mongodb/langchain_mongodb/pipelines.py
  libs/partners/mongodb/langchain_mongodb/py.typed
  libs/partners/mongodb/langchain_mongodb/retrievers/__init__.py
  libs/partners/mongodb/langchain_mongodb/retrievers/full_text_search.py
  libs/partners/mongodb/langchain_mongodb/retrievers/hybrid_search.py
  libs/partners/mongodb/langchain_mongodb/utils.py
  libs/partners/mongodb/langchain_mongodb/vectorstores.py
  libs/partners/mongodb/poetry.lock
  libs/partners/mongodb/pyproject.toml
  libs/partners/mongodb/scripts/check_imports.py
  libs/partners/mongodb/scripts/lint_imports.sh
  libs/partners/mongodb/tests/__init__.py
  libs/partners/mongodb/tests/integration_tests/__init__.py
  libs/partners/mongodb/tests/integration_tests/test_cache.py
  libs/partners/mongodb/tests/integration_tests/test_chain_example.py
  libs/partners/mongodb/tests/integration_tests/test_chat_message_histories.py
  libs/partners/mongodb/tests/integration_tests/test_compile.py
  libs/partners/mongodb/tests/integration_tests/test_index.py
  libs/partners/mongodb/tests/integration_tests/test_retrievers.py
  libs/partners/mongodb/tests/integration_tests/test_vectorstores.py
  libs/partners/mongodb/tests/unit_tests/__init__.py
  libs/partners/mongodb/tests/unit_tests/test_cache.py
  libs/partners/mongodb/tests/unit_tests/test_chat_message_histories.py
  libs/partners/mongodb/tests/unit_tests/test_imports.py
  libs/partners/mongodb/tests/unit_tests/test_index.py
  libs/partners/mongodb/tests/unit_tests/test_vectorstores.py
  libs/partners/mongodb/tests/utils.py
Labels: size:XXL

#27472 community: release 0.3.3
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#27088 First draft of concept pages
  docs/docs/concepts/embedding_models.mdx
  docs/docs/concepts/rag.mdx
  docs/docs/concepts/retrieval.mdx
  docs/docs/concepts/retrievers.mdx
  docs/docs/concepts/structured_output.mdx
  docs/docs/concepts/text_splitters.mdx
  docs/docs/concepts/tool_calling.mdx
  docs/docs/concepts/vectorstores.mdx
  docs/docs/concepts/why_langchain.mdx
  docs/static/img/embeddings_colbert.png
  docs/static/img/embeddings_concept.png
  docs/static/img/rag_concepts.png
  docs/static/img/retrieval_concept.png
  docs/static/img/retrieval_high_level.png
  docs/static/img/retriever_concept.png
  docs/static/img/retriever_full_docs.png
  docs/static/img/structured_output.png
  docs/static/img/text_splitters.png
  docs/static/img/tool_call_example.png
  docs/static/img/tool_calling_agent.png
  docs/static/img/tool_calling_components.png
  docs/static/img/tool_calling_concept.png
  docs/static/img/vectorstores.png
  docs/static/img/with_structured_output.png
Labels: 🤖:docs, size:XXL

#27474 community: fix lint from new mypy
  libs/community/langchain_community/llms/gradient_ai.py
  libs/community/langchain_community/utilities/google_trends.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: 🤖:nit, size:M, community

#27477 docs: update API Reference Link in /docs/how_to/vectorstore_retriever/
  docs/docs/how_to/vectorstore_retriever.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27412 docs: fix typo on friendli.ipynb
  docs/docs/integrations/chat/friendli.ipynb
  docs/docs/integrations/llms/friendli.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27489 nit: fix a typo in planner_prompt.py
  libs/community/langchain_community/agent_toolkits/openapi/planner_prompt.py
Labels: Ɑ: agent, lgtm, 🤖:nit, size:XS, community

#27435 docs: typo fix athena.ipynb and glue_catalog.ipynb
  docs/docs/integrations/document_loaders/athena.ipynb
  docs/docs/integrations/document_loaders/glue_catalog.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27405 docs:docs:tutorials:sql_qa.ipynb: fix typo
  docs/docs/tutorials/sql_qa.ipynb
Labels: lgtm, 🤖:nit, size:XS, langchain

#27422 Update chatbot.ipynb
  docs/docs/tutorials/chatbot.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27475 Address comments, minor cleanups
  docs/docs/concepts/embedding_models.mdx
  docs/docs/integrations/chat/groq.ipynb
  docs/docs/integrations/chat/together.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27512 infra: azure/mongo api docs build
  .github/workflows/api_doc_build.yml
Labels: size:S

#27515 docs: giscus component strict
  docs/src/theme/DocItem/Paginator/index.js
Labels: lgtm, 🤖:nit, size:XS

#27482 tools concept
  docs/docs/concepts/index.mdx
  docs/docs/concepts/tools.mdx
Labels: size:L

#27519 docs: fix some typos
  docs/docs/concepts/embedding_models.mdx
  docs/docs/concepts/retrieval.mdx
  docs/docs/concepts/retrievers.mdx
  docs/docs/concepts/structured_output.mdx
  docs/docs/concepts/text_splitters.mdx
  docs/docs/concepts/tool_calling.mdx
  docs/docs/concepts/vectorstores.mdx
Labels: lgtm, 🤖:docs, size:L

#27516 docs: streaming concept docs
  docs/docs/concepts/streaming.mdx
Labels: size:L

#27495 core: fix Image prompt template hardcoded template format
  libs/core/extended_testing_deps.txt
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot_with_templates.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/prompt.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/prompts/structured.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Labels: lgtm, 🤖:bug, size:L

#27522 huggingface[patch]: hide client field in HuggingFaceEmbeddings
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
Labels: lgtm, Ɑ: embeddings, size:S

#27520 docs: update
  docs/docs/concepts/agents.mdx
  docs/docs/concepts/embedding_models.mdx
  docs/docs/concepts/langgraph.mdx
  docs/docs/concepts/retrievers.mdx
  docs/docs/concepts/structured_output.mdx
  docs/docs/concepts/structured_outputs.mdx
  docs/docs/concepts/tool_calling.mdx
  docs/static/img/agent_types.png
  docs/static/img/embeddings_colbert.png
Labels: 🤖:docs, size:L

#27525 docs: consolidate llms and chat models
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/llms.mdx
Labels: size:M

#27543 concept docs more fixes
  docs/docs/concepts/architecture.mdx
  docs/docs/concepts/text_splitters.mdx
Labels: size:M

#27253 community: Cassandra Vector Store: modernize implementation
  libs/community/langchain_community/graph_vectorstores/__init__.py
  libs/community/langchain_community/graph_vectorstores/base.py
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/langchain_community/graph_vectorstores/mmr_helper.py
  libs/community/langchain_community/vectorstores/cassandra.py
  libs/community/tests/integration_tests/graph_vectorstores/test_cassandra.py
  libs/community/tests/integration_tests/graph_vectorstores/test_upgrade_to_cassandra.py
  libs/community/tests/integration_tests/vectorstores/test_cassandra.py
  libs/community/tests/unit_tests/graph_vectorstores/test_mmr_helper.py
Labels: lgtm, Ɑ: vector store, size:XXL, community

#27521 Why LangChain Page
  docs/docs/concepts/why_langchain.mdx
Labels: 🤖:docs, size:L

#27553 add missing concepts
  docs/docs/concepts.mdx
  docs/docs/concepts/agents.mdx
  docs/docs/concepts/architecture.mdx
  docs/docs/concepts/example_selectors.mdx
  docs/docs/concepts/few_shot_prompting.mdx
  docs/docs/concepts/index.mdx
  docs/docs/concepts/key_value_stores.mdx
  docs/docs/concepts/langgraph.mdx
  docs/docs/concepts/langserve.md
  docs/docs/concepts/lcel.mdx
  docs/docs/concepts/messages.mdx
  docs/docs/concepts/runnables.mdx
  docs/docs/concepts/streaming.mdx
  docs/docs/concepts/tools.mdx
Labels: size:L

#27555 concepts: more missing concepts
  docs/docs/concepts/evaluation.mdx
  docs/docs/concepts/index.mdx
  docs/docs/concepts/tracing.mdx
Labels: size:S

#27484 docs: fix docker command for RedisChatMessageHistory
  docs/docs/integrations/memory/redis_chat_message_history.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27554 docs: canonical url fix
  docs/src/theme/SiteMetadata/index.js
Labels: lgtm, 🤖:docs, size:XS

#27560 concepts: some fixes
  docs/docs/concepts/architecture.mdx
  docs/docs/concepts/index.mdx
Labels: size:M

#27559 docs: rm Legacy API ref link
  docs/api_reference/conf.py
Labels: lgtm, 🤖:docs, size:XS

#27488 partners/openai + community: Async Azure AD token provider support for Azure OpenAI
  libs/community/langchain_community/chat_models/azure_openai.py
  libs/community/langchain_community/embeddings/azure_openai.py
  libs/community/langchain_community/llms/openai.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/llms/azure.py
Labels: lgtm, size:L, community

#27563 concepts: add conversation patterns png
  docs/docs/concepts/chat_history.mdx
  docs/static/img/conversation_patterns.png
Labels: size:XS
