Repository langchain-ai/langchain, pull requests merged in 2024-06, with the labels that each got.

#22388 👥 Update LangChain people data
  docs/data/people.yml
Labels: 🤖:docs, size:XXL

#22370 update agent docs
  docs/docs/how_to/qa_chat_history_how_to.ipynb
  docs/docs/tutorials/agents.ipynb
  docs/docs/tutorials/qa_chat_history.ipynb
  docs/docs/tutorials/sql_qa.ipynb
Labels: 🤖:docs, size:L

#22394 Update Ollama instructions
  docs/docs/integrations/providers/ollama.mdx
Labels: lgtm, 🤖:docs, size:XS

#22393 core: In RunnableSequence pass kwargs to the first step
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, 🤖:improvement, size:L

#22367 docs: add Microsoft Azure to ChatModelTabs
  docs/docs/tutorials/rag.ipynb
  docs/src/theme/ChatModelTabs.js
Labels: 🤖:docs, size:S

#22416 add `embed_image` API to JinaEmbedding
  libs/community/langchain_community/embeddings/jina.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:M

#22407 docs: notebook loader: change .hmtl to .ipynb
  docs/docs/integrations/document_loaders/jupyter_notebook.ipynb
Labels: lgtm, 🤖:docs, size:XS

#22421 community: fix missing `apify_api_token` field in ApifyWrapper
  libs/community/langchain_community/utilities/apify.py
Labels: lgtm, 🤖:bug, size:XS

#22375 docs: resolve minor syntax error.
  docs/docs/tutorials/agents.ipynb
Labels: 🤖:docs, size:XS

#22434 core: In BaseRetriever make get_relevant_docs delegate to invoke
  libs/core/langchain_core/retrievers.py
Labels: 🤖:improvement, size:L, Ɑ: retriever

#22437 fix error message
  libs/text-splitters/langchain_text_splitters/character.py
Labels: 🤖:nit, size:XS, Ɑ: text splitters

#22315 community: fix AzureSearch delete documents
  libs/community/langchain_community/vectorstores/azuresearch.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:XS

#22002 core[patch]: RFC: Allow concatenation of messages with multi part content
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/test_messages.py
Labels: lgtm, 🤖:improvement, size:M, 🔌: anthropic

#22226 community: Add IPEX-LLM BGE embedding support on both Intel CPU and GPU
  docs/docs/integrations/text_embedding/ipex_llm.ipynb
  docs/docs/integrations/text_embedding/ipex_llm_gpu.ipynb
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/ipex_llm.py
  libs/community/tests/integration_tests/embeddings/test_ipex_llm.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
Labels: Ɑ: embeddings, 🤖:enhancement, size:L

#22136 community[patch]: Update the default api_url and reqeust_body of sparkllm embedding
  libs/community/langchain_community/embeddings/sparkllm.py
  libs/community/tests/unit_tests/embeddings/test_sparkllm.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:L

#22240 update embeddings/oracleai.py
  cookbook/oracleai_demo.ipynb
  docs/docs/integrations/text_embedding/oracleai.ipynb
  libs/community/langchain_community/embeddings/oracleai.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:M

#22092 Update: Airtable to allow for addtl params
  docs/docs/integrations/document_loaders/airtable.ipynb
  libs/community/langchain_community/document_loaders/airtable.py
Labels: lgtm, 🤖:improvement, size:M

#22391 feat: Implement MiniMaxChat interface
  libs/community/langchain_community/chat_models/minimax.py
Labels: lgtm, 🤖:improvement, size:L

#22176 text-splitters: fix HTMLSectionSplitter parsing of xslt paths
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/tests/test_data/test_splitter.xslt
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, 🤖:bug, size:M, Ɑ: text splitters

#22171 [Community]Update OpenVINO embedding and reranker to support static input shape
  libs/community/langchain_community/document_compressors/openvino_rerank.py
  libs/community/langchain_community/embeddings/openvino.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:M

#22447 docs: agents tutorial wording
  docs/docs/tutorials/agents.ipynb
Labels: lgtm, 🤖:docs, size:S

#22446 community: add standard chat model params to Ollama
  libs/community/langchain_community/chat_models/ollama.py
  libs/community/tests/unit_tests/chat_models/test_ollama.py
Labels: 🤖:improvement, size:M

#22401 langchain: Fix MongoDBAtlasVectorSearch reference in self query retriever
  libs/langchain/langchain/retrievers/self_query/base.py
Labels: lgtm, 🤖:bug, size:S, Ɑ: retriever

#22350 docs: Astra DB vectorstore, add automatic-embedding example
  docs/docs/integrations/vectorstores/astradb.ipynb
Labels: Ɑ: vector store, 🤖:docs, size:L, 🔌: astradb

#22365 huggingface: Skip Login to HuggubgFaceHub when token is not set
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Labels: lgtm, 🤖:improvement, size:S, partner, 🔌: huggingface

#22309 [community][minor]: Updating payload for pebblo discover API
  libs/community/langchain_community/document_loaders/pebblo.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S

#22260 community: Fix doc issue for HANA Cloud Vector Engine
  docs/docs/integrations/vectorstores/sap_hanavector.ipynb
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XS

#20711 core(patch):fix partial_variables not working with SystemMessagePromptTemplate
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Labels: lgtm, 🤖:bug, size:M

#22449 docs[patch]: Adds search keywords for common queries
  docs/docs/concepts.mdx
  docs/docs/how_to/character_text_splitter.ipynb
  docs/docs/how_to/dynamic_chain.ipynb
  docs/docs/how_to/message_history.ipynb
  docs/docs/how_to/recursive_text_splitter.ipynb
  docs/docs/how_to/sequence.ipynb
  docs/docs/how_to/streaming.ipynb
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/platforms/openai.mdx
  docs/docs/integrations/providers/pinecone.mdx
  docs/docs/integrations/text_embedding/openai.ipynb
  docs/docs/tutorials/agents.ipynb
  docs/docs/tutorials/chatbot.ipynb
  docs/docs/versions/v0_2/deprecations.mdx
Labels: 🤖:docs, 🔌: pinecone, size:L, 🔌: openai

#22450 docs: rag tutorial small fixes
  docs/docs/tutorials/rag.ipynb
Labels: lgtm, 🤖:docs, size:XS

#22251 community: Upstash Vector Store Namespace Support
  docs/docs/integrations/providers/upstash.mdx
  libs/community/langchain_community/vectorstores/upstash.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:L

#22194 huggingface: Support for HuggingFacePipeline in ChatHuggingFace.
  docs/docs/integrations/chat/huggingface.ipynb
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
Labels: lgtm, 🤖:improvement, size:M, partner, 🔌: huggingface

#22470 core[patch]: Fix VectorStore's as_retriever mutating tags param
  libs/core/langchain_core/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS

#22465 community: Improve Cassandra VectorStore as_retriever
  libs/community/langchain_community/vectorstores/cassandra.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:M

#22433 Use immutable sequence type for batch/batch_as_completed types
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/config.py
Labels: lgtm, 🤖:improvement, size:M

#22444 community[patch]: deprecate all HF classes
  libs/community/langchain_community/chat_models/huggingface.py
  libs/community/langchain_community/embeddings/huggingface.py
  libs/community/langchain_community/embeddings/huggingface_hub.py
  libs/community/langchain_community/llms/huggingface_endpoint.py
  libs/community/langchain_community/llms/huggingface_hub.py
  libs/community/langchain_community/llms/huggingface_pipeline.py
  libs/community/langchain_community/llms/huggingface_text_gen_inference.py
Labels: lgtm, 🤖:improvement, size:M, 🔌: huggingface

#22476 core: bump langsmith
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: 🤖:bug, size:XS, 🔌: anthropic

#22417 experimental: Fix graph_transformers llms #21482
  libs/experimental/langchain_experimental/graph_transformers/llm.py
Labels: 🤖:bug, size:XS

#21958 [Community]Enable retrieval api calls in PebbloRetrievalQA
  libs/community/langchain_community/chains/pebblo_retrieval/base.py
  libs/community/langchain_community/chains/pebblo_retrieval/enforcement_filters.py
  libs/community/langchain_community/chains/pebblo_retrieval/models.py
  libs/community/langchain_community/chains/pebblo_retrieval/utilities.py
  libs/community/tests/unit_tests/chains/test_pebblo_retrieval.py
Labels: lgtm, 🤖:improvement, size:L

#22238 [community]: Native RAG Support in Prem AI langchain
  docs/docs/integrations/chat/premai.ipynb
  docs/docs/integrations/providers/premai.md
  libs/community/langchain_community/chat_models/premai.py
Labels: 🤖:enhancement, 🤖:improvement, size:L

#22221 docs : Update docstrings for OpenAI base.py
  libs/community/langchain_community/agents/openai_assistant/base.py
Labels: Ɑ: agent, lgtm, size:S

#22320 community: Add tools calls to `ChatEdenAI`
  docs/docs/integrations/chat/edenai.ipynb
  docs/scripts/model_feat_table.py
  libs/community/langchain_community/chat_models/edenai.py
  libs/community/tests/unit_tests/chat_models/test_edenai.py
Labels: 🤖:improvement, 🤖:docs, size:XL

#22271 Broadcast operation failure while using simsimd beyond v3.7.7
  libs/community/langchain_community/utils/math.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/utils/test_math.py
  libs/partners/milvus/langchain_milvus/vectorstores/milvus.py
  libs/partners/mongodb/langchain_mongodb/utils.py
  libs/partners/pinecone/langchain_pinecone/_utilities.py
  libs/partners/qdrant/langchain_qdrant/_utils.py
Labels: 🤖:bug, 🔌: milvus, 🔌: pinecone, size:M, partner, 🔌: qdrant, 🔌: mongo

#22190 Added Semantic Cache Example with BedrockChat using Bedrock Embedding…
  docs/docs/integrations/chat/bedrock.ipynb
Labels: lgtm, 🤖:docs, size:M

#22472 docs: Update chroma docs link for collection reference
  docs/docs/integrations/vectorstores/chroma.ipynb
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XS

#22489 core[patch]: Release 0.2.4
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#22490 text-splitters[patch]: Release 0.2.1
  libs/text-splitters/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: text splitters

#22492 docs[patch]: Add robots.txt and root sitemap
  docs/static/robots.txt
  docs/vercel.json
Labels: 🤖:docs, size:S

#22493 huggingface[patch]: release 0.0.2
  libs/partners/huggingface/pyproject.toml
Labels: lgtm, size:XS, partner, 🤖:release, 🔌: huggingface

#22494 mistralai[patch]: Release 0.1.8
  libs/partners/mistralai/pyproject.toml
Labels: lgtm, size:XS, partner, 🤖:release

#22495 langchain[patch]: Release 0.2.2
  libs/langchain/pyproject.toml
Labels: lgtm, size:XS, 🤖:release

#22496 community[patch]: Release 0.2.2
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#22497 experimental[patch]: Release 0.0.60
  libs/experimental/pyproject.toml
Labels: size:XS, 🤖:release

#22498 upstage[patch]: Release 0.1.6
  libs/partners/upstage/pyproject.toml
Labels: size:XS, partner, 🤖:release

#22499 milvus[patch]: Release 0.1.1
  libs/partners/milvus/pyproject.toml
Labels: 🔌: milvus, size:XS, partner, 🤖:release

#22500 groq[patch]: Release 0.1.5
  libs/partners/groq/pyproject.toml
Labels: size:XS, partner, 🤖:release

#22501 mongodb[patch]: Release 0.1.6
  libs/partners/mongodb/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: mongo

#22438 docs: fix api ref link generation
  docs/api_reference/guide_imports.json
  docs/scripts/generate_api_reference_links.py
Labels: lgtm, 🤖:docs, size:S

#22505 together, upstage: bump minimum langchain-openai version
  libs/partners/together/poetry.lock
  libs/partners/together/pyproject.toml
  libs/partners/upstage/poetry.lock
  libs/partners/upstage/pyproject.toml
Labels: lgtm, size:XS, partner

#22508 ai21: release 0.1.6
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
Labels: size:XS, partner

#22507 robocorp: release 0.0.9.post1
  libs/partners/robocorp/README.md
  libs/partners/robocorp/pyproject.toml
Labels: size:XS, partner, 🤖:release

#22509 robocorp: typo
  libs/partners/robocorp/README.md
Labels: size:XS, partner

#22483 docs: update anthropic chat model
  docs/docs/integrations/chat/anthropic.ipynb
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/integration_template/chat_models.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:docs, size:XL, partner, 🔌: anthropic

#21334 community: Vectara Integration Update - Streaming, FCS, Chat, updates to documentation and example notebooks
  docs/docs/integrations/providers/vectara/index.mdx
  docs/docs/integrations/providers/vectara/vectara_chat.ipynb
  docs/docs/integrations/providers/vectara/vectara_summary.ipynb
  docs/docs/integrations/retrievers/self_query/vectara_self_query.ipynb
  docs/docs/integrations/vectorstores/vectara.ipynb
  libs/community/langchain_community/vectorstores/vectara.py
  libs/community/tests/integration_tests/vectorstores/test_vectara.py
  libs/community/tests/unit_tests/vectorstores/test_indexing_docs.py
  templates/rag-vectara-multiquery/README.md
  templates/rag-vectara-multiquery/pyproject.toml
  templates/rag-vectara-multiquery/rag_vectara_multiquery/chain.py
  templates/rag-vectara/README.md
  templates/rag-vectara/pyproject.toml
  templates/rag-vectara/rag_vectara/chain.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, 🤖:docs, template, size:XXL

#22504 docs[patch]: Update quickstart tutorial
  docs/docs/tutorials/index.mdx
  docs/docs/tutorials/llm_chain.ipynb
Labels: lgtm, 🤖:docs, Ɑ: lcel, size:M

#22478 core[patch]: Deduplicate of callback handlers in merge_configs
  libs/core/langchain_core/runnables/config.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Labels: lgtm, 🤖:bug, size:M

#22477 core: Add similarity_score_threshold to VectorStore search types
  libs/core/langchain_core/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:S

#22511 [Docs] Structured output Keywords
  docs/docs/how_to/structured_output.ipynb
Labels: 🤖:docs, size:XS

#22514 docs[patch]: Adds links to deprecations page
  docs/docs/how_to/sequence.ipynb
  docs/docs/versions/v0_2/deprecations.mdx
Labels: 🤖:docs, size:S

#22522 community: fix huggingface deprecations
  libs/community/langchain_community/embeddings/huggingface.py
  libs/community/langchain_community/embeddings/huggingface_hub.py
  libs/community/langchain_community/llms/huggingface_endpoint.py
  libs/community/langchain_community/llms/huggingface_hub.py
  libs/community/langchain_community/llms/huggingface_pipeline.py
  libs/community/langchain_community/llms/huggingface_text_gen_inference.py
Labels: Ɑ: embeddings, 🤖:improvement, size:S, 🔌: huggingface

#22526 ai21: fix ai21 unittests
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
  libs/partners/ai21/tests/unit_tests/conftest.py
Labels: lgtm, 🤖:nit, size:XS, partner

#22544 ai21: fix core version
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
Labels: size:XS, partner

#22543 huggingface: remove text-generation dep
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
Labels: size:XS, partner, 🔌: huggingface

#22461 community[minor]: Added filter search for LanceDB
  libs/community/langchain_community/vectorstores/lancedb.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:M

#22031 community[patch]: add detailed paragraph and example for BaichuanTextEmbeddings
  libs/community/langchain_community/embeddings/baichuan.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:M

#22547 core: Improve VectorStore API doc
  libs/core/langchain_core/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:L

#22186 community[minor]: Improve InMemoryVectorStore with ability to persist to disk and filter on metadata.
  libs/community/langchain_community/vectorstores/inmemory.py
  libs/community/tests/unit_tests/vectorstores/test_inmemory.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:L

#22065 community[minor]: Add native async support to SQLChatMessageHistory
  libs/community/langchain_community/chat_message_histories/sql.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/chat_message_histories/test_sql.py
Labels: lgtm, size:L, 🔌: postgres

#22480 community: add user agent for web scraping loaders
  docs/docs/integrations/document_loaders/async_chromium.ipynb
  libs/community/langchain_community/document_loaders/async_html.py
  libs/community/langchain_community/document_loaders/chromium.py
  libs/community/langchain_community/document_loaders/web_base.py
  libs/community/langchain_community/utils/user_agent.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:M

#22548 community: Add support for metadata indexing policy in Cassandra vector store
  .gitignore
  libs/community/langchain_community/vectorstores/cassandra.py
  libs/community/tests/integration_tests/vectorstores/test_cassandra.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:M

#22531 community[patch]: improve test setup to accurately test filtering of labels in neo4j
  libs/community/tests/integration_tests/graphs/test_neo4j.py
Labels: 🤖:improvement, size:XS, 🔌: neo4j

#22482 embeddings: nomic embed vision
  cookbook/nomic_multimodal_rag.ipynb
  docs/scripts/arxiv_references.py
  libs/partners/nomic/langchain_nomic/__init__.py
  libs/partners/nomic/langchain_nomic/embeddings.py
  libs/partners/nomic/poetry.lock
  libs/partners/nomic/pyproject.toml
  templates/rag-multi-modal-local/README.md
  templates/rag-multi-modal-local/ingest.py
  templates/rag-multi-modal-local/rag_multi_modal_local/chain.py
Labels: lgtm, Ɑ: embeddings, 🤖:enhancement, template, size:XL, partner

#22562 community[patch]: Release 0.2.3
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#22567 docs: deprecation of max_length parameter used in Exa search
  docs/docs/integrations/tools/exa_search.ipynb
Labels: lgtm, size:S

#22572 Recursive url unit testing nits
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
  libs/community/tests/unit_tests/document_loaders/test_recursive_url_loader.py
Labels: Ɑ: vector store, 🤖:nit, 🤖:docs, template, size:L, partner

#22039 langchain[minor]: add universal init_model
  docs/docs/how_to/chat_models_universal_init.ipynb
  docs/docs/how_to/index.mdx
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain/tests/unit_tests/chat_models/test_imports.py
Labels: 🤖:improvement, size:XL, 08 RFC

#22075 community[patch]: AzureSearch async functions
  libs/community/langchain_community/vectorstores/azuresearch.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XL

#22575 docs: update agentexecutor title to legacy
  docs/docs/how_to/agent_executor.ipynb
Labels: lgtm, 🤖:docs, size:S

#22577 docs[patch]: Adds heading keywords to concepts page
  docs/docs/concepts.mdx
Labels: 🤖:docs, size:S

#22225 [Community]add option to delete the prompt from HF output
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
  docs/docs/integrations/llms/openvino.ipynb
  libs/community/langchain_community/llms/huggingface_pipeline.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
Labels: lgtm, 🤖:nit, size:M, partner, 🔌: huggingface

#22403 community: add DashScope Rerank
  docs/docs/integrations/document_transformers/dashscope_rerank.ipynb
  libs/community/langchain_community/document_compressors/__init__.py
  libs/community/langchain_community/document_compressors/dashscope_rerank.py
  libs/community/tests/integration_tests/document_compressors/test_dashscope_rerank.py
  libs/community/tests/unit_tests/document_compressors/test_imports.py
Labels: lgtm, 🤖:improvement, size:XL

#22405 docs: mentioning query_instruction with regards to BGE-M3
  docs/docs/integrations/text_embedding/bge_huggingface.ipynb
Labels: lgtm, 🤖:docs, size:XS, 🔌: huggingface

#22568 docs: duckduckgosearch options listed
  libs/community/langchain_community/utilities/duckduckgo_search.py
Labels: size:S

#22303 community[patch]:Support filter for AzureAISearchRetriever
  libs/community/langchain_community/retrievers/azure_ai_search.py
Labels: lgtm, 🤖:improvement, size:XS, Ɑ: retriever

#22570 docs[minor]: Add "Build a PDF ingestion and Question/Answering system" tutorial
  docs/docs/example_data/nke-10k-2023.pdf
  docs/docs/tutorials/index.mdx
  docs/docs/tutorials/pdf_qa.ipynb
Labels: 🤖:docs, size:L

#22521 infra: recursive url loader unit tests
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
  libs/community/tests/unit_tests/document_loaders/test_recursive_url_loader.py
Labels: lgtm, Ɑ: doc loader, size:L

#22604 docs: Removed unwanted cell in refine segment
  docs/docs/tutorials/summarization.ipynb
Labels: lgtm, 🤖:docs, size:M

#22599 fix: typo in Agents section of README
  README.md
Labels: 🤖:nit, size:XS

#22596 docs: Fix typo
  docs/docs/concepts.mdx
Labels: lgtm, 🤖:docs, size:XS

#22615 together[patch]: Release 0.1.3
  libs/partners/together/pyproject.toml
Labels: size:XS, partner, 🤖:release

#22616 together: bump langchain-core
  libs/partners/together/poetry.lock
  libs/partners/together/pyproject.toml
Labels: size:XS, partner, 🤖:release

#22611 docs: Fix description
  docs/docs/how_to/extraction_examples.ipynb
  libs/core/langchain_core/utils/function_calling.py
Labels: 🤖:docs, size:XS

#22608 core: Use explicit classes for InMemoryByteStore and InMemoryStore
  libs/core/langchain_core/stores.py
Labels: 🤖:improvement, size:M

#22612 docs: ElasticsearchCacheStore in stores integrations documentation
  docs/docs/integrations/stores/elasticsearch.ipynb
Labels: lgtm, 🤖:docs, 🔌: elasticsearch, size:L

#22606 docs: correct typos in Italian words
  docs/docs/how_to/example_selectors.ipynb
Labels: lgtm, 🤖:docs, size:XS

#22597 docs: Correct return type in docstring
  docs/api_reference/create_api_rst.py
Labels: lgtm, 🤖:docs, size:XS

#22569 openai, azure: update model_name in ChatResult to use name from API response
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:improvement, size:XS, partner, 🔌: openai

#22617 docs: Add ChatGoogleGenerativeAI to model feat table
  docs/scripts/model_feat_table.py
Labels: 🤖:docs, size:XS

#20180 anthropic: stream token usage
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: 🤖:improvement, size:L, partner, 🔌: anthropic

#22573 multiple: add `stop` attribute
  libs/partners/ai21/langchain_ai21/chat_models.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: 🤖:improvement, size:M, partner

#22619 community[patch]: pgvector replace nin_ by not_in
  libs/community/langchain_community/vectorstores/pgvector.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:XS, 🔌: postgres

#22625 anthropic: update attribute name and alias
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: 🤖:nit, size:XS, partner, 🔌: anthropic

#22555 community: support Databricks Unity Catalog functions as LangChain tools
  docs/docs/integrations/tools/databricks.ipynb
  libs/community/langchain_community/tools/databricks/__init__.py
  libs/community/langchain_community/tools/databricks/_execution.py
  libs/community/langchain_community/tools/databricks/tool.py
Labels: lgtm, 🤖:improvement, size:XL

#22621 multiple: implement ls_params
  libs/partners/ai21/langchain_ai21/chat_models.py
  libs/partners/ai21/tests/unit_tests/test_standard.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/tests/unit_tests/test_standard.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
  libs/partners/groq/tests/unit_tests/test_standard.py
Labels: 🤖:improvement, size:L, partner

#21875 qdrant[patch]: Make path optional in from_existing_collection()
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
Labels: lgtm, Ɑ: vector store, size:XS, partner, 🔌: qdrant

#22629 openai[patch]: correct grammar in exception message in embeddings/base.py
  libs/partners/openai/langchain_openai/embeddings/base.py
Labels: lgtm, Ɑ: embeddings, 🤖:nit, size:XS, partner, 🔌: openai

#22633 anthropic: stream token usage
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: size:L, partner

#22630 docs: typo in dev container documentation
  .devcontainer/README.md
Labels: lgtm, 🤖:docs, size:XS

#22631 fix: typo in AutoGPT example notebook
  cookbook/autogpt/marathon_times.ipynb
Labels: lgtm, 🤖:docs, size:XS

#22623 docs: Add information about run time binding values to tools
  docs/docs/how_to/index.mdx
  docs/docs/how_to/tool_calling.ipynb
  docs/docs/how_to/tool_runtime.ipynb
Labels: 🤖:docs, size:L

#22584 Fix diffbot docs
  docs/docs/integrations/graphs/diffbot.ipynb
Labels: lgtm, 🤖:docs, size:S

#22563 core[minor]: Add parent_ids to astream_events API
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/schema.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Labels: lgtm, 🤖:improvement, size:XL

#22637 core[patch]: Correctly order parent ids in astream events (from root to immediate parent), add defensive check for cycles
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Labels: lgtm, 🤖:improvement, size:M

#22642 core[patch]: Release 0.2.5
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#22581 multiple: get rid of pyproject extras
  .github/workflows/check_diffs.yml
  docs/docs/contributing/code.mdx
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/callbacks/tracers/wandb.py
  libs/community/langchain_community/tools/nuclia/tool.py
  libs/community/langchain_community/vectorstores/docarray/base.py
  libs/community/langchain_community/vectorstores/docarray/hnsw.py
  libs/community/langchain_community/vectorstores/docarray/in_memory.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/vectorstores/test_vectara.py
  libs/community/tests/unit_tests/test_dependencies.py
  libs/community/tests/unit_tests/test_sql_database_schema.py
  libs/core/extended_testing_deps.txt
  libs/core/langchain_core/pydantic_v1/__init__.py
  libs/core/langchain_core/pydantic_v1/dataclasses.py
  libs/core/langchain_core/pydantic_v1/main.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/experimental/extended_testing_deps.txt
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
  libs/langchain/extended_testing_deps.txt
  libs/langchain/langchain/chains/structured_output/base.py
  libs/langchain/langchain/pydantic_v1/__init__.py
  libs/langchain/langchain/pydantic_v1/dataclasses.py
  libs/langchain/langchain/pydantic_v1/main.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/text-splitters/extended_testing_deps.txt
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Labels: Ɑ: vector store, 🤖:improvement, size:XL

#22644 langchain[patch]: Release 0.2.3
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#22646 docs: recursive url loader nits
  docs/docs/integrations/document_loaders/recursive_url.ipynb
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
Labels: 🤖:docs, size:L

#22574 docs: `arxiv` page update
  docs/docs/additional_resources/arxiv_references.mdx
  docs/scripts/arxiv_references.py
Labels: lgtm, 🤖:docs, size:M

#22576 [Core] Unified Enable/Disable Tracing
  libs/core/langchain_core/tracers/context.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Labels: lgtm, 🤖:improvement, size:M

#22594 Update jina embedding notebook to include multimodal capability
  docs/docs/integrations/text_embedding/jina.ipynb
Labels: Ɑ: embeddings, 🤖:docs, size:L

#22643 community[patch]: Release 0.2.4
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#22628 anthropic: refactor streaming to use events api; add streaming usage metadata
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: 🤖:refactor, size:L, partner, 🔌: anthropic

#22062 docs: Updated product version in Embeddings notebook
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
Labels: lgtm, Ɑ: embeddings, 🤖:docs, size:XS

#22656 docs[patch]: Adds LangGraph and LangSmith links, adds more crosslinks between pages
  docs/docs/concepts.mdx
  docs/docs/how_to/index.mdx
  docs/docs/tutorials/index.mdx
Labels: 🤖:docs, size:M

#22684 core: add error message for non-structured llm to StructuredPrompt
  libs/core/langchain_core/prompts/structured.py
Labels: 🤖:improvement, size:S

#22685 docs: remove nonexistent headings
  docs/docs/concepts.mdx
Labels: 🤖:docs, size:XS

#21885 community[minor]: Add UpstashRatelimitHandler
  docs/docs/integrations/callbacks/upstash_ratelimit.ipynb
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/callbacks/__init__.py
  libs/community/langchain_community/callbacks/upstash_ratelimit_callback.py
  libs/community/tests/unit_tests/callbacks/test_imports.py
  libs/community/tests/unit_tests/callbacks/test_upstash_ratelimit_callback.py
Labels: lgtm, 🤖:improvement, size:XL, waiting-on-author

#22207 community[minor]: Add SQL storage implementation
  docs/docs/integrations/vectorstores/milvus.ipynb
  libs/community/langchain_community/storage/__init__.py
  libs/community/langchain_community/storage/sql.py
  libs/community/tests/integration_tests/storage/test_sql.py
  libs/community/tests/unit_tests/storage/test_imports.py
  libs/community/tests/unit_tests/storage/test_sql.py
Labels: lgtm, 🤖:improvement, size:XL

#22691 community[patch]: Use Custom Logger Instead of Root Logger in get_user_agent Function
  libs/community/langchain_community/utils/user_agent.py
Labels: lgtm, 🤖:nit, size:XS

#22719 docs: VoyageAI new embedding and reranking models
  docs/docs/integrations/document_transformers/voyageai-reranker.ipynb
  docs/docs/integrations/text_embedding/voyageai.ipynb
Labels: lgtm, Ɑ: embeddings, 🤖:docs, size:S

#22708 docs: Update MongoDB information in llm_caching
  docs/docs/integrations/llm_caching.ipynb
Labels: 🤖:docs, size:M

#22707 infra: Scheduled GitHub Actions to run only on the upstream repository
  .github/workflows/check-broken-links.yml
  .github/workflows/scheduled_test.yml
Labels: lgtm, size:XS

#22678 langchain[minor]: Add pgvector to list of supported vectorstores in self query retriever
  libs/langchain/langchain/retrievers/self_query/base.py
Labels: lgtm, 🤖:bug, size:XS, Ɑ: retriever, 🔌: postgres

#22664 docs:Correcting spelling mistakes in readme
  templates/mongo-parent-document-retrieval/README.md
  templates/rag-chroma-multi-modal-multi-vector/README.md
  templates/rag-chroma-multi-modal/README.md
  templates/rag-gemini-multi-modal/README.md
  templates/rag-mongo/README.md
  templates/rag-multi-modal-mv-local/README.md
Labels: lgtm, 🤖:docs, template, size:S

#22742 Community[minor]: Add language parser for Elixir
  docs/docs/integrations/document_loaders/source_code.ipynb
  libs/community/langchain_community/document_loaders/parsers/language/elixir.py
  libs/community/langchain_community/document_loaders/parsers/language/language_parser.py
  libs/community/tests/unit_tests/document_loaders/parsers/language/test_elixir.py
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
Labels: lgtm, Ɑ: doc loader, size:L, Ɑ: text splitters

#22746 openai: add `parallel_tool_calls` to api ref
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:improvement, size:S, partner, 🔌: openai

#22744 [Community]: Small Fix in OutlookMessageLoader (Close the Message once Open)
  libs/community/langchain_community/document_loaders/email.py
Labels: Ɑ: doc loader, 🤖:nit, size:XS

#22754 docs[patch]: Add caution on OpenAI LLMs integration page
  docs/docs/integrations/chat/azure_chat_openai.ipynb
  docs/docs/integrations/llms/azure_openai.ipynb
  docs/docs/integrations/llms/openai.ipynb
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/platforms/openai.mdx
Labels: lgtm, 🤖:docs, size:M

#22718 docs: update azure_container_apps_dynamic_sessions_data_analyst.ipynb
  cookbook/azure_container_apps_dynamic_sessions_data_analyst.ipynb
Labels: lgtm, 🤖:docs, size:XS

#22705 docs:Update reference to langchain-mongodb
  docs/docs/integrations/vectorstores/mongodb_atlas.ipynb
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:M, 🔌: mongo
