Repository langchain-ai/langchain, pull requests merged in 2024-05, with the labels that each got.

#21131 openai[patch]: fix special token default behavior
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/embeddings/test_base.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:L, partner, 🔌: openai

#21085 partner: Update few codes and add upstage loader in pdf section
  docs/docs/modules/data_connection/document_loaders/pdf.mdx
  libs/partners/upstage/langchain_upstage/layout_analysis.py
  libs/partners/upstage/langchain_upstage/layout_analysis_parsers.py
  libs/partners/upstage/poetry.lock
  libs/partners/upstage/tests/unit_tests/test_layout_analysis.py
Labels: 🤖:improvement, 🤖:docs, size:L, partner

#21072 Fix neo4j enhanced schema bugs
  libs/community/langchain_community/graphs/neo4j_graph.py
Labels: lgtm, 🤖:bug, size:S, 🔌: neo4j

#21064 updated docs on langchain_google_community
  docs/docs/integrations/document_loaders/google_bigquery.ipynb
  docs/docs/integrations/document_loaders/google_drive.ipynb
  docs/docs/integrations/document_loaders/google_speech_to_text.ipynb
  docs/docs/integrations/document_transformers/google_docai.ipynb
  docs/docs/integrations/document_transformers/google_translate.ipynb
Labels: lgtm, 🤖:docs, size:M

#21058 libs: remove repetitive words
  libs/community/langchain_community/retrievers/tfidf.py
  libs/community/langchain_community/utilities/github.py
  libs/community/langchain_community/vectorstores/pathway.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:XS, Ɑ: retriever

#21136 docs: fix some notebook formatting
  docs/docs/integrations/chat/deepinfra.ipynb
  docs/docs/integrations/document_loaders/yuque.ipynb
Labels: size:M

#21014 Add support for non-function calling LLMs in llm graph transformers
  libs/experimental/langchain_experimental/graph_transformers/llm.py
Labels: lgtm, 🤖:improvement, size:L

#19948 community: update package name to bagelML
  docs/docs/integrations/providers/bagel.mdx
  docs/docs/integrations/vectorstores/bagel.ipynb
  libs/community/langchain_community/vectorstores/__init__.py
  libs/community/langchain_community/vectorstores/bagel.py
  libs/community/langchain_community/vectorstores/bageldb.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XL

#20930 Update python.py（experimental：Added code for PythonREPL）
  libs/experimental/langchain_experimental/utilities/python.py
  libs/experimental/tests/unit_tests/test_python.py
Labels: lgtm, needs test, 🤖:improvement, size:M

#21063 community:Update comments for lazy_load method
  libs/community/langchain_community/document_loaders/chromium.py
Labels: Ɑ: doc loader, 🤖:improvement, size:M

#20461 langchain::Sync devcontainer.json and compose file mount location
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
Labels: lgtm, 🤖:nit, size:XS

#21054 docs: Docs (sample notebook) for Vertex DIY RAG Ranking API
  docs/docs/integrations/document_transformers/google_cloud_vertexai_rerank.ipynb
Labels: lgtm, 🤖:docs, size:XL, Ɑ: retriever, 🔌: google

#21049 [Core] Tracing: update parent run_tree's child_runs
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/tracers/base.py
  libs/core/tests/unit_tests/tracers/test_base_tracer.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
Labels: lgtm, 🤖:improvement, size:M

#21105 langchain[patch]: Upgrade storage to treat langchain community as optional
  libs/langchain/langchain/storage/__init__.py
  libs/langchain/langchain/storage/redis.py
  libs/langchain/langchain/storage/upstash_redis.py
Labels: lgtm, 🤖:improvement, 🔌: redis, size:L

#21138 Use `ruff check` in Makefile
  Makefile
Labels: lgtm, 🤖:nit, size:XS

#21089 langchain[patch]: Migrate chat loaders to optional community imports
  libs/langchain/langchain/chat_loaders/gmail.py
  libs/langchain/langchain/chat_loaders/imessage.py
  libs/langchain/langchain/chat_loaders/langsmith.py
  libs/langchain/langchain/chat_loaders/slack.py
  libs/langchain/langchain/chat_loaders/telegram.py
  libs/langchain/langchain/chat_loaders/utils.py
  libs/langchain/langchain/chat_loaders/whatsapp.py
Labels: lgtm, 🤖:improvement, size:L

#21091 langchain[patch]: Update docstore module to use optional imports from community
  libs/langchain/langchain/docstore/__init__.py
  libs/langchain/langchain/docstore/arbitrary_fn.py
  libs/langchain/langchain/docstore/base.py
  libs/langchain/langchain/docstore/in_memory.py
  libs/langchain/langchain/docstore/wikipedia.py
Labels: lgtm, 🤖:improvement, size:L

#21088 langchain[patch]: Migrate agents module into optional imports for community
  libs/langchain/langchain/agents/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/ainetwork/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/azure_cognitive_services.py
  libs/langchain/langchain/agents/agent_toolkits/clickup/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/file_management/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/file_management/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/github/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/gitlab/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/gmail/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/jira/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/json/base.py
  libs/langchain/langchain/agents/agent_toolkits/json/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/multion/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/nasa/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/nla/tool.py
  libs/langchain/langchain/agents/agent_toolkits/nla/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/office365/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/openapi/base.py
  libs/langchain/langchain/agents/agent_toolkits/openapi/planner.py
  libs/langchain/langchain/agents/agent_toolkits/openapi/spec.py
  libs/langchain/langchain/agents/agent_toolkits/openapi/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/playwright/__init__.py
  libs/langchain/langchain/agents/agent_toolkits/playwright/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/powerbi/base.py
  libs/langchain/langchain/agents/agent_toolkits/powerbi/chat_base.py
  libs/langchain/langchain/agents/agent_toolkits/powerbi/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/slack/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/spark_sql/base.py
  libs/langchain/langchain/agents/agent_toolkits/spark_sql/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/sql/base.py
  libs/langchain/langchain/agents/agent_toolkits/sql/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/steam/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/zapier/toolkit.py
Labels: Ɑ: agent, lgtm, 🤖:refactor, size:XL

#20795 langchain[patch],community[minor]: Move graph index creator
  libs/community/langchain_community/graphs/index_creator.py
  libs/langchain/langchain/indexes/__init__.py
  libs/langchain/langchain/indexes/graph.py
  libs/langchain/langchain/indexes/prompts/__init__.py
  libs/langchain/tests/unit_tests/indexes/test_api.py
Labels: lgtm, 🤖:improvement, size:L

#20052 community: Rememberizer retriever
  docs/docs/integrations/retrievers/rememberizer.ipynb
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/langchain_community/retrievers/rememberizer.py
  libs/community/langchain_community/utilities/__init__.py
  libs/community/langchain_community/utilities/rememberizer.py
  libs/community/tests/unit_tests/retrievers/test_imports.py
  libs/community/tests/unit_tests/utilities/test_imports.py
  libs/community/tests/unit_tests/utilities/test_rememberizer.py
Labels: lgtm, 🤖:enhancement, size:L, Ɑ: retriever

#21144 fix alternative name
  libs/community/langchain_community/utilities/sql_database.py
Labels: lgtm, 🤖:nit, size:XS

#21143 👥 Update LangChain people data
  docs/data/people.yml
Labels: lgtm, 🤖:docs, size:XS

#20167 docs: standardize vertexai params
  cookbook/Multi_modal_RAG_google.ipynb
  docs/docs/integrations/chat/google_vertex_ai_palm.ipynb
  docs/docs/integrations/llms/google_vertex_ai_palm.ipynb
Labels: lgtm, 🤖:docs, size:S, 🔌: google

#21148 langchain[patch]: embedddings distance move import of openai embeddings into local scope
  libs/langchain/langchain/evaluation/embedding_distance/base.py
Labels: 🤖:improvement, size:M

#21149 langchain[patch]: Migrate utilities to handle langchain community as optional
  libs/langchain/langchain/utilities/__init__.py
  libs/langchain/langchain/utilities/alpha_vantage.py
  libs/langchain/langchain/utilities/anthropic.py
  libs/langchain/langchain/utilities/apify.py
  libs/langchain/langchain/utilities/arcee.py
  libs/langchain/langchain/utilities/arxiv.py
  libs/langchain/langchain/utilities/awslambda.py
  libs/langchain/langchain/utilities/bibtex.py
  libs/langchain/langchain/utilities/bing_search.py
  libs/langchain/langchain/utilities/brave_search.py
  libs/langchain/langchain/utilities/clickup.py
  libs/langchain/langchain/utilities/dalle_image_generator.py
  libs/langchain/langchain/utilities/dataforseo_api_search.py
  libs/langchain/langchain/utilities/duckduckgo_search.py
  libs/langchain/langchain/utilities/github.py
  libs/langchain/langchain/utilities/gitlab.py
  libs/langchain/langchain/utilities/golden_query.py
  libs/langchain/langchain/utilities/google_finance.py
  libs/langchain/langchain/utilities/google_jobs.py
  libs/langchain/langchain/utilities/google_lens.py
  libs/langchain/langchain/utilities/google_places_api.py
  libs/langchain/langchain/utilities/google_scholar.py
  libs/langchain/langchain/utilities/google_search.py
  libs/langchain/langchain/utilities/google_serper.py
  libs/langchain/langchain/utilities/google_trends.py
  libs/langchain/langchain/utilities/graphql.py
  libs/langchain/langchain/utilities/jira.py
  libs/langchain/langchain/utilities/max_compute.py
  libs/langchain/langchain/utilities/merriam_webster.py
  libs/langchain/langchain/utilities/metaphor_search.py
  libs/langchain/langchain/utilities/nasa.py
  libs/langchain/langchain/utilities/opaqueprompts.py
  libs/langchain/langchain/utilities/openapi.py
  libs/langchain/langchain/utilities/openweathermap.py
  libs/langchain/langchain/utilities/outline.py
  libs/langchain/langchain/utilities/portkey.py
  libs/langchain/langchain/utilities/powerbi.py
  libs/langchain/langchain/utilities/pubmed.py
  libs/langchain/langchain/utilities/reddit_search.py
  libs/langchain/langchain/utilities/redis.py
  libs/langchain/langchain/utilities/requests.py
  libs/langchain/langchain/utilities/scenexplain.py
  libs/langchain/langchain/utilities/searchapi.py
  libs/langchain/langchain/utilities/searx_search.py
  libs/langchain/langchain/utilities/serpapi.py
  libs/langchain/langchain/utilities/spark_sql.py
  libs/langchain/langchain/utilities/sql_database.py
  libs/langchain/langchain/utilities/stackexchange.py
  libs/langchain/langchain/utilities/steam.py
  libs/langchain/langchain/utilities/tavily_search.py
  libs/langchain/langchain/utilities/tensorflow_datasets.py
  libs/langchain/langchain/utilities/twilio.py
  libs/langchain/langchain/utilities/vertexai.py
  libs/langchain/langchain/utilities/wikipedia.py
  libs/langchain/langchain/utilities/wolfram_alpha.py
  libs/langchain/langchain/utilities/zapier.py
Labels: 🤖:improvement, 🔌: aws, size:XL, 🔌: anthropic

#20815 partners: AI21 Labs Jamba Support
  libs/partners/ai21/langchain_ai21/chat/__init__.py
  libs/partners/ai21/langchain_ai21/chat/chat_adapter.py
  libs/partners/ai21/langchain_ai21/chat/chat_factory.py
  libs/partners/ai21/langchain_ai21/chat_models.py
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
  libs/partners/ai21/tests/integration_tests/test_chat_models.py
  libs/partners/ai21/tests/integration_tests/test_standard.py
  libs/partners/ai21/tests/unit_tests/chat/__init__.py
  libs/partners/ai21/tests/unit_tests/chat/conftest.py
  libs/partners/ai21/tests/unit_tests/chat/test_chat_adapter.py
  libs/partners/ai21/tests/unit_tests/chat/test_chat_adapter_factory.py
  libs/partners/ai21/tests/unit_tests/conftest.py
  libs/partners/ai21/tests/unit_tests/test_chat_models.py
  libs/partners/ai21/tests/unit_tests/test_standard.py
Labels: lgtm, 🤖:enhancement, size:XL, partner

#21151 ai21: release 0.1.4
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
Labels: size:XS, partner, 🤖:release

#21152 langchain[patch]: Migrate top level files to use optional langchain community
  libs/langchain/langchain/cache.py
  libs/langchain/langchain/requests.py
  libs/langchain/langchain/serpapi.py
  libs/langchain/langchain/sql_database.py
Labels: 🤖:improvement, size:L

#21099 langchain[patch]: Migrate embeddings to optional imports
  libs/langchain/langchain/embeddings/__init__.py
  libs/langchain/langchain/embeddings/aleph_alpha.py
  libs/langchain/langchain/embeddings/awa.py
  libs/langchain/langchain/embeddings/azure_openai.py
  libs/langchain/langchain/embeddings/baidu_qianfan_endpoint.py
  libs/langchain/langchain/embeddings/bedrock.py
  libs/langchain/langchain/embeddings/bookend.py
  libs/langchain/langchain/embeddings/clarifai.py
  libs/langchain/langchain/embeddings/cloudflare_workersai.py
  libs/langchain/langchain/embeddings/cohere.py
  libs/langchain/langchain/embeddings/dashscope.py
  libs/langchain/langchain/embeddings/databricks.py
  libs/langchain/langchain/embeddings/deepinfra.py
  libs/langchain/langchain/embeddings/edenai.py
  libs/langchain/langchain/embeddings/elasticsearch.py
  libs/langchain/langchain/embeddings/embaas.py
  libs/langchain/langchain/embeddings/ernie.py
  libs/langchain/langchain/embeddings/fake.py
  libs/langchain/langchain/embeddings/fastembed.py
  libs/langchain/langchain/embeddings/google_palm.py
  libs/langchain/langchain/embeddings/gpt4all.py
  libs/langchain/langchain/embeddings/gradient_ai.py
  libs/langchain/langchain/embeddings/huggingface.py
  libs/langchain/langchain/embeddings/huggingface_hub.py
  libs/langchain/langchain/embeddings/infinity.py
  libs/langchain/langchain/embeddings/javelin_ai_gateway.py
  libs/langchain/langchain/embeddings/jina.py
  libs/langchain/langchain/embeddings/johnsnowlabs.py
  libs/langchain/langchain/embeddings/llamacpp.py
  libs/langchain/langchain/embeddings/llm_rails.py
  libs/langchain/langchain/embeddings/localai.py
  libs/langchain/langchain/embeddings/minimax.py
  libs/langchain/langchain/embeddings/mlflow.py
  libs/langchain/langchain/embeddings/mlflow_gateway.py
  libs/langchain/langchain/embeddings/modelscope_hub.py
  libs/langchain/langchain/embeddings/mosaicml.py
  libs/langchain/langchain/embeddings/nlpcloud.py
  libs/langchain/langchain/embeddings/octoai_embeddings.py
  libs/langchain/langchain/embeddings/ollama.py
  libs/langchain/langchain/embeddings/openai.py
  libs/langchain/langchain/embeddings/sagemaker_endpoint.py
  libs/langchain/langchain/embeddings/self_hosted.py
  libs/langchain/langchain/embeddings/self_hosted_hugging_face.py
  libs/langchain/langchain/embeddings/spacy_embeddings.py
  libs/langchain/langchain/embeddings/tensorflow_hub.py
  libs/langchain/langchain/embeddings/vertexai.py
  libs/langchain/langchain/embeddings/voyageai.py
  libs/langchain/langchain/embeddings/xinference.py
  libs/langchain/tests/unit_tests/embeddings/test_imports.py
Labels: Ɑ: embeddings, 🤖:improvement, 🔌: elasticsearch, size:XXL, 🔌: cohere, 🔌: huggingface

#21157 langchain[patch]: Update some agent tool kits to handle community import as optional
  libs/langchain/langchain/agents/agent_toolkits/amadeus/toolkit.py
  libs/langchain/langchain/agents/agent_toolkits/json/prompt.py
  libs/langchain/langchain/agents/agent_toolkits/openapi/planner_prompt.py
  libs/langchain/langchain/agents/agent_toolkits/openapi/prompt.py
  libs/langchain/langchain/agents/agent_toolkits/powerbi/prompt.py
  libs/langchain/langchain/agents/agent_toolkits/spark_sql/prompt.py
  libs/langchain/langchain/agents/agent_toolkits/sql/prompt.py
  libs/langchain/langchain/agents/agent_toolkits/vectorstore/toolkit.py
Labels: Ɑ: agent, 🤖:improvement, size:L

#21155 langchain[patch]: Migrate retrievers to use optional langchain community imports
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/tests/unit_tests/retrievers/test_imports.py
  libs/langchain/langchain/retrievers/__init__.py
  libs/langchain/langchain/retrievers/arcee.py
  libs/langchain/langchain/retrievers/arxiv.py
  libs/langchain/langchain/retrievers/azure_ai_search.py
  libs/langchain/langchain/retrievers/bedrock.py
  libs/langchain/langchain/retrievers/bm25.py
  libs/langchain/langchain/retrievers/chaindesk.py
  libs/langchain/langchain/retrievers/chatgpt_plugin_retriever.py
  libs/langchain/langchain/retrievers/cohere_rag_retriever.py
  libs/langchain/langchain/retrievers/databerry.py
  libs/langchain/langchain/retrievers/docarray.py
  libs/langchain/langchain/retrievers/elastic_search_bm25.py
  libs/langchain/langchain/retrievers/embedchain.py
  libs/langchain/langchain/retrievers/google_cloud_documentai_warehouse.py
  libs/langchain/langchain/retrievers/google_vertex_ai_search.py
  libs/langchain/langchain/retrievers/kay.py
  libs/langchain/langchain/retrievers/kendra.py
  libs/langchain/langchain/retrievers/knn.py
  libs/langchain/langchain/retrievers/llama_index.py
  libs/langchain/langchain/retrievers/metal.py
  libs/langchain/langchain/retrievers/milvus.py
  libs/langchain/langchain/retrievers/outline.py
  libs/langchain/langchain/retrievers/pinecone_hybrid_search.py
  libs/langchain/langchain/retrievers/pubmed.py
  libs/langchain/langchain/retrievers/pupmed.py
  libs/langchain/langchain/retrievers/remote_retriever.py
  libs/langchain/langchain/retrievers/svm.py
  libs/langchain/langchain/retrievers/tavily_search_api.py
  libs/langchain/langchain/retrievers/tfidf.py
  libs/langchain/langchain/retrievers/vespa_retriever.py
  libs/langchain/langchain/retrievers/weaviate_hybrid_search.py
  libs/langchain/langchain/retrievers/wikipedia.py
  libs/langchain/langchain/retrievers/you.py
  libs/langchain/langchain/retrievers/zep.py
  libs/langchain/langchain/retrievers/zilliz.py
  libs/langchain/tests/unit_tests/retrievers/test_imports.py
Labels: 🤖:improvement, size:XXL, Ɑ: retriever

#21163 langchain[patch]: Migrate utils to use optional langchain_community
  libs/langchain/langchain/utils/ernie_functions.py
  libs/langchain/langchain/utils/openai.py
Labels: 🤖:improvement, size:M, 🔌: openai

#21165 langchain[patch]: Fix how the serializable test identifies serializable objects
  libs/langchain/tests/unit_tests/load/test_serializable.py
Labels: 🤖:nit, size:M

#21090 langchain[patch]: Migrate chat models to optional community imports
  libs/langchain/langchain/chat_models/anthropic.py
  libs/langchain/langchain/chat_models/anyscale.py
  libs/langchain/langchain/chat_models/azure_openai.py
  libs/langchain/langchain/chat_models/azureml_endpoint.py
  libs/langchain/langchain/chat_models/baichuan.py
  libs/langchain/langchain/chat_models/baidu_qianfan_endpoint.py
  libs/langchain/langchain/chat_models/bedrock.py
  libs/langchain/langchain/chat_models/cohere.py
  libs/langchain/langchain/chat_models/databricks.py
  libs/langchain/langchain/chat_models/ernie.py
  libs/langchain/langchain/chat_models/everlyai.py
  libs/langchain/langchain/chat_models/fake.py
  libs/langchain/langchain/chat_models/fireworks.py
  libs/langchain/langchain/chat_models/gigachat.py
  libs/langchain/langchain/chat_models/google_palm.py
  libs/langchain/langchain/chat_models/human.py
  libs/langchain/langchain/chat_models/hunyuan.py
  libs/langchain/langchain/chat_models/javelin_ai_gateway.py
  libs/langchain/langchain/chat_models/jinachat.py
  libs/langchain/langchain/chat_models/konko.py
  libs/langchain/langchain/chat_models/litellm.py
  libs/langchain/langchain/chat_models/meta.py
  libs/langchain/langchain/chat_models/minimax.py
  libs/langchain/langchain/chat_models/mlflow.py
  libs/langchain/langchain/chat_models/mlflow_ai_gateway.py
  libs/langchain/langchain/chat_models/ollama.py
  libs/langchain/langchain/chat_models/openai.py
  libs/langchain/langchain/chat_models/pai_eas_endpoint.py
  libs/langchain/langchain/chat_models/promptlayer_openai.py
  libs/langchain/langchain/chat_models/tongyi.py
  libs/langchain/langchain/chat_models/vertexai.py
  libs/langchain/langchain/chat_models/volcengine_maas.py
  libs/langchain/langchain/chat_models/yandex.py
Labels: 🤖:improvement, size:XL, 🔌: google, 🔌: openai, 🔌: anthropic, 🔌: cohere, 🔌: fireworks

#21158 langchain[patch],community[minor]: Move load_tools to community
  libs/community/langchain_community/agent_toolkits/load_tools.py
  libs/langchain/langchain/agents/load_tools.py
Labels: 🤖:refactor, size:XXL

#21168 ai21: fix core version
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
Labels: size:XS, partner

#21139 Some more fixes to neo4j enhanced schema
  libs/community/langchain_community/graphs/neo4j_graph.py
Labels: lgtm, 🤖:nit, size:M, 🔌: neo4j

#21164 (new docs): update rag use-case docs
  docs/versioned_docs/version-0.2.x/how_to/index.mdx
  docs/versioned_docs/version-0.2.x/how_to/qa_chat_history_how_to.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_citations.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_per_user.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_sources.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_streaming.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/rag.ipynb
  docs/versioned_sidebars/version-0.2.x-sidebars.json
Labels: 🤖:docs, size:XXL

#21167 langchain[patch]: Migrate more code to use optional community in agents namespace
  libs/langchain/langchain/agents/__init__.py
Labels: Ɑ: agent, 🤖:improvement, size:S

#21166 langchain[patch]: Migrate more code in utils to use optional langchain import
  libs/langchain/langchain/__init__.py
  libs/langchain/langchain/_api/interactive_env.py
  libs/langchain/langchain/_api/module_import.py
  libs/langchain/langchain/chat_models/__init__.py
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/memory/chat_message_histories/__init__.py
  libs/langchain/langchain/tools/__init__.py
  libs/langchain/langchain/utils/__init__.py
  libs/langchain/langchain/utils/math.py
Labels: 🤖:improvement, size:M

#21159 openai[patch]: fix azure open lc serialization
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/llms/azure.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/unit_tests/test_secrets.py
Labels: lgtm, size:L, partner, 🔌: openai

#21134 infra: cleanup docs build
  Makefile
  docs/.gitignore
  docs/.local_build.sh
  docs/Makefile
  docs/code-block-loader.js
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
  docs/docs/integrations/providers/intel.mdx
  docs/scripts/copy_templates.py
  docs/scripts/generate_api_reference_links.py
  docs/scripts/model_feat_table.py
  docs/settings.ini
  docs/vercel_build.sh
Labels: lgtm, 🤖:docs, size:L

#21170 langchain[patch]: Update more code to use langchain community as an optional dependency
  libs/langchain/langchain/agents/react/base.py
  libs/langchain/langchain/agents/self_ask_with_search/base.py
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/langchain/chains/loading.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/chains/sql_database/query.py
  libs/langchain/langchain/document_loaders/parsers/language/python.py
  libs/langchain/langchain/document_loaders/pyspark_dataframe.py
  libs/langchain/langchain/document_loaders/python.py
  libs/langchain/langchain/embeddings/sentence_transformer.py
  libs/langchain/langchain/evaluation/scoring/eval_chain.py
  libs/langchain/langchain/indexes/__init__.py
  libs/langchain/langchain/indexes/graph.py
  libs/langchain/langchain/indexes/prompts/knowledge_triplet_extraction.py
  libs/langchain/langchain/indexes/vectorstore.py
  libs/langchain/langchain/llms/titan_takeoff_pro.py
  libs/langchain/langchain/python.py
  libs/langchain/langchain/tools/ainetwork/app.py
  libs/langchain/langchain/tools/ainetwork/base.py
  libs/langchain/langchain/tools/ainetwork/owner.py
  libs/langchain/langchain/tools/ainetwork/rule.py
  libs/langchain/langchain/tools/ainetwork/transfer.py
  libs/langchain/langchain/tools/ainetwork/value.py
  libs/langchain/langchain/tools/sql_database/prompt.py
  libs/langchain/langchain/utilities/python.py
Labels: Ɑ: agent, Ɑ: embeddings, Ɑ: vector store, 🤖:improvement, size:XL

#21190 langchain[patch],community[minor]: Move some unit tests from langchain to community, use core for fake models
  libs/community/scripts/lint_imports.sh
  libs/community/tests/unit_tests/retrievers/document_compressors/test_cohere_rerank.py
  libs/community/tests/unit_tests/retrievers/document_compressors/test_cross_encoder_reranker.py
  libs/langchain/langchain/llms/__init__.py
  libs/langchain/langchain/llms/fake.py
  libs/langchain/tests/unit_tests/agents/test_agent_iterator.py
  libs/langchain/tests/unit_tests/agents/test_react.py
  libs/langchain/tests/unit_tests/agents/test_serialization.py
  libs/langchain/tests/unit_tests/chains/test_conversation_retrieval.py
  libs/langchain/tests/unit_tests/chains/test_history_aware_retriever.py
  libs/langchain/tests/unit_tests/chains/test_retrieval.py
  libs/langchain/tests/unit_tests/evaluation/test_loading.py
  libs/langchain/tests/unit_tests/retrievers/document_compressors/__init__.py
  libs/langchain/tests/unit_tests/test_cache.py
Labels: 🤖:nit, size:M, Ɑ: retriever, 🔌: cohere

#21194 langchain[patch]: chat histories to handle optional community dependence
  libs/langchain/langchain/memory/chat_message_histories/__init__.py
  libs/langchain/langchain/memory/chat_message_histories/astradb.py
  libs/langchain/langchain/memory/chat_message_histories/cassandra.py
  libs/langchain/langchain/memory/chat_message_histories/cosmos_db.py
  libs/langchain/langchain/memory/chat_message_histories/dynamodb.py
  libs/langchain/langchain/memory/chat_message_histories/elasticsearch.py
  libs/langchain/langchain/memory/chat_message_histories/file.py
  libs/langchain/langchain/memory/chat_message_histories/firestore.py
  libs/langchain/langchain/memory/chat_message_histories/in_memory.py
  libs/langchain/langchain/memory/chat_message_histories/momento.py
  libs/langchain/langchain/memory/chat_message_histories/mongodb.py
  libs/langchain/langchain/memory/chat_message_histories/neo4j.py
  libs/langchain/langchain/memory/chat_message_histories/postgres.py
  libs/langchain/langchain/memory/chat_message_histories/redis.py
  libs/langchain/langchain/memory/chat_message_histories/rocksetdb.py
  libs/langchain/langchain/memory/chat_message_histories/singlestoredb.py
  libs/langchain/langchain/memory/chat_message_histories/sql.py
  libs/langchain/langchain/memory/chat_message_histories/streamlit.py
  libs/langchain/langchain/memory/chat_message_histories/upstash_redis.py
  libs/langchain/langchain/memory/chat_message_histories/xata.py
  libs/langchain/langchain/memory/chat_message_histories/zep.py
Labels: Ɑ: memory, 🤖:improvement, 🔌: redis, 🔌: elasticsearch, size:XL, 🔌: astradb, 🔌: mongo, 🔌: neo4j, 🔌: postgres

#21198 langchain: import InMemoryChatMessageHistory from core
  libs/langchain/langchain/memory/chat_message_histories/in_memory.py
Labels: Ɑ: memory, size:S

#21199 langchain[patch]: Make more memory code handle community dependency as optional
  libs/langchain/langchain/memory/__init__.py
  libs/langchain/langchain/memory/entity.py
  libs/langchain/langchain/memory/kg.py
  libs/langchain/langchain/memory/motorhead_memory.py
  libs/langchain/langchain/memory/zep_memory.py
Labels: Ɑ: memory, 🤖:improvement, size:L

#21207 Fixes for convert_messages
  .github/workflows/_lint.yml
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/test_messages.py
Labels: lgtm, 🤖:improvement, size:M

#21211 core[patch]: Release 0.1.49
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#21192 Update lancedb.py
  libs/community/langchain_community/vectorstores/lancedb.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:M

#21070 docs:Added documentation on Anthropic models on vertex
  docs/docs/integrations/llms/google_vertex_ai_palm.ipynb
Labels: lgtm, 🤖:docs, size:L, 🔌: google

#21210 infra: Undo gh cache removal
  .github/workflows/_lint.yml
Labels: size:M

#21201 partners(mistralai): Removing unused variable in completion request (using tool_calls or content)
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Labels: 🤖:bug, size:S, partner

#21213 (standard tests): add test for basic conversation sequence
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: 🤖:nit, size:S

#21214 mistral: release 0.1.6
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Labels: size:XS, partner, 🤖:release

#21205 langchain: fix syntax error in code comment for create_tool_calling_agent
  libs/langchain/langchain/agents/tool_calling_agent/base.py
Labels: Ɑ: agent, lgtm, 🤖:nit, size:XS

#21217 (new docs): fix
  docs/versioned_docs/version-0.2.x/how_to/vectorstores.ipynb
  docs/versioned_docs/version-0.2.x/how_to/vectorstores.mdx
Labels: 🤖:docs, size:L

#21195 (new docs): update extraction how-to guides
  docs/versioned_docs/version-0.2.x/how_to/extraction_examples.ipynb
  docs/versioned_docs/version-0.2.x/how_to/extraction_long_text.ipynb
  docs/versioned_docs/version-0.2.x/how_to/extraction_parse.ipynb
Labels: 🤖:docs, size:L, Ɑ: Extraction

#21223 core: tracer: Support receiving child runs out of order
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/tracers/base.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
Labels: lgtm, 🤖:improvement, size:M

#21225 docs: model table keywords, remove tool calling from llm
  docs/scripts/model_feat_table.py
Labels: 🤖:docs, size:XS

#21221 (new docs): add agents to sidebar
  docs/versioned_sidebars/version-0.2.x-sidebars.json
Labels: 🤖:docs, size:S

#21226 (new docs): format
  docs/versioned_docs/version-0.2.x/how_to/HTML_header_metadata_splitter.ipynb
  docs/versioned_docs/version-0.2.x/how_to/character_text_splitter.ipynb
  docs/versioned_docs/version-0.2.x/how_to/debugging.ipynb
  docs/versioned_docs/version-0.2.x/how_to/document_loader_csv.ipynb
  docs/versioned_docs/version-0.2.x/how_to/document_loader_html.ipynb
  docs/versioned_docs/version-0.2.x/how_to/document_loader_markdown.ipynb
  docs/versioned_docs/version-0.2.x/how_to/document_loader_pdf.ipynb
  docs/versioned_docs/version-0.2.x/how_to/extraction_examples.ipynb
  docs/versioned_docs/version-0.2.x/how_to/migrate_agent.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_chat_history_how_to.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_citations.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_per_user.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_sources.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_streaming.ipynb
  docs/versioned_docs/version-0.2.x/how_to/recursive_text_splitter.ipynb
  docs/versioned_docs/version-0.2.x/how_to/split_by_token.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/agents.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/chatbot.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/qa_chat_history.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/rag.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/sql_qa.ipynb
Labels: 🤖:docs, size:L

#21216 openai[patch]: support tool_choice="required"
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: lgtm, 🤖:improvement, size:L, partner, 🔌: openai

#21220 core: tracer: remove numeric execution order
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/schemas.py
  libs/core/langchain_core/tracers/stdout.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/tracers/test_base_tracer.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
Labels: lgtm, size:L

#21230 core: release 0.1.50
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#21236 openai[patch]: Release 0.1.6
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: openai

#21229 docs: add tool choice to tool calling
  docs/docs/modules/model_io/chat/function_calling.ipynb
Labels: lgtm, 🤖:docs, size:L

#21240 docs: Update Nvidia documentation
  docs/docs/integrations/chat/nvidia_ai_endpoints.ipynb
  docs/docs/integrations/providers/nvidia.mdx
  docs/docs/integrations/text_embedding/nvidia_ai_endpoints.ipynb
Labels: lgtm, 🤖:docs, size:M, 🔌: nvidia

#21248 docs: Fix comment within "handle long text" example
  docs/docs/use_cases/extraction/how_to/handle_long_text.ipynb
Labels: lgtm, 🤖:docs, size:XS

#21183 Hotfix RetrievalQA Docs: docs: Fix formatting
  libs/langchain/langchain/chains/retrieval_qa/base.py
Labels: lgtm, 🤖:docs, size:XS, Ɑ: retriever

#21241 community: Relax constraints on CassandraChatMessageHistory constructor
  libs/community/langchain_community/chat_message_histories/cassandra.py
Labels: lgtm, 🤖:improvement, size:S

#21228 (new docs) update links
  docs/versioned_docs/version-0.2.x/how_to/HTML_header_metadata_splitter.ipynb
  docs/versioned_docs/version-0.2.x/how_to/HTML_section_aware_splitter.ipynb
  docs/versioned_docs/version-0.2.x/how_to/agent_executor.ipynb
  docs/versioned_docs/version-0.2.x/how_to/chatbots_tools.ipynb
  docs/versioned_docs/version-0.2.x/how_to/custom_retriever.ipynb
  docs/versioned_docs/version-0.2.x/how_to/function_calling.ipynb
  docs/versioned_docs/version-0.2.x/how_to/qa_chat_history_how_to.ipynb
  docs/versioned_docs/version-0.2.x/how_to/routing.ipynb
  docs/versioned_docs/version-0.2.x/how_to/sequence.ipynb
  docs/versioned_docs/version-0.2.x/how_to/sql_csv.ipynb
  docs/versioned_docs/version-0.2.x/how_to/sql_large_db.ipynb
  docs/versioned_docs/version-0.2.x/how_to/structured_output.ipynb
  docs/versioned_docs/version-0.2.x/how_to/tool_calling.ipynb
  docs/versioned_docs/version-0.2.x/how_to/tools_chain.ipynb
  docs/versioned_docs/version-0.2.x/how_to/tools_multiple.ipynb
  docs/versioned_docs/version-0.2.x/how_to/tools_prompting.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/classification.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/qa_chat_history.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/query_analysis.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/rag.ipynb
Labels: 🤖:docs, size:L

#21254 langchain[minor]: Re-add deleted ainetwork tool
  libs/community/langchain_community/tools/ainetwork/__init__.py
  libs/langchain/langchain/tools/ainetwork/__init__.py
  libs/langchain/langchain/tools/ainetwork/app.py
  libs/langchain/langchain/tools/ainetwork/base.py
  libs/langchain/langchain/tools/ainetwork/owner.py
  libs/langchain/langchain/tools/ainetwork/rule.py
  libs/langchain/langchain/tools/ainetwork/transfer.py
  libs/langchain/langchain/tools/ainetwork/value.py
Labels: size:L

#21258 langchain[patch]: Fix flaky unit test
  libs/langchain/tests/unit_tests/load/test_serializable.py
Labels: 🤖:nit, size:S

#21256 langchain[patch]: Revert breaking change until 0.2 release
  libs/langchain/langchain/agents/agent_toolkits/vectorstore/toolkit.py
  libs/langchain/langchain/chains/natbot/base.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/chains/router/multi_retrieval_qa.py
  libs/langchain/langchain/indexes/vectorstore.py
Labels: lgtm, Ɑ: vector store, size:L

#21262 langchain[patch]: Improve deprecation warnings
  libs/langchain/langchain/_api/module_import.py
  libs/langchain/langchain/output_parsers/__init__.py
Labels: 🤖:improvement, size:M, Ɑ: parsing

#21266 langchain: `summarize` chain fix
  libs/langchain/langchain/chains/summarize/__init__.py
  libs/langchain/langchain/chains/summarize/chain.py
Labels: lgtm, size:L

#21268 langchain[patch]: Update deprecation warning
  libs/langchain/langchain/_api/module_import.py
Labels: 🤖:improvement, size:M

#21272 langchain[patch]: Remove jsonpatch from poetry file
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
Labels: 🤖:nit, size:XS

#21275 fix: core: draw_mermaid() would create subgroup for edges with same src and tgt
  libs/core/langchain_core/runnables/graph_mermaid.py
Labels: lgtm, 🤖:bug, size:XS

#21277 mistralai: relax tokenizers dep
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Labels: size:XS, partner

#21133 core: `utils.guard_import` fix
  libs/core/langchain_core/utils/utils.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: lgtm, 🤖:bug, 🤖:nit, size:M

#21156 community[patch]: `tools` imports
  libs/community/langchain_community/tools/gmail/utils.py
  libs/community/langchain_community/tools/playwright/base.py
Labels: lgtm, 🤖:improvement, size:M

#21115 langchain[patch]: Fix summary buffer memory with return message flag
  libs/langchain/langchain/memory/summary_buffer.py
Labels: Ɑ: memory, lgtm, 🤖:improvement, size:XS

#21276 langchain: fix deprecation decorators on extraction chains
  libs/langchain/langchain/chains/openai_functions/extraction.py
  libs/langchain/langchain/chains/openai_tools/extraction.py
  libs/langchain/langchain/chains/structured_output/base.py
Labels: 🤖:bug, size:XS, 🔌: openai, Ɑ: Extraction

#21123 Oraclevs integration
  cookbook/README.md
  cookbook/oracleai_demo.ipynb
  docs/docs/integrations/document_loaders/oracleai.ipynb
  docs/docs/integrations/providers/oracleai.mdx
  docs/docs/integrations/text_embedding/oracleai.ipynb
  docs/docs/integrations/tools/oracleai.ipynb
  docs/docs/integrations/vectorstores/oracle.ipynb
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/oracleai.py
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/oracleai.py
  libs/community/langchain_community/utilities/__init__.py
  libs/community/langchain_community/utilities/oracleai.py
  libs/community/langchain_community/vectorstores/__init__.py
  libs/community/langchain_community/vectorstores/oraclevs.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/document_loaders/test_oracleds.py
  libs/community/tests/integration_tests/vectorstores/test_oraclevs.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
  libs/community/tests/unit_tests/utilities/test_imports.py
  libs/community/tests/unit_tests/vectorstores/test_imports.py
  libs/community/tests/unit_tests/vectorstores/test_indexing_docs.py
  libs/community/tests/unit_tests/vectorstores/test_public_api.py
Labels: lgtm, Ɑ: embeddings, Ɑ: doc loader, Ɑ: vector store, 🤖:enhancement, size:XXL

#21245 docs: Add doc for hybrid search
  docs/docs/use_cases/question_answering/hybrid.ipynb
  docs/docs/use_cases/question_answering/index.ipynb
  docs/sidebars.js
Labels: lgtm, 🤖:docs, size:L

#21302 docs:update code structure
  docs/docs/integrations/llms/ipex_llm.ipynb
Labels: lgtm, 🤖:docs, size:M

#21290 partners[anthropic]: update unit test for key passed in from the environment
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:nit, size:XS, partner

#21289 docs: Update pandas.ipynb
  docs/docs/integrations/toolkits/pandas.ipynb
Labels: lgtm, 🤖:docs, size:XS

#21315 Add the extract types to diffbot graph transformer
  libs/experimental/langchain_experimental/graph_transformers/diffbot.py
Labels: lgtm, 🤖:improvement, size:L, Ɑ: Extraction

#20951 langchain: enhance `LocalFileStore` to offer `update_atime` parameter that updates access times on read
  libs/langchain/langchain/storage/file_system.py
  libs/langchain/tests/unit_tests/storage/test_filesystem.py
Labels: lgtm, 🤖:improvement, size:M

#21313 ibm: Add support for ibm-watsonx-ai new major version
  libs/partners/ibm/langchain_ibm/embeddings.py
  libs/partners/ibm/langchain_ibm/llms.py
  libs/partners/ibm/poetry.lock
  libs/partners/ibm/pyproject.toml
  libs/partners/ibm/tests/integration_tests/test_embeddings.py
  libs/partners/ibm/tests/integration_tests/test_llms.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:M, partner

#21311 docs: add example for loading data from LarkSuite wiki.
  docs/docs/integrations/document_loaders/larksuite.ipynb
Labels: lgtm, 🤖:docs, size:M

#21328 core: release 0.1.51
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#21325 (new docs): update SQL how-tos
  docs/versioned_docs/version-0.2.x/how_to/sql_csv.ipynb
  docs/versioned_docs/version-0.2.x/how_to/sql_large_db.ipynb
  docs/versioned_docs/version-0.2.x/how_to/sql_prompting.ipynb
  docs/versioned_docs/version-0.2.x/how_to/sql_query_checking.ipynb
Labels: 🤖:docs, size:XL

#21174 community: langkit dependency
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: lgtm, 🤖:nit, size:XS

#21288 docs: update nvidia docs v2
  docs/docs/integrations/providers/nvidia.mdx
  docs/docs/integrations/text_embedding/nvidia_ai_endpoints.ipynb
Labels: lgtm, 🤖:docs, size:S, 🔌: nvidia

#21209 community: Relax constraints on Cassandra VectorStore constructors
  libs/community/langchain_community/vectorstores/cassandra.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:M

#21259 docs: `chains` page format
  docs/docs/modules/chains.ipynb
Labels: lgtm, 🤖:docs, size:M

#21298 baichuan[patch]:standardize chat init args
  libs/community/langchain_community/chat_models/baichuan.py
  libs/community/tests/unit_tests/chat_models/test_baichuan.py
Labels: lgtm, 🤖:nit, size:S

#21333 community: Revert "community: langkit dependency"
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: lgtm, size:XS

#21279 langchain: `qa_chain` fix
  libs/langchain/langchain/chains/question_answering/__init__.py
  libs/langchain/langchain/chains/question_answering/chain.py
Labels: lgtm, 🤖:bug, size:XL

#21332 community: release 0.0.37
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#21338 langchain: release 0.1.18
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#21239 mark NemoEmbeddings as deprecated
  libs/community/langchain_community/embeddings/nemo.py
Labels: lgtm, Ɑ: embeddings, size:S, 🔌: nvidia

#21329 (new docs): update sidebars
  docs/versioned_docs/version-0.2.x/how_to/index.mdx
  docs/versioned_sidebars/version-0.2.x-sidebars.json
Labels: 🤖:docs, size:L

#20856 community[minor]: Add indexing via locality sensitive hashing to the Yellowbrick vector store
  docs/docs/integrations/vectorstores/yellowbrick.ipynb
  docs/docs/modules/data_connection/indexing.ipynb
  libs/community/langchain_community/vectorstores/yellowbrick.py
  libs/community/tests/integration_tests/vectorstores/test_yellowbrick.py
  libs/community/tests/unit_tests/vectorstores/test_indexing_docs.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XXL

#21232 community: added args_schema to YahooFinanceNewsTool
  libs/community/langchain_community/tools/yahoo_finance_news.py
Labels: lgtm, 🤖:improvement, size:S

#21252 fix: respect table_name argument when calling from_texts
  libs/community/langchain_community/vectorstores/lancedb.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS

#21231 community: minor changes sambanova integration
  libs/community/langchain_community/llms/__init__.py
  libs/community/langchain_community/llms/sambanova.py
  libs/community/tests/unit_tests/llms/test_imports.py
Labels: lgtm, 🤖:bug, 🤖:nit, size:M

#21227 community: add SambaNova embeddings integration
  docs/docs/integrations/text_embedding/sambanova.ipynb
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/sambanova.py
  libs/community/tests/integration_tests/embeddings/test_sambanova.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
Labels: lgtm, Ɑ: embeddings, size:L

#21224 community: Updated Chroma version range to include 0.5.0 release
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
Labels: lgtm, 🔌: chroma, size:XS, partner

#21340 RAG: A few formatting fixes
  docs/versioned_docs/version-0.2.x/tutorials/rag.ipynb
Labels: lgtm, 🤖:docs, size:S

#21344 Fix failing test for serialization
  libs/langchain/tests/unit_tests/load/test_load.py
Labels: 🤖:bug, size:XS

#20695 community: add Kendra DocumentRelevanceOverrideConfigurations request parameter
  libs/community/langchain_community/retrievers/kendra.py
Labels: lgtm, 🤖:improvement, 🔌: aws, size:XS, Ɑ: retriever

#21335 Add indexed properties to neo4j enhanced schema
  libs/community/langchain_community/graphs/neo4j_graph.py
Labels: lgtm, 🤖:improvement, size:L, 🔌: neo4j

#21342 fix: core: Include in json output also fields set outside the constructor
  libs/core/langchain_core/load/serializable.py
  libs/core/tests/unit_tests/conftest.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_fallbacks.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/langchain/tests/unit_tests/load/__snapshots__/test_dump.ambr
  libs/langchain/tests/unit_tests/load/test_dump.py
  libs/langchain/tests/unit_tests/load/test_load.py
Labels: lgtm, 🤖:improvement, size:M

#21345 (new docs): fix links
  docs/versioned_docs/version-0.2.x/how_to/agent_executor.ipynb
  docs/versioned_docs/version-0.2.x/installation.mdx
  docs/versioned_docs/version-0.2.x/tutorials/agents.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/chatbot.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/extraction.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/llm_chain.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/sql_qa.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/summarization.ipynb
  docs/versioned_sidebars/version-0.2.x-sidebars.json
Labels: 🤖:docs, size:L

#21308 premai[patch]:Standardized model init args
  libs/community/langchain_community/chat_models/premai.py
  libs/community/tests/unit_tests/chat_models/test_premai.py
Labels: lgtm, 🤖:improvement, size:S

#20114 community[patch]: chat message history mypy fixes #17048
  libs/community/langchain_community/chat_message_histories/neo4j.py
  libs/community/langchain_community/chat_message_histories/redis.py
Labels: lgtm, 🤖:improvement, 🔌: redis, size:S, 🔌: neo4j

#21350 core: release 0.1.52
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#21348 (new docs): fix links
  docs/versioned_docs/version-0.2.x/tutorials/rag.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/sql_qa.ipynb
  docs/versioned_docs/version-0.2.x/tutorials/summarization.ipynb
Labels: 🤖:docs, size:S

#12618 Adds confirmation logs after creating a new project
  libs/cli/langchain_cli/namespaces/app.py
Labels: 🤖:improvement, size:XS

#21337 together: add chat models, use openai base
  docs/docs/integrations/llms/together.ipynb
  libs/partners/together/LICENSE
  libs/partners/together/Makefile
  libs/partners/together/README.md
  libs/partners/together/langchain_together/__init__.py
  libs/partners/together/langchain_together/chat_models.py
  libs/partners/together/langchain_together/embeddings.py
  libs/partners/together/langchain_together/llms.py
  libs/partners/together/langchain_together/version.py
  libs/partners/together/poetry.lock
  libs/partners/together/pyproject.toml
  libs/partners/together/scripts/check_imports.py
  libs/partners/together/tests/integration_tests/test_chat_models.py
  libs/partners/together/tests/integration_tests/test_chat_models_standard.py
  libs/partners/together/tests/integration_tests/test_embeddings.py
  libs/partners/together/tests/integration_tests/test_llms.py
  libs/partners/together/tests/unit_tests/test_chat_models.py
  libs/partners/together/tests/unit_tests/test_chat_models_standard.py
  libs/partners/together/tests/unit_tests/test_embeddings.py
  libs/partners/together/tests/unit_tests/test_imports.py
  libs/partners/together/tests/unit_tests/test_llms.py
  libs/partners/together/tests/unit_tests/test_secrets.py
Labels: lgtm, 🤖:improvement, 🤖:docs, size:XXL, partner

#21353 together: fix chat model and embedding classes
  libs/partners/together/langchain_together/chat_models.py
  libs/partners/together/langchain_together/embeddings.py
  libs/partners/together/tests/integration_tests/test_chat_models_standard.py
Labels: Ɑ: embeddings, 🤖:nit, size:S, partner

#21378 langchain: sync -> async methods in OpenAI assistants
  libs/langchain/langchain/agents/openai_assistant/base.py
Labels: Ɑ: agent, 🤖:improvement, size:XS, 🔌: openai

#21380 how to: stream chat models
  docs/versioned_docs/version-0.2.x/how_to/chat_streaming.ipynb
Labels: 🤖:docs, size:L

#21369 Add simple node properties to llm graph transformer
  libs/experimental/langchain_experimental/graph_transformers/llm.py
Labels: lgtm, 🤖:improvement, size:L

#21379 community: add Sambaverse rate limitation info to sambanova.ipynb
  docs/docs/integrations/llms/sambanova.ipynb
Labels: lgtm, 🤖:docs, size:XS

#21358 docs: update quick_start.ipynb
  docs/docs/modules/agents/quick_start.ipynb
Labels: lgtm, 🤖:docs, size:XS

#21282 Added additional headers for HuggingFaceInferenceAPIEmbeddings endpoint.
  libs/community/langchain_community/embeddings/huggingface.py
Labels: lgtm, 🤖:improvement, size:XS

#21381 how to: Update streaming LLM information
  docs/versioned_docs/version-0.2.x/how_to/streaming_llm.ipynb
Labels: 🤖:docs, size:L

#21145 docs: update cassandra_database.ipynb
  docs/docs/integrations/toolkits/cassandra_database.ipynb
Labels: lgtm, 🤖:docs, size:XS

#21384 community[patch]: Fix in memory vectorstore to take into account ids when adding docs
  libs/community/langchain_community/vectorstores/inmemory.py
  libs/community/tests/unit_tests/vectorstores/test_inmemory.py
Labels: Ɑ: vector store, 🤖:improvement, size:S

#21385 core: allow mermaid node labels to have any characters
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Labels: lgtm, 🤖:nit, size:XS

#21135 infra: use nbconvert for docs build
  docs/Makefile
  docs/docs/expression_language/why.ipynb
  docs/docs/integrations/chat/anthropic.ipynb
  docs/docs/integrations/chat/deepinfra.ipynb
  docs/docs/integrations/chat/kinetica.ipynb
  docs/docs/integrations/llms/konko.ipynb
  docs/docs/integrations/providers/dspy.ipynb
  docs/docs/use_cases/sql/agents.ipynb
  docs/scripts/generate_api_reference_links.py
  docs/scripts/notebook_convert.py
  docs/scripts/notebook_convert_templates/mdoutput/conf.json
  docs/scripts/notebook_convert_templates/mdoutput/index.md.j2
  docs/vercel_build.sh
  docs/vercel_requirements.txt
Labels: 🤖:docs, size:L, partner

#21314 [Community][Minor]: Fetch loader_source of GoogleDriveLoader in PebbloSafeLoader.
  libs/community/langchain_community/utilities/pebblo.py
Labels: lgtm, size:S

#21388 docs: Updated Together integration docs
  docs/docs/integrations/llms/together.ipynb
Labels: lgtm, 🤖:docs, size:M

#21173 community: `callbacks` guard_imports
  libs/community/langchain_community/callbacks/aim_callback.py
  libs/community/langchain_community/callbacks/clearml_callback.py
  libs/community/langchain_community/callbacks/comet_ml_callback.py
  libs/community/langchain_community/callbacks/context_callback.py
  libs/community/langchain_community/callbacks/fiddler_callback.py
  libs/community/langchain_community/callbacks/flyte_callback.py
  libs/community/langchain_community/callbacks/infino_callback.py
  libs/community/langchain_community/callbacks/mlflow_callback.py
  libs/community/langchain_community/callbacks/tracers/comet.py
  libs/community/langchain_community/callbacks/uptrain_callback.py
  libs/community/langchain_community/callbacks/utils.py
  libs/community/langchain_community/callbacks/wandb_callback.py
  libs/community/langchain_community/callbacks/whylabs_callback.py
Labels: lgtm, 🤖:improvement, size:L

#21390 community: updated performance limitation wording in sambanova.ipynb
  docs/docs/integrations/llms/sambanova.ipynb
Labels: lgtm, 🤖:docs, size:XS

#21160 docs: update docs/integrations/retrievers/azure_ai_search.ipynb
  docs/docs/integrations/retrievers/azure_ai_search.ipynb
Labels: lgtm, 🤖:docs, size:L, Ɑ: retriever

#21392 infra: rewrite ipynb links to md
  docs/scripts/notebook_convert.py
Labels: 🤖:docs, size:XS

#21397 experimental[patch]: release 0.0.58
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: size:XS, 🤖:release

#21402 experimental[patch]: core and langchain dep
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: size:XS

#21414 Update graph docs
  docs/docs/use_cases/graph/constructing.ipynb
  docs/docs/use_cases/graph/mapping.ipynb
Labels: lgtm, 🤖:docs, size:M

#21389 langchain: update use of predict_and_parse in LLMChainFilter
  libs/langchain/langchain/retrievers/document_compressors/chain_filter.py
Labels: 🤖:improvement, size:XS, Ɑ: retriever

#20130 The predict_and_parse is deprecated, instead pass an output parser directly to LLMChain.
  libs/langchain/langchain/retrievers/document_compressors/chain_extract.py
Labels: lgtm, 🤖:improvement, size:XS, Ɑ: parsing

#21412 community: add `bind_tools` and `with_structured_output` support to `QianfanChatEndpoint`
  libs/community/langchain_community/chat_models/baidu_qianfan_endpoint.py
Labels: lgtm, 🤖:improvement, size:L

#21393 docs: fix typo in text
  docs/docs/modules/agents/index.ipynb
Labels: lgtm, 🤖:docs, size:XS
