Repository langchain-ai/langchain, pull requests merged in 2024-09, with the labels that each got.

#25918 Try removing v0.2 rewrite
  docs/vercel.json
Labels: size:XS

#25921 docs: review process gh discussion
  docs/docs/contributing/review_process.mdx
Labels: 🤖:docs, size:XS

#25919 docs: remove unused imports in Tutorials Basics
  docs/docs/tutorials/llm_chain.ipynb
  docs/docs/tutorials/retrievers.ipynb
Labels: lgtm, 🤖:docs, size:XS

#25922 docs: fix typo in Cassandra for ./cookbook/cql_agent.ipynb
  cookbook/cql_agent.ipynb
Labels: 🤖:docs, size:XS

#25916 docs: HuggingFace pipeline returns the prompt if return_full_text is not set
  docs/docs/integrations/chat/huggingface.ipynb
Labels: 🤖:docs, size:XS

#25903 core[patch]: handle serializable fields that cant be converted to bool
  libs/core/langchain_core/load/serializable.py
  libs/core/tests/unit_tests/load/test_serializable.py
Labels: 🤖:bug, size:M, Ɑ: core

#22458 community: add Intel GPU support to `ipex-llm` llm integration
  docs/docs/integrations/llms/ipex_llm.ipynb
  docs/docs/integrations/text_embedding/ipex_llm_gpu.ipynb
  libs/community/langchain_community/llms/ipex_llm.py
  libs/community/tests/integration_tests/llms/test_ipex_llm.py
Labels: lgtm, 🤖:enhancement, size:L, community

#25779 Feature/update hunyuan
  libs/community/langchain_community/chat_models/hunyuan.py
  libs/community/tests/integration_tests/chat_models/test_hunyuan.py
  libs/community/tests/unit_tests/chat_models/test_hunyuan.py
Labels: lgtm, size:M, community

#25930 docs: fix pgvector link
  docs/src/theme/FeatureTables.js
Labels: lgtm, 🤖:docs, size:XS

#25923 docs: `integrations google` missed references
  docs/docs/integrations/platforms/google.mdx
  docs/docs/integrations/tools/google_cloud_texttospeech.ipynb
Labels: lgtm, 🤖:docs, size:L

#25917 👥 Update LangChain people data
  docs/data/people.yml
Labels: lgtm, 🤖:docs, size:XS

#25927 community: fix bug to support for `file_search` tool from OpenAI
  libs/community/langchain_community/agents/openai_assistant/base.py
Labels: Ɑ: agent, lgtm, 🤖:bug, size:XS, community

#25936 core: Include global variables in variables found by get_function_nonlocals
  libs/core/Makefile
  libs/core/langchain_core/runnables/utils.py
  libs/core/tests/unit_tests/runnables/test_utils.py
Labels: size:S, Ɑ: core, langchain

#19002 community: Resolve refs recursively when generating openai_fn from OpenAPI spec
  libs/community/langchain_community/utilities/openapi.py
  libs/community/tests/unit_tests/data/openapi_specs/openapi_spec_nested_ref.json
  libs/community/tests/unit_tests/utilities/test_openapi.py
Labels: needs test, 🤖:improvement, Ɑ: models, size:L, 🔌: openai, community

#23809 feat: added content_columns option to CSVLoader
  libs/community/langchain_community/document_loaders/csv_loader.py
  libs/community/tests/unit_tests/document_loaders/test_csv_loader.py
Labels: lgtm, Ɑ: doc loader, size:M, community

#25938 typo_summarization_tutorial
  docs/docs/tutorials/summarization.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23304 community: BingSearchResults returns array
  libs/community/langchain_community/tools/bing_search/tool.py
Labels: 🤖:improvement, size:S, community

#23272 text-splitters: Modified SpacyTextSplitter to fully keep whitespace when strip_whitespace is false
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
Labels: lgtm, 🤖:improvement, size:S, Ɑ: text splitters

#23339 feat: jina search tools integrating (jina reader)
  docs/docs/integrations/tools/jina_search.ipynb
  docs/scripts/tool_feat_table.py
  libs/community/langchain_community/tools/__init__.py
  libs/community/langchain_community/tools/jina_search/__init__.py
  libs/community/langchain_community/tools/jina_search/tool.py
  libs/community/langchain_community/utilities/jina_search.py
  libs/community/tests/unit_tests/tools/test_imports.py
Labels: lgtm, 🤖:enhancement, size:L, community

#25645 core[patch]: support additional kwargs on StructuredPrompt
  libs/core/langchain_core/prompts/structured.py
  libs/core/tests/unit_tests/prompts/test_structured.py
Labels: 🤖:improvement, size:L, Ɑ: core

#25929 Add Databricks integration to docs
  docs/docs/integrations/providers/databricks.md
  docs/scripts/partner_pkg_table.py
  docs/src/theme/FeatureTables.js
Labels: lgtm, 🤖:docs, size:M

#25711 docs: `integrations` reference updates 13
  docs/docs/integrations/providers/falkordb.mdx
  docs/docs/integrations/providers/firecrawl.mdx
  docs/docs/integrations/providers/friendly.md
  docs/docs/integrations/providers/qdrant.mdx
  docs/docs/integrations/vectorstores/faiss.ipynb
  docs/docs/integrations/vectorstores/faiss_async.ipynb
  libs/community/langchain_community/embeddings/fastembed.py
  libs/community/langchain_community/vectorstores/faiss.py
  libs/langchain/langchain/chains/flare/base.py
  templates/rag-aws-bedrock/README.md
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:L, 🔌: qdrant

#22627 community: update the default hf bge embeddings
  docs/docs/how_to/embed_text.mdx
  docs/docs/integrations/platforms/huggingface.mdx
  docs/docs/integrations/providers/vdms.mdx
  docs/docs/integrations/text_embedding/bge_huggingface.ipynb
  docs/docs/integrations/text_embedding/huggingfacehub.ipynb
  docs/docs/integrations/vectorstores/annoy.ipynb
  docs/docs/integrations/vectorstores/scann.ipynb
  docs/docs/integrations/vectorstores/semadb.ipynb
  docs/docs/integrations/vectorstores/surrealdb.ipynb
  docs/docs/integrations/vectorstores/tiledb.ipynb
  docs/docs/integrations/vectorstores/vald.ipynb
  docs/docs/integrations/vectorstores/vdms.ipynb
  libs/community/langchain_community/embeddings/huggingface.py
  libs/community/langchain_community/embeddings/openvino.py
  libs/community/langchain_community/vectorstores/scann.py
  libs/community/langchain_community/vectorstores/surrealdb.py
  libs/community/langchain_community/vectorstores/vald.py
  libs/community/langchain_community/vectorstores/vdms.py
  templates/self-query-qdrant/README.md
Labels: lgtm, Ɑ: embeddings, Ɑ: vector store, 🤖:improvement, 🤖:docs, template, size:L, 🔌: huggingface, community

#22580 tools: added option to change how duckduckgosearchresults tool converts api outputs into string
  libs/community/langchain_community/tools/ddg_search/tool.py
Labels: size:S, community

#24484 docs: installation nits
  docs/docs/how_to/installation.mdx
  docs/vercel.json
Labels: 🤖:docs, size:M

#25941 Fix databricks doc
  docs/docs/integrations/providers/databricks.md
Labels: 🤖:docs, size:XS

#25950 docs: fix bullet list spacing
  libs/core/langchain_core/runnables/base.py
Labels: size:S, Ɑ: core

#25949 Improvement[Community] Add missing args in api doc of `WebResearchRetriever`
  libs/community/langchain_community/retrievers/web_research.py
Labels: lgtm, 🤖:docs, size:XS, Ɑ: retriever, community

#25063 community: sambastudio llms api v2 support
  libs/community/langchain_community/llms/sambanova.py
Labels: lgtm, 🤖:improvement, size:M, community

#25956 mistralai[patch]: make base URL possible to set via env variable for `ChatMistralAI`
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Labels: lgtm, size:M, partner

#25971 core[minor]: Add support for multiple env keys for secrets_from_env
  libs/core/langchain_core/utils/utils.py
Labels: size:S, Ɑ: core, 0.3 prep

#25974 core[patch]: Release 0.2.38
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#25978 mistralai[patch]: Release 0.1.13
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Labels: size:XS, partner, 🤖:release

#25980 infra: ignore core dependents for 0.3rc
  .github/scripts/check_diff.py
Labels: size:XS

#25979 text-splitters[patch]: Release 0.2.4
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: text splitters

#25977 langchain[patch]: Release 0.2.16
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release, langchain

#25981 milvus[patch]: Release 0.1.5
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
Labels: size:L, partner, 🤖:release

#25226 community[patch]: change default Neo4j username/password
  libs/community/langchain_community/graphs/neo4j_graph.py
Labels: 🤖:improvement, size:S, community

#25982 community[patch]: Release 0.2.16
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#25984 infra: rm ai21 from CI
  .github/scripts/check_diff.py
Labels: size:XS

#25983 standard-tests[patch]: test init from env vars
  libs/partners/openai/tests/unit_tests/chat_models/test_base_standard.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/embeddings.py
Labels: size:M, partner

#25987 experimental[patch]: Release 0.0.65
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: size:XS, 🤖:release

#25954 community: delta in openai choice can be None, creates handler for that
  libs/community/langchain_community/chat_models/openai.py
Labels: 🤖:bug, size:XS, community

#25992 infra: also run lint/test on rc
  .github/scripts/check_diff.py
Labels: size:XS

#25993 core: fix lint 0.3rc
  libs/core/langchain_core/load/serializable.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: 🤖:nit, size:L, Ɑ: core

#25996 core[major]: Drop python 3.8 support
  .github/scripts/check_diff.py
  .github/workflows/scheduled_test.yml
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: lgtm, size:XS, 0.3 prep

#25998 Revert "merge master (#25997)"
  .github/scripts/check_diff.py
  libs/community/langchain_community/chat_models/openai.py
  libs/community/langchain_community/graphs/neo4j_graph.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/azure.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/embeddings/test_azure_embeddings.py
  libs/partners/openai/tests/unit_tests/embeddings/test_azure_standard.py
  libs/partners/openai/tests/unit_tests/embeddings/test_base_standard.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/embeddings.py
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Labels: Ɑ: embeddings, size:XL, partner, community

#26003 openai[patch]: add back azure embeddings api_version alias
  libs/partners/openai/langchain_openai/embeddings/azure.py
Labels: Ɑ: embeddings, size:XS, partner

#26005 standard-tests[major]: use pydantic v2
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/embeddings.py
Labels: size:M

#25991 core[patch]: Fix injected args in tool signature
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/test_tools.py
Labels: size:M

#26006 infra: remove pydantic v1 tests
  .github/workflows/_dependencies.yml
  .github/workflows/check_diffs.yml
Labels: lgtm, size:L

#26013 Add the option to ignore structured output method to LLM graph transf…
  libs/experimental/langchain_experimental/graph_transformers/llm.py
Labels: lgtm, size:S

#26031 langchain_openai: Make sure the response from the async client in the astream method of ChatOpenAI is properly awaited in case of "include_response_headers=True"
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: lgtm, 🤖:bug, size:M, partner

#26004 fireworks[major]: switch to pydantic v2
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/langchain_fireworks/embeddings.py
  libs/partners/fireworks/langchain_fireworks/llms.py
  libs/partners/fireworks/scripts/check_pydantic.sh
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/tests/unit_tests/test_embeddings_standard.py
  libs/partners/fireworks/tests/unit_tests/test_llms.py
  libs/partners/fireworks/tests/unit_tests/test_standard.py
Labels: size:L, partner

#26001 openai[major]: switch to pydantic v2
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/langchain_openai/llms/azure.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/scripts/check_pydantic.sh
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/fake/callbacks.py
  libs/partners/openai/tests/unit_tests/test_load.py
  libs/partners/openai/tests/unit_tests/test_secrets.py
Labels: size:XL, partner

#26040 core[patch]: remove warnings from protected namespaces on RunnableSerializable
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: size:S, Ɑ: core

#25995 mistralai: update pydantic
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/scripts/check_pydantic.sh
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_embeddings.py
Labels: Ɑ: embeddings, size:L, partner, 0.3 prep

#26000 anthropic: update pydantic
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/experimental.py
  libs/partners/anthropic/langchain_anthropic/llms.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/scripts/check_pydantic.sh
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_experimental.py
  libs/partners/anthropic/tests/unit_tests/_utils.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_output_parsers.py
Labels: size:L, partner, 0.3 prep

#26036 groq[major]: upgrade pydantic
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
  libs/partners/groq/scripts/check_pydantic.sh
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/fake/callbacks.py
Labels: size:L, partner, 0.3 prep

#26044 ollama[major]: upgrade pydantic
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
Labels: size:M, partner, 0.3 prep

#26039 pinecone[major]: Update to pydantic v2
  libs/partners/pinecone/langchain_pinecone/embeddings.py
Labels: Ɑ: embeddings, size:M, partner

#26051 milvus: drop support for python 3.8
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
  libs/partners/milvus/scripts/check_pydantic.sh
Labels: size:S, partner

#26042 standard-tests[patch]: add Ser/Des test
  libs/cli/langchain_cli/integration_template/Makefile
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/community/tests/unit_tests/load/test_serializable.py
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/load/mapping.py
  libs/partners/airbyte/Makefile
  libs/partners/anthropic/Makefile
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/azure-dynamic-sessions/Makefile
  libs/partners/box/Makefile
  libs/partners/chroma/Makefile
  libs/partners/couchbase/Makefile
  libs/partners/exa/Makefile
  libs/partners/fireworks/Makefile
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/fireworks/tests/unit_tests/test_standard.py
  libs/partners/groq/Makefile
  libs/partners/groq/poetry.lock
  libs/partners/groq/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/huggingface/Makefile
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/milvus/Makefile
  libs/partners/mistralai/Makefile
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/mongodb/Makefile
  libs/partners/nomic/Makefile
  libs/partners/ollama/Makefile
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/openai/Makefile
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/pinecone/Makefile
  libs/partners/prompty/Makefile
  libs/partners/qdrant/Makefile
  libs/partners/robocorp/Makefile
  libs/partners/unstructured/Makefile
  libs/partners/voyageai/Makefile
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: size:M, partner

#26048 huggingface[major]: upgrade pydantic
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/scripts/check_pydantic.sh
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/scripts/check_pydantic.sh
Labels: size:L, partner, 0.3 prep

#26055 nomic: drop support for python 3.8
  libs/partners/nomic/poetry.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/scripts/check_pydantic.sh
Labels: size:S, partner, 0.3 prep

#26057 core[minor]: Add message chunks to AnyMessage
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Labels: size:XS

#26061 qdrant[major]: drop support for python 3.8
  libs/partners/qdrant/poetry.lock
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/scripts/check_pydantic.sh
Labels: size:S, partner, 0.3 prep

#26052 pinecone[patch]: rm pydantic lint script
  libs/partners/pinecone/scripts/check_pydantic.sh
Labels: 🤖:nit, size:S, partner

#26063 Bagatur/cherry serdes test
  libs/cli/langchain_cli/integration_template/Makefile
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/community/tests/unit_tests/load/test_serializable.py
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/load/mapping.py
  libs/partners/airbyte/Makefile
  libs/partners/anthropic/Makefile
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/azure-dynamic-sessions/Makefile
  libs/partners/box/Makefile
  libs/partners/chroma/Makefile
  libs/partners/couchbase/Makefile
  libs/partners/exa/Makefile
  libs/partners/fireworks/Makefile
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/groq/Makefile
  libs/partners/groq/poetry.lock
  libs/partners/groq/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/huggingface/Makefile
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/milvus/Makefile
  libs/partners/mistralai/Makefile
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/mongodb/Makefile
  libs/partners/nomic/Makefile
  libs/partners/ollama/Makefile
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/openai/Makefile
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/pinecone/Makefile
  libs/partners/prompty/Makefile
  libs/partners/qdrant/Makefile
  libs/partners/robocorp/Makefile
  libs/partners/unstructured/Makefile
  libs/partners/voyageai/Makefile
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: size:M, partner

#26062 robocorp[major]: upgrade pydantic
  libs/partners/robocorp/langchain_robocorp/_common.py
  libs/partners/robocorp/langchain_robocorp/toolkits.py
  libs/partners/robocorp/poetry.lock
  libs/partners/robocorp/pyproject.toml
  libs/partners/robocorp/scripts/check_pydantic.sh
Labels: size:M, partner, 0.3 prep

#26067 box[major]: use pydantic v2
  libs/partners/box/langchain_box/document_loaders/box.py
  libs/partners/box/langchain_box/retrievers/box.py
  libs/partners/box/langchain_box/utilities/box.py
  libs/partners/box/tests/unit_tests/utilities/test_box_util.py
Labels: Ɑ: doc loader, size:L, partner, Ɑ: retriever

#26069 exa[major]: use pydantic v2
  libs/partners/exa/langchain_exa/retrievers.py
  libs/partners/exa/langchain_exa/tools.py
Labels: size:M, partner, Ɑ: retriever

#26070 voyageai[major]: upgrade pydantic
  libs/partners/voyageai/langchain_voyageai/embeddings.py
  libs/partners/voyageai/langchain_voyageai/rerank.py
  libs/partners/voyageai/poetry.lock
  libs/partners/voyageai/pyproject.toml
  libs/partners/voyageai/scripts/check_pydantic.sh
  libs/partners/voyageai/tests/integration_tests/test_embeddings.py
  libs/partners/voyageai/tests/integration_tests/test_rerank.py
  libs/partners/voyageai/tests/unit_tests/test_embeddings.py
  libs/partners/voyageai/tests/unit_tests/test_rerank.py
Labels: Ɑ: embeddings, size:L, partner, 0.3 prep

#26056 prompty[major]: upgrade pydantic
  libs/partners/prompty/poetry.lock
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/scripts/check_pydantic.sh
  libs/partners/prompty/tests/unit_tests/fake_callback_handler.py
  libs/partners/prompty/tests/unit_tests/fake_chat_model.py
  libs/partners/prompty/tests/unit_tests/test_prompty_serialization.py
Labels: size:M, partner, 0.3 prep

#26068 couchbase[patch]: rm pydantic usage
  libs/partners/couchbase/tests/utils.py
Labels: size:S, partner, 0.3 prep

#26053 mongo[major]: upgrade pydantic
  libs/partners/mongodb/poetry.lock
  libs/partners/mongodb/pyproject.toml
  libs/partners/mongodb/scripts/check_pydantic.sh
  libs/partners/mongodb/tests/utils.py
Labels: size:M, partner, 0.3 prep

#26034 core[minor]: Add get_input_jsonschema, get_output_jsonschema, get_config_jsonschema
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, 🤖:nit, size:XL, Ɑ: core

#26094 core[patch]: add bedrock to load.mapping
  libs/core/langchain_core/load/mapping.py
Labels: 🤖:nit, size:XS, Ɑ: core

#26098 openai[patch]: update snapshots
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
Labels: size:XS, partner

#26091 core[minor]: Add type overload for secret_from_env factory
  libs/core/langchain_core/utils/utils.py
Labels: size:XS, Ɑ: core

#26099 core[patch]: Fix issue with adapter utility for pydantic repr
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/utils/test_pydantic.py
Labels: size:S

#26101 openai[patch]: update configurable model dumps
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Labels: size:M

#26102 text-splitters[major]: update core dep + drop support for python 3.8
  libs/text-splitters/Makefile
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/scripts/check_pydantic.sh
Labels: size:M, Ɑ: text splitters, 0.3 prep

#26104 groq, fireworks, text-splitters
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
  libs/text-splitters/pyproject.toml
Labels: size:S, partner, Ɑ: text splitters

#26108 core: reduce warnings
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tools/simple.py
  libs/core/langchain_core/tools/structured.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/pydantic_utils.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: 🤖:nit, size:M, Ɑ: core

#26107 community[patch]: Remove usage of deprecated pydantic config option
  libs/community/langchain_community/llms/arcee.py
  libs/community/langchain_community/llms/databricks.py
  libs/community/langchain_community/retrievers/arcee.py
  libs/community/langchain_community/retrievers/google_vertex_ai_search.py
  libs/community/langchain_community/retrievers/thirdai_neuraldb.py
  libs/community/langchain_community/vectorstores/thirdai_neuraldb.py
Labels: size:XS

#26111 community[patch]: Skip unit test that depends on langchain-aws and fix pydantic settings
  libs/community/langchain_community/document_loaders/base_o365.py
  libs/community/langchain_community/vectorstores/apache_doris.py
  libs/community/langchain_community/vectorstores/clickhouse.py
  libs/community/langchain_community/vectorstores/kinetica.py
  libs/community/langchain_community/vectorstores/manticore_search.py
  libs/community/langchain_community/vectorstores/myscale.py
  libs/community/langchain_community/vectorstores/starrocks.py
  libs/community/tests/unit_tests/callbacks/fake_callback_handler.py
  libs/community/tests/unit_tests/load/test_serializable.py
Labels: size:M

#26113 langchain: release 0.3.0.dev0
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release, langchain

#26115 community[patch]: Resolve more linting issues
  libs/community/langchain_community/agent_toolkits/ainetwork/toolkit.py
  libs/community/langchain_community/chat_models/gpt_router.py
  libs/community/langchain_community/document_loaders/base_o365.py
  libs/community/langchain_community/document_loaders/onenote.py
  libs/community/langchain_community/embeddings/baichuan.py
  libs/community/langchain_community/llms/oci_generative_ai.py
  libs/community/langchain_community/tools/cassandra_database/tool.py
  libs/community/langchain_community/tools/zenguard/tool.py
  libs/community/langchain_community/utilities/searx_search.py
  libs/community/langchain_community/vectorstores/docarray/base.py
  libs/community/tests/unit_tests/retrievers/test_bedrock.py
  libs/community/tests/unit_tests/utilities/test_nvidia_riva_asr.py
  libs/community/tests/unit_tests/utilities/test_nvidia_riva_tts.py
Labels: Ɑ: embeddings, Ɑ: doc loader, Ɑ: vector store, size:M, community

#26116 community[patch]: Fix more issues
  libs/community/langchain_community/chat_models/oci_generative_ai.py
  libs/community/langchain_community/document_compressors/llmlingua_filter.py
  libs/community/langchain_community/document_loaders/onenote.py
  libs/community/langchain_community/embeddings/oci_generative_ai.py
  libs/community/langchain_community/llms/exllamav2.py
  libs/community/langchain_community/tools/bearly/tool.py
  libs/community/langchain_community/tools/connery/models.py
  libs/community/langchain_community/tools/connery/tool.py
  libs/community/langchain_community/tools/e2b_data_analysis/tool.py
  libs/community/tests/unit_tests/chat_models/test_oci_generative_ai.py
  libs/community/tests/unit_tests/document_loaders/test_onenote.py
  libs/community/tests/unit_tests/llms/test_oci_generative_ai.py
Labels: 🤖:bug, size:M, community

#26118 core[patch]: call RunnableConfigurableFields.model_rebuild()
  libs/core/langchain_core/runnables/configurable.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core

#26120 core: release 0.3.0.dev2
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#26121 core[patch]: Fix regression in core
  libs/core/tests/unit_tests/pydantic_utils.py
Labels: 🤖:nit, size:XS

#26123 anthropic, fireworks, groq, openai: dev releases
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release

#26125 community[patch]: release 0.3.0.dev1
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#26122 core[patch]: Ignore pydantic deprecation warnings in validate_arguments
  libs/core/langchain_core/tools/base.py
Labels: size:XS

#26124 core[patch]: Replace @validator with @model_validator in length based example selector
  libs/core/langchain_core/example_selectors/length_based.py
Labels: size:S, Ɑ: core

#26126 core[patch]: Remove some usage of .copy() in favor of .model_copy()
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: 🤖:nit, size:S, Ɑ: core, 0.3 prep

#26127 infra: remove fail fast in v0.3rc branch
  .github/workflows/check_diffs.yml
Labels: size:XS

#26128 core[patch]: concrete prompt value test
  libs/core/tests/unit_tests/test_prompt_values.py
Labels: size:S

#26119 partners/unstructured: release 0.1.3
  libs/partners/unstructured/poetry.lock
  libs/partners/unstructured/pyproject.toml
Labels: size:XS, partner, 🤖:release

#26136 partners[milvus]: fix integration test issues
  libs/partners/milvus/langchain_milvus/vectorstores/milvus.py
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
  libs/partners/milvus/tests/integration_tests/vectorstores/test_milvus.py
Labels: Ɑ: vector store, 🤖:bug, size:XS, partner

#26154 core[patch]: add google genai to serialization
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/load/mapping.py
Labels: size:XS, Ɑ: core

#26155 openai[patch]: set protected namespaces on embeddings
  libs/partners/openai/langchain_openai/embeddings/base.py
Labels: lgtm, Ɑ: embeddings, size:XS, partner

#26158 openai[patch]: release 0.2.0.dev2
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release

#26157 core[patch]: resolve warnings
  libs/core/langchain_core/indexing/in_memory.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_messages.py
Labels: lgtm, 🤖:nit, size:M, Ɑ: core

#26152 infra: add pydantic to min version testing
  .github/scripts/get_min_versions.py
Labels: size:XS

#26159 multiple: version bumps
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/cli/langchain_cli/package_template/pyproject.toml
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/partners/airbyte/pyproject.toml
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/azure-dynamic-sessions/poetry.lock
  libs/partners/azure-dynamic-sessions/pyproject.toml
  libs/partners/box/poetry.lock
  libs/partners/box/pyproject.toml
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
  libs/partners/couchbase/pyproject.toml
  libs/partners/exa/poetry.lock
  libs/partners/exa/pyproject.toml
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/pyproject.toml
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mongodb/poetry.lock
  libs/partners/mongodb/pyproject.toml
  libs/partners/nomic/poetry.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
  libs/partners/prompty/poetry.lock
  libs/partners/prompty/pyproject.toml
  libs/partners/qdrant/poetry.lock
  libs/partners/qdrant/pyproject.toml
  libs/partners/robocorp/pyproject.toml
  libs/partners/unstructured/poetry.lock
  libs/partners/unstructured/pyproject.toml
  libs/partners/voyageai/poetry.lock
  libs/partners/voyageai/pyproject.toml
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
  libs/text-splitters/poetry.lock
Labels: lgtm, size:L, partner, 🤖:release

#25990 infra: ignore docs build in v0.3rc branch
  docs/ignore-step.sh
Labels: size:M

#26096 v0.3 dev releases
  .github/scripts/check_prerelease_dependencies.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_schema.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/standard-tests/pyproject.toml
  libs/text-splitters/pyproject.toml
Labels: size:M, partner

#26163 multiple: merge master into v0.3rc branch
  libs/community/langchain_community/vectorstores/docarray/in_memory.py
  libs/experimental/langchain_experimental/graph_transformers/llm.py
  libs/partners/huggingface/poetry.lock
  libs/partners/milvus/langchain_milvus/vectorstores/milvus.py
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
  libs/partners/milvus/tests/integration_tests/vectorstores/test_milvus.py
  libs/partners/mistralai/poetry.lock
  libs/partners/ollama/poetry.lock
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/unstructured/poetry.lock
  libs/partners/unstructured/pyproject.toml
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/poetry.lock
Labels: Ɑ: vector store, size:M, partner, community

#26165 core[patch]: remove v1_repr
  libs/core/langchain_core/documents/base.py
  libs/core/langchain_core/load/serializable.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/documents/test_str.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
Labels: lgtm, 🤖:nit, size:M, Ɑ: core

#26106 core[patch]: fix ChatPromptValueConcrete typing
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/test_prompt_values.py
  libs/langchain/tests/unit_tests/test_schema.py
Labels: lgtm, size:M, Ɑ: core

#26161 core[patch]: fix deprecated pydantic code
  libs/core/langchain_core/indexing/in_memory.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/schemas.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
Labels: lgtm, 🤖:nit, size:L, Ɑ: core

#26166 core[patch]: Fix changes to pydantic schema due to pydantic 2.8.2 -> 2.9 changes
  libs/core/tests/unit_tests/prompts/__snapshots__/test_prompt.ambr
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/pydantic_utils.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, size:XL, Ɑ: core

#26167 docs[minor]: Add state of agents survey to docs announcement bar
  docs/docusaurus.config.js
Labels: 🤖:docs, size:XS

#26073 [Tests] Clear cache for env-var checks
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/callbacks/test_callback_manager.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
Labels: lgtm, size:S, Ɑ: core

#26172 infra: core remove 3.8
  .github/scripts/check_diff.py
Labels: size:XS

#26169 cherry langsmith cache fix
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/callbacks/test_callback_manager.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
Labels: size:S, Ɑ: core

#26173 core[patch]: Add missing cache for create_model
  libs/core/langchain_core/runnables/utils.py
  libs/core/tests/unit_tests/language_models/chat_models/test_benchmark.py
Labels: 🤖:nit, size:M, Ɑ: core

#26176 core[patch]: only support pydantic >= 2.9 for now
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: lgtm, size:XS

#26177 core[patch]: pydantic 2.7-compatible AnyMessage
  libs/core/langchain_core/messages/utils.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Labels: lgtm, 🤖:nit, size:M, Ɑ: core

#26178 core[patch]: Release 0.3.0dev4
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#26193 partners/mongodb: release 0.1.9
  libs/partners/mongodb/poetry.lock
  libs/partners/mongodb/pyproject.toml
Labels: size:XS, partner, 🤖:release

#25994 docs: `integrations` reference updates 15
  docs/docs/integrations/platforms/huggingface.mdx
  docs/docs/integrations/providers/apple.mdx
  docs/docs/integrations/providers/nomic.ipynb
  docs/docs/integrations/providers/nomic.mdx
  docs/docs/integrations/providers/transwarp.mdx
  docs/docs/integrations/providers/upstage.ipynb
Labels: 🤖:docs, size:L

#26035 docs: update agent_executor.ipynb
  docs/docs/how_to/agent_executor.ipynb
Labels: lgtm, 🤖:docs, size:XS

#26059 docs: `integrations` reference updates 16
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/providers/apache.mdx
  docs/docs/integrations/providers/spark.mdx
  docs/docs/integrations/providers/sparkllm.mdx
Labels: lgtm, 🤖:docs, size:L

#26043 docs: small improvement ChatOllama setup description
  libs/partners/ollama/langchain_ollama/chat_models.py
Labels: lgtm, size:XS, partner

#26201 core[patch]: fix edge labels for mermaid graphs
  libs/core/langchain_core/runnables/graph_mermaid.py
Labels: size:XS, Ɑ: core

#26105 partners/unstructured: update unstructured client version
  libs/partners/unstructured/poetry.lock
  libs/partners/unstructured/pyproject.toml
Labels: lgtm, size:XS, partner

#26117 Fix typo in ScrapflyLoader documentation
  docs/docs/integrations/document_loaders/scrapfly.ipynb
Labels: lgtm, 🤖:docs, size:XS

#26168 Adding bind_tools in ChatOctoAI
  libs/community/langchain_community/chat_models/octoai.py
Labels: 🤖:bug, size:M, community

#26191 anthropic[patch]: pydantic ^2.7.4
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner

#26134 docs: fix typo in graph_constructing tutorial
  docs/docs/how_to/graph_constructing.ipynb
Labels: lgtm, 🤖:docs, size:XS

#26149 docs: Update func doc strings in tools_human
  docs/docs/how_to/tools_human.ipynb
Labels: lgtm, 🤖:docs, size:XS

#26184 docs: Update Google BigQuery Vector Search with new SQL filter feature introduce in langchain-google-community 1.0.9
  docs/docs/integrations/vectorstores/google_bigquery_vector_search.ipynb
Labels: Ɑ: vector store, 🤖:docs, size:S

#26223 core[patch]: Fix _get_type in AnyMessage
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/test_pydantic_serde.py
Labels: 🤖:bug, size:M, Ɑ: core

#26199 docs: add ai21 tool calling example
  docs/docs/integrations/chat/ai21.ipynb
Labels: lgtm, 🤖:docs, size:L

#26190 standard-tests[patch]: resolve pydantic warnings
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/pyproject.toml
Labels: 🤖:nit, size:S, partner

#26189 community[patch]: fix main unit tests
  libs/community/langchain_community/retrievers/google_vertex_ai_search.py
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/load/test_serializable.py
  libs/community/tests/unit_tests/test_dependencies.py
Labels: size:S, community

#26188 langchain[patch]: fix pydantic 2 warnings
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/hyde/base.py
  libs/langchain/langchain/chains/openai_functions/extraction.py
  libs/langchain/langchain/chains/openai_functions/qa_with_structure.py
  libs/langchain/langchain/chains/openai_functions/tagging.py
  libs/langchain/langchain/memory/combined.py
  libs/langchain/langchain/output_parsers/pandas_dataframe.py
  libs/langchain/langchain/output_parsers/yaml.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/llms/fake_llm.py
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/langchain/tests/unit_tests/test_imports.py
Labels: size:L, langchain

#26228 experimental[major]: upgrade pydantic
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/agent.py
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/memory.py
  libs/experimental/langchain_experimental/autonomous_agents/autogpt/prompt.py
  libs/experimental/langchain_experimental/autonomous_agents/baby_agi/baby_agi.py
  libs/experimental/langchain_experimental/autonomous_agents/hugginggpt/task_planner.py
  libs/experimental/langchain_experimental/comprehend_moderation/amazon_comprehend_moderation.py
  libs/experimental/langchain_experimental/cpal/base.py
  libs/experimental/langchain_experimental/cpal/models.py
  libs/experimental/langchain_experimental/fallacy_removal/models.py
  libs/experimental/langchain_experimental/generative_agents/generative_agent.py
  libs/experimental/langchain_experimental/graph_transformers/llm.py
  libs/experimental/langchain_experimental/llm_bash/base.py
  libs/experimental/langchain_experimental/llm_symbolic_math/base.py
  libs/experimental/langchain_experimental/llms/anthropic_functions.py
  libs/experimental/langchain_experimental/llms/jsonformer_decoder.py
  libs/experimental/langchain_experimental/llms/lmformatenforcer_decoder.py
  libs/experimental/langchain_experimental/llms/ollama_functions.py
  libs/experimental/langchain_experimental/llms/rellm_decoder.py
  libs/experimental/langchain_experimental/open_clip/open_clip.py
  libs/experimental/langchain_experimental/pal_chain/base.py
  libs/experimental/langchain_experimental/plan_and_execute/agent_executor.py
  libs/experimental/langchain_experimental/plan_and_execute/executors/base.py
  libs/experimental/langchain_experimental/plan_and_execute/planners/base.py
  libs/experimental/langchain_experimental/plan_and_execute/schema.py
  libs/experimental/langchain_experimental/prompt_injection_identifier/hugging_face_identifier.py
  libs/experimental/langchain_experimental/rl_chain/base.py
  libs/experimental/langchain_experimental/smart_llm/base.py
  libs/experimental/langchain_experimental/sql/base.py
  libs/experimental/langchain_experimental/sql/vector_sql.py
  libs/experimental/langchain_experimental/tabular_synthetic_data/base.py
  libs/experimental/langchain_experimental/tabular_synthetic_data/openai.py
  libs/experimental/langchain_experimental/tools/python/tool.py
  libs/experimental/langchain_experimental/tot/base.py
  libs/experimental/langchain_experimental/tot/thought.py
  libs/experimental/langchain_experimental/tot/thought_generation.py
  libs/experimental/langchain_experimental/utilities/python.py
  libs/experimental/langchain_experimental/video_captioning/base.py
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
  libs/experimental/tests/integration_tests/chains/test_cpal.py
  libs/experimental/tests/integration_tests/chains/test_synthetic_data_openai.py
  libs/experimental/tests/integration_tests/llms/test_ollama_functions.py
  libs/experimental/tests/unit_tests/fake_llm.py
  libs/experimental/tests/unit_tests/test_ollama_functions.py
  libs/experimental/tests/unit_tests/test_sql.py
Labels: size:L

#26236 mistralai: release 0.2.0.dev1
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Labels: size:XS, partner, 🤖:release

#26238 community[patch]: fix extended deps
  libs/community/extended_testing_deps.txt
  libs/community/tests/integration_tests/chat_models/test_javelin_ai_gateway.py
Labels: size:XS, community

#26241 core[patch]: update docstrings
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/utils/function_calling.py
Labels: 🤖:docs, size:S, Ɑ: core

#26235 core[patch]: wrap mermaid node names w/ markdown in <p> tag
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Labels: lgtm, 🤖:bug, size:S, Ɑ: core

#26240 infra: rm check pydantic scripts
  libs/cli/langchain_cli/integration_template/scripts/check_pydantic.sh
  libs/core/scripts/check_pydantic.sh
  libs/partners/airbyte/scripts/check_pydantic.sh
  libs/partners/azure-dynamic-sessions/scripts/check_pydantic.sh
  libs/partners/box/scripts/check_pydantic.sh
  libs/partners/chroma/scripts/check_pydantic.sh
  libs/partners/couchbase/scripts/check_pydantic.sh
  libs/partners/exa/scripts/check_pydantic.sh
  libs/partners/fireworks/scripts/check_pydantic.sh
  libs/partners/openai/scripts/check_pydantic.sh
  libs/partners/unstructured/scripts/check_pydantic.sh
  libs/standard-tests/scripts/check_pydantic.sh
Labels: size:L, partner

#26242 langchain[patch]: docstring update
  libs/langchain/langchain/chains/openai_functions/base.py
  libs/langchain/langchain/chains/openai_functions/extraction.py
  libs/langchain/langchain/chains/openai_functions/tagging.py
  libs/langchain/langchain/chains/openai_tools/extraction.py
  libs/langchain/langchain/chains/structured_output/base.py
  libs/langchain/langchain/chat_models/base.py
Labels: size:S, langchain

#26243 community[patch]: update docstrings
  libs/community/langchain_community/chains/ernie_functions/base.py
Labels: size:XS, community

#26210 community: Add docstring for KeybertLinkExtractor
  libs/community/langchain_community/graph_vectorstores/extractors/keybert_link_extractor.py
Labels: size:L, community
