Repository langchain-ai/langchain, pull requests merged in 2024-08, with the labels that each got.

#24910 partners/ollama: release 0.1.1
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
Labels: size:XS, partner, 🤖:release

#24911 docs[patch]: Update local model how-to guide
  docs/docs/how_to/index.mdx
  docs/docs/how_to/local_llms.ipynb
Labels: 🤖:docs, size:L

#24913 infra: poetry lock root
  poetry.lock
Labels: size:XS

#24909 docs[patch]: Update local RAG tutorial
  docs/docs/tutorials/local_rag.ipynb
  docs/docs/tutorials/rag.ipynb
Labels: 🤖:docs, size:XL

#24918 patch[cli] Fix bug in `check_imports.py`
  libs/cli/langchain_cli/integration_template/scripts/check_imports.py
Labels: lgtm, 🤖:bug, size:XS

#24917 community[patch]: Invoke callback prior to yielding token
  libs/community/langchain_community/chat_models/friendli.py
Labels: lgtm, 🤖:improvement, size:XS, community

#24224 community: Fix KeyError in NotionDB loader when 'name' is missing
  libs/community/langchain_community/document_loaders/notiondb.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:S, community

#24929 huggingface: Added a missing argument to a ChatHuggingFace doc notebook.
  docs/docs/integrations/chat/huggingface.ipynb
Labels: lgtm, 🤖:docs, size:XS, 🔌: huggingface

#24547 community: support bind_tools for ChatMlflow
  docs/docs/integrations/chat/databricks.ipynb
  docs/docs/integrations/tools/databricks.ipynb
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/chat_models/mlflow.py
  libs/community/tests/unit_tests/chat_models/test_mlflow.py
Labels: lgtm, 🤖:improvement, size:XL, community

#24930 core[patch]: In unit tests, use `_schema()` instead of BaseModel.schema()
  libs/core/tests/unit_tests/output_parsers/test_json.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/pydantic_utils.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
Labels: 🤖:improvement, size:L, 0.3 prep

#24887 docs: update toolkit integration pages
  docs/docs/integrations/toolkits/github.ipynb
  docs/docs/integrations/toolkits/gmail.ipynb
  docs/docs/integrations/toolkits/index.mdx
  docs/docs/integrations/toolkits/requests.ipynb
  docs/docs/integrations/toolkits/slack.ipynb
  docs/docs/integrations/toolkits/sql_database.ipynb
  docs/sidebars.js
Labels: lgtm, 🤖:docs, size:XXL

#24935 docs: update langchain-unstructured docs
  docs/docs/integrations/document_loaders/unstructured_file.ipynb
Labels: lgtm, 🤖:docs, size:XS

#24938 community[patch]: Invoke on_llm_new_token callback before yielding chunk
  libs/community/langchain_community/chat_models/mlx.py
Labels: lgtm, 🤖:improvement, size:XS, community

#24933 docs: Standardize ZhipuAIEmbeddings docstrings
  libs/community/langchain_community/embeddings/zhipuai.py
Labels: lgtm, Ɑ: embeddings, 🤖:docs, size:M, community

#24931 docs: update retriever integration pages
  docs/docs/integrations/retrievers/azure_ai_search.ipynb
  docs/docs/integrations/retrievers/bedrock.ipynb
  docs/docs/integrations/retrievers/elasticsearch_retriever.ipynb
  docs/docs/integrations/retrievers/google_vertex_ai_search.ipynb
  docs/docs/integrations/retrievers/index.mdx
  docs/docs/integrations/retrievers/milvus_hybrid_search.ipynb
  docs/docs/integrations/retrievers/tavily.ipynb
  docs/sidebars.js
  libs/cli/langchain_cli/integration_template/docs/retrievers.ipynb
Labels: 🤖:docs, size:XL, Ɑ: retriever

#24945 docs: update agents.ipynb
  docs/docs/tutorials/agents.ipynb
Labels: lgtm, 🤖:docs, size:XS

#24881 docs: delete old migration guide
  docs/docs/how_to/migrate_chains.ipynb
Labels: 🤖:docs, size:XL

#24745 partners/mongodb: Improved search index commands
  libs/partners/mongodb/langchain_mongodb/index.py
  libs/partners/mongodb/langchain_mongodb/vectorstores.py
  libs/partners/mongodb/tests/integration_tests/test_index.py
  libs/partners/mongodb/tests/unit_tests/test_index.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:L, partner, 🔌: mongo

#24947 docs: update retriever template, add arxiv retriever
  docs/docs/integrations/retrievers/arxiv.ipynb
  docs/docs/integrations/retrievers/azure_ai_search.ipynb
  docs/docs/integrations/retrievers/bedrock.ipynb
  docs/docs/integrations/retrievers/elasticsearch_retriever.ipynb
  docs/docs/integrations/retrievers/google_vertex_ai_search.ipynb
  docs/docs/integrations/retrievers/index.mdx
  docs/docs/integrations/retrievers/milvus_hybrid_search.ipynb
  docs/docs/integrations/retrievers/tavily.ipynb
  libs/cli/langchain_cli/integration_template/docs/retrievers.ipynb
Labels: 🤖:docs, size:L, Ɑ: retriever

#24585 docs[patch]: Adds components for prereqs, compatibility, fix chat model tab issue
  docs/docs/how_to/tool_runtime.ipynb
  docs/src/theme/ChatModelTabs.js
  docs/src/theme/Compatibility.js
  docs/src/theme/Prerequisites.js
Labels: lgtm, 🤖:docs, size:M

#24862 core: runnable config ensure_config deep copy from var_child_runnable…
  libs/core/langchain_core/runnables/config.py
  libs/core/tests/unit_tests/runnables/test_config.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, 🤖:bug, size:L, Ɑ: core

#24950 docs: fix redirect
  docs/vercel.json
Labels: 🤖:docs, size:XS

#24948 core: docstrings `BaseCallbackHandler update
  libs/core/langchain_core/callbacks/base.py
Labels: lgtm, 🤖:docs, size:S, Ɑ: core

#24951 infra: test core on py 3.9, 10, 11
  .github/scripts/check_diff.py
Labels: lgtm, size:XS

#24936 core[patch]: Fix tool args schema inherited field parsing
  libs/core/langchain_core/tools.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, 🤖:improvement, size:L, Ɑ: core

#24952 core[patch]: Release 0.2.27
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#24954 langchain[patch]: Release 0.2.12
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release, langchain

#24376 [community]: adding artifact to Tavily search
  libs/community/langchain_community/tools/tavily_search/tool.py
Labels: 🤖:improvement, size:M, community

#24971 patch[partners] Fix check_imports bugs in pinecone and milvus
  libs/partners/milvus/scripts/check_imports.py
  libs/partners/pinecone/scripts/check_imports.py
Labels: lgtm, 🤖:bug, 🔌: milvus, 🔌: pinecone, size:XS, partner

#24960 community[patch]: Add test case for MoonshotChat
  libs/community/tests/integration_tests/chat_models/test_moonshot.py
  libs/community/tests/integration_tests/chat_models/test_zhipuai.py
Labels: lgtm, 🤖:nit, size:M, community

#24932 docs: add wikipedia integration docs
  docs/docs/integrations/retrievers/index.mdx
  docs/docs/integrations/retrievers/wikipedia.ipynb
Labels: 🤖:docs, size:L, Ɑ: retriever

#24977 fix: Modify the order of init_chat_model import ollama package.
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, 🤖:nit, size:S

#24979 standard-tests: set integration test parameters independent of unit test
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: lgtm, 🤖:nit, size:XS

#24985 docs: feature table component
  docs/src/theme/FeatureTables.tsx
Labels: 🤖:docs, size:M

#24982 Add relik graph transformer
  libs/experimental/langchain_experimental/graph_transformers/__init__.py
  libs/experimental/langchain_experimental/graph_transformers/relik.py
Labels: 🤖:enhancement, size:L

#24990 experimental[patch]: release 0.0.64
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: size:XS, 🤖:release

#24986 community[patch]: support named arguments in github toolkit
  docs/docs/integrations/toolkits/github.ipynb
  libs/community/langchain_community/tools/github/tool.py
Labels: 🤖:improvement, size:XL, community

#24992 docs: update toolkit guides
  docs/docs/integrations/toolkits/gmail.ipynb
  docs/docs/integrations/toolkits/slack.ipynb
Labels: 🤖:docs, size:L

#24996 experimental[patch]: bump min versions of core and community
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: 🤖:nit, size:XS

#24989 community[patch]: Release 0.2.11
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/document_loaders/async_html.py
  libs/community/langchain_community/document_loaders/web_base.py
  libs/community/langchain_community/llms/ollama.py
  libs/community/langchain_community/tools/connery/tool.py
  libs/community/langchain_community/utilities/astradb.py
  libs/community/langchain_community/utilities/powerbi.py
  libs/community/langchain_community/utilities/searx_search.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/agent/test_ainetwork_agent.py
  libs/community/tests/integration_tests/llms/utils.py
Labels: size:M, 🤖:release, community

#24997 core[patch]: merge message runs nit
  libs/core/langchain_core/messages/utils.py
Labels: 🤖:nit, size:XS, Ɑ: core

#24998 text-splitters[patch]: Release 0.2.3
  libs/text-splitters/pyproject.toml
Labels: size:S, 🤖:release, Ɑ: text splitters

#24999 docs: fmt concepts
  docs/docs/concepts.mdx
Labels: 🤖:docs, size:S

#24731 [docs]: updating mistral and hugging face chat model pages
  docs/docs/integrations/chat/huggingface.ipynb
  docs/docs/integrations/chat/mistralai.ipynb
Labels: 🤖:docs, size:XL, 🔌: huggingface

#24736 docs: standardizing tavily tool docs
  docs/docs/integrations/tools/tavily_search.ipynb
  libs/community/langchain_community/tools/__init__.py
  libs/community/langchain_community/tools/tavily_search/tool.py
  libs/community/tests/unit_tests/tools/test_imports.py
  libs/community/tests/unit_tests/tools/test_public_api.py
Labels: 🤖:docs, size:XL, partner, community, integration-docs

#25007 docs: separate deprecated classes
  docs/api_reference/create_api_rst.py
  docs/api_reference/themes/scikit-learn-modern/static/css/theme.css
Labels: lgtm, 🤖:docs, size:M

#25001 docs: show deprecation warning first in api ref
  libs/core/langchain_core/_api/deprecation.py
  libs/core/tests/unit_tests/_api/test_deprecation.py
Labels: lgtm, 🤖:docs, size:M, Ɑ: core

#25013 docs: show beta directive
  docs/api_reference/conf.py
  docs/api_reference/themes/scikit-learn-modern/static/css/theme.css
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/tests/unit_tests/_api/test_beta_decorator.py
Labels: 🤖:docs, size:M, Ɑ: core

#25019 Add relik transformer config
  libs/experimental/langchain_experimental/graph_transformers/relik.py
Labels: lgtm, 🤖:improvement, size:S

#25021 docs: Standardize SparkLLMTextEmbeddings docstrings
  libs/community/langchain_community/embeddings/sparkllm.py
Labels: lgtm, Ɑ: embeddings, size:M, community

#25014 patch[Partners] Unified fix of incorrect variable declarations in all check_imports
  libs/partners/ai21/scripts/check_imports.py
  libs/partners/airbyte/scripts/check_imports.py
  libs/partners/anthropic/scripts/check_imports.py
  libs/partners/azure-dynamic-sessions/scripts/check_imports.py
  libs/partners/chroma/scripts/check_imports.py
  libs/partners/couchbase/scripts/check_imports.py
  libs/partners/exa/scripts/check_imports.py
  libs/partners/groq/scripts/check_imports.py
  libs/partners/mistralai/scripts/check_imports.py
  libs/partners/mongodb/scripts/check_imports.py
  libs/partners/nomic/scripts/check_imports.py
  libs/partners/ollama/scripts/check_imports.py
  libs/partners/openai/scripts/check_imports.py
  libs/partners/qdrant/scripts/check_imports.py
  libs/partners/together/scripts/check_imports.py
  libs/partners/voyageai/scripts/check_imports.py
Labels: lgtm, 🤖:nit, size:M, partner

#24983 docs: Standardize MiniMaxEmbeddings
  libs/community/langchain_community/embeddings/minimax.py
  libs/community/tests/integration_tests/embeddings/test_minimax.py
Labels: lgtm, Ɑ: embeddings, size:M, community

#25015 community: Fix Predibase Integration for HuggingFace-hosted fine-tuned adapters
  libs/community/langchain_community/llms/predibase.py
Labels: lgtm, size:S, community

#25035 doc[Retriever] Enhance api docs for `MultiQueryRetriever`
  libs/langchain/langchain/retrievers/multi_query.py
Labels: lgtm, 🤖:docs, size:XS, Ɑ: retriever, langchain

#25054 docs: fix comment lines in code blocks
  docs/docs/how_to/configure.ipynb
Labels: lgtm, 🤖:docs, size:XS

#25050 community[patch]: Optimize test case for `MoonshotChat`
  libs/community/tests/integration_tests/chat_models/test_moonshot.py
Labels: lgtm, size:M, community

#24863 community: fix issue of the existence of numeric object in `additional_kwargs` a…
  libs/community/langchain_community/chat_models/baidu_qianfan_endpoint.py
Labels: lgtm, 🤖:bug, size:M, community

#25053 langchain: Make RetryWithErrorOutputParser.from_llm() create a correct retry chain
  libs/langchain/langchain/output_parsers/retry.py
Labels: lgtm, size:XS, Ɑ: parsing, langchain

#24958 community: make AthenaLoader profile_name optional and fix type hint
  libs/community/langchain_community/document_loaders/athena.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:XS, community

#25028 Partner: Milvus - fixed bug when using partition key and dynamic fields together
  libs/partners/milvus/langchain_milvus/vectorstores/milvus.py
  libs/partners/milvus/tests/integration_tests/vectorstores/test_milvus.py
Labels: Ɑ: vector store, 🤖:bug, 🔌: milvus, size:M, partner

#24861 docs: update exa search
  docs/docs/integrations/tools/exa_search.ipynb
Labels: lgtm, 🤖:docs, size:XS

#25062 core[minor]: Introduce DocumentIndex abstraction
  libs/core/langchain_core/indexing/__init__.py
  libs/core/langchain_core/indexing/base.py
  libs/core/langchain_core/indexing/in_memory.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/tests/unit_tests/indexing/test_in_memory_indexer.py
  libs/core/tests/unit_tests/indexing/test_public_api.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
  libs/standard-tests/langchain_standard_tests/integration_tests/indexer.py
Labels: lgtm, Ɑ: vector store, 🤖:enhancement, size:XL, langchain

#25067 docs: remove redundant deprecation warning
  docs/api_reference/create_api_rst.py
Labels: lgtm, 🤖:docs, size:XS

#25075 docs: aws pydantic v2 compat
  docs/docs/how_to/pydantic_compatibility.md
Labels: 🤖:docs, size:XS

#25066 experimental: Add gliner graph transformer
  libs/experimental/langchain_experimental/graph_transformers/__init__.py
  libs/experimental/langchain_experimental/graph_transformers/gliner.py
Labels: lgtm, 🤖:enhancement, size:L, langchain

#24912 community: fix neo4j from_existing_graph
  libs/community/langchain_community/vectorstores/neo4j_vector.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS, 🔌: neo4j, 🔌: huggingface, community

#25071 core[patch]: Relax time constraints on rate limit test
  libs/core/tests/unit_tests/language_models/chat_models/test_rate_limiting.py
Labels: 🤖:improvement, size:XS

#25078 ollama: allow base_url, headers, and auth to be passed
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
Labels: lgtm, 🤖:improvement, size:L, partner

#25084 core[patch]: exclude special pydantic init params
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/test_tools.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: lgtm, 🤖:improvement, size:S, Ɑ: core

#25088 infra: check doc script skip index page
  docs/scripts/check_templates.py
Labels: size:XS

#25017 doc change for optional variables in chatprompt
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/chat.py
Labels: 🤖:docs, size:XS, Ɑ: core

#25032 core: Add pydantic metadata to subset model
  libs/core/langchain_core/tools.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: 🤖:improvement, size:L, Ɑ: core

#25009 core[patch]: Remove default BaseModel init docstring
  libs/core/langchain_core/load/serializable.py
Labels: lgtm, size:XS, Ɑ: core

#25093 docs: update numbering of items in method docs
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/structured.py
Labels: lgtm, 🤖:docs, size:XS, Ɑ: core

#25096 Allow ConfluenceLoader authorization via Personal Access Tokens
  libs/community/langchain_community/document_loaders/confluence.py
Labels: lgtm, Ɑ: doc loader, size:M, community

#25076 core[patch]: Include dependencies in sys_info
  libs/core/langchain_core/sys_info.py
Labels: 🤖:improvement, size:M, Ɑ: core

#24915 community[patch]: baidu-qianfan: delete the default model value from langchain and discard the need fo…
  libs/community/langchain_community/chat_models/baidu_qianfan_endpoint.py
  libs/community/langchain_community/embeddings/baidu_qianfan_endpoint.py
  libs/community/langchain_community/llms/baidu_qianfan_endpoint.py
  libs/community/tests/integration_tests/chat_models/test_qianfan_endpoint.py
Labels: lgtm, Ɑ: embeddings, size:S, community

#25103 docs: Standardize Tongyi
  libs/community/langchain_community/llms/tongyi.py
  libs/community/tests/integration_tests/llms/test_tongyi.py
Labels: lgtm, size:M, community

#25061 docs: versions sidebar
  docs/docs/versions/overview.mdx
  docs/docs/versions/packages.mdx
  docs/docs/versions/release_policy.mdx
  docs/docs/versions/v0_2/index.mdx
  docs/sidebars.js
  docs/vercel.json
Labels: 🤖:docs, size:L

#25106 docs: runnable docstring space
  libs/core/langchain_core/runnables/base.py
Labels: 🤖:docs, size:XS

#24858 [docs]: vector store integration pages
  docs/docs/integrations/vectorstores/.gitignore
  docs/docs/integrations/vectorstores/astradb.ipynb
  docs/docs/integrations/vectorstores/chroma.ipynb
  docs/docs/integrations/vectorstores/clickhouse.ipynb
  docs/docs/integrations/vectorstores/couchbase.ipynb
  docs/docs/integrations/vectorstores/elasticsearch.ipynb
  docs/docs/integrations/vectorstores/faiss.ipynb
  docs/docs/integrations/vectorstores/faiss_index/index.faiss
  docs/docs/integrations/vectorstores/index.mdx
  docs/docs/integrations/vectorstores/milvus.ipynb
  docs/docs/integrations/vectorstores/mongodb_atlas.ipynb
  docs/docs/integrations/vectorstores/pgvector.ipynb
  docs/docs/integrations/vectorstores/pinecone.ipynb
  docs/docs/integrations/vectorstores/qdrant.ipynb
  docs/docs/integrations/vectorstores/redis.ipynb
  docs/scripts/vectorstore_feat_table.py
  docs/src/theme/EmbeddingTabs.js
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
  libs/cli/langchain_cli/integration_template/integration_template/vectorstores.py
  libs/community/langchain_community/vectorstores/clickhouse.py
  libs/community/langchain_community/vectorstores/faiss.py
  libs/community/langchain_community/vectorstores/pgvector.py
  libs/community/langchain_community/vectorstores/redis/base.py
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/couchbase/langchain_couchbase/vectorstores.py
  libs/partners/milvus/langchain_milvus/vectorstores/milvus.py
  libs/partners/mongodb/langchain_mongodb/vectorstores.py
  libs/partners/pinecone/langchain_pinecone/vectorstores.py
  libs/partners/qdrant/langchain_qdrant/qdrant.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, 🔌: milvus, 🔌: chroma, 🔌: pinecone, 🔌: elasticsearch, size:XXL, partner, 🔌: qdrant, 🔌: astradb

#25104 Added bedrock 3-5 sonnet cost detials for BedrockAnthropicTokenUsageCallbackHandler
  libs/community/langchain_community/callbacks/bedrock_anthropic_callback.py
Labels: lgtm, 🤖:nit, size:XS, community

#25073 Set Context in RunnableSequence & RunnableParallel
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Labels: lgtm, 🤖:improvement, size:L

#25100 core[minor]: Add support for DocumentIndex in the index api
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
Labels: lgtm, 🤖:improvement, size:L

#25112 docs[patch]: add to qa with sources guide
  docs/docs/how_to/qa_sources.ipynb
Labels: 🤖:docs, size:L

#25111 openai[patch]: enable strict tool calling
  docs/docs/integrations/chat/openai.ipynb
  libs/core/langchain_core/utils/function_calling.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain/tests/unit_tests/load/__snapshots__/test_dump.ambr
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: lgtm, 🤖:improvement, size:L, partner, 🔌: openai, Ɑ: core

#25115 core[patch]: Release 0.2.29rc1
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#25116 openai[patch]: Release 0.1.21rc1
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: openai

#25117 docs: oai chat nit
  docs/docs/integrations/chat/openai.ipynb
Labels: 🤖:docs, size:XS

#25105 groq[patch]: allow warnings during tests
  libs/partners/groq/pyproject.toml
Labels: 🤖:improvement, size:XS, partner

#25110 infra,cli: template matching registration
  docs/scripts/check_templates.py
  libs/cli/langchain_cli/integration_template/docs/stores.ipynb
Labels: lgtm, 🤖:docs, size:XS

#25058 partners/milvus: release 0.1.4
  libs/partners/milvus/poetry.lock
  libs/partners/milvus/pyproject.toml
Labels: 🔌: milvus, size:XS, partner, 🤖:release

#25127 core[patch]: Sort Config attributes
  libs/core/langchain_core/example_selectors/semantic_similarity.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/memory.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/few_shot_with_templates.py
  libs/core/langchain_core/retrievers.py
  libs/core/langchain_core/tools.py
  libs/core/langchain_core/vectorstores/base.py
Labels: size:M, Ɑ: core, 0.3 prep

#25128 patch[doc] Fix word spelling error
  libs/langchain/langchain/retrievers/re_phraser.py
Labels: 🤖:nit, size:XS, Ɑ: retriever, langchain

#25135 Update google_search.ipynb
  docs/docs/integrations/tools/google_search.ipynb
Labels: lgtm, 🤖:docs, size:XS, 🔌: google

#25124 community: Fix ValidationError on creating GPT4AllEmbeddings with no gpt4all_kwargs
  libs/community/langchain_community/embeddings/gpt4all.py
  libs/community/tests/unit_tests/embeddings/test_gpt4all.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:M, community

#25114 Documentation Update for Upstash Semantic Caching
  docs/docs/integrations/llm_caching.ipynb
Labels: lgtm, 🤖:docs, size:L

#25140 core[patch]: Relax rate limit unit tests in terms of timing
  libs/core/tests/unit_tests/language_models/chat_models/test_rate_limiting.py
Labels: size:M, Ɑ: core

#25139 docs: Standardize QianfanLLMEndpoint LLM
  libs/community/langchain_community/llms/baidu_qianfan_endpoint.py
  libs/community/tests/integration_tests/llms/test_qianfan_endpoint.py
Labels: lgtm, 🤖:docs, size:L, community

#25123 openai[patch]: ChatOpenAI.with_structured_output json_schema support
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  poetry.lock
Labels: lgtm, 🤖:improvement, size:L, partner, 🔌: openai

#25142 docs: rag.ipynb - fixing typo
  docs/docs/tutorials/rag.ipynb
Labels: lgtm, 🤖:docs, size:XS

#25070 core: base language model disable_streaming
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Labels: lgtm, 🤖:improvement, size:L, Ɑ: core

#25126 core[patch]: Release 0.2.29
  libs/core/langchain_core/utils/function_calling.py
  libs/core/pyproject.toml
Labels: size:S, 🤖:release, Ɑ: core

#25146 openai[patch]: Release 0.1.21rc2
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: openai

#25148 infra: temp skip oai embeddings test
  libs/partners/openai/tests/integration_tests/embeddings/test_base.py
Labels: Ɑ: embeddings, 🤖:nit, size:XS, partner, 🔌: openai

#25065 [docs]: add sidebar for different tool categories
  docs/scripts/tool_feat_table.py
Labels: 🤖:docs, size:XS

#25057 mongodb: Add Hybrid and Full-Text Search Retrievers, release 0.2.0
  libs/partners/mongodb/README.md
  libs/partners/mongodb/langchain_mongodb/__init__.py
  libs/partners/mongodb/langchain_mongodb/cache.py
  libs/partners/mongodb/langchain_mongodb/index.py
  libs/partners/mongodb/langchain_mongodb/pipelines.py
  libs/partners/mongodb/langchain_mongodb/retrievers/__init__.py
  libs/partners/mongodb/langchain_mongodb/retrievers/full_text_search.py
  libs/partners/mongodb/langchain_mongodb/retrievers/hybrid_search.py
  libs/partners/mongodb/langchain_mongodb/utils.py
  libs/partners/mongodb/langchain_mongodb/vectorstores.py
  libs/partners/mongodb/poetry.lock
  libs/partners/mongodb/pyproject.toml
  libs/partners/mongodb/tests/integration_tests/test_cache.py
  libs/partners/mongodb/tests/integration_tests/test_chain_example.py
  libs/partners/mongodb/tests/integration_tests/test_index.py
  libs/partners/mongodb/tests/integration_tests/test_retrievers.py
  libs/partners/mongodb/tests/integration_tests/test_vectorstores.py
  libs/partners/mongodb/tests/unit_tests/test_cache.py
  libs/partners/mongodb/tests/unit_tests/test_chat_message_histories.py
  libs/partners/mongodb/tests/unit_tests/test_index.py
  libs/partners/mongodb/tests/unit_tests/test_vectorstores.py
  libs/partners/mongodb/tests/utils.py
Labels: lgtm, 🤖:enhancement, size:XXL, partner, Ɑ: retriever, 🔌: mongo

#25108 core[patch]: check for model_fields attribute
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, 🤖:improvement, size:XS, Ɑ: core

#25004 core[patch]: support Field deprecation
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/tools.py
Labels: lgtm, 🤖:improvement, size:M, Ɑ: core

#25152 core[patch]: Add unit tests for Serializable
  libs/core/tests/unit_tests/load/test_serializable.py
Labels: size:M, Ɑ: core, 0.3 prep

#25107 docs[patch]: Fix misspelling of instantiate in docs
  docs/docs/integrations/tools/tavily_search.ipynb
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
Labels: 🤖:docs, size:XS

#25164 community[patch]: gpt-4o-2024-08-06 costs
  libs/community/langchain_community/callbacks/openai_info.py
Labels: lgtm, 🤖:nit, size:XS, 🔌: openai, community

#25157 docs: Fix reference to SQL QA migration
  MIGRATE.md
Labels: lgtm, 🤖:docs, size:XS

#25149 docs: Update notebook name for Kinetica
  docs/docs/integrations/chat/kinetica.ipynb
  docs/docs/integrations/providers/kinetica.mdx
Labels: lgtm, 🤖:docs, size:XS

#25177 groq[patch]: update rate limit in integration tests
  libs/partners/groq/tests/integration_tests/test_standard.py
Labels: 🤖:nit, size:XS, partner

#25085 community[patch]: polygon: support business subscription
  libs/community/langchain_community/utilities/polygon.py
Labels: lgtm, 🤖:improvement, size:XS, community

#25158 [docs]: combine tools and toolkits
  cookbook/databricks_sql_db.ipynb
  docs/Makefile
  docs/docs/how_to/sql_csv.ipynb
  docs/docs/how_to/toolkits.mdx
  docs/docs/how_to/tools_builtin.ipynb
  docs/docs/integrations/document_loaders/apify_dataset.ipynb
  docs/docs/integrations/platforms/google.mdx
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/providers/ainetwork.mdx
  docs/docs/integrations/providers/apify.mdx
  docs/docs/integrations/providers/cassandra.mdx
  docs/docs/integrations/providers/robocorp.mdx
  docs/docs/integrations/providers/slack.mdx
  docs/docs/integrations/toolkits/airbyte_structured_qa.ipynb
  docs/docs/integrations/toolkits/csv.ipynb
  docs/docs/integrations/toolkits/index.mdx
  docs/docs/integrations/toolkits/python.ipynb
  docs/docs/integrations/toolkits/requests.ipynb
  docs/docs/integrations/toolkits/spark.ipynb
  docs/docs/integrations/toolkits/sql_database.ipynb
  docs/docs/integrations/toolkits/xorbits.ipynb
  docs/docs/integrations/tools/ainetwork.ipynb
  docs/docs/integrations/tools/amadeus.ipynb
  docs/docs/integrations/tools/apify.ipynb
  docs/docs/integrations/tools/azure_ai_services.ipynb
  docs/docs/integrations/tools/azure_cognitive_services.ipynb
  docs/docs/integrations/tools/cassandra_database.ipynb
  docs/docs/integrations/tools/clickup.ipynb
  docs/docs/integrations/tools/cogniswitch.ipynb
  docs/docs/integrations/tools/connery.ipynb
  docs/docs/integrations/tools/connery_toolkit.ipynb
  docs/docs/integrations/tools/financial_datasets.ipynb
  docs/docs/integrations/tools/github.ipynb
  docs/docs/integrations/tools/gitlab.ipynb
  docs/docs/integrations/tools/gmail.ipynb
  docs/docs/integrations/tools/jira.ipynb
  docs/docs/integrations/tools/json.ipynb
  docs/docs/integrations/tools/multion.ipynb
  docs/docs/integrations/tools/nasa.ipynb
  docs/docs/integrations/tools/office365.ipynb
  docs/docs/integrations/tools/openapi.ipynb
  docs/docs/integrations/tools/openapi_nla.ipynb
  docs/docs/integrations/tools/pandas.ipynb
  docs/docs/integrations/tools/playwright.ipynb
  docs/docs/integrations/tools/polygon.ipynb
  docs/docs/integrations/tools/polygon_toolkit.ipynb
  docs/docs/integrations/tools/powerbi.ipynb
  docs/docs/integrations/tools/requests.ipynb
  docs/docs/integrations/tools/robocorp.ipynb
  docs/docs/integrations/tools/search_tools.ipynb
  docs/docs/integrations/tools/slack.ipynb
  docs/docs/integrations/tools/spark_sql.ipynb
  docs/docs/integrations/tools/sql_database.ipynb
  docs/docs/integrations/tools/steam.ipynb
  docs/package.json
  docs/scripts/tool_feat_table.py
  docs/sidebars.js
  docs/vercel.json
  libs/partners/robocorp/README.md
Labels: 🤖:docs, size:XXL, partner

#25155 core[patch]: Fix aindex API
  libs/core/langchain_core/indexing/api.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core

#25145 docs: Update pydantic compatibility
  docs/docs/how_to/pydantic_compatibility.md
Labels: 🤖:docs, size:XS

#25179 qdrant: Update doc with usage snippets
  docs/docs/integrations/vectorstores/qdrant.ipynb
Labels: 🤖:docs, size:L, 🔌: qdrant

#25184 docs: fix mdx fences
  docs/docs/integrations/platforms/index.mdx
  docs/docs/modules/data_connection/document_loaders/pdf.mdx
  docs/docs/modules/data_connection/document_transformers/index.mdx
  docs/docs/modules/data_connection/vectorstores/index.mdx
Labels: 🤖:docs, size:XS

#25125 [docs]: change rag reference in vector store pages
  docs/docs/integrations/vectorstores/astradb.ipynb
  docs/docs/integrations/vectorstores/chroma.ipynb
  docs/docs/integrations/vectorstores/clickhouse.ipynb
  docs/docs/integrations/vectorstores/couchbase.ipynb
  docs/docs/integrations/vectorstores/elasticsearch.ipynb
  docs/docs/integrations/vectorstores/faiss.ipynb
  docs/docs/integrations/vectorstores/milvus.ipynb
  docs/docs/integrations/vectorstores/mongodb_atlas.ipynb
  docs/docs/integrations/vectorstores/pgvector.ipynb
  docs/docs/integrations/vectorstores/pinecone.ipynb
  docs/docs/integrations/vectorstores/qdrant.ipynb
  docs/docs/integrations/vectorstores/redis.ipynb
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
Labels: Ɑ: vector store, 🤖:docs, size:XL

#25186 langchain[patch]: Upgrade pydantic extra
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/agent_toolkits/vectorstore/toolkit.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/combine_documents/map_reduce.py
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/chains/combine_documents/reduce.py
  libs/langchain/langchain/chains/combine_documents/refine.py
  libs/langchain/langchain/chains/combine_documents/stuff.py
  libs/langchain/langchain/chains/conversation/base.py
  libs/langchain/langchain/chains/conversational_retrieval/base.py
  libs/langchain/langchain/chains/elasticsearch_database/base.py
  libs/langchain/langchain/chains/hyde/base.py
  libs/langchain/langchain/chains/llm.py
  libs/langchain/langchain/chains/llm_checker/base.py
  libs/langchain/langchain/chains/llm_math/base.py
  libs/langchain/langchain/chains/llm_summarization_checker/base.py
  libs/langchain/langchain/chains/mapreduce.py
  libs/langchain/langchain/chains/natbot/base.py
  libs/langchain/langchain/chains/qa_with_sources/base.py
  libs/langchain/langchain/chains/query_constructor/schema.py
  libs/langchain/langchain/chains/retrieval_qa/base.py
  libs/langchain/langchain/chains/router/base.py
  libs/langchain/langchain/chains/router/embedding_router.py
  libs/langchain/langchain/chains/sequential.py
  libs/langchain/langchain/evaluation/agents/trajectory_eval_chain.py
  libs/langchain/langchain/evaluation/comparison/eval_chain.py
  libs/langchain/langchain/evaluation/criteria/eval_chain.py
  libs/langchain/langchain/evaluation/embedding_distance/base.py
  libs/langchain/langchain/evaluation/qa/eval_chain.py
  libs/langchain/langchain/evaluation/scoring/eval_chain.py
  libs/langchain/langchain/indexes/vectorstore.py
  libs/langchain/langchain/memory/entity.py
  libs/langchain/langchain/retrievers/contextual_compression.py
  libs/langchain/langchain/retrievers/document_compressors/base.py
  libs/langchain/langchain/retrievers/document_compressors/cohere_rerank.py
  libs/langchain/langchain/retrievers/document_compressors/cross_encoder_rerank.py
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/time_weighted_retriever.py
  libs/langchain/tests/unit_tests/load/test_dump.py
Labels: 🤖:improvement, size:L, langchain, 0.3 prep

#25187 core[patch]: Add pydantic get_fields adapter
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
Labels: 🤖:improvement, size:M, 0.3 prep

#25191 community[patch]: Use get_fields adapter for pydantic
  libs/community/langchain_community/agent_toolkits/file_management/toolkit.py
  libs/community/langchain_community/chat_models/baidu_qianfan_endpoint.py
  libs/community/langchain_community/chat_models/minimax.py
  libs/community/langchain_community/chat_models/sparkllm.py
  libs/community/langchain_community/embeddings/gigachat.py
  libs/community/langchain_community/llms/bananadev.py
  libs/community/langchain_community/llms/beam.py
  libs/community/langchain_community/llms/cerebriumai.py
  libs/community/langchain_community/llms/edenai.py
  libs/community/langchain_community/llms/gigachat.py
  libs/community/langchain_community/llms/gooseai.py
  libs/community/langchain_community/llms/loading.py
  libs/community/langchain_community/llms/modal.py
  libs/community/langchain_community/llms/openai.py
  libs/community/langchain_community/llms/petals.py
  libs/community/langchain_community/llms/pipelineai.py
  libs/community/langchain_community/llms/replicate.py
  libs/community/langchain_community/llms/stochasticai.py
  libs/community/langchain_community/retrievers/docarray.py
  libs/community/langchain_community/vectorstores/redis/schema.py
  libs/community/tests/integration_tests/llms/utils.py
  libs/community/tests/unit_tests/callbacks/test_callback_manager.py
  libs/community/tests/unit_tests/callbacks/test_openai_info.py
  libs/community/tests/unit_tests/tools/test_exported.py
Labels: 🤖:improvement, size:M, community, 0.3 prep

#25189 core[minor]: Add from_env utility
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/utils.py
  libs/core/tests/unit_tests/utils/test_imports.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: 🤖:improvement, size:L, 0.3 prep

#25194 experimental[patch]: Migrate pydantic extra to literals
  libs/experimental/langchain_experimental/autonomous_agents/baby_agi/baby_agi.py
  libs/experimental/langchain_experimental/generative_agents/generative_agent.py
  libs/experimental/langchain_experimental/llm_bash/base.py
  libs/experimental/langchain_experimental/llm_symbolic_math/base.py
  libs/experimental/langchain_experimental/pal_chain/base.py
  libs/experimental/langchain_experimental/rl_chain/base.py
  libs/experimental/langchain_experimental/smart_llm/base.py
  libs/experimental/langchain_experimental/sql/base.py
  libs/experimental/langchain_experimental/tot/base.py
  libs/experimental/langchain_experimental/video_captioning/base.py
Labels: 🤖:improvement, size:M, 0.3 prep

#25193 experimental[patch]: Use get_fields adapter
  libs/experimental/langchain_experimental/open_clip/open_clip.py
Labels: 🤖:nit, size:XS, 0.3 prep

#25044 core: autodetect more ls params
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Labels: lgtm, 🤖:improvement, size:XXL, Ɑ: core

#25196 cli: release 0.0.29
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Labels: size:XS, 🤖:release

#25198 core[minor]: Add factory for looking up secrets from the env
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/utils.py
  libs/core/tests/unit_tests/utils/test_imports.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: 🤖:improvement, size:L, Ɑ: core

#25190 docs: redirect toolkits
  docs/vercel.json
Labels: 🤖:docs, size:S

#25202 partners[patch]: Mongodb Retrievers - CI final touches.
  libs/partners/mongodb/tests/integration_tests/test_chain_example.py
  libs/partners/mongodb/tests/integration_tests/test_index.py
  libs/partners/mongodb/tests/integration_tests/test_retrievers.py
Labels: lgtm, 🤖:nit, size:S, partner, 🔌: mongo

#25002 [docs]: standardizing document loader integration pages
  docs/docs/integrations/document_loaders/firecrawl.ipynb
  docs/docs/integrations/document_loaders/pypdfloader.ipynb
  docs/docs/integrations/document_loaders/recursive_url.ipynb
  docs/docs/integrations/document_loaders/unstructured_file.ipynb
  docs/docs/integrations/document_loaders/web_base.ipynb
  libs/cli/langchain_cli/integration_template/docs/document_loaders.ipynb
Labels: 🤖:docs, size:XL

#25204 core[patch]: fix deprecation pydantic bug
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/utils/pydantic.py
Labels: lgtm, 🤖:bug, size:M, Ɑ: core

#25163 [docs]: playwright fix
  docs/docs/integrations/tools/playwright.ipynb
Labels: 🤖:docs, size:L

#25212 infra: avoid orjson 3.10.7 in vercel build
  docs/vercel_requirements.txt
Labels: size:XS

#25195 docs: update integration api refs
  libs/cli/langchain_cli/integration_template/integration_template/retrievers.py
  libs/cli/langchain_cli/integration_template/integration_template/toolkits.py
  libs/community/langchain_community/agent_toolkits/github/toolkit.py
  libs/community/langchain_community/agent_toolkits/gmail/toolkit.py
  libs/community/langchain_community/agent_toolkits/openapi/toolkit.py
  libs/community/langchain_community/agent_toolkits/slack/toolkit.py
  libs/community/langchain_community/retrievers/arxiv.py
  libs/community/langchain_community/retrievers/azure_ai_search.py
  libs/community/langchain_community/retrievers/bedrock.py
  libs/community/langchain_community/retrievers/milvus.py
  libs/community/langchain_community/retrievers/wikipedia.py
Labels: Ɑ: agent, size:XL, community

#25229 partners: fix of issue #24880
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:bug, size:XS, partner, 🔌: openai

#25231 community: Add llm-extraction option to FireCrawl Document Loader
  libs/community/langchain_community/document_loaders/firecrawl.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, community

#24792 langchain[patch]: add deprecations
  docs/docs/versions/migrating_chains/conversation_chain.ipynb
  docs/docs/versions/migrating_chains/conversation_retrieval_chain.ipynb
  docs/docs/versions/migrating_chains/index.mdx
  docs/docs/versions/migrating_chains/llm_chain.ipynb
  docs/docs/versions/migrating_chains/llm_router_chain.ipynb
  docs/docs/versions/migrating_chains/map_reduce_chain.ipynb
  docs/docs/versions/migrating_chains/map_rerank_docs_chain.ipynb
  docs/docs/versions/migrating_chains/multi_prompt_chain.ipynb
  docs/docs/versions/migrating_chains/refine_docs_chain.ipynb
  docs/docs/versions/migrating_chains/retrieval_qa.ipynb
  docs/docs/versions/migrating_chains/stuff_docs_chain.ipynb
  docs/sidebars.js
  libs/langchain/langchain/agents/agent_toolkits/vectorstore/base.py
  libs/langchain/langchain/chains/__init__.py
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/chains/combine_documents/stuff.py
  libs/langchain/langchain/chains/elasticsearch_database/base.py
  libs/langchain/langchain/chains/example_generator.py
  libs/langchain/langchain/chains/llm_checker/base.py
  libs/langchain/langchain/chains/llm_summarization_checker/base.py
  libs/langchain/langchain/chains/loading.py
  libs/langchain/langchain/chains/mapreduce.py
  libs/langchain/langchain/chains/openai_functions/__init__.py
  libs/langchain/langchain/chains/openai_functions/citation_fuzzy_match.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/chains/openai_functions/qa_with_structure.py
  libs/langchain/langchain/chains/openai_functions/tagging.py
  libs/langchain/langchain/chains/qa_with_sources/base.py
  libs/langchain/langchain/chains/qa_with_sources/loading.py
  libs/langchain/langchain/chains/query_constructor/base.py
  libs/langchain/langchain/chains/question_answering/chain.py
  libs/langchain/langchain/chains/retrieval_qa/base.py
  libs/langchain/langchain/chains/router/llm_router.py
  libs/langchain/langchain/chains/router/multi_prompt.py
  libs/langchain/langchain/memory/summary.py
  libs/langchain/tests/integration_tests/chains/openai_functions/test_openapi.py
  libs/langchain/tests/unit_tests/chains/test_imports.py
Labels: Ɑ: memory, Ɑ: agent, 🤖:improvement, 🤖:docs, size:XXL, langchain

#25225 community[patch]: FAISS: ValueError mentions normalize_score_fn isntead of relevance_score_fn
  libs/community/langchain_community/vectorstores/faiss.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XS, community

#25235 community[patch]: Remove usage of @root_validator(allow_reuse=True)
  libs/community/langchain_community/chat_models/gpt_router.py
  libs/community/langchain_community/chat_models/perplexity.py
  libs/community/langchain_community/embeddings/baichuan.py
  libs/community/langchain_community/embeddings/gradient_ai.py
  libs/community/langchain_community/embeddings/infinity.py
  libs/community/langchain_community/embeddings/infinity_local.py
  libs/community/langchain_community/embeddings/sparkllm.py
  libs/community/langchain_community/llms/gradient_ai.py
  libs/community/langchain_community/vectorstores/thirdai_neuraldb.py
  libs/community/scripts/check_pydantic.sh
  libs/community/tests/unit_tests/embeddings/test_baichuan.py
  libs/community/tests/unit_tests/embeddings/test_sparkllm.py
Labels: Ɑ: embeddings, Ɑ: vector store, 🤖:improvement, size:L, community, 0.3 prep

#25236 community[patch]: Remove more @allow_reuse=True validators
  libs/community/langchain_community/chat_models/minimax.py
  libs/community/langchain_community/document_loaders/github.py
  libs/community/langchain_community/embeddings/clova.py
  libs/community/langchain_community/llms/minimax.py
  libs/community/langchain_community/utilities/powerbi.py
Labels: Ɑ: embeddings, 🤖:improvement, size:S, community, 0.3 prep

#24961 core: rate_limiters.InMemoryRateLimiter: use time.monotonic() instead time.time() to avoi…
  libs/core/langchain_core/rate_limiters.py
Labels: lgtm, 🤖:improvement, size:XS, Ɑ: core

#25233 community[patch],core[patch]: Update EdenaiTool root_validator and add unit test in core
  libs/community/langchain_community/tools/edenai/audio_speech_to_text.py
  libs/community/langchain_community/tools/edenai/edenai_base_tool.py
  libs/community/scripts/check_pydantic.sh
  libs/community/tests/unit_tests/tools/eden_ai/test_tools.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: 🤖:improvement, size:M, community, 0.3 prep

#25248 cli[patch]: Update integration template for embedding models
  libs/cli/langchain_cli/integration_template/docs/text_embedding.ipynb
Labels: 🤖:docs, size:M

#25210 standard-tests[patch]: test ToolMessage.status="error"
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: lgtm, 🤖:nit, size:S

#25069 core[patch]: Deprecating beta upsert APIs in vectorstore
  libs/community/langchain_community/vectorstores/aperturedb.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
  libs/standard-tests/langchain_standard_tests/integration_tests/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XL, community

#25269 openai[patch]: Release 0.1.21
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: openai
