Repository langchain-ai/langchain, pull requests merged in 2024-11, with the labels that each got.

#27824 Fixed broken link for TokenTextSplitter
  docs/docs/how_to/split_by_token.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27815 docs: Update Retrievers and Runnable links in Retrievers subsection of retrievers.ipynb
  docs/docs/tutorials/retrievers.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27814 docs: update VectorStore api reference url in retrievers.ipynb
  docs/docs/tutorials/retrievers.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27828 docs: Reference new databricks-langchain package
  docs/docs/integrations/providers/databricks.md
Labels: 🤖:docs, size:S

#27834 many: use core 0.3.15
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/cli/langchain_cli/package_template/pyproject.toml
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/partners/box/poetry.lock
  libs/partners/box/pyproject.toml
  libs/partners/couchbase/poetry.lock
  libs/partners/couchbase/pyproject.toml
  libs/partners/exa/poetry.lock
  libs/partners/exa/pyproject.toml
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
  libs/partners/prompty/poetry.lock
  libs/partners/prompty/pyproject.toml
  libs/partners/voyageai/poetry.lock
  libs/partners/voyageai/pyproject.toml
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Labels: 🤖:nit, size:XL

#27837 airbyte: remove 0.3-compatible integration from 0.3-compatible branch (master)
  libs/partners/airbyte/.gitignore
  libs/partners/airbyte/LICENSE
  libs/partners/airbyte/Makefile
  libs/partners/airbyte/README.md
  libs/partners/airbyte/langchain_airbyte/__init__.py
  libs/partners/airbyte/langchain_airbyte/document_loaders.py
  libs/partners/airbyte/langchain_airbyte/py.typed
  libs/partners/airbyte/poetry.lock
  libs/partners/airbyte/pyproject.toml
  libs/partners/airbyte/scripts/check_imports.py
  libs/partners/airbyte/scripts/lint_imports.sh
  libs/partners/airbyte/tests/__init__.py
  libs/partners/airbyte/tests/integration_tests/__init__.py
  libs/partners/airbyte/tests/integration_tests/test_compile.py
  libs/partners/airbyte/tests/integration_tests/test_document_loaders.py
  libs/partners/airbyte/tests/unit_tests/__init__.py
  libs/partners/airbyte/tests/unit_tests/test_document_loaders.py
  libs/partners/airbyte/tests/unit_tests/test_imports.py
Labels: size:L, langchain

#27839 infra: remove some special cases
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  .github/workflows/api_doc_build.yml
  docs/api_reference/create_api_rst.py
  docs/scripts/partner_pkg_table.py
  libs/packages.yml
Labels: lgtm, size:S

#27845 docs: INVALID_CHAT_HISTORY redirect
  docs/vercel.json
Labels: lgtm, 🤖:docs, size:XS

#26365 core: fix CommaSeparatedListOutputParser to handle columns that may contain commas in it
  libs/core/langchain_core/output_parsers/list.py
  libs/core/tests/unit_tests/output_parsers/test_list_parser.py
Labels: 🤖:bug, size:M, Ɑ: core

#27848 core[patch]: rm image prompt file loading
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/utils/image.py
  libs/core/pyproject.toml
Labels: 🤖:nit, size:M, Ɑ: core

#27852 infra: fix test release permissions
  .github/workflows/_release.yml
Labels: 🤖:nit, size:XS

#27853 infra: test release skip attestations
  .github/workflows/_test_release.yml
Labels: size:XS

#27840 chroma[minor]: release 0.2.0
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
Labels: lgtm, size:S, 🤖:release

#27872 docs: fix undefined 'data' variable in document_loader_csv.ipynb
  docs/docs/how_to/document_loader_csv.ipynb
Labels: lgtm, 🤖:docs, size:XS

#26208 community: read function call from `tool_calls` for Qianfan
  libs/community/langchain_community/chat_models/baidu_qianfan_endpoint.py
Labels: lgtm, size:S, community

#26308 community: set default `output_token_limit` value for `PowerBIToolkit` to fix validation error
  libs/community/langchain_community/agent_toolkits/powerbi/toolkit.py
Labels: lgtm, size:XS, community

#27833 infra: add neo4j to package list
  libs/packages.yml
Labels: 🤖:nit, size:XS

#27887 Revert "infra: add neo4j to package list"
  libs/packages.yml
Labels: 🤖:nit, size:XS

#27810 Add nvidia as provider for embedding, llm
  docs/src/theme/FeatureTables.js
Labels: lgtm, 🤖:docs, size:S

#27836 infra: release tag compute
  .github/workflows/_release.yml
Labels: lgtm, 🤖:nit, size:S

#27849 qdrant,nomic[minor]: bump core deps
  libs/partners/nomic/poetry.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
  libs/partners/qdrant/poetry.lock
  libs/partners/qdrant/pyproject.toml
Labels: 🤖:nit, size:S

#27841 docs: Update VectorStore api reference url in rag.ipynb
  docs/docs/tutorials/rag.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27846 community: fixed bug in GraphVectorStoreRetriever
  libs/community/langchain_community/graph_vectorstores/base.py
  libs/community/tests/integration_tests/graph_vectorstores/test_cassandra.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:M, community

#27842 docs: Update VectorStore .as_retriever method url in vectorstore_retriever.ipynb
  docs/docs/how_to/vectorstore_retriever.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27843 docs: Update max_marginal_relevance_search api reference url in multi_vector.ipynb
  docs/docs/how_to/multi_vector.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27844 docs: Update VectorStore as_retriever method url in qa_chat_history_how_to.ipynb
  docs/docs/how_to/qa_chat_history_how_to.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27890 infra: fix prev tag calculation
  .github/workflows/_release.yml
Labels: size:XS

#27869 community: update Vectara integration
  docs/docs/integrations/providers/vectara/index.mdx
  docs/docs/integrations/providers/vectara/vectara_chat.ipynb
  docs/docs/integrations/retrievers/self_query/vectara_self_query.ipynb
  docs/docs/integrations/vectorstores/vectara.ipynb
  libs/community/langchain_community/vectorstores/vectara.py
  libs/community/tests/integration_tests/vectorstores/test_vectara.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:M, community

#27891 infra: fix prev tag condition
  .github/workflows/_release.yml
Labels: size:XS

#27892 infra: fix prev tag output
  .github/workflows/_release.yml
Labels: size:XS

#26209 community: ✨ Use new OVHcloud batch embedding
  libs/community/langchain_community/embeddings/ovhcloud.py
Labels: lgtm, Ɑ: embeddings, stale, size:M, community

#27894 docs: sidebar capitalization
  docs/sidebars.js
Labels: 🤖:docs, size:XS

#27896 infra: get min versions
  .github/scripts/get_min_versions.py
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/check_diffs.yml
Labels: size:L

#27900 standard-tests: release 0.3.0
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: size:XS, 🤖:release

#27905 update llm graph transformer documentation
  docs/docs/how_to/graph_constructing.ipynb
  docs/static/img/graph_construction3.png
  docs/static/img/graph_construction4.png
Labels: lgtm, 🤖:docs, size:L

#27827 community: chroma error patch(attribute changed on chroma)
  libs/community/langchain_community/vectorstores/chroma.py
  libs/partners/chroma/langchain_chroma/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:S, community

#27899 standard-tests: add tools standard tests
  libs/standard-tests/langchain_standard_tests/integration_tests/tools.py
  libs/standard-tests/langchain_standard_tests/unit_tests/tools.py
Labels: size:L

#27921 infra: release note compute 2
  .github/workflows/_release.yml
Labels: size:S

#27922 infra: release note grep order of operations
  .github/workflows/_release.yml
Labels: size:XS

#27923 standard-tests: ci pipeline
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/tests/__init__.py
  libs/standard-tests/tests/integration_tests/test_compile.py
  libs/standard-tests/tests/unit_tests/test_in_memory_vectorstore.py
Labels: size:M

#27924 openai[patch]: release 0.2.6
  docs/docs/integrations/chat/openai.ipynb
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: size:L

#27929 infra: starter codeowners file
  .github/CODEOWNERS
Labels: 🤖:docs, size:XS

#27935 community: re-arrange function call message parse logic for Qianfan
  libs/community/langchain_community/chat_models/baidu_qianfan_endpoint.py
Labels: lgtm, 🤖:bug, size:S, community

#27812 docs: document init_chat_model standard params
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, 🤖:docs, size:S

#27756 core[patch]: make oai tool description optional
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: lgtm, size:L, langchain

#27944 docs: Completed sentence under the heading "Instantiating a Browser …
  docs/docs/integrations/tools/playwright.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27945 community: added Document.id support to opensearch vectorstore
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
  libs/community/tests/integration_tests/vectorstores/test_opensearch.py
Labels: lgtm, Ɑ: vector store, size:M, community

#27910 docs: Adding notebook for cdp agentkit toolkit
  docs/docs/integrations/tools/cdp_agentkit.ipynb
Labels: 🤖:docs, size:L

#27948 docs: fix trim_messages docstring
  libs/core/langchain_core/messages/utils.py
Labels: 🤖:docs, size:XS

#27857 langchain-huggingface: use separate kwargs for queries and docs
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:M

#27716 community: Allow other than default parsers in SharePointLoader and OneDriveLoader
  docs/docs/integrations/document_loaders/microsoft_onedrive.ipynb
  docs/docs/integrations/document_loaders/microsoft_sharepoint.ipynb
  libs/community/langchain_community/document_loaders/base_o365.py
  libs/community/langchain_community/document_loaders/onedrive.py
  libs/community/langchain_community/document_loaders/sharepoint.py
Labels: lgtm, Ɑ: doc loader, size:L, community

#27950 infra: remove google creds from release and integration test workflows
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
Labels: 🤖:nit, size:S

#27043 community: add InfinityRerank
  docs/docs/integrations/document_transformers/infinity_rerank.ipynb
  libs/community/langchain_community/document_compressors/__init__.py
  libs/community/langchain_community/document_compressors/infinity_rerank.py
  libs/community/tests/integration_tests/document_compressors/test_infinity_rerank.py
  libs/community/tests/unit_tests/document_compressors/test_imports.py
Labels: lgtm, 🤖:docs, stale, size:XL, community

#27251 Improvement[Partner] Improve qdrant vector store
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
Labels: lgtm, Ɑ: vector store, size:S

#26778 community: Update UC toolkit documentation to use LangGraph APIs
  docs/docs/integrations/tools/databricks.ipynb
Labels: lgtm, 🤖:docs, size:L, community

#27323 community: Memcached LLM Cache Integration
  docs/docs/integrations/llm_caching.ipynb
  docs/docs/integrations/providers/memcached.mdx
  libs/community/langchain_community/cache.py
  libs/community/tests/integration_tests/cache/test_memcached_cache.py
Labels: lgtm, size:L, community, utoronto

#27800 community: ZeroxPDFLoader
  docs/docs/integrations/document_loaders/zeroxpdfloader.ipynb
  libs/community/langchain_community/document_loaders/pdf.py
Labels: lgtm, Ɑ: doc loader, size:L, community

#26618 community: bytes as a source to `AzureAIDocumentIntelligenceLoader`
  libs/community/langchain_community/document_loaders/doc_intelligence.py
  libs/community/langchain_community/document_loaders/parsers/doc_intelligence.py
Labels: lgtm, Ɑ: doc loader, stale, size:M, community

#27965 anthropic[patch]: remove retired model from tests
  libs/partners/anthropic/tests/integration_tests/test_llms.py
Labels: 🤖:nit, size:XS

#27966 docs[patch]: update cassettes for sql/csv notebook
  docs/cassettes/sql_csv_27c84b27-9367-4c58-8a88-ade1fbf6683c.msgpack.zlib
  docs/cassettes/sql_csv_2e56a891-4c3f-4e5a-a5ee-3973112ffeb9.msgpack.zlib
  docs/cassettes/sql_csv_35ea904e-795f-411b-bef8-6484dbb6e35c.msgpack.zlib
  docs/cassettes/sql_csv_476128f2-aa61-47f5-a371-dcff7b391d19.msgpack.zlib
  docs/cassettes/sql_csv_77a70e1b-d3ee-4fa6-a4a0-d2e5005e6c8a.msgpack.zlib
  docs/cassettes/sql_csv_7aefe929-5e39-4ed1-b135-aaf88edce2eb.msgpack.zlib
  docs/cassettes/sql_csv_9e87a820-e4ce-417e-b580-043fb2d5c8f2.msgpack.zlib
  docs/cassettes/sql_csv_c6a9c8ec-1d06-4870-a584-b8d7b6c6ddfe.msgpack.zlib
  docs/cassettes/sql_csv_ff6e98ec-52f1-4ffd-9ea8-bacedfa29f28.msgpack.zlib
Labels: 🤖:docs, size:S

#27645 Add ChatModels wrapper for Cloudflare Workers AI
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/scripts/check_templates.py
  libs/community/langchain_community/chat_models/cloudflare_workersai.py
  libs/community/tests/unit_tests/chat_models/test_cloudflare_workersai.py
Labels: lgtm, size:XL, community

#27957 community: fix ClovaXEmbeddings document API link address
  docs/docs/integrations/text_embedding/naver.ipynb
Labels: lgtm, 🤖:docs, size:XS, community

#27603 community: handle chatdeepinfra jsondecode error
  libs/community/langchain_community/chat_models/deepinfra.py
Labels: lgtm, 🤖:bug, size:XS, community

#27971 docs: ignore case production fork master
  docs/ignore-step.sh
Labels: 🤖:docs, size:S

#27972 docs: new stack diagram
  README.md
  docs/docs/concepts/architecture.mdx
  docs/docs/introduction.mdx
  docs/static/svg/langchain_stack_112024.svg
  docs/static/svg/langchain_stack_112024_dark.svg
  libs/community/README.md
  libs/core/README.md
Labels: 🤖:docs, size:S

#27898 cookbook: add Anthropic's contextual retrieval
  cookbook/README.md
  cookbook/contextual_rag.ipynb
Labels: 🤖:docs, size:XXL

#27307 Community: Google Books API Tool
  docs/docs/integrations/tools/google_books.ipynb
  libs/community/langchain_community/agent_toolkits/load_tools.py
  libs/community/langchain_community/tools/__init__.py
  libs/community/langchain_community/tools/google_books.py
  libs/community/langchain_community/utilities/__init__.py
  libs/community/langchain_community/utilities/google_books.py
  libs/community/tests/unit_tests/tools/test_imports.py
  libs/community/tests/unit_tests/utilities/test_imports.py
Labels: lgtm, size:L, community, utoronto

#27977 docs: fix typo in PDF loader guide
  docs/docs/how_to/document_loader_pdf.ipynb
Labels: lgtm, 🤖:nit, size:XS

#27976 docs: fix link in tool-calling guide
  docs/docs/how_to/tool_calling.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27975 docs: fix link in custom tools guide
  docs/docs/how_to/custom_tools.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27946 community: Added type hinting to OpenSearch clients
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Labels: lgtm, Ɑ: vector store, size:L, community

#27996 docs: update tutorials index and add get started guides
  docs/docs/tutorials/index.mdx
Labels: 🤖:docs, size:M

#27998 docs: intro nit
  docs/docs/introduction.mdx
Labels: lgtm, 🤖:nit, size:XS

#27983 openai[patch]: default to invoke on o1 stream()
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: lgtm, size:M

#28000 docs: add cross-links
  docs/docs/concepts/chat_models.mdx
  docs/docs/how_to/index.mdx
  docs/docs/introduction.mdx
  docs/docs/tutorials/index.mdx
  docs/docs/tutorials/llm_chain.ipynb
Labels: 🤖:docs, size:S

#28010 docs: update some cassettes
  docs/cassettes/summarize_map_reduce_0701bb7d-fbc6-497e-a577-25d56e6e43c6.msgpack.zlib
  docs/cassettes/summarize_map_reduce_27c8fed0-b2d7-4549-a086-f5ee657efc41.msgpack.zlib
  docs/cassettes/summarize_map_reduce_4f26c1e3-3d3c-44f7-bb5f-46db9dc40f4b.msgpack.zlib
  docs/cassettes/summarize_refine_0701bb7d-fbc6-497e-a577-25d56e6e43c6.msgpack.zlib
  docs/cassettes/summarize_refine_21711ff5-4e06-4843-9109-e7d89e679449.msgpack.zlib
Labels: 🤖:docs, size:XS

#28026 docs : Update sql_qa.ipynb
  docs/docs/tutorials/sql_qa.ipynb
Labels: lgtm, 🤖:nit, size:XS

#28014 Correcting AzureOpenAI initialization
  docs/docs/integrations/llms/azure_openai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28001 docs: removed bolding from header
  docs/docs/contributing/tutorials/docs.mdx
Labels: lgtm, 🤖:docs, size:XS

#28006 docs:Fixed missing hyperlink and changed AI to LLMs for clarity
  docs/docs/concepts/chat_models.mdx
Labels: lgtm, 🤖:docs, size:XS

#28020 docs: Makes the phrasing more smooth and reasoning more clear
  docs/docs/versions/migrating_memory/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#27930 community[docs]: modify parameter for the LoRA adapter on the vllm page
  docs/docs/integrations/llms/vllm.ipynb
Labels: lgtm, 🤖:docs, size:S, community

#28045 core[patch]: Release 0.3.16
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#28046 community[patch]: Release 0.3.6
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#28047 openai[patch]: Release 0.2.7
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, 🤖:release

#28048 openai[patch]: fix azure oai stream check
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:bug, size:XS

#28052 DOC: Fix typo in documentation for streaming modes, correcting 'witte…
  docs/docs/concepts/streaming.mdx
Labels: lgtm, 🤖:nit, size:XS, langchain

#28055 Update streaming.mdx
  docs/docs/concepts/streaming.mdx
Labels: lgtm, 🤖:docs, size:XS

#28050 community: patch graphqa chains (CVE-2024-8309)
  libs/community/langchain_community/chains/graph_qa/arangodb.py
  libs/community/langchain_community/chains/graph_qa/cypher.py
  libs/community/langchain_community/chains/graph_qa/falkordb.py
  libs/community/langchain_community/chains/graph_qa/gremlin.py
  libs/community/langchain_community/chains/graph_qa/hugegraph.py
  libs/community/langchain_community/chains/graph_qa/kuzu.py
  libs/community/langchain_community/chains/graph_qa/nebulagraph.py
  libs/community/langchain_community/chains/graph_qa/neptune_cypher.py
  libs/community/langchain_community/chains/graph_qa/neptune_sparql.py
  libs/community/langchain_community/chains/graph_qa/ontotext_graphdb.py
  libs/community/langchain_community/chains/graph_qa/sparql.py
  libs/community/tests/unit_tests/chains/test_graph_qa.py
Labels: lgtm, size:L, 13 security, 🤖:security

#28057 community: release 0.2.19
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#28038 Improvement[Community]Improve Embeddings API
  libs/community/langchain_community/embeddings/baichuan.py
  libs/community/langchain_community/embeddings/dashscope.py
  libs/community/langchain_community/embeddings/fake.py
Labels: lgtm, Ɑ: embeddings, size:XS, community

#28034 docs: Fix typo in Tavily Search example
  docs/docs/integrations/tools/tavily_search.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28060 core[patch]: release 0.3.17
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#28061 community[patch]: release 0.3.7
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#28062 openai[patch]: release 0.2.8
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, 🤖:release

#28032 partners: add xAI chat integration
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  docs/docs/integrations/chat/xai.ipynb
  docs/docs/integrations/providers/xai.ipynb
  docs/src/theme/FeatureTables.js
  libs/core/langchain_core/load/load.py
  libs/partners/xai/LICENSE
  libs/partners/xai/Makefile
  libs/partners/xai/README.md
  libs/partners/xai/langchain_xai/__init__.py
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/langchain_xai/py.typed
  libs/partners/xai/poetry.lock
  libs/partners/xai/pyproject.toml
  libs/partners/xai/scripts/check_imports.py
  libs/partners/xai/scripts/lint_imports.sh
  libs/partners/xai/tests/__init__.py
  libs/partners/xai/tests/integration_tests/__init__.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
  libs/partners/xai/tests/integration_tests/test_compile.py
  libs/partners/xai/tests/unit_tests/__init__.py
  libs/partners/xai/tests/unit_tests/__snapshots__/test_chat_models_standard.ambr
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/tests/unit_tests/test_chat_models_standard.py
  libs/partners/xai/tests/unit_tests/test_imports.py
  libs/partners/xai/tests/unit_tests/test_secrets.py
Labels: lgtm, size:XXL

#28065 anthropic[patch]: add examples to API ref
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: 🤖:docs, size:M

#27914 Handled empty search result handling and updated the notebook
  docs/docs/integrations/vectorstores/kinetica.ipynb
  libs/community/langchain_community/vectorstores/kinetica.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:L, community

#28067 xai[patch]: update dependencies
  libs/partners/xai/poetry.lock
  libs/partners/xai/pyproject.toml
Labels: 🤖:nit, size:XS

#28078 docs: Fixed broken link to the Luminous model family introduction
  docs/docs/integrations/llms/aleph_alpha.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28083 docs: Fixed wrong link redirect from JS ToolMessage to Python ToolMes…
  docs/docs/troubleshooting/errors/INVALID_TOOL_RESULTS.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28082 docs: Fixed additional 'the' and remove 'turns' to make explanation clearer
  docs/docs/how_to/chatbots_memory.ipynb
Labels: lgtm, 🤖:docs, size:XS

#27733 DOCS: Concept Section Improvements & Updates
  docs/docs/concepts/chat_history.mdx
  docs/docs/concepts/chat_models.mdx
  docs/docs/concepts/document_loaders.mdx
  docs/docs/concepts/lcel.mdx
  docs/docs/concepts/messages.mdx
  docs/docs/concepts/retrieval.mdx
  docs/docs/concepts/runnables.mdx
  docs/docs/concepts/structured_outputs.mdx
  docs/docs/concepts/tools.mdx
  docs/docs/concepts/why_langchain.mdx
Labels: lgtm, 🤖:docs, size:M

#28087 docs: Fix missing space between the words API Reference
  docs/docs/how_to/custom_chat_model.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28084 Proofreading and Editing Report for Migration Guide
  MIGRATE.md
Labels: lgtm, 🤖:docs, size:XS

#28075 docs: fix spelling error
  docs/docs/how_to/output_parser_custom.ipynb
Labels: lgtm, 🤖:nit, size:XS

#28073 core[patch]: Update doc-strings in callbacks
  libs/core/langchain_core/callbacks/file.py
  libs/core/langchain_core/callbacks/manager.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core

#28070 core: release 0.3.18
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Labels: size:XS, 🤖:release

#27159 community: chore warn deprecate the tracer
  libs/community/langchain_community/callbacks/tracers/wandb.py
Labels: size:S, community

#27415 docs: Add example using `TypedDict` in structured outputs how-to guide
  docs/docs/how_to/structured_output.ipynb
Labels: lgtm, 🤖:docs, size:L

#28092 xai[patch]: update core
  libs/partners/xai/poetry.lock
  libs/partners/xai/pyproject.toml
Labels: 🤖:nit, size:XS

#28089 docs: add docs on StrOutputParser
  docs/cassettes/output_parser_string_28eeace3-3896-497f-93ad-544cbfb7f15c.msgpack.zlib
  docs/cassettes/output_parser_string_8ac74999-0740-4178-8efd-32a855592f71.msgpack.zlib
  docs/cassettes/output_parser_string_8c87553e-4f85-46c4-8f1e-666f6a261a50.msgpack.zlib
  docs/cassettes/output_parser_string_9cbb8848-9101-465e-b230-0f7af6fb4105.msgpack.zlib
  docs/docs/concepts/output_parsers.mdx
  docs/docs/how_to/index.mdx
  docs/docs/how_to/output_parser_string.ipynb
Labels: 🤖:docs, size:L

#28088 docs: Updated link to ensure reference to the correct header for ToolNode
  docs/docs/concepts/tool_calling.mdx
Labels: lgtm, 🤖:docs, size:XS

#27981 English Update and fixed a duplicate "the"
  docs/docs/contributing/how_to/documentation/style_guide.mdx
Labels: lgtm, 🤖:docs, size:M

#27991 core[patch]: support numpy 2
  .github/scripts/get_min_versions.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: lgtm, 🤖:nit, size:S

#28131 core[patch]: add caching to get_function_nonlocals
  libs/core/langchain_core/runnables/utils.py
Labels: 🤖:nit, size:XS, Ɑ: core

#28133 standard-tests[patch]: add test for async tool calling
  libs/partners/huggingface/tests/integration_tests/test_standard.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: size:S

#27689 partners/ollama: Enabled Token Level Streaming when Using Bind Tools for ChatOllama
  libs/partners/ollama/langchain_ollama/chat_models.py
Labels: lgtm, 🤖:bug, size:M

#27526 community: sambanovacloud llm integration
  docs/docs/integrations/llms/sambanovacloud.ipynb
  libs/community/langchain_community/llms/__init__.py
  libs/community/langchain_community/llms/sambanova.py
  libs/community/tests/integration_tests/llms/test_sambanova.py
  libs/community/tests/unit_tests/llms/test_imports.py
Labels: lgtm, size:XL, community

#28135 docs: add legacy LLM page to concepts index
  docs/docs/concepts/index.mdx
Labels: 🤖:docs, size:XS

#28137 core: release 0.3.19
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS

#27379 community: add reka chat model integration
  docs/docs/integrations/chat/reka.ipynb
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/reka.py
  libs/community/tests/integration_tests/chat_models/test_reka.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
  libs/community/tests/unit_tests/chat_models/test_reka.py
Labels: size:XXL, community

#27931 docs, standard-tests: how to standard test a custom tool, imports
  docs/docs/how_to/tools_standard_tests.ipynb
  docs/scripts/notebook_convert.py
  docs/scripts/notebook_convert_templates/mdoutput/index.md.j2
  libs/standard-tests/langchain_standard_tests/integration_tests/__init__.py
  libs/standard-tests/langchain_standard_tests/unit_tests/__init__.py
Labels: 🤖:docs, size:L

#28139 multiple: langchain-standard-tests -> langchain-tests
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/test_dependencies.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
  libs/partners/huggingface/poetry.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/xai/poetry.lock
  libs/partners/xai/pyproject.toml
  libs/standard-tests/Makefile
  libs/standard-tests/README.md
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/embeddings.py
  libs/standard-tests/langchain_standard_tests/unit_tests/tools.py
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: 🤖:nit, size:L

#28144 docs:Moved AWS tab ahead in the list as per integration telemetry
  docs/src/theme/ChatModelTabs.js
Labels: lgtm, 🤖:docs, size:S

#27978 docs: reorg sidebar
  docs/sidebars.js
Labels: 🤖:docs, size:M

#28143 docs: how to contribute integrations
  docs/docs/contributing/how_to/code/guidelines.mdx
  docs/docs/contributing/how_to/index.mdx
  docs/docs/contributing/how_to/integrations.mdx
  docs/docs/contributing/how_to/integrations/community.mdx
  docs/docs/contributing/how_to/integrations/from_template.mdx
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  docs/docs/contributing/index.mdx
  docs/docs/contributing/reference/repo_structure.mdx
Labels: 🤖:docs, size:XL

#28149 docs: Fixed mini typo
  docs/docs/versions/v0_3/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#28156 docs: Added missing installation for required packages in tutorial notebooks
  docs/docs/tutorials/summarization.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28154 docs: Resolve incorrect import for `AttributeInfo`
  docs/docs/how_to/self_query.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28155 docs: Fix wrong import of `AttributeInfo`
  docs/docs/integrations/retrievers/self_query/elasticsearch_self_query.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28147 community: OpenSearchVectorStore: use engine set at init() time by default
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Labels: lgtm, Ɑ: vector store, size:XS, community

#28150 docs: link to langgraph platform
  README.md
  docs/docs/introduction.mdx
Labels: size:XS

#28161 langchain: add missing punctuation in react_single_input.py
  libs/langchain/langchain/agents/output_parsers/react_single_input.py
Labels: lgtm, 🤖:nit, size:XS, langchain

#28165 docs: fix grammatical error in delegation to sync methods
  docs/docs/concepts/async.mdx
Labels: lgtm, 🤖:docs, size:XS

#28185 docs: standard test update
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Labels: 🤖:docs, size:S

#28186 docs: community integration guide clarification
  docs/docs/contributing/how_to/integrations/community.mdx
Labels: 🤖:docs, size:XS

#28142 docs: add component tabs to integration landing pages
  docs/docs/how_to/embed_text.mdx
  docs/docs/integrations/chat/index.mdx
  docs/docs/integrations/text_embedding/azureopenai.ipynb
  docs/docs/integrations/text_embedding/bedrock.ipynb
  docs/docs/integrations/text_embedding/index.mdx
  docs/docs/integrations/vectorstores/index.mdx
  docs/src/theme/ChatModelTabs.js
  docs/src/theme/EmbeddingTabs.js
  docs/src/theme/FeatureTables.js
  docs/src/theme/VectorStoreTabs.js
Labels: 🤖:docs, size:L

#28189 docs[patch]: Add missing link to streaming concepts page
  docs/docs/concepts/index.mdx
Labels: size:XS

#28191 docs: fixed a typo
  docs/docs/tutorials/llm_chain.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28193 docs: fix embeddings tabs
  docs/src/theme/EmbeddingTabs.js
Labels: 🤖:docs, size:XS

#28195 docs: efficient rebuild
  docs/Makefile
  docs/scripts/notebook_convert.py
Labels: 🤖:docs, size:S

#28197 openai: release 0.2.9, o1 streaming
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, 🤖:release

#28199 infra: allow non-langchainai packages
  .github/scripts/prep_api_docs_build.py
  .github/workflows/api_doc_build.yml
Labels: size:M

#28203 standard-tests: rename langchain_standard_tests to langchain_tests, release 0.3.2
  .github/workflows/_release.yml
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  libs/community/tests/integration_tests/chat_models/test_litellm_standard.py
  libs/community/tests/integration_tests/chat_models/test_moonshot.py
  libs/community/tests/integration_tests/storage/test_mongodb.py
  libs/community/tests/integration_tests/vectorstores/test_aperturedb.py
  libs/community/tests/unit_tests/chat_models/test_cloudflare_workersai.py
  libs/community/tests/unit_tests/chat_models/test_litellm.py
  libs/community/tests/unit_tests/vectorstores/test_inmemory.py
  libs/core/tests/unit_tests/indexing/test_in_memory_indexer.py
  libs/core/tests/unit_tests/stores/test_in_memory.py
  libs/core/tests/unit_tests/vectorstores/test_in_memory.py
  libs/langchain/tests/integration_tests/chat_models/test_base.py
  libs/partners/anthropic/tests/integration_tests/test_standard.py
  libs/partners/anthropic/tests/unit_tests/test_standard.py
  libs/partners/fireworks/tests/integration_tests/test_standard.py
  libs/partners/fireworks/tests/unit_tests/test_embeddings_standard.py
  libs/partners/fireworks/tests/unit_tests/test_standard.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
  libs/partners/groq/tests/unit_tests/test_standard.py
  libs/partners/huggingface/tests/integration_tests/test_embeddings_standard.py
  libs/partners/huggingface/tests/integration_tests/test_standard.py
  libs/partners/mistralai/tests/integration_tests/test_standard.py
  libs/partners/mistralai/tests/unit_tests/test_standard.py
  libs/partners/ollama/tests/integration_tests/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/test_embeddings.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/embeddings/test_azure_standard.py
  libs/partners/openai/tests/unit_tests/embeddings/test_base_standard.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
  libs/partners/xai/tests/unit_tests/test_chat_models_standard.py
  libs/standard-tests/Makefile
  libs/standard-tests/README.md
  libs/standard-tests/langchain_tests/__init__.py
  libs/standard-tests/langchain_tests/base.py
  libs/standard-tests/langchain_tests/integration_tests/__init__.py
  libs/standard-tests/langchain_tests/integration_tests/base_store.py
  libs/standard-tests/langchain_tests/integration_tests/cache.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/embeddings.py
  libs/standard-tests/langchain_tests/integration_tests/indexer.py
  libs/standard-tests/langchain_tests/integration_tests/tools.py
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/langchain_tests/py.typed
  libs/standard-tests/langchain_tests/unit_tests/__init__.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/embeddings.py
  libs/standard-tests/langchain_tests/unit_tests/tools.py
  libs/standard-tests/langchain_tests/utils/__init__.py
  libs/standard-tests/langchain_tests/utils/pydantic.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/tests/unit_tests/test_in_memory_base_store.py
  libs/standard-tests/tests/unit_tests/test_in_memory_cache.py
  libs/standard-tests/tests/unit_tests/test_in_memory_vectorstore.py
Labels: size:M

#28190 core[minor]: Add other langgraph packages to sys_info
  libs/core/langchain_core/sys_info.py
Labels: 🤖:nit, size:S

#28218 [CLI] Relax constraints
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Labels: 🤖:nit, size:XS

#28222 Clarify bind tools takes a list
  docs/docs/concepts/tool_calling.mdx
Labels: 🤖:docs, size:XS

#28205 docs: add conceptual testing docs
  docs/docs/concepts/index.mdx
  docs/docs/concepts/testing.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Labels: 🤖:docs, size:L

#28227 docs: fix typo in migration guide: migrate_agent.ipynb
  docs/docs/how_to/migrate_agent.ipynb
Labels: lgtm, 🤖:docs, size:XS
