Repository langchain-ai/langchain, pull requests merged in 2024-04, with the labels that each got.

#19838 community[patch]: Release 0.0.30
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#19839 langchain[patch]: Release 0.1.14
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#19840 experimental[patch]: Release 0.0.56
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: size:XS, 🤖:release

#19823 docs: remove unnecessary args from the pip install
  docs/docs/integrations/document_loaders/mediawikidump.ipynb
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:XS

#19846 Update cross_encoder_reranker.ipynb
  docs/docs/integrations/document_transformers/cross_encoder_reranker.ipynb
Labels: lgtm, 🤖:nit, size:XS, 🔌: huggingface

#19867 ai21[patch]: release 0.1.3
  libs/partners/ai21/pyproject.toml
Labels: size:XS, partner, 🤖:release

#19858 👥 Update LangChain people data
  docs/data/people.yml
Labels: lgtm, 🤖:docs, size:XS

#19866 community[patch]: Revert " Fix the bug that Chroma does not specify `e…
  libs/community/langchain_community/vectorstores/chroma.py
Labels: Ɑ: vector store, 🤖:bug, 🔌: chroma, size:XS

#19870 openai[patch]: fix azure embedding length check
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/tests/integration_tests/embeddings/test_azure.py
Labels: Ɑ: embeddings, 🤖:bug, size:S, partner, 🔌: openai

#19871 Partially Revert "openai[patch]: Update openai chat model to new base class interface"
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:improvement, size:M, partner, 🔌: openai

#19874 ai21[patch]: fix core dep
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
Labels: 🤖:nit, size:XS, partner

#19873 community[patch]: Release 0.0.31
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#16695 community: Update ChatZhipuAI to support GLM-4 model
  docs/docs/integrations/chat/zhipuai.ipynb
  libs/community/langchain_community/chat_models/zhipuai.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/chat_models/test_zhipuai.py
  libs/community/tests/unit_tests/chat_models/test_zhipuai.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:XXL

#19878 openai[patch]: remove openai chunk size validation
  libs/partners/openai/langchain_openai/embeddings/azure.py
Labels: Ɑ: embeddings, 🤖:improvement, size:XS, partner, 🔌: openai

#19791 Add OpenVINO rerank model support
  docs/docs/integrations/document_transformers/openvino_rerank.ipynb
  docs/docs/integrations/llms/openvino.ipynb
  docs/docs/integrations/text_embedding/openvino.ipynb
  libs/community/langchain_community/document_compressors/__init__.py
  libs/community/langchain_community/document_compressors/openvino_rerank.py
  libs/community/langchain_community/embeddings/openvino.py
Labels: 🤖:improvement, size:XL, Ɑ: retriever

#19707 robocorp[patch]: Fix nested arguments descriptors and tool names
  libs/partners/robocorp/README.md
  libs/partners/robocorp/langchain_robocorp/_common.py
  libs/partners/robocorp/langchain_robocorp/_prompts.py
  libs/partners/robocorp/langchain_robocorp/toolkits.py
  libs/partners/robocorp/poetry.lock
  libs/partners/robocorp/pyproject.toml
  libs/partners/robocorp/tests/unit_tests/_openapi2.fixture.json
  libs/partners/robocorp/tests/unit_tests/test_toolkits.py
Labels: lgtm, 🤖:improvement, size:XL, partner, 🔌: openai

#19879 robocorp[patch]: fix core min version
  libs/partners/robocorp/poetry.lock
  libs/partners/robocorp/pyproject.toml
Labels: 🤖:nit, size:XS, partner

#19880 docs[patch]: Revert quarto update
  docs/docs/integrations/document_transformers/cross_encoder_reranker.ipynb
  docs/vercel_build.sh
Labels: size:XS

#19851 docs: Fix link in Unstructured notebook
  docs/docs/integrations/document_loaders/unstructured_file.ipynb
Labels: Ɑ: doc loader, 🤖:docs, size:XS

#19876 cli[minor]: Add __version__ to integration package template
  libs/cli/langchain_cli/integration_template/integration_template/__init__.py
Labels: lgtm, 🤖:improvement, size:S

#16526 langchain: Adding a new section aware splitter to langchain
  docs/docs/modules/data_connection/document_transformers/HTML_header_metadata.ipynb
  docs/docs/modules/data_connection/document_transformers/HTML_section_aware_splitter.ipynb
  libs/text-splitters/langchain_text_splitters/__init__.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/xsl/converting_to_header.xslt
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: Ɑ: doc loader, 🤖:improvement, size:XL

#19849 docs: Add docs for RunnableConfigurableFields
  libs/core/langchain_core/runnables/configurable.py
Labels: lgtm, 🤖:docs, size:M, Ɑ: Runnables

#19641 feat(partners): support request timeout in BaseCohere
  libs/partners/cohere/langchain_cohere/llms.py
Labels: lgtm, 🤖:improvement, size:XS, partner, 🔌: cohere

#19887 docs[patch]: Hide google from function calling docs
  docs/docs/modules/model_io/chat/function_calling.mdx
Labels: lgtm, 🤖:docs, size:XS, 🔌: google

#19787 community: add Layerup Security integration
  docs/docs/guides/safety/index.mdx
  docs/docs/guides/safety/layerup_security.mdx
  docs/docs/integrations/llms/layerup_security.mdx
  libs/community/langchain_community/llms/layerup_security.py
  libs/community/tests/integration_tests/llms/test_layerup_security.py
Labels: lgtm, 🤖:enhancement, size:L, 🔌: anthropic

#13259 Add remove_comments option (default True): do not extract html comments
  libs/community/langchain_community/document_transformers/beautiful_soup_transformer.py
  libs/community/tests/unit_tests/document_transformers/test_beautiful_soup_transformer.py
Labels: lgtm, 🤖:improvement, size:M

#19869 core: Remove io schemas from graph json repr by default
  libs/core/langchain_core/runnables/graph.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_fallbacks.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/langchain/Makefile
  libs/langchain/tests/unit_tests/load/__snapshots__/test_dump.ambr
Labels: lgtm, 🤖:improvement, size:L

#19863 core: Assign missing message ids in BaseChatModel
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/load/mapping.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/chat.py
  libs/core/langchain_core/messages/function.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_fallbacks.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events.py
  libs/core/tests/unit_tests/stubs.py
  libs/core/tests/unit_tests/test_messages.py
  libs/langchain/Makefile
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/llms/fake_chat_model.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
  libs/langchain/tests/unit_tests/load/__snapshots__/test_dump.ambr
  libs/langchain/tests/unit_tests/stubs.py
Labels: lgtm, 🤖:improvement, size:XL, Ɑ: core

#19895 core[patch]: Release 0.1.38
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#19907 langchain: fix ElasticsearchStore reference for self query
  libs/langchain/langchain/retrievers/self_query/base.py
Labels: lgtm, 🤖:bug, 🔌: elasticsearch, size:S, Ɑ: retriever

#19919 Cohere: Add multihop tool agent
  libs/partners/cohere/docs/multi_hop_agent.ipynb
  libs/partners/cohere/langchain_cohere/__init__.py
  libs/partners/cohere/langchain_cohere/chat_models.py
  libs/partners/cohere/langchain_cohere/cohere_agent.py
  libs/partners/cohere/langchain_cohere/llms.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/__init__.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/agent.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/default_prompt_constants.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/parsing.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/prompt.py
  libs/partners/cohere/langchain_cohere/utils.py
  libs/partners/cohere/poetry.lock
  libs/partners/cohere/pyproject.toml
  libs/partners/cohere/tests/integration_tests/react_multi_hop/__init__.py
  libs/partners/cohere/tests/integration_tests/react_multi_hop/test_cohere_react_agent.py
  libs/partners/cohere/tests/integration_tests/test_chat_models.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/__init__.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/agent/__init__.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/completions/action_only_abnormal.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/completions/answer_sound_of_music.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/completions/not_a_plan_reflection_or_action.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/completions/plan_with_action_normal.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/completions/reflection_with_action_normal.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/prompts/base.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/prompts/base_after_one_hop.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/prompts/base_after_two_hops.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/data/prompts/base_with_chat_history.txt
  libs/partners/cohere/tests/unit_tests/react_multi_hop/parsing/__init__.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/parsing/test_output_parser.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/parsing/test_parse_actions.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/prompt/__init__.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/prompt/test_multihop_prompt.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/prompt/test_prompt.py
  libs/partners/cohere/tests/unit_tests/test_cohere_agent.py
  libs/partners/cohere/tests/unit_tests/test_imports.py
  libs/partners/cohere/tests/unit_tests/test_utils.py
Labels: Ɑ: agent, lgtm, 🤖:enhancement, size:XXL, partner, 🔌: cohere

#19924 cohere[patch]: release 0.1.0
  libs/partners/cohere/poetry.lock
  libs/partners/cohere/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: cohere

#19918 cohere, docs: update imports and installs to langchain_cohere
  docs/docs/get_started/quickstart.mdx
  docs/docs/integrations/chat/cohere.ipynb
  docs/docs/integrations/providers/cohere.mdx
  docs/docs/modules/data_connection/text_embedding/index.mdx
  docs/docs/modules/model_io/quick_start.mdx
  libs/partners/cohere/README.md
  libs/partners/cohere/docs/cohere_agent.ipynb
  libs/partners/cohere/langchain_cohere/embeddings.py
Labels: lgtm, 🤖:docs, size:L, partner, 🔌: cohere

#19929 cohere: Improve integration test stability, fix documents bug
  libs/partners/cohere/langchain_cohere/chat_models.py
  libs/partners/cohere/tests/integration_tests/test_chat_models.py
Labels: 🤖:improvement, size:M, partner, 🔌: cohere

#19926 docs: mention caveats with CacheBackedEmbeddings.embed_query
  docs/docs/modules/data_connection/text_embedding/caching_embeddings.ipynb
Labels: lgtm, Ɑ: embeddings, 🤖:docs, size:XS

#19891 core[patch]: remove requests
  libs/community/tests/integration_tests/callbacks/test_langchain_tracer.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/prompts/loading.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/langchain_v1.py
  libs/core/langchain_core/utils/loading.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/tracers/test_langchain_v1.py
  libs/core/tests/unit_tests/utils/test_loading.py
  libs/experimental/langchain_experimental/prompts/load.py
  libs/langchain/langchain/agents/loading.py
  libs/langchain/langchain/chains/loading.py
Labels: 🤖:refactor, size:XXL

#19841 deprecating integrations moved to langchain_google_community
  libs/community/langchain_community/chat_loaders/gmail.py
  libs/community/langchain_community/document_loaders/bigquery.py
  libs/community/langchain_community/document_loaders/gcs_directory.py
  libs/community/langchain_community/document_loaders/gcs_file.py
  libs/community/langchain_community/document_loaders/google_speech_to_text.py
  libs/community/langchain_community/document_loaders/googledrive.py
  libs/community/langchain_community/document_loaders/parsers/docai.py
  libs/community/langchain_community/document_transformers/google_translate.py
  libs/community/langchain_community/retrievers/google_cloud_documentai_warehouse.py
Labels: lgtm, Ɑ: doc loader, size:M, 🔌: google

#19700 docs: update cohere documentation
  docs/docs/integrations/providers/cohere.mdx
Labels: lgtm, 🤖:docs, size:S, 🔌: cohere

#19939 core: BaseChatModel modify chat message before passing to run_manager
  libs/core/langchain_core/language_models/chat_models.py
Labels: lgtm, 🤖:improvement, size:S

#19940 core[patch]: Release 0.1.39
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#19950 core: fix return of draw_mermaid_png and change to not save image by default
  libs/core/langchain_core/runnables/graph.py
Labels: 🤖:improvement, size:XS, Ɑ: Runnables

#14504 Support weight only quantization with intel-extension-for-transformers.
  docs/docs/integrations/llms/weight_only_quantization.ipynb
  docs/docs/integrations/providers/intel.mdx
  libs/community/langchain_community/llms/__init__.py
  libs/community/langchain_community/llms/weight_only_quantization.py
  libs/community/tests/integration_tests/llms/test_weight_only_quantization.py
  libs/community/tests/unit_tests/llms/test_imports.py
Labels: needs work, 🤖:enhancement, Ɑ: models, template, size:XL, partner

#17321 comunity: Implement delete method and all async methods in opensearch_vector_search
  docs/docs/modules/data_connection/indexing.ipynb
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
  libs/community/tests/unit_tests/vectorstores/test_indexing_docs.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:L

#19963 Update metadata filtering examples of documents
  libs/community/tests/integration_tests/vectorstores/fixtures/filtering_test_cases.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:XS

#19964 core: 0.1.40, fix try_load_from_hub for older langchain versions load_chain
  libs/core/langchain_core/utils/loading.py
  libs/core/pyproject.toml
Labels: 🤖:bug, size:S

#19935 docs: Custom Document Loaders
  docs/docs/modules/data_connection/document_loaders/custom.ipynb
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:XL

#19968 fmt
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/messages/test_imports.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:nit, size:L, partner, 🔌: openai

#19877 cli[minor]: Add disable sockets in unit tests
  libs/cli/langchain_cli/integration_template/Makefile
  libs/cli/langchain_cli/integration_template/pyproject.toml
Labels: lgtm, 🤖:improvement, size:XS

#19971 langchain_groq[feat]: Add tool calling support
  docs/docs/guides/structured_output.ipynb
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/pyproject.toml
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:improvement, size:XL, partner, 🔌: fireworks

#19975 groq: release 0.1.0
  libs/partners/groq/pyproject.toml
Labels: size:S, partner, 🤖:release

#19976 groq: fix core version
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
Labels: size:XS, partner

#19978 groq: handle streaming tool call case
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
Labels: 🤖:improvement, size:L, partner

#19965 cohere: Add citations to agent, flexibility to tool parsing, fix SDK issue
  libs/partners/cohere/langchain_cohere/__init__.py
  libs/partners/cohere/langchain_cohere/common.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/agent.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/parsing.py
  libs/partners/cohere/langchain_cohere/react_multi_hop/prompt.py
  libs/partners/cohere/poetry.lock
  libs/partners/cohere/pyproject.toml
  libs/partners/cohere/tests/integration_tests/react_multi_hop/test_cohere_react_agent.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/agent/test_add_citations.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/parsing/test_output_parser.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/parsing/test_parse_citations.py
  libs/partners/cohere/tests/unit_tests/react_multi_hop/prompt/test_prompt.py
  libs/partners/cohere/tests/unit_tests/test_imports.py
Labels: Ɑ: agent, lgtm, 🤖:improvement, size:XL, partner, 🔌: cohere

#19931 core[Patch]: mypy ignore fixes #17048
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
Labels: lgtm, 🤖:improvement, size:M

#19652 core[minor]: Add aformat to FewShotPromptTemplate
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/prompt.py
  libs/core/tests/unit_tests/prompts/test_few_shot.py
Labels: lgtm, 🤖:improvement, size:L

#19716 core: support pydantic V2 for JSONOutputParser, allow for other sources of JSON schemas
  libs/core/langchain_core/output_parsers/json.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
Labels: lgtm, 🤖:improvement, size:M, Ɑ: parsing

#20003 [docs][minor]: Fix typo in Custom Document Loader doc
  docs/docs/modules/data_connection/document_loaders/custom.ipynb
Labels: lgtm, 🤖:docs, size:S

#20009 community: Implement Async OpenSearch `afrom_texts` & `afrom_embeddings`
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, 🔌: elasticsearch, size:L

#20001 community[minor]: Add metadata filtering support for neo4j vector
  libs/community/langchain_community/vectorstores/neo4j_vector.py
  libs/community/tests/integration_tests/vectorstores/test_neo4jvector.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:L, 🔌: neo4j

#18857 langchain: enhance `LocalFileStore` to allow directory/file permissions to be specified
  libs/langchain/langchain/storage/file_system.py
  libs/langchain/tests/unit_tests/storage/test_filesystem.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, template, size:M, partner

#20014 docs[patch]: Make Docusaurus and Vercel add trailing slashes when navigating by default
  docs/docs/contributing/code.mdx
  docs/docs/contributing/integrations.mdx
  docs/docs/expression_language/interface.ipynb
  docs/docs/integrations/adapters/openai-old.ipynb
  docs/docs/integrations/adapters/openai.ipynb
  docs/docs/integrations/chat/ernie.ipynb
  docs/docs/integrations/providers/mlflow_ai_gateway.mdx
  docs/docs/integrations/stores/upstash_redis.ipynb
  docs/docs/integrations/text_embedding/ernie.ipynb
  docs/docs/integrations/text_embedding/nvidia_ai_endpoints.ipynb
  docs/docs/modules/agents/agent_types/openai_functions_agent.ipynb
  docs/docs/modules/agents/quick_start.ipynb
  docs/docs/modules/model_io/chat/function_calling.mdx
  docs/docs/modules/model_io/concepts.mdx
  docs/docs/modules/model_io/index.mdx
  docs/docs/modules/model_io/prompts/few_shot_examples_chat.ipynb
  docs/docs/modules/model_io/prompts/quick_start.ipynb
  docs/docs/modules/model_io/quick_start.mdx
  docs/docs/use_cases/question_answering/quickstart.mdx
  docs/docusaurus.config.js
  docs/vercel.json
Labels: lgtm, 🤖:docs, Ɑ: lcel, size:L

#19888 community[minor]: added missed class to __all__
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
Labels: lgtm, Ɑ: doc loader, 🤖:nit, size:XS

#20016 anthropic[minor]: tool use
  docs/docs/integrations/chat/anthropic.ipynb
  docs/docs/integrations/platforms/anthropic.mdx
  docs/docs/modules/model_io/chat/function_calling.mdx
  docs/docs/modules/model_io/chat/quick_start.ipynb
  docs/docs/modules/model_io/chat/structured_output.ipynb
  libs/core/langchain_core/messages/tool.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/experimental.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_output_parsers.py
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:XXL, partner, 🔌: anthropic

#20019 anthropic[patch]: bump core dep
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner

#20017 Add cookbook for Anthropic .with_structured_output()
  cookbook/anthropic_structured_outputs.ipynb
Labels: 🤖:docs, size:XS, 🔌: anthropic

#20021 anthropic[patch]: fix experimental tests
  libs/partners/anthropic/tests/integration_tests/test_experimental.py
Labels: 🤖:nit, size:M, partner, 🔌: anthropic

#19675 docs: `graphs` update
  docs/docs/integrations/graphs/amazon_neptune_open_cypher.ipynb
  docs/docs/integrations/graphs/amazon_neptune_sparql.ipynb
  docs/docs/integrations/graphs/arangodb.ipynb
  docs/docs/integrations/graphs/azure_cosmosdb_gremlin.ipynb
  docs/docs/integrations/graphs/diffbot.ipynb
  docs/docs/integrations/graphs/falkordb.ipynb
  docs/docs/integrations/graphs/hugegraph.ipynb
  docs/docs/integrations/graphs/kuzu_db.ipynb
  docs/docs/integrations/graphs/memgraph.ipynb
  docs/docs/integrations/graphs/nebula_graph.ipynb
  docs/docs/integrations/graphs/neo4j_cypher.ipynb
  docs/docs/integrations/graphs/networkx.ipynb
  docs/docs/integrations/graphs/ontotext.ipynb
  docs/docs/integrations/graphs/rdflib_sparql.ipynb
  docs/docs/integrations/providers/arangodb.mdx
  docs/docs/integrations/providers/neo4j.mdx
  docs/docs/integrations/providers/ontotext_graphdb.mdx
  docs/docs/use_cases/graph/integrations/_category_.yml
  docs/docs/use_cases/graph/quickstart.ipynb
  docs/sidebars.js
  docs/vercel.json
Labels: lgtm, 🤖:docs, Ɑ: langserve, size:L, 🔌: neo4j

#19970 docs `integrations/providers` update 10
  docs/docs/integrations/providers/alibaba_cloud.mdx
  docs/docs/integrations/providers/tair.mdx
  docs/docs/integrations/providers/tidb.mdx
  docs/docs/integrations/providers/tigergraph.mdx
  docs/docs/integrations/providers/together.ipynb
  docs/docs/integrations/providers/trulens.mdx
  docs/docs/integrations/providers/xata.mdx
Labels: lgtm, 🤖:docs, size:L

#20022 anthropic[patch]: use anthropic 0.23
  docs/docs/integrations/chat/anthropic.ipynb
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: lgtm, 🤖:nit, size:M, partner, 🔌: anthropic

#20026 anthropic[patch]: Release 0.1.6
  docs/docs/modules/model_io/chat/structured_output.ipynb
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: anthropic

#19892 docs: `integrations/providers/unstructured` update
  docs/docs/integrations/document_loaders/url.ipynb
  docs/docs/integrations/providers/unstructured.mdx
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:L

#20024 docs: mark anthropic tools wrapper as deprecated
  docs/docs/integrations/chat/anthropic_functions.ipynb
Labels: 🤖:docs, size:S, 🔌: anthropic

#19941 docs: `integrations/providers` update 9
  docs/docs/integrations/document_loaders/acreom.ipynb
  docs/docs/integrations/document_loaders/athena.ipynb
  docs/docs/integrations/document_loaders/bibtex.ipynb
  docs/docs/integrations/document_loaders/couchbase.ipynb
  docs/docs/integrations/platforms/aws.mdx
  docs/docs/integrations/providers/acreom.mdx
  docs/docs/integrations/providers/airbyte.mdx
  docs/docs/integrations/providers/alchemy.mdx
  docs/docs/integrations/providers/arcgis.mdx
  docs/docs/integrations/providers/assemblyai.mdx
  docs/docs/integrations/providers/bibtex.mdx
  docs/docs/integrations/providers/browserless.mdx
  docs/docs/integrations/providers/byte_dance.mdx
  docs/docs/integrations/providers/couchbase.mdx
  docs/docs/integrations/providers/cube.mdx
  docs/docs/integrations/providers/docusaurus.mdx
  docs/docs/integrations/providers/dropbox.mdx
  docs/docs/integrations/providers/etherscan.mdx
  docs/docs/integrations/providers/fauna.mdx
  docs/docs/integrations/providers/geopandas.mdx
  docs/docs/integrations/providers/github.mdx
  docs/docs/integrations/providers/huawei.mdx
  docs/docs/integrations/providers/iugu.mdx
  docs/docs/integrations/providers/joplin.mdx
  docs/docs/integrations/providers/lakefs.mdx
Labels: lgtm, Ɑ: doc loader, 🤖:docs, 🔌: aws, size:XL

#20029 Update example cookbook for Anthropic tool use
  cookbook/anthropic_structured_outputs.ipynb
Labels: 🤖:docs, size:L, 🔌: anthropic

#20030 docs: hide experimental anthropic
  docs/docs/integrations/chat/anthropic_functions.ipynb
Labels: 🤖:docs, size:S, 🔌: anthropic

#20028 docs: fixing typo in argument name
  docs/docs/integrations/text_embedding/fireworks.ipynb
Labels: lgtm, 🤖:docs, size:XS, 🔌: fireworks

#20031 docs[patch]: Fix Model I/O quickstart
  docs/docs/modules/model_io/index.mdx
Labels: 🤖:docs, size:M

#20032 docs: fix together model tab
  docs/src/theme/ChatModelTabs.js
Labels: 🤖:docs, size:XS

#19967 Docs: Update custom chat model
  docs/docs/modules/model_io/chat/custom_chat_model.ipynb
Labels: 🤖:docs, size:L

#20048 docs: fix title cap
  docs/docusaurus.config.js
Labels: 🤖:docs, size:XS

#20051 use tool call msgs
  cookbook/tool_call_messages.ipynb
  libs/community/langchain_community/agent_toolkits/openapi/planner.py
  libs/community/langchain_community/output_parsers/ernie_functions.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/utils/json.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
  libs/langchain/langchain/agents/conversational_chat/output_parser.py
  libs/langchain/langchain/agents/output_parsers/json.py
  libs/langchain/langchain/chains/query_constructor/base.py
  libs/langchain/langchain/chains/router/llm_router.py
  libs/langchain/langchain/evaluation/parsing/base.py
  libs/langchain/langchain/evaluation/parsing/json_distance.py
  libs/langchain/langchain/evaluation/parsing/json_schema.py
  libs/langchain/langchain/output_parsers/json.py
  libs/langchain/langchain/output_parsers/structured.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: lgtm, 🤖:improvement, size:XL, partner, Ɑ: parsing, 🔌: openai

#20038 core: Implement aformat_messages for ChatMessagePromptTemplate
  libs/core/langchain_core/prompts/chat.py
Labels: lgtm, 🤖:improvement, size:S

#20035 core: Implement aformat_prompt and ainvoke in BasePromptTemplate
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/pipeline.py
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_pipeline_prompt.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Labels: lgtm, 🤖:improvement, size:L, 🔌: openai, Ɑ: core

#20046 core[patch]: Document BaseCache abstraction in code
  libs/core/langchain_core/caches.py
Labels: 🤖:docs, size:M

#19331 langchain-core[minor]: Allow passing local cache to language models
  libs/core/langchain_core/language_models/llms.py
  libs/core/tests/unit_tests/language_models/llms/test_cache.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:L, 🔌: openai, 🔌: anthropic, Ɑ: core

#20050 community[patch]: Improve import callbacks to make it IDE friendly
  libs/community/langchain_community/callbacks/__init__.py
  libs/community/tests/unit_tests/callbacks/test_imports.py
Labels: Ɑ: agent, lgtm, 🤖:improvement, size:L

#20091 docs: anthropic tool docstring
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: 🤖:docs, size:L, partner, 🔌: anthropic

#20090 move tool calls to AIMessage
  cookbook/tool_call_messages.ipynb
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/tests/unit_tests/messages/test_imports.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/cohere/langchain_cohere/chat_models.py
  libs/partners/cohere/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: 🤖:refactor, size:XXL, partner, 🔌: openai

#18143 template: add rag azure search template
  templates/rag-azure-search/.gitignore
  templates/rag-azure-search/LICENSE
  templates/rag-azure-search/README.md
  templates/rag-azure-search/pyproject.toml
  templates/rag-azure-search/rag_azure_search/__init__.py
  templates/rag-azure-search/rag_azure_search/chain.py
  templates/rag-azure-search/tests/__init__.py
Labels: lgtm, Ɑ: vector store, 🤖:enhancement, template, size:L

#19034 partners[anthropic]: fix anthropic chat model message type lookup keys
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: lgtm, 🤖:bug, Ɑ: models, size:XS, partner, 🔌: anthropic

#19393 templates: migrate to langchain_anthropic package to support Claude 3 models
  templates/anthropic-iterative-search/anthropic_iterative_search/chain.py
  templates/anthropic-iterative-search/anthropic_iterative_search/retriever_agent.py
  templates/anthropic-iterative-search/poetry.lock
  templates/anthropic-iterative-search/pyproject.toml
  templates/chain-of-note-wiki/README.md
  templates/chain-of-note-wiki/chain_of_note_wiki/chain.py
  templates/chain-of-note-wiki/poetry.lock
  templates/chain-of-note-wiki/pyproject.toml
  templates/summarize-anthropic/README.md
  templates/summarize-anthropic/poetry.lock
  templates/summarize-anthropic/pyproject.toml
  templates/summarize-anthropic/summarize_anthropic/chain.py
  templates/xml-agent/poetry.lock
  templates/xml-agent/pyproject.toml
  templates/xml-agent/xml_agent/agent.py
Labels: lgtm, 🤖:improvement, template, size:M, 🔌: anthropic

#20109 pinecone[patch]: release 0.1.0
  libs/partners/pinecone/pyproject.toml
Labels: 🔌: pinecone, size:XS, partner, 🤖:release

#20111 best effort parsing + handle parsing errors
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/tests/unit_tests/messages/test_imports.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:improvement, size:XL, partner, Ɑ: parsing, 🔌: openai, 🔌: fireworks

#20008 Documentation: Fixed the typo of Discord -> Telegram
  docs/docs/integrations/chat_loaders/telegram.ipynb
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:XS

#20082 [core] fix: manually specifying run_id for chat models.invoke() and .ainvoke()
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
Labels: 🤖:bug, size:M

#20025 postgres[minor]: add postgres checkpoint implementation
  libs/partners/postgres/README.md
  libs/partners/postgres/langchain_postgres/__init__.py
  libs/partners/postgres/langchain_postgres/checkpoint.py
  libs/partners/postgres/poetry.lock
  libs/partners/postgres/pyproject.toml
  libs/partners/postgres/tests/integration_tests/test_checkpointer.py
  libs/partners/postgres/tests/unit_tests/test_imports.py
Labels: 🤖:improvement, size:XL, partner, 🔌: postgres

#20096 postgres[minor]: Add pgvector community as is
  libs/partners/postgres/langchain_postgres/_utils.py
  libs/partners/postgres/langchain_postgres/vectorstores.py
  libs/partners/postgres/poetry.lock
  libs/partners/postgres/pyproject.toml
  libs/partners/postgres/tests/integration_tests/fake_embeddings.py
  libs/partners/postgres/tests/integration_tests/fixtures/__init__.py
  libs/partners/postgres/tests/integration_tests/fixtures/filtering_test_cases.py
  libs/partners/postgres/tests/integration_tests/test_vectorstore.py
Labels: Ɑ: vector store, size:XXL, partner, 🔌: postgres

#19855 community[minor]: Add support for Pebblo cloud_api_key in PebbloSafeLoader
  docs/docs/integrations/document_loaders/pebblo.ipynb
  libs/community/langchain_community/document_loaders/pebblo.py
  libs/community/langchain_community/utilities/pebblo.py
  libs/community/tests/unit_tests/document_loaders/test_pebblo.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:L

#19925 Community: Updating Azure Retriever and Docs to be Azure AI Search instead of Azure Cognitive Search
  cookbook/code-analysis-deeplake.ipynb
  docs/api_reference/guide_imports.json
  docs/docs/integrations/platforms/microsoft.mdx
  docs/docs/integrations/retrievers/azure_ai_search.ipynb
  docs/docs/integrations/retrievers/azure_cognitive_search.ipynb
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/langchain_community/retrievers/azure_ai_search.py
  libs/community/tests/integration_tests/retrievers/test_azure_ai_search.py
  libs/community/tests/integration_tests/retrievers/test_azure_cognitive_search.py
  libs/community/tests/unit_tests/retrievers/test_imports.py
  libs/langchain/langchain/retrievers/__init__.py
  libs/langchain/langchain/retrievers/azure_ai_search.py
  libs/langchain/langchain/retrievers/azure_cognitive_search.py
  libs/langchain/tests/unit_tests/retrievers/test_imports.py
Labels: lgtm, 🤖:docs, size:XL, Ɑ: retriever

#19850 community: Add PHP language parser to document_loaders
  docs/docs/modules/data_connection/document_transformers/code_splitter.ipynb
  libs/community/langchain_community/document_loaders/parsers/language/language_parser.py
  libs/community/langchain_community/document_loaders/parsers/language/php.py
  libs/community/tests/unit_tests/document_loaders/parsers/language/test_php.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:L

#20162 docs: standardize fireworks params
  docs/docs/integrations/providers/fireworks.md
  docs/docs/modules/model_io/chat/quick_start.ipynb
Labels: lgtm, 🤖:docs, size:XS, 🔌: fireworks

#20163 mistralai[patch]: standardize model params
  docs/docs/integrations/chat/mistralai.ipynb
  docs/docs/integrations/text_embedding/mistralai.ipynb
  docs/docs/modules/model_io/chat/quick_start.ipynb
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_embeddings.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:M, partner

#20161 anthropic[patch]: standardize init args
  docs/docs/get_started/quickstart.mdx
  docs/docs/integrations/chat/anthropic.ipynb
  docs/docs/modules/model_io/chat/quick_start.ipynb
  docs/docs/modules/model_io/index.mdx
  docs/docs/modules/model_io/quick_start.mdx
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:docs, size:M, partner, 🔌: anthropic

#19979 community: extend Predibase integration to support fine-tuned LLM adapters
  docs/docs/integrations/llms/predibase.ipynb
  docs/docs/integrations/providers/predibase.md
  libs/community/langchain_community/llms/predibase.py
  libs/community/tests/unit_tests/llms/test_predibase.py
Labels: lgtm, 🤖:improvement, size:L, 🔌: openai, 🔌: anthropic

#19793 langchain: fix pinecone upsert when async_req is set to False
  libs/partners/pinecone/langchain_pinecone/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, 🔌: pinecone, size:XS, partner

#20177 pinecone[patch]: fix core min version
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
Labels: 🤖:nit, 🔌: pinecone, size:XS, partner

#19998 Adding MongoDB Cookbook for Chat history and semantic cache
  cookbook/mongodb-langchain-cache-memory.ipynb
Labels: lgtm, 🤖:enhancement, size:XL, 🔌: mongo

#20171 docs: add vertexai to structured output
  docs/docs/modules/model_io/chat/structured_output.ipynb
Labels: 🤖:docs, size:L

#20183 community: `cross_encoders` flatten namespaces
  libs/community/langchain_community/cross_encoders/__init__.py
  libs/community/tests/unit_tests/chat_loaders/test_imports.py
  libs/community/tests/unit_tests/chat_message_histories/test_imports.py
  libs/community/tests/unit_tests/cross_encoders/__init__.py
  libs/community/tests/unit_tests/cross_encoders/test_imports.py
Labels: lgtm, 🤖:improvement, size:L

#19900 docs: TogetherAI as a drop-in replacement for OpenAI
  docs/src/theme/ChatModelTabs.js
Labels: 🤖:docs, size:XS

#18152 Community: Add support for MLX models (chat & llm)
  docs/docs/integrations/chat/mlx.ipynb
  docs/docs/integrations/llms/mlx_pipelines.ipynb
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/mlx.py
  libs/community/langchain_community/llms/__init__.py
  libs/community/langchain_community/llms/mlx_pipeline.py
  libs/community/tests/integration_tests/chat_models/text_mlx.py
  libs/community/tests/integration_tests/llms/test_mlx_pipeline.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
  libs/community/tests/unit_tests/chat_models/test_mlx.py
  libs/community/tests/unit_tests/llms/test_imports.py
Labels: lgtm, 🤖:enhancement, Ɑ: models, size:XL, 🔌: fireworks

#19864 community: add bedrock anthropic callback for token usage counting
  libs/community/langchain_community/callbacks/bedrock_anthropic_callback.py
  libs/community/langchain_community/callbacks/manager.py
  libs/community/langchain_community/chat_models/bedrock.py
  libs/community/tests/unit_tests/callbacks/test_callback_manager.py
  libs/community/tests/unit_tests/chat_models/test_bedrock.py
Labels: lgtm, 🤖:improvement, size:L, 🔌: anthropic

#20047 Fix pr 19772
  docs/docs/integrations/graphs/amazon_neptune_open_cypher.ipynb
  libs/community/langchain_community/graphs/__init__.py
  libs/community/langchain_community/graphs/neptune_graph.py
  libs/community/tests/unit_tests/graphs/test_imports.py
  libs/langchain/langchain/chains/graph_qa/neptune_cypher.py
Labels: 🤖:bug, 🔌: aws, size:L

#20209 baichuan[patch]: standardize init args
  libs/community/langchain_community/chat_models/baichuan.py
  libs/community/tests/unit_tests/chat_models/test_baichuan.py
Labels: 🤖:improvement, size:S

#20197 docs: Fix the class links in openai_tools and openai_functions description in output parser documentations
  docs/docs/modules/model_io/output_parsers/types/openai_functions.ipynb
  docs/docs/modules/model_io/output_parsers/types/openai_tools.ipynb
Labels: lgtm, 🤖:docs, size:S, 🔌: openai

#20208 update tool calls to typeddict
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:improvement, size:L, partner, Ɑ: parsing, 🔌: openai, 🔌: anthropic, 🔌: fireworks

#19962 community[patch]: pass through sql agent kwargs
  libs/community/langchain_community/agent_toolkits/sql/base.py
Labels: Ɑ: agent, 🤖:bug, size:S, 🔌: postgres

#19651 community: Enhance Tencent Cloud VectorDB, langchain: make Tencent Cloud VectorDB self query retrieve compatible
  docs/docs/integrations/retrievers/self_query/tencentvectordb.ipynb
  docs/docs/integrations/vectorstores/tencentvectordb.ipynb
  docs/docs/modules/data_connection/indexing.ipynb
  libs/community/langchain_community/vectorstores/tencentvectordb.py
  libs/community/tests/unit_tests/vectorstores/test_indexing_docs.py
  libs/community/tests/unit_tests/vectorstores/test_tencentvectordb.py
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/self_query/tencentvectordb.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_tencentvectordb.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XXL

#20005 GCSDirectoryLoader bugfix
  libs/community/langchain_community/document_loaders/gcs_directory.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS

#20157 doc:(sharememory&bittensor) Get rid of ZeroShotAgent and use create_react_agent instead
  cookbook/sharedmemory_for_tools.ipynb
  docs/docs/integrations/llms/bittensor.ipynb
Labels: Ɑ: agent, lgtm, 🤖:docs, size:L

#19493 community: add allow_dangerous_requests for OpenAPI toolkits
  docs/docs/integrations/toolkits/openapi.ipynb
  libs/community/langchain_community/agent_toolkits/openapi/planner.py
  libs/community/langchain_community/tools/requests/tool.py
Labels: lgtm, 🤖:improvement, size:M, 🔌: openai

#20098 docs: Add documentation of `ElasticsearchStore.BM25RetrievalStrategy`
  docs/docs/integrations/vectorstores/elasticsearch.ipynb
Labels: lgtm, 🤖:docs, 🔌: elasticsearch, size:M

#18013 openai: wrap stream code in context manager blocks
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:improvement, size:L, partner, 🔌: openai

#20207 Remove postgres package
  libs/partners/postgres/LICENSE
  libs/partners/postgres/Makefile
  libs/partners/postgres/README.md
  libs/partners/postgres/langchain_postgres/__init__.py
  libs/partners/postgres/langchain_postgres/_utils.py
  libs/partners/postgres/langchain_postgres/chat_message_histories.py
  libs/partners/postgres/langchain_postgres/checkpoint.py
  libs/partners/postgres/langchain_postgres/py.typed
  libs/partners/postgres/langchain_postgres/vectorstores.py
  libs/partners/postgres/poetry.lock
  libs/partners/postgres/pyproject.toml
  libs/partners/postgres/scripts/check_imports.py
  libs/partners/postgres/scripts/check_pydantic.sh
  libs/partners/postgres/scripts/lint_imports.sh
  libs/partners/postgres/tests/__init__.py
  libs/partners/postgres/tests/integration_tests/__init__.py
  libs/partners/postgres/tests/integration_tests/fake_embeddings.py
  libs/partners/postgres/tests/integration_tests/fixtures/__init__.py
  libs/partners/postgres/tests/integration_tests/fixtures/filtering_test_cases.py
  libs/partners/postgres/tests/integration_tests/test_chat_histories.py
  libs/partners/postgres/tests/integration_tests/test_checkpointer.py
  libs/partners/postgres/tests/integration_tests/test_compile.py
  libs/partners/postgres/tests/integration_tests/test_vectorstore.py
  libs/partners/postgres/tests/unit_tests/__init__.py
  libs/partners/postgres/tests/unit_tests/test_imports.py
  libs/partners/postgres/tests/utils.py
Labels: 🤖:refactor, size:XXL, partner, 🔌: postgres

#20221 langchain-postgres: Remove remaining README.md file
  libs/partners/postgres/README.md
Labels: 🤖:nit, size:XS, partner, 🔌: postgres

#20215 update
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/tool.py
  libs/core/tests/unit_tests/test_messages.py
Labels: 🤖:improvement, size:M

#20225 together: release 0.1.0
  libs/partners/together/pyproject.toml
Labels: size:XS, partner, 🤖:release

#20039 core: Implement aformat for FewShotPromptWithTemplates
  libs/core/langchain_core/prompts/few_shot_with_templates.py
  libs/core/tests/unit_tests/prompts/test_few_shot_with_templates.py
Labels: lgtm, 🤖:improvement, size:M

#20036 core: Implement aformat_messages for _StringImageMessagePromptTemplate
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Labels: lgtm, 🤖:improvement, size:M

#20229 community: switch to falkordb python client
  docs/docs/integrations/graphs/falkordb.ipynb
  libs/community/langchain_community/graphs/falkordb_graph.py
Labels: Ɑ: vector store, 🤖:improvement, size:M

#20007 community[patch]: OpenLLM Async Client Fixes and Timeout Parameter
  libs/community/langchain_community/llms/openllm.py
Labels: lgtm, 🤖:nit, size:XS, 🔌: openai

#20064 langchain[patch]: make BooleanOutputParser check words not substrings
  libs/langchain/langchain/output_parsers/boolean.py
  libs/langchain/tests/unit_tests/output_parsers/test_boolean_parser.py
Labels: lgtm, 🤖:bug, size:M, Ɑ: parsing, 🔌: openai

#20228 langchain[patch]: Update unit test
  libs/langchain/tests/unit_tests/load/test_load.py
Labels: 🤖:nit, size:XS, 🔌: openai

#20218 docs: Fix typo in citations example
  docs/docs/use_cases/question_answering/citations.ipynb
Labels: lgtm, 🤖:nit, size:XS

#20230 community: fixed multithreading returning List[List[Documents]] instead of List[Documents]
  libs/community/langchain_community/document_loaders/directory.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS

#20233 core[patch]: Release 0.1.41
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#20236 community[patch]: Release 0.0.32
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#20237 langchain[patch]: Release 0.1.15
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#20239 mistralai[patch]: Release 0.1.1
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Labels: size:XS, partner, 🤖:release

#20240 anthropic[patch]: Release 0.1.7
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: anthropic

#20241 openai[patch]: Release 0.1.2
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: openai

#20238 docs: fix external repo partner docs
  docs/docs/contributing/integrations.mdx
Labels: 🤖:docs, size:S

#20242 groq[patch]: Release 0.1.1
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
Labels: size:XS, partner, 🤖:release

#20243 experimental[patch]: Release 0.0.57
  libs/experimental/poetry.lock
  libs/experimental/pyproject.toml
Labels: size:XS, 🤖:release

#20247 groq: xfail tool_choice tests
  libs/partners/groq/tests/integration_tests/test_chat_models.py
Labels: 🤖:nit, size:XS, partner

#18947 [core]: add tool calls message
  cookbook/tool_call_messages.ipynb
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/utils/_merge.py
  libs/core/langchain_core/utils/json.py
  libs/core/tests/unit_tests/messages/test_imports.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_messages.py
  libs/langchain/langchain/output_parsers/json.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:improvement, size:XXL, partner, 🔌: openai, 08 RFC, Ɑ: core

#20248 core[patch]: Pre-release 0.1.42-rc.1
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#20249 openai[patch]: pre-release 0.1.3-rc.1
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: openai

#20250 anthropic[patch]: Pre-release 0.1.8-rc.1
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: anthropic

#20251 mistralai[patch]: Pre-release 0.1.2-rc.1
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Labels: size:XS, partner, 🤖:release
