Repository langchain-ai/langchain, pull requests merged in 2024-12, with the labels that each got.

#28451 community[patch]: Release 0.3.9
  libs/community/pyproject.toml
Labels: size:S, 🤖:release, community

#28452 mistral[patch]: Release 0.2.3
  libs/partners/mistralai/poetry.lock
  libs/partners/mistralai/pyproject.toml
Labels: size:S, 🤖:release

#28440 Update mistralai.ipynb
  docs/docs/integrations/chat/mistralai.ipynb
Labels: 🤖:docs, size:XS

#28398 docs: Add ChatDatabricks to llm models
  docs/src/theme/ChatModelTabs.js
Labels: lgtm, 🤖:docs, size:S

#28194 Update Poetry version, to current latest (1.8.4)
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_doc_imports.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/_test_release.yml
  .github/workflows/api_doc_build.yml
  .github/workflows/check_diffs.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Labels: lgtm, 🤖:nit, size:S

#28456 ollama[patch]: release 0.2.2
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
Labels: size:XS, 🤖:release

#28458 ollama[patch]: release 0.2.1
  libs/partners/ollama/pyproject.toml
Labels: size:XS, 🤖:release

#28351 community: Add the additonnal kward 'context' for openai
  libs/community/langchain_community/adapters/openai.py
Labels: lgtm, size:XS, community

#28453 fix: Handle response metadata in merge_messages_runs
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: 🤖:bug, size:S

#28457 docs[patch]: reorganize integration guides
  docs/docs/concepts/testing.mdx
  docs/docs/contributing/how_to/index.mdx
  docs/docs/contributing/how_to/integrations/chat_models.md
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/publish.mdx
  docs/docs/contributing/how_to/integrations/standard-tests-chat-model.md
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  docs/docs/contributing/index.mdx
  docs/vercel.json
Labels: 🤖:docs, size:XXL

#28460 openai: set logit_bias to none instead of empty dict by default
  libs/partners/openai/langchain_openai/llms/base.py
Labels: lgtm, 🤖:nit, size:XS, langchain

#28459 tests: init retriever standard tests
  libs/standard-tests/langchain_tests/integration_tests/__init__.py
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
  libs/standard-tests/tests/unit_tests/test_basic_retriever.py
Labels: size:L, Ɑ: retriever

#28320 partners: update pinecone client
  docs/docs/integrations/providers/pinecone.mdx
  docs/docs/integrations/retrievers/pinecone_hybrid_search.ipynb
  libs/community/langchain_community/vectorstores/pinecone.py
  libs/partners/pinecone/langchain_pinecone/embeddings.py
  libs/partners/pinecone/langchain_pinecone/vectorstores.py
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
Labels: lgtm, size:M

#28466 partners/pinecone: release 0.2.2
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
Labels: size:XS, 🤖:release

#28482 openai: dont populate logit_bias if None
  libs/partners/openai/langchain_openai/llms/base.py
Labels: size:XS

#28481 partners: update version header for Pinecone integration
  libs/partners/pinecone/langchain_pinecone/embeddings.py
Labels: lgtm, Ɑ: embeddings, 🤖:nit, size:XS

#28485 pinecone: release 0.2.1 (version sequence)
  libs/partners/pinecone/pyproject.toml
Labels: size:XS

#28483 infra: add 20min timeout to ci steps
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_doc_imports.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/check_diffs.yml
  .github/workflows/scheduled_test.yml
Labels: lgtm, size:XS

#28486 infra: configurable scheduled tests
  .github/workflows/scheduled_test.yml
Labels: size:M

#28487 tests[patch]: populate API reference for chat models
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: size:XXL

#28489 Update graph_constructing.ipynb
  docs/docs/how_to/graph_constructing.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28490 docs[patch]: add to chat model contributing guide
  docs/docs/contributing/how_to/integrations/chat_models.md
  docs/docs/contributing/how_to/integrations/index.mdx
Labels: 🤖:docs, size:M

#28157 community: add Needle retriever and document loader integration
  docs/docs/integrations/document_loaders/needle.ipynb
  docs/docs/integrations/retrievers/needle.ipynb
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/needle.py
  libs/community/langchain_community/retrievers/__init__.py
  libs/community/langchain_community/retrievers/needle.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
  libs/community/tests/unit_tests/document_loaders/test_needle.py
  libs/community/tests/unit_tests/retrievers/test_imports.py
  libs/community/tests/unit_tests/retrievers/test_needle.py
Labels: Ɑ: doc loader, size:XL, Ɑ: retriever, community

#28076 docs: langchain-ai21 update ai21 docs
  docs/docs/integrations/llms/ai21.ipynb
  docs/docs/integrations/providers/ai21.mdx
  docs/docs/integrations/text_embedding/ai21.ipynb
Labels: 🤖:docs, size:M

#27974 langchain_community: updated query constructor for Databricks Vector Search due to LangChainDeprecationWarning: `filters` was deprecated since langchain-community 0.2.11 and will be removed in 0.3. Please use `filter` instead.
  libs/community/langchain_community/query_constructors/databricks_vector_search.py
  libs/community/tests/unit_tests/query_constructors/test_databricks_vector_search.py
Labels: lgtm, Ɑ: vector store, size:XS, community

#27995 langchain_chroma: added document.id support
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Labels: lgtm, Ɑ: vector store, size:L

#27246 community : allow using apikey for PubMedAPIWrapper
  libs/community/langchain_community/utilities/pubmed.py
Labels: lgtm, size:XS, community

#28492 infra: release rely on local built in testing
  .github/workflows/_release.yml
Labels: size:S

#27019 community: BM25Retriever preservation of document id
  libs/community/langchain_community/retrievers/bm25.py
  libs/community/tests/unit_tests/retrievers/test_bm25.py
Labels: lgtm, size:M, Ɑ: retriever, community

#28036 community: implement _select_relevance_score_fn for tencent vectordb
  libs/community/langchain_community/vectorstores/tencentvectordb.py
Labels: Ɑ: vector store, size:M, community

#28495 docs: more api ref links, add linting step to prevent more
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  Makefile
  README.md
  docs/docs/additional_resources/arxiv_references.mdx
  docs/docs/concepts/embedding_models.mdx
  docs/docs/concepts/retrieval.mdx
  docs/docs/concepts/retrievers.mdx
  docs/docs/concepts/runnables.mdx
  docs/docs/concepts/vectorstores.mdx
  docs/docs/how_to/installation.mdx
  docs/docs/integrations/chat/cerebras.ipynb
  docs/docs/integrations/chat/oci_data_science.ipynb
  docs/docs/integrations/chat/outlines.ipynb
  docs/docs/integrations/chat/sambastudio.ipynb
  docs/docs/integrations/document_loaders/sitemap.ipynb
  docs/docs/integrations/document_loaders/tomarkdown.ipynb
  docs/docs/integrations/llms/oci_model_deployment_endpoint.ipynb
  docs/docs/integrations/llms/outlines.ipynb
  docs/docs/integrations/retrievers/fleet_context.ipynb
  docs/docs/integrations/text_embedding/databricks.ipynb
  docs/docs/integrations/text_embedding/zhipuai.ipynb
  docs/docs/integrations/vectorstores/databricks_vector_search.ipynb
  docs/docs/integrations/vectorstores/mongodb_atlas.ipynb
  docs/docs/integrations/vectorstores/sqlitevec.ipynb
  docs/docs/versions/migrating_memory/conversation_buffer_window_memory.ipynb
  libs/community/README.md
  libs/core/README.md
  libs/text-splitters/README.md
Labels: 🤖:docs, size:L

#28515 docs: single security doc
  SECURITY.md
  docs/Makefile
  docs/docs/security.md
Labels: 🤖:docs, size:M

#28516 chroma[patch]: add `get_by_ids` and fix bug
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/poetry.lock
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/tests/integration_tests/test_standard.py
Labels: Ɑ: vector store, 🤖:bug, size:M

#28513 switch graph semantic layer docs to langgraph
  docs/docs/how_to/graph_semantic.ipynb
Labels: lgtm, 🤖:docs, size:L

#28517 chroma[patch]: (nit) simplify test
  libs/partners/chroma/tests/integration_tests/test_standard.py
Labels: 🤖:nit, size:XS

#28518 docs[patch]: add vector store contribution guide
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/vector_stores.mdx
Labels: 🤖:docs, size:XL

#28519 infra: scheduled test fix
  .github/workflows/scheduled_test.yml
Labels: 🤖:docs, size:S

#28520 tests[patch]: populate API reference for vector stores
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
Labels: Ɑ: vector store, size:L

#28488 anthropic: timeout in tests (10s)
  libs/partners/anthropic/Makefile
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: 🤖:nit, size:XS

#28521 cli: standard tests in cli, test that they run, skip vectorstore tests
  .github/scripts/check_diff.py
  libs/cli/.gitignore
  libs/cli/Makefile
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/integration_template/Makefile
  libs/cli/langchain_cli/integration_template/integration_template/__init__.py
  libs/cli/langchain_cli/integration_template/integration_template/chat_models.py
  libs/cli/langchain_cli/integration_template/integration_template/embeddings.py
  libs/cli/langchain_cli/integration_template/integration_template/llms.py
  libs/cli/langchain_cli/integration_template/integration_template/retrievers.py
  libs/cli/langchain_cli/integration_template/integration_template/toolkits.py
  libs/cli/langchain_cli/integration_template/integration_template/tools.py
  libs/cli/langchain_cli/integration_template/integration_template/vectorstores.py
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_chat_models.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_embeddings.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_llms.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_retrievers.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_tools.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_vectorstores.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_chat_models.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_embeddings.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_imports.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_llms.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_tools.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_vectorstores.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/migrate/main.py
  libs/cli/langchain_cli/utils/find_replace.py
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/integration_tests/test_compile.py
  libs/cli/tests/unit_tests/migrate/cli_runner/test_cli.py
  libs/standard-tests/langchain_tests/integration_tests/__init__.py
Labels: size:XXL

#28526 standard-tests: release 0.3.5
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: size:XS

#28535 langchain[patch]: fix deprecation warning
  libs/langchain/langchain/chains/router/multi_prompt.py
Labels: 🤖:nit, size:M, langchain

#28525 cli: release 0.0.34
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/cli/pyproject.toml
Labels: size:XS, 🤖:release

#28538 chroma[patch]: fix bug
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/integration_tests/test_vectorstores.py
Labels: Ɑ: vector store, 🤖:bug, size:S

#28537 docs: Add link for how to install extras
  docs/docs/integrations/providers/unstructured.mdx
Labels: lgtm, 🤖:docs, size:XS

#28524 [VectorStore] Improvement: Improve chroma vector store
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/tests/unit_tests/test_vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:S

#28540 openai[patch]: add standard tests for embeddings
  libs/partners/openai/tests/integration_tests/embeddings/test_base_standard.py
Labels: Ɑ: embeddings, size:S

#28042 docs: Updated incorrected type used for the `multiply_by_max` function
  docs/docs/how_to/custom_tools.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28066 docs: add Aerospike to providers list
  docs/docs/integrations/providers/aerospike.mdx
Labels: lgtm, 🤖:docs, size:S

#28545 tests[patch]: run standard tests for embeddings and populate embeddings API ref
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/embeddings.py
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/embeddings.py
  libs/standard-tests/tests/unit_tests/test_embeddings.py
Labels: Ɑ: embeddings, size:L

#28546 docs: deprecated styling
  docs/api_reference/_static/css/custom.css
Labels: 🤖:docs, size:S

#28542 infra: run cli tests on test changes
  .github/scripts/check_diff.py
Labels: size:XS

#28547 docs[patch]: improve integration docs
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Labels: lgtm, 🤖:docs, size:L

#28550 docs: deprecated styling
  docs/api_reference/_static/css/custom.css
Labels: size:S

#28233 partners: fix of issue #26029
  libs/partners/mistralai/langchain_mistralai/chat_models.py
Labels: lgtm, 🤖:bug, size:XS

#27884 community: Add support for SAP HANA Vector hnsw index creation
  docs/docs/integrations/vectorstores/sap_hanavector.ipynb
  libs/community/langchain_community/vectorstores/hanavector.py
  libs/community/tests/integration_tests/vectorstores/test_hanavector.py
Labels: lgtm, Ɑ: vector store, size:XL, community

#28553 core: deprecation doc removal
  libs/core/langchain_core/_api/deprecation.py
Labels: size:XS, Ɑ: core

#28555 docs: custom deprecated coloring, organize css a bit
  docs/api_reference/_static/css/custom.css
Labels: 🤖:docs, size:M

#28556 cli: create specific files from template
  libs/cli/Makefile
  libs/cli/langchain_cli/namespaces/integration.py
Labels: size:L

#28557 cli: release 0.0.35
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Labels: size:XS, 🤖:release

#28462 core, tests: more tolerant _aget_relevant_documents function
  libs/core/langchain_core/retrievers.py
  libs/core/tests/unit_tests/test_retrievers.py
  libs/standard-tests/tests/unit_tests/test_basic_retriever.py
Labels: 🤖:nit, size:S, Ɑ: retriever

#28577 cli[patch]: implement minimal starter vector store
  libs/cli/Makefile
  libs/cli/langchain_cli/integration_template/integration_template/vectorstores.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_vectorstores.py
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: Ɑ: vector store, size:L

#28576 docs[patch]: update contributor docs for integrations
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
Labels: 🤖:docs, size:M

#28582 core[patch]: Release 0.3.22
  libs/core/pyproject.toml
Labels: size:M, 🤖:release, Ɑ: core

#28580 multiple: combine sync/async vector store standard test suites
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_vectorstores.py
  libs/community/tests/integration_tests/vectorstores/test_aperturedb.py
  libs/community/tests/unit_tests/vectorstores/test_inmemory.py
  libs/core/tests/unit_tests/vectorstores/test_in_memory.py
  libs/partners/chroma/tests/integration_tests/test_standard.py
  libs/standard-tests/langchain_tests/integration_tests/__init__.py
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/tests/unit_tests/test_in_memory_vectorstore.py
Labels: Ɑ: vector store, size:L

#28584 core: fix path test
  libs/core/tests/unit_tests/_api/test_path.py
Labels: 🤖:nit, size:XS, Ɑ: core

#28585 langchain: release 0.3.10
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release, langchain

#28581 docs: readme/intro nits
  README.md
  docs/docs/concepts/architecture.mdx
  docs/docs/introduction.mdx
Labels: 🤖:docs, size:S

#28586 docs: enable private docstring members sphinx
  docs/api_reference/create_api_rst.py
Labels: lgtm, 🤖:docs, size:XS

#28588 docs: enable private docstring modules sphinx
  docs/api_reference/create_api_rst.py
Labels: size:XS

#28589 docs: enable private docstring submembers sphinx
  docs/api_reference/conf.py
Labels: 🤖:docs, size:XS

#28590 standard-tests: private members and tools unit troubleshoot
  libs/standard-tests/langchain_tests/__init__.py
  libs/standard-tests/langchain_tests/base.py
  libs/standard-tests/langchain_tests/unit_tests/tools.py
  libs/standard-tests/langchain_tests/utils/pydantic.py
Labels: size:M

#28591 standard-tests: show right classes in api docs
  libs/standard-tests/langchain_tests/integration_tests/base_store.py
  libs/standard-tests/langchain_tests/integration_tests/cache.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/indexer.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/embeddings.py
Labels: size:XL

#28592 docs: dont document root init
  docs/api_reference/conf.py
Labels: 🤖:docs, size:XS

#28593 docs: format
  docs/api_reference/conf.py
Labels: size:XS

#28595 standard-tests: root docstrings
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
  libs/standard-tests/langchain_tests/integration_tests/tools.py
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/langchain_tests/unit_tests/tools.py
Labels: size:M

#28597 multiple: fix xfailed signatures
  libs/partners/fireworks/tests/integration_tests/test_standard.py
  libs/partners/groq/tests/integration_tests/test_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure_standard.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
Labels: size:M

#28594 tests[patch]: update API ref for chat models
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: lgtm, size:M

#28599 standard-tests: release 0.3.6
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: size:XS, 🤖:release

#28600 community: release 0.3.10
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#28561 docs: update uptrain.ipynb
  docs/docs/integrations/callbacks/uptrain.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28601 tests[patch]: nits
  libs/standard-tests/langchain_tests/__init__.py
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: 🤖:nit, size:XS

#28596 standard-tests: retriever docstrings
  libs/standard-tests/langchain_tests/base.py
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
Labels: 🤖:docs, size:M, Ɑ: retriever

#28602 docs: tool, retriever contributing docs
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
Labels: 🤖:docs, size:L

#28603 docs: standard tests to markdown, load templates from files
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.ipynb
  docs/docs/contributing/how_to/integrations/standard_tests.mdx
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_retrievers.py
Labels: 🤖:docs, size:XXL

#28198 Invalid `tool_choice` being passed to `ChatLiteLLM`
  libs/community/langchain_community/chat_models/litellm.py
Labels: lgtm, 🤖:bug, size:M, community

#28503 docs: Update IBM documentation
  docs/docs/integrations/chat/ibm_watsonx.ipynb
  docs/docs/integrations/retrievers/ibm_watsonx_ranker.ipynb
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
Labels: 🤖:docs, size:S

#28507 community: Add support for modle2vec embeddings
  docs/docs/integrations/text_embedding/model2vec.ipynb
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/model2vec.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
  libs/community/tests/unit_tests/embeddings/test_model2vec.py
Labels: Ɑ: embeddings, 🤖:docs, size:L, community

#28559 partners: 🕷️🦜 ScrapeGraph API Integration
  docs/docs/integrations/providers/scrapegraph.mdx
  docs/docs/integrations/tools/scrapegraph.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#28446 docs: Resolve incorrect import of AttributeInfo for self-query retriever section
  docs/docs/integrations/retrievers/self_query/activeloop_deeplake_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/astradb.ipynb
  docs/docs/integrations/retrievers/self_query/chroma_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/dashvector.ipynb
  docs/docs/integrations/retrievers/self_query/databricks_vector_search.ipynb
  docs/docs/integrations/retrievers/self_query/dingo.ipynb
  docs/docs/integrations/retrievers/self_query/hanavector_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/milvus_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/mongodb_atlas.ipynb
  docs/docs/integrations/retrievers/self_query/myscale_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/neo4j_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/opensearch_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/pgvector_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/pinecone.ipynb
  docs/docs/integrations/retrievers/self_query/qdrant_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/redis_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/supabase_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/tencentvectordb.ipynb
  docs/docs/integrations/retrievers/self_query/timescalevector_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/vectara_self_query.ipynb
  docs/docs/integrations/retrievers/self_query/weaviate_self_query.ipynb
Labels: lgtm, 🤖:docs, size:M

#28437 docs: Fixed broken link in the warning message to @tool API Reference…
  docs/docs/how_to/custom_tools.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28425 Fix typo in weaviate integration docs
  docs/docs/integrations/vectorstores/weaviate.ipynb
Labels: 🤖:docs, size:XS

#28419 docs: change upstage solar model descriptions
  docs/docs/integrations/providers/upstage.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28429 langchain-core: Fixed trim functions, and added corresponding unit test for the solved issue
  libs/core/langchain_core/runnables/graph.py
  libs/core/tests/unit_tests/runnables/test_graph.py
Labels: lgtm, 🤖:bug, size:M, Ɑ: core

#28408 community:Fix for get_openai_callback() return token_cost=0.0 when model is gpt-4o-11-20
  libs/community/langchain_community/callbacks/openai_info.py
Labels: lgtm, 🤖:bug, size:XS, community

#28618 docs: more integration contrib
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/integrations/standard_tests.mdx
Labels: 🤖:docs, size:L

#28127 text-splitters: add pydocstyle linting
  libs/text-splitters/langchain_text_splitters/__init__.py
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/pyproject.toml
Labels: lgtm, 🤖:nit, size:L, Ɑ: text splitters

#28619 cli: warning on app add
  libs/cli/langchain_cli/namespaces/app.py
Labels: 🤖:nit, size:XS

#28148 [Core]: Small Docstring Clarification for `BaseTool`
  libs/core/langchain_core/tools/base.py
Labels: lgtm, 🤖:bug, size:XS

#28632 openai[patch]: bump minimum SDK version
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: 🤖:nit, size:XS

#28633 openai[patch]: release 0.2.12
  libs/partners/openai/pyproject.toml
Labels: size:XS, 🤖:release

#28636 standard-tests: sync/async vectorstore tests conditional
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
Labels: Ɑ: vector store, size:L

#28159 docs: Standardize MoonshotChat docstring
  libs/community/langchain_community/chat_models/moonshot.py
Labels: lgtm, 🤖:docs, size:L, community

#28631 docs: update readme
  README.md
Labels: 🤖:docs, size:M

#28465 docs: Update sql-query doc by fixing spelling mistake of chinhook.db to chinook.db
  docs/docs/how_to/sql_large_db.ipynb
  docs/docs/how_to/sql_prompting.ipynb
  docs/docs/how_to/sql_query_checking.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28253 community[minor] Pebblo: Support for new Pinecone class PineconeVectorStore
  libs/community/langchain_community/chains/pebblo_retrieval/enforcement_filters.py
Labels: lgtm, Ɑ: vector store, size:XS, community

#28259 community: add include_labels option to ConfluenceLoader
  libs/community/langchain_community/document_loaders/confluence.py
  libs/community/tests/unit_tests/document_loaders/test_confluence.py
Labels: lgtm, Ɑ: doc loader, size:M, community

#28260 community: [bugfix] fix source path for office files in O365
  libs/community/langchain_community/document_loaders/base_o365.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:S, community

#28289 community[fix]: could not locate runnable browser
  libs/community/langchain_community/tools/gmail/utils.py
Labels: lgtm, 🤖:bug, size:XS, community

#28366 docs: add Linkup integration documentation
  docs/docs/integrations/providers/linkup.mdx
  docs/docs/integrations/retrievers/linkup_search.ipynb
  docs/docs/integrations/tools/linkup_search.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL

#28642 docs: integration contrib typo
  docs/docs/contributing/how_to/integrations/index.mdx
Labels: 🤖:docs, size:XS

#28421 community[fix]: Update Perplexity to pass parameters into API calls
  libs/community/langchain_community/chat_models/perplexity.py
Labels: lgtm, size:XS, community

#28404 Core: google docstring parsing fix
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: lgtm, 🤖:bug, size:S, langchain

#28641 infra: merge queue allowed
  .github/workflows/check_diffs.yml
Labels: size:XS

#28173 docs: Adding Docs for new SQLServer Vector store package
  docs/docs/integrations/providers/microsoft.mdx
  docs/docs/integrations/vectorstores/sqlserver.ipynb
  docs/src/theme/FeatureTables.js
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XL

#27949 community: KuzuGraph needs allow_dangerous_requests, add graph documents via LLMGraphTransformer
  libs/community/langchain_community/graphs/kuzu_graph.py
Labels: size:L, community

#28376 fix: Set default search_type to 'similarity' in as_retriever method of AzureSearch
  libs/community/langchain_community/vectorstores/azuresearch.py
Labels: lgtm, Ɑ: vector store, size:S, community

#28644 core: deprecate PipelinePromptTemplate
  libs/core/langchain_core/prompts/pipeline.py
Labels: size:S, Ɑ: core

#28058 langchain-weaviate: Remove outdated docs
  docs/docs/integrations/retrievers/weaviate-hybrid.ipynb
  docs/vercel.json
Labels: 🤖:docs, size:L

#28605 core[patch]: return ToolMessage from tool
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/simple.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, size:L, langchain

#28648 core[patch]: Release 0.3.23
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release, Ɑ: core

#28629 ollama[patch]: support structured output
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/poetry.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
Labels: size:L

#27017 community: update Memgraph integration
  docs/docs/integrations/graphs/memgraph.ipynb
  docs/static/img/memgraph_kg.png
  docs/static/img/memgraph_kg_2.png
  docs/static/img/memgraph_kg_3.png
  docs/static/img/memgraph_kg_4.png
  libs/community/langchain_community/chains/graph_qa/memgraph.py
  libs/community/langchain_community/chains/graph_qa/prompts.py
  libs/community/langchain_community/graphs/memgraph_graph.py
  libs/community/tests/integration_tests/graphs/test_memgraph.py
Labels: lgtm, 🤖:docs, size:XXL, community

#27620 Confluence Loader: Fix CQL loading
  libs/community/langchain_community/document_loaders/confluence.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:M, community

#28382 doc-loader: retain Azure Doc Intelligence API metadata in Document parser
  libs/community/langchain_community/document_loaders/parsers/doc_intelligence.py
Labels: lgtm, Ɑ: doc loader, size:XS, community

#28653 Fix graph example documentation
  docs/docs/tutorials/graph.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28598 core,langchain,community[patch]: allow langsmith 0.2
  libs/community/langchain_community/embeddings/fastembed.py
  libs/community/langchain_community/embeddings/laser.py
  libs/community/langchain_community/utilities/redis.py
  libs/community/langchain_community/vectorstores/semadb.py
  libs/community/langchain_community/vectorstores/usearch.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/integration_tests/vectorstores/test_singlestoredb.py
  libs/community/tests/unit_tests/vectorstores/test_utils.py
  libs/core/langchain_core/tracers/context.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: 🤖:nit, size:M, community, langchain

#28656 core[patch]: Release 0.3.24
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#28657 langchain[patch]: Release 0.3.11
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release, langchain

#28658 community[patch]: Release 0.3.11
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#28645 community: tongyi multimodal response format fix to support langchain
  libs/community/langchain_community/chat_models/tongyi.py
Labels: lgtm, 🤖:bug, size:S, community

#28676 docs: box to package table
  docs/scripts/partner_pkg_table.py
Labels: 🤖:docs, size:XS

#28207 community[minor]: FAISS Filter Function Enhancement with Advanced Query Operators
  libs/community/langchain_community/vectorstores/faiss.py
  libs/community/tests/unit_tests/vectorstores/test_faiss.py
Labels: lgtm, Ɑ: vector store, size:XL, community

#27818 mistral[minor]: Added Retrying Mechanism in case of Request Rate Limit Error for `MistralAIEmbeddings`
  libs/partners/mistralai/langchain_mistralai/embeddings.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:S

#28662 docs: added caution notes on Jina and LocalAI docs about openai sdk version compatibility
  docs/docs/integrations/providers/jina.mdx
  docs/docs/integrations/providers/localai.mdx
Labels: lgtm, 🤖:docs, size:XS

#28646 [Community]: `requests_kwargs` not being used in _fetch
  libs/community/langchain_community/document_loaders/web_base.py
Labels: lgtm, Ɑ: doc loader, size:XS, community

#28663 Fix typo in doc for: Custom Functions & Pass Through Arguments pages
  docs/docs/how_to/functions.ipynb
  docs/docs/how_to/passthrough.ipynb
Labels: lgtm, 🤖:nit, size:XS, langchain

#28655 community: use correct `id_key` when deleting by id in LanceDB wrapper
  libs/community/langchain_community/vectorstores/lancedb.py
  libs/community/tests/integration_tests/vectorstores/test_lancedb.py
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:S, community

#28670 community: fixed bug in model2vec embedding code
  libs/community/langchain_community/embeddings/model2vec.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:XS, community

#28675 langchain: fixed weaviate (v4) vectorstore import for self-query retriever
  libs/langchain/langchain/retrievers/self_query/base.py
Labels: lgtm, size:S, Ɑ: retriever, langchain

#28679 FIX: typos in docs
  docs/docs/how_to/caching_embeddings.ipynb
  docs/docs/how_to/callbacks_runtime.ipynb
  docs/docs/how_to/chat_model_rate_limiting.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28677 docs: provider list from packages.yml
  docs/docs/integrations/providers/robocorp.mdx
  docs/scripts/partner_pkg_table.py
  docs/vercel_requirements.txt
Labels: 🤖:docs, size:M

#28674 docs: Make deprecation docs bar bigger
  docs/docusaurus.config.js
  docs/src/css/custom.css
Labels: 🤖:docs, size:S

#28325 Community: Adding bulk_size as a setable param for OpenSearchVectorSearch
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Labels: lgtm, Ɑ: vector store, size:S, community

#27329 LangChain Community: VectorStores: Azure Cosmos DB Mongo vCore with DiskANN
  docs/docs/integrations/vectorstores/azure_cosmos_db.ipynb
  libs/community/langchain_community/vectorstores/azure_cosmos_db.py
  libs/community/tests/integration_tests/vectorstores/test_azure_cosmos_db.py
Labels: lgtm, Ɑ: vector store, size:XL, community

#28167 community: Add support for cross-region inference profile IDs in Bedrock Anthropic Claude token cost calculation
  libs/community/langchain_community/callbacks/bedrock_anthropic_callback.py
Labels: lgtm, size:S, community

#26075 huggingface: fix tool argument serialization in _convert_TGI_message_to_LC_message
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:bug, size:S, partner

#27753 community: ChatSnowflakeCortex - Add streaming functionality
  docs/docs/integrations/chat/snowflake.ipynb
  libs/community/langchain_community/chat_models/snowflake.py
  libs/community/scripts/check_pydantic.sh
Labels: lgtm, 🤖:docs, size:L, community

#27883 community: add method to create branch and list files for gitlab tool
  libs/community/langchain_community/agent_toolkits/gitlab/toolkit.py
  libs/community/langchain_community/tools/gitlab/prompt.py
  libs/community/langchain_community/utilities/gitlab.py
Labels: lgtm, size:L, community

#27327 community: fixes json loader not getting texts with json standard
  libs/community/langchain_community/document_loaders/json_loader.py
  libs/community/tests/unit_tests/document_loaders/test_json_loader.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:S, community
