Repository langchain-ai/langchain, pull requests merged in 2024-07, with the labels that each got.

#23696 ci[patch]: Update people PR CI permissions
  .github/workflows/people.yml
Labels: size:XS

#23690 community: Register pandas df in duckdb when creating vector_store
  libs/community/langchain_community/vectorstores/duckdb.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XS, community

#23702 Update jina embedding notebook to show multimodal capability more clearly
  docs/docs/integrations/text_embedding/jina.ipynb
Labels: lgtm, Ɑ: embeddings, 🤖:docs, size:M

#23717 standard-tests[patch]: add anthropic format integration test
  libs/partners/anthropic/tests/integration_tests/test_standard.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
Labels: 🤖:nit, size:M, partner, 🔌: anthropic

#23591 community: Fix LanceDB similarity search bug
  libs/community/langchain_community/vectorstores/lancedb.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:S, community

#23594 core[minor]: Add get_by_ids to vectorstore interface
  libs/core/langchain_core/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:M

#22793 experimental: LLMGraphTransformer add missing conditional adding restrictions to prompts for LLM that do not support function calling
  libs/experimental/langchain_experimental/graph_transformers/llm.py
Labels: lgtm, 🤖:improvement, size:M, 🔌: openai

#23658 core: fix NameError
  libs/core/langchain_core/language_models/chat_models.py
Labels: lgtm, 🤖:bug, size:XS, Ɑ: core

#23416 core[patch]: Fix llm string representation for serializable models
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
Labels: lgtm, 🤖:improvement, size:L, Ɑ: core

#23405 core[minor]: Add maxsize for InMemoryCache
  libs/core/langchain_core/caches.py
  libs/core/tests/unit_tests/caches/test_in_memory_cache.py
Labels: lgtm, 🤖:improvement, size:L, Ɑ: core

#23718 core: runnable message history: use async messages where possible
  libs/core/langchain_core/runnables/history.py
Labels: lgtm, 🤖:improvement, size:XS, Ɑ: core

#22068 partners[azure]: fix having openai_api_base set for other packages
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/openai/tests/unit_tests/embeddings/test_azure_embeddings.py
Labels: lgtm, 🤖:improvement, size:M, partner, 🔌: openai

#23639 core[minor]: Create BaseMedia object
  libs/core/langchain_core/document_loaders/base.py
  libs/core/langchain_core/document_loaders/blob_loaders.py
  libs/core/langchain_core/documents/base.py
  libs/core/tests/unit_tests/document_loaders/test_base.py
  libs/core/tests/unit_tests/documents/test_str.py
Labels: lgtm, 🤖:refactor, size:L, 08 RFC, Ɑ: core

#23728 core[patch]: Add versionadded to get_by_ids
  libs/core/langchain_core/vectorstores.py
Labels: size:XS, Ɑ: core

#23731 community[patch]: Update root_validators to use pre=True or pre=False
  libs/community/langchain_community/agents/openai_assistant/base.py
  libs/community/langchain_community/chains/llm_requests.py
  libs/community/langchain_community/chat_models/anyscale.py
  libs/community/langchain_community/chat_models/coze.py
  libs/community/langchain_community/chat_models/dappier.py
  libs/community/langchain_community/chat_models/deepinfra.py
  libs/community/langchain_community/chat_models/ernie.py
  libs/community/langchain_community/chat_models/fireworks.py
  libs/community/langchain_community/chat_models/huggingface.py
Labels: 🤖:improvement, size:S, community

#23736 community[patch]: Update root_validators to use explicit pre=True or pre=False
  libs/community/langchain_community/cross_encoders/sagemaker_endpoint.py
  libs/community/langchain_community/document_compressors/dashscope_rerank.py
  libs/community/langchain_community/document_compressors/volcengine_rerank.py
  libs/community/langchain_community/document_loaders/apify_dataset.py
  libs/community/langchain_community/tools/connery/service.py
  libs/community/langchain_community/tools/connery/tool.py
  libs/community/langchain_community/vectorstores/azuresearch.py
Labels: 🤖:improvement, size:S, community

#23734 community[patch]: Fix requests alias for load_tools
  docs/docs/integrations/tools/requests.ipynb
  libs/community/langchain_community/agent_toolkits/load_tools.py
  libs/community/tests/unit_tests/agent_toolkits/test_load_tools.py
Labels: Ɑ: agent, lgtm, 🤖:improvement, size:L, community

#23739 docs: standardize cohere page
  docs/docs/integrations/chat/cohere.ipynb
Labels: 🤖:docs, size:L, 🔌: cohere

#23740 Update azure_cosmos_db for mongodb documentation
  docs/docs/integrations/vectorstores/azure_cosmos_db.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23764 community[patch]: root validator set explicit pre=False or pre=True
  libs/community/langchain_community/utilities/apify.py
  libs/community/langchain_community/utilities/arcee.py
  libs/community/langchain_community/utilities/arxiv.py
  libs/community/langchain_community/utilities/asknews.py
  libs/community/langchain_community/utilities/awslambda.py
Labels: 🤖:improvement, size:S, community

#23761 Milvus vectorstore: fix pass ids as argument after upsert
  libs/community/langchain_community/vectorstores/milvus.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, 🔌: milvus, size:XS, community

#23309 partners: support reading HuggingFace params from env
  libs/partners/huggingface/langchain_huggingface/chat_models/huggingface.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Labels: lgtm, 🤖:improvement, size:M, partner, 🔌: huggingface

#23768 community[patch]: update @root_validator in utilities namespace
  libs/community/langchain_community/utilities/bibtex.py
  libs/community/langchain_community/utilities/cassandra_database.py
  libs/community/langchain_community/utilities/clickup.py
  libs/community/langchain_community/utilities/dalle_image_generator.py
  libs/community/langchain_community/utilities/dataforseo_api_search.py
  libs/community/langchain_community/utilities/dataherald.py
  libs/community/langchain_community/utilities/duckduckgo_search.py
  libs/community/langchain_community/utilities/github.py
  libs/community/langchain_community/utilities/gitlab.py
  libs/community/langchain_community/utilities/golden_query.py
  libs/community/langchain_community/utilities/google_finance.py
  libs/community/langchain_community/utilities/google_jobs.py
  libs/community/langchain_community/utilities/google_lens.py
  libs/community/langchain_community/utilities/google_places_api.py
  libs/community/langchain_community/utilities/google_scholar.py
  libs/community/langchain_community/utilities/google_search.py
  libs/community/langchain_community/utilities/google_serper.py
  libs/community/langchain_community/utilities/google_trends.py
  libs/community/langchain_community/utilities/jira.py
  libs/community/langchain_community/utilities/merriam_webster.py
  libs/community/langchain_community/utilities/outline.py
  libs/community/langchain_community/utilities/polygon.py
  libs/community/langchain_community/utilities/pubmed.py
  libs/community/langchain_community/utilities/reddit_search.py
  libs/community/langchain_community/utilities/rememberizer.py
  libs/community/langchain_community/utilities/searchapi.py
  libs/community/langchain_community/utilities/searx_search.py
  libs/community/langchain_community/utilities/semanticscholar.py
  libs/community/langchain_community/utilities/serpapi.py
  libs/community/langchain_community/utilities/stackexchange.py
  libs/community/langchain_community/utilities/tensorflow_datasets.py
  libs/community/langchain_community/utilities/twilio.py
  libs/community/langchain_community/utilities/wikidata.py
  libs/community/langchain_community/utilities/wikipedia.py
  libs/community/langchain_community/utilities/wolfram_alpha.py
Labels: 🤖:improvement, size:M, community

#23765 feat(community): add support for tool_calls response
  libs/community/langchain_community/chat_models/litellm.py
Labels: lgtm, 🤖:improvement, size:S, community

#23737 community[patch]: Update @root_validators to use explicit pre=True or pre=False
  libs/community/langchain_community/embeddings/aleph_alpha.py
  libs/community/langchain_community/embeddings/awa.py
  libs/community/langchain_community/embeddings/azure_openai.py
  libs/community/langchain_community/embeddings/bedrock.py
  libs/community/langchain_community/embeddings/clarifai.py
  libs/community/langchain_community/embeddings/cohere.py
Labels: Ɑ: embeddings, 🤖:improvement, size:S, community

#23741 Added langchain-community installation
  docs/docs/integrations/toolkits/ainetwork.ipynb
  docs/docs/integrations/toolkits/airbyte_structured_qa.ipynb
  docs/docs/integrations/toolkits/amadeus.ipynb
  docs/docs/integrations/toolkits/azure_ai_services.ipynb
  docs/docs/integrations/toolkits/azure_cognitive_services.ipynb
  docs/docs/integrations/toolkits/clickup.ipynb
  docs/docs/integrations/toolkits/cogniswitch.ipynb
  docs/docs/integrations/toolkits/connery.ipynb
  docs/docs/integrations/toolkits/document_comparison_toolkit.ipynb
  docs/docs/integrations/toolkits/github.ipynb
  docs/docs/integrations/toolkits/gitlab.ipynb
  docs/docs/integrations/toolkits/gmail.ipynb
  docs/docs/integrations/toolkits/jira.ipynb
  docs/docs/integrations/toolkits/json.ipynb
  docs/docs/integrations/toolkits/multion.ipynb
  docs/docs/integrations/toolkits/nasa.ipynb
  docs/docs/integrations/toolkits/office365.ipynb
  docs/docs/integrations/tools/filesystem.ipynb
  docs/docs/integrations/tools/golden_query.ipynb
Labels: lgtm, 🤖:docs, size:L

#23738 docs: standardize bedrock page
  docs/docs/integrations/chat/bedrock.ipynb
Labels: 🤖:docs, size:L

#23179 docs[patch]: Update OllamaFunctions docs to match chat model integration template
  docs/docs/integrations/chat/ollama_functions.ipynb
Labels: 🤖:docs, size:L, partner

#23747 core[patch]: fix nested sections for mustache templating
  libs/core/langchain_core/prompts/string.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
Labels: lgtm, 🤖:bug, size:L, Ɑ: core

#23770 community[patch]: Fix MiniMaxChat validate_environment error
  libs/community/langchain_community/chat_models/minimax.py
  libs/community/tests/integration_tests/chat_models/test_minimax.py
Labels: lgtm, 🤖:improvement, size:M, community

#23689 langchain_anthropic: add stop_reason in ChatAnthropic stream result
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: lgtm, 🤖:improvement, size:S, partner, 🔌: anthropic

#23776 anthropic[patch]: use core output parsers for structured output
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: lgtm, 🤖:improvement, size:M, partner, 🔌: anthropic

#23647 anthropic[patch]: tool output parser fix
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/tests/unit_tests/test_output_parsers.py
Labels: lgtm, 🤖:improvement, size:M, partner, Ɑ: parsing, 🔌: anthropic

#23779 anthropic[patch]: fix model name in some integration tests
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: size:S, partner

#23778 anthropic[patch]: release 0.1.18
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: anthropic

#23673 Update docs: LangChain agent memory
  docs/docs/integrations/platforms/microsoft.mdx
Labels: lgtm, 🤖:docs, size:S, langchain

#23523 community: make bing web search as the only option
  libs/community/langchain_community/utilities/bing_search.py
Labels: lgtm, size:S, community

#23538 partners: AI21 Labs Jamba Streaming Support
  libs/partners/ai21/README.md
  libs/partners/ai21/langchain_ai21/chat/chat_adapter.py
  libs/partners/ai21/langchain_ai21/chat_models.py
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
  libs/partners/ai21/tests/integration_tests/test_chat_models.py
  libs/partners/ai21/tests/integration_tests/test_standard.py
Labels: lgtm, 🤖:improvement, size:L, partner

#23781 ai21[patch]: release 0.1.7
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
Labels: size:XS, partner, 🤖:release

#23656 core[patch]: mark RemoveMessage beta
  libs/core/langchain_core/messages/modifier.py
Labels: 🤖:nit, size:XS

#23780 core[patch]: Release 0.2.11
  libs/core/pyproject.toml
Labels: size:L, 🤖:release, Ɑ: core

#23291 anthropic[patch]: expose payload
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: 🤖:improvement, size:M, partner, 🔌: anthropic

#23287 openai[patch]: expose model request payload
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:improvement, size:M, partner

#23782 openai[patch]: Release 0.1.14
  libs/partners/openai/pyproject.toml
Labels: size:S, partner, 🤖:release, 🔌: openai

#23783 anthropic[patch]: Release 0.1.19
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: anthropic

#23786 docs[patch]: Update structured output docs to have more discussion
  docs/docs/concepts.mdx
  docs/docs/how_to/structured_output.ipynb
Labels: 🤖:docs, size:L

#23816 docs: fireworks standard page
  docs/docs/integrations/chat/fireworks.ipynb
Labels: 🤖:docs, size:L

#23820 fireworks[patch]: read from tool calls attribute
  libs/partners/fireworks/langchain_fireworks/chat_models.py
Labels: 🤖:improvement, size:M, partner

#23785 core: docstrings `indexing`
  libs/core/langchain_core/indexing/__init__.py
  libs/core/langchain_core/indexing/api.py
  libs/core/langchain_core/indexing/base.py
  libs/core/langchain_core/language_models/__init__.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/language_models/llms.py
Labels: lgtm, 🤖:docs, size:L, Ɑ: core

#23822 docs: fireworks nit
  docs/docs/integrations/chat/fireworks.ipynb
Labels: 🤖:nit, size:XS

#23162 community[deepinfra]: fix tool call parsing.
  libs/community/langchain_community/chat_models/deepinfra.py
Labels: lgtm, 🤖:bug, size:S, community

#23370 [Core] Unify function schema parsing
  libs/core/langchain_core/tools.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: lgtm, 🤖:improvement, template, size:L, partner, Ɑ: core

#23819 community: fix typo in unit tests for test_zenguard.py
  libs/community/tests/integration_tests/tools/zenguard/test_zenguard.py
Labels: lgtm, 🤖:nit, size:XS, community

#23818 partners[patch]: MongoDB vectorstore to return and accept string IDs
  libs/partners/mongodb/langchain_mongodb/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS, partner, 🔌: mongo, langchain

#23833 cli[patch]: ruff 0.5
  libs/cli/langchain_cli/integration_template/integration_template/document_loaders.py
  libs/cli/langchain_cli/integration_template/integration_template/vectorstores.py
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_chat_models.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_embeddings.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_llms.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_chat_models.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_embeddings.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_llms.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/codemods/replace_imports.py
  libs/cli/langchain_cli/namespaces/migrate/generate/generic.py
  libs/cli/langchain_cli/namespaces/migrate/generate/partner.py
  libs/cli/langchain_cli/namespaces/migrate/main.py
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/unit_tests/migrate/cli_runner/cases/imports_with_alias_changes.py
  libs/cli/tests/unit_tests/migrate/test_code_migrations.py
Labels: 🤖:improvement, size:M, langchain

#22613 core[patch]: extract input variables for `path` and `detail` keys in order to format an `ImagePromptTemplate`
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Labels: lgtm, 🤖:improvement, size:M, Ɑ: core

#23817 docs: improve structure in the agent migration to langgraph guide
  docs/docs/how_to/migrate_agent.ipynb
Labels: lgtm, 🤖:docs, size:M

#23807 docs: fix docs/tutorials/llm_chain.ipynb
  docs/docs/tutorials/llm_chain.ipynb
Labels: lgtm, 🤖:docs, size:XS

#20056 langchain: update declarative_base import
  libs/langchain/langchain/indexes/_sql_record_manager.py
Labels: lgtm, 🤖:improvement, size:XS, 🔌: postgres, langchain

#23837 core[patch]: Speed up unit tests for imports
  libs/core/tests/unit_tests/test_imports.py
Labels: lgtm, 🤖:improvement, size:M, Ɑ: core

#23840 core[minor]: update conversion utils to handle RemoveMessage
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/test_messages.py
Labels: lgtm, 🤖:improvement, size:S, Ɑ: core

#23842 core[patch]: Fix logic in BaseChatModel that processes the llm string that is used as a key for caching chat models responses
  libs/core/langchain_core/language_models/chat_models.py
Labels: 🤖:bug, size:XS, Ɑ: core

#22653 [Partner]: Fix huggingface tei support
  libs/community/langchain_community/embeddings/huggingface_hub.py
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:XS, partner, 🔌: huggingface

#23846 infra: remove cohere from monorepo scheduled tests
  .github/workflows/scheduled_test.yml
Labels: size:S

#23067 community: Overhaul MLflow Integration documentation
  docs/docs/integrations/providers/mlflow_tracking.ipynb
Labels: 🤖:docs, size:XL

#23823 feat(community): add bind_tools function for ChatLiteLLM
  libs/community/langchain_community/chat_models/litellm.py
Labels: lgtm, 🤖:improvement, size:M, community

#23218 community: add SingleStoreDB semantic cache
  docs/docs/how_to/indexing.ipynb
  docs/docs/integrations/llm_caching.ipynb
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/chat_message_histories/singlestoredb.py
  libs/community/langchain_community/vectorstores/singlestoredb.py
  libs/community/tests/integration_tests/cache/test_singlestoredb_cache.py
  libs/community/tests/integration_tests/vectorstores/test_singlestoredb.py
  libs/community/tests/unit_tests/vectorstores/test_indexing_docs.py
Labels: lgtm, Ɑ: vector store, 🤖:enhancement, size:L, community

#23867 community: add model_name param valid for GPT4AllEmbeddings
  libs/community/langchain_community/embeddings/gpt4all.py
Labels: lgtm, Ɑ: embeddings, 🤖:improvement, size:XS, community

#23057 community: add support for 'cloud' parameter in JiraAPIWrapper
  docs/docs/integrations/toolkits/jira.ipynb
  libs/community/langchain_community/tools/jira/tool.py
  libs/community/langchain_community/utilities/jira.py
  libs/community/tests/integration_tests/.env.example
Labels: lgtm, 🤖:improvement, size:S, community

#23907 docs: fix typo in llm_chain.ipynb
  docs/docs/tutorials/llm_chain.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23864 Langchain: fixed a typo in the imports
  docs/docs/integrations/tools/google_drive.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23871 docs: Arxiv docs update
  docs/docs/integrations/document_loaders/arxiv.ipynb
  libs/community/langchain_community/document_loaders/arxiv.py
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:L, community

#22851 core[patch]: Accounting for Optional Input Variables in BasePromptTemplate
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/few_shot_with_templates.py
  libs/core/langchain_core/prompts/prompt.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, 🤖:improvement, size:XL, Ɑ: core

#23873 community[patch]: Redis.delete should be a regular method not a static method
  libs/community/langchain_community/vectorstores/redis/base.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, 🔌: redis, size:S, community

#23890 core: docstrings `prompts`
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/few_shot_with_templates.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/loading.py
  libs/core/langchain_core/prompts/pipeline.py
  libs/core/langchain_core/prompts/prompt.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/prompts/structured.py
Labels: lgtm, 🤖:docs, size:XL, Ɑ: core

#23889 core: docstrings `outputs`
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/outputs/generation.py
  libs/core/langchain_core/outputs/llm_result.py
  libs/core/langchain_core/outputs/run_info.py
Labels: lgtm, 🤖:docs, size:S, Ɑ: core

#23910 core[patch]: Fix typo in docstring (graphm -> graph)
  libs/core/langchain_core/runnables/graph.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: Runnables

#23774 core[minor]: add upsert, streaming_upsert, aupsert, astreaming_upsert methods to the VectorStore abstraction
  libs/community/langchain_community/vectorstores/inmemory.py
  libs/community/langchain_community/vectorstores/milvus.py
  libs/community/tests/unit_tests/vectorstores/test_inmemory.py
  libs/core/langchain_core/indexing/__init__.py
  libs/core/langchain_core/indexing/base.py
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/aiter.py
  libs/core/langchain_core/vectorstores.py
  libs/core/tests/unit_tests/indexing/test_public_api.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_imports.py
  libs/core/tests/unit_tests/vectorstores/__init__.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
  libs/standard-tests/langchain_standard_tests/integration_tests/vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XL, 08 RFC

#23092 core: Add Graph Store component
  libs/community/langchain_community/graph_vectorstores/__init__.py
  libs/community/langchain_community/graph_vectorstores/cassandra.py
  libs/community/tests/integration_tests/graph_vectorstores/__init__.py
  libs/community/tests/integration_tests/graph_vectorstores/test_cassandra.py
  libs/core/langchain_core/graph_vectorstores/__init__.py
  libs/core/langchain_core/graph_vectorstores/base.py
  libs/core/langchain_core/graph_vectorstores/links.py
  libs/core/tests/unit_tests/test_graph_vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:enhancement, size:XXL, 08 RFC, Ɑ: core

#23769 langchain[patch]: deprecate AnalyzeDocumentChain
  docs/docs/tutorials/summarization.ipynb
  libs/langchain/langchain/chains/combine_documents/base.py
Labels: 🤖:improvement, size:M, langchain

#23730 langchain[patch]: deprecate QAGenerationChain
  libs/langchain/langchain/chains/qa_generation/base.py
Labels: size:M, langchain

#23758 IBM: Added WatsonxChat passing params to invoke method
  docs/docs/integrations/chat/ibm_watsonx.ipynb
  libs/partners/ibm/langchain_ibm/chat_models.py
  libs/partners/ibm/langchain_ibm/llms.py
  libs/partners/ibm/poetry.lock
  libs/partners/ibm/pyproject.toml
  libs/partners/ibm/tests/integration_tests/test_chat_models.py
  libs/partners/ibm/tests/integration_tests/test_llms.py
Labels: lgtm, 🤖:enhancement, size:L, partner

#23915 core, anthropic[patch]: support streaming tool calls when function has no arguments
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/groq/tests/integration_tests/test_standard.py
  libs/partners/together/tests/integration_tests/test_chat_models_standard.py
  libs/standard-tests/langchain_standard_tests/integration_tests/chat_models.py
Labels: 🤖:improvement, size:M, partner, Ɑ: core

#23919 standard-tests[minor]: add unit tests for testing get_by_ids, aget_by_ids, upsert, aupsert_by_ids
  libs/standard-tests/langchain_standard_tests/integration_tests/vectorstores.py
Labels: Ɑ: vector store, size:L

#23920 core[patch]: Add comment to clarify aadd_documents
  libs/core/langchain_core/vectorstores.py
Labels: Ɑ: vector store, 🤖:nit, size:XS

#23857 community: Fix source path mismatch in PebbloSafeLoader
  libs/community/langchain_community/document_loaders/pebblo.py
  libs/community/tests/unit_tests/document_loaders/test_pebblo.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:S, community

#23903 community: update import in chatbot tutorial to use InMemoryChatMessageHistory
  docs/docs/tutorials/chatbot.ipynb
Labels: lgtm, 🤖:docs, size:XS, community

#23848 docs: langgraph link fix
  docs/docs/how_to/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#23921 core[patch]: Clarify upsert response semantics
  libs/core/langchain_core/indexing/base.py
Labels: size:S

#23874 community: Support PGVector in PebbloRetrievalQA
  docs/docs/integrations/providers/pebblo/pebblo_retrieval_qa.ipynb
  libs/community/langchain_community/chains/pebblo_retrieval/base.py
  libs/community/langchain_community/chains/pebblo_retrieval/enforcement_filters.py
Labels: lgtm, Ɑ: vector store, size:L, community

#23844 docs: chain migration guide
  docs/docs/concepts.mdx
  docs/docs/how_to/index.mdx
  docs/docs/how_to/migrate_chains.ipynb
  docs/docs/versions/v0_2/deprecations.mdx
  docs/docs/versions/v0_2/index.mdx
  docs/src/theme/Columns.js
Labels: 🤖:docs, size:XL

#23956 Update index.mdx
  docs/docs/how_to/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#23955 Update concepts.mdx
  docs/docs/concepts.mdx
Labels: lgtm, 🤖:docs, size:XS

#23983 docs(llamacpp): fix copy paste error
  docs/docs/integrations/chat/llamacpp.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23988 community[patch]: Add constraint for pdfminer.six to unbreak CI
  libs/community/extended_testing_deps.txt
Labels: lgtm, 🤖:bug, size:XS, community

#23986 core[minor],community[patch],standard-tests[patch]: Move InMemoryImplementation to langchain-core
  libs/community/langchain_community/vectorstores/inmemory.py
  libs/core/langchain_core/vectorstores/__init__.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/langchain_core/vectorstores/utils.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/vectorstores/test_in_memory.py
  libs/standard-tests/tests/unit_tests/test_in_memory_vectorstore.py
Labels: lgtm, Ɑ: vector store, 🤖:refactor, size:XL, Ɑ: core, community

#23985 docs: rm discord
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/docusaurus.config.js
  libs/langchain/README.md
Labels: 🤖:docs, size:XS

#23991 core: release 0.2.12
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: lgtm, size:XS, 🤖:release, Ɑ: core

#23945 [Docs] typo Update in azureopenai.ipynb
  docs/docs/integrations/text_embedding/azureopenai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23993 langchain: release 0.2.7
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#23997 community: release 0.2.7 (prev was langchain)
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#23998 multiple: use modern installer in poetry
  libs/experimental/poetry.toml
  libs/langchain/poetry.toml
  poetry.toml
Labels: 🤖:nit, size:XS

#24033 Faster Stream
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/outputs/chat_generation.py
Labels: lgtm, 🤖:improvement, size:M

#24032 openai: Create msg chunk in bg thread
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:improvement, size:S, partner, 🔌: openai

#24031 core: Move json parsing in base chat model / output parser to bg thread
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/utils/_merge.py
Labels: lgtm, 🤖:improvement, size:L, Ɑ: core

#24036 core: Speed up json parse for large strings
  libs/core/langchain_core/utils/json.py
Labels: lgtm, 🤖:improvement, size:M

#24037 infra: remove double heading in release notes
  .github/workflows/_release.yml
Labels: size:XS

#23852 [HuggingFace Pipeline] add streaming support
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
  docs/docs/integrations/llms/openvino.ipynb
  libs/community/langchain_community/llms/huggingface_pipeline.py
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/tests/integration_tests/test_llms.py
Labels: lgtm, needs test, size:L, partner, 🔌: huggingface, community

#23927 docs[patch]: Remove deprecated Airbyte loaders from listings
  docs/docs/integrations/document_loaders/airbyte_cdk.ipynb
  docs/docs/integrations/document_loaders/airbyte_gong.ipynb
  docs/docs/integrations/document_loaders/airbyte_hubspot.ipynb
  docs/docs/integrations/document_loaders/airbyte_json.ipynb
  docs/docs/integrations/document_loaders/airbyte_salesforce.ipynb
  docs/docs/integrations/document_loaders/airbyte_shopify.ipynb
  docs/docs/integrations/document_loaders/airbyte_stripe.ipynb
  docs/docs/integrations/document_loaders/airbyte_typeform.ipynb
  docs/docs/integrations/document_loaders/airbyte_zendesk_support.ipynb
  docs/scripts/document_loader_feat_table.py
Labels: Ɑ: doc loader, 🤖:docs, size:L

#24044 docs[patch]: Update GPT4All docs
  docs/docs/integrations/llms/gpt4all.ipynb
  docs/docs/integrations/providers/gpt4all.mdx
Labels: 🤖:docs, size:L

#24043 [Core] Fix fstring in logger warning
  libs/core/langchain_core/callbacks/manager.py
Labels: 🤖:nit, size:XS, Ɑ: core

#24067 docs: fix spelling mistake in concepts.mdx: Fouth -> Fourth
  docs/docs/concepts.mdx
Labels: lgtm, 🤖:docs, size:XS

#23996 community[patch]: propagate cost information to OpenAI callback
  docs/docs/how_to/chat_token_usage_tracking.ipynb
  libs/community/langchain_community/callbacks/openai_info.py
Labels: 🤖:improvement, size:L, 🔌: openai, community

#24070 community[patch]: Add linter to catch @root_validator
  libs/community/langchain_community/agent_toolkits/file_management/toolkit.py
  libs/community/langchain_community/agent_toolkits/playwright/toolkit.py
  libs/community/langchain_community/document_loaders/docugami.py
  libs/community/langchain_community/document_loaders/dropbox.py
  libs/community/langchain_community/document_loaders/googledrive.py
  libs/community/langchain_community/document_loaders/youtube.py
  libs/community/langchain_community/embeddings/ascend.py
  libs/community/langchain_community/tools/edenai/audio_text_to_speech.py
  libs/community/langchain_community/tools/playwright/base.py
  libs/community/langchain_community/tools/playwright/extract_hyperlinks.py
  libs/community/langchain_community/tools/playwright/extract_text.py
  libs/community/langchain_community/tools/shell/tool.py
  libs/community/langchain_community/tools/zapier/tool.py
  libs/community/langchain_community/utilities/steam.py
  libs/community/langchain_community/utilities/you.py
  libs/community/scripts/check_pydantic.sh
Labels: 🤖:improvement, size:M, community

#23951 docs: add itemgetter in how_to/dynamic_chain
  docs/docs/how_to/dynamic_chain.ipynb
Labels: lgtm, 🤖:docs, size:XS

#23994 core[minor]: Add ToolMessage.raw_output
  libs/core/Makefile
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/utils/_merge.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_messages.py
Labels: lgtm, 🤖:improvement, size:XXL, Ɑ: core

#24090 infra: docs ignore step in script
  docs/ignore-step.sh
  docs/vercel.json
Labels: 🤖:docs, size:S

#24095 docs[patch]: Fix typos, add prereq sections
  docs/docs/how_to/index.mdx
  docs/docs/how_to/tool_choice.ipynb
  docs/docs/how_to/tool_runtime.ipynb
Labels: 🤖:docs, size:S

#23992 core[patch]: support conversion of runnables to tools
  docs/docs/how_to/convert_runnable_to_tool.ipynb
  docs/docs/how_to/index.mdx
  libs/community/langchain_community/tools/e2b_data_analysis/tool.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: 🤖:improvement, size:XL

#24096 core: release 0.2.13
  libs/core/poetry.lock
  libs/core/pyproject.toml
Labels: size:XS

#24097 openai: release 0.1.15
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, partner

#24099 docs: discourage unconfirmed partner packages
  docs/docs/contributing/integrations.mdx
Labels: 🤖:docs, size:XS

#24098 docs[patch]: Adds tool intermediate streaming guide
  docs/docs/how_to/index.mdx
  docs/docs/how_to/tool_stream_events.ipynb
Labels: 🤖:docs, size:L

#24080 core[minor]: Add dispatching for custom events
  libs/core/langchain_core/callbacks/__init__.py
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/runnables/schema.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/tests/unit_tests/callbacks/test_dispatch_custom_event.py
  libs/core/tests/unit_tests/callbacks/test_imports.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Labels: 🤖:improvement, size:XL, streaming, 08 RFC, Ɑ: Runnables, Ɑ: core

#24102 docs[patch]: Updates tool error handling guide, add admonition
  docs/docs/how_to/tool_stream_events.ipynb
  docs/docs/how_to/tools_error.ipynb
Labels: 🤖:docs, size:L

#24062 docs: Fix column positioning in the text splitting section for AI21SemanticTextSplitter
  docs/docs/concepts.mdx
Labels: lgtm, 🤖:docs, size:XS

#23978 docs: Add SQLChatMessageHistory docstring
  libs/community/langchain_community/chat_message_histories/sql.py
Labels: lgtm, 🤖:docs, size:M, community

#24065 community[minor]: Add graph store extractors
  libs/community/langchain_community/graph_vectorstores/extractors/__init__.py
  libs/community/langchain_community/graph_vectorstores/extractors/html_link_extractor.py
  libs/community/langchain_community/graph_vectorstores/extractors/link_extractor.py
  libs/community/langchain_community/graph_vectorstores/extractors/link_extractor_adapter.py
  libs/community/tests/unit_tests/graph_vectorstores/__init__.py
  libs/community/tests/unit_tests/graph_vectorstores/extractors/__init__.py
  libs/community/tests/unit_tests/graph_vectorstores/extractors/test_html_link_extractor.py
Labels: lgtm, Ɑ: vector store, size:L, community

#24026 docs: Add MiniMaxChat docstrings
  libs/community/langchain_community/chat_models/minimax.py
Labels: lgtm, 🤖:docs, size:L, community

#24127 ci[patch]: Update community linter to provide a helpful error message
  libs/community/Makefile
  libs/community/scripts/lint_imports.sh
Labels: 🤖:improvement, size:M, community

#24103 core: mermaid: Render metadata key-value pairs when drawing mermaid graph
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_fallbacks.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
  pyproject.toml
Labels: 🤖:improvement, size:L

#24128 community[patch]: QianfanLLMEndpoint fix type information for the keys
  libs/community/langchain_community/llms/baidu_qianfan_endpoint.py
Labels: 🤖:improvement, size:XS, community

#24129 core: fix docstring
  libs/core/langchain_core/runnables/graph.py
Labels: lgtm, size:XS, Ɑ: core

#24091 community: added support for C in RecursiveCharacterTextSplitter
  libs/text-splitters/langchain_text_splitters/character.py
Labels: lgtm, size:XS, Ɑ: text splitters, community

#24131 core: Add metadata to graph json repr
  libs/core/langchain_core/runnables/graph.py
  libs/core/tests/unit_tests/runnables/test_graph.py
Labels: 🤖:improvement, size:S, Ɑ: core

#24135 minor[tests]: test that bind_tools can accept regular python function
  libs/standard-tests/langchain_standard_tests/unit_tests/chat_models.py
Labels: lgtm, 🤖:nit, size:XS

#24137 core: release 0.2.14, remove poetry 1.7 incompatible flag from root
  libs/core/pyproject.toml
  poetry.lock
  pyproject.toml
Labels: size:S, 🤖:release

#24138 core[patch]: add versionadded to `as_tool`
  libs/core/langchain_core/runnables/base.py
Labels: 🤖:nit, size:XS

#24134 community:support additional Azure Search Options
  docs/docs/integrations/vectorstores/azuresearch.ipynb
  libs/community/langchain_community/vectorstores/azuresearch.py
  libs/community/tests/unit_tests/vectorstores/test_azure_search.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:M, community

#24140 community: Fixes use of ImagePromptTemplate with Ollama
  libs/community/langchain_community/chat_models/ollama.py
Labels: lgtm, 🤖:bug, size:XS, community

#24139 core[patch]: Clean up indexing test code
  libs/core/tests/unit_tests/indexing/test_indexing.py
Labels: 🤖:refactor, size:L, Ɑ: core

#23186 infra: add SQLAlchemy to min version testing
  .github/scripts/get_min_versions.py
Labels: 🤖:nit, size:XS

#24132 docs[patch]: Fix typo
  docs/docs/tutorials/rag.ipynb
Labels: 🤖:docs, size:XS

#24123 core[patch]: propagate `parse_docstring` to tool decorator
  docs/docs/how_to/custom_tools.ipynb
  libs/core/langchain_core/tools.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, 🤖:improvement, size:L

#24133 docs[patch]: Add structural example to style guide
  docs/docs/contributing/documentation/style_guide.mdx
Labels: 🤖:docs, size:XS

#24147 core: Update styles for mermaid graphs
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
Labels: size:M, Ɑ: core

#24149 core[patch]: Release 0.2.15
  libs/core/pyproject.toml
Labels: size:S, 🤖:release

#24038 core[minor], integrations...[patch]: Support ToolCall as Tool input and ToolMessage as Tool output
  libs/community/tests/unit_tests/tools/test_signatures.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/test_tools.py
  libs/langchain/poetry.lock
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/output_parsers.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_output_parsers.py
  libs/partners/azure-dynamic-sessions/langchain_azure_dynamic_sessions/tools/sessions.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/ibm/langchain_ibm/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: lgtm, needs test, needs documentation, 🤖:improvement, size:XL, partner, 08 RFC, Ɑ: core

#24143 core[patch]: Tool accept RunnableConfig
  libs/core/langchain_core/tools.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, 🤖:improvement, size:L

#24151 infra: fix redundant matrix config
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_test_doc_imports.yml
Labels: lgtm, size:S
