Repository langchain-ai/langchain, pull requests merged in 2024-03, with the labels that each got.

#18243 docs: airbyte deps note
  docs/docs/integrations/document_loaders/airbyte.ipynb
  docs/docs/integrations/providers/airbyte.mdx
Labels: lgtm, 🤖:docs, size:S

#18350 deprecation docstring with lib
  libs/core/langchain_core/_api/deprecation.py
Labels: 🤖:docs, size:XS

#18349 multiple[patch]: fix deprecation versions
  libs/community/langchain_community/embeddings/azure_openai.py
  libs/community/langchain_community/embeddings/openai.py
  libs/community/langchain_community/llms/google_palm.py
  libs/community/langchain_community/storage/upstash_redis.py
  libs/community/langchain_community/vectorstores/elastic_vector_search.py
  libs/community/langchain_community/vectorstores/redis/base.py
  libs/core/langchain_core/prompts/chat.py
Labels: Ɑ: embeddings, 🤖:bug, size:M, 🔌: openai

#18352 Fix fireworks bind tools
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
Labels: 🤖:bug, Ɑ: models, size:M, partner, 🔌: fireworks

#18295 [Core] Patch: rm dumpd of outputs from runnables/base
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Labels: lgtm, 🤖:nit, size:S, Ɑ: Runnables

#18356 Fix missing labels
  libs/core/langchain_core/runnables/graph.py
Labels: lgtm, 🤖:bug, size:S, Ɑ: Runnables

#18289 community[patch]: BaseLoader load method should just delegate to lazy_load
  libs/community/langchain_community/document_loaders/base.py
  libs/community/tests/unit_tests/document_loaders/test_base.py
Labels: lgtm, Ɑ: doc loader, 🤖:refactor, size:S, 🔌: anthropic

#18357 langchain[patch]: langchain-text-splitters dep
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: 🤖:nit, size:XS

#18359 docs: text splitters readme
  libs/text-splitters/README.md
Labels: 🤖:docs, size:XS

#18360 templates: use langchain-text-splitters
  templates/hyde/poetry.lock
  templates/hyde/pyproject.toml
  templates/mongo-parent-document-retrieval/poetry.lock
  templates/mongo-parent-document-retrieval/pyproject.toml
  templates/neo4j-advanced-rag/poetry.lock
  templates/neo4j-advanced-rag/pyproject.toml
  templates/neo4j-parent/poetry.lock
  templates/neo4j-parent/pyproject.toml
  templates/neo4j-vector-memory/poetry.lock
  templates/neo4j-vector-memory/pyproject.toml
  templates/nvidia-rag-canonical/poetry.lock
  templates/nvidia-rag-canonical/pyproject.toml
  templates/propositional-retrieval/poetry.lock
  templates/propositional-retrieval/pyproject.toml
  templates/rag-chroma-private/poetry.lock
  templates/rag-chroma-private/pyproject.toml
  templates/rag-chroma/poetry.lock
  templates/rag-chroma/pyproject.toml
  templates/rag-codellama-fireworks/poetry.lock
  templates/rag-codellama-fireworks/pyproject.toml
  templates/rag-conversation-zep/poetry.lock
  templates/rag-conversation-zep/pyproject.toml
  templates/rag-conversation/poetry.lock
  templates/rag-conversation/pyproject.toml
  templates/rag-elasticsearch/poetry.lock
  templates/rag-elasticsearch/pyproject.toml
  templates/rag-gpt-crawler/poetry.lock
  templates/rag-gpt-crawler/pyproject.toml
  templates/rag-momento-vector-index/poetry.lock
  templates/rag-momento-vector-index/pyproject.toml
  templates/rag-mongo/poetry.lock
  templates/rag-mongo/pyproject.toml
  templates/rag-ollama-multi-query/poetry.lock
  templates/rag-ollama-multi-query/pyproject.toml
  templates/rag-pinecone-multi-query/poetry.lock
  templates/rag-pinecone-multi-query/pyproject.toml
  templates/rag-pinecone-rerank/poetry.lock
  templates/rag-pinecone-rerank/pyproject.toml
  templates/rag-pinecone/poetry.lock
  templates/rag-pinecone/pyproject.toml
  templates/rag-redis/poetry.lock
  templates/rag-redis/pyproject.toml
  templates/rag-self-query/poetry.lock
  templates/rag-self-query/pyproject.toml
  templates/rag-singlestoredb/poetry.lock
  templates/rag-singlestoredb/pyproject.toml
  templates/rag-timescale-conversation/poetry.lock
  templates/rag-timescale-conversation/pyproject.toml
  templates/rag-timescale-hybrid-search-time/poetry.lock
  templates/rag-timescale-hybrid-search-time/pyproject.toml
  templates/rag-weaviate/poetry.lock
  templates/rag-weaviate/pyproject.toml
Labels: 🤖:nit, template, size:S, 🔌: mongo, Ɑ: Runnables

#18361 infra: update create_api_rst
  docs/api_reference/create_api_rst.py
Labels: 🤖:docs, size:XS

#18362 docs: update api ref nav
  docs/api_reference/themes/scikit-learn-modern/nav.html
Labels: 🤖:docs, size:XS

#18363 fireworks[patch]: remove custom async and stream implementations
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_llms.py
Labels: 🤖:refactor, Ɑ: models, size:L, partner, 🔌: fireworks

#18353 docs[patch]: Add Neo4j GraphAcademy to tutorials section
  docs/docs/additional_resources/tutorials.mdx
Labels: 🤖:docs, size:S

#18040 chore(deps): FastEmbed to latest
  libs/community/langchain_community/embeddings/fastembed.py
Labels: lgtm, Ɑ: embeddings, 🤖:nit, size:XS, 🔌: qdrant

#18299 Add dataset version info
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: 🤖:improvement, size:XS, Ɑ: Runnables

#18372 partner: Fix fireworks async stream
  libs/partners/fireworks/Makefile
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/langchain_fireworks/llms.py
  libs/partners/fireworks/poetry.lock
  libs/partners/fireworks/pyproject.toml
Labels: 🤖:improvement, Ɑ: models, size:L, partner, 🔌: fireworks

#17622 community: Change github endpoint in GithubLoader
  libs/community/langchain_community/document_loaders/github.py
  libs/community/tests/unit_tests/document_loaders/test_github.py
Labels: Ɑ: doc loader, 🤖:bug, size:S

#18054 docs: nvidia: provider page update
  docs/docs/integrations/providers/nvidia.mdx
Labels: lgtm, 🤖:docs, size:M, 🔌: nvidia

#17966 `runnable` module description
  libs/core/langchain_core/runnables/__init__.py
  libs/langchain/langchain/runnables/__init__.py
Labels: lgtm, 🤖:docs, size:S

#11591 Add openvino backend support
  docs/docs/integrations/llms/huggingface_pipelines.ipynb
  docs/docs/integrations/platforms/huggingface.mdx
  libs/community/langchain_community/llms/huggingface_pipeline.py
  libs/community/tests/integration_tests/llms/test_huggingface_pipeline.py
Labels: lgtm, 🤖:enhancement, Ɑ: models, size:L

#17953 community: add BigDL-LLM integrations
  docs/docs/integrations/llms/bigdl.ipynb
  libs/community/langchain_community/llms/bigdl.py
  libs/community/tests/integration_tests/llms/test_bigdl.py
Labels: lgtm, 🤖:enhancement, Ɑ: models, size:L

#17655 community: Voyage AI updates default model and batch size
  docs/docs/integrations/text_embedding/voyageai.ipynb
  libs/community/langchain_community/embeddings/voyageai.py
  libs/community/tests/integration_tests/embeddings/test_voyageai.py
Labels: lgtm, Ɑ: embeddings, size:M

#18375 Community: Fix ChatModel for sparkllm Bug.
  libs/community/langchain_community/chat_models/sparkllm.py
  libs/community/langchain_community/llms/sparkllm.py
Labels: lgtm, 🤖:bug, Ɑ: models, size:S

#17809 templates: Lanceb RAG template
  templates/rag-lancedb/LICENSE
  templates/rag-lancedb/README.md
  templates/rag-lancedb/poetry.lock
  templates/rag-lancedb/pyproject.toml
  templates/rag-lancedb/rag_lancedb/__init__.py
  templates/rag-lancedb/rag_lancedb/chain.py
  templates/rag-lancedb/tests/__init__.py
Labels: lgtm, 🤖:enhancement, Ɑ: models, template, size:L

#18354 astradb: move to langchain-datastax repo
  .github/scripts/check_diff.py
  .github/workflows/api_doc_build.yml
  libs/partners/astradb/LICENSE
  libs/partners/astradb/Makefile
  libs/partners/astradb/README.md
  libs/partners/astradb/langchain_astradb/__init__.py
  libs/partners/astradb/langchain_astradb/chat_message_histories.py
  libs/partners/astradb/langchain_astradb/py.typed
  libs/partners/astradb/langchain_astradb/storage.py
  libs/partners/astradb/langchain_astradb/utils/astradb.py
  libs/partners/astradb/langchain_astradb/utils/mmr.py
  libs/partners/astradb/langchain_astradb/vectorstores.py
  libs/partners/astradb/poetry.lock
  libs/partners/astradb/pyproject.toml
  libs/partners/astradb/scripts/check_imports.py
  libs/partners/astradb/scripts/check_pydantic.sh
  libs/partners/astradb/scripts/lint_imports.sh
  libs/partners/astradb/tests/__init__.py
  libs/partners/astradb/tests/integration_tests/.env.example
  libs/partners/astradb/tests/integration_tests/__init__.py
  libs/partners/astradb/tests/integration_tests/conftest.py
  libs/partners/astradb/tests/integration_tests/test_chat_message_histories.py
  libs/partners/astradb/tests/integration_tests/test_compile.py
  libs/partners/astradb/tests/integration_tests/test_storage.py
  libs/partners/astradb/tests/integration_tests/test_vectorstores.py
  libs/partners/astradb/tests/unit_tests/__init__.py
  libs/partners/astradb/tests/unit_tests/test_imports.py
  libs/partners/astradb/tests/unit_tests/test_vectorstores.py
Labels: Ɑ: vector store, 🤖:refactor, size:XXL, partner, 🔌: astradb

#18230 docs: `Tutorials` update
  docs/docs/additional_resources/tutorials.mdx
Labels: lgtm, 🤖:docs, size:L

#18343 fireworks[patch]: support "any" tool_choice
  libs/partners/fireworks/langchain_fireworks/chat_models.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:S, partner, 🔌: fireworks

#18391 community: Implement lazy_load() for CSVLoader
  libs/community/langchain_community/document_loaders/csv_loader.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, 🔌: anthropic

#18395 Refactor/type ignore fixes
  libs/community/langchain_community/chat_models/kinetica.py
  libs/community/langchain_community/document_loaders/azure_blob_storage_container.py
  libs/community/langchain_community/document_loaders/blackboard.py
  libs/community/langchain_community/document_loaders/confluence.py
Labels: Ɑ: doc loader, 🤖:refactor, size:S

#18397 community: fix, better error message in deeplake vectoriser
  libs/community/langchain_community/vectorstores/deeplake.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, 🔌: chroma, size:S

#18394 docs: Update Google El Carro for Oracle Workload Documentation.
  docs/docs/integrations/document_loaders/google_el_carro.ipynb
  docs/docs/integrations/memory/google_el_carro.ipynb
  docs/docs/integrations/platforms/google.mdx
Labels: lgtm, 🤖:docs, size:XL, 🔌: google

#18373 docs: fix typo in milvus.ipynb
  docs/docs/integrations/vectorstores/milvus.ipynb
Labels: Ɑ: vector store, 🤖:docs, 🔌: milvus, size:XS

#18286 core[patch]: Invoke callback prior to yielding token
  libs/core/tests/unit_tests/fake/chat_model.py
  libs/core/tests/unit_tests/runnables/test_runnable_events.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:S

#18385 community: Use default load() implementation in doc loaders
  libs/community/langchain_community/document_loaders/acreom.py
  libs/community/langchain_community/document_loaders/airbyte.py
  libs/community/langchain_community/document_loaders/airtable.py
  libs/community/langchain_community/document_loaders/arcgis_loader.py
  libs/community/langchain_community/document_loaders/astradb.py
  libs/community/langchain_community/document_loaders/athena.py
  libs/community/langchain_community/document_loaders/azure_ai_data.py
  libs/community/langchain_community/document_loaders/baiducloud_bos_directory.py
  libs/community/langchain_community/document_loaders/baiducloud_bos_file.py
  libs/community/langchain_community/document_loaders/bibtex.py
  libs/community/langchain_community/document_loaders/browserless.py
  libs/community/langchain_community/document_loaders/cassandra.py
  libs/community/langchain_community/document_loaders/chromium.py
  libs/community/langchain_community/document_loaders/couchbase.py
  libs/community/langchain_community/document_loaders/dataframe.py
  libs/community/langchain_community/document_loaders/doc_intelligence.py
  libs/community/langchain_community/document_loaders/etherscan.py
  libs/community/langchain_community/document_loaders/fauna.py
  libs/community/langchain_community/document_loaders/generic.py
  libs/community/langchain_community/document_loaders/geodataframe.py
  libs/community/langchain_community/document_loaders/github.py
  libs/community/langchain_community/document_loaders/hugging_face_dataset.py
  libs/community/langchain_community/document_loaders/hugging_face_model.py
  libs/community/langchain_community/document_loaders/joplin.py
  libs/community/langchain_community/document_loaders/larksuite.py
  libs/community/langchain_community/document_loaders/max_compute.py
  libs/community/langchain_community/document_loaders/mediawikidump.py
  libs/community/langchain_community/document_loaders/merge.py
  libs/community/langchain_community/document_loaders/onedrive.py
  libs/community/langchain_community/document_loaders/onenote.py
  libs/community/langchain_community/document_loaders/open_city_data.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/langchain_community/document_loaders/pubmed.py
  libs/community/langchain_community/document_loaders/readthedocs.py
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
  libs/community/langchain_community/document_loaders/rocksetdb.py
  libs/community/langchain_community/document_loaders/rspace.py
  libs/community/langchain_community/document_loaders/sharepoint.py
  libs/community/langchain_community/document_loaders/snowflake_loader.py
  libs/community/langchain_community/document_loaders/sql_database.py
  libs/community/langchain_community/document_loaders/tencent_cos_directory.py
  libs/community/langchain_community/document_loaders/tencent_cos_file.py
  libs/community/langchain_community/document_loaders/tensorflow_datasets.py
  libs/community/langchain_community/document_loaders/tidb.py
  libs/community/langchain_community/document_loaders/tomarkdown.py
  libs/community/langchain_community/document_loaders/toml.py
  libs/community/langchain_community/document_loaders/weather.py
  libs/community/langchain_community/document_loaders/web_base.py
  libs/langchain/tests/unit_tests/indexes/test_indexing.py
Labels: lgtm, Ɑ: doc loader, 🤖:refactor, size:L

#18213 cookbook on gemma integrations
  cookbook/Gemma_LangChain.ipynb
Labels: lgtm, 🤖:docs, size:XL, 🔌: google

#18180 community: removing "response_mode" parameter in llama_index retriever
  libs/community/langchain_community/retrievers/llama_index.py
Labels: lgtm, 🤖:bug, size:XS, Ɑ: retriever

#18193 community: fix RecursiveUrlLoader metadata_extractor return type
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS

#18176 docs: Fix typo in baidu_qianfan_endpoint.ipynb & baidu_qianfan_endpoint.ipynb
  docs/docs/integrations/llms/baidu_qianfan_endpoint.ipynb
  docs/docs/integrations/text_embedding/baidu_qianfan_endpoint.ipynb
Labels: Ɑ: embeddings, 🤖:docs, size:XS

#18170 docs: update pinecone README to use PineconeVectorStore
  libs/partners/pinecone/README.md
Labels: lgtm, 🤖:docs, 🔌: pinecone, size:XS, partner

#18250 community[patch]: chat message histrory mypy fix
  libs/community/langchain_community/chat_message_histories/streamlit.py
Labels: lgtm, 🤖:improvement, size:S

#18317 ollama[patch]: don't try to parse json in case of errored response
  libs/community/langchain_community/llms/ollama.py
Labels: lgtm, 🤖:bug, Ɑ: models, size:XS

#17971 community: Fix MongoDBAtlasVectorSearch max_marginal_relevance_search
  libs/community/langchain_community/vectorstores/mongodb_atlas.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS

#17717 Fix: the syntax error for Redis generated query
  libs/community/langchain_community/vectorstores/redis/base.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, 🔌: redis, size:XS

#17675 community: add maritalk chat
  docs/docs/integrations/chat/maritalk.ipynb
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/maritalk.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
Labels: lgtm, 🤖:enhancement, Ɑ: models, size:L

#17024 Community/Partners: Add support for Perplexity AI
  docs/docs/integrations/chat/perplexity.ipynb
  libs/community/langchain_community/chat_models/__init__.py
  libs/community/langchain_community/chat_models/perplexity.py
  libs/community/tests/unit_tests/chat_models/test_imports.py
  libs/community/tests/unit_tests/chat_models/test_perplexity.py
Labels: lgtm, needs documentation, 🤖:enhancement, Ɑ: models, size:XL

#17683 community/langchain/docs: Gremlin Graph Store and QA Chain
  docs/docs/use_cases/graph/graph_gremlin_cosmosdb_qa.ipynb
  libs/community/langchain_community/graphs/__init__.py
  libs/community/langchain_community/graphs/gremlin_graph.py
  libs/community/tests/unit_tests/graphs/test_imports.py
  libs/langchain/langchain/chains/graph_qa/gremlin.py
Labels: lgtm, 🤖:docs, size:XL

#17981 Correct WebBaseLoader URL: docs: python.langchain.com/docs/get_started/quickstartQuickstart
  docs/docs/get_started/quickstart.mdx
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:XS

#12188 community[patch]: Make cohere_api_key a SecretStr
  libs/community/langchain_community/llms/cohere.py
  libs/community/tests/integration_tests/llms/test_cohere.py
Labels: lgtm, 🤖:nit, Ɑ: models, size:M

#18169 docs[chatopenai]: update module import path and calling method
  docs/docs/integrations/chat/openai.ipynb
Labels: lgtm, 🤖:docs, size:XS, 🔌: openai

#18122 Add an option for indexed generic label when import neo4j graph documents
  libs/community/langchain_community/graphs/neo4j_graph.py
  libs/community/tests/integration_tests/graphs/test_neo4j.py
Labels: lgtm, 🤖:improvement, size:L

#18049 docs: add llamafile info to 'Local LLMs' guides
  docs/docs/guides/local_llms.ipynb
  docs/docs/use_cases/question_answering/local_retrieval_qa.ipynb
Labels: lgtm, 🤖:docs, Ɑ: models, size:L

#18402 langchain-mongodb: Set delete_many only if count_documents is not 0
  libs/partners/mongodb/tests/integration_tests/test_vectorstores.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XS, partner, 🔌: mongo

#18386 langchain_ibm[patch] update docstring, dependencies, tests
  libs/partners/ibm/README.md
  libs/partners/ibm/langchain_ibm/llms.py
  libs/partners/ibm/poetry.lock
  libs/partners/ibm/pyproject.toml
  libs/partners/ibm/tests/integration_tests/test_llms.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:L, partner

#18005 docs: update Azure OpenAI to v1 and langchain API to 0.1
  docs/docs/integrations/llms/azure_openai.ipynb
Labels: lgtm, 🤖:docs, size:M, 🔌: openai

#17976 community: llamafile embeddings support
  docs/docs/integrations/text_embedding/llamafile.ipynb
  libs/community/langchain_community/embeddings/__init__.py
  libs/community/langchain_community/embeddings/llamafile.py
  libs/community/langchain_community/llms/__init__.py
  libs/community/tests/unit_tests/embeddings/test_imports.py
  libs/community/tests/unit_tests/embeddings/test_llamafile.py
Labels: lgtm, Ɑ: embeddings, 🤖:enhancement, size:L

#18112 templates: remove gemini_function_agent unused file
  templates/gemini-functions-agent/main.py
Labels: Ɑ: agent, lgtm, 🤖:improvement, template, size:XS, 🔌: openai

#17964 package: community/langchain_community/vectorstores/chroma.py
  libs/community/langchain_community/vectorstores/chroma.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, 🔌: chroma, size:XS

#18404 docs: stop copying source
  docs/api_reference/conf.py
Labels: lgtm, 🤖:docs, size:XS

#17998 docs: Fix spelling typos in apache_kafka notebook
  cookbook/apache_kafka_message_handling.ipynb
Labels: lgtm, 🤖:docs, size:S

#18178 infra: update to pathspec for 'git grep' in lint check
  Makefile
Labels: lgtm, 🤖:bug, size:XS

#18408 community[patch]: release 0.0.25
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#18410 langchain[patch]: release 0.1.10
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#18358 more query analysis docs
  docs/docs/use_cases/query_analysis/how_to/constructing-filters.ipynb
  docs/docs/use_cases/query_analysis/how_to/few_shot.ipynb
  docs/docs/use_cases/query_analysis/how_to/high_cardinality.ipynb
  docs/docs/use_cases/query_analysis/how_to/multiple_queries.ipynb
  docs/docs/use_cases/query_analysis/how_to/multiple_retrievers.ipynb
  docs/docs/use_cases/query_analysis/how_to/no_queries.ipynb
  docs/docs/use_cases/query_analysis/index.ipynb
  docs/docs/use_cases/query_analysis/quickstart.ipynb
  docs/docs/use_cases/query_analysis/techniques/hyde.ipynb
  docs/docs/use_cases/query_analysis/techniques/step_back.ipynb
Labels: 🤖:docs, size:XXL, Ɑ: retriever

#18459 docs: anthropic qa quickstart
  docs/docs/use_cases/question_answering/quickstart.ipynb
  docs/docs/use_cases/question_answering/quickstart.mdx
Labels: 🤖:docs, size:XXL, 🔌: anthropic

#18440 docs: anthropic quickstart
  docs/docs/get_started/quickstart.mdx
  docs/docs/modules/model_io/quick_start.mdx
Labels: 🤖:docs, size:M, 🔌: anthropic

#16856 Adding Azure Cosmos Mongo vCore Vector DB Cache
  docs/docs/integrations/llms/llm_caching.ipynb
  docs/docs/integrations/vectorstores/azure_cosmos_db.ipynb
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/vectorstores/azure_cosmos_db.py
  libs/community/tests/integration_tests/vectorstores/test_azure_cosmos_db.py
  libs/langchain/tests/integration_tests/cache/test_azure_cosmosdb_cache.py
Labels: lgtm, Ɑ: vector store, 🤖:enhancement, size:XXL

#18454 community[patch]: Invoke callback prior to yielding token
  libs/community/langchain_community/llms/baidu_qianfan_endpoint.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:XS

#18452 community[patch]: Invoke callback prior to yielding token
  libs/community/langchain_community/llms/anthropic.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:XS, 🔌: anthropic

#18449 community[patch]: Invoke callback prior to yielding token
  libs/community/langchain_community/chat_models/perplexity.py
Labels: lgtm, 🤖:bug, Ɑ: models, size:XS

#18448 community[patch]: Invoke callback prior to yielding token
  libs/community/langchain_community/llms/tongyi.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:XS

#18447 community[patch]: Invoke callback prior to yielding token
  libs/community/langchain_community/llms/vertexai.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:XS, 🔌: google

#18446 nvidia-trt[patch]: Invoke callback prior to yielding token
  libs/partners/nvidia-trt/langchain_nvidia_trt/llms.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:XS, partner, 🔌: nvidia

#18426 improve query analysis docs
  docs/docs/use_cases/query_analysis/how_to/_category_.yml
  docs/docs/use_cases/query_analysis/how_to/high_cardinality.ipynb
  docs/docs/use_cases/query_analysis/index.ipynb
Labels: 🤖:docs, size:S

#18307 langchain[patch]: add tools renderer for various non-openai agents
  libs/langchain/langchain/agents/json_chat/base.py
  libs/langchain/langchain/agents/mrkl/base.py
  libs/langchain/langchain/agents/react/agent.py
  libs/langchain/langchain/agents/structured_chat/base.py
  libs/langchain/langchain/agents/xml/base.py
  libs/langchain/langchain/tools/render.py
Labels: Ɑ: agent, lgtm, 🤖:improvement, size:M

#18463 [Evals] Session-level feedback
  docs/docs/langsmith/img/log_traces.png
  docs/docs/langsmith/img/test_results.png
  docs/docs/langsmith/walkthrough.ipynb
  libs/langchain/langchain/smith/evaluation/config.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: 🤖:improvement, size:XL, Ɑ: Runnables, 🔌: fireworks

#18470 Update Notebook Image
  docs/docs/langsmith/img/test_results.png
Labels: size:XS

#18471 Evaluate on Version
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: 🤖:improvement, size:M, Ɑ: Runnables

#18472 Improve notebook wording
  docs/docs/langsmith/walkthrough.ipynb
Labels: 🤖:docs, size:S

#18473 👥 Update LangChain people data
  docs/data/people.yml
Labels: 🤖:docs, size:XL

#18403 Docs: Updated callbacks/index.mdx adding example on invoke method
  docs/docs/modules/callbacks/index.mdx
Labels: lgtm, 🤖:docs, size:S, Ɑ: Runnables

#18508 anthropic[minor]: claude 3
  docs/docs/integrations/chat/anthropic.ipynb
  docs/docs/integrations/llms/anthropic.ipynb
  docs/docs/integrations/platforms/anthropic.mdx
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/llms.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: 🤖:docs, Ɑ: models, size:M, partner, 🔌: anthropic

#18503 docs: add groq to list of providers
  docs/docs/integrations/platforms/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#18499 docs: Update function "run" to "invoke"
  cookbook/llm_checker.ipynb
Labels: lgtm, 🤖:docs, size:XS, Ɑ: Runnables

#18496 community: Improved notebook for vector store "HANA Cloud"
  docs/docs/integrations/vectorstores/sap_hanavector.ipynb
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:S

#18486 docs: update documentation of stackexchange component
  docs/docs/integrations/tools/stackexchange.ipynb
Labels: lgtm, 🤖:docs, size:M

#18467 RAPTOR
  cookbook/RAPTOR.ipynb
Labels: 🤖:docs, size:XS

#18534 [Evals] Support list examples by dataset version tag
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: 🤖:improvement, size:S, 🔌: anthropic, Ɑ: Runnables

#18530 core: Release 0.1.29
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#18526 docs[minor]: Add thumbs up/down to all docs pages
  .github/workflows/codespell.yml
  docs/.yarnrc.yml
  docs/package.json
  docs/src/analytics.js
  docs/src/theme/DocItem/Content/index.js
  docs/src/theme/Feedback.js
  docs/yarn.lock
Labels: 🤖:docs, size:L

#18542 Evals wording
  libs/langchain/langchain/smith/evaluation/runner_utils.py
Labels: 🤖:nit, size:XS, Ɑ: Runnables

#18544 community[patch]: deprecate community fireworks
  libs/community/langchain_community/chat_models/fireworks.py
  libs/community/langchain_community/llms/fireworks.py
Labels: 🤖:nit, Ɑ: models, size:S, 🔌: fireworks

#18517 anthropic[patch]: multimodal
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: 🤖:docs, Ɑ: models, size:L, partner, 🔌: anthropic

#18551 Update chain.py fixewd typo in chain
  templates/rag-lancedb/rag_lancedb/chain.py
Labels: lgtm, 🤖:nit, template, size:XS

#18510 anthropic[patch]: model type string
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: 🤖:nit, Ɑ: models, size:XS, partner, 🔌: anthropic

#18558 langchain[patch]: Release 0.1.11
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#18554 anthropic[minor]: add tool calling
  docs/docs/integrations/chat/anthropic_functions.ipynb
  libs/experimental/langchain_experimental/llms/anthropic_functions.py
  libs/partners/anthropic/README.md
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/langchain_anthropic/experimental.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_experimental.py
Labels: 🤖:improvement, Ɑ: models, size:XL, partner, 🔌: anthropic

#18586 docs: anthropic multimodal
  docs/docs/integrations/chat/anthropic.ipynb
Labels: 🤖:docs, size:M, 🔌: anthropic

#18585 marked MatchingEngine as deprecated
  libs/community/langchain_community/vectorstores/matching_engine.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:XS, 🔌: google

#18584 community: Implement lazy_load() for GithubFileLoader
  libs/community/langchain_community/document_loaders/github.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:XS

#18581 Add precedence for input params over env variables in neo4j integration
  libs/community/langchain_community/graphs/neo4j_graph.py
  libs/community/langchain_community/vectorstores/neo4j_vector.py
Labels: lgtm, Ɑ: vector store, 🤖:improvement, size:M, 🔌: neo4j

#17470 langchain-mongodb: Add MongoDB LLM Cache
  docs/docs/integrations/providers/mongodb_atlas.mdx
  libs/partners/mongodb/langchain_mongodb/cache.py
  libs/partners/mongodb/tests/integration_tests/test_cache.py
  libs/partners/mongodb/tests/unit_tests/test_cache.py
  libs/partners/mongodb/tests/unit_tests/test_vectorstores.py
  libs/partners/mongodb/tests/utils.py
Labels: Ɑ: memory, lgtm, needs test, needs documentation, 🤖:improvement, size:XL, partner

#18597 airbyte[patch]: release 0.1.1, python 3.9 compat
  libs/partners/airbyte/poetry.lock
  libs/partners/airbyte/pyproject.toml
Labels: size:XS, partner, 🤖:release, 🔌: anthropic

#18569 community:update telegram notebook
  docs/docs/integrations/document_loaders/telegram.ipynb
Labels: lgtm, Ɑ: doc loader, 🤖:docs, size:XS

#18600 core[patch]: deprecate hwchase17/langchain-hub, address path traversal
  libs/core/langchain_core/utils/loading.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/utils/test_loading.py
Labels: lgtm, 🤖:bug, size:S

#18568 docs:Update function "run" to "invoke" in smart_llm.ipynb
  cookbook/smart_llm.ipynb
Labels: lgtm, 🤖:docs, Ɑ: models, size:XS

#18564 Remove neo4j bloom labels from graph schema
  libs/community/langchain_community/graphs/neo4j_graph.py
  libs/community/tests/integration_tests/graphs/test_neo4j.py
Labels: lgtm, 🤖:refactor, size:M, 🔌: neo4j

#18560 community[patch]: Invoke callback prior to yielding token (titan_takeoff)
  libs/community/langchain_community/llms/titan_takeoff.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:XS

#18550 docs: `providers` update 5
  docs/docs/integrations/providers/slack.mdx
  docs/docs/integrations/providers/telegram.mdx
  docs/docs/integrations/providers/tencent.mdx
  docs/docs/integrations/providers/twitter.mdx
Labels: lgtm, 🤖:docs, size:M

#18605 anthropic[patch]: fix argument integration test
  libs/partners/anthropic/tests/integration_tests/test_experimental.py
Labels: 🤖:bug, size:XS, partner, 🔌: anthropic

#18609 anthropic[patch]: handle lists in function calling
  libs/partners/anthropic/langchain_anthropic/experimental.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_experimental.py
Labels: 🤖:improvement, size:L, partner, 🔌: anthropic

#18270 partners: AI21 Labs Contextual Answers support
  docs/docs/integrations/llms/ai21.ipynb
  libs/partners/ai21/README.md
  libs/partners/ai21/langchain_ai21/__init__.py
  libs/partners/ai21/langchain_ai21/contextual_answers.py
  libs/partners/ai21/poetry.lock
  libs/partners/ai21/pyproject.toml
  libs/partners/ai21/tests/integration_tests/test_contextual_answers.py
  libs/partners/ai21/tests/unit_tests/conftest.py
  libs/partners/ai21/tests/unit_tests/test_contextual_answers.py
  libs/partners/ai21/tests/unit_tests/test_imports.py
Labels: lgtm, 🤖:enhancement, Ɑ: models, size:L, partner

#18614 docs: query analysis links
  docs/docs/use_cases/query_analysis/index.ipynb
Labels: size:S

#16848 nvidia-trt:add TritonTensorRTLLM(verbose_client=False)
  libs/partners/nvidia-trt/langchain_nvidia_trt/llms.py
  libs/partners/nvidia-trt/tests/unit_tests/test_llms.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:M, partner

#18106 fix: Add retriever self_query and score_threshold in DingoDB
  docs/api_reference/guide_imports.json
  docs/docs/integrations/retrievers/self_query/dingo.ipynb
  libs/community/langchain_community/vectorstores/dingo.py
  libs/langchain/langchain/retrievers/self_query/base.py
  libs/langchain/langchain/retrievers/self_query/dingo.py
  libs/langchain/tests/unit_tests/retrievers/self_query/test_dingo.py
Labels: lgtm, 🤖:improvement, size:L, Ɑ: retriever

#18497 elasticsearch docs: Update README
  docs/docs/integrations/vectorstores/elasticsearch.ipynb
  libs/partners/elasticsearch/README.md
  libs/partners/elasticsearch/poetry.lock
  libs/partners/elasticsearch/pyproject.toml
Labels: lgtm, Ɑ: vector store, 🤖:docs, 🔌: elasticsearch, size:L, partner

#18405 Docs: fix link and missing package
  docs/docs/integrations/chat/maritalk.ipynb
Labels: lgtm, 🤖:docs, size:XS

#18003 community: use jq schema for content_key in json_loader
  docs/docs/modules/data_connection/document_loaders/json.mdx
  libs/community/langchain_community/document_loaders/json_loader.py
  libs/community/tests/unit_tests/document_loaders/test_json_loader.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:L

#17924 community: add Yuque document loader
  docs/docs/integrations/document_loaders/yuque.ipynb
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/yuque.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
  libs/langchain/langchain/document_loaders/__init__.py
  libs/langchain/tests/unit_tests/document_loaders/test_imports.py
Labels: lgtm, Ɑ: doc loader, 🤖:enhancement, size:L

#18429 docs: minor spelling errors
  docs/docs/use_cases/code_understanding.ipynb
  docs/docs/use_cases/extraction.ipynb
  docs/docs/use_cases/web_scraping.ipynb
Labels: lgtm, 🤖:docs, size:XS

#18529 community: Fix VectorStoreQATool
  libs/community/langchain_community/tools/vectorstore/tool.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, 🔌: milvus, size:S

#18509 community: Improve amadeus tool and doc
  docs/docs/integrations/toolkits/amadeus.ipynb
  libs/community/langchain_community/tools/amadeus/flight_search.py
Labels: lgtm, 🤖:bug, size:L

#18589 docs: text splitters install
  docs/docs/modules/data_connection/document_transformers/HTML_header_metadata.ipynb
  docs/docs/modules/data_connection/document_transformers/character_text_splitter.ipynb
  docs/docs/modules/data_connection/document_transformers/code_splitter.ipynb
  docs/docs/modules/data_connection/document_transformers/index.mdx
  docs/docs/modules/data_connection/document_transformers/markdown_header_metadata.ipynb
  docs/docs/modules/data_connection/document_transformers/recursive_json_splitter.ipynb
  docs/docs/modules/data_connection/document_transformers/recursive_text_splitter.ipynb
  docs/docs/modules/data_connection/document_transformers/split_by_token.ipynb
Labels: 🤖:docs, size:M

#18601 langchain-mongodb: include LLM caches in toplevel library import
  libs/partners/mongodb/langchain_mongodb/__init__.py
  libs/partners/mongodb/tests/unit_tests/test_imports.py
Labels: lgtm, 🤖:improvement, size:S, partner, 🔌: mongo

#18587 elasticsearch: add `ElasticsearchRetriever`
  libs/partners/elasticsearch/langchain_elasticsearch/_utilities.py
  libs/partners/elasticsearch/langchain_elasticsearch/chat_history.py
  libs/partners/elasticsearch/langchain_elasticsearch/client.py
  libs/partners/elasticsearch/langchain_elasticsearch/retrievers.py
  libs/partners/elasticsearch/langchain_elasticsearch/vectorstores.py
  libs/partners/elasticsearch/poetry.lock
  libs/partners/elasticsearch/tests/integration_tests/_test_utilities.py
  libs/partners/elasticsearch/tests/integration_tests/docker-compose.yml
  libs/partners/elasticsearch/tests/integration_tests/test_chat_history.py
  libs/partners/elasticsearch/tests/integration_tests/test_retrievers.py
  libs/partners/elasticsearch/tests/integration_tests/test_vectorstores.py
Labels: lgtm, 🤖:enhancement, 🔌: elasticsearch, size:XL, partner, Ɑ: retriever

#18616 docs: why lcel nit
  docs/docs/expression_language/why.ipynb
Labels: lgtm, 🤖:docs, Ɑ: lcel, size:M

#18608 docs: structured_output
  docs/docs/guides/structured_output.ipynb
Labels: lgtm, 🤖:docs, size:S

#18538 community: Implement lazy_load() for EverNoteLoader
  libs/community/langchain_community/document_loaders/evernote.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:M

#18535 community: Implement lazy_load() for CubeSemanticLoader
  libs/community/langchain_community/document_loaders/cube_semantic.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, 🔌: fireworks

#18527 docs: `providers` update 3
  docs/docs/integrations/callbacks/fiddler.ipynb
  docs/docs/integrations/providers/argilla.mdx
  docs/docs/integrations/providers/comet_tracking.ipynb
  docs/docs/integrations/providers/confident.mdx
  docs/docs/integrations/providers/fiddler.md
Labels: lgtm, 🤖:docs, size:L

#18618 infra: reorder api docs build steps
  .github/workflows/api_doc_build.yml
Labels: 🤖:docs, size:S

#18607 community: Databricks SerDe uses cloudpickle instead of pickle
  libs/community/langchain_community/llms/databricks.py
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/llms/test_databricks.py
Labels: lgtm, 🤖:improvement, Ɑ: models, size:M

#18670 community: Implement lazy_load() for GitbookLoader
  libs/community/langchain_community/document_loaders/gitbook.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S

#18667 community: Implement lazy_load() for SitemapLoader
  libs/community/langchain_community/document_loaders/sitemap.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, 🔌: anthropic

#18664 community: Implement lazy_load() for ArxivLoader
  libs/community/langchain_community/document_loaders/arxiv.py
  libs/community/langchain_community/utilities/arxiv.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:M, 🔌: astradb

#18588 Docs: Revamp Extraction Use Case
  docs/docs/use_cases/extraction.ipynb
  docs/docs/use_cases/extraction/guidelines.ipynb
  docs/docs/use_cases/extraction/how_to/_category_.yml
  docs/docs/use_cases/extraction/how_to/examples.ipynb
  docs/docs/use_cases/extraction/how_to/handle_files.ipynb
  docs/docs/use_cases/extraction/how_to/handle_long_text.ipynb
  docs/docs/use_cases/extraction/how_to/parse.ipynb
  docs/docs/use_cases/extraction/index.ipynb
  docs/docs/use_cases/extraction/quickstart.ipynb
Labels: 🤖:docs, size:XXL, Ɑ: parsing, 🔌: anthropic

#18672 Use Case: Extraction set temperature to 0, qualify a statement
  docs/docs/use_cases/extraction/how_to/examples.ipynb
  docs/docs/use_cases/extraction/how_to/handle_long_text.ipynb
  docs/docs/use_cases/extraction/how_to/parse.ipynb
  docs/docs/use_cases/extraction/index.ipynb
  docs/docs/use_cases/extraction/quickstart.ipynb
Labels: lgtm, 🤖:docs, size:L, Ɑ: parsing

#18683 community[patch]: Release 0.0.26
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release

#18680 community[minor]: Implement lazy_load() for WikipediaLoader
  libs/community/langchain_community/document_loaders/wikipedia.py
  libs/community/langchain_community/utilities/wikipedia.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S

#18677 community: Implement lazy_load() for WhatsAppChatLoader
  libs/community/langchain_community/document_loaders/whatsapp_chat.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:XS, 🔌: anthropic

#18675 community: Implement lazy_load() for SlackDirectoryLoader
  libs/community/langchain_community/document_loaders/slack_directory.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, 🔌: anthropic

#18658 community: Implement lazy_load() for TrelloLoader
  libs/community/langchain_community/document_loaders/trello.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:XS

#18656 community: Implement lazy_load() for PsychicLoader
  libs/community/langchain_community/document_loaders/psychic.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S

#18654 community: Implement lazy_load() for ObsidianLoader
  libs/community/langchain_community/document_loaders/obsidian.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S

#18647 community: Implement lazy_load() for UnstructuredBaseLoader
  libs/community/langchain_community/document_loaders/unstructured.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, 🔌: anthropic

#18436 community: Implement lazy_load() for ConfluenceLoader
  libs/community/langchain_community/document_loaders/confluence.py
  libs/community/tests/unit_tests/document_loaders/test_confluence.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:L

#18421 community: Implement lazy_load() for AssemblyAIAudioTranscriptLoader
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/assemblyai.py
  libs/community/tests/unit_tests/document_loaders/test_assemblyai.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:M

#18671 community: Implement lazy_load() for MastodonTootsLoader
  libs/community/langchain_community/document_loaders/mastodon.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S

#18673 community: Implement lazy_load() for PDFMinerPDFasHTMLLoader and PyMuPDFLoader
  libs/community/langchain_community/document_loaders/pdf.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, 🔌: anthropic

#18539 community: Implement lazy_load() for GitLoader
  libs/community/langchain_community/document_loaders/git.py
Labels: lgtm, Ɑ: doc loader, 🤖:improvement, size:S, 🔌: anthropic
