Repository langchain-ai/langchain, pull requests merged in 2025-07, with the labels that each got.

#31798 langchain-huggingface[patch]: Add ruff bandit rules to linter
  libs/partners/huggingface/pyproject.toml
Labels: size:XS, 🤖:security

#31805 langchain-nomic[patch]: Add ruff bandit rules to linter
  libs/partners/nomic/langchain_nomic/embeddings.py
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
Labels: lgtm, 🤖:nit, size:S

#31809 groq: release 0.3.5
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Labels: size:XS, 🤖:release

#31811 langchain-ollama[patch]: Add ruff bandit rules to linter
  libs/partners/ollama/pyproject.toml
Labels: size:XS

#31810 update pyproject.toml flake8 comment
  libs/partners/nomic/pyproject.toml
Labels: 🤖:nit, size:XS

#31812 langchain-perplexity[patch]: Add ruff bandit rules to linter
  libs/partners/perplexity/pyproject.toml
Labels: 🤖:nit, size:XS

#31814 langchain-prompty[patch]: Add ruff bandit rules to linter
  libs/partners/prompty/langchain_prompty/core.py
  libs/partners/prompty/langchain_prompty/parsers.py
  libs/partners/prompty/langchain_prompty/renderers.py
  libs/partners/prompty/pyproject.toml
Labels: 🤖:nit, size:M

#31816 langchain-xai[patch]: Add ruff bandit rules to linter
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/pyproject.toml
Labels: 🤖:nit, size:M

#31813 core[path]: Use context manager for FileCallbackHandler
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/file.py
  libs/langchain/tests/unit_tests/callbacks/test_file.py
Labels: size:L

#31833 docs: Add PR info doc
  docs/docs/contributing/tutorials/docs.mdx
Labels: lgtm, 🤖:docs, size:XS

#31819 text-splitters[patch]: Remove xslt_path and harden XML parsers in HTMLSectionSplitter
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/tests/unit_tests/test_html_security.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, size:L, 🤖:security, Ɑ: text splitters

#31830 ci: set explicit workflow permissions
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_test.yml
  .github/workflows/_test_doc_imports.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/check-broken-links.yml
  .github/workflows/check_core_versions.yml
  .github/workflows/check_diffs.yml
  .github/workflows/check_new_docs.yml
  .github/workflows/codspeed.yml
  .github/workflows/people.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/scheduled_test.yml
Labels: size:M

#31844 text-splitters: 0.3.9
  libs/text-splitters/pyproject.toml
Labels: size:XS

#31842 standard-tests: Add ruff rule UP (pyupgrade)
  libs/standard-tests/langchain_tests/base.py
  libs/standard-tests/langchain_tests/integration_tests/base_store.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/embeddings.py
  libs/standard-tests/langchain_tests/integration_tests/indexer.py
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/embeddings.py
  libs/standard-tests/langchain_tests/unit_tests/tools.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/tests/unit_tests/custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_basic_retriever.py
  libs/standard-tests/tests/unit_tests/test_basic_tool.py
  libs/standard-tests/tests/unit_tests/test_custom_chat_model.py
  libs/standard-tests/tests/unit_tests/test_embeddings.py
  libs/standard-tests/tests/unit_tests/test_in_memory_base_store.py
Labels: lgtm, 🤖:nit, size:L

#31843 cli: Add ruff rule UP (pyupgrade)
  libs/cli/langchain_cli/cli.py
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/generate/generic.py
  libs/cli/langchain_cli/namespaces/migrate/generate/grit.py
  libs/cli/langchain_cli/namespaces/migrate/generate/partner.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/langchain_cli/utils/find_replace.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/langchain_cli/utils/pyproject.py
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/unit_tests/test_utils.py
Labels: lgtm, 🤖:nit, size:L

#31572 core[patch]: Int Combine when Merging Dicts
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: 🤖:nit, size:S

#31385 huggingface: fix HuggingFaceEndpoint._astream() got multiple values for argument 'stop'
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_endpoint.py
Labels: needs test, 🤖:bug, size:XS

#31846 core: Bump ruff version to 0.12
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/outputs/llm_result.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/router.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/load/test_serializable.py
  libs/core/tests/unit_tests/prompts/test_few_shot.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/stubs.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/uv.lock
Labels: 🤖:nit, size:M

#31957 docs: add Google-style docstrings to tools and llms modules (zapier, …
  libs/langchain/langchain/llms/base.py
  libs/langchain/langchain/tools/jira/tool.py
  libs/langchain/langchain/tools/json/tool.py
  libs/langchain/langchain/tools/zapier/tool.py
Labels: waiting-on-author

#32073 fix(core): better error message for empty var names
  libs/core/langchain_core/utils/mustache.py
  libs/core/tests/unit_tests/prompts/test_structured.py
Labels: waiting-on-author

#32112 chore(langchain): add ruff rules SLF
  libs/langchain/langchain/agents/agent_iterator.py
  libs/langchain/langchain/agents/initialize.py
  libs/langchain/langchain/agents/openai_functions_agent/base.py
  libs/langchain/langchain/agents/output_parsers/openai_functions.py
  libs/langchain/langchain/chains/combine_documents/stuff.py
  libs/langchain/langchain/chains/conversational_retrieval/base.py
  libs/langchain/langchain/chains/qa_with_sources/retrieval.py
  libs/langchain/langchain/chains/qa_with_sources/vector_db.py
  libs/langchain/langchain/output_parsers/combining.py
  libs/langchain/pyproject.toml
Labels: linting

#30950 docs: add PGVectorStore
  docs/docs/integrations/vectorstores/pgvectorstore.ipynb
  docs/scripts/vectorstore_feat_table.py
  docs/src/theme/FeatureTables.js
  docs/src/theme/VectorStoreTabs.js
Labels: investigate, integration

#32237 feat(docs): improve devx, fix `Makefile` targets
  Makefile
  docs/Makefile
  docs/api_reference/conf.py
  docs/api_reference/create_api_rst.py
  docs/docs/contributing/how_to/code/index.mdx
  docs/docs/contributing/how_to/code/setup.mdx
  docs/docs/contributing/how_to/documentation/index.mdx
  docs/docs/contributing/how_to/documentation/setup.mdx
  docs/docs/contributing/how_to/documentation/style_guide.mdx
  docs/docs/contributing/how_to/index.mdx
  docs/docs/contributing/how_to/integrations/index.mdx
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/contributing/how_to/testing.mdx
  docs/docs/contributing/index.mdx
  docs/docs/contributing/reference/repo_structure.mdx
  docs/docs/contributing/tutorials/docs.mdx
  docs/docs/integrations/providers/ibm.mdx
  docs/docs/integrations/providers/predictionguard.mdx
  docs/docs/integrations/providers/premai.md
  docs/scripts/kv_store_feat_table.py
  docs/scripts/notebook_convert.py
  docs/sidebars.js
  docs/vercel_overrides.txt
  libs/cli/langchain_cli/integration_template/Makefile
  libs/core/Makefile
  libs/core/langchain_core/outputs/llm_result.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/aiter.py
  libs/langchain/Makefile
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/chains/conversation/base.py
  libs/langchain/langchain/chains/conversational_retrieval/base.py
  libs/langchain_v1/Makefile
  libs/partners/anthropic/Makefile
  libs/partners/chroma/Makefile
  libs/partners/deepseek/Makefile
  libs/partners/exa/Makefile
  libs/partners/fireworks/Makefile
  libs/partners/groq/Makefile
  libs/partners/huggingface/Makefile
  libs/partners/mistralai/Makefile
  libs/partners/nomic/Makefile
  libs/partners/ollama/Makefile
  libs/partners/openai/Makefile
  libs/partners/perplexity/Makefile
  libs/partners/prompty/Makefile
  libs/partners/xai/Makefile
  libs/standard-tests/Makefile
  libs/text-splitters/Makefile
  pyproject.toml
  uv.lock
Labels: documentation

#31921 chore(langchain): add ruff rules TC
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/callbacks/streaming_aiter.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/chains/llm.py
  libs/langchain/langchain/chains/openai_functions/qa_with_structure.py
  libs/langchain/langchain/chains/query_constructor/base.py
  libs/langchain/langchain/chains/router/llm_router.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/langchain/document_loaders/blob_loaders/schema.py
  libs/langchain/langchain/embeddings/cache.py
  libs/langchain/langchain/evaluation/agents/trajectory_eval_chain.py
  libs/langchain/langchain/evaluation/parsing/base.py
  libs/langchain/langchain/retrievers/document_compressors/chain_extract.py
  libs/langchain/langchain/retrievers/ensemble.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/integration_tests/chat_models/test_base.py
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/chains/query_constructor/test_parser.py
  libs/langchain/tests/unit_tests/llms/fake_chat_model.py
  libs/langchain/tests/unit_tests/llms/fake_llm.py
  libs/langchain/tests/unit_tests/storage/test_lc_store.py
Labels: linting

#32296 feat(openai): v1 message format support
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/v1/chat_models.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/messages/v1.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/prompt_values.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/openai/langchain_openai/__init__.py
  libs/partners/openai/langchain_openai/chat_models/__init__.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base_v1.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/cassettes/test_web_search.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: integration, core
