Repository langchain-ai/langchain, pull requests merged in 2025-09, with the labels that each got.

#32674 feat(openai): (v1) update default `output_version`
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: integration

#32807 fix(docs): update Anthropic model name and add version warnings
  docs/src/theme/ChatModelTabs.js
Labels: documentation

#32808 chore(langchain): add ruff rules D for `langchain_v1`
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/chat_models/__init__.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/langchain/documents/__init__.py
  libs/langchain_v1/langchain/embeddings/__init__.py
  libs/langchain_v1/langchain/embeddings/base.py
  libs/langchain_v1/langchain/storage/encoder_backed.py
  libs/langchain_v1/langchain/storage/exceptions.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/integration_tests/cache/fake_embeddings.py
  libs/langchain_v1/uv.lock
Labels: linting

#32787 refactor(core): refactors for python 3.10+
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/iter.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: core

#32819 chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  docs/docs/contributing/how_to/code/guidelines.mdx
Labels: infra

#32825 fix(docs): resolve malformed character in `tool_calling.ipynb`
  docs/docs/how_to/tool_calling.ipynb
Labels: documentation

#32832 fix(anthropic): remove beta header warning for TTL
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: integration

#32803 chore(cli): fix some ruff preview rules
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/scripts/generate_migrations.py
  libs/cli/uv.lock
Labels: linting, cli

#32838 chore(langchain): prepare model request via func call not node
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: codspeed-ignore

#32828 feat(langchain): middleware support in `create_agent`
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/_utils.py
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/uv.lock
Labels: langchain, codspeed-ignore

#32649 fix(openai): Fix Azure OpenAI Responses API model field issue
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
Labels: integration

#32325 chore(text-splitters): select ALL rules with exclusions
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/langchain_text_splitters/konlpy.py
  libs/text-splitters/langchain_text_splitters/latex.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/langchain_text_splitters/nltk.py
  libs/text-splitters/langchain_text_splitters/python.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/scripts/check_imports.py
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
  libs/text-splitters/tests/integration_tests/test_text_splitter.py
  libs/text-splitters/tests/unit_tests/conftest.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
  libs/text-splitters/uv.lock
Labels: text-splitters

#32784 chore(core): add utf-8 encoding to `Path` `read_text`/`write_text`
  libs/cli/scripts/generate_migrations.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/loading.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/langchain/tests/unit_tests/test_imports.py
Labels: core, v1

#32847 fix(langchain): preserve supplied llm in `FlareChain.from_llm`
  libs/langchain/langchain/chains/flare/base.py
  libs/langchain/tests/unit_tests/chains/test_flare.py
Labels: langchain

#32863 fix(huggingface): fix typing in `test_standard`
  libs/partners/huggingface/tests/integration_tests/test_standard.py
Labels: integration

#32861 feat(langchain): support PEP604 ( `|` union) in tool node error handlers
  libs/langchain_v1/langchain/agents/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
Labels: linting, langchain

#32865 chore(core): cleanup `pyproject.toml`
  libs/core/pyproject.toml
Labels: core

#32867 chore(langchain): add ruff rule ERA
  libs/langchain/langchain/_api/module_import.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/evaluation/scoring/test_eval_chain.py
  libs/langchain/tests/unit_tests/memory/test_combined_memory.py
  libs/langchain/tests/unit_tests/retrievers/test_multi_vector.py
Labels: linting, langchain

#32766 fix(core): ensure `InjectedToolCallId` always overrides LLM-generated values
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Labels: core

#32633 feat(standard-tests): add a property to skip relevant tests if the vector store doesn't support `get_by_ids()`
  libs/standard-tests/langchain_tests/integration_tests/vectorstores.py
  libs/standard-tests/tests/unit_tests/test_in_memory_vectorstore.py
Labels: standard-tests

#32868 chore(langchain): add ruff rule BLE
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/format_scratchpad/openai_functions.py
  libs/langchain/langchain/agents/format_scratchpad/tools.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/evaluation/parsing/base.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/langchain/smith/evaluation/string_run_evaluator.py
  libs/langchain/pyproject.toml
  libs/langchain/scripts/check_imports.py
  libs/langchain/tests/unit_tests/chains/query_constructor/test_parser.py
  libs/langchain/tests/unit_tests/conftest.py
  libs/langchain/tests/unit_tests/output_parsers/test_fix.py
  libs/langchain/tests/unit_tests/output_parsers/test_retry.py
Labels: linting, langchain

#32864 chore(cli): remove ruff exclusion of templates
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/document_loaders.ipynb
  libs/cli/langchain_cli/integration_template/docs/llms.ipynb
  libs/cli/langchain_cli/integration_template/docs/stores.ipynb
  libs/cli/langchain_cli/integration_template/docs/text_embedding.ipynb
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
  libs/cli/langchain_cli/integration_template/integration_template/chat_models.py
  libs/cli/langchain_cli/integration_template/integration_template/document_loaders.py
  libs/cli/langchain_cli/integration_template/integration_template/toolkits.py
  libs/cli/langchain_cli/integration_template/integration_template/tools.py
  libs/cli/langchain_cli/integration_template/pyproject.toml
  libs/cli/langchain_cli/package_template/package_template/__init__.py
  libs/cli/langchain_cli/package_template/package_template/chain.py
  libs/cli/langchain_cli/package_template/tests/__init__.py
  libs/cli/langchain_cli/project_template/app/__init__.py
  libs/cli/langchain_cli/project_template/app/server.py
  libs/cli/pyproject.toml
  libs/cli/uv.lock
Labels: linting, cli

#32871 docs: update banner with docs deprecation notice
  docs/docusaurus.config.js
Labels: documentation

#32881 fix(ollama): Fix handling message content lists
  libs/partners/ollama/langchain_ollama/chat_models.py
Labels: integration

#32889 release(qdrant): 0.2.1
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/uv.lock
Labels: integration, release

#31782 fix(openai): update `AzureOpenAIEmbeddings` validation logic for `openai_api_base`
  libs/partners/openai/langchain_openai/embeddings/azure.py
Labels: bug, integration

#32840 fix(core): preserve `ToolMessage.status` field in `convert_to_messages`
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/test_messages.py
Labels: core

#32892 fix(anthropic): update `ChatAnthropic` model in tests/doc
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/cassettes/test_web_search.yaml.gz
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: integration

#32430 docs: add AI/ML API integration
  docs/docs/integrations/chat/aimlapi.ipynb
  docs/docs/integrations/llms/aimlapi.ipynb
  docs/docs/integrations/providers/aimlapi.ipynb
  docs/docs/integrations/text_embedding/aimlapi.ipynb
  docs/src/theme/FeatureTables.js
  libs/packages.yml
Labels: documentation, new-integration, INTERNAL-MAINTAINER-NOTE-move-to-new-repo

#32946 docs(core): add type hints to BaseStore example code
  libs/core/langchain_core/stores.py
Labels: core

#32433 docs: add superlinked retriever integration
  docs/docs/integrations/providers/superlinked.mdx
  docs/docs/integrations/retrievers/superlinked.ipynb
  docs/docs/integrations/retrievers/superlinked_examples.ipynb
Labels: documentation, new-integration, INTERNAL-MAINTAINER-NOTE-move-to-new-repo

#32976 chore(infra): update contribution guide link in `CONTRIBUTING.md`
  .github/CONTRIBUTING.md
Labels: infra

#32985 refactor(cli): target ruff 310
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/template.py
  libs/cli/pyproject.toml
Labels: cli

#32980 feat(langchain): support for parallel (or interrupted) tool calls and structured output
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: langchain

#32993 fix(docs): `json_mode` -> `json_schema`
  docs/docs/how_to/structured_output.ipynb
Labels: documentation, integration

#33001 fix(docs): update dead link to docling github and docs
  docs/docs/integrations/providers/docling.mdx
Labels: documentation

#33008 release(mistralai): 0.2.12
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Labels: integration, release

#33029 chore(infra): update pre-commit hooks to include linting
  .pre-commit-config.yaml
Labels: infra

#33031 feat(infra): add PR labeler configurations and workflows
  .github/labeler.yml
  .github/pr-title-labeler.yml
  .github/workflows/check_diffs.yml
  .github/workflows/labeler.yml
  .github/workflows/pr_lint.yml
  .github/workflows/pr_title_labeler.yml
Labels: feature

#33034 test: use `.get()` for safe `ls_params` access
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/xai/tests/unit_tests/test_chat_models.py
Labels: integration

#33035 fix: update method calls from dict to `model_dump` in `Chain`
  libs/langchain/langchain/chains/base.py
Labels: langchain, fix

#33037 fix: pydantic openai
  libs/langchain/uv.lock
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/uv.lock
Labels: fix

#33038 fix(openai): pin upper bound to prevent Pydantic 2.7.0 issues
  libs/partners/deepseek/tests/unit_tests/test_chat_models.py
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
  libs/partners/xai/tests/unit_tests/test_chat_models.py
  libs/partners/xai/uv.lock
Labels: fix

#33070 chore(scripts): remove obsolete release and mypy/ruff update scripts
  scripts/release_branch.py
  scripts/update_mypy_ruff.py
Labels: infra

#33071 chore(infra): move `SECURITY.md` to `.github`
  .github/SECURITY.md
Labels: documentation, infra

#33072 chore: delete erroneous `yarn.lock` in root
  yarn.lock
Labels: infra

#33073 chore: delete erroneous `poetry.toml` configuration file
  poetry.toml
Labels: infra

#33077 chore: add commit message generation instructions for VSCode
  .vscode/settings.json
Labels: infra

#33078 style(cli): linting pass
  libs/cli/CONTRIBUTING.md
  libs/cli/langchain_cli/dev_scripts.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_retrievers.py
  libs/cli/langchain_cli/integration_template/tests/integration_tests/test_tools.py
  libs/cli/langchain_cli/integration_template/tests/unit_tests/test_tools.py
  libs/cli/langchain_cli/namespaces/app.py
  libs/cli/langchain_cli/namespaces/integration.py
  libs/cli/langchain_cli/namespaces/migrate/generate/generic.py
  libs/cli/langchain_cli/namespaces/migrate/generate/partner.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/langchain_cli/utils/packages.py
  libs/cli/langchain_cli/utils/pyproject.py
  libs/cli/tests/unit_tests/migrate/generate/test_langchain_migration.py
Labels: documentation, linting, cli

#33087 fix(langchain): need to inject all state for tools registered by middleware
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: langchain, v1, fix

#33093 style(core): typo/docs lint pass
  docs/docs/how_to/index.mdx
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/chat.py
  libs/core/langchain_core/messages/function.py
  libs/core/langchain_core/messages/human.py
  libs/core/langchain_core/messages/modifier.py
  libs/core/langchain_core/messages/system.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/prompt_values.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/stubs.py
  libs/core/uv.lock
Labels: documentation, linting, core

#33094 style: update workflow name for version equality check
  .github/workflows/check_core_versions.yml
Labels: linting, infra, github_actions

#33096 chore: update `pull_request_target` types, harden
  .github/workflows/pr_labeler_file.yml
  .github/workflows/pr_labeler_title.yml
Labels: infra, github_actions

#33098 release(langchain): v1.0.0a9
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Labels: langchain, release, dependencies, v1

#33101 fix(core): use secure hash algorithm in indexing test to eliminate SHA-1 warning
  libs/core/tests/unit_tests/indexing/test_indexing.py
Labels: core, fix

#33102 test(core): suppress deprecation warnings in `PipelinePromptTemplate`
  libs/core/tests/unit_tests/prompts/test_pipeline_prompt.py
Labels: core, tests

#33099 test(core): enhance stringify_value test coverage for nested structures
  libs/core/tests/unit_tests/utils/test_strings.py
Labels: core

#33104 refactor(core): don't use deprecated `input_variables` param in `from_file`
  libs/core/langchain_core/prompts/chat.py
Labels: core, refactor

#33105 test(core): don't use deprecated `input_variables` param in `from_file`
  libs/core/tests/unit_tests/prompts/test_prompt.py
Labels: core

#33106 test(core): suppress `pydantic_v1` deprecation warnings during import tests
  libs/core/tests/unit_tests/test_imports.py
  libs/core/tests/unit_tests/test_pydantic_imports.py
Labels: core

#33107 test(core): use secure hash algorithm in indexing test to eliminate SHA-1 warning
  libs/core/tests/unit_tests/indexing/test_indexing.py
Labels: core

#33108 fix(core): use version agnostic `get_fields`
  libs/core/langchain_core/tools/base.py
Labels: core

#33110 test(core): resolve `pydantic_v1` deprecation warning
  libs/core/tests/unit_tests/test_imports.py
  libs/core/tests/unit_tests/test_pydantic_imports.py
Labels: core

#33111 test(core): resolve pytest marker warning
  libs/core/tests/unit_tests/prompts/test_few_shot.py
Labels: core, tests

#33112 test(text-splitters): resolve pytest marker warning
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: tests

#33113 test(text-splitters): capture beta warnings
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: tests

#33114 chore: bump locks
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/langchain_v1/langchain/__init__.py
  uv.lock
Labels: langchain, infra, dependencies, cli, v1

#33122 docs: standardize `.. code-block` directive usage
  docs/api_reference/_extensions/gallery_directive.py
  docs/api_reference/conf.py
  docs/api_reference/requirements.txt
  libs/cli/langchain_cli/integration_template/integration_template/retrievers.py
  libs/cli/langchain_cli/integration_template/integration_template/toolkits.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/document_loaders/langsmith.py
  libs/core/langchain_core/indexing/api.py
  libs/core/langchain_core/runnables/graph_ascii.py
  libs/core/langchain_core/utils/aiter.py
  libs/core/langchain_core/utils/iter.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/langchain/langchain/chains/llm_math/base.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: documentation, integration, core, langchain, standard-tests, dependencies, cli, v1

#33132 chore(langchain_v1): move tool node to tools namespace
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/langchain/tools/__init__.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_node.py
  libs/langchain_v1/tests/unit_tests/tools/test_imports.py
Labels: langchain, infra, dependencies, v1

#33131 fix(langchain): fix response action for HITL
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/uv.lock
Labels: langchain, dependencies, v1, fix

#33050 fix(core): Support of 'reasoning' type in 'convert_to_openai_messages'
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: core

#33144 fix(openai): remove __future__.annotations import from test files
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: integration, dependencies, fix

#33147 release(anthropic): 0.3.21
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: integration, release, dependencies

#33150 fix(langchain): add `context_management` to Anthropic chat model init
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
Labels: langchain, v1, fix

#33148 fix(langchain): handle `gpt-5` model name in `init_chat_model`
  libs/langchain/langchain/chat_models/base.py
  libs/langchain_v1/langchain/chat_models/base.py
Labels: langchain, v1, fix

#33149 docs(anthropic): document support for memory tool and context management
  docs/docs/integrations/chat/anthropic.ipynb
Labels: documentation

#33155 feat(core): genai standard server tool usage
  libs/core/langchain_core/messages/block_translators/google_genai.py
Labels: core

#33158 release(core): 1.0.0a5
  libs/core/langchain_core/messages/block_translators/anthropic.py
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/messages/block_translators/test_anthropic.py
  libs/core/uv.lock
Labels: core, release, dependencies

#33161 release(anthropic): 1.0.0a2
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Labels: integration, release, dependencies

#33162 release(openai): 1.0.0a3
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/uv.lock
Labels: integration, release, dependencies

#33163 chore(langchain_v1): expose middleware decorators and selected messages
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/messages/__init__.py
Labels: langchain, infra, v1
