Repository langchain-ai/langchain, pull requests merged in 2025-08, with the labels that each got.

#32367 docs: minor agent tools markdown improvement
  docs/docs/concepts/tools.mdx
Labels: documentation

#32364 docs(docs): add link for ALPHAVANTAGE_API_KEY generation in integration notebook
  docs/docs/integrations/tools/alpha_vantage.ipynb
Labels: documentation

#32353 fix(docs): update package names, class links and package links across kv_store_feat_table.py
  docs/scripts/kv_store_feat_table.py
Labels: documentation

#32202 feat(docs): add langchain-gradientai as provider
  docs/docs/integrations/chat/gradientai.ipynb
  docs/docs/integrations/providers/gradientai.mdx
  libs/packages.yml
Labels: new-integration

#32399 docs: add Windows-specific setup instructions
  docs/docs/contributing/how_to/code/setup.mdx
Labels: documentation

#32415 feat(groq): losen restrictions on `reasoning_effort`, inject effort in meta, update tests
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
Labels: integration

#32426 docs(langchain): complete PDF embedding example for OpenAI, also some minor doc fixes
  docs/docs/how_to/chat_streaming.ipynb
  docs/docs/how_to/extraction_long_text.ipynb
  docs/docs/how_to/filter_messages.ipynb
  docs/docs/how_to/indexing.ipynb
  docs/docs/how_to/merge_message_runs.ipynb
  docs/docs/integrations/document_loaders/amazon_textract.ipynb
  docs/docs/integrations/document_loaders/open_city_data.ipynb
  docs/docs/integrations/document_loaders/powerscale.ipynb
  docs/docs/integrations/document_loaders/reddit.ipynb
  docs/docs/integrations/document_loaders/vsdx.ipynb
  docs/docs/integrations/vectorstores/google_firestore.ipynb
  docs/docs/integrations/vectorstores/pgvector.ipynb
  docs/docs/troubleshooting/errors/INVALID_TOOL_RESULTS.ipynb
Labels: documentation

#32431 fix(core): fix index checking when merging lists
  libs/core/langchain_core/utils/_merge.py
  libs/core/tests/unit_tests/test_messages.py
Labels: core

#32443 feat(standard-tests): add a property to set the name of the parameter for the number of results to return
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
Labels: standard-tests

#32438 docs: update Docker image name for jaguardb setup
  docs/docs/integrations/vectorstores/jaguar.ipynb
Labels: documentation

#32390 chore(core): bump mypy version to 1.17
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/v1/messages.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/messages/test_content_block_factories.py
  libs/core/tests/unit_tests/prompts/test_structured.py
  libs/core/uv.lock
Labels: linting, core

#32363 test(openai): add tests for `prompt_cache_key` parameter and update docs
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_prompt_cache_key.py
Labels: core

#32455 feat(openai): `minimal` and `verbosity`
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_prompt_cache_key.py
  libs/partners/openai/tests/unit_tests/test_tools.py
  libs/partners/openai/uv.lock
Labels: integration

#32463 release(openai): release 0.3.29
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: release

#32476 fix(ollama): reasoning should come before text content
  libs/partners/ollama/langchain_ollama/_compat.py
  libs/partners/ollama/tests/unit_tests/v1/test_chat_models.py
Labels: integration

#32475 docs(ollama): update Ollama integration documentation for new chat model
  docs/docs/how_to/local_llms.ipynb
  docs/docs/integrations/chat/ollama.ipynb
  docs/docs/integrations/providers/ollama.mdx
  libs/core/langchain_core/v1/messages.py
  libs/partners/ollama/langchain_ollama/v1/chat_models/base.py
  libs/partners/ollama/uv.lock
Labels: documentation, integration

#32474 docs: v0.4 top level refinements
  docs/docs/integrations/vectorstores/sqlserver.ipynb
  docs/docs/versions/v0_4/index.mdx
  docs/docs/versions/v0_4/messages.mdx
Labels: documentation

#32472 feat(docs): enhance `ResponseMetadata` documentation with provider field usage notes
  libs/core/langchain_core/v1/messages.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
Labels: documentation

#32482 docs(docs): add missing name to AIMessage in example
  docs/docs/how_to/structured_output.ipynb
Labels: documentation

#32481 docs(deepseek): Add DeepSeek model option
  docs/src/theme/ChatModelTabs.js
Labels: integration

#32500 feat(qdrant): ruff fixes and rules
  libs/partners/qdrant/langchain_qdrant/__init__.py
  libs/partners/qdrant/langchain_qdrant/_utils.py
  libs/partners/qdrant/langchain_qdrant/fastembed_sparse.py
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/langchain_qdrant/sparse_embeddings.py
  libs/partners/qdrant/langchain_qdrant/vectorstores.py
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/tests/integration_tests/async_api/test_add_texts.py
  libs/partners/qdrant/tests/integration_tests/async_api/test_from_texts.py
  libs/partners/qdrant/tests/integration_tests/async_api/test_max_marginal_relevance.py
  libs/partners/qdrant/tests/integration_tests/async_api/test_similarity_search.py
  libs/partners/qdrant/tests/integration_tests/common.py
  libs/partners/qdrant/tests/integration_tests/fixtures.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_add_texts.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_from_existing.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_from_texts.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_mmr.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_search.py
  libs/partners/qdrant/tests/integration_tests/test_add_texts.py
  libs/partners/qdrant/tests/integration_tests/test_compile.py
  libs/partners/qdrant/tests/integration_tests/test_embedding_interface.py
  libs/partners/qdrant/tests/integration_tests/test_from_existing_collection.py
  libs/partners/qdrant/tests/integration_tests/test_from_texts.py
  libs/partners/qdrant/tests/integration_tests/test_max_marginal_relevance.py
  libs/partners/qdrant/tests/integration_tests/test_similarity_search.py
  libs/partners/qdrant/uv.lock
Labels: integration

#32497 fix(core): fix beta decorator for properties
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/tests/unit_tests/_api/test_beta_decorator.py
Labels: core

#32501 feat(xai): ruff fixes and rules
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/pyproject.toml
  libs/partners/xai/scripts/check_imports.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
  libs/partners/xai/tests/integration_tests/test_compile.py
  libs/partners/xai/uv.lock
Labels: integration

#32504 feat(standard-tests): formatting
  libs/partners/xai/pyproject.toml
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/retrievers.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/scripts/check_imports.py
  libs/standard-tests/uv.lock
Labels: standard-tests

#32424 docs: put `standard-tests` before other packages
  docs/api_reference/create_api_rst.py
Labels: documentation

#32341 fix(docs): update `llamacpp.ipynb` for installation options on Mac
  docs/docs/integrations/llms/llamacpp.ipynb
Labels: documentation

#32099 fix(docs): handle collection not found error on RAG tutorial when qdrant is selected as vectorStore
  docs/src/theme/VectorStoreTabs.js
Labels: documentation

#32344 docs: add integration guide for MCP Toolbox
  docs/docs/integrations/providers/toolbox-langchain.mdx
  docs/docs/integrations/tools/toolbox.ipynb
  docs/scripts/tool_feat_table.py
  libs/packages.yml
Labels: new-integration

#32356 docs: add Google partner guide for MCP Toolbox
  docs/docs/integrations/providers/google.mdx
Labels: documentation, new-integration

#32362 feat(docs): add truefoundry ai gateway
  docs/docs/integrations/providers/truefoundry.mdx
  docs/sidebars.js
  docs/static/img/gateway-metrics.png
  docs/static/img/unified-code-tfy.png
Labels: new-integration

#32514 docs(docs): remove redundant integration details from ChatGradient page.
  docs/docs/integrations/providers/gradientai.mdx
Labels: documentation

#32422 fix(anthropic): update test model names and adjust token count assertions in integration tests
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: integration

#32409 fix(anthropic): Add proxy
  libs/partners/anthropic/langchain_anthropic/_client_utils.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_client_utils.py
Labels: integration

#32527 feat(docs): clarify structured output with tools ordering
  docs/docs/concepts/structured_outputs.mdx
  docs/docs/how_to/structured_output.ipynb
  docs/docs/integrations/chat/anthropic.ipynb
Labels: documentation

#32540 docs: update outdated `README.md` content
  libs/core/README.md
  libs/langchain/README.md
  libs/langchain_v1/README.md
  libs/standard-tests/README.md
  libs/text-splitters/README.md
Labels: documentation

#32547 docs(ollama): update API usage examples
  docs/docs/integrations/chat/ollama.ipynb
Labels: documentation

#32550 docs: banner for academy course
  docs/docusaurus.config.js
Labels: documentation

#32553 docs: add pre-commit setup instructions to the dev setup guide
  docs/docs/contributing/how_to/code/setup.mdx
Labels: documentation

#32558 chore(text-splitters): add mypy `warn_unreachable`
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Labels: linting

#32534 docs: add details on message IDs and their assignment process
  docs/docs/concepts/messages.mdx
Labels: documentation

#32568 feat: allow kwargs on content block factories
  libs/core/langchain_core/messages/content_blocks.py
Labels: core

#31946 feat(anthropic): dynamic mapping of Max Tokens for Anthropic
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard.test_stream_time.yaml.gz
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: integration

#32518 fix(anthropic): streaming token counting to defer input tokens until completion
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: integration

#32529 chore(langchain): add mypy `warn_unreachable` setting
  libs/langchain/langchain/agents/agent.py
  libs/langchain/langchain/agents/format_scratchpad/openai_functions.py
  libs/langchain/langchain/agents/format_scratchpad/tools.py
  libs/langchain/langchain/agents/mrkl/base.py
  libs/langchain/langchain/agents/output_parsers/json.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/conversational_retrieval/base.py
  libs/langchain/langchain/chains/query_constructor/parser.py
  libs/langchain/langchain/chains/structured_output/base.py
  libs/langchain/langchain/embeddings/cache.py
  libs/langchain/langchain/memory/vectorstore_token_buffer_memory.py
  libs/langchain/langchain/model_laboratory.py
  libs/langchain/langchain/retrievers/document_compressors/base.py
  libs/langchain/langchain/retrievers/ensemble.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/langchain/smith/evaluation/string_run_evaluator.py
  libs/langchain/langchain/storage/_lc_store.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/agents/test_structured_chat.py
  libs/langchain/tests/unit_tests/chains/query_constructor/test_parser.py
  libs/langchain/tests/unit_tests/llms/fake_chat_model.py
  libs/langchain/uv.lock
Labels: linting, langchain

#32601 test(openai): address some type issues in tests
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
Labels: integration

#32602 feat(core): implement dynamic translator registration for model providers
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/block_translators/__init__.py
  libs/core/langchain_core/messages/block_translators/amazon/__init__.py
  libs/core/langchain_core/messages/block_translators/amazon/bedrock.py
  libs/core/langchain_core/messages/block_translators/amazon/bedrock_converse.py
  libs/core/langchain_core/messages/block_translators/anthropic.py
  libs/core/langchain_core/messages/block_translators/chroma.py
  libs/core/langchain_core/messages/block_translators/google/__init__.py
  libs/core/langchain_core/messages/block_translators/google/genai.py
  libs/core/langchain_core/messages/block_translators/google/vertexai.py
  libs/core/langchain_core/messages/block_translators/groq.py
  libs/core/langchain_core/messages/block_translators/ollama.py
  libs/core/langchain_core/messages/block_translators/openai.py
Labels: core

#32608 docs: migrate from community package to `langchain-oci`
  docs/docs/integrations/chat/oci_generative_ai.ipynb
  docs/docs/integrations/llms/oci_generative_ai.ipynb
  docs/docs/integrations/providers/oci.mdx
Labels: documentation, integration

#32638 fix(standard-tests): fix `BaseStoreAsyncTests.test_set_values_is_idempotent`
  libs/standard-tests/langchain_tests/integration_tests/base_store.py
Labels: standard-tests

#32572 refactor(core): data block handling, normalize message formats, strip IDs from messages
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/block_translators/langchain.py
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/langchain_core/messages/content.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/chat_models/test_rate_limiting.py
  libs/core/tests/unit_tests/messages/block_translators/test_openai.py
Labels: core, codspeed-ignore

#32557 fix(openai): construct responses api input
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: integration

#32650 feat(ollama): update reasoning type to support string values for custom intensity levels (e.g. `gpt-oss`)
  libs/partners/ollama/langchain_ollama/chat_models.py
Labels: integration

#32661 docs(docs): fixed typos in documentations
  README.md
  SECURITY.md
  docs/api_reference/conf.py
  docs/docs/troubleshooting/errors/MESSAGE_COERCION_FAILURE.ipynb
  libs/core/langchain_core/tracers/event_stream.py
  libs/partners/openai/README.md
  libs/standard-tests/langchain_tests/integration_tests/indexer.py
  libs/text-splitters/langchain_text_splitters/markdown.py
Labels: documentation

#32653 feat(core): trace response body on error
  libs/core/langchain_core/language_models/chat_models.py
Labels: core

#32664 feat(core): parse `tool_call_chunks` in content in aggregated stream
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/block_translators/anthropic.py
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/messages/test_ai.py
  libs/core/tests/unit_tests/prompts/__snapshots__/test_chat.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/llms/fake_chat_model.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: core

#32692 feat(core): (v1) add sentinel value to `output_version`
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_runnable.ambr
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_responses_standard.ambr
  libs/partners/xai/tests/unit_tests/__snapshots__/test_chat_models_standard.ambr
Labels: core

#32689 fix(standard-tests): update `function_args` to match `my_adder_tool` param types
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: standard-tests

#32696 chore: adress pytest-asyncio deprecation warnings + other nits
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/core/uv.lock
  libs/langchain/uv.lock
  libs/langchain_v1/uv.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
  libs/partners/chroma/uv.lock
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
  libs/partners/exa/pyproject.toml
  libs/partners/exa/uv.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
  libs/partners/ollama/uv.lock
  libs/partners/openai/uv.lock
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
  libs/partners/prompty/Makefile
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/tests/unit_tests/test_prompty_serialization.py
  libs/partners/prompty/uv.lock
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/uv.lock
  libs/partners/xai/uv.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
  libs/text-splitters/uv.lock
Labels: linting, infra

#32700 feat(openai): (v1) support `content_blocks` on legacy v0 responses API format
  libs/core/langchain_core/messages/block_translators/openai.py
  libs/core/tests/unit_tests/messages/block_translators/test_openai.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: integration

#32699 chore: rfc to use `.text` instead of `.text()`
  docs/docs/how_to/multimodal_inputs.ipynb
  docs/docs/how_to/multimodal_prompts.ipynb
  docs/docs/integrations/chat/anthropic.ipynb
  docs/docs/integrations/chat/bedrock.ipynb
  docs/docs/integrations/chat/litellm.ipynb
  docs/docs/integrations/chat/openai.ipynb
  docs/docs/tutorials/agents.ipynb
  libs/cli/langchain_cli/integration_template/integration_template/chat_models.py
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/test_messages.py
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
  libs/langchain_v1/langchain/chains/documents/stuff.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/xai/langchain_xai/chat_models.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: documentation, integration, core, langchain

#32704 chore(langchain): drop Python 3.9
  .github/scripts/check_diff.py
  libs/langchain_v1/langchain/_internal/_documents.py
  libs/langchain_v1/langchain/_internal/_prompts.py
  libs/langchain_v1/langchain/_internal/_typing.py
  libs/langchain_v1/langchain/chains/documents/map_reduce.py
  libs/langchain_v1/langchain/chains/documents/stuff.py
  libs/langchain_v1/langchain/chat_models/base.py
  libs/langchain_v1/langchain/embeddings/base.py
  libs/langchain_v1/langchain/embeddings/cache.py
  libs/langchain_v1/langchain/storage/encoder_backed.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/integration_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/langchain_v1/tests/unit_tests/conftest.py
  libs/langchain_v1/tests/unit_tests/embeddings/test_caching.py
  libs/langchain_v1/tests/unit_tests/test_imports.py
  libs/langchain_v1/uv.lock
Labels: langchain

#32719 chore(langchain): revert back to static versioning for now
  .github/workflows/check_core_versions.yml
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Labels: codspeed-ignore

#32723 release: anthropic, openai 1.0.0a1
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: codspeed-ignore

#32730 docs: fix basic Oracle example issues such as capitalization
  docs/docs/integrations/document_loaders/oracleadb_loader.ipynb
Labels: documentation

#32576 chore(cli): add ruff rules ANN401 and D1
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/pyproject.toml
Labels: linting

#32386 chore(cli): add mypy strict checking
  libs/cli/langchain_cli/namespaces/migrate/generate/utils.py
  libs/cli/langchain_cli/namespaces/migrate/main.py
  libs/cli/langchain_cli/project_template/app/server.py
  libs/cli/langchain_cli/utils/events.py
  libs/cli/langchain_cli/utils/git.py
  libs/cli/pyproject.toml
  libs/cli/scripts/generate_migrations.py
  libs/cli/tests/unit_tests/test_utils.py
  libs/cli/uv.lock
Labels: linting

#32760 release(cli): 0.0.37
  libs/cli/pyproject.toml
  libs/cli/uv.lock
Labels: release, cli

#32748 chore(langchain): improve PostgreSQL Manager upsert SQLAlchemy API calls.
  libs/langchain/langchain/indexes/_sql_record_manager.py
Labels: langchain

#32767 docs(text-splitters): fix some docstrings
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/langchain_text_splitters/markdown.py
Labels: linting, text-splitters

#32771 chore(text-splitters): drop python 3.9 support
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
  libs/text-splitters/uv.lock
Labels: text-splitters
