Repository langchain-ai/langchain, pull requests merged in 2025-05, with the labels that each got.

#31087 openai[patch]: release 0.3.15
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#31089 openai[patch]: propagate service_tier to response metadata
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: 🤖:nit, size:S

#31066 docs: Pinecone Sparse vectorstore example
  docs/docs/integrations/providers/pinecone.mdx
  docs/docs/integrations/vectorstores/pinecone.ipynb
  docs/docs/integrations/vectorstores/pinecone_sparse.ipynb
Labels: lgtm, 🤖:docs, size:XL

#31090 Enable run mutation
  libs/core/langchain_core/tracers/core.py
  libs/core/uv.lock
Labels: size:M

#31095 0.3.57
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#31080 core, openai[patch]: prefer provider-assigned IDs when aggregating message chunks
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/ai.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: 🤖:bug, size:M

#31096 openai[patch]: format system content blocks for Responses API
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:bug, size:M

#31098 langchain[patch]: Remove beta decorator from init_embeddings
  libs/langchain/langchain/embeddings/base.py
Labels: lgtm, Ɑ: embeddings, 🤖:nit, size:XS, langchain

#31099 core: release 0.3.58
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#31100 openai: release 0.3.16
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#31101 langchain: release 0.3.25
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: size:XS, 🤖:release, langchain

#31107 openai[patch]: update embeddings to use .model_dump() when `check_embedding_ctx_length=False`
  libs/partners/openai/langchain_openai/embeddings/base.py
Labels: lgtm, 🤖:nit, size:XS

#30961 docs: improvements to Astra DB pages, especially modernize Vector DB example notebook
  docs/docs/integrations/document_loaders/astradb.ipynb
  docs/docs/integrations/llm_caching.ipynb
  docs/docs/integrations/memory/astradb_chat_message_history.ipynb
  docs/docs/integrations/providers/astradb.mdx
  docs/docs/integrations/retrievers/self_query/astradb.ipynb
  docs/docs/integrations/stores/astradb.ipynb
  docs/docs/integrations/vectorstores/astradb.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL

#31043 Docs: replace initialize agent with create react agent for google tools
  docs/docs/integrations/tools/google_drive.ipynb
  docs/docs/integrations/tools/google_finance.ipynb
  docs/docs/integrations/tools/google_jobs.ipynb
  docs/docs/integrations/tools/google_serper.ipynb
Labels: lgtm, 🤖:docs, size:XXL

#30958 docs: add docs for vectara tools
  docs/docs/integrations/providers/vectara.ipynb
  docs/docs/integrations/tools/vectara.ipynb
Labels: lgtm, 🤖:docs, size:XL

#31108 docs: replace initialize_agent with create_react_agent in yahoo_finance_news.ipynb
  docs/docs/integrations/tools/yahoo_finance_news.ipynb
Labels: lgtm, 🤖:docs, size:L

#30993 docs: updated pinecone example notebook
  docs/docs/integrations/vectorstores/pinecone.ipynb
Labels: lgtm, 🤖:docs, size:L

#31110 docs: minor fix in Pinecone
  docs/docs/integrations/vectorstores/pinecone.ipynb
Labels: 🤖:docs, size:XS

#31115 docs: replace initialize_agent with create_react_agent in openweathermap.ipynb
  docs/docs/integrations/tools/openweathermap.ipynb
Labels: lgtm, 🤖:docs, size:L

#31065 partners: (langchain-deepseek) fix deepseek-r1 always returns an empty `reasoning_content` when reasoning
  libs/partners/deepseek/langchain_deepseek/chat_models.py
Labels: lgtm, 🤖:bug, size:XS

#31122 docs: document that Anthropic supports boolean parallel_tool_calls param in guide
  docs/docs/how_to/tool_calling_parallel.ipynb
Labels: 🤖:docs, size:S

#31126 Docs: Change to async llm graph transformer
  docs/docs/how_to/graph_constructing.ipynb
Labels: lgtm, 🤖:docs, size:S

#31123 docs: Updated pinecone.mdx in the integration providers
  docs/docs/integrations/providers/pinecone.mdx
Labels: 🤖:docs, size:M

#31135 docs: update tavily feature table for JS support
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31133 docs: replace initialize_agent with create_react_agent in graphql.ipynb
  docs/docs/integrations/tools/graphql.ipynb
  docs/docs/integrations/tools/openweathermap.ipynb
  docs/docs/integrations/tools/yahoo_finance_news.ipynb
Labels: lgtm, 🤖:docs, size:L

#31148 docs: Fixed grammar for chat prompt composition
  docs/docs/how_to/prompts_composition.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31140 fix(core): Permit OpenAI style blocks to be passed into convert_to_openai_messages
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: lgtm, 🤖:bug, size:M

#31147 docs: Pinecone Rerank example notebook
  docs/docs/integrations/retrievers/pinecone_rerank.ipynb
Labels: lgtm, 🤖:docs, size:L, Ɑ: retriever

#31138 docs: update langchain-cloudflare repo/path on packages.yaml
  libs/packages.yml
Labels: lgtm, 🤖:nit, size:XS, langchain

#31150 core: release 0.3.59
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#31151 anthropic[patch]: be robust to null fields when translating usage metadata
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:bug, size:M

#31152 huggingface[patch]: update lockfile
  libs/partners/huggingface/uv.lock
Labels: 🤖:nit, size:XS

#31153 huggingface: release 0.2
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
Labels: size:XS, 🤖:release

#31159 Change banner
  docs/docusaurus.config.js
Labels: lgtm, 🤖:docs, size:XS

#31158 anthropic: update streaming usage metadata
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: size:S

#31162 anthropic: release 0.3.13
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: size:XS, 🤖:release

#31167 anthropic[patch]: split test into two
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: 🤖:nit, size:XS

#31164 docs: fix typing in how_to/custom_tools.ipynb
  docs/docs/how_to/custom_tools.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31169 docs: add web search to anthropic docs
  docs/docs/integrations/chat/anthropic.ipynb
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: 🤖:docs, size:XXL

#31170 infra: add to vercel overrides
  docs/vercel_overrides.txt
Labels: 🤖:nit, size:XS

#31171 docs: update sort order in integrations table
  docs/scripts/packages_yml_get_downloads.py
  libs/packages.yml
Labels: size:L

#31154 docs: remove duplicated and inaccurate mulvus doc (part of langchain-ai#31104)
  docs/docs/integrations/providers/milvus.mdx
  docs/docs/integrations/retrievers/milvus_hybrid_search.ipynb
  docs/docs/integrations/vectorstores/milvus.ipynb
  docs/src/theme/FeatureTables.js
  docs/vercel.json
Labels: lgtm, 🤖:docs, size:XL

#31137 text-splitters: Fix regex separator merge bug in CharacterTextSplitter
  libs/text-splitters/langchain_text_splitters/character.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, 🤖:bug, size:M, Ɑ: text splitters

#31177 docs: update DoctranPropertyExtractor import path and fix typo
  docs/docs/integrations/providers/doctran.mdx
  docs/docs/integrations/providers/friendli.mdx
Labels: 🤖:docs, size:S

#31156 docs: document the move of the aerospike vector store integration to langchain-aerospike vec-595
  docs/docs/integrations/providers/aerospike.mdx
  docs/docs/integrations/vectorstores/aerospike.ipynb
Labels: lgtm, 🤖:docs, size:L

#31185 docs: add Aerospike to package registry
  libs/packages.yml
Labels: size:XS

#31184 docs: replace initialize_agent with create_react_agent in searchapi.ipynb
  docs/docs/integrations/tools/searchapi.ipynb
Labels: lgtm, 🤖:docs, size:XL

#31186 docs: add Gel integration
  docs/docs/integrations/providers/gel.mdx
  docs/docs/integrations/vectorstores/gel.ipynb
  libs/packages.yml
Labels: 🤖:docs, size:XL

#31183 docs: replace initialize_agent with create_react_agent in agent_vectorstore.ipynb
  cookbook/agent_vectorstore.ipynb
Labels: 🤖:docs, size:L

#31114 docs: Add Brightdata integration documentation
  docs/docs/integrations/providers/brightdata.mdx
  docs/docs/integrations/tools/brightdata-webscraperapi.ipynb
  docs/docs/integrations/tools/brightdata_serp.ipynb
  docs/docs/integrations/tools/brightdata_unlocker.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL

#31129 infra: Suppress error in make api_docs_clean if index.md is missing
  Makefile
Labels: lgtm, 🤖:nit, size:XS

#31112 core: Fix issue 31035 alias fields in base tool langchain core
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, 🤖:bug, size:S, langchain

#30912 core: Fix some private member accesses
  libs/core/langchain_core/runnables/graph_ascii.py
Labels: lgtm, 🤖:bug, size:S

#31198 openai: ignore function_calls if tool_calls are present
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:bug, size:M

#31201 docs: replace initialize_agent with create_react_agent in graphql.ipynb - replace deprecated load_tools
  docs/docs/integrations/tools/graphql.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31202 docs: replace initialize_agent with create_react_agent in openweathermap - replace deprecated load_tools
  docs/docs/integrations/providers/openweathermap.mdx
Labels: lgtm, 🤖:docs, size:XS

#31200 docs: replace initialize_agent with create_react_agent in llmonitor.md
  docs/docs/integrations/callbacks/llmonitor.md
Labels: lgtm, 🤖:docs, size:S

#31211 docs: replace deprecated load_tools in dataforseo.mdx
  docs/docs/integrations/providers/dataforseo.mdx
Labels: lgtm, 🤖:docs, size:XS

#31212 docs: replace deprecated load_tools in golden.mdx
  docs/docs/integrations/providers/golden.mdx
Labels: lgtm, 🤖:docs, size:XS

#31213 docs: replace deprecated load_tools in google_serper.mdx
  docs/docs/integrations/providers/google_serper.mdx
Labels: lgtm, 🤖:docs, size:XS

#31214 docs: replace deprecated load_tools in google.mdx
  docs/docs/integrations/providers/google.mdx
Labels: lgtm, 🤖:docs, size:XS

#31215 docs: replace deprecated load_tools in serpapi.mdx
  docs/docs/integrations/providers/serpapi.mdx
Labels: lgtm, 🤖:docs, size:XS

#31216 docs: replace deprecated load_tools in stackexchange.mdx
  docs/docs/integrations/providers/stackexchange.mdx
Labels: lgtm, 🤖:docs, size:XS

#31217 docs: replace deprecated load_tools in wolfram_alpha.mdx
  docs/docs/integrations/providers/wolfram_alpha.mdx
Labels: lgtm, 🤖:docs, size:XS

#31218 docs: replace deprecated load_tools in searx.mdx
  docs/docs/integrations/providers/searx.mdx
Labels: lgtm, 🤖:docs, size:XS

#31220 docs: replace deprecated load_tools in google_finance.ipynb
  docs/docs/integrations/tools/google_finance.ipynb
Labels: 🤖:docs, size:L

#31205 docs: update Cloudflare examples for env references
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/docs/integrations/text_embedding/cloudflare_workersai.ipynb
  docs/docs/integrations/vectorstores/cloudflare_vectorize.ipynb
Labels: lgtm, 🤖:docs, size:XL

#31203 docs: replace initialize_agent with create_react_agent in searchapi - replace deprecated load_tools
  docs/docs/integrations/providers/searchapi.mdx
Labels: lgtm, 🤖:docs, size:XS

#31219 docs: update how_to docs to reflect new loaders interface and functionalities
  docs/docs/how_to/document_loader_custom.ipynb
Labels: lgtm, 🤖:docs, size:L

#31188 docs:Fix Google GenAI Embedding params
  docs/src/theme/EmbeddingTabs.js
Labels: lgtm, 🤖:docs, size:S

#31195 openai: support runtime kwargs in embeddings
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/tests/unit_tests/embeddings/test_base.py
Labels: Ɑ: embeddings, size:M

#31230 perf[core]: remove costly async helpers for non-end event handlers
  libs/core/langchain_core/callbacks/manager.py
Labels: lgtm, 🤖:nit, size:M

#31231 perf[core]: remove generations summation from hot loop
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/outputs/chat_generation.py
Labels: lgtm, 🤖:nit, size:M, Ɑ: core

#31206 langchain-core[patch]: `Incremental` record manager deletion should be batched
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
Labels: lgtm, size:L, Ɑ: core

#31026 infra: Dependabot configuration to update actions in workflow
  .github/dependabot.yml
Labels: lgtm, 🤖:nit, size:S

#31239 packaging[core]: bump min pydantic version
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: lgtm, 🤖:nit, size:XS

#31240 docs: Update langchain-anthropic version for tutorial with web search tool
  docs/docs/integrations/chat/anthropic.ipynb
Labels: lgtm, 🤖:docs, size:S

#31246 openai: release 0.3.17
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#31241 Update sql_large_db.ipynb
  docs/docs/how_to/sql_large_db.ipynb
Labels: lgtm, 🤖:nit, size:XS, langchain

#31249 core: release 0.3.60
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#31030 text-splitters: fix some import-untyped errors
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/konlpy.py
  libs/text-splitters/langchain_text_splitters/nltk.py
  libs/text-splitters/langchain_text_splitters/spacy.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Labels: lgtm, 🤖:nit, size:M, Ɑ: text splitters

#31018 langchain: use mypy strict checking with exemptions
  libs/langchain/langchain/agents/initialize.py
  libs/langchain/langchain/agents/openai_functions_agent/base.py
  libs/langchain/langchain/agents/openai_functions_multi_agent/base.py
  libs/langchain/langchain/agents/output_parsers/json.py
  libs/langchain/langchain/callbacks/manager.py
  libs/langchain/langchain/callbacks/tracers/base.py
  libs/langchain/langchain/chains/base.py
  libs/langchain/langchain/chains/combine_documents/base.py
  libs/langchain/langchain/chains/combine_documents/map_reduce.py
  libs/langchain/langchain/chains/combine_documents/map_rerank.py
  libs/langchain/langchain/evaluation/agents/trajectory_eval_chain.py
  libs/langchain/langchain/evaluation/comparison/eval_chain.py
  libs/langchain/langchain/evaluation/criteria/eval_chain.py
  libs/langchain/langchain/evaluation/embedding_distance/base.py
  libs/langchain/langchain/evaluation/qa/eval_chain.py
  libs/langchain/langchain/evaluation/scoring/eval_chain.py
  libs/langchain/langchain/evaluation/string_distance/base.py
  libs/langchain/langchain/memory/buffer.py
  libs/langchain/langchain/memory/vectorstore.py
  libs/langchain/langchain/prompts/chat.py
  libs/langchain/langchain/retrievers/contextual_compression.py
  libs/langchain/langchain/retrievers/document_compressors/__init__.py
  libs/langchain/langchain/retrievers/document_compressors/base.py
  libs/langchain/langchain/retrievers/document_compressors/chain_extract.py
  libs/langchain/langchain/retrievers/document_compressors/chain_filter.py
  libs/langchain/langchain/retrievers/document_compressors/cohere_rerank.py
  libs/langchain/langchain/retrievers/document_compressors/embeddings_filter.py
  libs/langchain/langchain/runnables/hub.py
  libs/langchain/langchain/schema/callbacks/tracers/base.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/callbacks/test_file.py
  libs/langchain/tests/unit_tests/callbacks/test_stdout.py
  libs/langchain/tests/unit_tests/evaluation/agents/test_eval_chain.py
  libs/langchain/tests/unit_tests/output_parsers/test_fix.py
  libs/langchain/tests/unit_tests/output_parsers/test_retry.py
  libs/langchain/tests/unit_tests/retrievers/sequential_retriever.py
  libs/langchain/tests/unit_tests/runnables/test_hub.py
  libs/langchain/tests/unit_tests/runnables/test_openai_functions.py
  libs/langchain/uv.lock
Labels: lgtm, 🤖:nit, size:L, langchain

#29353 core: Add ruff rules RUF
  libs/core/langchain_core/_api/__init__.py
  libs/core/langchain_core/callbacks/__init__.py
  libs/core/langchain_core/document_loaders/__init__.py
  libs/core/langchain_core/documents/__init__.py
  libs/core/langchain_core/indexing/__init__.py
  libs/core/langchain_core/language_models/__init__.py
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/load/__init__.py
  libs/core/langchain_core/memory.py
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/__init__.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/langchain_core/prompts/__init__.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/loading.py
  libs/core/langchain_core/prompts/structured.py
  libs/core/langchain_core/runnables/__init__.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/graph_ascii.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/sys_info.py
  libs/core/langchain_core/tools/__init__.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tracers/__init__.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/tracers/stdout.py
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/utils/_merge.py
  libs/core/langchain_core/utils/aiter.py
  libs/core/langchain_core/utils/env.py
  libs/core/langchain_core/utils/iter.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/vectorstores/__init__.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/pyproject.toml
  libs/core/scripts/check_imports.py
  libs/core/tests/unit_tests/example_selectors/test_length_based_example_selector.py
  libs/core/tests/unit_tests/indexing/test_public_api.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_memory_stream.py
  uv.lock
Labels: lgtm, 🤖:nit, size:L

#31252 chroma: release 0.2.4
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Labels: size:XS, 🤖:release

#31209 ollama: Add separate kwargs parameter for async client
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
Labels: lgtm, size:M

#31253 ollama: release 0.3.3
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Labels: size:XS, 🤖:release

#31254 docs: remove docs that disable ssl verification
  docs/docs/integrations/chat/gigachat.ipynb
  docs/docs/integrations/llms/gigachat.ipynb
  docs/docs/integrations/providers/salute_devices.mdx
  docs/docs/integrations/text_embedding/gigachat.ipynb
Labels: 🤖:docs, size:L

#31255 docs: Fix link `SQL: Agents` to proper destination in sql_large_db.ipynb
  docs/docs/how_to/sql_large_db.ipynb
Labels: 🤖:docs, size:XS

#31242 docs: Update confluence code blocks with all the latest changes and update documentation
  docs/docs/integrations/document_loaders/confluence.ipynb
Labels: lgtm, 🤖:docs, size:M

#30869 langchain[patch]: Allow async indexing code to work for vectorstores that only defined sync delete
  libs/core/langchain_core/indexing/api.py
Labels: 🤖:bug, size:S, langchain

#29312 core: Add ruff rules A (builtins shadowing)
  libs/core/langchain_core/document_loaders/langsmith.py
  libs/core/langchain_core/language_models/_utils.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/langchain_core/messages/modifier.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/list.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/dict.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/retrievers.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_ascii.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/runnables/retry.py
  libs/core/langchain_core/runnables/router.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/structured_query.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/prompts/test_loading.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/test_globals.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Labels: lgtm, 🤖:nit, size:XL, Ɑ: core

#30971 core: support `Union` type args in strict mode of OpenAI function calling / structured output
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: lgtm, 🤖:bug, size:M, langchain

#30822 anthropic: emit informative error message if there are only system messages in a prompt
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: lgtm, 🤖:bug, size:M, langchain

#31273 core: Improve Runnable `__or__` method typing annotations
  libs/core/langchain_core/prompts/structured.py
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: 🤖:nit, size:S, Ɑ: core

#31277 docs: add admonition to DSPy integration page in v0.2 docs
  docs/docs/integrations/providers/dspy.ipynb
Labels: 🤖:docs, size:XS

#31274 docs: Update flashrank-reranker.ipynb
  docs/docs/integrations/retrievers/flashrank-reranker.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31280 openai[patch]: compat with Bedrock Converse
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:nit, size:M

#31250 community: add Featherless.ai integration
  docs/docs/integrations/chat/featherless_ai.ipynb
  docs/docs/integrations/providers/featherless-ai.mdx
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L, community

#31272 docs: replace deprecated load_tools in google_jobs.ipynb
  docs/docs/integrations/tools/google_jobs.ipynb
Labels: lgtm, 🤖:docs, size:L

#31270 docs: clarify hub.pull behavior with non-US LangSmith endpoints
  docs/docs/tutorials/rag.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31283 doc: replace initialize agent in steam.ipynb
  docs/docs/integrations/tools/steam.ipynb
Labels: 🤖:docs, size:M

#31288 Docs: Fixing a typo in retrievers concepts page
  docs/docs/concepts/retrievers.mdx
Labels: lgtm, 🤖:docs, size:XS

#31290 openai[patch]: reduce tested constraints on strict schema adherence for Responses API
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: size:M

#31295 docs: fix typo
  docs/docs/integrations/document_loaders/google_firestore.ipynb
Labels: lgtm, 🤖:nit, size:XS

#31294 docs: fix broken link
  docs/docs/how_to/document_loader_pdf.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31284 ci: fix typo in doc-string
  libs/cli/langchain_cli/namespaces/migrate/main.py
Labels: 🤖:nit, size:XS, langchain

#31306 openai[patch]: update tests for strict schemas
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: size:M

#31308 docs: correct groq description typo
  docs/docs/integrations/providers/groq.mdx
Labels: lgtm, 🤖:docs, size:XS

#31307 exa docs and python package update
  libs/partners/exa/README.md
  libs/partners/exa/langchain_exa/retrievers.py
  libs/partners/exa/langchain_exa/tools.py
  libs/partners/exa/pyproject.toml
  libs/partners/exa/tests/integration_tests/test_retriever.py
  libs/partners/exa/tests/integration_tests/test_search_tool.py
  libs/partners/exa/uv.lock
Labels: lgtm, 🤖:docs, size:L, Ɑ: retriever

#31312 openai[patch]: run _tokenize in background thread in async embedding invocations
  libs/partners/openai/langchain_openai/embeddings/base.py
Labels: lgtm, Ɑ: embeddings, size:XS

#31304 openai[patch]: support built-in code interpreter and remote MCP tools
  docs/docs/integrations/chat/openai.ipynb
  libs/core/langchain_core/utils/function_calling.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
Labels: lgtm, size:L, langchain

#31317 core: release 0.3.61
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#31318 infra: temporarily drop OpenAI from core release test matrix
  .github/workflows/_release.yml
Labels: 🤖:nit, size:XS

#31320 openai: release 0.3.18
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#31322 Revert "infra: temporarily drop OpenAI from core release test matrix"
  .github/workflows/_release.yml
Labels: 🤖:nit, size:XS

#31329 docs: Fix Memgraph class name
  docs/docs/integrations/graphs/memgraph.ipynb
  docs/docs/integrations/providers/memgraph.mdx
  docs/docs/integrations/tools/memgraph.ipynb
Labels: lgtm, 🤖:docs, size:S

#31333 langchain[patch]: update AgentType docstring with correct documentation URL
  libs/langchain/langchain/agents/agent_types.py
Labels: Ɑ: agent, lgtm, 🤖:nit, size:XS, langchain

#31315 docs: fix nebula description at https://python.langchain.com/docs/integrations/chat/ All chat models section
  docs/docs/integrations/chat/symblai_nebula.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31314 docs: fix maritalk description at https://python.langchain.com/docs/integrations/chat/ All chat models section
  docs/docs/integrations/chat/maritalk.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31327 docs: fix truncation of retriever descriptions in overview table
  docs/docs/integrations/retrievers/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#31343 docs: fix incorrect grammar and vocabulary in ernie.ipynb
  docs/docs/integrations/chat/ernie.ipynb
Labels: lgtm, 🤖:docs, size:S

#31344 docs: fix incorrect grammar in abso.ipynb
  docs/docs/integrations/chat/abso.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31346 docs: fix incorrect grammar and vocabulary in llamacpp.ipynb
  docs/docs/integrations/chat/llamacpp.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31352 docs: fix vocabs and missing redirect links in concepts
  docs/docs/concepts/agents.mdx
  docs/docs/concepts/async.mdx
  docs/docs/concepts/callbacks.mdx
  docs/docs/concepts/text_splitters.mdx
Labels: lgtm, 🤖:docs, size:S

#31340 anthropic: support for code execution, MCP connector, files API features
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  .github/workflows/scheduled_test.yml
  docs/docs/integrations/chat/anthropic.ipynb
  libs/core/langchain_core/language_models/chat_models.py
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
Labels: size:XL

#31380 xai: release 0.2.4
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Labels: size:XS, 🤖:release

#31382 docs: update xai docs
  docs/docs/integrations/providers/xai.ipynb
  libs/partners/xai/langchain_xai/chat_models.py
Labels: 🤖:docs, size:XS

#31383 openai[patch]: add test case for code interpreter
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: size:S

#31369 docs: fix blockchain and mintbase descriptions at https://python.langchain.com/docs/integrations/document_loaders/ All document loaders section
  docs/docs/integrations/document_loaders/blockchain.ipynb
  docs/docs/integrations/document_loaders/mintbase.ipynb
Labels: lgtm, 🤖:docs, size:S

#31371 docs: fix pdfloaders' descriptions at https://python.langchain.com/docs/integrations/document_loaders/ All document loaders section
  docs/docs/integrations/document_loaders/unstructured_pdfloader.ipynb
  docs/docs/integrations/document_loaders/zeroxpdfloader.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31373 docs: fix google_books and memgraph descriptions at https://python.langchain.com/docs/integrations/tools/ All tools section
  docs/docs/integrations/tools/google_books.ipynb
  docs/docs/integrations/tools/memgraph.ipynb
Labels: lgtm, 🤖:docs, size:S

#31372 docs: fix wikipedia description at https://python.langchain.com/docs/integrations/retrievers/ All retrievers section
  docs/docs/integrations/retrievers/wikipedia.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31363 docs: update Valyu 0.2.0 langchain package
  docs/docs/integrations/providers/valyu.ipynb
  docs/docs/integrations/retrievers/valyu.ipynb
  docs/docs/integrations/tools/valyu_search.ipynb
Labels: lgtm, 🤖:docs, size:M

#31375 docs: fix grammar in multiple docs
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/docs/integrations/chat/contextual.ipynb
  docs/docs/integrations/chat/deepseek.ipynb
  docs/docs/integrations/chat/featherless_ai.ipynb
  docs/docs/integrations/chat/goodfire.ipynb
  docs/docs/integrations/chat/groq.ipynb
  docs/docs/integrations/chat/huggingface.ipynb
  docs/docs/integrations/chat/mistralai.ipynb
  docs/docs/integrations/chat/modelscope_chat_endpoint.ipynb
  docs/docs/integrations/chat/netmind.ipynb
  docs/docs/integrations/chat/nvidia_ai_endpoints.ipynb
  docs/docs/integrations/chat/oci_data_science.ipynb
  docs/docs/integrations/chat/outlines.ipynb
  docs/docs/integrations/chat/pipeshift.ipynb
  docs/docs/integrations/chat/qwq.ipynb
  docs/docs/integrations/chat/sambanova.ipynb
  docs/docs/integrations/chat/sambastudio.ipynb
  docs/docs/integrations/chat/vllm.ipynb
  docs/docs/integrations/chat/yi.ipynb
  docs/docs/integrations/llms/nvidia_ai_endpoints.ipynb
  docs/docs/integrations/llms/outlines.ipynb
  docs/docs/integrations/retrievers/azure_ai_search.ipynb
  docs/docs/integrations/retrievers/bedrock.ipynb
  docs/docs/integrations/retrievers/box.ipynb
  docs/docs/integrations/retrievers/cognee.ipynb
  docs/docs/integrations/retrievers/dappier.ipynb
  docs/docs/integrations/retrievers/elasticsearch_retriever.ipynb
  docs/docs/integrations/retrievers/linkup_search.ipynb
  docs/docs/integrations/retrievers/zotero.ipynb
  docs/docs/integrations/text_embedding/sambanova.ipynb
  docs/docs/integrations/tools/dappier.ipynb
  docs/docs/integrations/tools/gmail.ipynb
  docs/docs/integrations/tools/memgraph.ipynb
  docs/docs/integrations/tools/slack.ipynb
  docs/docs/integrations/tools/sql_database.ipynb
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/retrievers.ipynb
  libs/cli/langchain_cli/integration_template/docs/toolkits.ipynb
Labels: lgtm, 🤖:docs, size:M

#31393 anthropic: store cache ttl details on usage metadata
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: lgtm, size:XS

#31401 doc: fix grammar in vectara.ipynb
  docs/docs/integrations/chat/vectara.ipynb
Labels: lgtm, 🤖:docs, size:M

#31407 infra: update cassettes for notebook
  docs/cassettes/response_metadata_161f5898-9976-4a75-943d-03eda1a40a60.msgpack.zlib
  docs/cassettes/response_metadata_1e4ac668-4c6a-48ad-9a6f-7b291477b45d.msgpack.zlib
  docs/cassettes/response_metadata_39549336-25f5-4839-9846-f687cd77e59b.msgpack.zlib
  docs/cassettes/response_metadata_61c43496-83b5-4d71-bd60-3e6d46c62a5e.msgpack.zlib
  docs/cassettes/response_metadata_6ae32a93-26db-41bb-95c2-38ddd5085fbe.msgpack.zlib
  docs/cassettes/response_metadata_744e14ec-ff50-4642-9893-ff7bdf8927ff.msgpack.zlib
  docs/cassettes/response_metadata_deb41321-52d0-4795-a40c-4a811a13d7b0.msgpack.zlib
  docs/docs/how_to/response_metadata.ipynb
Labels: size:M

#31302 standard-tests: add benchmarks
  .github/scripts/check_diff.py
  .github/workflows/check_diffs.yml
  .github/workflows/codspeed.yml
  libs/core/uv.lock
  libs/langchain/uv.lock
  libs/partners/anthropic/Makefile
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/cassettes/TestAnthropicStandard_test_stream_time.yaml.gz
  libs/partners/anthropic/tests/conftest.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_standard.py
  libs/partners/anthropic/uv.lock
  libs/partners/deepseek/uv.lock
  libs/partners/fireworks/uv.lock
  libs/partners/groq/uv.lock
  libs/partners/mistralai/uv.lock
  libs/partners/openai/Makefile
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/cassettes/TestAzureOpenAIStandardLegacy_test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestAzureOpenAIStandard_test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIResponses_test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestOpenAIStandard_test_stream_time.yaml.gz
  libs/partners/openai/tests/conftest.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/uv.lock
  libs/partners/xai/uv.lock
  libs/standard-tests/langchain_tests/conftest.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: lgtm, size:XL

#31409 benchmarks: always run (not conditional on changes)
  .github/workflows/codspeed.yml
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: lgtm, 🤖:nit, size:M

#31260 openai: cache httpx client
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, size:M

#31420 docs: update default model
  docs/src/theme/ChatModelTabs.js
Labels: 🤖:docs, size:XS

#31421 infra: drop azure from streaming benchmarks
  .github/workflows/codspeed.yml
  libs/partners/openai/tests/cassettes/TestAzureOpenAIStandardLegacy_test_stream_time.yaml.gz
  libs/partners/openai/tests/cassettes/TestAzureOpenAIStandard_test_stream_time.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
Labels: lgtm, size:S

#31412 docs: fix grammar issue in assign.ipynb and fireworks.ipynb
  docs/docs/how_to/assign.ipynb
  docs/docs/integrations/chat/fireworks.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31400 doc: fix grammar in writer.ipynb
  docs/docs/integrations/chat/writer.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31430 safe serde
  libs/partners/openai/tests/conftest.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/standard-tests/langchain_tests/conftest.py
Labels: size:L

#31436 docs: samabanova doc minor fixes
  docs/docs/integrations/llms/sambanovacloud.ipynb
  docs/docs/integrations/providers/sambanova.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31441 docs: fix grammar errors in yi.ipynb and zhipuai.ipynb
  docs/docs/integrations/chat/yi.ipynb
  docs/docs/integrations/chat/zhipuai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31438 docs: fix grammar issues in tencent_hunyuan.ipynb and together.ipynb
  docs/docs/integrations/chat/tencent_hunyuan.ipynb
  docs/docs/integrations/chat/together.ipynb
Labels: 🤖:docs, size:S

#31427 docs: fix vectara description at https://python.langchain.com/docs/integrations/tools/ All tools section
  docs/docs/integrations/tools/vectara.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31426 docs: fix naver_search description at https://python.langchain.com/docs/integrations/tools/ All tools section
  docs/docs/integrations/tools/naver_search.ipynb
Labels: lgtm, 🤖:docs, size:XS
