Repository langchain-ai/langchain, pull requests merged in 2025-03, with the labels that each got.

#30060 Update ascend.py
  libs/community/langchain_community/embeddings/ascend.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:S, community

#30062 docs: sidebar-content-render (#30061)
  docs/api_reference/_static/css/custom.css
Labels: lgtm, 🤖:docs, size:XS

#30059 core: make with_alisteners() example workable.
  libs/core/langchain_core/runnables/base.py
Labels: lgtm, 🤖:nit, size:M

#30063 docs: add to vercel overrides
  docs/vercel_overrides.txt
Labels: 🤖:docs, size:XS

#30064 docs: update contributing docs
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  docs/docs/contributing/reference/faq.mdx
Labels: 🤖:docs, size:XS

#30088 docs: Fix typo in code samples for max_tokens_for_prompt
  libs/community/langchain_community/llms/openai.py
  libs/partners/openai/langchain_openai/llms/base.py
Labels: lgtm, 🤖:nit, size:XS

#30081 docs:Add SWI-Prolog for langchain-prolog
  docs/docs/integrations/providers/prolog.md
Labels: lgtm, 🤖:docs, size:XS

#30073 [Doc] Improve api doc
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/runnables/retry.py
Labels: lgtm, 🤖:docs, size:XS

#30071 docs: refine milvus server description
  docs/docs/integrations/vectorstores/milvus.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30084 community[patch]: remove numpy cap for python < 3.12
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/uv.lock
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, community

#30100 core[patch]: release 0.3.41
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#30101 langchain[patch]: release 0.3.20
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: size:XS, 🤖:release, langchain

#30102 tests[patch]: release 0.3.13
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, 🤖:release

#30103 anthropic[patch]: release 0.3.9
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: size:XS, 🤖:release

#30104 community[patch]: release 0.3.19
  libs/community/pyproject.toml
  libs/community/uv.lock
Labels: size:XS, 🤖:release, community

#30002 community[minor]: Fix regular expression in visualize and outlines modules.
  libs/community/langchain_community/graph_vectorstores/visualize.py
  libs/community/langchain_community/llms/outlines.py
Labels: lgtm, 🤖:nit, size:XS, community

#30006 Fixed an issue with the OpenAI Assistant's 'retrieval' tool and adding support for the 'attachments' parameter
  libs/langchain/langchain/agents/openai_assistant/base.py
Labels: lgtm, 🤖:bug, size:XS, Ɑ: retriever, langchain

#30042 docs: add Taiga Tool integration docs
  docs/docs/integrations/providers/taiga.mdx
  docs/docs/integrations/tools/taiga.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30110 Add request_id field to improve request tracking and debugging (for Tongyi model)
  libs/community/langchain_community/llms/tongyi.py
Labels: lgtm, size:XS, community

#30108 community: make DashScope models support Partial Mode for text continuation.
  docs/docs/integrations/chat/tongyi.ipynb
  libs/community/langchain_community/chat_models/tongyi.py
  libs/community/tests/unit_tests/chat_models/test_tongyi.py
Labels: lgtm, size:M, community

#30127 community: fix AttributeError when creating LanceDB vectorstore
  libs/community/langchain_community/vectorstores/lancedb.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS, community

#30156 anthropic[patch]: add PDF input example to API reference
  libs/partners/anthropic/langchain_anthropic/chat_models.py
Labels: size:M

#30040 docs: fix apify actors notebok main heading text
  docs/docs/integrations/providers/apify.mdx
  docs/docs/integrations/tools/apify_actors.ipynb
Labels: lgtm, 🤖:docs, size:XL

#30123 core[patch]: update structured output tracing
  libs/cli/Makefile
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: size:L

#30159 cli: release 0.0.36
  libs/cli/pyproject.toml
Labels: lgtm, size:XS, 🤖:release

#30163 core[patch]: release 0.3.42
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release, Ɑ: core

#30164 openai[patch]: release 0.3.8
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#30165 tests[patch]: release 0.3.14
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, 🤖:release

#30153 docs: Integration Update - ADS4GPTs
  docs/docs/integrations/providers/ads4gpts.mdx
  docs/docs/integrations/tools/ads4gpts.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30161 groq[patch]: warn if model is not specified
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/groq/tests/unit_tests/test_chat_models.py
  libs/partners/groq/tests/unit_tests/test_standard.py
Labels: 🤖:nit, size:L

#30150 add JiebaLinkExtractor for chinese doc extracting
  libs/community/langchain_community/graph_vectorstores/__init__.py
Labels: lgtm, 🤖:docs, size:XS, community

#30168 groq[patch]: release 0.2.5
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Labels: size:XS, 🤖:release

#30167 DOC: type checker complain on args_schema type hint when inheriting from BaseTool
  docs/docs/how_to/custom_tools.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30169 core[patch]: export ArgsSchema
  libs/core/langchain_core/tools/__init__.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core

#30170 docs: update model used in ChatGroq
  docs/docs/integrations/chat/groq.ipynb
Labels: 🤖:docs, size:M

#30172 core[patch]: catch structured_output_format
  libs/core/langchain_core/language_models/chat_models.py
Labels: 🤖:bug, size:S, Ɑ: core

#30173 core[patch]: release 0.3.43
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#30174 docs[patch]: update trim messages wording
  docs/docs/how_to/trim_messages.ipynb
Labels: 🤖:docs, size:XS

#30175 community[patch]: ChatPerplexity: track usage metadata
  libs/community/langchain_community/chat_models/perplexity.py
  libs/community/tests/integration_tests/chat_models/test_perplexity.py
Labels: size:M, community

#30157 Flush
  libs/core/langchain_core/tracers/langchain.py
Labels: size:XS

#30181 docs: update package registry counts
  libs/packages.yml
Labels: 🤖:docs, size:L

#30183 fixes#30182: update tool names to match OpenAI function name pattern
  libs/community/langchain_community/agent_toolkits/jira/toolkit.py
Labels: Ɑ: agent, lgtm, 🤖:bug, size:S, community

#30050 docs: add contextualai documentation
  docs/docs/integrations/chat/contextual.ipynb
  docs/docs/integrations/providers/contextual.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30070 langchain: clean pyproject ruff section
  Makefile
  pyproject.toml
  uv.lock
Labels: lgtm, 🤖:nit, size:S, langchain

#30188 cli: update integration doc template for tools
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
Labels: 🤖:docs, size:M

#30105 community: add Valthera integration
  docs/docs/integrations/providers/valthera.mdx
  docs/docs/integrations/tools/valthera.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL, community

#30189 mistral[patch]: set global ssl context
  libs/partners/mistralai/langchain_mistralai/chat_models.py
Labels: size:XS

#30190 community: Add OpenGradient integration (Toolkit)
  docs/docs/integrations/providers/opengradient.ipynb
  docs/docs/integrations/tools/opengradient_toolkit.ipynb
  docs/scripts/check_templates.py
  libs/packages.yml
Labels: 🤖:docs, size:L, community

#30195 docs: Fix typo in astream_events in streaming docs
  docs/docs/concepts/streaming.mdx
Labels: lgtm, 🤖:docs, size:XS

#30192 community: Remove the system message count limit for ChatTongyi.
  libs/community/langchain_community/chat_models/tongyi.py
Labels: lgtm, size:XS, community

#30180 infra: additional testing on core release
  .github/workflows/_release.yml
Labels: size:M

#30201 docs: add note on Deepseek R1
  docs/docs/integrations/chat/deepseek.ipynb
Labels: 🤖:docs, size:XS

#30202 standard-tests, openai: bump core
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: 🤖:nit, size:XS

#30207 infra: update release workflow
  .github/workflows/_release.yml
Labels: size:S

#30219 docs: Fix typo in Generating Examples section of few-shot prompting doc
  docs/docs/concepts/few_shot_prompting.mdx
Labels: lgtm, 🤖:docs, size:XS

#30234 core[patch]: support single-node subgraphs and put subgraph nodes under the respective subgraphs
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
Labels: size:L

#30236 core[patch]: release 0.3.44
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS

#30231 openai[patch]: support Responses API
  .github/workflows/_release.yml
  docs/docs/integrations/chat/openai.ipynb
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/pyproject.toml
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/uv.lock
  uv.lock
Labels: size:XXL

#30250 docs[patch]: add logo to readme
  README.md
  docs/static/img/logo-dark.svg
  docs/static/img/logo-light.svg
Labels: 🤖:docs, size:S

#30239 docs: update readme
  README.md
  docs/static/img/logo-dark.svg
  docs/static/img/logo-light.svg
Labels: 🤖:docs, size:L

#30268 standard tests: test simple agent loop
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: size:M

#30252 fix(core): Ignore missing secrets on deserialization
  libs/core/langchain_core/load/load.py
  libs/langchain/tests/unit_tests/load/test_load.py
Labels: 🤖:bug, size:S

#30275 mistral: release 0.2.8
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Labels: size:XS, 🤖:release

#30276 infra: update release pipeline
  .github/workflows/_release.yml
Labels: size:S

#30272 community[fix] : Pass API_KEY as argument
  libs/community/langchain_community/tools/tavily_search/tool.py
Labels: lgtm, 🤖:bug, size:S, community

#30277 core: release 0.3.45
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#30278 mistralai[patch]: bump core
  libs/partners/mistralai/pyproject.toml
Labels: 🤖:nit, size:XS

#30285 community: cube document loader - fix logging
  libs/community/langchain_community/document_loaders/cube_semantic.py
Labels: lgtm, Ɑ: doc loader, 🤖:nit, size:S, community

#30274 anthropic: support built-in tools, improve docs
  docs/docs/integrations/chat/anthropic.ipynb
  libs/partners/anthropic/langchain_anthropic/__init__.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_imports.py
  libs/partners/anthropic/uv.lock
Labels: size:XL

#30287 anthropic: release 0.3.10
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: size:XS, 🤖:release

#30288 docs: fix typo
  docs/docs/integrations/chat/anthropic.ipynb
Labels: 🤖:docs, size:XS

#30283 community[patch]: fix bilibili loader handling of multi-page content
  libs/community/langchain_community/document_loaders/bilibili.py
  libs/community/tests/integration_tests/document_loaders/test_bilibili.py
  libs/community/uv.lock
Labels: lgtm, Ɑ: doc loader, size:S, community

#30292 docs: update contributing doc
  docs/docs/contributing/how_to/integrations/index.mdx
Labels: 🤖:docs, size:S

#30291 docs: update json-mode docs to use with_structured_output(method="json_mode")
  docs/docs/concepts/structured_outputs.mdx
Labels: lgtm, 🤖:docs, size:S

#30251 langchain_ollama: Support keep_alive in embeddings
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/tests/unit_tests/test_embeddings.py
Labels: lgtm, Ɑ: embeddings, size:S

#30265 openai[patch]: support structured output via Responses API
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_responses_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_standard.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: size:L

#30263 community: fix CPU support for FasterWhisperParser (implicit compute type for WhisperModel)
  libs/community/langchain_community/document_loaders/parsers/audio.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS, community

#30242 community: add 'extract' mode to FireCrawlLoader for structured data extraction
  libs/community/langchain_community/document_loaders/firecrawl.py
  libs/community/tests/unit_tests/document_loaders/test_firecrawl.py
Labels: lgtm, Ɑ: doc loader, size:L, community

#30325 openai[patch]: release 0.3.9
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#30313 docs: Fix for broken links for Docling project sites
  docs/docs/integrations/document_loaders/docling.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30310 docs: fix typo
  docs/docs/concepts/structured_outputs.mdx
  docs/docs/concepts/tool_calling.mdx
Labels: lgtm, 🤖:docs, size:XS

#30303 docs(openai): use bold over ticks
  docs/docs/integrations/providers/openai.mdx
Labels: lgtm, 🤖:docs, size:S

#30330 docs: update chat model tabs
  docs/src/theme/ChatModelTabs.js
Labels: 🤖:docs, size:S

#30331 docs: update langsmith env vars
  docs/docs/integrations/chat/azure_ai.ipynb
  docs/docs/integrations/chat/contextual.ipynb
  docs/docs/integrations/chat/pipeshift.ipynb
  docs/docs/integrations/chat/sambanova.ipynb
  docs/docs/integrations/chat/sambastudio.ipynb
  docs/docs/integrations/chat/writer.ipynb
  docs/docs/integrations/document_loaders/parsers/writer_pdf_parser.ipynb
  docs/docs/integrations/llms/pipeshift.ipynb
  docs/docs/integrations/retrievers/outline.ipynb
  docs/docs/integrations/splitters/writer_text_splitter.ipynb
  docs/docs/integrations/text_embedding/sambanova.ipynb
  docs/docs/integrations/tools/discord.ipynb
  docs/docs/integrations/tools/fmp-data.ipynb
  docs/docs/integrations/tools/taiga.ipynb
Labels: 🤖:docs, size:M

#28972 text-splitters: Add JSFrameworkTextSplitter for Handling JavaScript Framework Code
  libs/text-splitters/langchain_text_splitters/__init__.py
  libs/text-splitters/langchain_text_splitters/jsx.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, size:L, Ɑ: text splitters, langchain

#30204 langchain-tests: allow subclasses to add addition, non-standard tests
  libs/standard-tests/langchain_tests/base.py
Labels: lgtm, 🤖:nit, size:XS

#30298 fix typo
  docs/docs/integrations/vectorstores/xata.ipynb
Labels: lgtm, 🤖:nit, size:XS

#30262 community: support in-memory data (Blob.from_data) in all audio parsers
  libs/community/langchain_community/document_loaders/parsers/audio.py
Labels: lgtm, size:M, community

#30267 docs: Refactored AWS Lambda Tool to Use AgentExecutor instead of initialize agent
  docs/docs/integrations/tools/awslambda.ipynb
Labels: lgtm, 🤖:docs, size:S

#30218 community: fix import exception too constrictive
  libs/community/langchain_community/document_loaders/parsers/images.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:S, community

#30341 groq[minor]: remove default model
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/unit_tests/test_chat_models.py
Labels: 🤖:nit, size:M

#30317 support return reasoning content for models like qwq in dashscope
  libs/community/langchain_community/chat_models/tongyi.py
Labels: lgtm, size:XS, community

#30307 docs(readthedocs): streamline config
  .readthedocs.yaml
Labels: lgtm, 🤖:docs, size:S

#30342 Core: Adding Azure AI to Supported Chat Models
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: lgtm, size:XS, langchain

#30273 ollama[minor]: update default method for structured output
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_standard.py
  libs/partners/ollama/uv.lock
Labels: lgtm, 🤖:nit, size:M

#30345 docs: Fix typo "tall" → "tool" in tools_human.ipynb
  docs/docs/how_to/tools_human.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30348 langchain: release 0.3.21
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: size:XS, 🤖:release, langchain

#30350 langchain[patch]: lock with latest text-splitters
  libs/langchain/uv.lock
Labels: 🤖:nit, size:XS, langchain

#30352 langchain[patch]: update text-splitters min bound
  libs/langchain/pyproject.toml
Labels: 🤖:nit, size:XS, langchain

#30354 community: release 0.3.20
  libs/community/pyproject.toml
  libs/community/uv.lock
Labels: size:XS, 🤖:release, community

#30208 docs: Fix Qdrant sparse and hybrid vector search
  docs/docs/integrations/vectorstores/qdrant.ipynb
Labels: lgtm, 🤖:docs, size:L

#30356 Rm check for parent_run presence
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Labels: lgtm, 🤖:nit, size:XS

#30357 Revert "docs: Refactored AWS Lambda Tool to Use AgentExecutor instead of initialize agent "
  docs/docs/integrations/tools/awslambda.ipynb
Labels: 🤖:docs, size:S

#30365 community: add keep_newlines parameter to process_pages method
  libs/community/langchain_community/document_loaders/confluence.py
Labels: lgtm, Ɑ: doc loader, size:XS, community

#30360 community: aligning ChatLiteLLM default parameters with litellm
  libs/community/langchain_community/chat_models/litellm.py
Labels: lgtm, size:XS, community

#30367 docs: fix some typos
  docs/docs/contributing/how_to/integrations/package.mdx
  docs/docs/integrations/providers/langchain_decorators.mdx
Labels: lgtm, 🤖:docs, size:XS

#30358 Fix typo: change 'ben' to 'be' in comment
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:nit, size:XS

#30374 groq: release 0.3.0
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Labels: size:XS, 🤖:release

#30373 core[patch]: add util for approximate token counting
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: lgtm, size:L, Ɑ: core

#30378 Unset context after step
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/context.py
Labels: lgtm, 🤖:nit, size:L

#30380 Unset context to None in var
  libs/core/langchain_core/runnables/config.py
Labels: 🤖:nit, size:S, Ɑ: core

#30377 Dereference run tree
  libs/core/langchain_core/tracers/langchain.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Labels: 🤖:nit, size:S

#30355 Docs: Fix deprecated initialize agent in ainetwork
  docs/docs/integrations/tools/ainetwork.ipynb
Labels: lgtm, 🤖:docs, size:S

#30384 docs: update contextual.ipynb
  docs/docs/integrations/providers/contextual.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30152 community: PlaywrightURLLoader can take stored session file
  libs/community/langchain_community/document_loaders/url_playwright.py
Labels: lgtm, Ɑ: doc loader, size:M, community

#30381 Integration update
  docs/docs/integrations/providers/tavily.mdx
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
  libs/packages.yml
Labels: 🤖:docs, size:L

#30387 docs: update tavily guides
  docs/docs/integrations/providers/tavily.mdx
  docs/docs/integrations/tools/tavily_extract.ipynb
  docs/docs/integrations/tools/tavily_search.ipynb
Labels: 🤖:docs, size:L

#30270 community: add ZoteroRetriever
  docs/docs/integrations/providers/zotero.ipynb
  docs/docs/integrations/retrievers/zotero.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L, Ɑ: retriever, community

#30082 Update MLflow integration docs with concise examples and external links
  docs/docs/integrations/providers/mlflow_tracking.ipynb
Labels: lgtm, 🤖:docs, size:XL

#30154 (Ollama) Fix String Value parsing in _parse_arguments_from_tool_call
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:bug, size:S

#30385 multiple: support `strict` and `method` in with_structured_output
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/uv.lock
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/xai/langchain_xai/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: size:L

#30372 multiple: enforce standards on tool_choice
  libs/community/langchain_community/chat_models/cloudflare_workersai.py
  libs/community/langchain_community/chat_models/perplexity.py
  libs/community/langchain_community/chat_models/reka.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/integration_tests/test_standard.py
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: size:L

#30396 core: release 0.3.47
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#30397 tests: release 0.3.15
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, 🤖:release

#30399 docs: add links in Writer provider page
  docs/docs/integrations/providers/writer.mdx
Labels: 🤖:docs, size:XS

#30400 fireworks: release 0.2.8
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
Labels: size:XS, 🤖:release

#30401 groq: release 0.3.1
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Labels: size:XS, 🤖:release

#30402 mistral: release 0.2.9
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Labels: size:XS, 🤖:release

#30403 xai: release 0.2.2
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Labels: size:XS, 🤖:release

#30405 docs: Fix typo in chat_history.ipynb
  docs/docs/versions/migrating_memory/chat_history.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30406 docs: fix typo in chat_history.ipynb
  docs/docs/versions/migrating_memory/chat_history.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30407 docs: fix several typos in docs/docs/how_to/split_html.ipynb
  docs/docs/how_to/split_html.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30420 ollama: release 0.3.0
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Labels: size:XS, 🤖:release

#30421 core[patch]: more tests for trim_messages
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: size:L, Ɑ: core

#30422 deepseek: release 0.1.3
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
Labels: size:XS, 🤖:release

#30423 deepseek: temporarily bypass tests
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Labels: size:M

#30424 Revert "deepseek: temporarily bypass tests"
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Labels: size:M

#30409 docs: Update a note about how to track azure openai's token usage when streaming
  docs/docs/how_to/chat_token_usage_tracking.ipynb
Labels: lgtm, 🤖:docs, size:S

#30425 openai[patch]: trace strict in structured_output_kwargs
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:nit, size:XS

#30327 core[patch]: optimize trim_messages
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: lgtm, size:L

#29939 core(mermaid): allow greater customization
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/tests/unit_tests/runnables/__snapshots__/test_graph.ambr
  libs/core/tests/unit_tests/runnables/test_graph.py
Labels: size:M, Ɑ: core

#30426 docs[patch]: add warning to token counter docstring
  libs/core/langchain_core/messages/utils.py
Labels: size:XS

#30289 core: add tool_call exclusion in filter_message
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: lgtm, size:L

#30430 community：ChatLiteLLM support output reasoning content
  libs/community/langchain_community/chat_models/litellm.py
Labels: lgtm, size:XS, community

#30417 Fix incorrect import path for AzureAIChatCompletionsModel
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, 🤖:nit, size:XS, langchain

#30431 docs: update cassettes for response metadata guide
  docs/cassettes/response_metadata_161f5898-9976-4a75-943d-03eda1a40a60.msgpack.zlib
  docs/cassettes/response_metadata_1e4ac668-4c6a-48ad-9a6f-7b291477b45d.msgpack.zlib
  docs/cassettes/response_metadata_39549336-25f5-4839-9846-f687cd77e59b.msgpack.zlib
  docs/cassettes/response_metadata_61c43496-83b5-4d71-bd60-3e6d46c62a5e.msgpack.zlib
  docs/cassettes/response_metadata_6ae32a93-26db-41bb-95c2-38ddd5085fbe.msgpack.zlib
  docs/cassettes/response_metadata_744e14ec-ff50-4642-9893-ff7bdf8927ff.msgpack.zlib
  docs/cassettes/response_metadata_a984118e-a731-4864-bcea-7dc6c6b3d139.msgpack.zlib
  docs/cassettes/response_metadata_deb41321-52d0-4795-a40c-4a811a13d7b0.msgpack.zlib
  docs/docs/how_to/response_metadata.ipynb
Labels: 🤖:docs, size:L

#30435 feature: added warning when duckdb is used as a vectorstore without pandas
  libs/community/langchain_community/vectorstores/duckdb.py
Labels: lgtm, Ɑ: vector store, size:XS, community

#30432 community: change to uuid4 in cassandra message histories
  libs/community/langchain_community/chat_message_histories/cassandra.py
Labels: lgtm, size:XS, 🤖:security, community

#30343 langchain-tests: allow test_serdes for packages outside the default valid namespaces
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: lgtm, 🤖:nit, size:XS

#30413 docs: Update VectorStoreTab vector store initializations
  docs/src/theme/VectorStoreTabs.js
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XS
