Repository langchain-ai/langchain, pull requests merged in 2025-02, with the labels that each got.

#29534 community: add standard tests for Perplexity
  libs/community/tests/integration_tests/chat_models/test_perplexity.py
  libs/community/tests/unit_tests/chat_models/test_perplexity.py
Labels: size:M, community

#29535 deepseek[patch]: bump langchain-openai and add to scheduled testing
  .github/workflows/scheduled_test.yml
  libs/partners/deepseek/poetry.lock
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
Labels: 🤖:nit, size:S

#29512 docs: Add goodfire notebook and add to packages.yml
  docs/docs/integrations/chat/goodfire.ipynb
  docs/docs/integrations/providers/goodfire.mdx
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29506 community: fix issue #29429 in age_graph.py
  libs/community/langchain_community/graphs/age_graph.py
  libs/community/tests/unit_tests/graphs/test_age_graph.py
Labels: size:L, community

#29479 docs: update payman docs
  docs/docs/integrations/providers/payman-tool.mdx
Labels: lgtm, 🤖:docs, size:S

#29556 docs: update readthedocs document loader options
  docs/docs/integrations/document_loaders/readthedocs_documentation.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29552 Fix a tiny typo in `create_retrieval_chain` docstring
  libs/langchain/langchain/chains/retrieval.py
Labels: lgtm, 🤖:nit, size:XS, langchain

#29480 docs: chat model order experiment
  docs/src/theme/ChatModelTabs.js
Labels: 🤖:docs, size:M

#29567 Banner for interrupt
  docs/docusaurus.config.js
Labels: size:XS

#29500 partners: Fixed the procedure of initializing pad_token_id
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/tests/integration_tests/test_standard.py
  libs/partners/huggingface/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:bug, size:M

#29481 [oci_generative_ai] Option to pass auth_file_location
  docs/docs/integrations/llms/oci_generative_ai.ipynb
  docs/docs/integrations/text_embedding/oci_generative_ai.ipynb
  libs/community/langchain_community/chat_models/oci_generative_ai.py
  libs/community/langchain_community/embeddings/oci_generative_ai.py
  libs/community/langchain_community/llms/oci_generative_ai.py
Labels: lgtm, size:M, community

#29550 [Bugfix langchain_community] Fix PyMuPDFLoader
  libs/community/langchain_community/document_loaders/parsers/pdf.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:S, community

#29583 deepseek: rename to langchain-deepseek from langchain-deepseek-official
  libs/partners/deepseek/poetry.lock
  libs/partners/deepseek/pyproject.toml
Labels: 🤖:nit, size:XS

#29584 deepseek: bump core
  libs/partners/deepseek/poetry.lock
  libs/partners/deepseek/pyproject.toml
Labels: 🤖:nit, size:XS

#29585 infra: add deepseek api key to release
  .github/workflows/_release.yml
Labels: size:XS

#29587 docs: rename to langchain-deepseek in docs
  docs/docs/integrations/chat/deepseek.ipynb
  libs/langchain/langchain/chat_models/base.py
  libs/packages.yml
  libs/partners/deepseek/README.md
  libs/partners/deepseek/langchain_deepseek/chat_models.py
Labels: 🤖:docs, size:S

#29592 partners/deepseek: release 0.1.1
  libs/partners/deepseek/pyproject.toml
Labels: size:XS, 🤖:release

#29579 docs: add nimble as a provider
  docs/docs/integrations/providers/nimble.ipynb
  docs/docs/integrations/retrievers/nimble.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29593 packages: databricks-langchain
  libs/packages.yml
Labels: 🤖:nit, size:XS

#29589 Drop duplicate inputs
  libs/core/langchain_core/tracers/langchain.py
Labels: 🤖:nit, size:M

#29591 anthropic[patch]: support citations in streaming
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: lgtm, size:M

#29606 anthropic[patch]: release 0.3.6
  libs/partners/anthropic/pyproject.toml
Labels: size:XS, 🤖:release

#29607 docs: fix builds
  libs/packages.yml
Labels: 🤖:nit, size:XS

#29363 allow passing message dicts into ChatPromptTemplate
  libs/core/langchain_core/prompts/chat.py
  libs/core/tests/unit_tests/prompts/test_chat.py
Labels: lgtm, size:M

#29597 docs: Nimble provider doc fixes
  docs/docs/integrations/providers/nimble.ipynb
  docs/docs/integrations/retrievers/nimble.ipynb
Labels: 🤖:docs, size:XS

#29620 infra: update docs for uv migration
  docs/cassettes/chat_token_usage_tracking_05f22a1d-b021-490f-8840-f628a07459f2.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_07f0c872-6b6c-4fed-a129-9b5a858505be.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_0b1523d8-127e-4314-82fa-bd97aca37f9a.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_1837c807-136a-49d8-9c33-060e58dc16d2.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_3950d88b-8bfb-4294-b75b-e6fd421e633c.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_67117f2b-ce68-4c1e-9556-2d3849f90e1b.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_9c82ff80-ec4e-4049-b019-5f0bbd7df82a.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_b04a4486-72fd-48ce-8f9e-5d281b441195.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_b39bf807-4125-4db4-bbf7-28a46afff6b4.msgpack.zlib
  docs/cassettes/chat_token_usage_tracking_c00c9158-7bb4-4279-88e6-ea70f46e6ac2.msgpack.zlib
  docs/cassettes/document_loader_web_4211b1a6-e636-415b-a556-ae01969399a7.msgpack.zlib
  docs/cassettes/document_loader_web_5eeaeb54-ea03-4634-8a79-b60c22ab2b66.msgpack.zlib
  docs/cassettes/document_loader_web_793018fd-1365-4a8a-8690-6d51dad2e1cf.msgpack.zlib
  docs/cassettes/document_loader_web_7a6bbfef-ebd5-4357-a7f5-9c989dda092d.msgpack.zlib
  docs/cassettes/document_loader_web_7faeccbc-4e56-4b88-99db-2274ed0680c1.msgpack.zlib
  docs/cassettes/qa_citations_182362b0-075a-4d45-ad05-c4f39d410624.msgpack.zlib
  docs/cassettes/qa_citations_2903c47d-aae1-4662-bc1e-ee73ff774e88.msgpack.zlib
  docs/cassettes/qa_citations_315df7b2-bf7e-4d1c-9363-be753a6d590f.msgpack.zlib
  docs/cassettes/qa_citations_3376deae-9fea-4aaa-861a-d37d9121926c.msgpack.zlib
  docs/cassettes/qa_citations_37eaab79-74cd-4806-bdbd-7340652c425a.msgpack.zlib
  docs/cassettes/qa_citations_56f4b74f-36b6-4df5-ac95-f9e856401251.msgpack.zlib
  docs/cassettes/qa_citations_688b43cc-2766-4216-a9b5-245c18eb5675.msgpack.zlib
  docs/cassettes/qa_citations_a02d494e-2ba4-4626-b982-3fac8e65d0af.msgpack.zlib
  docs/cassettes/qa_citations_aef87758-c785-4484-ba59-9a784e5e1252.msgpack.zlib
  docs/cassettes/qa_citations_daad793f-f08d-4b56-90e8-3f015a79a88e.msgpack.zlib
  docs/docs/contributing/how_to/code/setup.mdx
  libs/partners/groq/README.md
Labels: 🤖:docs, size:M

#29526 community[minor]: 04 - Refactoring PDFMiner parser
  docs/docs/integrations/document_loaders/pdfminer.ipynb
  docs/docs/integrations/document_loaders/pymupdf.ipynb
  libs/community/extended_testing_deps.txt
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/integration_tests/document_loaders/test_pdf.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_pdf_parsers.py
Labels: lgtm, Ɑ: doc loader, size:XXL, community

#29613 fixed Bug in PreFilter of AzureCosmosDBNoSqlVectorSearch
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS, community

#29391 standard-tests: Fix ToolsIntegrationTests to correctly handle "content_and_artifact" tools
  libs/standard-tests/langchain_tests/integration_tests/tools.py
  libs/standard-tests/tests/unit_tests/test_basic_tool.py
Labels: lgtm, 🤖:bug, size:M

#29242 [MistralAI] Improve MistralAIEmbeddings
  libs/partners/mistralai/langchain_mistralai/embeddings.py
Labels: Ɑ: embeddings, size:XS

#29628 add o1 and o3-mini to pricing
  libs/community/langchain_community/callbacks/openai_info.py
Labels: lgtm, size:S, community

#29627 community: add support for using GPUs with FastEmbedEmbeddings
  libs/community/langchain_community/embeddings/fastembed.py
Labels: lgtm, Ɑ: embeddings, size:S, community

#29633 community: Update deeplake.py
  libs/community/langchain_community/vectorstores/deeplake.py
Labels: lgtm, Ɑ: vector store, size:XS, community

#29631 community: fix typo in the module imported when using GPU with FastEmbedEmbeddings
  libs/community/langchain_community/embeddings/fastembed.py
Labels: lgtm, Ɑ: embeddings, size:S, community

#29635 standard-tests[patch]: use `has_structured_output` property to engage structured output tests
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: lgtm, size:M

#29642 infra: add UV_FROZEN to makefiles
  Makefile
  libs/cli/Makefile
  libs/partners/anthropic/Makefile
  libs/partners/chroma/Makefile
  libs/partners/deepseek/Makefile
  libs/partners/exa/Makefile
  libs/partners/fireworks/Makefile
  libs/partners/groq/Makefile
  libs/partners/huggingface/Makefile
  libs/partners/mistralai/Makefile
  libs/partners/nomic/Makefile
  libs/partners/ollama/Makefile
  libs/partners/openai/Makefile
  libs/partners/pinecone/Makefile
  libs/partners/prompty/Makefile
  libs/partners/qdrant/Makefile
  libs/partners/voyageai/Makefile
  libs/partners/xai/Makefile
  libs/standard-tests/Makefile
Labels: size:M

#29643 infra: remove deepseek from scheduled tests
  .github/workflows/scheduled_test.yml
Labels: lgtm, 🤖:nit, size:XS

#29645 community: improve FastEmbedEmbeddings support for ONNX execution provider (e.g. GPU)
  libs/community/langchain_community/embeddings/fastembed.py
Labels: lgtm, Ɑ: embeddings, size:S, community

#29644 core: release 0.3.34
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Labels: size:XS, 🤖:release

#29646 community: docs: Updating the imports for langchain-databricks to databricks-langchain
  docs/docs/integrations/chat/databricks.ipynb
  docs/docs/integrations/vectorstores/databricks_vector_search.ipynb
  docs/src/theme/FeatureTables.js
  libs/community/langchain_community/chat_models/databricks.py
  libs/community/langchain_community/embeddings/databricks.py
  libs/community/langchain_community/llms/databricks.py
  libs/community/langchain_community/vectorstores/databricks_vector_search.py
Labels: lgtm, size:M, community

#29648 tests: release 0.3.11
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, 🤖:release

#29651 openai[patch]: add test for message.name
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: size:S

#29652 openai: release 0.3.4
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#29653 anthropic: release 0.3.7
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: size:XS, 🤖:release

#29641 Add `similarity_search_with_score_by_vector()` function to the `QdrantVectorStore`
  libs/partners/qdrant/langchain_qdrant/qdrant.py
  libs/partners/qdrant/tests/integration_tests/qdrant_vector_store/test_search.py
Labels: lgtm, Ɑ: vector store, size:M

#29659 docs: Fix llama.cpp GPU Installation in llamacpp.ipynb (Deprecated Env Variable)
  docs/docs/integrations/llms/llamacpp.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29649 openai: Removed tool_calls from completion chunk after other chunks have already been sent.
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: size:S

#29670 infra: add UV_NO_SYNC to monorepo makefile
  Makefile
Labels: size:XS

#29669 openai[patch]: make parallel_tool_calls explicit kwarg of bind_tools
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, size:XS

#29654 langchain: release 0.3.18
  .github/workflows/_lint.yml
  .github/workflows/_release.yml
  .github/workflows/_test.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/check_diffs.yml
  libs/langchain/poetry.toml
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: size:S, 🤖:release, langchain

#29676 community: release 0.3.17
  libs/community/pyproject.toml
  libs/community/uv.lock
Labels: size:XS, 🤖:release, community

#29623 docs: use init_chat_model
  docs/docs/how_to/agent_executor.ipynb
  docs/docs/how_to/extraction_examples.ipynb
  docs/docs/how_to/extraction_long_text.ipynb
  docs/docs/how_to/function_calling.ipynb
  docs/docs/how_to/tool_calling.ipynb
  docs/docs/how_to/tool_results_pass_to_model.ipynb
  docs/docs/how_to/tool_runtime.ipynb
  docs/docs/how_to/tools_prompting.ipynb
  docs/docs/integrations/chat/index.mdx
  docs/docs/integrations/providers/falkordb.mdx
  docs/docs/tutorials/agents.ipynb
  docs/docs/tutorials/chatbot.ipynb
  docs/docs/tutorials/llm_chain.ipynb
  docs/docs/versions/migrating_memory/chat_history.ipynb
  docs/src/theme/ChatModelTabs.js
  libs/langchain/langchain/chat_models/base.py
Labels: 🤖:docs, size:L

#29390 docs: add LangFair as a provider
  docs/docs/integrations/providers/langfair.mdx
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29677 docs: showcase extras in chat model tabs
  docs/src/theme/ChatModelTabs.js
Labels: lgtm, 🤖:docs, size:S

#29065 core: Handle unterminated escape character when parsing partial JSON
  libs/core/langchain_core/utils/json.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
Labels: lgtm, 🤖:bug, size:XS, Ɑ: core

#29386 Add ipex support to HuggingFaceEmbeddings
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface.py
Labels: Ɑ: embeddings, size:M

#29561 Community/Partner: Adding Azure community and partner user agent to better track usage in Python
  libs/community/langchain_community/chat_models/azure_openai.py
  libs/community/langchain_community/embeddings/azure_openai.py
  libs/community/langchain_community/llms/openai.py
  libs/community/langchain_community/vectorstores/azuresearch.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/embeddings/azure.py
  libs/partners/openai/langchain_openai/llms/azure.py
Labels: lgtm, size:M, community

#29531 Core: Fix __add__ for concatting two BaseMessageChunk's
  libs/core/langchain_core/messages/base.py
Labels: lgtm, 🤖:bug, size:XS

#29426 core: Make abatch_as_completed respect max_concurrency
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_concurrency.py
Labels: lgtm, size:L

#29616 langchain: Use Blockbuster to detect blocking calls in asyncio during tests
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/conftest.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/langchain/uv.lock
Labels: lgtm, 🤖:nit, size:M, langchain

#29609 community: Use Blockbuster to detect blocking calls in asyncio during tests
  libs/community/langchain_community/utils/openai.py
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/conftest.py
  libs/community/tests/unit_tests/test_cache.py
  libs/community/tests/unit_tests/test_dependencies.py
  libs/community/tests/unit_tests/vectorstores/test_faiss.py
  libs/community/tests/unit_tests/vectorstores/test_inmemory.py
  libs/community/uv.lock
Labels: lgtm, size:L, community

#29625 community[minor]: 05 - Refactoring PyPDFium2 parser
  docs/docs/integrations/document_loaders/pypdfium2.ipynb
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/integration_tests/document_loaders/test_pdf.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_pdf_parsers.py
Labels: lgtm, Ɑ: doc loader, size:XXL, community

#29680 langchain: support the situation when action_input is null in json output_parser
  libs/langchain/langchain/agents/output_parsers/json.py
Labels: Ɑ: agent, lgtm, 🤖:bug, size:XS, langchain

#29682 using getattr and default value to prevent 'OpenSearchVectorSearch' has no attribute 'bulk_size'
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:S, community

#29686 [DOC] Fix #29685: HuggingFaceEndpoint missing task argument in documentation
  docs/docs/integrations/document_loaders/docling.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29706 docs: Add Comments and Supplementary Example Code to Vearch Vector Dat…
  docs/docs/integrations/vectorstores/vearch.ipynb
Labels: lgtm, 🤖:docs, size:S

#29701 Classification Tutorial: Replaced .dict() with .model_dump() method
  docs/docs/tutorials/classification.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29698 docs: Remove redundant line
  docs/docs/how_to/functions.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29697 community: Add configurable text key for indexing and the retriever in Pinecone Hybrid Search
  libs/community/langchain_community/retrievers/pinecone_hybrid_search.py
Labels: lgtm, size:XS, Ɑ: retriever, community

#29694 community:Fix for Pydantic model validator of GoogleApiYoutubeLoader
  libs/community/langchain_community/document_loaders/youtube.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS, community

#29695 docs: fixed nimble's provider page and retriever
  docs/docs/integrations/providers/nimble.ipynb
  docs/docs/integrations/retrievers/nimble.ipynb
Labels: lgtm, 🤖:docs, size:M

#29715 community: fix extended testing
  libs/community/extended_testing_deps.txt
Labels: 🤖:bug, size:XS, community

#29708 community: change wikidata rest api version from v0 to v1
  libs/community/langchain_community/utilities/wikidata.py
Labels: lgtm, size:XS, community

#29738 mongodb[patch]: fix link in readme
  libs/partners/mongodb/README.md
Labels: 🤖:nit, size:XS

#29736 docs: fix SQL-based metadata filter syntax, add link to BigQuery docs
  docs/docs/integrations/vectorstores/google_bigquery_vector_search.ipynb
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XS

#29731 openai, deepseek: make _convert_chunk_to_generation_chunk an instance method
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/deepseek/tests/integration_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, size:L

#29740 openai[patch]: release 0.3.5
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#29737 pinecone[patch]: add support for python 3.13
  .github/scripts/check_diff.py
  libs/partners/pinecone/pyproject.toml
  libs/partners/pinecone/uv.lock
Labels: size:XS

#29741 pinecone[patch]: release 0.2.3
  libs/partners/pinecone/pyproject.toml
  libs/partners/pinecone/uv.lock
Labels: size:XS, 🤖:release

#29742 deepseek[patch]: release 0.1.2
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
Labels: size:XS, 🤖:release

#29723 Oraclevs integration
  libs/community/langchain_community/vectorstores/oraclevs.py
Labels: lgtm, Ɑ: vector store, size:L, community

#29688 feat: add support for IBM WatsonX AI chat models
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, size:XS, langchain

#29361 (Community): Adding Structured Support for ChatPerplexity
  libs/community/langchain_community/chat_models/perplexity.py
Labels: lgtm, size:L, community

#29743 feat(langchain): Infer o3 modelstrings passed to init_chat_model as OpenAI
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, size:XS, langchain

#29764 core[patch]: release 0.3.35
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release, Ɑ: core

#29739 community: add langchain-abso documentation
  docs/docs/integrations/chat/abso.ipynb
  docs/docs/integrations/providers/abso.md
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L, community

#29746 Deprecate langhchain community ucfunctiontoolkit in favor for databricks_langchain
  docs/docs/integrations/tools/databricks.ipynb
  libs/community/langchain_community/tools/databricks/tool.py
Labels: lgtm, size:M, community

#29762 docs: update sambanova integration api reference links
  docs/docs/integrations/chat/sambanova.ipynb
  docs/docs/integrations/chat/sambastudio.ipynb
  docs/docs/integrations/providers/sambanova.ipynb
  docs/docs/integrations/text_embedding/sambanova.ipynb
Labels: lgtm, 🤖:docs, size:M

#29761 Fix #29759: Use local chunk_size_ for looping in embed_documents
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/tests/unit_tests/embeddings/test_base.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:S

#29745 Deprecating sql_database access for creating UC functions for agent tools
  cookbook/README.md
  cookbook/databricks_sql_db.ipynb
  docs/docs/integrations/providers/databricks.md
  libs/community/langchain_community/utilities/sql_database.py
Labels: lgtm, size:L, community

#29744 docs: contributed `Graph RAG` Retriever integration
  docs/docs/integrations/providers/graph_rag.mdx
  docs/docs/integrations/retrievers/graph_rag.mdx
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L, Ɑ: retriever

#29769 chroma[patch]: release 0.2.2
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Labels: size:XS, 🤖:release

#29553 docs: update apify integration
  docs/docs/integrations/document_loaders/apify_dataset.ipynb
  docs/docs/integrations/providers/apify.mdx
  docs/docs/integrations/tools/apify_actors.ipynb
  docs/static/img/ApifyActors.png
  libs/community/langchain_community/document_loaders/apify_dataset.py
  libs/community/langchain_community/utilities/apify.py
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29771 docs: minor fix to provider table
  libs/packages.yml
Labels: 🤖:nit, size:XS

#29622 (Community): Added API Key for Jina Search API Wrapper
  docs/docs/integrations/tools/jina_search.ipynb
  libs/community/langchain_community/tools/jina_search/tool.py
  libs/community/langchain_community/utilities/jina_search.py
  libs/community/tests/unit_tests/tools/jina_search/__init__.py
  libs/community/tests/unit_tests/tools/jina_search/test_jina_search.py
Labels: lgtm, size:M, community

#29781 core : update the class docs of InMemoryVectorStore in in_memory.py
  libs/core/langchain_core/vectorstores/in_memory.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:S

#29774 docs: Added IBM to ChatModelTabs and EmbeddingTabs
  docs/src/theme/ChatModelTabs.js
  docs/src/theme/EmbeddingTabs.js
Labels: lgtm, 🤖:docs, size:S

#29784 docs: Fix `model_id` on EmbeddingTabs page
  docs/src/theme/EmbeddingTabs.js
Labels: lgtm, 🤖:docs, size:XS

#29789 packages: update counts, add command
  Makefile
  docs/scripts/packages_yml_get_downloads.py
  libs/packages.yml
Labels: lgtm, size:L

#29790 multiple: fix uv path deps
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/community/pyproject.toml
  libs/community/uv.lock
  libs/core/uv.lock
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
  libs/partners/exa/pyproject.toml
  libs/partners/exa/uv.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/pinecone/pyproject.toml
  libs/partners/pinecone/uv.lock
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/uv.lock
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/uv.lock
  libs/partners/voyageai/pyproject.toml
  libs/partners/voyageai/uv.lock
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
  pyproject.toml
  uv.lock
Labels: lgtm, 🤖:nit, size:L, community

#29793 tests[patch]: fix query for test_tool_calling_with_no_arguments
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: 🤖:nit, size:XS

#29794 groq[patch]: remove xfails
  libs/partners/groq/tests/integration_tests/test_chat_models.py
  libs/partners/groq/tests/integration_tests/test_standard.py
Labels: 🤖:nit, size:M

#29797 tests[patch]: release 0.3.12
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, 🤖:release

#29806 all: Bump blockbuster version to 1.5.18
  libs/community/pyproject.toml
  libs/community/uv.lock
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: lgtm, size:XS

#29823 openai[patch]: enable streaming for o1
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: 🤖:nit, size:S

#29824 openai[patch]: release 0.3.6
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#29826 docs: updates Chroma integration API ref docs
  libs/partners/chroma/langchain_chroma/vectorstores.py
Labels: lgtm, 🤖:docs, size:XS

#29816 langchain_community: add image support to DuckDuckGoSearchAPIWrapper
  libs/community/langchain_community/utilities/duckduckgo_search.py
Labels: lgtm, size:M, community

#29814 docs: Update SagemakerEndpoint examples
  docs/docs/integrations/llms/sagemaker.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29820 langchain : Add the full code snippet in rag.ipynb
  docs/docs/tutorials/rag.ipynb
Labels: lgtm, 🤖:docs, size:L

#29810 fix: Correct getpass usage in Google Generative AI Embedding docs (#29809)
  docs/docs/integrations/text_embedding/google_generative_ai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29822 docs: add Discord integration docs
  docs/docs/integrations/providers/discord-shikenso.mdx
  docs/docs/integrations/providers/discord.mdx
  docs/docs/integrations/tools/discord.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29805 community: Adding IN Operator to AzureCosmosDBNoSQLVectorStore
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Labels: lgtm, Ɑ: vector store, size:XS, community

#29802 docs: Rename IBM product name to `IBM watsonx`
  docs/src/theme/ChatModelTabs.js
  docs/src/theme/EmbeddingTabs.js
Labels: lgtm, 🤖:docs, size:XS

#29821 community: add top_k as param to Needle Retriever
  libs/community/langchain_community/retrievers/needle.py
  libs/community/tests/unit_tests/retrievers/test_needle.py
Labels: lgtm, size:S, Ɑ: retriever, community

#29800 docs: add notebook for langchain-salesforce package
  docs/docs/integrations/providers/salesforce.mdx
  docs/docs/integrations/tools/salesforce.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29831 community: add custom model for OpenAIWhisperParser
  libs/community/langchain_community/document_loaders/parsers/audio.py
Labels: lgtm, size:XS, community

#29757 weaviate: Add-deprecation-warning
  libs/community/langchain_community/retrievers/weaviate_hybrid_search.py
  libs/community/langchain_community/vectorstores/weaviate.py
Labels: lgtm, Ɑ: vector store, size:S, community

#29841 docs: Update gemini vector docs
  docs/docs/integrations/text_embedding/google_generative_ai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29849 langchain[patch]: init_chat_model xai support
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, Ɑ: models, size:M, langchain

#29850 langchain[patch]: add xai to extras
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: lgtm, 🤖:nit, size:XS, langchain

#29851 langchain[patch]: release 0.3.19
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: size:XS, 🤖:release, langchain

#29852 infra: add xai to scheduled testing
  .github/workflows/scheduled_test.yml
  libs/partners/xai/tests/integration_tests/test_chat_models_standard.py
Labels: size:S

#29853 xai[patch]: support dedicated structured output feature
  libs/partners/xai/langchain_xai/chat_models.py
Labels: size:XS

#29854 xai[patch]: release 0.2.1
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Labels: size:XS, 🤖:release

#29812 core[patch]: allow passing JSON schema as args_schema to tools
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/simple.py
  libs/core/langchain_core/tools/structured.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: lgtm, size:L, langchain

#29869 core: release 0.3.36
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#29871 docs: fix partner package table build for packages with no download stats
  docs/scripts/partner_pkg_table.py
Labels: 🤖:docs, size:XS

#29078 core: basemessage.text()
  libs/cli/langchain_cli/integration_template/integration_template/chat_models.py
  libs/core/langchain_core/messages/base.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/deepseek/langchain_deepseek/chat_models.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/xai/langchain_xai/chat_models.py
Labels: lgtm, size:M, Ɑ: core

#29889 pinecone: delete from monorepo
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  libs/partners/pinecone/LICENSE
  libs/partners/pinecone/Makefile
  libs/partners/pinecone/README.md
  libs/partners/pinecone/langchain_pinecone/__init__.py
  libs/partners/pinecone/langchain_pinecone/_utilities.py
  libs/partners/pinecone/langchain_pinecone/embeddings.py
  libs/partners/pinecone/langchain_pinecone/py.typed
  libs/partners/pinecone/langchain_pinecone/vectorstores.py
  libs/partners/pinecone/pyproject.toml
  libs/partners/pinecone/scripts/check_imports.py
  libs/partners/pinecone/scripts/lint_imports.sh
  libs/partners/pinecone/tests/__init__.py
  libs/partners/pinecone/tests/integration_tests/__init__.py
  libs/partners/pinecone/tests/integration_tests/test_compile.py
  libs/partners/pinecone/tests/integration_tests/test_embeddings.py
  libs/partners/pinecone/tests/integration_tests/test_vectorstores.py
  libs/partners/pinecone/tests/unit_tests/__init__.py
  libs/partners/pinecone/tests/unit_tests/test_embeddings.py
  libs/partners/pinecone/tests/unit_tests/test_imports.py
  libs/partners/pinecone/tests/unit_tests/test_vectorstores.py
  libs/partners/pinecone/uv.lock
Labels: Ɑ: vector store, size:XXL

#29890 docs: fix builds
  .pre-commit-config.yaml
  libs/packages.yml
Labels: 🤖:nit, size:S

#29796 infra: run docs build on packages.yml updates
  docs/ignore-step.sh
Labels: lgtm, 🤖:nit, size:XS

#29891 core[patch]: de-beta rate limiters
  libs/core/langchain_core/rate_limiters.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core

#29895 core[patch]: release 0.3.37
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release, Ɑ: core

#29896 community[patch]: release 0.3.18
  libs/community/pyproject.toml
  libs/community/uv.lock
Labels: size:XS, 🤖:release, community

#29882 community: ConfluenceLoader: add a filter method for attachments
  libs/community/langchain_community/document_loaders/confluence.py
Labels: lgtm, Ɑ: doc loader, size:S, community

#29894 core[patch]: set version="v2" as default in astream_events
  docs/docs/concepts/streaming.mdx
  docs/docs/how_to/chat_streaming.ipynb
  docs/docs/how_to/streaming.ipynb
  docs/docs/how_to/tool_stream_events.ipynb
  docs/docs/tutorials/agents.ipynb
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, 🤖:nit, size:XL

#29897 openai: Update reasoning_effort arg documentation
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:docs, size:XS

#29879 Partner: Azure AI Langchain Docs and Package Registry
  docs/docs/integrations/chat/azure_ai.ipynb
  docs/docs/integrations/providers/azure_ai.mdx
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29788 docs: Add langchain-prolog documentation
  docs/docs/integrations/providers/prolog.md
  docs/docs/integrations/tools/prolog_tool.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29877 Handled a bug around empty query results differently
  libs/community/langchain_community/vectorstores/kinetica.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:S, community

#29905 Update retrieval.mdx
  docs/docs/concepts/retrieval.mdx
Labels: lgtm, 🤖:docs, size:XS

#29878 community: add cognee retriever
  docs/docs/integrations/providers/cognee.mdx
  docs/docs/integrations/retrievers/cognee.ipynb
  libs/packages.yml
Labels: lgtm, size:L, Ɑ: retriever, community

#29906 mistralai[patch]: release 0.2.7
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Labels: size:XS, 🤖:release

#29855 core: add sambanova chat models to load module mapping
  libs/community/tests/unit_tests/load/test_serializable.py
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/load/mapping.py
Labels: lgtm, 🤖:nit, size:S

#29902 Separate deepale vector store
  cookbook/code-analysis-deeplake.ipynb
  docs/docs/integrations/providers/deeplake.mdx
  docs/docs/integrations/vectorstores/activeloop_deeplake.ipynb
  libs/community/langchain_community/vectorstores/deeplake.py
  libs/packages.yml
Labels: lgtm, Ɑ: vector store, size:XL, community

#29840 Community: RankLLMRerank AttributeError (Handle list-based rerank results)
  docs/docs/integrations/document_transformers/rankllm-reranker.ipynb
  libs/community/langchain_community/document_compressors/rankllm_rerank.py
Labels: lgtm, 🤖:bug, size:L, community

#29838 mistral[patch]: support model_kwargs
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/mistralai/tests/unit_tests/test_chat_models.py
Labels: lgtm, size:S

#29908 docs: build mongo in api ref
  libs/packages.yml
Labels: lgtm, size:XS

#29917 docs: remove redundant cell in sql_large_db guide
  docs/docs/how_to/sql_large_db.ipynb
Labels: lgtm, 🤖:docs, size:M
