Repository langchain-ai/langchain, pull requests merged in 2025-06, with the labels that each got.

#31452 infra: remove use of --vcr-record=none
  libs/partners/anthropic/Makefile
  libs/partners/openai/Makefile
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: 🤖:nit, size:S

#31449 docs: fix typo in local_llms.ipynb
  docs/docs/how_to/local_llms.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31465 docs: fix grammar issues in airbyte_shopify.ipynb and airbyte_stripe.ipynb
  docs/docs/integrations/document_loaders/airbyte_shopify.ipynb
  docs/docs/integrations/document_loaders/airbyte_stripe.ipynb
Labels: 🤖:docs, size:XS

#31464 docs: fix grammar issues in airbyte_json.ipynb and airbyte_salesforce.ipynb
  docs/docs/integrations/document_loaders/airbyte_json.ipynb
  docs/docs/integrations/document_loaders/airbyte_salesforce.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31463 docs: fix grammar issues in airbyte_gong.ipynb and airbyte_hubspot.ipynb
  docs/docs/integrations/document_loaders/airbyte_gong.ipynb
  docs/docs/integrations/document_loaders/airbyte_hubspot.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31462 docs: fix grammar issues in wechat.ipynb and airbyte_cdk.ipynb
  docs/docs/integrations/chat_loaders/wechat.ipynb
  docs/docs/integrations/document_loaders/airbyte_cdk.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31466 openai: release 0.3.19
  libs/partners/openai/pyproject.toml
Labels: size:XS, 🤖:release

#31395 docs: Document Loader for the Outline collaborative knowledge base
  docs/docs/integrations/document_loaders/outline.ipynb
Labels: 🤖:docs, size:L

#31431 fix: module 'defusedxml' has no attribute 'ElementTree' (#31429)
  libs/core/langchain_core/output_parsers/xml.py
Labels: 🤖:bug, size:XS

#31286 core: Add mypy strict-equality rule
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/prompts/test_structured.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_iter.py
  libs/langchain/tests/unit_tests/llms/test_fake_chat_model.py
Labels: lgtm, 🤖:nit, size:M

#31472 docs: Update Milvus feature table
  docs/src/theme/FeatureTables.js
Labels: lgtm, 🤖:docs, size:XS

#31467 Docs: Updating Microsoft Provider Documentation to Include Azure AI
  docs/docs/integrations/providers/microsoft.mdx
Labels: lgtm, 🤖:docs, size:M

#31488 Docs: Amazon Textract Page - removing a redundancy and fixing a title
  docs/docs/integrations/document_loaders/amazon_textract.ipynb
Labels: lgtm, 🤖:nit, size:XS, langchain

#31476 docs: fix grammar issues in airbyte_typeform.ipynb and airbyte_zendes…
  docs/docs/integrations/document_loaders/airbyte_typeform.ipynb
  docs/docs/integrations/document_loaders/airbyte_zendesk_support.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31492 Revert "docs: replace deprecated `initialize_agent` with `create_react_agent` and non-deprecated functions"
  docs/docs/integrations/providers/google_serper.mdx
  docs/docs/integrations/providers/searchapi.mdx
  docs/docs/integrations/tools/chatgpt_plugins.ipynb
  docs/docs/integrations/tools/nasa.ipynb
Labels: 🤖:docs, size:M

#31181 [tools]: Correct type casting of annotations in _infer_arg_descriptions
  libs/core/langchain_core/tools/base.py
  libs/core/tests/unit_tests/test_tools.py
Labels: 🤖:bug, size:M, langchain

#31502 openai[patch]: clarify docs on api_version in docstring for AzureChatOpenAI
  libs/partners/openai/langchain_openai/chat_models/azure.py
Labels: 🤖:docs, size:XS

#31504 infra: relax types-requests version range
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/uv.lock
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Labels: size:XS

#31500 core: use run tree post/patch
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/document_loaders/test_langsmith.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
  libs/core/uv.lock
Labels: lgtm, size:M

#31509 fix: typo in SECURITY.md (practicies -> practices)
  SECURITY.md
Labels: lgtm, 🤖:docs, size:XS

#31515 openai: release 0.3.20
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#31516 standard-tests: add cache_control to Anthropic inputs test
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: 🤖:nit, size:S

#31518 openai[patch]: pass through with_structured_output kwargs
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, size:M

#31524 openai[patch]: VCR some tests
  libs/partners/openai/tests/cassettes/test_code_interpreter.yaml.gz
  libs/partners/openai/tests/cassettes/test_mcp_builtin.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: size:S

#31522 openai[patch]: accommodate change in image generation API
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_image_generation_streaming.yaml.gz
Labels: lgtm, size:S

#31537 docs: fix grammar in retrievers.mdx ("be built" → "build")
  docs/docs/concepts/retrievers.mdx
Labels: lgtm, 🤖:docs, size:XS

#31526 docs: Update Multi_modal_RAG_google.ipynb to remove the unsupported Gemini models
  cookbook/Multi_modal_RAG_google.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31555 core(fix): revert `set_text` optimization
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/langchain_core/outputs/generation.py
  libs/core/tests/unit_tests/load/test_serializable.py
Labels: lgtm, 🤖:bug, size:M

#31554 docs: Updated text embedding model for IBM provider
  docs/docs/integrations/text_embedding/ibm_watsonx.ipynb
Labels: lgtm, Ɑ: embeddings, 🤖:docs, size:S

#31553 docs: Update MongoDB feature status
  docs/scripts/vectorstore_feat_table.py
Labels: lgtm, 🤖:docs, size:XS

#31548 docs: update graph_rag.mdx
  docs/docs/integrations/retrievers/graph_rag.mdx
Labels: lgtm, 🤖:docs, size:XS

#31527 doc:Updating doc with consistent bullet format.
  docs/docs/concepts/structured_outputs.mdx
Labels: lgtm, 🤖:docs, size:S

#31558 huggingface[patch]: add optional dependencies to test dependency group
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
Labels: 🤖:nit, size:XS

#31590 incident banner
  docs/docusaurus.config.js
Labels: 🤖:docs, size:XS, langchain

#31592 revert incident banner
  docs/docusaurus.config.js
Labels: 🤖:nit, size:XS

#31597 openai[patch]: handle annotation change in openai==1.82.0
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/uv.lock
Labels: 🤖:nit, size:S

#31594 bump langsmith to allow 0.4
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: lgtm, 🤖:nit, size:XS, langchain

#31293 docs: Integration with Nebius AI Studio
  docs/docs/integrations/chat/nebius.ipynb
  docs/docs/integrations/providers/nebius.mdx
  docs/docs/integrations/retrievers/nebius.ipynb
  docs/docs/integrations/text_embedding/nebius.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XXL

#31612 docs: Fix Typos in Vectorstore Integration Documentation Notebooks
  docs/docs/integrations/vectorstores/llm_rails.ipynb
  docs/docs/integrations/vectorstores/redis.ipynb
Labels: lgtm, 🤖:docs, size:XS

#31588 text-splitters: Add keep_separator arg to HTMLSemanticPreservingSplitter
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, size:L, Ɑ: text splitters

#31615 docs: update deprecated .schema() to .model_json_schema() in tool_run…
  docs/docs/how_to/tool_runtime.ipynb
Labels: lgtm, 🤖:docs, size:S

#31621 docs(rockset): add deprecation notice for Rockset integration
  docs/docs/integrations/document_loaders/rockset.ipynb
Labels: lgtm, 🤖:docs, size:S

#31626 chore: Bump langsmith in splitter uv
  libs/text-splitters/uv.lock
Labels: lgtm, size:XS

#31616 mistralai[patch]: Fix Typos in Comments and Improve Compatibility Note
  libs/partners/mistralai/langchain_mistralai/chat_models.py
Labels: lgtm, 🤖:nit, size:XS

#31636 [Doc] Improve api doc for perplexity
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/uv.lock
Labels: lgtm, 🤖:docs, size:XS

#31642 openai: release 0.3.24
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#31654 docs: upgrade langfuse example to python sdk v3
  docs/docs/integrations/providers/langfuse.mdx
Labels: lgtm, 🤖:docs, size:M

#31661 openai[patch]: include 'type' key internally when streaming reasoning blocks
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: size:XS

#31663 docs: use langchain-tavily
  docs/cassettes/chatbots_tools_10.msgpack.zlib
  docs/cassettes/chatbots_tools_12.msgpack.zlib
  docs/cassettes/chatbots_tools_14.msgpack.zlib
  docs/cassettes/chatbots_tools_17.msgpack.zlib
  docs/cassettes/chatbots_tools_19.msgpack.zlib
  docs/cassettes/debugging_2.msgpack.zlib
  docs/cassettes/debugging_6.msgpack.zlib
  docs/cassettes/debugging_8.msgpack.zlib
  docs/docs/how_to/chatbots_tools.ipynb
  docs/docs/how_to/debugging.ipynb
  docs/docs/versions/migrating_memory/long_term_memory_agent.ipynb
Labels: 🤖:docs, size:L

#31684 core[patch]: Add doc-strings to tools/base.py
  libs/core/langchain_core/tools/base.py
Labels: 🤖:docs, size:L

#31528 core[patch]: Returning always 2D Array for _cosine_similarity
  libs/core/langchain_core/vectorstores/utils.py
  libs/core/tests/unit_tests/vectorstores/test_utils.py
Labels: lgtm, Ɑ: vector store, size:L

#31622 text-splitters: fix stale header metadata in ExperimentalMarkdownSyntaxTextSplitter
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, 🤖:bug, size:M, Ɑ: text splitters

#31618 [Docs] Update deprecated Pydantic .schema() method to .model_json_schema() in How to convert Runnables to Tools guide
  docs/docs/how_to/convert_runnable_to_tool.ipynb
Labels: lgtm, 🤖:docs, size:S

#31693 infra: temporarily drop OpenAI from core release test matrix
  .github/workflows/_release.yml
Labels: 🤖:nit, size:XS

#31694 Revert "infra: temporarily drop OpenAI from core release test matrix"
  .github/workflows/_release.yml
Labels: size:XS

#31695 langchain: release 0.3.26
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: size:XS, 🤖:release, langchain

#31600 core: fix `get_buffer_string` output for structured message content
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: lgtm, 🤖:bug, size:M, langchain

#31583 langchain[patch]: smith.evaluation.progress.ProgressBarCallback: Make output after progress bar ends configurable
  libs/langchain/langchain/smith/evaluation/progress.py
Labels: lgtm, 🤖:nit, size:XS, langchain

#31619 openai[patch]: Improve error message when response type is malformed
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:bug, size:S, langchain

#31698 openai[patch]: fix client caching when request_timeout is specified via httpx.Timeout
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:bug, size:M

#31702 openai: release 0.3.25
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#31689 docs: add tool_calls attribute link in tool calling documentation and indicate output is a list in code example
  docs/docs/concepts/tool_calling.mdx
Labels: lgtm, 🤖:docs, size:XS

#31692 docs: Add section on tool choice
  docs/docs/concepts/tool_calling.mdx
  docs/docs/how_to/tool_choice.ipynb
Labels: lgtm, 🤖:docs, size:S

#31662 groq: add support for accessing reasoning output from Groq models
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/integration_tests/test_chat_models.py
Labels: lgtm, size:M

#31639 core: Improve `RunnableWithMessageHistory` init arg types
  libs/core/langchain_core/runnables/history.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
Labels: lgtm, 🤖:nit, size:S, Ɑ: core

#31707 groq: release 0.3.3
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Labels: size:XS, 🤖:release

#31710 docs: updated ChatGroq docs and example
  docs/docs/integrations/chat/groq.ipynb
  libs/partners/groq/langchain_groq/chat_models.py
Labels: 🤖:docs, size:M

#31580 openai[patch]: fix dropping response headers while streaming / Azure
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:bug, size:XS

#31513 core: Use parametrized test in test_correct_get_tracer_project
  libs/core/tests/unit_tests/tracers/test_langchain.py
Labels: lgtm, 🤖:nit, size:L

#31364 Update and simplify Oracle Database example cookbook
  cookbook/oracleai_demo.ipynb
Labels: lgtm, 🤖:docs, size:L

#31703 standard-tests: refactoring and fixes
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/utils/function_calling.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: lgtm, 🤖:nit, size:XXL

#31728 docs: fix typo in globals.py
  libs/langchain/langchain/globals.py
Labels: 🤖:nit, size:XS, langchain

#31727 docs: fix typo in timescalevector.ipynb
  docs/docs/integrations/vectorstores/timescalevector.ipynb
Labels: 🤖:docs, size:XS

#31731 docs: fix typos in tool_feat_table.py
  docs/scripts/tool_feat_table.py
Labels: 🤖:nit, size:XS, langchain

#31732 docs: fix typo in clarifai.ipynb
  docs/docs/integrations/llms/clarifai.ipynb
Labels: 🤖:docs, size:XS

#31734 openai[patch]: add attribute to always use previous_response_id
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: size:L

#31735 openai[patch]: fix bug where function call IDs were not populated
  libs/partners/openai/langchain_openai/chat_models/_compat.py
Labels: 🤖:bug, size:XS

#31737 docs: update sort order for integrations table
  libs/packages.yml
Labels: size:L

#31740 docs: remove trailing backticks
  docs/docs/integrations/providers/mongodb_atlas.mdx
Labels: 🤖:docs, size:XS

#31686 openai[patch]: allow specification of output format for Responses API
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/langchain_openai/chat_models/_compat.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/cassettes/test_mcp_builtin_zdr.yaml.gz
  libs/partners/openai/tests/cassettes/test_reasoning.yaml.gz
  libs/partners/openai/tests/cassettes/test_stream_reasoning_summary.yaml.gz
  libs/partners/openai/tests/cassettes/test_web_search.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_responses_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_responses_stream.py
  libs/partners/xai/tests/unit_tests/__snapshots__/test_chat_models_standard.ambr
Labels: size:L

#31752 openai[patch]: update cassette
  libs/partners/openai/tests/cassettes/test_code_interpreter.yaml.gz
Labels: 🤖:nit, size:XS

#31755 docs: Remove giscus comments
  docs/package.json
  docs/src/theme/DocItem/Paginator/index.js
  docs/yarn.lock
Labels: size:S

#31008 IBM DB2 vector store documentation addition
  docs/docs/integrations/providers/ibm.mdx
  docs/docs/integrations/vectorstores/db2.ipynb
  libs/packages.yml
Labels: Ɑ: vector store, 🤖:docs, size:L

#31787 core: expose tool message recognized block types
  libs/core/langchain_core/tools/base.py
Labels: 🤖:nit, size:XS, langchain

#31793 langchain-exa: add ruff bandit rules
  libs/partners/exa/pyproject.toml
Labels: 🤖:nit, size:XS

#31789 langchain-anthropic[patch]: Add ruff bandit rules
  libs/partners/anthropic/langchain_anthropic/_client_utils.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: lgtm, size:S, 🤖:security

#31788 langchain-openai[patch]: Add ruff bandit rules to linter
  libs/partners/openai/langchain_openai/chat_models/_client_utils.py
  libs/partners/openai/langchain_openai/llms/base.py
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/unit_tests/test_secrets.py
Labels: lgtm, size:M, 🤖:security

#31786 docs: Update vectorstores feature matrix for Qdrant
  docs/src/theme/FeatureTables.js
Labels: lgtm, 🤖:docs, size:XS

#31795 docs: Add forum link to footer
  docs/docusaurus.config.js
Labels: 🤖:docs, size:XS
