Repository langchain-ai/langchain, pull requests merged in 2025-10, with the labels that each got.

#33187 fix(mistralai): handle HTTP errors in async embed documents
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/tests/integration_tests/test_embeddings.py
Labels: integration

#33188 fix(openai): bump min core version
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: integration, dependencies, fix

#33189 fix(openai): fix tests on v1 branch
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_standard.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: integration, standard-tests, fix

#33166 chore(langchain_v1): use list[str] for modifyModelRequest
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Labels: langchain, infra, v1

#33175 feat(langchain_v1): add `async` support for `create_agent`
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/langchain/agents/middleware/planning.py
  libs/langchain_v1/langchain/agents/middleware/prompt_caching.py
  libs/langchain_v1/langchain/agents/middleware/summarization.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Labels: langchain, infra, v1, feature

#32987 feat(core): genai standard content
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/block_translators/__init__.py
  libs/core/langchain_core/messages/block_translators/google_genai.py
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/langchain/uv.lock
  libs/langchain_v1/uv.lock
  libs/text-splitters/uv.lock
Labels: core, langchain, dependencies, v1, feature

#33179 feat(langchain): use decorators for jumps instead
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_decorators.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/uv.lock
Labels: langchain, v1, feature

#32328 feat(ollama): add basic auth support
  libs/partners/ollama/langchain_ollama/_utils.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/langchain_ollama/embeddings.py
  libs/partners/ollama/langchain_ollama/llms.py
  libs/partners/ollama/tests/unit_tests/test_auth.py
  libs/partners/ollama/uv.lock
Labels: security, integration, feature

#33199 refactor(ollama): simplify options handling
  libs/partners/ollama/langchain_ollama/chat_models.py
Labels: integration, dependencies, refactor

#33201 release(core): 1.0.0a6
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: core, release, dependencies

#33202 feat(ollama): standard content
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/block_translators/__init__.py
  libs/core/langchain_core/messages/block_translators/ollama.py
  libs/core/langchain_core/messages/content.py
  libs/core/langchain_core/runnables/base.py
  libs/partners/ollama/README.md
  libs/partners/ollama/langchain_ollama/_compat.py
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models.py
  libs/partners/ollama/tests/integration_tests/chat_models/test_chat_models_reasoning.py
  libs/partners/ollama/uv.lock
Labels: documentation, integration, core, dependencies, feature

#33207 feat(langchain_v1): update messages namespace
  libs/langchain_v1/langchain/messages/__init__.py
Labels: langchain, v1, feature

#33210 release(ollama): 0.3.10
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Labels: integration, release, dependencies

#33211 docs(openai): use text property instead of method
  docs/docs/integrations/chat/openai.ipynb
Labels: documentation

#33213 chore(infra): add `text-splitters` labeling
  .github/pr-file-labeler.yml
Labels: infra

#33215 style(infra): update release guidelines for IDE autogen
  .github/workflows/pr_lint.yml
Labels: linting, infra, github_actions

#33222 fix(infra): `_release.yml` permissions
  .github/workflows/_release.yml
Labels: infra, github_actions

#33226 release(cli): 1.0.0a1
  libs/cli/pyproject.toml
  libs/cli/uv.lock
Labels: release, dependencies, cli

#33228 release(deepseek): 1.0.0a1
  libs/partners/deepseek/pyproject.toml
  libs/partners/deepseek/uv.lock
Labels: integration, release, dependencies

#33229 release(exa): 1.0.0a1
  libs/partners/exa/pyproject.toml
  libs/partners/exa/uv.lock
Labels: integration, release, dependencies

#33232 release(mistralai): 1.0.0a1
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/langchain_mistralai/embeddings.py
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
Labels: integration, release, dependencies

#33227 release(chroma): 1.0.0a1
  libs/partners/chroma/langchain_chroma/vectorstores.py
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Labels: integration, dependencies

#33233 release(nomic): 1.0.0a1
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
Labels: integration, release, dependencies

#33235 release(prompty): 1.0.0a1
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/uv.lock
Labels: integration, release, dependencies

#33238 chore: add `libs/` note
  .github/scripts/check_diff.py
  libs/README.md
Labels: documentation, infra

#33239 docs: work for freeze
  docs/README.md
  docs/docusaurus.config.js
  docs/ignore-step.sh
  docs/vercel.json
Labels: documentation

#33241 ci: add workflow for manually building API ref for v0.3
  .github/workflows/api_doc_build.yml
Labels: infra, github_actions

#33243 chore(langchain): uncomment some optional deps
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: langchain, infra, dependencies

#33242 feat(core): add optional include_id param to convert_to_openai_messages function
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: core, feature

#33178 feat(langchain): model call limits
  libs/langchain_v1/langchain/agents/middleware/call_tracking.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: langchain, v1, feature

#33248 feat(core): add optional include_id param to convert_to_openai_messages function
  libs/core/langchain_core/messages/utils.py
  libs/core/tests/unit_tests/messages/test_utils.py
Labels: core, feature

#33253 release(core): 0.3.78
  .github/workflows/_release.yml
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: core, infra, release, dependencies, github_actions

#33257 fix(anthropic,openai): fix tests
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_llms.py
  libs/partners/openai/tests/cassettes/test_mcp_builtin_zdr.yaml.gz
  libs/partners/openai/tests/integration_tests/chat_models/test_azure.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/llms/test_azure.py
Labels: integration, fix

#33195 feat(langchain_v1): description generator for HITL middleware
  libs/langchain_v1/langchain/agents/middleware/human_in_the_loop.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: langchain, v1, feature

#33270 chore(langchain_v1): change modifyModelRequest back to tools
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Labels: langchain, infra, v1

#33269 feat(langchain_v1): Add ToolCallLimitMiddleware
  .claude/settings.local.json
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/tool_call_limit.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_call_limit.py
Labels: langchain, v1, feature

#33062 chore(langchain_v1): remove union return type in init_embeddings
  libs/langchain_v1/langchain/embeddings/base.py
Labels: langchain, infra, v1

#33273 fix(langchain_v1): dynamic response format
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/langchain/agents/structured_output.py
Labels: langchain, v1, fix

#33271 feat(langchain_v1): Implement PIIMiddleware
  .claude/settings.local.json
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/pii.py
  libs/langchain_v1/tests/unit_tests/agents/test_pii_middleware.py
Labels: langchain, v1, feature

#33272 feat(langchain_v1): add llm selection middleware
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_llm_tool_selection.py
Labels: langchain, v1, feature

#33278 fix(langchain_v1): linting fixes for llm tool selector
  libs/langchain_v1/langchain/agents/middleware/tool_selection.py
Labels: langchain, v1, fix

#33275 feat(langchain_v1): Add retry_model_request middleware hook, add ModelFallbackMiddleware
  .claude/settings.local.json
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: langchain, v1, feature

#33283 feat(langchain_v1): improving tracing
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/agents/middleware_agent.py
Labels: langchain, v1, feature

#33285 chore(core): docstring nits
  libs/core/langchain_core/_api/__init__.py
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/utils/utils.py
  libs/langchain/langchain_classic/_api/__init__.py
  libs/langchain/langchain_classic/chains/llm_summarization_checker/__init__.py
Labels: core, langchain, infra

#33205 feat(openai): enable stream_usage when using default base URL and client
  libs/langchain/tests/unit_tests/chat_models/test_base.py
  libs/langchain_v1/tests/unit_tests/chat_models/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_responses_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_azure.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: integration, langchain, v1, feature

#33295 chore(openai): (v1) fix sort order of mcp call keys
  libs/partners/openai/langchain_openai/chat_models/_compat.py
Labels: integration

#33298 fix(openai): disable stream_usage in chat completions if OPENAI_BASE_URL is set
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: integration, fix

#33299 release(openai): 0.3.35
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: integration, release, dependencies

#33297 chore(langchain_v1): remove text splitters from langchain v1 namespace
  libs/langchain_v1/langchain/text_splitter.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/tests/unit_tests/test_dependencies.py
  libs/langchain_v1/uv.lock
Labels: langchain, infra, dependencies, v1

#33302 feat(langchain_v1): simplify to use ONE agent
  .claude/settings.local.json
  libs/langchain_v1/langchain/agents/__init__.py
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/model_call_limit.py
  libs/langchain_v1/langchain/agents/react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_react_agent_graph.ambr
  libs/langchain_v1/tests/unit_tests/agents/model.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_decorators.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
  libs/langchain_v1/tests/unit_tests/agents/test_pii_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent.py
  libs/langchain_v1/tests/unit_tests/agents/test_react_agent_graph.py
  libs/langchain_v1/tests/unit_tests/agents/test_response_format.py
  libs/langchain_v1/tests/unit_tests/agents/test_tool_call_limit.py
Labels: langchain, v1, feature

#33306 chore(langchain_v1): remove support for `ToolNode` in `create_agent`
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_tools.py
Labels: langchain, infra, v1

#33307 release(langchain_v1): 1.0.0a11
  libs/langchain_v1/langchain/__init__.py
  libs/langchain_v1/pyproject.toml
  libs/langchain_v1/uv.lock
Labels: langchain, dependencies, v1

#33308 fix(core,openai,anthropic): delegate to core implementation on invoke when streaming=True
  libs/core/langchain_core/language_models/chat_models.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: integration, core

#33313 fix(infra): pr-title-labeler
  .github/workflows/_compile_integration_test.yml
  .github/workflows/_lint.yml
  .github/workflows/_test.yml
  .github/workflows/_test_pydantic.yml
  .github/workflows/check_core_versions.yml
  .github/workflows/pr_labeler_file.yml
  .github/workflows/pr_labeler_title.yml
Labels: infra, github_actions, fix

#33318 chore(infra): use different pr title labeler
  .github/workflows/pr_labeler_title.yml
Labels: infra, github_actions

#33320 chore: cap lib upper bounds, run sync
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
  libs/partners/chroma/uv.lock
  libs/partners/deepseek/uv.lock
  libs/partners/exa/pyproject.toml
  libs/partners/exa/uv.lock
  libs/partners/fireworks/pyproject.toml
  libs/partners/fireworks/uv.lock
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
  libs/partners/mistralai/pyproject.toml
  libs/partners/mistralai/uv.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
  libs/partners/prompty/pyproject.toml
  libs/partners/prompty/uv.lock
  libs/partners/qdrant/pyproject.toml
  libs/partners/qdrant/uv.lock
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Labels: integration, standard-tests, dependencies, cli

#33323 docs(infra): add note about `check_diff.py` running on seemingly unrelated PRs
  .github/scripts/check_diff.py
Labels: documentation

#33326 fix(infra): v0.3 ref build; allow prerelease installations for partner packages
  .github/workflows/api_doc_build.yml
Labels: infra, github_actions, fix

#33321 fix(langchain_v1): fix edges when there's no middleware
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/tests/unit_tests/agents/__snapshots__/test_middleware_agent.ambr
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: langchain, v1, fix

#33317 release(anthropic): 1.0.0a3
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: integration, release, dependencies

#33333 revert: chore(infra): temporarily skip tests of previous alpha versions on core release
  .github/workflows/_release.yml
Labels: infra, github_actions, revert

#33338 chore: update v0.3 ref homepage
  docs/api_reference/create_api_rst.py
Labels: documentation

#33344 fix(langchain_v1): injection logic in tool node
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/tools/tool_node.py
Labels: langchain, v1, fix

#33328 feat(langchain_v1): on_model_call middleware
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/__init__.py
  libs/langchain_v1/langchain/agents/middleware/model_fallback.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_decorator.py
  libs/langchain_v1/tests/unit_tests/agents/middleware/test_on_model_call_middleware.py
  libs/langchain_v1/tests/unit_tests/agents/test_handler_composition.py
  libs/langchain_v1/tests/unit_tests/agents/test_middleware_agent.py
Labels: langchain, v1, feature

#33329 feat(langchain_v1): add on_tool_call middleware hook
  libs/langchain_v1/langchain/agents/factory.py
  libs/langchain_v1/langchain/agents/middleware/types.py
  libs/langchain_v1/langchain/tools/tool_node.py
  libs/langchain_v1/tests/unit_tests/agents/test_on_tool_call_middleware.py
  libs/langchain_v1/tests/unit_tests/tools/test_on_tool_call.py
Labels: langchain, v1, feature
