Repository langchain-ai/langchain, pull requests merged in 2025-04, with the labels that each got.

#30586 docs: edited the badge to an acceptable size
  README.md
Labels: lgtm, 🤖:docs, size:XS

#30549 community: Add custom sitemap URL parameter to GitbookLoader
  libs/community/langchain_community/document_loaders/gitbook.py
  libs/community/tests/integration_tests/document_loaders/test_gitbook.py
  libs/community/tests/unit_tests/document_loaders/test_gitbook.py
Labels: lgtm, Ɑ: doc loader, size:L, community

#30599 core: Add ruff rules S110 and S112
  libs/core/langchain_core/load/serializable.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/sys_info.py
  libs/core/pyproject.toml
Labels: lgtm, 🤖:nit, size:S

#29381 core: Add ruff rules PT (pytest)
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/_api/test_beta_decorator.py
  libs/core/tests/unit_tests/_api/test_deprecation.py
  libs/core/tests/unit_tests/caches/test_in_memory_cache.py
  libs/core/tests/unit_tests/conftest.py
  libs/core/tests/unit_tests/indexing/test_in_memory_indexer.py
  libs/core/tests/unit_tests/indexing/test_in_memory_record_manager.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_few_shot.py
  libs/core/tests/unit_tests/prompts/test_few_shot_with_templates.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/runnables/test_context.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/runnables/test_utils.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_schemas.py
  libs/core/tests/unit_tests/utils/test_aiter.py
  libs/core/tests/unit_tests/utils/test_env.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/core/tests/unit_tests/utils/test_iter.py
  libs/core/tests/unit_tests/utils/test_json_schema.py
  libs/core/tests/unit_tests/utils/test_rm_titles.py
  libs/core/tests/unit_tests/utils/test_usage.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: lgtm, 🤖:nit, size:XL

#29424 core: Add ruff rule FBT003 (boolean-trap)
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: lgtm, 🤖:nit, size:L

#30601 openai[patch]: ignore file blocks when counting tokens
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: lgtm, size:S

#30603 core: Propagate config_factories in RunnableBinding
  libs/core/langchain_core/runnables/base.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, size:M

#30614 docs: Little update in sample notebook with `WatsonxToolkit`
  docs/docs/integrations/tools/ibm_watsonx.ipynb
Labels: lgtm, 🤖:docs, size:M

#30581 openai[patch]: support structured output and tools
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: lgtm, size:M

#30616 openai: release 0.3.12
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#30591 docs: Add Oxylabs integration
  docs/docs/integrations/providers/oxylabs.mdx
  docs/docs/integrations/tools/oxylabs.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30621 openai[patch]: upgrade tiktoken and fix test
  libs/partners/openai/tests/unit_tests/test_token_counts.py
  libs/partners/openai/uv.lock
Labels: 🤖:nit, size:XS

#29286 core: Add ruff rules for Pylint PLC (Convention) and PLE (Errors)
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/document_loaders/blob_loaders.py
  libs/core/langchain_core/messages/modifier.py
  libs/core/langchain_core/output_parsers/list.py
  libs/core/langchain_core/output_parsers/string.py
  libs/core/langchain_core/prompts/pipeline.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/__init__.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/language_models/chat_models/test_rate_limiting.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  uv.lock
Labels: lgtm, 🤖:nit, size:L

#30627 docs: Remove TODO from Ollama docs page
  docs/docs/integrations/chat/ollama.ipynb
Labels: 🤖:docs, size:XS

#30625 community: support usage_metadata for litellm
  libs/community/langchain_community/chat_models/litellm.py
  libs/community/tests/integration_tests/chat_models/test_litellm_standard.py
Labels: lgtm, size:S, community

#30642 docs: Fixed a typo in 'Google AI vs Google Cloud Vertex AI' section
  docs/docs/integrations/chat/google_generative_ai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30618 partners: Add Perplexity Chat Integration
  .github/workflows/_integration_test.yml
  .github/workflows/_release.yml
  .github/workflows/scheduled_test.yml
  docs/src/theme/ChatModelTabs.js
  docs/src/theme/FeatureTables.js
  libs/core/langchain_core/load/load.py
  libs/langchain/langchain/chat_models/base.py
  libs/partners/perplexity/.gitignore
  libs/partners/perplexity/LICENSE
  libs/partners/perplexity/Makefile
  libs/partners/perplexity/README.md
  libs/partners/perplexity/langchain_perplexity/__init__.py
  libs/partners/perplexity/langchain_perplexity/chat_models.py
  libs/partners/perplexity/langchain_perplexity/py.typed
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/scripts/check_imports.py
  libs/partners/perplexity/scripts/lint_imports.sh
  libs/partners/perplexity/tests/__init__.py
  libs/partners/perplexity/tests/integration_tests/__init__.py
  libs/partners/perplexity/tests/integration_tests/test_chat_models_standard.py
  libs/partners/perplexity/tests/integration_tests/test_compile.py
  libs/partners/perplexity/tests/unit_tests/__init__.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models.py
  libs/partners/perplexity/tests/unit_tests/test_chat_models_standard.py
  libs/partners/perplexity/tests/unit_tests/test_imports.py
  libs/partners/perplexity/tests/unit_tests/test_secrets.py
  libs/partners/perplexity/uv.lock
  uv.lock
Labels: lgtm, size:XXL, partner

#30647 Bump `langchain-core` version in perplexity's `pyproject.toml`
  libs/partners/perplexity/pyproject.toml
Labels: lgtm, size:XS, 🤖:release

#30626 core[patch]: log information from certain errors
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/core.py
Labels: 🤖:bug, size:M

#30649 Adding `Perplexity` extra and deprecating the community version of `ChatPerplexity`
  docs/docs/integrations/chat/perplexity.ipynb
  docs/docs/integrations/providers/perplexity.mdx
  libs/community/langchain_community/chat_models/perplexity.py
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
  libs/packages.yml
  uv.lock
Labels: lgtm, 🤖:docs, size:L, langchain

#30660 Fix tool description in serpapi.ipynb
  docs/docs/integrations/tools/serpapi.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30648 langchain-runpod integration
  docs/docs/integrations/chat/runpod.ipynb
  docs/docs/integrations/llms/runpod.ipynb
  docs/docs/integrations/providers/runpod.ipynb
  libs/packages.yml
Labels: lgtm, size:XL

#30668 release: bump core to `v0.3.51`
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: lgtm, size:XS, 🤖:release

#30672 openai[patch]: make computer-use test more reliable
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: lgtm, 🤖:nit, size:XS

#30671 text-splitters: release 0.3.8
  libs/text-splitters/pyproject.toml
  libs/text-splitters/uv.lock
Labels: lgtm, size:XS, 🤖:release, Ɑ: text splitters

#30670 langchain: release 0.3.23
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
Labels: lgtm, size:XS, 🤖:release, langchain

#30673 langchain-community: release 0.3.21
  libs/community/pyproject.toml
  libs/community/uv.lock
Labels: lgtm, size:XS, 🤖:release, community

#30229 MariaDB vector store documentation addition
  docs/docs/integrations/providers/mariadb.mdx
  docs/docs/integrations/vectorstores/mariadb.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30664 community: Add support for custom runtimes to Riza tools
  libs/community/langchain_community/tools/riza/command.py
Labels: lgtm, size:S, community

#30637 Solved issue `Implement langchain-litellm` #30368
  docs/docs/integrations/chat/litellm.ipynb
  docs/docs/integrations/providers/litellm.mdx
  docs/docs/integrations/providers/littlellm.md
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30445 feature: removed pandas dataframe dependency for similary_search when using DuckDB as vector store
  libs/community/langchain_community/vectorstores/duckdb.py
Labels: lgtm, Ɑ: vector store, size:M, community

#30676 docs: fix perplexity install instructions in `ChatPerplexity` docstring
  libs/partners/perplexity/langchain_perplexity/chat_models.py
Labels: lgtm, 🤖:docs, size:XS

#30677 docs: update package registry sort order
  libs/packages.yml
Labels: size:L

#30654 core: Add ruff rules TD and FIX
  libs/core/langchain_core/outputs/chat_generation.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, 🤖:nit, size:S

#30653 core: Rework pydantic version checks
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
  libs/core/tests/unit_tests/utils/test_utils.py
Labels: lgtm, 🤖:nit, size:L

#30657 core: Add ruff rules DTZ
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/document_loaders/test_langsmith.py
  libs/core/tests/unit_tests/indexing/test_in_memory_record_manager.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
Labels: lgtm, 🤖:nit, size:L

#30632 community[patch]: `Redundant` Parser checker for Webbaseloader
  libs/community/langchain_community/document_loaders/web_base.py
Labels: lgtm, Ɑ: doc loader, size:XS, community

#30633 docs: Add Google Calendar documentation
  docs/docs/integrations/tools/google_calendar.ipynb
Labels: 🤖:docs, size:L

#30656 core: Add ruff rules PGH (except PGH003)
  libs/core/langchain_core/globals.py
  libs/core/langchain_core/output_parsers/format_instructions.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/tracers/base.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_imports.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
Labels: lgtm, 🤖:nit, size:M

#30620 community[patch]: Fix empty producer in PDF Parsers
  libs/community/langchain_community/document_loaders/parsers/pdf.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:S, community

#29335 core: Add ruff rules PYI
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/utils/aiter.py
  libs/core/langchain_core/utils/iter.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/stubs.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
Labels: lgtm, 🤖:nit, size:L

#30606 docs: Add tools for hyperbrowser
  docs/docs/integrations/providers/hyperbrowser.mdx
  docs/docs/integrations/tools/hyperbrowser_browser_agent_tools.ipynb
  docs/docs/integrations/tools/hyperbrowser_web_scraping_tools.ipynb
  docs/scripts/tool_feat_table.py
Labels: lgtm, 🤖:docs, size:XXL

#30679 Update Contributor Docs
  docs/docs/contributing/how_to/integrations/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#30680 Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: 🤖:nit, size:XS

#30701 langchain_qdrant: fix showing the missing sparse vector name
  libs/partners/qdrant/langchain_qdrant/qdrant.py
Labels: lgtm, Ɑ: vector store, 🤖:bug, size:XS

#30694 ChatTongyi reasoning_content fix
  libs/community/langchain_community/chat_models/tongyi.py
Labels: lgtm, 🤖:bug, size:XS, community

#30697 docs: replaced initialize_agent with create_react_agent in dalle_image_generator.ipynb
  docs/docs/integrations/tools/dalle_image_generator.ipynb
Labels: lgtm, 🤖:docs, size:M

#30707 groq[patch]: add retries to integration tests
  libs/partners/groq/Makefile
  libs/partners/groq/pyproject.toml
  libs/partners/groq/uv.lock
Labels: 🤖:nit, size:XS

#30706 ollama[patch]: add model_name to response metadata
  libs/partners/ollama/langchain_ollama/chat_models.py
Labels: lgtm, size:XS

#30716 ollama: release 0.3.1
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Labels: size:XS, 🤖:release

#30713 ci: remove unused debug action
  .github/workflows/people.yml
Labels: lgtm, 🤖:nit, size:S

#30710 docs: Update couchbase vector store docs
  docs/docs/integrations/llm_caching.ipynb
  docs/docs/integrations/providers/couchbase.mdx
  docs/docs/integrations/vectorstores/couchbase.ipynb
  docs/scripts/vectorstore_feat_table.py
  libs/community/langchain_community/vectorstores/couchbase.py
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:L, community

#30717 deepseek[patch]: fix link to release notes
  libs/partners/deepseek/pyproject.toml
Labels: lgtm, 🤖:nit, size:XS

#30714 Clean up `numpy` dependencies and speed up 3.13 CI with `numpy>=2.1.0`
  libs/community/pyproject.toml
  libs/community/uv.lock
  libs/core/pyproject.toml
  libs/core/uv.lock
  libs/langchain/pyproject.toml
  libs/langchain/uv.lock
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
  libs/partners/huggingface/pyproject.toml
  libs/partners/huggingface/uv.lock
  libs/partners/nomic/pyproject.toml
  libs/partners/nomic/uv.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
  libs/partners/voyageai/pyproject.toml
  libs/partners/voyageai/uv.lock
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
  uv.lock
Labels: lgtm, 🤖:nit, size:M, ci

#30729 docs: update yellowbrick.ipynb
  docs/docs/integrations/vectorstores/yellowbrick.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30685 docs: fix import path and update LiteLLM integration docs
  docs/docs/integrations/chat/litellm.ipynb
  docs/docs/integrations/providers/litellm.mdx
Labels: lgtm, 🤖:docs, size:XS

#30736 docs: Fix typo in 'Query re-writing" section
  docs/docs/concepts/retrieval.mdx
Labels: lgtm, 🤖:docs, size:XS

#30688 community: Google Vertex AI Search now returns the website title as part of the document metadata
  libs/community/langchain_community/retrievers/google_vertex_ai_search.py
Labels: lgtm, size:XS, Ɑ: retriever, community

#30748 dosc: Fix typo in get_separators_for_language method section
  docs/docs/how_to/code_splitter.ipynb
Labels: lgtm, 🤖:nit, size:XS, langchain

#30752 [ci]: Quick `codspeed.yml` tweaks to enable comparisons with `master`
  .github/workflows/codspeed.yml
Labels: 🤖:nit, size:XS

#30732 core: Add ruff rules ARG
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/caches.py
  libs/core/langchain_core/callbacks/file.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/stdout.py
  libs/core/langchain_core/callbacks/streaming_stdout.py
  libs/core/langchain_core/callbacks/usage.py
  libs/core/langchain_core/indexing/api.py
  libs/core/langchain_core/indexing/in_memory.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/output_parsers/base.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/transform.py
  libs/core/langchain_core/prompts/base.py
  libs/core/langchain_core/retrievers.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/tracers/base.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/core.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/langchain_v1.py
  libs/core/langchain_core/utils/loading.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/langchain_core/utils/utils.py
  libs/core/langchain_core/vectorstores/base.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/callbacks/test_async_callback_manager.py
  libs/core/tests/unit_tests/callbacks/test_dispatch_custom_event.py
  libs/core/tests/unit_tests/document_loaders/test_base.py
  libs/core/tests/unit_tests/example_selectors/test_similarity.py
  libs/core/tests/unit_tests/fake/callbacks.py
  libs/core/tests/unit_tests/fake/test_fake_chat_model.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/core/tests/unit_tests/language_models/llms/test_base.py
  libs/core/tests/unit_tests/language_models/llms/test_cache.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
  libs/core/tests/unit_tests/prompts/test_few_shot.py
  libs/core/tests/unit_tests/prompts/test_structured.py
  libs/core/tests/unit_tests/runnables/test_configurable.py
  libs/core/tests/unit_tests/runnables/test_context.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Labels: lgtm, size:L, Ɑ: core

#30735 partners: (langchain-huggingface) Embeddings - Integrate Inference Providers and remove deprecated code
  libs/partners/huggingface/langchain_huggingface/embeddings/huggingface_endpoint.py
  libs/partners/huggingface/pyproject.toml
Labels: lgtm, Ɑ: embeddings, size:S

#30696 core: Add ruff rules PLR
  libs/core/langchain_core/callbacks/file.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/stdout.py
  libs/core/langchain_core/indexing/api.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/tracers/root_listeners.py
  libs/core/langchain_core/tracers/stdout.py
  libs/core/langchain_core/utils/html.py
  libs/core/langchain_core/utils/json.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/conftest.py
  libs/core/tests/unit_tests/tracers/test_schemas.py
Labels: lgtm, 🤖:nit, size:XL

#30756 community: deprecate AzureCosmosDBNoSqlVectorSearch in favor of langchain-azure-ai implementation
  libs/community/langchain_community/vectorstores/azure_cosmos_db_no_sql.py
Labels: Ɑ: vector store, size:XS, community

#30749 docs: Add Cloudflare integrations
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
  docs/docs/integrations/providers/cloudflare.mdx
  docs/docs/integrations/text_embedding/cloudflare_workersai.ipynb
  docs/docs/integrations/vectorstores/cloudflare_vectorize.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XXL

#30754 docs: update clickhouse version in notebook example
  docs/docs/integrations/vectorstores/clickhouse.ipynb
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XS

#30770 Adding more import time benchmarks for `langchain-core`
  libs/core/tests/benchmarks/test_imports.py
Labels: 🤖:nit, size:S, Ɑ: core, benchmarking

#30768 docs: Update ordering of cloudflare integration examples in providers page
  docs/docs/integrations/providers/cloudflare.mdx
Labels: lgtm, 🤖:docs, size:S

#30774 Only run `CodSpeed` benchmarks with `run-codspeed-benchmarks` label
  .github/workflows/codspeed.yml
Labels: 🤖:nit, size:XS

#30777 Async callback benchmark
  libs/core/tests/benchmarks/test_async_callbacks.py
Labels: size:M, run-codspeed-benchmarks

#30776 docs: update links in cloudflare docs
  docs/docs/integrations/chat/cloudflare_workersai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30773 core[patch]: support customization of backoff parameters in `with_retries`
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/retry.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
Labels: lgtm, 🤖:nit, size:M

#30760 community[patch]: simplify cache logic
  libs/community/langchain_community/cache.py
Labels: lgtm, 🤖:nit, size:XS, community

#30636 docs: YDB Vector Store docs
  docs/docs/integrations/providers/ydb.mdx
  docs/docs/integrations/vectorstores/ydb.ipynb
  libs/packages.yml
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:XL, community

#30755 langchain: remove langchain-server script
  libs/langchain/pyproject.toml
Labels: 🤖:nit, size:XS, langchain

#30734 replace the deprecated initialize_agent in playwright.ipynb with create_react_agent
  docs/docs/integrations/tools/playwright.ipynb
Labels: lgtm, 🤖:docs, size:M

#30730 Community: Add Managed Identity support for Azure AI Search
  docs/docs/integrations/retrievers/azure_ai_search.ipynb
  libs/community/langchain_community/retrievers/azure_ai_search.py
  libs/community/tests/integration_tests/retrievers/test_azure_ai_search.py
Labels: lgtm, size:M, Ɑ: retriever, community

#30675 core: Specify code when ignoring type issue (ruff PGH003)
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/agents.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/chat.py
  libs/core/langchain_core/messages/function.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/output_parsers/xml.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/pydantic_v1/__init__.py
  libs/core/langchain_core/pydantic_v1/dataclasses.py
  libs/core/langchain_core/pydantic_v1/main.py
  libs/core/langchain_core/retrievers.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/base.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tracers/evaluation.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/langchain.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/langchain_core/vectorstores/utils.py
  libs/core/pyproject.toml
  libs/core/tests/benchmarks/test_imports.py
  libs/core/tests/unit_tests/fake/callbacks.py
  libs/core/tests/unit_tests/indexing/test_hashed_document.py
  libs/core/tests/unit_tests/indexing/test_in_memory_indexer.py
  libs/core/tests/unit_tests/indexing/test_indexing.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/runnables/test_configurable.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/stores/test_in_memory.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_langchain.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
  libs/core/tests/unit_tests/utils/test_utils.py
  libs/core/tests/unit_tests/vectorstores/test_vectorstore.py
Labels: lgtm, 🤖:nit, size:L

#30573 docs: add langfuse integration to provider list
  docs/docs/integrations/providers/langfuse.mdx
Labels: 🤖:docs, size:L

#30790 xai: release 0.2.3
  libs/partners/xai/pyproject.toml
  libs/partners/xai/uv.lock
Labels: size:XS, 🤖:release

#30780 core[lint]: Use 3.9 formatting for docs and tests
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/file.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/callbacks/stdout.py
  libs/core/langchain_core/callbacks/streaming_stdout.py
  libs/core/langchain_core/indexing/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/memory.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/outputs/llm_result.py
  libs/core/langchain_core/rate_limiters.py
  libs/core/langchain_core/retrievers.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/stores.py
  libs/core/langchain_core/tools/convert.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/evaluation.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/html.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/langchain_core/utils/utils.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/tests/unit_tests/runnables/test_history.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/test_tools.py
Labels: 🤖:nit, size:L

#30779 core[patch]: Share executor for async callbacks run in sync context
  libs/core/langchain_core/callbacks/manager.py
  libs/core/tests/benchmarks/test_async_callbacks.py
Labels: 🤖:nit, size:M, Ɑ: core, run-codspeed-benchmarks

#30695 core: Add ruff rules FBT001 and FBT002
  libs/core/langchain_core/callbacks/base.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/exceptions.py
  libs/core/langchain_core/globals.py
  libs/core/langchain_core/load/load.py
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/string.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_png.py
  libs/core/langchain_core/tools/simple.py
  libs/core/langchain_core/tools/structured.py
  libs/core/langchain_core/tracers/context.py
  libs/core/langchain_core/tracers/evaluation.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/pydantic_utils.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, 🤖:nit, size:L, langchain

#30742 docs: Add openGauss vector store documentation
  docs/docs/integrations/vectorstores/opengauss.ipynb
  docs/scripts/vectorstore_feat_table.py
  docs/src/theme/FeatureTables.js
Labels: lgtm, Ɑ: vector store, 🤖:docs, size:L

#30737 core: Improve mypy config
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/document_loaders/base.py
  libs/core/langchain_core/embeddings/fake.py
  libs/core/langchain_core/globals.py
  libs/core/langchain_core/indexing/api.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/messages/base.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/json.py
  libs/core/langchain_core/output_parsers/openai_functions.py
  libs/core/langchain_core/outputs/llm_result.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/image.py
  libs/core/langchain_core/prompts/prompt.py
  libs/core/langchain_core/pydantic_v1/__init__.py
  libs/core/langchain_core/pydantic_v1/dataclasses.py
  libs/core/langchain_core/pydantic_v1/main.py
  libs/core/langchain_core/retrievers.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/branch.py
  libs/core/langchain_core/runnables/fallbacks.py
  libs/core/langchain_core/runnables/graph.py
  libs/core/langchain_core/runnables/graph_ascii.py
  libs/core/langchain_core/runnables/graph_mermaid.py
  libs/core/langchain_core/runnables/graph_png.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/langchain_core/runnables/retry.py
  libs/core/langchain_core/runnables/router.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/simple.py
  libs/core/langchain_core/tracers/evaluation.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/log_stream.py
  libs/core/langchain_core/utils/function_calling.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/pyproject.toml
  libs/core/tests/benchmarks/test_async_callbacks.py
  libs/core/tests/benchmarks/test_imports.py
  libs/core/tests/unit_tests/callbacks/test_sync_callback_manager.py
  libs/core/tests/unit_tests/example_selectors/test_similarity.py
  libs/core/tests/unit_tests/output_parsers/test_list_parser.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_prompt.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_graph.py
  libs/core/tests/unit_tests/runnables/test_imports.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/core/tests/unit_tests/utils/test_pydantic.py
  libs/core/uv.lock
Labels: lgtm, 🤖:nit, size:L

#30805 perplexity[patch]: Fix #30767: Handle missing citations attribute in ChatPerplexity
  libs/partners/perplexity/langchain_perplexity/chat_models.py
Labels: lgtm, 🤖:bug, size:XS

#30800 docs: fix typo
  docs/docs/integrations/providers/vectara.ipynb
Labels: lgtm, 🤖:nit, size:XS

#30807 community[patch]: fix cost calculations for o3 in OpenAI callback
  libs/community/langchain_community/callbacks/openai_info.py
Labels: 🤖:bug, size:XS, community

#30769 core[performance]: use custom `__getattr__` in `__init__.py` files for lazy imports
  libs/core/langchain_core/_api/__init__.py
  libs/core/langchain_core/callbacks/__init__.py
  libs/core/langchain_core/document_loaders/__init__.py
  libs/core/langchain_core/documents/__init__.py
  libs/core/langchain_core/embeddings/__init__.py
  libs/core/langchain_core/example_selectors/__init__.py
  libs/core/langchain_core/indexing/__init__.py
  libs/core/langchain_core/language_models/__init__.py
  libs/core/langchain_core/load/__init__.py
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/output_parsers/__init__.py
  libs/core/langchain_core/outputs/__init__.py
  libs/core/langchain_core/prompts/__init__.py
  libs/core/langchain_core/runnables/__init__.py
  libs/core/langchain_core/tools/__init__.py
  libs/core/langchain_core/tracers/__init__.py
  libs/core/langchain_core/utils/__init__.py
Labels: lgtm, 🤖:nit, size:XXL, Ɑ: core

#30811 community: redis tool typos fix
  docs/docs/integrations/providers/redis.mdx
  docs/docs/integrations/vectorstores/redis.ipynb
  libs/community/langchain_community/utilities/redis.py
Labels: lgtm, 🤖:nit, size:S, community

#30825 core[lint]: fix issue with unused ignore in `__init__.py` files
  libs/core/langchain_core/_api/__init__.py
  libs/core/langchain_core/callbacks/__init__.py
  libs/core/langchain_core/document_loaders/__init__.py
  libs/core/langchain_core/documents/__init__.py
  libs/core/langchain_core/embeddings/__init__.py
  libs/core/langchain_core/example_selectors/__init__.py
  libs/core/langchain_core/indexing/__init__.py
  libs/core/langchain_core/language_models/__init__.py
  libs/core/langchain_core/load/__init__.py
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/output_parsers/__init__.py
  libs/core/langchain_core/outputs/__init__.py
  libs/core/langchain_core/prompts/__init__.py
  libs/core/langchain_core/runnables/__init__.py
  libs/core/langchain_core/tools/__init__.py
  libs/core/langchain_core/tracers/__init__.py
  libs/core/langchain_core/utils/__init__.py
Labels: 🤖:nit, size:M

#30827 docs: small Tableau docs update
  docs/docs/integrations/tools/tableau.ipynb
Labels: lgtm, 🤖:docs, size:M

#30824 Tinkering with CodSpeed
  .github/workflows/codspeed.yml
  libs/core/tests/benchmarks/test_async_callbacks.py
Labels: 🤖:nit, size:XS, run-codspeed-benchmarks

#30845 core: codspeed tweak to make sure it runs on master
  .github/workflows/codspeed.yml
Labels: 🤖:nit, size:XS

#30831 docs: fix tools_human.ipynb url 404.
  docs/docs/how_to/tools_human.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30746 multiple: multi-modal content blocks
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/tests/unit_tests/language_models/chat_models/test_base.py
  libs/core/tests/unit_tests/messages/test_imports.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_standard.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: size:XL, Ɑ: core

#25674 core[patch]: dict chat prompt template support
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/prompts/few_shot.py
  libs/core/langchain_core/prompts/message.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_message.py
Labels: lgtm, size:XL, 08 RFC, Ɑ: core, langchain

#30843 Fix `from langchain_core.load.load import load` import
  libs/core/langchain_core/load/__init__.py
Labels: lgtm, 🤖:nit, size:XS, run-codspeed-benchmarks

#30850 core: release 0.3.52
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: lgtm, size:XS, 🤖:release

#30849 core[fix]: remove `load` from dynamic imports dict
  libs/core/langchain_core/load/__init__.py
Labels: lgtm, 🤖:bug, size:XS

#30852 infra: run old standard-tests on core releases
  .github/workflows/_release.yml
Labels: 🤖:nit, size:XS

#30854 standard-tests: release 0.3.18
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, 🤖:release

#30855 core: Remove some noqa
  libs/core/langchain_core/indexing/api.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_pydantic_parser.py
Labels: lgtm, 🤖:nit, size:S, Ɑ: core

#30856 core[fix]: Fix `__dir__` in `__init__.py` for `output_parsers` module
  libs/core/langchain_core/output_parsers/__init__.py
Labels: lgtm, 🤖:bug, size:XS

#30857 anthropic: release 0.3.11
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: size:XS, 🤖:release

#30858 openai: release 0.3.13
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#30859 perplexity: release 0.1.1
  libs/partners/perplexity/pyproject.toml
  libs/partners/perplexity/uv.lock
Labels: size:XS, 🤖:release

#30860 chroma: release 0.2.3
  libs/partners/chroma/pyproject.toml
  libs/partners/chroma/uv.lock
Labels: lgtm, size:XS, 🤖:release

#30863 ollama[patch]: fix generation info
  libs/partners/ollama/langchain_ollama/chat_models.py
Labels: 🤖:bug, size:S

#30861 langchain: infer Perplexity provider for sonar model prefix
  libs/langchain/langchain/chat_models/base.py
Labels: lgtm, size:XS, langchain

#30865 ollama: release 0.3.2
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/uv.lock
Labels: lgtm, size:XS, 🤖:release

#30792 Galaxia integration
  docs/docs/integrations/providers/galaxia.mdx
  docs/docs/integrations/retrievers/galaxia-retriever.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30848 core: Removing unnecessary `pydantic` core schema rebuilds
  libs/core/langchain_core/messages/ai.py
  libs/core/langchain_core/messages/chat.py
  libs/core/langchain_core/messages/function.py
  libs/core/langchain_core/messages/human.py
  libs/core/langchain_core/messages/modifier.py
  libs/core/langchain_core/messages/system.py
  libs/core/langchain_core/messages/tool.py
  libs/core/langchain_core/output_parsers/list.py
  libs/core/langchain_core/output_parsers/pydantic.py
  libs/core/langchain_core/output_parsers/string.py
  libs/core/langchain_core/prompts/pipeline.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/configurable.py
  libs/core/langchain_core/runnables/utils.py
  libs/core/langchain_core/tools/simple.py
  libs/core/tests/unit_tests/language_models/chat_models/test_rate_limiting.py
  libs/core/tests/unit_tests/output_parsers/test_base_parsers.py
  libs/core/tests/unit_tests/prompts/test_structured.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/test_pydantic_imports.py
  libs/core/tests/unit_tests/test_tools.py
  uv.lock
Labels: lgtm, size:M, run-codspeed-benchmarks

#30882 docs: document OpenAI reasoning summaries
  docs/docs/integrations/chat/openai.ipynb
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:docs, size:L

#30883 docs: update Bedrock chat model page
  docs/docs/integrations/chat/bedrock.ipynb
  docs/docs/integrations/providers/aws.mdx
Labels: 🤖:docs, size:XL

#30897 partners: bug fix check_imports.py exit code.
  libs/partners/fireworks/scripts/check_imports.py
  libs/partners/huggingface/scripts/check_imports.py
  libs/partners/prompty/scripts/check_imports.py
Labels: lgtm, 🤖:bug, size:XS

#30887 multiple: permit optional fields on multimodal content blocks
  libs/core/langchain_core/messages/content_blocks.py
  libs/core/tests/unit_tests/test_messages.py
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
Labels: lgtm, size:M

#30904 standard-tests, openai[patch]: add support standard audio inputs
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base_standard.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: size:L

#30906 standard-tests: release 0.3.19
  libs/standard-tests/pyproject.toml
  libs/standard-tests/uv.lock
Labels: size:XS, 🤖:release

#30907 anthropic: release 0.3.12
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/uv.lock
Labels: size:XS, 🤖:release

#30908 openai: release 0.3.14
  libs/partners/openai/pyproject.toml
  libs/partners/openai/uv.lock
Labels: size:XS, 🤖:release

#30905 core[patch]: Raise `AttributeError` (instead of `ModuleNotFoundError`) in custom `__getattr__`
  libs/core/langchain_core/_api/__init__.py
  libs/core/langchain_core/_import_utils.py
  libs/core/langchain_core/callbacks/__init__.py
  libs/core/langchain_core/document_loaders/__init__.py
  libs/core/langchain_core/documents/__init__.py
  libs/core/langchain_core/embeddings/__init__.py
  libs/core/langchain_core/example_selectors/__init__.py
  libs/core/langchain_core/indexing/__init__.py
  libs/core/langchain_core/language_models/__init__.py
  libs/core/langchain_core/load/__init__.py
  libs/core/langchain_core/messages/__init__.py
  libs/core/langchain_core/output_parsers/__init__.py
  libs/core/langchain_core/outputs/__init__.py
  libs/core/langchain_core/prompts/__init__.py
  libs/core/langchain_core/runnables/__init__.py
  libs/core/langchain_core/tools/__init__.py
  libs/core/langchain_core/tracers/__init__.py
  libs/core/langchain_core/utils/__init__.py
  libs/core/langchain_core/vectorstores/__init__.py
  libs/core/tests/unit_tests/indexing/test_public_api.py
Labels: lgtm, 🤖:bug, size:L

#30880 docs: update multi-modal docs
  docs/docs/concepts/multimodality.mdx
  docs/docs/how_to/index.mdx
  docs/docs/how_to/multimodal_inputs.ipynb
  docs/docs/how_to/multimodal_prompts.ipynb
Labels: lgtm, 🤖:docs, size:XL

#30411 langchain-ollama (partners) / langchain-core: allow passing ChatMessages to Ollama (including arbitrary roles)
  docs/docs/integrations/chat/ollama.ipynb
  libs/partners/ollama/langchain_ollama/chat_models.py
  libs/partners/ollama/pyproject.toml
  libs/partners/ollama/tests/unit_tests/test_chat_models.py
  libs/partners/ollama/uv.lock
Labels: lgtm, size:M, langchain

#30921 community: change metadata in opensearch mmr
  libs/community/langchain_community/vectorstores/opensearch_vector_search.py
Labels: lgtm, Ɑ: vector store, size:XS, community

#30925 infra: add langchain-google-genai to monorepo test deps and update notebook cassettes
  .github/workflows/run_notebooks.yml
  docs/cassettes/multimodal_inputs_0f68cce7-350b-4cde-bc40-d3a169551fc3.msgpack.zlib
  docs/cassettes/multimodal_inputs_1fcf7b27-1cc3-420a-b920-0420b5892e20.msgpack.zlib
  docs/cassettes/multimodal_inputs_325fb4ca.msgpack.zlib
  docs/cassettes/multimodal_inputs_55e1d937-3b22-4deb-b9f0-9e688f0609dc.msgpack.zlib
  docs/cassettes/multimodal_inputs_6c1455a9-699a-4702-a7e0-7f6eaec76a21.msgpack.zlib
  docs/cassettes/multimodal_inputs_83593b9d-a8d3-4c99-9dac-64e0a9d397cb.msgpack.zlib
  docs/cassettes/multimodal_inputs_99d27f8f-ae78-48bc-9bf2-3cef35213ec7.msgpack.zlib
  docs/cassettes/multimodal_inputs_9bbf578e-794a-4dc0-a469-78c876ccd4a3.msgpack.zlib
  docs/cassettes/multimodal_inputs_9ca1040c.msgpack.zlib
  docs/cassettes/multimodal_inputs_a0b91b29-dbd6-4c94-8f24-05471adc7598.msgpack.zlib
  docs/cassettes/multimodal_inputs_a8819cf3-5ddc-44f0-889a-19ca7b7fe77e.msgpack.zlib
  docs/cassettes/multimodal_inputs_ae076c9b-ff8f-461d-9349-250f396c9a25.msgpack.zlib
  docs/cassettes/multimodal_inputs_cd22ea82-2f93-46f9-9f7a-6aaf479fcaa9.msgpack.zlib
  docs/cassettes/multimodal_inputs_ea7707a1-5660-40a1-a10f-0df48a028689.msgpack.zlib
  docs/cassettes/multimodal_inputs_ec680b6b.msgpack.zlib
  pyproject.toml
  uv.lock
Labels: 🤖:nit, size:S

#30928 core[patch]: de-beta usage callback
  libs/core/langchain_core/callbacks/usage.py
Labels: 🤖:nit, size:XS

#30841 docs: Register langchain-singlestore integration
  docs/docs/integrations/caches/singlestore_semantic_cache.ipynb
  docs/docs/integrations/document_loaders/singlestore.ipynb
  docs/docs/integrations/llm_caching.ipynb
  docs/docs/integrations/providers/singlestore.ipynb
  docs/docs/integrations/vectorstores/singlestore.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL

#30683 community: support usage_metadata for litellm streaming calls
  libs/community/langchain_community/chat_models/litellm.py
  libs/community/tests/integration_tests/chat_models/test_litellm_standard.py
Labels: lgtm, size:S, community

#30846 community: Add deprecation decorator to SingleStore community integrations
  docs/docs/integrations/providers/singlestoredb.mdx
  docs/docs/integrations/retrievers/singlestoredb.ipynb
  docs/docs/integrations/vectorstores/singlestore.ipynb
  docs/docs/integrations/vectorstores/singlestoredb.ipynb
  docs/vercel.json
  libs/community/langchain_community/cache.py
  libs/community/langchain_community/chat_message_histories/singlestoredb.py
  libs/community/langchain_community/vectorstores/singlestoredb.py
Labels: lgtm, Ɑ: vector store, size:XL, community

#30809 partners: ChatAnthropic supports urls
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: lgtm, size:L

#30757 partners/openai: OpenAIEmbeddings not respecting chunk_size argument
  libs/partners/openai/langchain_openai/embeddings/base.py
  libs/partners/openai/tests/unit_tests/embeddings/test_base.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:S, langchain

#30946 langchain_community: OpenAIEmbeddings not respecting chunk_size argument
  libs/community/langchain_community/embeddings/openai.py
  libs/community/tests/unit_tests/embeddings/test_openai.py
Labels: lgtm, Ɑ: embeddings, 🤖:bug, size:M, community

#30938 docs: update tableau.ipynb
  docs/docs/integrations/tools/tableau.ipynb
Labels: lgtm, 🤖:docs, size:XS

#30937 Community: Add bind variable support for oracle adb docloader
  docs/docs/integrations/document_loaders/oracleadb_loader.ipynb
  libs/community/langchain_community/document_loaders/oracleadb_loader.py
Labels: lgtm, Ɑ: doc loader, size:M, community

#30936 core: Improve OutputParser error messaging when model output is truncated (max_tokens)
  libs/core/langchain_core/output_parsers/openai_tools.py
  libs/core/tests/unit_tests/output_parsers/test_openai_tools.py
Labels: lgtm, 🤖:bug, size:M, langchain

#30944 docs: dynamic copyright year in API ref
  docs/api_reference/conf.py
Labels: lgtm, 🤖:docs, size:XS

#30943 core: Make Graph.Node.data optional
  libs/core/langchain_core/runnables/graph.py
Labels: lgtm, 🤖:nit, size:S

#30935 anthropic[patch]: make description optional on AnthropicTool
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/unit_tests/test_chat_models.py
Labels: lgtm, 🤖:bug, size:S

#30899 community: fix cost calculations for 4.1 and o4 in OpenAI callback
  libs/community/langchain_community/callbacks/openai_info.py
Labels: lgtm, 🤖:bug, size:L, community

#30951 fireworks[patch]: update model in LLM integration tests
  libs/partners/fireworks/tests/integration_tests/test_llms.py
Labels: 🤖:nit, size:S

#30952 core[patch]: release 0.3.55
  libs/core/langchain_core/version.py
  libs/core/pyproject.toml
  libs/core/uv.lock
Labels: size:XS, 🤖:release

#30953 Community: Adding tool calling and some new parameters to the langchain-predictionguard docs.
  docs/docs/integrations/chat/predictionguard.ipynb
Labels: lgtm, 🤖:docs, size:L, community

#30926 Community: Valyu Integration docs
  docs/docs/integrations/providers/valyu.ipynb
  docs/docs/integrations/retrievers/valyu.ipynb
  docs/docs/integrations/tools/valyu_context.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#30909 Support of openai reasoning summary streaming
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_responses_api.py
Labels: lgtm, size:M

#30960 docs: update package registry sort order
  libs/packages.yml
Labels: size:L

#30962 community: release 0.3.22
  libs/community/pyproject.toml
  libs/community/uv.lock
Labels: size:XS, 🤖:release, community

#30956 community: update Naver integration to use langchain-naver package and improve documentation
  docs/docs/integrations/chat/naver.ipynb
  docs/docs/integrations/providers/naver.mdx
  docs/docs/integrations/text_embedding/naver.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L, community

#30965 fireworks[minor]: remove default model and temperature
  docs/docs/integrations/llms/fireworks.ipynb
  libs/partners/fireworks/README.md
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/fireworks/tests/unit_tests/test_standard.py
Labels: size:L

#30900 text-splitters: Set strict mypy rules
  libs/text-splitters/Makefile
  libs/text-splitters/langchain_text_splitters/base.py
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/langchain_text_splitters/json.py
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/langchain_text_splitters/sentence_transformers.py
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/integration_tests/test_nlp_text_splitters.py
  libs/text-splitters/uv.lock
Labels: lgtm, 🤖:nit, size:M, Ɑ: text splitters
