Repository langchain-ai/langchain, pull requests merged in 2025-01, with the labels that each got.

#28981 cli: bump gritql version
  libs/cli/poetry.lock
  libs/cli/pyproject.toml
Labels: lgtm, 🤖:nit, size:XS

#28974 infra: speed up unit tests
  .github/workflows/_test.yml
  libs/community/Makefile
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/community/tests/unit_tests/test_dependencies.py
  libs/core/Makefile
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/Makefile
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/test_dependencies.py
  libs/text-splitters/Makefile
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
Labels: lgtm, 🤖:nit, size:M

#28975 docs: Remove redundant word for improved sentence fluency
  docs/docs/tutorials/agents.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28976 docs: Minor typo fixed, install necessary pip
  docs/docs/integrations/document_loaders/recursive_url.ipynb
  docs/docs/integrations/document_loaders/slack.ipynb
Labels: lgtm, 🤖:nit, size:XS, langchain

#28941 docs: add modelscope endpoint
  docs/docs/integrations/chat/modelscope_chat_endpoint.ipynb
  docs/docs/integrations/llms/modelscope_endpoint.ipynb
  docs/docs/integrations/providers/modelscope.mdx
  docs/docs/integrations/text_embedding/modelscope_embedding.ipynb
  docs/docs/integrations/text_embedding/modelscope_hub.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL

#28990 community[patch]: fix instantiation for Slack tools
  libs/community/langchain_community/agent_toolkits/slack/toolkit.py
  libs/community/langchain_community/tools/slack/base.py
Labels: 🤖:bug, size:S, community

#28959 (Community): Fix Keyword argument for `AzureAIDocumentIntelligenceParser`
  libs/community/langchain_community/document_loaders/parsers/doc_intelligence.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS, community

#28985 docs: Update streaming.mdx
  docs/docs/concepts/streaming.mdx
Labels: lgtm, 🤖:docs, size:XS

#28986 langchain.agents: corrected documentation
  libs/langchain/langchain/_api/deprecation.py
Labels: Ɑ: agent, lgtm, 🤖:docs, size:S, langchain

#28984 community: update documentation and model IDs for FriendliAI provider
  docs/docs/integrations/chat/friendli.ipynb
  docs/docs/integrations/llms/friendli.ipynb
  docs/docs/integrations/providers/friendli.mdx
  docs/docs/integrations/providers/friendly.md
  libs/community/langchain_community/chat_models/friendli.py
  libs/community/langchain_community/llms/friendli.py
  libs/community/tests/unit_tests/llms/test_friendli.py
Labels: lgtm, 🤖:docs, size:L, community

#28969 (Core) Small Change in Docstring for method `partial` for `BasePromptTemplate`
  libs/core/langchain_core/prompts/base.py
Labels: lgtm, 🤖:nit, size:XS

#28956 docs: Remove deprecated `schema()` usage in examples
  docs/docs/how_to/custom_tools.ipynb
Labels: lgtm, 🤖:docs, size:XS

#28961 (Community): `DuckDuckGoSearchAPIWrapper` backend changed from `api` to `auto`
  libs/community/langchain_community/utilities/duckduckgo_search.py
Labels: lgtm, size:XS, community

#28951 docs: fix typo in how-to guides
  docs/docs/how_to/installation.mdx
Labels: lgtm, 🤖:docs, size:XS

#28992 core[patch]: fix deprecation admonition in API ref
  libs/core/langchain_core/_api/deprecation.py
Labels: lgtm, 🤖:nit, size:XS

#28953 community: Update azureml endpoint
  libs/community/langchain_community/llms/azureml_endpoint.py
Labels: lgtm, size:S, community

#28122 docs: add stripe toolkit
  docs/docs/integrations/tools/stripe.ipynb
Labels: 🤖:docs, size:L

#28902 Docs: Add 'Optional' to installation section to fix an issue
  docs/docs/how_to/structured_output.ipynb
Labels: 🤖:docs, size:S

#29000 docs: CrateDB: Educate readers about full and semantic cache components
  docs/docs/integrations/providers/cratedb.mdx
Labels: lgtm, 🤖:docs, size:M

#29005 docs: fix typo in `callbacks_custom_events`
  docs/docs/how_to/callbacks_custom_events.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29008 community[patch]: additional check for prompt caching support
  libs/community/langchain_community/callbacks/openai_info.py
Labels: size:XS, community

#28931 docs: add langchain dappier retriever integration notebooks
  docs/docs/integrations/providers/dappier.mdx
  docs/docs/integrations/providers/dappierai.mdx
  docs/docs/integrations/retrievers/dappier.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L, Ɑ: retriever

#29013 packages: update box location
  libs/packages.yml
Labels: 🤖:nit, size:XS

#29014 box: remove box readme for api docs build
  libs/partners/box/README.md
Labels: size:XS

#29012 docs: fix typo
  libs/packages.yml
Labels: lgtm, 🤖:nit, size:XS

#29015 core[patch]: remove deprecated functions from tool binding hotpath
  libs/core/langchain_core/utils/function_calling.py
Labels: lgtm, size:M, Ɑ: core

#29016 core[patch]: substantially speed up @deprecated
  libs/core/langchain_core/_api/internal.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: core

#29017 core[patch]: release 0.3.29
  libs/core/pyproject.toml
Labels: size:XS, 🤖:release

#29018 langchain[patch]: release 0.3.14
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release, langchain

#29019 community[patch]: release 0.3.14
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#28903 core: allow artifact in create_retriever_tool
  libs/core/langchain_core/tools/retriever.py
  libs/core/tests/unit_tests/test_tools.py
Labels: lgtm, size:M, Ɑ: retriever, Ɑ: core

#29029 Update index.mdx
  docs/docs/integrations/document_loaders/index.mdx
Labels: lgtm, 🤖:docs, size:XS

#29022 community: Fix redundancy in code.
  libs/community/langchain_community/llms/azureml_endpoint.py
Labels: lgtm, 🤖:bug, size:XS, community

#29024 docs: add langchain-pull-md Markdown loader
  docs/docs/integrations/document_loaders/pull_md.ipynb
  docs/docs/integrations/providers/pull-md.mdx
  libs/packages.yml
Labels: lgtm, Ɑ: doc loader, size:L, langchain

#29046 voyageai[patch]: release 0.1.4
  libs/partners/voyageai/poetry.lock
  libs/partners/voyageai/pyproject.toml
Labels: size:XS, 🤖:release

#29023 DOC: Improve human input prompt in FewShotChatMessagePromptTemplate example
  libs/core/langchain_core/prompts/few_shot.py
Labels: lgtm, 🤖:docs, size:XS, Ɑ: core

#26730 integrations[patch]: remove non-required chat param defaults
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/xai/Makefile
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/unit_tests/__snapshots__/test_chat_models_standard.ambr
Labels: lgtm, 🤖:nit, size:M, partner, langchain

#29048 Revert "integrations[patch]: remove non-required chat param defaults"
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/fireworks/langchain_fireworks/chat_models.py
  libs/partners/fireworks/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/mistralai/langchain_mistralai/chat_models.py
  libs/partners/mistralai/tests/unit_tests/__snapshots__/test_standard.ambr
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/xai/Makefile
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/unit_tests/__snapshots__/test_chat_models_standard.ambr
Labels: size:M

#29062 Refactoring PDF loaders: 01 prepare
  libs/community/langchain_community/document_loaders/__init__.py
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/tests/integration_tests/document_loaders/parsers/test_pdf_parsers.py
  libs/community/tests/integration_tests/document_loaders/test_pdf.py
  libs/community/tests/unit_tests/document_loaders/test_imports.py
Labels: lgtm, Ɑ: doc loader, size:L, community

#29068 infra[patch]: drop prompty from core dependents
  .github/scripts/check_diff.py
Labels: 🤖:nit, size:XS

#29073 Review pinecone tests
  libs/partners/pinecone/langchain_pinecone/embeddings.py
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
  libs/partners/pinecone/tests/integration_tests/test_embeddings.py
  libs/partners/pinecone/tests/integration_tests/test_vectorstores.py
  libs/partners/pinecone/tests/unit_tests/test_embeddings.py
  libs/partners/pinecone/tests/unit_tests/test_vectorstores.py
Labels: Ɑ: embeddings, Ɑ: vector store, size:L

#29077 pinecone: bump core version
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
Labels: 🤖:nit, size:XS

#29079 groq: user agent
  libs/partners/groq/Makefile
  libs/partners/groq/langchain_groq/__init__.py
  libs/partners/groq/langchain_groq/chat_models.py
  libs/partners/groq/langchain_groq/version.py
  libs/partners/groq/tests/unit_tests/test_imports.py
Labels: 🤖:nit, size:S

#29081 partners/groq: release 0.2.3
  libs/partners/groq/poetry.lock
  libs/partners/groq/pyproject.toml
Labels: size:XS, 🤖:release

#29076 Kùzu package integration docs
  docs/docs/integrations/graphs/kuzu_db.ipynb
  docs/docs/integrations/providers/kuzu.mdx
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29096 docs: Remove additional ` in heading
  docs/docs/concepts/lcel.mdx
Labels: lgtm, 🤖:docs, size:XS

#29093 partner: Update Upstage Model Names and Remove Deprecated Model
  cookbook/README.md
  cookbook/rag_upstage_document_parse_groundedness_check.ipynb
  libs/community/langchain_community/chat_models/solar.py
  libs/community/langchain_community/embeddings/solar.py
  libs/community/langchain_community/llms/solar.py
Labels: lgtm, size:S, community

#29089 community: fix "confluence-loader" enable include_labels for documents loaded via CQL
  libs/community/langchain_community/document_loaders/confluence.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS, community

#29091 community: add init for `UnstructuredHTMLLoader` to solve pathlib paths
  libs/community/langchain_community/document_loaders/html.py
Labels: lgtm, Ɑ: doc loader, size:S, community

#29097 openai[patch]: remove optional defaults
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/xai/Makefile
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/unit_tests/__snapshots__/test_chat_models_standard.ambr
Labels: size:M

#29099 docs: Add upstage document parse loader to pdf loaders
  docs/src/theme/FeatureTables.js
Labels: lgtm, 🤖:docs, size:XS

#29107 [Community]: Small Fix in google_firestore memory notebook
  docs/docs/integrations/memory/google_firestore.ipynb
Labels: lgtm, 🤖:docs, size:XS, community

#29109 Update word in databricks_vector_search.ipynb from "cna" to "can"
  docs/docs/integrations/vectorstores/databricks_vector_search.ipynb
Labels: lgtm, 🤖:nit, size:XS

#29098 docs: Adding voyage-3-large to the .ipynb file
  docs/docs/integrations/text_embedding/voyageai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29104 docs: add Docling loader docs
  docs/docs/integrations/document_loaders/docling.ipynb
  docs/docs/integrations/providers/docling.mdx
  docs/src/theme/FeatureTables.js
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL

#29044 openai[patch]: support streaming with json_schema response format
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: size:L, 🔌: openai

#29112 docs[patch]: fix links in partner package table
  docs/scripts/partner_pkg_table.py
Labels: 🤖:docs, size:XS

#28947 feat(openai): Update with_structured_output default for OpenAI
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: size:XL

#29100 openai[minor]: release 0.3
  libs/partners/openai/langchain_openai/chat_models/azure.py
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
  libs/partners/openai/tests/integration_tests/chat_models/test_azure_standard.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_azure_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/__snapshots__/test_base_standard.ambr
  libs/partners/openai/tests/unit_tests/chat_models/test_base.py
  libs/partners/xai/Makefile
  libs/partners/xai/langchain_xai/chat_models.py
  libs/partners/xai/tests/unit_tests/__snapshots__/test_chat_models_standard.ambr
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
Labels: size:XXL, 🤖:release

#29132 xai[minor]: release 0.2
  libs/partners/xai/poetry.lock
  libs/partners/xai/pyproject.toml
Labels: size:XS, 🤖:release

#28863 partner: Update aiohttp in langchain pinecone.
  libs/partners/pinecone/poetry.lock
  libs/partners/pinecone/pyproject.toml
Labels: lgtm, 🤖:bug, size:XS, 🤖:security

#29139 pinecone[patch]: release 0.2.2
  libs/partners/pinecone/pyproject.toml
Labels: size:XS, 🤖:release

#29138 docs: Update IBM WatsonxRerank documentation
  docs/docs/integrations/retrievers/ibm_watsonx_ranker.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29131 docs: update the correct learning objective YAML instead of XML
  docs/docs/how_to/output_parser_yaml.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29123 Add lindorm as new integration
  docs/docs/integrations/providers/lindorm.ipynb
  docs/docs/integrations/text_embedding/lindorm.ipynb
  docs/docs/integrations/vectorstores/lindorm.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:XL

#29141 tests[patch]: release 0.3.8
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: size:XS, 🤖:release

#29142 anthropic: pdf integration test
  libs/partners/anthropic/poetry.lock
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: size:M

#29146 Update openai README.md
  libs/partners/openai/README.md
Labels: 🤖:docs, size:M

#29147 openai: disable streaming for o1 by default
  libs/partners/openai/langchain_openai/chat_models/base.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: lgtm, size:S

#29101 community: add init for unstructured file loader
  libs/community/langchain_community/document_loaders/chm.py
  libs/community/langchain_community/document_loaders/epub.py
  libs/community/langchain_community/document_loaders/excel.py
  libs/community/langchain_community/document_loaders/image.py
  libs/community/langchain_community/document_loaders/markdown.py
  libs/community/langchain_community/document_loaders/odt.py
  libs/community/langchain_community/document_loaders/org_mode.py
  libs/community/langchain_community/document_loaders/pdf.py
  libs/community/langchain_community/document_loaders/powerpoint.py
  libs/community/langchain_community/document_loaders/rst.py
  libs/community/langchain_community/document_loaders/rtf.py
  libs/community/langchain_community/document_loaders/tsv.py
  libs/community/langchain_community/document_loaders/word_document.py
Labels: lgtm, Ɑ: doc loader, size:L, community

#29172 community: add missing format specifier in error log in CubeSemanticLoader
  libs/community/langchain_community/document_loaders/cube_semantic.py
Labels: lgtm, Ɑ: doc loader, 🤖:bug, size:XS, community

#29168 Fixed the import error in OpenAIWhisperParserLocal and resolved the L…
  docs/docs/integrations/document_loaders/youtube_audio.ipynb
Labels: lgtm, 🤖:bug, size:XL, langchain

#29174 langchain[patch]: update extended tests for compatibility with langchain-openai==0.3
  libs/langchain/tests/unit_tests/chat_models/test_base.py
Labels: 🤖:nit, size:XS, langchain

#29164 Add additional_instructions on openai assistan runs create.
  libs/langchain/langchain/agents/openai_assistant/base.py
Labels: Ɑ: agent, lgtm, size:S, langchain

#29154 community: Fix rank-llm import paths for new 0.20.3 version
  libs/community/langchain_community/document_compressors/rankllm_rerank.py
Labels: lgtm, size:S, community

#29175 docs: Fix old link to Unstructured package in document_loader_markdown.ipynb
  docs/docs/how_to/document_loader_markdown.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29149 cookbook: fix typo in cookbook/mongodb-langchain-cache-memory.ipynb
  cookbook/mongodb-langchain-cache-memory.ipynb
Labels: lgtm, 🤖:nit, size:XS

#29143 docs: add HyperbrowserLoader docs
  docs/docs/integrations/document_loaders/hyperbrowser.ipynb
  docs/docs/integrations/providers/hyperbrowser.mdx
  docs/src/theme/FeatureTables.js
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29140 langchain: support api key argument with OpenAI moderation chain
  libs/langchain/langchain/chains/moderation.py
  libs/langchain/tests/integration_tests/chains/openai_functions/test_openapi.py
Labels: lgtm, size:S, langchain

#29178 cli[patch]: fix anchor links in templates
  libs/cli/langchain_cli/integration_template/docs/chat.ipynb
  libs/cli/langchain_cli/integration_template/docs/document_loaders.ipynb
  libs/cli/langchain_cli/integration_template/docs/retrievers.ipynb
  libs/cli/langchain_cli/integration_template/docs/toolkits.ipynb
  libs/cli/langchain_cli/integration_template/docs/tools.ipynb
  libs/cli/langchain_cli/integration_template/docs/vectorstores.ipynb
Labels: 🤖:docs, size:S

#29180 docs: fix httpx conflicts with overrides in docs build
  .github/workflows/api_doc_build.yml
  docs/Makefile
  docs/vercel_overrides.txt
Labels: 🤖:docs, size:XS

#29144 anthropic: pydantic mypy plugin
  libs/partners/anthropic/pyproject.toml
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
Labels: size:S

#29191 community: Deprecate Amazon Neptune resources in langchain-community
  docs/docs/integrations/graphs/amazon_neptune_open_cypher.ipynb
  docs/docs/integrations/graphs/amazon_neptune_sparql.ipynb
  docs/docs/integrations/providers/aws.mdx
  libs/community/langchain_community/chains/graph_qa/neptune_cypher.py
  libs/community/langchain_community/chains/graph_qa/neptune_sparql.py
  libs/community/langchain_community/graphs/neptune_graph.py
  libs/community/langchain_community/graphs/neptune_rdf_graph.py
Labels: size:L, community

#29210 docs: oai api ref nit
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: 🤖:nit, size:XS

#29204 Add Link to FalkorDB Memory example
  docs/docs/integrations/providers/falkordb.mdx
Labels: 🤖:docs, size:XS

#29207 community: Additional parameters for OpenAIAssistantV2Runnable
  libs/langchain/langchain/agents/openai_assistant/base.py
Labels: lgtm, size:M, community

#29220 docs: api docs build folder prep update
  .github/scripts/prep_api_docs_build.py
Labels: size:S

#29135 [Community]: AzureOpenAIWhisperParser Authenication Fix
  libs/community/langchain_community/document_loaders/parsers/audio.py
  libs/community/tests/unit_tests/document_loaders/parsers/test_azure_whisper_parser.py
Labels: Ɑ: doc loader, 🤖:bug, size:XS, community

#29232 community: Fix ConfluenceLoader load() failure caused by deleted pages
  libs/community/langchain_community/document_loaders/confluence.py
Labels: Ɑ: doc loader, 🤖:bug, size:XS, community

#29229 [fix] Convert table names to list for compatibility in SQLDatabase
  libs/community/langchain_community/utilities/sql_database.py
Labels: 🤖:bug, size:XS, community

#29223 Update elasticsearch_retriever.ipynb
  docs/docs/integrations/retrievers/elasticsearch_retriever.ipynb
Labels: 🤖:nit, size:XS

#29215 (text-splitters): Small Fix in `_process_html` for HTMLSemanticPreservingSplitter to properly extract the metadata.
  libs/text-splitters/langchain_text_splitters/html.py
Labels: lgtm, 🤖:nit, size:XS, Ɑ: text splitters

#29219 Mehdi zare/fmp data doc
  docs/docs/integrations/providers/fmp-data.mdx
  docs/docs/integrations/tools/fmp-data.ipynb
  libs/packages.yml
Labels: lgtm, size:L, community

#29225 community(pypdfloader): added page_label in metadata for pypdf loader
  libs/community/langchain_community/document_loaders/parsers/pdf.py
  libs/community/tests/unit_tests/document_loaders/sample_documents/geotopo-komprimiert.pdf
  libs/community/tests/unit_tests/document_loaders/test_pdf.py
Labels: Ɑ: doc loader, size:S, community

#29239 couchbase: Migrate couchbase partner package to different repo
  libs/packages.yml
  libs/partners/couchbase/.gitignore
  libs/partners/couchbase/LICENSE
  libs/partners/couchbase/Makefile
  libs/partners/couchbase/README.md
  libs/partners/couchbase/langchain_couchbase/__init__.py
  libs/partners/couchbase/langchain_couchbase/cache.py
  libs/partners/couchbase/langchain_couchbase/chat_message_histories.py
  libs/partners/couchbase/langchain_couchbase/py.typed
  libs/partners/couchbase/langchain_couchbase/vectorstores.py
  libs/partners/couchbase/poetry.lock
  libs/partners/couchbase/pyproject.toml
  libs/partners/couchbase/scripts/check_imports.py
  libs/partners/couchbase/scripts/lint_imports.sh
  libs/partners/couchbase/tests/__init__.py
  libs/partners/couchbase/tests/integration_tests/__init__.py
  libs/partners/couchbase/tests/integration_tests/test_cache.py
  libs/partners/couchbase/tests/integration_tests/test_chat_message_history.py
  libs/partners/couchbase/tests/integration_tests/test_compile.py
  libs/partners/couchbase/tests/integration_tests/test_vector_store.py
  libs/partners/couchbase/tests/unit_tests/__init__.py
  libs/partners/couchbase/tests/unit_tests/test_imports.py
  libs/partners/couchbase/tests/unit_tests/test_vectorstore.py
  libs/partners/couchbase/tests/utils.py
Labels: Ɑ: vector store, size:XXL

#29237 standard-tests: double messages test
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
Labels: lgtm, size:M

#29236 docs: update recommended code interpreters
  docs/scripts/tool_feat_table.py
Labels: 🤖:docs, size:XS

#29252 docs: fix typo in tool_results_pass_to_model.ipynb (how-to)
  docs/docs/how_to/tool_results_pass_to_model.ipynb
Labels: 🤖:docs, size:XS

#29246 add mode arg to OBSFileLoader.load() method
  libs/community/langchain_community/document_loaders/obs_file.py
Labels: lgtm, Ɑ: doc loader, size:XS, community

#29248 community: Add cost per 1K tokens for fine-tuned model cached input
  libs/community/langchain_community/callbacks/openai_info.py
Labels: 🤖:bug, size:XS, community

#29260 docs: Message history for Neptune chains
  docs/docs/integrations/graphs/amazon_neptune_open_cypher.ipynb
  docs/docs/integrations/graphs/amazon_neptune_sparql.ipynb
Labels: 🤖:docs, size:L

#29266 docs: Fixed typos and improve metadata explanation
  docs/docs/concepts/vectorstores.mdx
Labels: Ɑ: vector store, 🤖:docs, size:XS

#29274 infra: fix api build
  .github/scripts/prep_api_docs_build.py
Labels: 🤖:nit, size:XS

#29257 anthropic[patch]: support `parallel_tool_calls`
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/anthropic/tests/integration_tests/test_chat_models.py
  libs/partners/openai/tests/integration_tests/chat_models/test_base.py
Labels: lgtm, size:M

#29265 docs: add langchain dappier tool integration notebook
  docs/docs/integrations/providers/dappier.mdx
  docs/docs/integrations/retrievers/dappier.ipynb
  docs/docs/integrations/tools/dappier.ipynb
Labels: 🤖:docs, size:XL

#29259 [langchain_community.llms.xinference]: Rewrite _stream() method and support stream() method in xinference.py
  libs/community/langchain_community/llms/xinference.py
Labels: lgtm, size:M, community

#29292 docs: fix broken link in JSONOutputParser reference
  docs/docs/concepts/output_parsers.mdx
Labels: lgtm, 🤖:docs, size:XS

#29290 docs: fix qa_per_user.ipynb
  docs/docs/how_to/qa_per_user.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29273 chatperplexity stream-citations in additional kwargs
  libs/community/langchain_community/chat_models/perplexity.py
  libs/community/tests/unit_tests/chat_models/test_perplexity.py
Labels: lgtm, size:M, community

#29301 openai[patch]: release 0.3.1
  libs/partners/openai/poetry.lock
  libs/partners/openai/pyproject.toml
Labels: size:XS, 🤖:release

#29302 openai[patch]: fix Azure LLM test
  libs/partners/openai/tests/integration_tests/llms/test_azure.py
Labels: 🤖:bug, size:XS

#29299 (Community): Changing the BaseURL and Model for MiniMax
  libs/community/langchain_community/chat_models/minimax.py
Labels: lgtm, size:S, community

#29303 Add Google-style docstring linting and update pyproject.toml
  libs/langchain/langchain/model_laboratory.py
  pyproject.toml
Labels: lgtm, 🤖:docs, size:M, langchain

#29305 docs: fix broken Appearance of langchain_community/document_loaders/recursive_url_loader API Reference
  libs/community/langchain_community/document_loaders/recursive_url_loader.py
Labels: 🤖:docs, size:M, community

#29243 community: fix some features on Naver ChatModel & embedding model 2
  docs/docs/integrations/chat/naver.ipynb
  docs/docs/integrations/providers/naver.mdx
  docs/docs/integrations/text_embedding/naver.ipynb
  libs/community/langchain_community/chat_models/naver.py
  libs/community/langchain_community/embeddings/naver.py
  libs/community/tests/integration_tests/chat_models/test_naver.py
  libs/community/tests/integration_tests/embeddings/test_naver.py
Labels: Ɑ: embeddings, 🤖:bug, 🤖:docs, size:L, community

#29296 [feat] Added backwards compatibility for OllamaEmbeddings initialization (migration from `langchain_community.embeddings` to `langchain_ollama.embeddings`
  libs/partners/ollama/langchain_ollama/embeddings.py
Labels: lgtm, Ɑ: embeddings, size:M

#29272 core: Add ruff rule W293 (whitespaces)
  libs/core/langchain_core/messages/ai.py
  libs/core/pyproject.toml
Labels: lgtm, 🤖:nit, size:XS

#29267 core: Add ruff rule S101 (no assert)
  libs/core/langchain_core/language_models/chat_models.py
  libs/core/langchain_core/language_models/fake_chat_models.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/runnables/graph_ascii.py
  libs/core/langchain_core/runnables/passthrough.py
  libs/core/pyproject.toml
Labels: lgtm, 🤖:nit, size:L, langchain

#27678 langchain: Replace lxml and XSLT with BeautifulSoup in HTMLHeaderTextSplitter for Improved Large HTML File Processing
  libs/text-splitters/langchain_text_splitters/html.py
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, 🤖:bug, size:XL, Ɑ: text splitters, langchain

#29315 docs: update google_cloud_sql_mssql.ipynb
  docs/docs/integrations/document_loaders/google_cloud_sql_mssql.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29320 core[patch]: 0.3.31
  libs/community/poetry.lock
  libs/community/pyproject.toml
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release

#29322 langchain[patch]: Release 0.3.15
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
Labels: size:XS, 🤖:release, langchain

#29325 community[patch]: Release 0.3.15
  libs/community/poetry.lock
  libs/community/pyproject.toml
Labels: size:XS, 🤖:release, community

#29329 Docs: update huggingfacehub.ipynb
  docs/docs/integrations/text_embedding/huggingfacehub.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29324 [Doc] Improve api doc
  libs/partners/anthropic/langchain_anthropic/chat_models.py
  libs/partners/mistralai/langchain_mistralai/embeddings.py
Labels: lgtm, 🤖:docs, size:XS

#29316 core: fix call to get closure vars for partial-wrapped funcs
  libs/core/langchain_core/runnables/utils.py
Labels: lgtm, 🤖:bug, size:XS

#29326 openai[patch]: fix missing f-string modifier in oai structured output parsing error
  libs/partners/openai/langchain_openai/chat_models/base.py
Labels: lgtm, 🤖:nit, size:XS, langchain

#29342 fireworks[patch]: update model used in integration tests
  libs/partners/fireworks/tests/integration_tests/test_chat_models.py
  libs/partners/fireworks/tests/integration_tests/test_standard.py
Labels: size:XS

#29346 community: Fix for Pydantic model validator of GoogleApiClient
  libs/community/langchain_community/document_loaders/youtube.py
Labels: lgtm, 🤖:bug, size:XS, community

#29179 Add IPEX models support
  libs/partners/huggingface/langchain_huggingface/llms/huggingface_pipeline.py
  libs/partners/huggingface/langchain_huggingface/utils/import_utils.py
Labels: size:L

#29201 core: Bump ruff version to 0.9
  libs/core/langchain_core/_api/beta_decorator.py
  libs/core/langchain_core/_api/deprecation.py
  libs/core/langchain_core/callbacks/manager.py
  libs/core/langchain_core/indexing/in_memory.py
  libs/core/langchain_core/language_models/base.py
  libs/core/langchain_core/language_models/llms.py
  libs/core/langchain_core/messages/utils.py
  libs/core/langchain_core/output_parsers/list.py
  libs/core/langchain_core/prompts/chat.py
  libs/core/langchain_core/pydantic_v1/__init__.py
  libs/core/langchain_core/rate_limiters.py
  libs/core/langchain_core/runnables/base.py
  libs/core/langchain_core/runnables/config.py
  libs/core/langchain_core/runnables/graph_ascii.py
  libs/core/langchain_core/runnables/history.py
  libs/core/langchain_core/runnables/retry.py
  libs/core/langchain_core/runnables/router.py
  libs/core/langchain_core/tracers/event_stream.py
  libs/core/langchain_core/tracers/stdout.py
  libs/core/langchain_core/utils/formatting.py
  libs/core/langchain_core/utils/mustache.py
  libs/core/langchain_core/utils/pydantic.py
  libs/core/langchain_core/vectorstores/in_memory.py
  libs/core/poetry.lock
  libs/core/pyproject.toml
  libs/core/tests/unit_tests/chat_history/test_chat_history.py
  libs/core/tests/unit_tests/embeddings/test_deterministic_embedding.py
  libs/core/tests/unit_tests/language_models/chat_models/test_cache.py
  libs/core/tests/unit_tests/messages/test_utils.py
  libs/core/tests/unit_tests/output_parsers/test_json.py
  libs/core/tests/unit_tests/output_parsers/test_list_parser.py
  libs/core/tests/unit_tests/prompts/test_chat.py
  libs/core/tests/unit_tests/prompts/test_few_shot.py
  libs/core/tests/unit_tests/runnables/test_config.py
  libs/core/tests/unit_tests/runnables/test_fallbacks.py
  libs/core/tests/unit_tests/runnables/test_runnable.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v1.py
  libs/core/tests/unit_tests/runnables/test_runnable_events_v2.py
  libs/core/tests/unit_tests/runnables/test_tracing_interops.py
  libs/core/tests/unit_tests/test_messages.py
  libs/core/tests/unit_tests/test_outputs.py
  libs/core/tests/unit_tests/test_tools.py
  libs/core/tests/unit_tests/tracers/test_memory_stream.py
  libs/core/tests/unit_tests/utils/test_function_calling.py
  libs/core/tests/unit_tests/utils/test_usage.py
Labels: lgtm, 🤖:nit, size:L

#29230 standard-tests: Bump ruff version to 0.9
  libs/standard-tests/langchain_tests/integration_tests/base_store.py
  libs/standard-tests/langchain_tests/integration_tests/chat_models.py
  libs/standard-tests/langchain_tests/unit_tests/chat_models.py
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
  libs/standard-tests/tests/unit_tests/test_basic_tool.py
Labels: lgtm, 🤖:nit, size:S

#29211 langchain: Bump ruff version to 0.9
  libs/langchain/langchain/agents/initialize.py
  libs/langchain/langchain/agents/loading.py
  libs/langchain/langchain/callbacks/tracers/logging.py
  libs/langchain/langchain/chains/api/base.py
  libs/langchain/langchain/chains/openai_functions/openapi.py
  libs/langchain/langchain/chains/openai_tools/extraction.py
  libs/langchain/langchain/chains/question_answering/refine_prompts.py
  libs/langchain/langchain/chains/sequential.py
  libs/langchain/langchain/chat_models/base.py
  libs/langchain/langchain/embeddings/base.py
  libs/langchain/langchain/evaluation/embedding_distance/base.py
  libs/langchain/langchain/memory/chat_memory.py
  libs/langchain/langchain/retrievers/document_compressors/cohere_rerank.py
  libs/langchain/langchain/retrievers/ensemble.py
  libs/langchain/langchain/smith/evaluation/runner_utils.py
  libs/langchain/poetry.lock
  libs/langchain/pyproject.toml
  libs/langchain/tests/unit_tests/agents/test_agent.py
  libs/langchain/tests/unit_tests/agents/test_mrkl.py
  libs/langchain/tests/unit_tests/chains/test_constitutional_ai.py
  libs/langchain/tests/unit_tests/chains/test_history_aware_retriever.py
  libs/langchain/tests/unit_tests/chains/test_llm_math.py
  libs/langchain/tests/unit_tests/evaluation/parsing/test_base.py
  libs/langchain/tests/unit_tests/output_parsers/test_pandas_dataframe_parser.py
  libs/langchain/tests/unit_tests/runnables/test_hub.py
  libs/langchain/tests/unit_tests/runnables/test_openai_functions.py
  libs/langchain/tests/unit_tests/smith/evaluation/test_runner_utils.py
Labels: lgtm, 🤖:nit, size:XL, langchain

#29231 text-splitters: Bump ruff version to 0.9
  libs/text-splitters/langchain_text_splitters/markdown.py
  libs/text-splitters/poetry.lock
  libs/text-splitters/pyproject.toml
  libs/text-splitters/tests/unit_tests/test_text_splitters.py
Labels: lgtm, size:M, Ɑ: text splitters

#29348 docs: mongodb api ref redirect
  docs/vercel.json
Labels: 🤖:docs, size:XS

#29114 Pipeshift - Langchain integration of pipeshift
  docs/docs/integrations/chat/pipeshift.ipynb
  docs/docs/integrations/llms/pipeshift.ipynb
  docs/docs/integrations/providers/pipeshift.md
  libs/packages.yml
Labels: 🤖:docs, size:XL, community

#29350 infra: run doc lint on root pyproject change
  .github/scripts/check_diff.py
Labels: size:XS

#29241 langchain: added vectorstore docstring linting
  libs/langchain/langchain/indexes/vectorstore.py
  libs/langchain/pyproject.toml
Labels: lgtm, Ɑ: vector store, 🤖:nit, size:M, langchain

#29349 langchain[patch]: support ollama in init_embeddings
  libs/langchain/langchain/embeddings/base.py
Labels: lgtm, Ɑ: embeddings, size:XS

#29318 community: adds support for getting github releases for the configured repository
  docs/docs/integrations/tools/github.ipynb
  libs/community/langchain_community/agent_toolkits/github/toolkit.py
  libs/community/langchain_community/tools/github/prompt.py
  libs/community/langchain_community/utilities/github.py
  libs/community/tests/integration_tests/utilities/test_github.py
  libs/community/tests/unit_tests/agent_toolkits/test_github_toolkit.py
Labels: lgtm, size:L, community

#29356 standard-tests: release 0.3.9
  libs/standard-tests/poetry.lock
  libs/standard-tests/pyproject.toml
Labels: size:XS, 🤖:release

#29360 docs: openai audio input
  docs/docs/integrations/chat/openai.ipynb
Labels: lgtm, 🤖:docs, size:XS

#29362 docs: add payman docs
  docs/docs/integrations/providers/payman-tool.mdx
  docs/docs/integrations/tools/payman-tool.ipynb
  libs/packages.yml
Labels: lgtm, 🤖:docs, size:L

#29380 community; allow to set gitlab url in gitlab tool in constrictor
  libs/community/langchain_community/utilities/gitlab.py
Labels: lgtm, size:XS, community

#29371 community: fix Google Scholar tool errors
  libs/community/langchain_community/utilities/google_scholar.py
Labels: lgtm, 🤖:bug, size:XS, community

#29364 docs: Update BedrockEmbeddings import example in aws.mdx
  docs/docs/integrations/providers/aws.mdx
Labels: 🤖:docs, size:XS

#29370 core[patch]: fix API reference for draw_ascii
  libs/core/langchain_core/runnables/graph_ascii.py
Labels: lgtm, 🤖:nit, size:M

#29340 text-splitters[patch]: delete unused html_chunks_with_headers.xslt
  libs/text-splitters/langchain_text_splitters/xsl/html_chunks_with_headers.xslt
Labels: lgtm, 🤖:nit, size:L, Ɑ: text splitters

#29387 docs: fix title rendered for integration package
  libs/packages.yml
Labels: 🤖:nit, size:XS

#29200 core: Cache RunnableLambda deps
  libs/core/langchain_core/runnables/base.py
Labels: lgtm, 🤖:nit, size:XS
